﻿<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="apple-touch-icon" href="#" />
        <link rel="shortcut icon" href="#" />
        <!-- Place favicon.ico in the root directory -->
        <meta name="theme-color" content="#fafafa" />
        <link rel="stylesheet" type="text/css" href="/assets/plugins/bootstrap/bootstrap.min.css?v=201905200000" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="/assets/plugins/NouiSlider/nouislider.css?v=201905250000" />
        <link rel="stylesheet" type="text/css" href="/assets/css/tabs.css?v=201911080000" />
        <link rel="stylesheet" type="text/css" href="/assets/plugins/alertifyJs/alertify.min.css?v=201909230000" />
        <link rel="stylesheet" type="text/css" href="/assets/plugins/alertifyJs/default.min.css?v=201905200000" />
        <link rel="stylesheet" type="text/css" href="/assets/plugins/calendar/jquery-ui.css?v=201905260000" />
        <link rel="stylesheet" type="text/css" href="/assets/css/flight.css?v=202004280000" />
        <link rel="stylesheet" type="text/css" href="/assets/css/insurance.css?v=202008060000" />
        <link href="/assets/css/breaking-news-ticker.min.css?v=201910040000" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="/assets/plugins/primevue/css/theme.css?v=202005050000" />
        <link rel="stylesheet" type="text/css" href="/assets/plugins/primevue/css/primevue.min.css?v=202005050000" />
        <link rel="stylesheet" type="text/css" href="/assets/plugins/primevue/css/primeicons.css?v=202005050000" />
        <link rel="stylesheet" type="text/css" href="/assets/css/summernote.css?v=202005050000" />
        <style>
            select:focus, textarea:focus, input:focus{
                outline: none; 
                border: 1px solid #a6bfd8;
            }
            [v-cloak] {
                display: none;
            }

        </style>
    </head>
    <body>
        <section v-cloak id="master_vue_element" class="wrapper">
            <!---------Main Header area------------> 
            <header><master-header></master-header></header>
            <master-sidebar></master-sidebar>
            <unitrust-insurance inline-template>
                <!---------Main Header area Close------------>
                <div>
                    <div class="insurancebanner-booking">
                        <div class="container">
                            <h3>Unitrust</h3>
                        </div>
                    </div>
                    <div class="maininsurance">
                        <div class="container">
                            <div class="insurance_card">
                                <div class="coverage_head">
                                    <div class="col-lg-12 col-md-12 col-xs-12">
                                        <h4>Pax Information</h4>
                                    </div>
                                </div>
                                <div class="insuranceSecArea">
                                    <div class="sectravellers" :id="'div'+travelIndex"  v-for="(traveller,travelIndex) in traveller_Details">
                                        <div class="agetraveller">
                                            <label>{{traveller.Object_Label}}</label>
                                        </div>
                                        <div class="rowsec">
                                            <div class="row">
                                                <div class="col-lg-1 col-md-1 col-sm-12 padding_8">
                                                    <div class="form_sec">
                                                        <select :id="'title'+travelIndex" v-model="traveller.title" class="txt_st01">
                                                            <option value=""  disabled >{{pageObject.Title_Place_Holder}}</option>
                                                            <option v-for="(title, index) in titleList" :value="title.value">{{title.Name}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-12 padding_8">
                                                    <div class="form_sec">
                                                        <input :id="'fname'+travelIndex" v-model="traveller.firstName" :placeholder="pageObject.First_Name_Place_Holder" class="txt_st" type="text">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-12 padding_8">
                                                    <div class="form_sec">
                                                        <input :id="'lname'+travelIndex" v-model="traveller.lastName"  :placeholder="pageObject.Last_Name_Place_Holder" class="txt_st" type="text">
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-12 padding_8">
                                                    <div class="form_sec">
                                                        <input class="txt_st_cldr" :id="'date'+travelIndex" v-model="traveller.dateOfBirth" readonly="" :placeholder="pageObject.Date_Of_Birth_Place_Holder">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="rowsec">
                                            <div class="row">
                                                <div class="col-lg-4 col-md-4 col-sm-4 padding_8">
                                                    <div class="form_sec">
                                                        <select :id="'nationality'+travelIndex" class="txt_st01 paddingright-31" v-model="traveller.nationality" >
                                                            <option value=""  disabled >{{pageObject.Nationality_Place_Holder}}</option>
                                                            <option v-for="(country, index) in countryList" :value="country">{{country.name}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 padding_8">
                                                    <input :id="'passport'+travelIndex" v-model="traveller.passportNo"  :placeholder="pageObject.Passport_Place_Holder" class="txt_st" type="text">
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 padding_8">
                                                    <input :id="'address'+travelIndex" v-model="traveller.address"  :placeholder="pageObject.Address_Place_Holder" class="txt_st" type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="rowsec">
                                            <div class="row">
                                                <div class="col-lg-4 col-md-4 col-sm-4 padding_8">
                                                    <div class="form_sec">
                                                        <input :id="'occupation'+travelIndex" v-model="traveller.occupation"  :placeholder="pageObject.Occupation_Place_Holder" class="txt_st" type="text">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 padding_8">
                                                    <div class="form_sec">
                                                        <input :id="'purpose'+travelIndex" v-model="traveller.purposeOfTravel"  :placeholder="pageObject.Purpose_Place_Holder" class="txt_st" type="text">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 padding_8">
                                                    <div class="form_sec">
                                                        <input :id="'condition'+travelIndex" v-model="traveller.medicalCondition"  :placeholder="pageObject.MedicalCondition_Place_Holder" class="txt_st" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Beneficiary Details-->
                            <div class="insurance_card">
                                <div class="coverage_head">
                                    <div class="col-lg-12 col-md-12 col-xs-12">
                                        <h4>Beneficiary</h4>
                                    </div>
                                </div>
                                <div class="insuranceSecArea">
                                    <div class="rowsec">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-4 col-sm-4 padding_8">
                                                <div class="form_sec">
                                                    <input id="beneficiaryDetailsName" v-model="beneficiaryDetails.name" :placeholder="pageObject.KinName_Place_Holder" class="txt_st" type="text">
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4 padding_8">
                                                <div class="form_sec">
                                                    <input id="beneficiaryDetailsAddress" v-model="beneficiaryDetails.address" :placeholder="pageObject.KinAddress_Place_Holder" class="txt_st" type="text">
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4 padding_8">
                                                <div class="form_sec">
                                                    <input id="beneficiaryDetailsPhone" v-model="beneficiaryDetails.phone" :placeholder="pageObject.KinPhone_Place_Holder" class="txt_st" type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Agent Details-->
                            <div class="insurance_card">
                                <div class="coverage_head">
                                    <div class="col-lg-12 col-md-12 col-xs-12">
                                        <h4>Agent Details</h4>
                                    </div>
                                </div>
                                <div class="insuranceSec">
                                    <div class="rowsec1">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 col-sm-3 padding_8">
                                                <label>Agency Name</label>
                                                <input name="txtpassport" v-model="Agency_Info.loginNode.name" readonly="readonly" placeholder="Agency Name" class="txt_st" type="text">
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3 padding_8">
                                                <label>User Name</label>
                                                <input v-model="Agency_Username" readonly="readonly" name="txtpassport" placeholder="User Name" class="txt_st" type="text">
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3 padding_8">
                                                <label>Email</label>
                                                <input name="txtpassport" v-model="Agency_Info.emailId" readonly="readonly" placeholder="Email" class="txt_st" type="text">
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3 padding_8">
                                                <label>Phone</label>
                                                <input name="txtpassport" v-model="Agency_Info.contactNumber" placeholder="Phone Number" class="txt_st" type="text" readonly="readonly">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--choose payment mode-->
                            <div class="insurance_card">
                                <div class="coverage_head">
                                    <div class="col-lg-12 col-md-12 col-xs-12">
                                        <h4>Choose Payment Mode</h4>
                                    </div>
                                </div>
                                <div class="insuranceSec">
                                    <div class="rowsec1">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 col-sm-3 padding_8">
                                                <div class="classsec_area">
                                                    <input type="radio" id="radio-btn-02" name="credit" checked="checked" v-model="paymentType" value="C">
                                                    <label for="radio-btn-02">Credit</label>
                                                </div>
                                            </div>
                                            <!-- <div class="col-lg-3 col-md-3 col-sm-3 padding_8" id="divPgRb">
                                                <div class="classsec_area">
                                                    <input type="radio" id="radio-btn-03" name="credit" style="cursor: pointer;" v-model="paymentType" value="P">
                                                    <label for="radio-btn-03">{{pageObject.Payment_Gateway_Label}}</label>
                                                </div>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--privacy policy-->
                            <div class="btm_cont_sec">
                                <div class="privacy_check">
                                    <input type="checkbox" class="shastops" id="chkAgree">
                                    <label for="web" class="formsfont">
                                        By completing this booking. I acknowledge and agree to the  <a data-toggle="modal" data-target="#Privacy_Policy">privacy policy</a>, the <a data-toggle="modal" data-target="#Terms_conditions">terms &amp; conditions</a> that are applicable to this
                                        insurance booking.
                                    </label>
                                </div>
                            <div>
                                <a id="btnBook" :style="isBooking?'pointer-events:none;':''" class="pay_now" @click="purchase()"><i class="addclass"></i>
                                    <div v-if="isBooking">
                                        Processing<span class="loader__dot">.</span><span class="loader__dot">.</span><span class="loader__dot">.</span>
                                    </div>
                                    <div v-else>Purchase</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </unitrust-insurance>
        <footer>
            <master-footer></master-footer>
        </footer>
        <!---------Main Footer area close------------>
    </section>
    <script type="text/javascript" src="/assets/js/jquery-3.3.1.min.js?v=201905200000"></script>
    <script src="/assets/js/jquery-news.min.js?v=201910290000"></script>
    <script type="text/javascript" src="/assets/plugins/bootstrap/bootstrap.min.js?v=201905200000"></script>
    <script src="/assets/js/jquery-ui.js?v=201905200000"></script>
    <script type="text/javascript" src="/assets/js/jquery-migrate.min.js?v=201912240000"></script>
    <script src="/assets/js/axios.min.js?v=201912240000"></script>
    <script src="/assets/js/vue.min.js?v=202002060000"></script>
    <script src="/assets/js/vue-i18n.js?v=201912240000"></script>

    <script src="/assets/plugins/primevue/js/dialog.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/button.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/toolbar.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/inputtext.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/accordion.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/accordiontab.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/checkbox.umd.min.js?v=202005050000"></script>
    <script src="/assets/js/summernote.min.js?v=201912240000"></script>
    <script src="/Flights/assets/js/cabinclass.js"></script>
    <script src="/assets/js/jspdf.min.js?v=201912240000"></script>
    <script src="/assets/js/html2canvas.min.js?v=201909010000"></script>
    <script src="/Flights/FlightComponents/js/svgs.js?v=201907240000"></script>
    <script src="/Flights/assets/js/Airplanes.js"></script>
    <script src="/Flights/assets/js/Airlines.js"></script>
    <script src="/Flights/assets/js/UTCTime.js?v=1034" defer></script>
    <script src="/Flights/FlightComponents/js/AirCommonServices.js?v=201907250000"></script>

    <script src="/assets/js/underscore-min.js?v=201912240000"></script>
    <script src="/assets/plugins/alertifyJs/alertify.min.js?v=201905200000"></script>
    <script src="/assets/plugins/moment/moment.min.js?v=201907220000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202008060000"></script>
    <script src="/Resources/Config/config.js?v=202002170000"></script>
    <script src="/Login/LoginComponents/js/login.js?v=202007160000"></script>
    <script src="/CommonFuntions/ExtentionMethods.js?v=201905200000"></script>
    <script src="/CommonFuntions/CommonFunctions.js?v=202008240000"></script>
    <script src="/Insurance/unitrust/components/js/IssuePolicy.js?v=202103170000"></script>
    <script src="/CommonFuntions/MainComponents.js?v=202012180000"></script>
    <script src="/assets/js/highlight.pack.js?v=201910290000"></script>
</body>

</html>