﻿<!doctype html>

<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="apple-touch-icon" href="#" />
    <link rel="shortcut icon" href="#" />
    <!-- Place favicon.ico in the root directory -->
    <meta name="theme-color" content="#fafafa" />

    <link rel="stylesheet" type="text/css" href="/assets/plugins/bootstrap/bootstrap.min.css?v=201905200000" />

    <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css?v=1034" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/Insurance/InsuranceComponents/css/insurance.css?v=1034" />

    <link rel="stylesheet" type="text/css" href="/assets/plugins/calendar/jquery-ui.css?v=201905260000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/font-awesome/font-awesome.min.css?v=201905200000">
    <link rel="stylesheet" type="text/css" href="/assets/plugins/alertifyJs/alertify.min.css?v=201909230000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/alertifyJs/default.min.css?v=201905200000" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/css/flag-icon.min.css">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.css" />
    
    <link rel="stylesheet" type="text/css" href="/assets/plugins/primevue/css/theme.css?v=202005050000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/primevue/css/primevue.min.css?v=202005050000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/primevue/css/primeicons.css?v=202005050000" />
    <link rel="stylesheet" type="text/css" href="/assets/css/summernote.css?v=202005050000" />

</head>

<body>
    <!-- <div id="TktLoader" style="position: fixed;top: 0;right: 0;bottom: 0;left: 0;background: #827f7f;z-index: 999999999;opacity: .8;display:none;">
        <div style="text-align: center">
            <img src="/../Flights/FlightComponents/images/Ticket.gif" />
        </div>
    </div> -->
    <section v-cloak id="master_vue_element" class="wrapper">
        <!---------Main Header area------------>
        <header>
            <master-header></master-header>
        </header>
        <master-sidebar></master-sidebar>
        <!---------Main Header area Close------------>
        <!---------Main content area------------>
        <wis-issue inline-template>
            <div>
                <div class="insurancebanner-booking">
                    <div class="container">
                        <h3>Traveler Details</h3>
                    </div>
                </div>
                <div class="main_cont_area">
                    <div class="container">
                        <!-----------Travellers details-------------->
                        <div class="traveller_details" style="width:100%;">
                            <h1>Issue Policy</h1>
                            <div class="summary_duru">
                                <div v-if="!_.isEmpty(selectedPolicy)" class="box-content" style="padding-left:0px;padding-right:0px;">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="headpolicy">
                                                <h4>{{selectedPolicy.policy.name}}</h4>
                                                <h5>{{selectedPolicy.policy.currency}} {{selectedPolicy.totalCost}}</h5>
                                            </div>
                                            <div class="col-lg-12 cover_view_dr">
                                                <h3 v-if="selectedOptions.length > 0">Addons</h3>
                                                <table  v-if="selectedOptions.length > 0" width="100%" class="label_txt" border="0" style="border: 1px solid #0059c0;">
                                                    <tr v-for="(option, index) in selectedOptions" :key="index">
                                                        <td width="50%">
                                                            {{option.name}}
                                                            <a data-toggle="popover" data-placement="right" :data-content="option.description.split('<p>').join('').split('</p>').join('')">
                                                                <i class="fa fa-info-circle"></i>
                                                            </a>
                                                        </td>
                                                        <td>{{selectedPolicy.policy.currency}} {{option.fare}}</td>
                                                    </tr>
                                                </table>
                                                <div class="row">
                                                    <div class="col-lg-12 payable_title"> Total Payable: {{selectedPolicy.policy.currency}} {{selectedPolicy.totalCost}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div id="divBenefits" class="col-lg-12 cover_view_dr">
                                            <h3>Benefits</h3>
                                            <div style="width:100%;float:left;" class="table-responsive">
                                                <table id="tblbenifitsbind" width="100%" class="label_txt" border="1" style="border: 1px solid #0059c0;">
                                                    <thead>
                                                        <tr>
                                                            <td><strong>Cover</strong></td>
                                                            <td><strong>Limit (Upto)</strong></td>
                                                            <td><strong>Excess Cover</strong></td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr v-for="(benefit, bIndex) in selectedPolicy.policy.benefits" :key="'b-'+bIndex" :style="bIndex<5?'':'display:none'">
                                                            <td>{{benefit.cover}}</td>
                                                            <td>{{benefit.amount}}</td>
                                                            <td>{{benefit.excess}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div id="benefirMore" class="moresec_btn" @click="benefitShowMore">Show More <i class="fa fa-plus-square"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="summary_duru">
                                <div class="box-content">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="headpolicy">
                                                <h4>Pax Information</h4>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="contact_details">
                                                <div class="contact_form_sec">
                                                    <div class="row_sec FormTravellerInfoBox">
                                                        <div class="sectravellers" v-for="(pax, index) in paxInformation" :key="index">
                                                            <div class="agetraveller"> <label>{{pax.paxType}}&nbsp;({{pax.ageLimit}})</label></div>
                                                            <div class="col-lg-2 col-md-4 col-sm-4 padding_8">
                                                                <select :id="'ddlTitle'+pax.paxTypeCode.toLowerCase()+index" class="cont_txt" data-myattri="Title" name="ddlTitle">
                                                                    <option disabled selected value="">Title</option>
                                                                    <option v-for="(title, tIndex) in pax.paxAvailbleTitles" :value="title.name">{{title.name}}</option>
                                                                </select>
                                                                </div>
                                                            <div class="col-lg-2 col-md-4 col-sm-4 padding_8">
                                                                <input :id="'txtFname'+pax.paxTypeCode.toLowerCase()+index" name="txtFname"
                                                                    onkeypress="return ((event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || event.charCode == 8 || event.charCode == 32 );"
                                                                    name="txtFname" maxlength="50" placeholder="First Name" class="cont_txt01 valPassData Alphabetsonly" type="text">
                                                                </div>
                                                            <div class="col-lg-2 col-md-4 col-sm-4 padding_8">
                                                                <input :id="'txtLname'+pax.paxTypeCode.toLowerCase()+index" value="" name="txtLastname"
                                                                    onkeypress="return ((event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || event.charCode == 8 || event.charCode == 32 );"
                                                                    name="txtFname" maxlength="50" placeholder="Last Name" class="cont_txt01 valPassData Alphabetsonly" type="text">
                                                                </div>
                                                            <div class="col-lg-2 col-md-4 col-sm-4 padding_8">
                                                                <input class="cont_txt01_cldr" name="txtDOBDay" data-myattri="DOB" readonly="" placeholder="Date of birth"
                                                                    :id="'txtDob'+pax.paxTypeCode.toLowerCase()+index">
                                                                </div>
                                                            <div class="col-lg-2 col-md-4 col-sm-4 padding_8">
                                                                <select class="cont_txt valPassData paddingright-31" data-myattri="Nationality"
                                                                    :id="'txtnationality'+pax.paxTypeCode.toLowerCase()+index" name="ddlnationality">
                                                                    <option disabled selected value="">Nationality</option>
                                                                    <option v-for="(country, index) in countryList" :value="country.code">{{country.name}}</opt>
                                                                    </select>
                                                                </div>
                                                            <div class="col-lg-2 col-md-4 col-sm-4 padding_8">
                                                                <input maxlength="10" data-myattri="Passport Number" :id="'txtPassport'+pax.paxTypeCode.toLowerCase()+index"
                                                                    value="" name="txtpassport" placeholder="Passport Number" class="cont_txt01" type="text">
                                                                </div>
                                                            </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
        
                                </div>
                            </div>
                            <div class="summary_duru">
                                <div class="main-head">
                                    <h4>Agent Details</h4>
                                </div>
                                <div class="contact_details">
                                    <div class="contact_form_sec">
                                        <div class="row_sec">
                                            <div class="col-lg-6 col-md-6 col-sm-6 padding_8">
                                                <label>Agency Name</label>
                                                <input name="agencyName" :value="commonStore.agencyNode.loginNode.name" id="txtAgencyname" placeholder="AgencyName"
                                                    class="cont_txt01 txtAgencyname" type="text" readonly="readonly">
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 padding_8">
                                                <label>User Name</label>
                                                <input name="User Name" :value="commonStore.agencyNode.firstName + ' ' + commonStore.agencyNode.lastName" id="txtuserName" placeholder="User Name"
                                                    class="cont_txt01 txtuserName" type="text" readonly="readonly">
                                            </div>
                                        </div>
                                        <div class="row_sec">
                                            <div class="col-lg-6 col-md-6 col-sm-6 padding_8">
                                                <label>Email</label>
                                                <input name="username" :value="commonStore.agencyNode.emailId" id="txtmail" placeholder="Email"
                                                    class="cont_txt01 txtEmail" type="text" readonly="readonly">
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 padding_8">
                                                <label>Phone Number</label>
                                                <input name="username" :value="commonStore.agencyNode.contactNumber" id="txtPhoneNumber" pattern="[0-9]"
                                                    placeholder="Phone Number" class="cont_txt01 txtPhoneNumber" type="text"
                                                    readonly="readonly">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="summary_duru">
                                <div class="main-head">
                                    <h4>Choose Payment Mode</h4>
                                </div>
                                <div class="contact_details">
                                    <div class="contact_form_sec">
                                        <div class="row_sec">
                                            <div class="col-lg-3 col-md-3 col-sm-3 padding_8">
                                                <div class="classsec_area">
                                                    <input type="radio" id="radio-btn-02" name="credit" checked="checked">
                                                    <label for="radio-btn-02">Credit</label>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3 padding_8" id="divPgRb">
                                                <div class="classsec_area">
                                                    <input type="radio" id="radio-btn-03" name="credit" disabled>
                                                    <label for="radio-btn-03" style="cursor: not-allowed; text-decoration: none;">Payment gateway</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Payment method option end-->
                            <div class="btm_cont_sec">
                                <div class="privacy_check">
                                    <input type="checkbox" class="shastops" id="chkAgree"> <label for="web" class="formsfont">
                                        By completing this booking. I acknowledge and agree to the <a data-toggle="modal"
                                            data-target="#Privacy_Policy">privacy policy</a>, the <a data-toggle="modal"
                                            data-target="#Terms_conditions">terms &amp; conditions</a> that are applicable to this insurance booking.
                                    </label>
                                </div>
                                <div>
                                    <a :style="finalizing ? 'cursor: not-allowed !important; text-decoration: none;':''" id="btnBook" @click="purchaseInsurance" class="pay_now"><i class="addclass"></i>Finalize</a>
                                </div>
                            </div>
                            <!------Privacypolicy Popup open------->
                            <div class="modal fade" id="Privacy_Policy" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">×</button>
                                            <h4 class="modal-title">Privacy Policy</h4>
                                        </div>
                                        <div class="modal-body" id="privacypolicyContents">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!------Privacypolicy Popup close------->
                            <!------Terms and conditions Popup open------->
                            <div class="modal fade" id="Terms_conditions" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">×</button>
                                            <h4 class="modal-title">Terms and Conditions </h4>
                                        </div>
                                        <div class="modal-body" id="termsNConditionsContents">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!------Terms and conditions Popup close------->
                        </div>
                        <!-----------Travellers details close-------------->
                    </div>
                </div>
        
            </div>
        
        </wis-issue>
        <!---------Main content area close------------>
        <!---------Main Footer area------------>
        <footer>
            <master-footer></master-footer>
        </footer>
        <!---------Main Footer area close------------>
    </section>
    <div id="payData"></div>
    </div>
    <script type="text/javascript" src="/assets/js/jquery-3.3.1.min.js?v=201905200000"></script>
    <script src="/assets/js/jquery-news.min.js?v=201910290000"></script>
    <script type="text/javascript" src="/assets/plugins/bootstrap/bootstrap.min.js?v=201905200000"></script>
    <script src="/assets/js/jquery-ui.js?v=201905200000"></script>
    <script type="text/javascript" src="/assets/js/jquery-migrate.min.js?v=201912240000"></script>
    <script src="/assets/js/axios.min.js?v=201912240000"></script>
    <script src="/assets/js/vue.min.js?v=202002060000"></script>
    <script src="/assets/js/vue-i18n.js?v=201912240000"></script>

    <script src="/assets/plugins/primevue/js/dialog.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/button.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/toolbar.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/inputtext.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/accordion.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/accordiontab.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/checkbox.umd.min.js?v=202005050000"></script>
    <script src="/assets/js/summernote.min.js?v=201912240000"></script>
    <script src="https://www.oneviewitsolutions.com/flights/js/cabinclass.js"></script>
    <script src="/assets/js/jspdf.min.js?v=201912240000"></script>
    <script src="/assets/js/html2canvas.min.js?v=201909010000"></script>
    <script src="/Flights/FlightComponents/js/svgs.js?v=201907240000"></script>
    <script src="https://www.oneviewitsolutions.com/flights/js/Airplanes.js"></script>
    <script src="https://www.oneviewitsolutions.com/flights/js/Airlines.js"></script>
    <script src="https://www.oneviewitsolutions.com/flights/js/UTCTime.js?v=1034" defer></script>
    <script src="/Flights/FlightComponents/js/AirCommonServices.js?v=201907250000"></script>

    <!--js start-->
    <script src="/assets/js/underscore-min.js?v=201912240000"></script>
    <script src="/assets/plugins/alertifyJs/alertify.min.js?v=201905200000"></script>
    <script src="/assets/plugins/moment/moment.min.js?v=201907220000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202008060000"></script>
    <script src="/Resources/Config/config.js?v=202002170000"></script>
    <script src="/Login/LoginComponents/js/login.js?v=202007160000"></script>
    <script src="/CommonFuntions/ExtentionMethods.js?v=201905200000"></script>
    <script src="/CommonFuntions/CommonFunctions.js?v=202008240000"></script>
    <script type="text/javascript" src="/assets/js/summernote.min.js?v=201912240000"></script>
    <script src="/Insurance/wis/components/js/IssuePolicy.js"></script>
    <script src="/CommonFuntions/MainComponents.js?v=202008252038"></script>
    <!--js end-->
</body>
</html>
