﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <link rel="apple-touch-icon" href="#" />
    <link rel="shortcut icon" href="#" />
    <!-- Place favicon.ico in the root directory -->
    <meta name="theme-color" content="#fafafa" />

    <link rel="stylesheet" type="text/css" href="/assets/plugins/bootstrap/bootstrap.min.css?v=201905200000" />
    
    <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css?v=1034" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/Insurance/InsuranceComponents/css/insurance.css?v=1034" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/calendar/jquery-ui.css?v=201905260000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/font-awesome/font-awesome.min.css?v=201905200000">
    <link rel="stylesheet" type="text/css" href="/assets/plugins/alertifyJs/alertify.min.css?v=201909230000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/alertifyJs/default.min.css?v=201905200000" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/css/flag-icon.min.css">
    
    <link rel="stylesheet" type="text/css" href="/assets/plugins/primevue/css/theme.css?v=202005050000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/primevue/css/primevue.min.css?v=202005050000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/primevue/css/primeicons.css?v=202005050000" />
    <link rel="stylesheet" type="text/css" href="/assets/css/summernote.css?v=202005050000" />

</head>

<body>
    <section v-cloak id="master_vue_element" class="wrapper">
        <div id="TktLoader" style="position: fixed;top: 0;right: 0;bottom: 0;left: 0;background: #827f7f;z-index: 999999999;opacity: .8;display:none;">
            <div style="text-align: center">
                <img src="../../Flights/FlightComponents/images/Ticket.gif" />
            </div>
        </div>
        <!---------Main Header area------------>
        <header>
            <master-header></master-header>
        </header>
        <master-sidebar></master-sidebar>
        <!---------Main Header area Close------------>
        <!---------Main content area------------>
        <wis-booking-info inline-template>
            <div class="main_cont_area">
                <div class="container">
                    <div v-if="Plan_Hub_Response" class="search_area mainbooking_info" style="width:100%;">
                        <div class="col-lg-6 col-md-6">
                            <div class="trip_sec">
                                <h3>Policy</h3>
                                <div class="trip_user_action">
                                    <h2 id="PolicyName">{{Plan_Hub_Response.insuranceItem.schemeName}}</h2>
                                    <div class="check_links" id="divbuttonappend">
                                        <div v-if="Plan_Hub_Response" class="user_edit"><a id="btnreconfirmed" :style="purchasing ? 'cursor: not-allowed; text-decoration: none;':''" v-if="Plan_Hub_Response.success&&!Plan_Hub_Response.success.policyNum" @click="purchase" class="btnreconfirmed"><i class="addclass"></i>PURCHASE</a></div>
                                        <div v-if="Plan_Hub_Response" class="user_edit"><a id="btnreconfirmed" :style="downloading ? 'cursor: not-allowed; text-decoration: none;':''" v-if="Plan_Hub_Response.success&&Plan_Hub_Response.success.policyNum" @click="downloadvoucher" class="btnreconfirmed"><i class="addclass"></i>DOWNLOAD VOUCHER</a></div>
                                    </div>
                                    <!--modal booking history-->
                                    <div class="modal fade" id="Status_History" role="dialog">
                                        <div class="modal-dialog">
                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title">Booking History</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="fare_break01">
                                                        <ul class="list-group" id="tablehistory" style="float:none;margin-bottom:-1px;" v-for="statusItem in Plan_Hub_Response.bookingStatusList">
                                                            <li class="list-group-item">
                                                                <span class="badge new_lable">{{moment(statusItem.entryDate).format('ddd, Do MMM YYYY - hh:mm:ss a')}}</span><b>{{statusItem.bookingStatus}}</b> -
                                                                {{statusItem.userName}}</li>
                                                        </ul>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <!--modal booking history-->
                                    <!------Fare breakup Popup------->
                                    <div class="modal fade" id="Price_breakup" role="dialog">
                                        <div class="modal-dialog">
                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title">PRICE BREAKUP</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="fare_break01">
                                                        <table id="tablePriceBreakUps" width="100%"
                                                            cellspacing="0" cellpadding="5" border="0"
                                                            style="border-collapse: collapse;">
                                                        <tr>
                                                            <td class="fare_head_area">Sell Amount</td>
                                                            <td>&nbsp;</td>
                                                            <td class="fare_head_area01">{{Plan_Hub_Response.fareDetails&&Plan_Hub_Response.fareDetails.sellAmt}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="fare_head_area">Sell Currency</td>
                                                            <td>&nbsp;</td>
                                                            <td class="fare_head_area01">{{Plan_Hub_Response.fareDetails&&Plan_Hub_Response.fareDetails.sellCurrency}}</td>
                                                        </tr>

                                                        </table>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <!------Fare breakup Popup close------->
                                    <!------EMail ticket------->
                                    <div class="modal fade" id="modalCancelMail" role="dialog">
                                        <div class="modal-dialog">
                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">×</button>
                                                    <h4 class="modal-title">MAIL TICKET</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="cancel_sec">
                                                        <label>EMAIL TO</label>
                                                        <input id="txtTktToMail" value="" type="text" class="subject_area">
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="MailSend('EmailVoucher')">Send</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!------EMail ticket------->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="trip_sec">
                                <h3>Booking Information</h3>
                                <div class="box-content">
                                    <div class="booking_info confirm-text">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-xs-6 sp53">Booking Id:</div>
                                                <div class="col-xs-6 sp53 text-right" id="RefernceNo">
                                                    <div v-if="!Plan_Hub_Response.bookingRef">
                                                        Processing<span class="loader__dot">.</span><span class="loader__dot">.</span><span class="loader__dot">.</span>
                                                    </div>
                                                    {{Plan_Hub_Response.bookingRef}}
                                                </div>
                                                <div class="col-xs-6 sp53">Booking Date:</div>
                                                <div class="col-xs-6 sp53 text-right" id="BookingDate">
                                                    <div v-if="!Plan_Hub_Response.bookingRef">
                                                        Processing<span class="loader__dot">.</span><span class="loader__dot">.</span><span class="loader__dot">.</span>
                                                    </div>
                                                    <div v-else>
                                                        {{ moment(Plan_Hub_Response.bookDate).format('ddd, DD MMM YY')}}
                                                    </div>
                                                </div>
                                                <div class="col-xs-6 sp53">Start Date:</div>
                                                <div class="col-xs-6 sp53 text-right" id="CheckinDate">
                                                    <div v-if="!Plan_Hub_Response.insuranceItem.startDate">
                                                        Processing<span class="loader__dot">.</span><span class="loader__dot">.</span><span class="loader__dot">.</span>
                                                    </div>
                                                    {{Plan_Hub_Response.insuranceItem.startDate && moment(Plan_Hub_Response.insuranceItem.startDate).format('ddd, DD MMM YY') }}
                                                </div>
                                                <div class="col-xs-6 sp53">End Date:</div>
                                                <div class="col-xs-6 sp53 text-right" id="TimeLimit">
                                                    <div v-if="!Plan_Hub_Response.insuranceItem.startDate">
                                                        Processing<span class="loader__dot">.</span><span class="loader__dot">.</span><span class="loader__dot">.</span>
                                                    </div>
                                                    {{Plan_Hub_Response.insuranceItem.endDate && moment(Plan_Hub_Response.insuranceItem.endDate).format('ddd, DD MMM YY') }}
                                                </div>
                                                <div class="col-xs-6 sp53">Status:</div>
                                                <div class="col-xs-6 sp53 text-right" id="Status">
                                                    <div v-if="!Plan_Hub_Response.insuranceItem.startDate">
                                                        Processing<span class="loader__dot">.</span><span class="loader__dot">.</span><span class="loader__dot">.</span>
                                                    </div>
                                                    <div v-else>
                                                        {{Plan_Hub_Response.bookingStatusName}}
                                                        <span id="divhistory"></span>
                                                        <a>
                                                            <i id="history" data-open="0" class="fa fa-plus-square"
                                                                data-toggle="modal" data-target="#Status_History"
                                                                style="color :#2f3292;margin-left:10px;cursor:pointer"
                                                                aria-hidden="true"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div v-if="Plan_Hub_Response&&Plan_Hub_Response.success">
                                                    <div v-if="Plan_Hub_Response&&Plan_Hub_Response.success.policyNum" class="col-xs-6 sp53" id="policyref">Policy Ref No:</div>
                                                    <div v-if="Plan_Hub_Response&&Plan_Hub_Response.success.policyNum" class="col-xs-6 sp53 text-right" id="PNR">
                                                        <div v-if="!Plan_Hub_Response.success">
                                                            Processing<span class="loader__dot">.</span><span class="loader__dot">.</span><span class="loader__dot">.</span>
                                                        </div>
                                                        <div v-else>
                                                            {{Plan_Hub_Response.success.policyNum}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6 sp53">Destination:</div>
                                                <div class="col-xs-6 sp53 text-right" id="Destination">
                                                     <div v-if="!Plan_Hub_Response.insuranceItem.airportCode&&!Plan_Hub_Response.insuranceItem.predefinedDestination">
                                                            Processing<span class="loader__dot">.</span><span class="loader__dot">.</span><span class="loader__dot">.</span>
                                                    </div>
                                                    <div v-else>
                                                        <p v-if="Plan_Hub_Response.insuranceItem.airportCode">{{Plan_Hub_Response.insuranceItem.airportCode&&Plan_Hub_Response.insuranceItem.airportCode.name.split(',')[1]}}</p>
                                                        <p v-if="Plan_Hub_Response.insuranceItem.predefinedDestination">{{Plan_Hub_Response.insuranceItem.predefinedDestination.name&&Plan_Hub_Response.insuranceItem.predefinedDestination.name}}</p>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6 sp53">Total:</div>
                                                <div class="col-xs-6 sp53 text-right" id="Total">
                                                    <div v-if="!Plan_Hub_Response.totalFare">
                                                        Processing<span class="loader__dot">.</span><span class="loader__dot">.</span><span class="loader__dot">.</span>
                                                    </div>
                                                    <div v-else>
                                                        {{$n(Plan_Hub_Response.totalFare/commonStore.currencyMultiplier, 'currency', commonStore.selectedCurrency)}}
                                                        <span id="divFarebrkup"></span>
                                                        <a>
                                                            <i id="farebreakup" data-open="0"
                                                                class="fa fa-plus-square" data-toggle="modal"
                                                                data-target="#Price_breakup"
                                                                style="color :#2f3292;margin-left:10px;cursor:pointer"
                                                                aria-hidden="true"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6 sp53">Payment Mode :</div>
                                                <div class="col-xs-6 sp53 text-right" id="PayMode">
                                                    <div v-if="!Plan_Hub_Response.paymentMode">
                                                        Processing<span class="loader__dot">.</span><span class="loader__dot">.</span><span class="loader__dot">.</span>
                                                    </div>
                                                    {{Plan_Hub_Response.paymentMode}}
                                                </div>
                                                <div class="col-xs-6 sp53 pay-status" style="display: none;">Payment Status :</div>
                                                <div class="col-xs-6 sp53 text-right pay-status" id="PayStatus" style="display: none;">test</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12">
                            <div class="trip_sec">
                                <h3>Policy Details</h3>
                                <div class="confirm-text01">
                                    <!-- <div class="headpolicy">
                                        <h4 id="divpolicybind"></h4>
                                        <h5 id="divpolicyamount"></h5>
                                    </div> -->

                                    <div class="policy_details_sec">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 cover_view_dr">
                                                <h3>Benefits</h3>
                                                <table id="tblbenifitsbind" width="100%" class="label_txt" style="border: 1px solid #0059c0;">
                                                    <tr v-for="(bnft, bIndex) in (Plan_Hub_Response.insuranceItem.benefitList||[]).slice(0, 3)" :key="'b-'+bIndex">
                                                        <td>{{bnft.cover}}</td>
                                                        <td>{{bnft.amount}}</td>
                                                    </tr>
                                                </table>
                                                <div class="row" v-if="(Plan_Hub_Response.insuranceItem.benefitList||[]).length>3">
                                                    <div class="col-lg-12 benefit"><a href="#" data-toggle="modal" data-target="#benefits">Full Benefits</a></div>
                                                    <!--benefits popup-->
                                                    <div class="modal fade" id="benefits" role="dialog" style="display: none;">
                                                        <div class="modal-dialog">
                                                            <!-- Modal content-->
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close" data-dismiss="modal">×</button>
                                                                    <h4 class="modal-title">Full Benefits</h4>
                                                                </div> <div class="modal-body tbl5">
                                                                    <table width="100%">
                                                                        <tbody>
                                                                            <tr>
                                                                                <th width="46%">Section Cover</th>
                                                                                <th width="27%">Sum Insured</th>
                                                                                <th width="27%">Excess</th>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    <div class="scrollbar" id="style-9" style="height: 300px;overflow: auto;">
                                                                        <table id="tblFullbenifits" width="100%">
                                                                            <tbody>
                                                                                <tr v-for="(bnfit, bIndex) in Plan_Hub_Response.insuranceItem.benefitList" :key="'b-'+bIndex">
                                                                                    <td>{{bnfit.cover}}</td>
                                                                                    <td>{{bnfit.coverageAmt}}</td>
                                                                                    <td>{{bnfit.excess}}</td>
                                                                                </tr>
                                                                        </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--benefits popup close-->
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 cover_view_dr">
                                                <h3>Addons</h3>
                                                <table v-if="Plan_Hub_Response&&Plan_Hub_Response.insuranceItem.optionList" id="tbladdons" width="100%" class="label_txt" style="border: 1px solid #0059c0;">
                                                    <tr v-for="(option, index) in Plan_Hub_Response.insuranceItem.optionList" :key="index">
                                                        <td>
                                                            <img :src="'/Insurance/InsuranceComponents/Images/' + option.name + '.png'" alt="golf">{{option.name}}&nbsp;
                                                            <a href="javascript:void(0);" :title="option.name" data-toggle="popover" data-placement="right"
                                                                :data-content="option.description"> <i class="fa fa-info-circle" aria-hidden="true"></i>
                                                            </a>
                                                        </td>
                                                        <td>AED {{option.fare}} </td>
                                                    </tr>
                                                </table>
                                                <div v-else>
                                                    No Add ons
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12 payable_title" id="divfullamountpayable">
                                                        Total Payable: {{$n(Plan_Hub_Response.totalFare/commonStore.currencyMultiplier, 'currency', commonStore.selectedCurrency)}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                </div>


                            </div>
                        </div>
                        <!--Pax details-->

                        <div class="col-lg-12 col-md-12">
                            <div class="trip_sec">
                                <h3>Passengers</h3>
                                <div class="booking_info ply_padding">

                                    <div class="hotel_table">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th class="sp_table">Pax Name</th>
                                                    <th class="sp_table">Passport Number</th>
                                                    <th class="sp_table">Policy Number</th>
                                                </tr>
                                            </thead>
                                            <tbody id="ROOPAX">
                                                <tr
                                                        v-for="(pax , paxIndex) in Plan_Hub_Response.insuranceItem.travelerInfoList">
                                                        <td>{{paxIndex+1}}. {{pax.title}} {{pax.firstName}}
                                                            {{pax.lastName}}</td>
                                                        <td>{{pax.passportNum}}</td>
                                                        <td>{{Plan_Hub_Response.bookingRef}}</td>
                                                    </tr>
                                            </tbody>
                                        </table>
                                    </div>


                                </div>
                            </div>

                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="trip_sec">
                                <h3>HELP &amp; SUPPORT</h3>
                                <div class="help_support">
                                    <div class="queries_sec" id="websiteDiv">
                                        <h2>FOR ANY QUERIES, REFER OUR FAQS</h2>
                                    </div>

                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </wis-booking-info>
        <!---------Main content area close------------>
        <!---------Main Footer area------------>
        <footer>
            <master-footer></master-footer>
        </footer>
        <!---------Main Footer area close------------>
    </section>

    <script type="text/javascript" src="/assets/js/jquery-3.3.1.min.js?v=201905200000"></script>
    <script src="/assets/js/jquery-news.min.js?v=201910290000"></script>
    <script type="text/javascript" src="/assets/plugins/bootstrap/bootstrap.min.js?v=201905200000"></script>
    <script src="/assets/js/jquery-ui.js?v=201905200000"></script>
    <script type="text/javascript" src="/assets/js/jquery-migrate.min.js?v=201912240000"></script>
    <script src="/assets/js/axios.min.js?v=201912240000"></script>
    <script src="/assets/js/vue.min.js?v=202002060000"></script>
    <script src="/assets/js/vue-i18n.js?v=201912240000"></script>
    
    <script src="/assets/plugins/primevue/js/dialog.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/button.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/toolbar.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/inputtext.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/accordion.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/accordiontab.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/checkbox.umd.min.js?v=202005050000"></script>
    <script src="/assets/js/summernote.min.js?v=201912240000"></script>
    <script src="https://www.oneviewitsolutions.com/flights/js/cabinclass.js"></script>
    <script src="/assets/js/jspdf.min.js?v=201912240000"></script>
    <script src="/assets/js/html2canvas.min.js?v=201909010000"></script>
    <script src="/Flights/FlightComponents/js/svgs.js?v=201907240000"></script>
    <script src="https://www.oneviewitsolutions.com/flights/js/Airplanes.js"></script>
    <script src="https://www.oneviewitsolutions.com/flights/js/Airlines.js"></script>
    <script src="https://www.oneviewitsolutions.com/flights/js/UTCTime.js?v=1034" defer></script>
    <script src="/Flights/FlightComponents/js/AirCommonServices.js?v=201907250000"></script>
    
    <!--js start-->
    <script src="/assets/js/underscore-min.js?v=201912240000"></script>
    <script src="/assets/plugins/alertifyJs/alertify.min.js?v=201905200000"></script>
    <script src="/assets/plugins/moment/moment.min.js?v=201907220000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202008060000"></script>
    <script src="/Resources/Config/config.js?v=202002170000"></script>
    <script src="/Login/LoginComponents/js/login.js?v=202007160000"></script>
    <script src="/CommonFuntions/ExtentionMethods.js?v=201905200000"></script>
    <script src="/CommonFuntions/CommonFunctions.js?v=202008240000"></script>
    <script type="text/javascript" src="/assets/js/summernote.min.js?v=201912240000"></script>
    <script src="/Insurance/wis/components/js/Policyinfo.js?v=1034"></script>
    <script src="/Insurance/wis/components/js/download.min.js"></script>
    <script src="/CommonFuntions/MainComponents.js?v=202008252038"></script>
    <!--js end-->
</body>
</html>
