﻿<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="apple-touch-icon" href="#" />
    <link rel="shortcut icon" href="#" />
    <!-- Place favicon.ico in the root directory -->
    <meta name="theme-color" content="#fafafa" />

    <link rel="stylesheet" type="text/css" href="/assets/plugins/font-awesome/font-awesome.min.css?v=201905200000">
    <link rel="stylesheet" type="text/css" href="/assets/plugins/bootstrap/bootstrap.min.css?v=201905200000" />

    <link rel="stylesheet" type="text/css" href="/assets/css/fancySelect.css?v=1034">

    <link rel="stylesheet" type="text/css" href="/assets/plugins/NouiSlider/nouislider.css?v=201905250000" />
    <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css?v=1034" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/css/flag-icon.min.css">

    <!-- <link type="text/css" rel="stylesheet" href="/assets/pluggins/Jquery/jquery.mmenu.all.css?v=1034" /> -->
    <!-- <link type="text/css" rel="stylesheet" href="/assets/css/demo.css?v=1034" /> -->
    <link rel="stylesheet" type="text/css" href="/Insurance/InsuranceComponents/css/insurance.css?v=1034" />

    <link rel="stylesheet" type="text/css" href="/assets/plugins/alertifyJs/alertify.min.css?v=201909230000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/alertifyJs/default.min.css?v=201905200000" />
    <link rel="stylesheet" type="text/css" href="/assets/css/loaderanimate.css?v=201911270000" />

    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.css" />

    <link rel="stylesheet" type="text/css" href="/assets/plugins/primevue/css/theme.css?v=202005050000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/primevue/css/primevue.min.css?v=202005050000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/primevue/css/primeicons.css?v=202005050000" />
    <link rel="stylesheet" type="text/css" href="/assets/css/summernote.css?v=202005050000" />

</head>

<body>
    <section v-cloak id="master_vue_element" class="wrapper">
        <!--Main Header area-->
        <header>
            <master-header></master-header>
        </header>
        <master-sidebar></master-sidebar>
        <!--Main Header area Close-->
        <wis-result inline-template>
            <div>
                <!--Main content area-->
                <div class="insurancebanner-result">
                    <div class="container">
                        <h3>Insurance Results</h3>
                    </div>
                </div>
                <div class="main_cont_area">
                    <div class="container">
                        <div class="cover_level_area">
                            <h5>Cover Level</h5>
                            <div class="common-box">
                                <div class="cover_area">
                                    <div class="resultImgIns_left_area01">
                                        <div v-if="results.quotes == null" class="row">
                                            <div class="loadsec">
                                                <div class="col-md-4 col-sm-12 clsinsurance">
                                                    <div>
                                                        <div class="resultImgIns_load animated-background"></div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-12 clsinsurance">
                                                    <div>
                                                        <div class="resultImgIns_load animated-background"></div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-12 clsinsurance">
                                                    <div>
                                                        <div class="resultImgIns_load animated-background"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div v-else class="row">
                                            <div class="col-md-4 col-sm-12 clsinsurance" v-for="(value, name, index) in results.quotes" :key="'q-'+index">
                                                <div class="cover_brder btm bluehash_color" @click="clickPolicy">
                                                    <div class="cover_head">
                                                        <h4>{{value.name}}</h4>
                                                        <h4 class="idprice"><span id="currency">{{value.currency}}&nbsp;</span>{{value.premium}}</h4>
                                                    </div>
                                                    <div class="cover_details">
                                                        <div>
                                                            <div class="col-md-12 col-sm-12 cover_view_dr">
                                                                <div v-for="(benefit, bIndex) in value.benefits" class="row" :key="'b-'+bIndex">
                                                                    <div v-if="benefit.cover=='Trip Cancellation / Curtailment'">
                                                                        <div class="col-xs-6 label_txt">Cancellation</div>
                                                                        <div class="col-xs-6 amount_txt">{{benefit.amount}}</div>
                                                                    </div>
                                                                    <div v-else-if="benefit.cover=='Emergency Medical and Other Expenses' || benefit.cover=='Emergency Medical Expenses (Accident and Sickness)'">
                                                                        <div class="col-xs-6 label_txt">Medical Expenses</div>
                                                                        <div class="col-xs-6 amount_txt">{{benefit.amount}}</div>
                                                                    </div>
                                                                    <div v-else-if="benefit.cover=='Personal Liability'">
                                                                        <div class="col-xs-6 label_txt">Personal Liability</div>
                                                                        <div class="col-xs-6 amount_txt">{{benefit.amount}}</div>
                                                                    </div>
                                                                    <div v-else-if="benefit.cover=='Transportation & Accommodation Expenses'">
                                                                        <div class="col-xs-6 label_txt">Transportation</div>
                                                                        <div class="col-xs-6 amount_txt">{{benefit.amount}}</div>
                                                                    </div>
                                                                    <div v-else-if="benefit.cover=='Loss of Passport / Travel Documents'">
                                                                        <div class="col-xs-6 label_txt">Loss of Passport</div>
                                                                        <div class="col-xs-6 amount_txt">{{benefit.amount}}</div>
                                                                    </div>
                                                                    <div v-else-if="benefit.cover=='Emergency Family Travel'">
                                                                        <div class="col-xs-6 label_txt">Emergency Family Travel</div>
                                                                        <div class="col-xs-6 amount_txt">{{benefit.amount}}</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="cover_details_buttons">
                                                            <div class="benefit">
                                                                <a href="#" @click="fullBenefits(value)" data-toggle="modal" data-target="#benefits">Full Benefits</a>
                                                            </div>
                                                            <div>
                                                                <button @click="addQuotationToCurrentCart(value, name, index)" type="button" class="btn btn-primary btnQuote">
                                                                    <i class="fa fa-plus"></i>
                                                                    Add Quote
                                                                </button>
                                                            </div>
                                                            <div class="select_btn">
                                                                <a href="#" @click="selectBenefits(value, name)"
                                                                    data-toggle="modal" data-target="#select_dr">Select<i
                                                                        class="fa fa-check" aria-hidden="true"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--benefits popup-->
                                    <div class="modal fade" id="benefits" role="dialog">
                                        <div class="modal-dialog">
                                            <!--Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title">Full Benefits</h4>
                                                </div>
                                                <div class="modal-body tbl5">
                                                    <table width="100%">
                                                        <tr>
                                                            <th width="46%">Section Cover</th>
                                                            <th width="27%">Sum Insured</th>
                                                            <th width="27%">Excess</th>
                                                        </tr>
                                                    </table>
                                                    <div class="scrollbar" id="style-9" style="max-height: 300px;overflow: auto;">
                                                        <table width="100%">
                                                            <tr v-for="(benefit, bIndex) in fullBenefitsValue.benefits" :key="'b-' + bIndex">
                                                                <td width="46%">{{benefit.cover == 'Trip Cancellation / Curtailment' ? 
                                                                    'Cancellation' : benefit.cover == 'Emergency Medical Expenses (Accident and Sickness)' || 
                                                                    benefit.cover == 'Emergency Medical and Other Expenses' ? 
                                                                    'Medical Expenses' : benefit.cover}}</td>
                                                                <td width="27%">{{benefit.amount}}</td>
                                                                <td width="27%">{{benefit.excess}}</td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--benefits popup close-->
                                    <!--select popup-->
                                    <div class="modal fade" id="select_dr" role="dialog">
                                        <div class="modal-dialog">
                                            <!-- Modal content-->
                                            <div class="modal-content" style="overflow: initial;">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" style="margin-top: 1px;">&times;</button>
                                                    <h4 class="modal-title">{{selectedBenefits.name}}</h4>
                                                </div>
                                                <div class="modal-body tbl5">
                                                    <h6 class="adtle">Additional Cover</h6>
                                                    <div class="row" v-for="(option, name, oIndex) in selectedBenefits.options" :key="'o-' + oIndex">
                                                        <div class="col-lg-12" v-if="parseFloat(option.price) > 0 && isNaN(option.price) == false && option.price != undefined">
                                                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-left cover_additional_area01">
                                                                <img :src="'/Insurance/InsuranceComponents/Images/'+option.name+'.png'" alt="">{{option.name}}<a
                                                                    href="javascript:void(0);" :title="option.name" data-toggle="popover" data-placement="right"
                                                                    :data-content="option.descriptionNew"> <i class="fa fa-info-circle" aria-hidden="true"></i> </a>
                                                                </div>
                                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 cover_additional_area01 checkBox_area01 ">
                                                                <input :name="'options_'+option.name+'_'+oIndex" @change="addRemoveOptions(option, name, $event)" class="Checkedclass" :id="'options_'+option.name+'_'+oIndex"
                                                                    type="checkbox" :value="option.price">
                                                                <label :for="'options_'+option.name+'_'+oIndex" class="formsfont" id="lblgolf">{{selectedBenefits.currency}} {{option.price}}</label>
                                                                </div>
                                                            </div>
                                                    </div>
                                                    <div class="info_txt" id="TotalCost"
                                                        style="margin-top:30px;padding: 4px 0px 4px 0px;text-align:center;width:100%;background: #e8e8e8;"> Total Cost: {{selectedBenefits.currency}} {{totalCost.toFixed(2)}}</div>
                                                </div>
                                                <div class="modal-footer">
                                                    <div class="col-xs-12 btns_area">
                                                        <div class="btns_area8">
                                                            <ul>
                                                                <li><a href="#" data-toggle="modal" data-target="#information">Product Information<i class="fa fa-info-circle" aria-hidden="true"></i></a></li>
                                                                <li id="divvIssue"><a href="javascript:void(0);" @click="issuePolicy()">Issue Policy<i class="fa fa-check" aria-hidden="true"></i></a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="cancelation_btn5" data-dismiss="modal">
                                                            <a href="#">Cancel<i class="fa fa-times" aria-hidden="true"></i></a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--select popup close-->
                                    <div class="modal fade" id="information" role="dialog">
                                        <div class="modal-dialog">
                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title">Outbound Travel</h4>
                                                </div>
                                                <div class="modal-body tbl6">
                                                    <p>A comprehensive travel insurance policy suitable for individuals and
                                                        families on holiday</p>
                                                    <h4>Overview</h4>
                                                    <p>A comprehensive travel insurance policy suitable for individuals and
                                                        families travelling on a holiday, with three levels of cover, and
                                                        emergency medical expenses cover of up to $1million available.</p>
                                                    <h4>Key Features</h4>
                                                    <p>A comprehensive range of benefits including</p>
                                                    <ul>
                                                        <li>Emergency medical expenses.</li>
                                                        <li>Medical evacuation & repatriation.</li>
                                                        <li>24 x 7 worldwide assistance.</li>
                                                    </ul>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default"
                                                        data-dismiss="modal">Close</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <!--information popup close-->
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--Main content area close-->
                    <!--Main Footer area--->
                </div>
            </div>
        </wis-result>
        <footer>
            <master-footer></master-footer>
        </footer>
        <!--Main Footer area close-->
    </section>

    <script type="text/javascript" src="/assets/js/jquery-3.3.1.min.js?v=201905200000"></script>
    <script src="/assets/js/jquery-news.min.js?v=201910290000"></script>
    <script type="text/javascript" src="/assets/plugins/bootstrap/bootstrap.min.js?v=201905200000"></script>
    <script src="/assets/js/jquery-ui.js?v=201905200000"></script>
    <script type="text/javascript" src="/assets/js/jquery-migrate.min.js?v=201912240000"></script>
    <script src="/assets/js/axios.min.js?v=201912240000"></script>
    <script src="/assets/js/vue.min.js?v=202002060000"></script>
    <script src="/assets/js/vue-i18n.js?v=201912240000"></script>

    <script src="/assets/plugins/primevue/js/dialog.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/button.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/toolbar.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/inputtext.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/accordion.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/accordiontab.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/checkbox.umd.min.js?v=202005050000"></script>
    <script src="/assets/js/summernote.min.js?v=201912240000"></script>
    <script src="https://www.oneviewitsolutions.com/flights/js/cabinclass.js"></script>
    <script src="/assets/js/jspdf.min.js?v=201912240000"></script>
    <script src="/assets/js/html2canvas.min.js?v=201909010000"></script>
    <script src="/Flights/FlightComponents/js/svgs.js?v=201907240000"></script>
    <script src="https://www.oneviewitsolutions.com/flights/js/Airplanes.js"></script>
    <script src="https://www.oneviewitsolutions.com/flights/js/Airlines.js"></script>
    <script src="https://www.oneviewitsolutions.com/flights/js/UTCTime.js?v=1034" defer></script>
    <script src="/Flights/FlightComponents/js/AirCommonServices.js?v=201907250000"></script>

    <script src="/assets/js/underscore-min.js?v=201912240000"></script>
    <script src="/assets/plugins/alertifyJs/alertify.min.js?v=201905200000"></script>
    <script src="/assets/plugins/moment/moment.min.js?v=201907220000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202008060000"></script>
    <script src="/Resources/Config/config.js?v=202002170000"></script>
    <script src="/Login/LoginComponents/js/login.js?v=202007160000"></script>
    <script src="/CommonFuntions/ExtentionMethods.js?v=201905200000"></script>
    <script src="/CommonFuntions/CommonFunctions.js?v=202008240000"></script>
    <script type="text/javascript" src="/assets/js/summernote.min.js?v=201912240000"></script>
    <script src="/Insurance/wis/components/js/searchResult.js?v=2021080100000"></script>
    <script src="/CommonFuntions/MainComponents.js?v=202008252038"></script>
</body>

</html>