﻿<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Us</title>
    <link rel="shortcut icon" href="website-informations/favicon/favi.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link href="assets/css/media.css" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="/assets/css/vue-loading.css" rel="stylesheet" type="text/css">
</head>
<style>
    [v-cloak] {
      display: none;
    }
  </style>
  </head>
    <body>
    <header>
      <headeritem></headeritem>
  </header>
  <div id="aboutuspage" v-cloak>
    <div class="vld-parent">
        <loading :active.sync="isLoading" :can-cancel="true" :is-full-page="fullPage"></loading>
    </div>
        <section class="inner_banner" :style="{background:'url('+Banner.Banner_Image_1920x562px+')'}">
        <div class="banner_text">
            <h1 class="text-center">{{Banner.Heading}}</h1>
        </div>
        <div class="breadcrumbs_wrapper">
            <div class="container">
                <div class="breadcrumbs"><a href="index.html">{{Banner.Breadcrumb1}}</a><span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>{{Banner.Breadcrumb2}}</div>
            </div>
        </div>
    </section>
    <section id="about_us" class="title bdr-btm">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2><span>{{aboutArea.Heading1}}</span> {{aboutArea.Heading2}}</h2>
                     <p v-html="aboutArea.Description"></p>
                    <ul > 
                        <li v-for="(item,index) in aboutArea.AboutList"><i class="fa fa-arrow-circle-right"></i>{{item.Item}}</li>
                       
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="offers-sec" class="title about_us">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="ofr_box">
   
                        <svg x="0px" y="0px" width="75px" height="75px" viewBox="0 0 75 75" enable-background="new 0 0 75 75" xml:space="preserve">
                            <path d="M53.303,32.773l10.03-14.592c0.199-0.289,0.221-0.665,0.059-0.976c-0.163-0.31-0.486-0.504-0.837-0.504
                                H34.191v-3.782c0-0.523-0.422-0.945-0.945-0.945H13.391v-1.891c0-0.523-0.422-0.945-0.945-0.945S11.5,9.559,11.5,10.082v2.836
                                v27.418v24.582c0,0.523,0.422,0.945,0.945,0.945s0.945-0.422,0.945-0.945V41.282h10.425c-0.6,0.791-0.97,1.768-0.97,2.836
                                c0,2.606,2.121,4.728,4.728,4.728h34.982c0.351,0,0.674-0.195,0.837-0.506c0.163-0.31,0.141-0.687-0.059-0.975L53.303,32.773z
                                 M13.391,13.864H32.3v3.782v21.745h-4.727H13.391V13.864z M27.573,46.954c-1.564,0-2.836-1.272-2.836-2.836s1.272-2.836,2.836-2.836
                                h5.673c0.523,0,0.945-0.423,0.945-0.946V18.591h26.566l-9.381,13.647c-0.222,0.322-0.222,0.749,0,1.071l9.381,13.645H27.573z" />
                            </svg>   
                           <div class="content">
                            <h4>{{aboutArea.Our_Mission_Label}}</h4>
                                <p v-html="aboutArea.Our_Mission_Description"></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="ofr_box ofr_box2">
                   <div class="content">
                                          <svg x="0px" y="0px" width="75px" height="75px" viewBox="0 0 75 75" enable-background="new 0 0 75 75" xml:space="preserve">
<g>
                        <path d="M56.352,32.439c-10.442-10.443-27.433-10.443-37.875,0l-6.975,6.974l7.148,7.148
		c5.221,5.221,12.08,7.832,18.938,7.832s13.716-2.61,18.938-7.832l6.976-6.976L56.352,32.439z M55.283,45.318
		c-9.759,9.758-25.634,9.758-35.392,0l-5.906-5.905l5.732-5.733c9.758-9.757,25.634-9.757,35.392,0l5.906,5.906L55.283,45.318z" />
                        <path d="M36.598,32.447c-3.391,0-6.148,2.758-6.148,6.149c0,0.484,0.393,0.878,0.878,0.878s0.878-0.394,0.878-0.878
		c0-2.422,1.97-4.392,4.392-4.392c0.484,0,0.878-0.394,0.878-0.878S37.083,32.447,36.598,32.447z" />
                        <path d="M37.476,28.055c-6.296,0-11.418,5.123-11.418,11.418s5.123,11.419,11.418,11.419
		s11.418-5.123,11.418-11.419S43.772,28.055,37.476,28.055z M37.476,49.136c-5.327,0-9.662-4.335-9.662-9.662
		s4.334-9.662,9.662-9.662s9.662,4.334,9.662,9.662S42.804,49.136,37.476,49.136z" />
</g>
</svg>
                            <h4>{{aboutArea.Our_vision_Label}}</h4>
                       
                            <p v-html="aboutArea.Our_Vision_Description"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>
    <footer>
        <footeritem></footeritem>
       </footer>
<script src="/assets/js/vue.min.js?v=202002060000"></script>
<script src="/assets/js/vue-i18n.js?v=201912240000"></script>
<script src="/assets/js/axios.min.js?v=201912240000"></script>  
<script src="assets/js/jquery.min.js"></script> 
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/pluggins/alertifyJs/alertify.min.js"></script>
<script src="/Resources/HubUrls/HubServiceUrls.js?v=202008060000"></script>
<script src="/assets/js/vue-loading-overlay@3.min.js"></script>
<script>
    Vue.use(VueLoading);
    Vue.component('loading', VueLoading)
</script>

<script src="/CommonFuntions/CommonFunctions.js?v=202008240000"></script>
<script src="/CommonFuntions/ExtentionMethods.js?v=201905200000"></script>
<script src="serviceJS/about.js"></script>
<script src="master/master.js"></script>
</body>
</html>