﻿<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Index</title>
    <link rel="shortcut icon" href="website-informations/favicon/favi.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link href="assets/css/media.css" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="assets/pluggins/alertifyJs/alertify.min.css?v=1034" rel="stylesheet" />
    <link href="assets/pluggins/alertifyJs/default.min.css?v=1034" rel="stylesheet" />
    <link href="/assets/css/vue-loading.css" rel="stylesheet" type="text/css">
    <style>
        [v-cloak] {
          display: none;
        }
      </style>
      </head>
        <body>
        <header>
          <headeritem></headeritem>
      </header>
      <div id="index" v-cloak>
        <div class="vld-parent">
            <loading :active.sync="isLoading" :can-cancel="true" :is-full-page="fullPage"></loading>
        </div>
    <section class="main_banner" :style="{background:'url('+pageContents.Banner_Image_1920x871px+')'}">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-5 col-sm-5 col-xs-12">
                    <div class="login_div">
                        <h2>{{pageContents.Agency_Login_Label}}</h2>
                        <form action="javascript:sendLogin()">
                            <div class="login-form">
                                <div class="sec">
                                    <input name="agnecy-code" id="txtAgencyCode" class="form-control" type="text" :placeholder="pageContents.Agency_Code_Placeholder">
                                </div>
                                <div class="sec">
                                    <input name="username" id="txtUname" class="form-control" type="text" :placeholder="pageContents.User_Name_Placeholder">
                                </div>
                                <div class="sec">
                                    <input name="password" id="txtPwd" class="form-control" type="password" :placeholder="pageContents.Password_Placeholder">
                                </div>
                                <div class="sec">
                                    <button class="login_btn loginbtn01">{{pageContents.Login_Label}}</button>
                                    <div id="loginLoader" class="btn_load" style="display:none;"><i class="fa fa-spinner fa-spin"></i></div>
                                    <a href="#" class="forgot forgot_click">{{pageContents.Forgot_Your_Password_Label}}</a>
                                </div>

                            </div>
                        </form>
                        <div class="forgot_form">
                            <form action="javascript:forgotPassword()">
                                <div class="sec">
                                    <input type="text" class="form-control" id="txtAgency" :placeholder="pageContents.Agency_Code_Placeholder">
                                </div>
                                <div class="sec">
                                    <input type="text" class="form-control" id="txtEmail" :placeholder="pageContents.Email_Id_Placeholder">
                                </div>
                                <div class="sec">
                                    <button class="login_btn" id="btnForgot">{{pageContents.Send_Button_Label}}</button>
                                    <div id="loderForgot" class="btn_load" style="display:none"><i class="fa fa-spinner fa-spin"></i></div>
                                </div>
                            </form>
                            <a class="back"><i class="fa fa-arrow-left" aria-hidden="true"></i>{{pageContents.Back_To_Login}}</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-6 hidden-xs pull-right">
                    <h1><span>{{pageContents.Heading1}}</span><br> {{pageContents.Heading_2}}</h1>
                    <p>
                       {{pageContents.Description}}
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="offers-sec" class="title">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2><span>{{pageContents.Offers_Heading1}}</span> {{pageContents.Offers_Heading2}}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="ofr_box">
                        <svg x="0px" y="0px" width="75px" height="75px" viewBox="0 0 75 75" enable-background="new 0 0 75 75" xml:space="preserve"> <g> <path d="M35.999,37.565c-0.397,0.396-0.397,1.04,0,1.437c0.397,0.396,1.04,0.396,1.437,0 c0.397-0.397,0.397-1.041,0-1.437C37.039,37.168,36.396,37.168,35.999,37.565z" /> <path d="M52.148,14.471c-1.743,1.349-2.218,2.045-8.398,8.162l-3.706-0.604l1.7-1.701 c1.191-1.191,1.191-3.118,0-4.309c-1.19-1.19-3.118-1.191-4.309,0l-4.803,4.803l-16.797-2.735c-1.085-0.176-2.196,0.183-2.973,0.96 c-1.494,1.494-1.291,3.965,0.413,5.198l16.738,12.122l-3.134,3.135c-1.074,1.073-2.204,2.551-3.366,4.395l-7.806-2.295 c-1.152-0.339-2.396-0.021-3.247,0.828c-1.449,1.448-1.23,3.854,0.453,5.021l6.399,4.43c-1.114,2.458-1.791,4.236-1.822,4.318 c-0.142,0.374-0.051,0.796,0.231,1.079c0.284,0.283,0.707,0.372,1.079,0.23c0.083-0.03,1.86-0.708,4.318-1.822l4.431,6.399 c1.167,1.686,3.574,1.899,5.021,0.452c0.849-0.851,1.166-2.095,0.827-3.246l-2.295-7.806c1.846-1.163,3.322-2.293,4.396-3.366 l3.135-3.134l12.121,16.738c1.235,1.706,3.706,1.905,5.198,0.413c0.776-0.776,1.136-1.888,0.96-2.974l-2.734-16.796l4.802-4.802 c1.191-1.191,1.191-3.119,0-4.31c-1.19-1.191-3.117-1.191-4.309,0l-1.7,1.701l-0.604-3.706c6.124-6.188,6.808-6.651,8.158-8.394 c0.002-0.002,0.004-0.004,0.005-0.007c3.133-4.06,3.866-8.16,1.823-10.204C60.311,10.604,56.21,11.337,52.148,14.471z M38.871,17.457c0.396-0.397,1.04-0.397,1.438,0c0.396,0.397,0.396,1.039,0,1.436l-2.736,2.735l-2.47-0.402L38.871,17.457z M14.467,22.601c-0.695-0.502-0.775-1.509-0.167-2.116c0.316-0.316,0.769-0.463,1.21-0.391l26.47,4.31l-10.511,10.51L14.467,22.601 z M13.897,43.867c0.325-0.324,0.799-0.445,1.238-0.316l7.301,2.147c-0.747,1.308-1.5,2.752-2.251,4.315l-6.114-4.232 C13.429,45.337,13.345,44.419,13.897,43.867z M31.134,61.103c-0.547,0.548-1.466,0.474-1.915-0.173l-4.232-6.114 c1.564-0.753,3.009-1.507,4.315-2.252l2.147,7.301C31.579,60.304,31.458,60.778,31.134,61.103z M56.107,34.692 c0.397-0.396,1.039-0.397,1.437,0c0.396,0.397,0.396,1.04,0,1.438l-3.769,3.768l-0.402-2.471L56.107,34.692z M54.907,59.489 c0.071,0.442-0.075,0.896-0.391,1.212c-0.604,0.604-1.612,0.53-2.117-0.168L40.087,43.531l10.511-10.511L54.907,59.489z M34.062,46.684c-1.118,1.118-2.753,2.325-4.862,3.588c-2.74,1.641-5.983,3.195-8.909,4.438c1.276-3.004,2.86-6.3,4.537-9.072 c1.227-2.028,2.4-3.609,3.489-4.698c24.809-24.75,23.339-23.473,24.845-24.677c1.67-0.107,3.141,0.389,4.164,1.413 c1.023,1.024,1.52,2.495,1.413,4.164C57.532,23.347,58.794,21.892,34.062,46.684z M60.478,19.169 c-0.325-1.12-0.901-2.118-1.715-2.932c-0.813-0.813-1.812-1.39-2.931-1.715c1.47-0.745,3.944-1.58,5.085-0.44 C61.818,14.984,61.594,16.967,60.478,19.169z" /> <path d="M41.744,31.82l-2.872,2.872c-0.396,0.396-0.396,1.04,0,1.437s1.039,0.396,1.437,0l2.872-2.873 c0.396-0.396,0.396-1.04,0-1.436C42.784,31.423,42.142,31.423,41.744,31.82z" /> <path d="M47.49,26.074l-2.874,2.873c-0.396,0.397-0.396,1.04,0,1.437c0.397,0.396,1.04,0.396,1.437,0l2.873-2.873 c0.397-0.396,0.397-1.04,0-1.437C48.529,25.678,47.887,25.678,47.49,26.074z" /> </g> </svg>
                        <div class="content">
                            <h4>{{pageContents.Flight_Label}}</h4>
                            <p>{{pageContents.Flight_Description}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="ofr_box ofr_box2">
                        <svg x="0px" y="0px" width="75px" height="75px" viewBox="0 0 75 75" enable-background="new 0 0 75 75" xml:space="preserve"> <g> <g> <g> <path d="M62.634,18.733H53.1V11.8c0-0.479-0.388-0.867-0.866-0.867H22.767c-0.479,0-0.867,0.388-0.867,0.867 v12.133h-9.533c-0.479,0-0.867,0.388-0.867,0.867v35.533c0,0.479,0.388,0.867,0.867,0.867s0.867-0.389,0.867-0.867V25.667H21.9 V61.2c0,0.479,0.388,0.866,0.867,0.866h29.467c0.479,0,0.866-0.388,0.866-0.866V20.467h8.667v39.866 c0,0.479,0.388,0.867,0.867,0.867c0.479,0,0.866-0.389,0.866-0.867V19.6C63.5,19.122,63.112,18.733,62.634,18.733z M36.633,60.333h-3.467v-7.8h3.467V60.333z M41.833,60.333h-3.467v-7.8h3.467V60.333z M51.366,60.333h-7.8v-8.666 c0-0.479-0.388-0.867-0.866-0.867H32.3c-0.479,0-0.867,0.389-0.867,0.867v8.666h-7.8V12.667h27.733V60.333z" /> </g> </g> <g> <g> <path d="M31.433,14.4h-5.2c-0.479,0-0.867,0.388-0.867,0.867v5.2c0,0.479,0.388,0.867,0.867,0.867h5.2 c0.479,0,0.867-0.388,0.867-0.867v-5.2C32.3,14.788,31.912,14.4,31.433,14.4z M30.567,19.6H27.1v-3.467h3.467V19.6z" /> </g> </g> <g> <g> <path d="M40.1,14.4h-5.2c-0.479,0-0.867,0.388-0.867,0.867v5.2c0,0.479,0.388,0.867,0.867,0.867h5.2 c0.479,0,0.867-0.388,0.867-0.867v-5.2C40.967,14.788,40.578,14.4,40.1,14.4z M39.233,19.6h-3.467v-3.467h3.467V19.6z" /> </g> </g> <g> <g> <path d="M48.767,14.4h-5.2c-0.479,0-0.866,0.388-0.866,0.867v5.2c0,0.479,0.388,0.867,0.866,0.867h5.2 c0.479,0,0.867-0.388,0.867-0.867v-5.2C49.634,14.788,49.245,14.4,48.767,14.4z M47.9,19.6h-3.467v-3.467H47.9V19.6z" /> </g> </g> <g> <g> <path d="M31.433,23.067h-5.2c-0.479,0-0.867,0.388-0.867,0.866v5.2c0,0.479,0.388,0.867,0.867,0.867h5.2 c0.479,0,0.867-0.388,0.867-0.867v-5.2C32.3,23.455,31.912,23.067,31.433,23.067z M30.567,28.267H27.1V24.8h3.467V28.267z" /> </g> </g> <g> <g> <path d="M40.1,23.067h-5.2c-0.479,0-0.867,0.388-0.867,0.866v5.2c0,0.479,0.388,0.867,0.867,0.867h5.2 c0.479,0,0.867-0.388,0.867-0.867v-5.2C40.967,23.455,40.578,23.067,40.1,23.067z M39.233,28.267h-3.467V24.8h3.467V28.267z" /> </g> </g> <g> <g> <path d="M48.767,23.067h-5.2c-0.479,0-0.866,0.388-0.866,0.866v5.2c0,0.479,0.388,0.867,0.866,0.867h5.2 c0.479,0,0.867-0.388,0.867-0.867v-5.2C49.634,23.455,49.245,23.067,48.767,23.067z M47.9,28.267h-3.467V24.8H47.9V28.267z" /> </g> </g> <g> <g> <path d="M31.433,31.733h-5.2c-0.479,0-0.867,0.388-0.867,0.867v5.2c0,0.479,0.388,0.867,0.867,0.867h5.2 c0.479,0,0.867-0.389,0.867-0.867v-5.2C32.3,32.122,31.912,31.733,31.433,31.733z M30.567,36.933H27.1v-3.466h3.467V36.933z" /> </g> </g> <g> <g> <path d="M40.1,31.733h-5.2c-0.479,0-0.867,0.388-0.867,0.867v5.2c0,0.479,0.388,0.867,0.867,0.867h5.2 c0.479,0,0.867-0.389,0.867-0.867v-5.2C40.967,32.122,40.578,31.733,40.1,31.733z M39.233,36.933h-3.467v-3.466h3.467V36.933z" /> </g> </g> <g> <g> <path d="M48.767,31.733h-5.2c-0.479,0-0.866,0.388-0.866,0.867v5.2c0,0.479,0.388,0.867,0.866,0.867h5.2 c0.479,0,0.867-0.389,0.867-0.867v-5.2C49.634,32.122,49.245,31.733,48.767,31.733z M47.9,36.933h-3.467v-3.466H47.9V36.933z" /> </g> </g> <g> <g> <path d="M31.433,40.4h-5.2c-0.479,0-0.867,0.388-0.867,0.866v5.2c0,0.479,0.388,0.866,0.867,0.866h5.2 c0.479,0,0.867-0.388,0.867-0.866v-5.2C32.3,40.788,31.912,40.4,31.433,40.4z M30.567,45.6H27.1v-3.466h3.467V45.6z" /> </g> </g> <g> <g> <path d="M40.1,40.4h-5.2c-0.479,0-0.867,0.388-0.867,0.866v5.2c0,0.479,0.388,0.866,0.867,0.866h5.2 c0.479,0,0.867-0.388,0.867-0.866v-5.2C40.967,40.788,40.578,40.4,40.1,40.4z M39.233,45.6h-3.467v-3.466h3.467V45.6z" /> </g> </g> <g> <g> <path d="M48.767,40.4h-5.2c-0.479,0-0.866,0.388-0.866,0.866v5.2c0,0.479,0.388,0.866,0.866,0.866h5.2 c0.479,0,0.867-0.388,0.867-0.866v-5.2C49.634,40.788,49.245,40.4,48.767,40.4z M47.9,45.6h-3.467v-3.466H47.9V45.6z" /> </g> </g> <g> <g> <path d="M16.7,27.4h-0.867c-0.479,0-0.867,0.388-0.867,0.867v0.867c0,0.479,0.388,0.867,0.867,0.867H16.7 c0.479,0,0.867-0.388,0.867-0.867v-0.867C17.567,27.788,17.179,27.4,16.7,27.4z" /> </g> </g> <g> <g> <path d="M20.167,27.4H19.3c-0.479,0-0.867,0.388-0.867,0.867v0.867c0,0.479,0.388,0.867,0.867,0.867h0.867 c0.479,0,0.867-0.388,0.867-0.867v-0.867C21.033,27.788,20.646,27.4,20.167,27.4z" /> </g> </g> <g> <g> <path d="M16.7,30.867h-0.867c-0.479,0-0.867,0.388-0.867,0.867V32.6c0,0.479,0.388,0.867,0.867,0.867H16.7 c0.479,0,0.867-0.388,0.867-0.867v-0.867C17.567,31.255,17.179,30.867,16.7,30.867z" /> </g> </g> <g> <g> <path d="M20.167,30.867H19.3c-0.479,0-0.867,0.388-0.867,0.867V32.6c0,0.479,0.388,0.867,0.867,0.867h0.867 c0.479,0,0.867-0.388,0.867-0.867v-0.867C21.033,31.255,20.646,30.867,20.167,30.867z" /> </g> </g> <g> <g> <path d="M16.7,34.333h-0.867c-0.479,0-0.867,0.388-0.867,0.867v0.867c0,0.479,0.388,0.866,0.867,0.866H16.7 c0.479,0,0.867-0.388,0.867-0.866V35.2C17.567,34.721,17.179,34.333,16.7,34.333z" /> </g> </g> <g> <g> <path d="M20.167,34.333H19.3c-0.479,0-0.867,0.388-0.867,0.867v0.867c0,0.479,0.388,0.866,0.867,0.866h0.867 c0.479,0,0.867-0.388,0.867-0.866V35.2C21.033,34.721,20.646,34.333,20.167,34.333z" /> </g> </g> <g> <g> <path d="M16.7,37.8h-0.867c-0.479,0-0.867,0.389-0.867,0.867v0.866c0,0.479,0.388,0.867,0.867,0.867H16.7 c0.479,0,0.867-0.389,0.867-0.867v-0.866C17.567,38.188,17.179,37.8,16.7,37.8z" /> </g> </g> <g> <g> <path d="M20.167,37.8H19.3c-0.479,0-0.867,0.389-0.867,0.867v0.866c0,0.479,0.388,0.867,0.867,0.867h0.867 c0.479,0,0.867-0.389,0.867-0.867v-0.866C21.033,38.188,20.646,37.8,20.167,37.8z" /> </g> </g> <g> <g> <path d="M16.7,41.267h-0.867c-0.479,0-0.867,0.388-0.867,0.867V43c0,0.479,0.388,0.866,0.867,0.866H16.7 c0.479,0,0.867-0.388,0.867-0.866v-0.866C17.567,41.654,17.179,41.267,16.7,41.267z" /> </g> </g> <g> <g> <path d="M20.167,41.267H19.3c-0.479,0-0.867,0.388-0.867,0.867V43c0,0.479,0.388,0.866,0.867,0.866h0.867 c0.479,0,0.867-0.388,0.867-0.866v-0.866C21.033,41.654,20.646,41.267,20.167,41.267z" /> </g> </g> <g> <g> <path d="M16.7,44.733h-0.867c-0.479,0-0.867,0.388-0.867,0.866v0.867c0,0.479,0.388,0.866,0.867,0.866H16.7 c0.479,0,0.867-0.388,0.867-0.866V45.6C17.567,45.121,17.179,44.733,16.7,44.733z" /> </g> </g> <g> <g> <path d="M20.167,44.733H19.3c-0.479,0-0.867,0.388-0.867,0.866v0.867c0,0.479,0.388,0.866,0.867,0.866h0.867 c0.479,0,0.867-0.388,0.867-0.866V45.6C21.033,45.121,20.646,44.733,20.167,44.733z" /> </g> </g> <g> <g> <path d="M16.7,48.2h-0.867c-0.479,0-0.867,0.388-0.867,0.866v0.867c0,0.479,0.388,0.866,0.867,0.866H16.7 c0.479,0,0.867-0.388,0.867-0.866v-0.867C17.567,48.588,17.179,48.2,16.7,48.2z" /> </g> </g> <g> <g> <path d="M20.167,48.2H19.3c-0.479,0-0.867,0.388-0.867,0.866v0.867c0,0.479,0.388,0.866,0.867,0.866h0.867 c0.479,0,0.867-0.388,0.867-0.866v-0.867C21.033,48.588,20.646,48.2,20.167,48.2z" /> </g> </g> <g> <g> <path d="M16.7,51.667h-0.867c-0.479,0-0.867,0.388-0.867,0.866V53.4c0,0.479,0.388,0.866,0.867,0.866H16.7 c0.479,0,0.867-0.388,0.867-0.866v-0.867C17.567,52.055,17.179,51.667,16.7,51.667z" /> </g> </g> <g> <g> <path d="M20.167,51.667H19.3c-0.479,0-0.867,0.388-0.867,0.866V53.4c0,0.479,0.388,0.866,0.867,0.866h0.867 c0.479,0,0.867-0.388,0.867-0.866v-0.867C21.033,52.055,20.646,51.667,20.167,51.667z" /> </g> </g> <g> <g> <path d="M16.7,55.134h-0.867c-0.479,0-0.867,0.388-0.867,0.866v0.866c0,0.479,0.388,0.867,0.867,0.867H16.7 c0.479,0,0.867-0.388,0.867-0.867V56C17.567,55.521,17.179,55.134,16.7,55.134z" /> </g> </g> <g> <g> <path d="M20.167,55.134H19.3c-0.479,0-0.867,0.388-0.867,0.866v0.866c0,0.479,0.388,0.867,0.867,0.867h0.867 c0.479,0,0.867-0.388,0.867-0.867V56C21.033,55.521,20.646,55.134,20.167,55.134z" /> </g> </g> <g> <g> <path d="M59.167,22.2H55.7c-0.479,0-0.867,0.388-0.867,0.867v3.466c0,0.479,0.389,0.867,0.867,0.867h3.467 c0.479,0,0.866-0.388,0.866-0.867v-3.466C60.033,22.588,59.646,22.2,59.167,22.2z M58.3,25.667h-1.733v-1.733H58.3V25.667z" /> </g> </g> <g> <g> <path d="M59.167,29.133H55.7c-0.479,0-0.867,0.388-0.867,0.867v3.467c0,0.479,0.389,0.867,0.867,0.867h3.467 c0.479,0,0.866-0.388,0.866-0.867V30C60.033,29.521,59.646,29.133,59.167,29.133z M58.3,32.6h-1.733v-1.733H58.3V32.6z" /> </g> </g> <g> <g> <path d="M59.167,36.067H55.7c-0.479,0-0.867,0.388-0.867,0.866V40.4c0,0.479,0.389,0.866,0.867,0.866h3.467 c0.479,0,0.866-0.388,0.866-0.866v-3.467C60.033,36.455,59.646,36.067,59.167,36.067z M58.3,39.533h-1.733V37.8H58.3V39.533z" /> </g> </g> <g> <g> <path d="M59.167,43H55.7c-0.479,0-0.867,0.388-0.867,0.866v3.467c0,0.479,0.389,0.867,0.867,0.867h3.467 c0.479,0,0.866-0.389,0.866-0.867v-3.467C60.033,43.388,59.646,43,59.167,43z M58.3,46.467h-1.733v-1.733H58.3V46.467z" /> </g> </g> <g> <g> <path d="M59.167,49.934H55.7c-0.479,0-0.867,0.388-0.867,0.866v3.467c0,0.479,0.389,0.867,0.867,0.867h3.467 c0.479,0,0.866-0.389,0.866-0.867V50.8C60.033,50.321,59.646,49.934,59.167,49.934z M58.3,53.4h-1.733v-1.733H58.3V53.4z" /> </g> </g> </g> </svg>
                        <div class="content">
                            <h4>{{pageContents.Hotel_Label}}</h4>
                            <p>{{pageContents.Hotel_Description}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="ofr_box">
                        <svg x="0px" y="0px" width="75px" height="75px" viewBox="0 0 75 75" enable-background="new 0 0 75 75" xml:space="preserve"> <g> <g> <g> <path d="M14.571,21.04c0.237,0.154,0.534,0.181,0.796,0.074c0.262-0.105,0.454-0.333,0.519-0.607 c0.182-0.79,0.874-1.342,1.682-1.342c0.315,0,0.624,0.086,0.891,0.249c0.409,0.248,0.943,0.118,1.189-0.292 c0.25-0.41,0.119-0.943-0.291-1.19c-0.538-0.327-1.158-0.5-1.79-0.5c-1.284,0-2.424,0.695-3.021,1.772 c-0.146-0.026-0.296-0.039-0.446-0.039c-1.433,0-2.6,1.167-2.6,2.6s1.167,2.6,2.6,2.6h2.6c0.479,0,0.867-0.388,0.867-0.867 s-0.387-0.867-0.867-0.867h-2.6c-0.479,0-0.867-0.389-0.867-0.867C13.234,21.122,14.005,20.676,14.571,21.04z" /> <path d="M54.578,15.447c0.252-0.248,0.783-0.615,1.123-0.615c0.698,0,0.856,0.477,0.866,0.866 c0,0.001,0,0.002,0,0.004c0,0.001,0,0.003,0,0.003v0.002v0.002v0c0,0,0,0,0,0.001c0.008,0.473,0.393,0.854,0.867,0.854 c0.476,0,0.862-0.383,0.866-0.858c0.011-0.399,0.17-0.875,0.867-0.875c0.34,0,0.871,0.367,1.12,0.612 c0.339,0.339,0.887,0.339,1.226,0c0.339-0.338,0.339-0.886,0-1.225c-0.114-0.115-1.154-1.121-2.346-1.121 c-0.76,0-1.326,0.246-1.733,0.609c-0.407-0.363-0.975-0.609-1.733-0.609c-1.191,0-2.231,1.006-2.347,1.121 c-0.338,0.337-0.338,0.883,0,1.222C53.688,15.779,54.236,15.783,54.578,15.447z" /> <path d="M61.494,41.767c-0.705-2.082-2.682-3.534-4.926-3.534c-0.479,0-0.867,0.388-0.867,0.866 s0.388,0.866,0.867,0.866c1.644,0,3.073,1.17,3.396,2.779c0.086,0.425,0.486,0.725,0.901,0.694 c0.031-0.001,0.062-0.005,0.046-0.006c0.474,0.006,0.855,0.393,0.855,0.866c0,0.478-0.388,0.866-0.866,0.866h-9.533 c-0.479,0-0.867,0.389-0.867,0.867c0,0.478,0.388,0.866,0.867,0.866h9.533c1.434,0,2.6-1.167,2.6-2.6 C63.501,43.068,62.644,42.036,61.494,41.767z" /> <path d="M37.501,10.499c-0.029,0-0.057,0.004-0.087,0.004h-0.001c-10.825,0.045-18.978,8.223-18.978,19.063 c0,5.291,3.402,9.896,6.692,14.35c2.797,3.787,5.441,7.364,5.441,10.783v5.2c0,1.434,1.167,2.6,2.6,2.6h8.666 c1.434,0,2.601-1.166,2.601-2.6v-5.2c0-0.479-0.388-0.866-0.867-0.866h-8.666c-0.479,0-0.867,0.388-0.867,0.866 s0.387,0.867,0.867,0.867h7.8v4.333c0,0.478-0.389,0.867-0.866,0.867h-8.667c-0.479,0-0.867-0.39-0.867-0.867v-5.2 c0-3.989-2.808-7.79-5.781-11.814c-3.123-4.228-6.353-8.599-6.353-13.318c0-8.852,5.985-15.734,14.334-17.078 c-2.962,2.588-7.401,7.98-7.401,17.078c0,6.903,2.204,11.572,3.975,15.324c1.169,2.477,2.092,4.433,2.092,6.342 c0,0.479,0.387,0.867,0.866,0.867c0.479,0,0.867-0.389,0.867-0.867c0-2.297-1.046-4.515-2.258-7.082 c-1.697-3.595-3.808-8.069-3.808-14.584c0-9.584,5.288-14.696,7.8-16.583v38.249c0,0.479,0.388,0.867,0.867,0.867 c0.479,0,0.867-0.389,0.867-0.867V12.982c2.511,1.887,7.8,6.999,7.8,16.583c0,6.515-2.112,10.989-3.81,14.584 c-1.211,2.567-2.257,4.785-2.257,7.083c0,0.478,0.387,0.866,0.866,0.866s0.866-0.389,0.866-0.866c0-1.91,0.924-3.866,2.093-6.343 c1.771-3.752,3.975-8.421,3.975-15.324c0-9.098-4.438-14.49-7.4-17.078c8.349,1.344,14.334,8.227,14.334,17.078 c0,5.228-3.411,9.479-6.421,13.229c-2.283,2.846-4.439,5.533-4.838,8.313c-0.067,0.475,0.262,0.914,0.735,0.981 c0.477,0.067,0.913-0.262,0.981-0.735c0.33-2.311,2.342-4.819,4.473-7.475c3.188-3.974,6.803-8.478,6.803-14.314 C56.567,18.695,48.371,10.499,37.501,10.499z" /> </g> </g> </g> </svg>
                        <div class="content">
                            <h4>{{pageContents.Tours_Label}}</h4>
                            <p>{{pageContents.Tours_Description}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="ofr_box ofr_box2">
                        <svg x="0px" y="0px" width="75px" height="75px" viewBox="0 0 75 75" enable-background="new 0 0 75 75" xml:space="preserve"> <g> <path d="M37.5,23.688c-0.561,0-1.016,0.455-1.016,1.016s0.455,1.016,1.016,1.016s1.016-0.455,1.016-1.016 S38.061,23.688,37.5,23.688z" /> <path d="M38.516,15.581v-3.065c0-0.561-0.455-1.016-1.016-1.016c-0.561,0-1.016,0.455-1.016,1.016v3.065 c-12.411,0.395-23.177,7.957-24.775,20.094c-0.138,0.395-0.209,0.804-0.209,1.216c0,0.561,0.455,1.016,1.016,1.016 c0.013,0,0.025-0.001,0.038-0.002c0.016,0.001,0.031,0.002,0.047,0.002c0.522,0,0.966-0.401,1.011-0.931 c0.023-0.272,0.05-0.537,0.081-0.792c0.604-1.341,2.751-2.339,5.07-2.339c2.786,0,5.23,1.424,5.23,3.047 c0,0.561,0.455,1.016,1.016,1.016c0.023,0,0.046-0.002,0.069-0.003c0.011,0,0.022,0,0.033-0.002c0.003,0,0.007,0,0.01-0.001 c0.502-0.05,0.904-0.471,0.915-0.991c0.001-0.081,0.003-0.164,0.006-0.247c0.22-1.531,2.593-2.819,5.213-2.819 c2.786,0,5.23,1.424,5.23,3.047V47.25h-1.016c-0.561,0-1.016,0.455-1.016,1.016v8.125c0,0.561-0.456,1.016-1.016,1.016 s-1.016-0.455-1.016-1.016c0-1.68-1.367-3.047-3.047-3.047s-3.047,1.367-3.047,3.047c0,3.92,3.189,7.109,7.109,7.109 s7.109-3.189,7.109-7.109v-8.125c0-0.561-0.455-1.016-1.016-1.016h-1.016V36.891c0-1.623,2.444-3.047,5.23-3.047 c2.622,0,4.997,1.29,5.213,2.815c0.003,0.083,0.005,0.166,0.007,0.25c0.01,0.522,0.411,0.944,0.919,0.992 c0.035,0.004,0.071,0.006,0.107,0.006c0.561,0,1.016-0.455,1.016-1.016c0-1.623,2.444-3.047,5.23-3.047 c2.318,0,4.465,0.998,5.07,2.339c0.03,0.256,0.058,0.521,0.08,0.792c0.045,0.53,0.488,0.931,1.011,0.931 c0.016,0,0.032-0.001,0.047-0.002c0.013,0.001,0.025,0.002,0.038,0.002c0.561,0,1.016-0.455,1.016-1.016 c0-0.413-0.071-0.822-0.21-1.216C61.694,23.551,50.942,15.976,38.516,15.581z M24.211,33.54c-1.332-1.058-3.281-1.728-5.45-1.728 c-1.622,0-3.146,0.377-4.376,1.025c2.148-7.188,8.24-12.524,16.287-14.454C26.634,22.049,24.774,28.116,24.211,33.54z M38.516,56.391c0,2.8-2.278,5.078-5.078,5.078s-5.078-2.278-5.078-5.078c0-0.561,0.456-1.016,1.016-1.016s1.016,0.455,1.016,1.016 c0,1.68,1.367,3.047,3.047,3.047s3.047-1.367,3.047-3.047v-7.109h2.031V56.391z M48.486,33.043c-1.323-0.793-3.007-1.23-4.74-1.23 c-2.053,0-3.908,0.6-5.23,1.561v-4.607c0-0.561-0.455-1.016-1.016-1.016c-0.561,0-1.016,0.455-1.016,1.016v4.607 c-1.322-0.961-3.177-1.561-5.23-1.561c-1.733,0-3.417,0.437-4.741,1.23c-0.073,0.044-0.144,0.089-0.213,0.135 c1.056-8.621,5.044-14.789,10.185-15.513v2.976c0,0.561,0.455,1.016,1.016,1.016c0.561,0,1.016-0.455,1.016-1.016v-2.976 c5.14,0.724,9.13,6.893,10.185,15.513C48.63,33.132,48.56,33.087,48.486,33.043z M56.238,31.813c-2.169,0-4.117,0.669-5.449,1.727 c-0.561-5.411-2.418-11.486-6.461-15.156c8.047,1.93,14.138,7.266,16.286,14.454C59.385,32.19,57.86,31.813,56.238,31.813z" /> </g> </svg>
                        <div class="content">
                            <h4>{{pageContents.Insurance_Label}}</h4>
                            <p>{{pageContents.Insurance_Description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
    <footer>
        <footeritem></footeritem>
    </footer>

    <script src="/assets/js/vue.min.js?v=202002060000"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js?v=1034"></script>
    <script src="assets/pluggins/moment/moment.min.js?v=1034"></script>
    <script src="assets/js/jquery.cookie.js?v=1034"></script>
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.1/build/alertify.min.js?v=1034"></script>
    <script src="assets/js/bootstrap.min.js"></script>
        <script src="/assets/js/vue-loading-overlay@3.min.js"></script>
        <script>
            Vue.use(VueLoading);
            Vue.component('loading', VueLoading)
        </script>
    <script src="assets/js/custom.js?v=201905200000"></script>
    <script src="website-informations/agencyInformations/AgencyInformation.js?v=1034"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202008060000"></script>
    <script src="/assets/js/axios.min.js?v=201912240000"></script>
    <script src="/CommonFuntions/ExtentionMethods.js?v=201905200000"></script>
        <script src="/Login/LoginComponents/js/login.js?v=202007160000"></script>
        <script src="master/master.js"></script>
    <script src="master/index.js"></script>
    
</body>
</html>