﻿<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="apple-touch-icon" href="#" />
    <link rel="shortcut icon" href="#" />
    <!-- Place favicon.ico in the root directory -->
    <meta name="theme-color" content="#fafafa" />

    <link rel="stylesheet" type="text/css" href="/assets/plugins/bootstrap/bootstrap.min.css?v=201905200000" />
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/NouiSlider/nouislider.css?v=201905250000" />
    <link rel="stylesheet" type="text/css" href="/assets/css/tabs.css?v=201911080000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/alertifyJs/alertify.min.css?v=201909230000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/alertifyJs/default.min.css?v=201905200000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/calendar/jquery-ui.css?v=201905260000" />
    <link rel="stylesheet" type="text/css" href="/assets/css/flight.css?v=202004280000" />
    <link href="/assets/css/breaking-news-ticker.min.css?v=201910040000" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/assets/plugins/primevue/css/theme.css?v=202005050000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/primevue/css/primevue.min.css?v=202005050000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/primevue/css/primeicons.css?v=202005050000" />
    <link rel="stylesheet" type="text/css" href="/assets/css/summernote.css?v=202005050000" />

</head>

<body>
    <section id="master_vue_element" class="wrapper">
        <!---------Main Header area------------>
        <header>
            <master-header></master-header>
        </header>
        <!---------Main Header area Close------------>
        <passportdetails-component inline-template>
            <div class="main_cont_area" v-cloak>
                <master-sidebar></master-sidebar>
                <div class="container">
                    <div class="search_area" style="width:100%;">
                        <h1>PASSPORT INFORMATION</h1>
                        <div class="search_field">
                            <div id="DivPassInfo" class="summary_duru" style="position:relative;width:100%;float:left;">
                                <!--passenger iteration-->
                                <div class="FormTravellerInfoBox">
                                    <div class="sec02">
                                        <template>
                                            <div>
                                                <div id="divTravellers" v-for="(item,index) in traveller">
                                                    <div class="main-head">
                                                        <h4>{{'Traveller '+ parseInt(index+1) }} :
                                                            {{ item.passengerType }}
                                                        </h4>
                                                    </div>
                                                    <div class="traveller_count">
                                                        <span>{{item.namePrefix}} </span> <span>{{item.givenName}}
                                                        </span>
                                                        <span>{{item.surname}}
                                                        </span>
                                                    </div>
                                                    <div class="contact_details">
                                                        <div class="contact_form_sec">
                                                            <div class="row_sec">
                                                                <!-- DOB -->
                                                                <div class="col-lg-4 col-md-4 col-sm-12 padding_8">
                                                                    <!-- <label v-if="item.paxTypeCode=='ADT'" data-myattri="DOB"
                                                                    name="txtDOB">{{Dob}}</label> -->
                                                                    <label data-myattri="DOB"
                                                                        name="txtDOB">{{'Date Of Birth'}}<span
                                                                            style="color: red;">*</span></label>
                                                                    <input class="cont_txt01_cldr sel_co_trvlr"
                                                                        style="cursor: pointer"
                                                                        :placeholder="'Date Of Birth'"
                                                                        :value="dateFormat(item.birthDate)" type="text"
                                                                        :tag="'dob_'+item.passengerType+'_'+index"
                                                                        :name="'dob'+index" data-vv-as=" "
                                                                        v-validate="'required'" :data-id="index"
                                                                        readonly />
                                                                    <p class="text-danger">
                                                                        {{ errors.first('dob'+index)}}</p>

                                                                </div>
                                                                <!-- Nationality -->
                                                                <div class="col-lg-4 col-md-4 col-sm-12 padding_8">
                                                                    <label>{{'Nationality'}}<span
                                                                            style="color: red;">*</span></label>
                                                                    <select class="cont_txt sel_co_trvlr"
                                                                        v-model="item.nationality"
                                                                        :name="'Nationality'+index" data-vv-as=" "
                                                                        v-validate="'required'" :data-id="index">
                                                                        <option value="">{{'Select Nationality'}}
                                                                        </option>
                                                                        <option v-for="country in country"
                                                                            v-bind:value="country.twoLetter">
                                                                            {{ country.name }}</option>
                                                                    </select>
                                                                    <p class="text-danger">
                                                                        {{ errors.first('Nationality'+index)}}</p>
                                                                </div>
                                                            </div>

                                                            <div class="row_sec">
                                                                <!-- Passport Number -->
                                                                <div class="col-lg-4 col-md-4 col-sm-12 padding_8">
                                                                    <label>{{'Passport Number'}}<span
                                                                        style="color: red;">*</span></label>
                                                                    <input type="text" name="text" autocomplete="off" v-validate="'required'"
                                                                        class="cont_txt01 sel_co_trvlr only_alpha lname"
                                                                        :placeholder="'Passport Number'"
                                                                        v-model="item.documentNumber" required>
                                                                </div>
                                                                <!-- Expiry Date -->
                                                                <div class="col-lg-4 col-md-4 col-sm-12 padding_8">
                                                                    <label data-myattri="Expiry_Date"
                                                                        name="txtDOB">{{'Expiry Date'}}<span
                                                                        style="color: red;">*</span></label>
                                                                    <input class="cont_txt01_cldr sel_co_trvlr"
                                                                        style="cursor: pointer" type="text"
                                                                        :placeholder="'Expiry Date'" readonly
                                                                        :value="dateFormat(item.expireDate)" v-validate="'required'"
                                                                        :tag="'exd_'+item.passengerType+'_'+index" />
                                                                </div>
                                                                <!-- Issue Country -->
                                                                <div class="col-lg-4 col-md-4 col-sm-12 padding_8">
                                                                    <label>{{'Issue Country'}}<span
                                                                        style="color: red;">*</span></label>
                                                                    <select class="cont_txt sel_co_trvlr" v-validate="'required'"
                                                                        v-model="item.docIssueCountry">
                                                                        <option value="">{{'Select Country'}}
                                                                        </option>
                                                                        <option v-for="country in country"
                                                                            v-bind:value="country.twoLetter">
                                                                            {{ country.name }}</option>
                                                                    </select>
                                                                </div>

                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="btm_sec">
                                                    <input type="button" :style="sendingRequest ? 'margin: 5px; pointer-events: none;' : 'margin: 5px;'" class="pay_now" id="Update"
                                                        :value="sendingRequest ? 'Processing...' : 'Update'" v-on:click="modifyPassport()">
                                                    <input v-if="!sendingRequest" type="button" style="margin: 5px" class="pay_now" id="Cancel"
                                                        :value="'Cancel'" @click="goBack()">
                                                </div>
                                            </div>
                                        </template>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </passportdetails-component>
        <!---------Main content area------------>

        <!---------Main content area------------>
        <!---------Main Footer area------------>
        <footer>
            <master-footer></master-footer>
        </footer>
        <!---------Main Footer area close------------>
    </section>
    <script type="text/javascript" src="/assets/js/jquery-3.3.1.min.js?v=201905200000"></script>
    <script src="/assets/js/jquery-news.min.js?v=201910290000"></script>
    <script type="text/javascript" src="/assets/plugins/bootstrap/bootstrap.min.js?v=201905200000"></script>
    <script src="/assets/js/jquery-ui.js?v=201905200000"></script>
    <script type="text/javascript" src="/assets/js/jquery-migrate.min.js?v=201912240000"></script>
    <script src="/assets/js/axios.min.js?v=201912240000"></script>
    <script src="/assets/js/vue.min.js?v=202002060000"></script>
    <script src="/assets/js/vue-i18n.js?v=201912240000"></script>
    <script src="/assets/js/underscore-min.js?v=201912240000"></script>
    <script src="/assets/plugins/alertifyJs/alertify.min.js?v=201905200000"></script>
    <script src="/assets/plugins/moment/moment.min.js?v=201907220000"></script>

    <script src="https://cdn.jsdelivr.net/npm/vee-validate@2.2.15/dist/vee-validate.min.js"></script>

    <script>
        Vue.use(VeeValidate, {
            classes: true,
            validity: true,
            immediate: false
        });
    </script>

    <script src="/assets/plugins/primevue/js/dialog.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/button.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/toolbar.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/inputtext.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/accordion.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/accordiontab.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/checkbox.umd.min.js?v=202005050000"></script>
    <script src="/assets/js/summernote.min.js?v=201912240000"></script>
    <script src="/Flights/assets/js/cabinclass.js"></script>
    <script src="/Flights/FlightComponents/js/svgs.js?v=201907240000"></script>
    <script src="/Flights/assets/js/Countries.js"></script>
    <script src="/Flights/assets/js/Airplanes.js"></script>
    <script src="/Flights/assets/js/Airlines.js"></script>
    <script src="/Flights/assets/js/UTCTime.js"></script>
    <script src="/Flights/FlightComponents/js/AirCommonServices.js?v=201907250000"></script>

    <script src="/assets/js/jspdf.min.js?v=201912240000"></script>
    <script src="/assets/js/html2canvas.min.js?v=201909010000"></script>

    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202008060000"></script>
    <script src="/Resources/Config/config.js?v=202002170000"></script>
    <script src="/Login/LoginComponents/js/login.js?v=202007160000"></script>
    <script src="/CommonFuntions/ExtentionMethods.js?v=201905200000"></script>
    <script src="/CommonFuntions/CommonFunctions.js?v=202009021530"></script>
    <script src="/Flights/FlightComponents/js/passportdetails.js?v=202201310000"></script>
    <script src="/CommonFuntions/MainComponents.js?v=202012180000"></script>
    <script src="/assets/js/highlight.pack.js?v=201910290000"></script>
</body>

</html>