﻿<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="apple-touch-icon" href="#" />
    <link rel="shortcut icon" href="#" />
    <!-- Place favicon.ico in the root directory -->
    <meta name="theme-color" content="#fafafa" />

    <link rel="stylesheet" type="text/css" href="/assets/plugins/bootstrap/bootstrap.min.css?v=201905200000" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/NouiSlider/nouislider.css?v=201905250000" />
    <link rel="stylesheet" type="text/css" href="/assets/css/tabs.css?v=201911080000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/alertifyJs/alertify.min.css?v=201909230000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/alertifyJs/default.min.css?v=201905200000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/calendar/jquery-ui.css?v=201905260000" />
    <link rel="stylesheet" type="text/css" href="/assets/css/flight.css?v=202004280000" />
    <link href="/assets/css/breaking-news-ticker.min.css?v=201910040000" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/assets/plugins/primevue/css/theme.css?v=202005050000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/primevue/css/primevue.min.css?v=202005050000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/primevue/css/primeicons.css?v=202005050000" />
    <link rel="stylesheet" type="text/css" href="/assets/css/summernote.css?v=202005050000" />

</head>

<body>
    <section id="master_vue_element" class="wrapper">
        <!---------Main Header area------------>
        <header>
            <master-header></master-header>
        </header>
        <!---------Main Header area Close------------>
        <pnrinfo-component inline-template>
            <div class="main_cont_area" v-cloak>
                <master-sidebar></master-sidebar>
                <div class="container">
                    <div class="search_area" id="divSearch" style="width:100%;">
                        <h1>{{Import_PNR}}</h1>
                        <div class="search_field bookinginfo_sec">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-6" id="ddlOpAirline">
                                    <div class="form_sec">
                                        <label>{{Supplier_Label}}</label>
                                        <select id="ddlSupplier" class="txt-srch" @change="changeSupplier()" v-model="supplier.selected">
                                          <option v-for="suplier in supplier.suppliers" :value="suplier.id">
                                            {{suplier.name}}</option>
                                        </select>
                                        <div class="drop_loader" v-if="showLoader" style="bottom:6px"><i class="fa fa-spinner fa-spin"></i></div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6">
                                    <div class="form_sec">
                                        <label>{{PNR_Label}}<span class="red">*</span></label>
                                        <input v-model="PnrNumber" type="text" class="txt-srch" placeholder="PNR" autocomplete="off">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6" v-if="[60].indexOf(supplier.selected) != -1">
                                    <div class="form_sec">
                                        <label>Last Name<span class="red">*</span></label>
                                        <input v-model="paxLastName" type="text" class="txt-srch" placeholder="Last Name" autocomplete="off">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6">
                                    <input type="button" id="btnImport" class="search5" :style="isSending? 'pointer-events: none':''" @click="airPnrImport" v-if="showBtnPnr" :value="isSending ? 'Processing' : Btn_Label">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12" id="ddlOpAirline">
                                    <div class="form_sec" style="margin-top: 15px;"> <span v-html="selectedDescription"> </span></div>
                                </div>
                                
                               

                            </div>

                        </div>
                    </div>
                    <div v-if="pnrShowLoader" id="divSearchRes" class="search_area" style="width: 100%;">
                        <div class="search_field table-responsive bookinginfo_sec" style="padding: 0px;">
                            <img id="loadingGIFFlSearchDet" src="/assets/images/Loading_red.gif" alt="" style="width:10%;height:10%; align-items: flex-start; " />
                            <table id="tableSearch" class="table table-hover srch_grid_style"></table>
                            <div id="divNoData" style="display: none">
                                <h1> available ! <i class="fa fa-database" aria-hidden="true"></i></h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </pnrinfo-component>
        <!---------Main content area------------>

        <!---------Main content area------------>
        <!---------Main Footer area------------>
        <footer>
            <master-footer></master-footer>
        </footer>
        <!---------Main Footer area close------------>
    </section>
    <script type="text/javascript" src="/assets/js/jquery-3.3.1.min.js?v=201905200000"></script>
    <script src="/assets/js/jquery-news.min.js?v=201910290000"></script>
    <script type="text/javascript" src="/assets/plugins/bootstrap/bootstrap.min.js?v=201905200000"></script>
    <script src="/assets/js/jquery-ui.js?v=201905200000"></script>
    <script type="text/javascript" src="/assets/js/jquery-migrate.min.js?v=201912240000"></script>
    <script src="/assets/js/axios.min.js?v=201912240000"></script>
    <script src="/assets/js/vue.min.js?v=202002060000"></script>
    <script src="/assets/js/vue-i18n.js?v=201912240000"></script>
    <script src="/assets/js/underscore-min.js?v=201912240000"></script>
    <script src="/assets/plugins/alertifyJs/alertify.min.js?v=201905200000"></script>
    <script src="/assets/plugins/moment/moment.min.js?v=201907220000"></script>

    <script src="/assets/plugins/primevue/js/dialog.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/button.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/toolbar.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/inputtext.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/accordion.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/accordiontab.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/checkbox.umd.min.js?v=202005050000"></script>
    <script src="/assets/js/summernote.min.js?v=201912240000"></script>
    <script src="/Flights/assets/js/cabinclass.js"></script>
    <script src="/Flights/FlightComponents/js/svgs.js?v=201907240000"></script>
    <script src="/Flights/assets/js/Airplanes.js"></script>
    <script src="/Flights/assets/js/Airlines.js"></script>
    <script src="/Flights/assets/js/UTCTime.js"></script>
    <script src="/Flights/FlightComponents/js/AirCommonServices.js?v=201907250000"></script>

    <script src="/assets/js/jspdf.min.js?v=201912240000"></script>
    <script src="/assets/js/html2canvas.min.js?v=201909010000"></script>

    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202008060000"></script>
    <script src="/Resources/Config/config.js?v=202002170000"></script>
    <script src="/Login/LoginComponents/js/login.js?v=202007160000"></script>
    <script src="/CommonFuntions/ExtentionMethods.js?v=201905200000"></script>
    <script src="/CommonFuntions/CommonFunctions.js?v=202009021530"></script>
    <script src="/Flights/FlightComponents/js/PnrImport.js?v=20220404000"></script>
    <script src="/CommonFuntions/MainComponents.js?v=202012180000"></script>
    <script src="/assets/js/highlight.pack.js?v=201910290000"></script>
</body>

</html>