<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="apple-touch-icon" href="#" />
    <link rel="shortcut icon" href="#" />
    <!-- Place favicon.ico in the root directory -->
    <meta name="theme-color" content="#fafafa" />

    <link rel="stylesheet" type="text/css" href="/assets/plugins/bootstrap/bootstrap.min.css?v=201905200000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/font-awesome/font-awesome.min.css?v=201905200000" />
    <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css?v=202009021530" />
    <link rel="stylesheet" type="text/css" href="/Hotels/HotelComponents/assets/css/hotel.css?v=202005040000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/calendar/jquery-ui.css?v=201905260000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/alertifyJs/alertify.min.css?v=201909230000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/alertifyJs/default.min.css?v=201905200000" />
    <link rel="stylesheet" type="text/css" href="/assets/css/datatables.min.css?v=201905200000" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/css/flag-icon.min.css">
    <link href="/assets/css/breaking-news-ticker.min.css?v=201910040000" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/Style.css?v=2019100400000" />

    <link rel="stylesheet" type="text/css" href="/assets/plugins/primevue/css/theme.css?v=202005050000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/primevue/css/primevue.min.css?v=202005050000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/primevue/css/primeicons.css?v=202005050000" />
    <link rel="stylesheet" type="text/css" href="/assets/css/summernote.css?v=202005050000" />

    <style>
        [v-cloak] {
            display: none;
        }

        .form_sec label {
            color: #454f69 !important;
        }

        .bookinginfo_sec {
            border: 1px solid rgba(0, 0, 0, 0.12);
        }
    </style>

</head>

<body>
    <!--[if IE]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->
    <section v-cloak id="master_vue_element" class="wrapper">
        <!---------Main Header area------------>
        <header>
            <master-header></master-header>
        </header>
        <div class="main_cont_area">
            <master-sidebar></master-sidebar>
            <div class="container paddingtopbottom20" v-cloak>
                <div>
                    <div class="search_area tabSearch" style="width:100%;">
                        <h1>My Quotations</h1>
                    </div>
                    <my-quotations inline-template>
                    <div class="search_area" style="width: 100%;" v-if="allQuotes.length>0">
                        <div class="search_field table-responsive bookinginfo_sec" style="margin-top: 20px;">
                            <table id="tableSearch" class="table table-responsive table-hover srch_grid_style01">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>To</th>
                                    <th>Subject</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(item, index) in allQuotes" :key="index" @click="getQuoteInfo(item)" style="cursor:pointer">
                                    <td>{{item.sentQuoteId}}</td>
                                    <td>{{item.mailTo}}</td>
                                    <td>{{item.subject}}</td>
                                    <td>{{momentLocale(item.date).format('DD MMM YYYY HH:mm')}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div></div>
                    </my-quotations>
                </div>
            </div>
        </div>
        <!---------Main Footer area------------>
        <footer>
            <master-footer></master-footer>
        </footer>
    </section>

    <!--js start-->
    <script src="/assets/js/modernizr.custom.js?v=201905200000"></script>
    <script src="/assets/js/jquery-3.3.1.min.js?v=201905200000"></script>
    <script src="/assets/js/jquery-news.min.js?v=201910290000"></script>
    <script src="/assets/js/jquery-migrate.min.js?v=201912240000"></script>
    <script src="/assets/plugins/calendar/jquery-ui.js?v=201905220000"></script>
    <script src="/assets/plugins/calendar/datepicker-i18n.js?v=201907220000"></script>
    <script src="/assets/js/bootstrap.min.js?v=201912240000"></script>
    <script src="/assets/js/axios.min.js?v=201912240000"></script>
    <script src="/assets/js/vue.min.js?v=202002060000"></script>
    <script src="/assets/js/vue-i18n.js?v=201912240000"></script>
    <script src="/assets/plugins/moment/moment.min.js?v=201907220000"></script>
    <script src="/assets/plugins/alertifyJs/alertify.min.js?v=201905200000"></script>
    <script src="/assets/js/elasticsearch.min.js?v=201908130000"></script>
    <script src="/assets/js/underscore-min.js?v=201912240000"></script>
    <script src="/Flights/assets/js/UTCTime.js?v=1034" defer></script>
    <script src="/Flights/FlightComponents/js/AirCommonServices.js?v=201907250000"></script>
    <script src="/Flights/assets/js/Airlines.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js?v=1034"></script>

    <script src="/assets/plugins/primevue/js/dialog.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/button.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/toolbar.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/inputtext.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/accordion.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/accordiontab.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/checkbox.umd.min.js?v=202005050000"></script>
    <script src="/assets/js/summernote.min.js?v=201912240000"></script>
    <script src="/Flights/assets/js/cabinclass.js"></script>
    <script src="/Flights/FlightComponents/js/svgs.js?v=201907240000"></script>
    <script src="/Flights/assets/js/Airplanes.js"></script>
        
    <script src="/assets/js/jspdf.min.js?v=201912240000"></script>
    <script src="/assets/js/html2canvas.min.js?v=201909010000"></script>

    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202008060000"></script>
    <script src="/Login/LoginComponents/js/login.js?v=202007160000"></script>
    <script src="/CommonFuntions/ExtentionMethods.js?v=201905200000"></script>
    <script src="/CommonFuntions/CommonFunctions.js?v=202009021530"></script>
    <script src="/Flights/FlightComponents/js/AirCommonServices.js?v=201907250000"></script>
    <script src="/CommonFuntions/myquotations.js?v=202004280000"></script>
    <script src="/CommonFuntions/MainComponents.js?v=202012180000"></script>
    <script src="/assets/js/highlight.pack.js?v=201910290000"></script>
    <!--js end-->



</body>

</html>