﻿<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon" href="#" />
    <link rel="shortcut icon" href="#" />
    <!-- Place favicon.ico in the root directory -->
    <meta name="theme-color" content="#fafafa" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/bootstrap/bootstrap.min.css?v=201905200000" />

    <link rel="stylesheet" type="text/css" href="/assets/plugins/font-awesome/font-awesome.min.css?v=201905200000" />
    <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css?v=202009021530" />
    <link rel="stylesheet" type="text/css" href="/Hotels/HotelComponents/assets/css/hotel.css?v=202005040000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/calendar/jquery-ui.css?v=201905260000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/alertifyJs/alertify.min.css?v=201909230000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/alertifyJs/default.min.css?v=201905200000" />
    <link rel="stylesheet" type="text/css" href="/assets/css/datatables.min.css?v=201905200000" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/css/flag-icon.min.css">
    <link href="/assets/css/breaking-news-ticker.min.css?v=201910040000" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/assets/css/Style.css?v=2019100400000" />

    <link rel="stylesheet" type="text/css" href="/assets/plugins/primevue/css/theme.css?v=202005050000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/primevue/css/primevue.min.css?v=202005050000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/primevue/css/primeicons.css?v=202005050000" />
    <link rel="stylesheet" type="text/css" href="/assets/css/summernote.css?v=202005050000" />

    <style>
        [v-cloak] {
            display: none;
        }

        .form_sec label {
            color: #454f69 !important;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        .offline-readonly select {
            padding: 2px 17px 2px 2px;
        }

        input:focus {
            box-shadow: 0 0 1pt 1pt #719ECE;
        }

        textarea:focus {
            box-shadow: 0 0 1pt 1pt #719ECE;
        }

        .fieldrequest select:focus {
            box-shadow: 0 0 1pt 1pt #719ECE;
        }

        .selectDrop select:focus {
            box-shadow: 0 0 1pt 1pt #719ECE;
        }
    </style>
</head>

<body>
    <!--[if IE]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->
    <section v-cloak id="master_vue_element" class="wrapper">
        <!---------Main Header area------------>
        <header>
            <master-header></master-header>
        </header>
        <div class="main_cont_area">
            <master-sidebar></master-sidebar>
            <offline-visa inline-template>

                <div class="container paddingtopbottom20" v-cloak>
                    <div>
                        <div class="search_area tabSearch" style="width:100%;">
                            <h1>OFFLINE SERVICE REQUEST</h1>
                            <div class="requestfield">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <label>Country<span class="red">*</span></label>
                                        <div class="fieldrequest">
                                            <select class="fieldrequestTxt" v-model="country" @change="findProduct()"
                                                :disabled="!newReq">
                                                <option v-for="countries in countries" :value="countries">
                                                    {{countries.name}}</option>
                                            </select>
                                            <i class="fa fa-chevron-down"></i></div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <label>Product / Service<span class="red">*</span></label>
                                        <div class="fieldrequest">
                                            <select class="fieldrequestTxt" v-model="visaProduct" @change="findOption()"
                                                :disabled="!newReq">
                                                <option v-for="visaProductsList in visaProductsList"
                                                    :value="visaProductsList">
                                                    {{visaProductsList.name}}</option>
                                            </select>
                                            <i class="fa fa-chevron-down"></i>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <label>Priority<span class="red">*</span></label>
                                                <div class="fieldrequest">
                                                    <select class="fieldrequestTxt" v-model="visaOption"
                                                        @change="calculateCost()" id="opt" :disabled="!newReq">
                                                        <option v-for="visaOptions in visaOptions" :value="visaOptions">
                                                            {{visaOptions.name}}</option>
                                                    </select>
                                                    <i class="fa fa-chevron-down"></i>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <label>Pax Type<span class="red">*</span></label>
                                                <div class="fieldrequest">
                                                    <select class="fieldrequestTxt" v-model="paxType" name="paxType"
                                                        data-vv-as=" " @change="calculateCost()" :disabled="!newReq"
                                                        v-validate="'required'">
                                                        <option value="ADT">Adult</option>
                                                        <option value="CHD">Child</option>
                                                        <option value="INF">infant</option>
                                                    </select>
                                                    <i class="fa fa-chevron-down"></i>
                                                </div>
                                                <p class="text-danger">{{ errors.first('paxType')}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <label>Cost</label>
                                        <div class="cost_view">{{cost!=0?commonStore.agencyNode.loginNode.currency:""}}
                                            {{cost!=0? $n(cost):"NA"}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="triptable">
                                <div class="triptable_head">
                                    <h6>Traveller Details</h6>
                                </div>
                                <div class="tableviewSec">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <label>First Name (Given Name) <span class="red">*</span></label>
                                        <div class="fieldrequest">
                                            <input type="text" class="fieldrequestTxt" v-model="firstName"
                                                name="firstName" data-vv-as=" " :disabled="!newReq"
                                                v-validate="'required'" /></div>
                                        <p class="text-danger">{{ errors.first('firstName')}}</p>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <label>Last Name (Sur Name) <span class="red">*</span></label>
                                        <div class="fieldrequest">
                                            <input type="text" class="fieldrequestTxt" v-model="surName" name="surName"
                                                data-vv-as=" " :disabled="!newReq" v-validate="'required'" /></div>
                                        <p class="text-danger">{{ errors.first('surName')}}</p>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <label>Expected Travel Date<span class="red">*</span></label>
                                        <input type="text" placeholder="Select Date" v-model="expectedTravelDate"
                                            name="expectedTravelDate" class="fieldrequestTxt dateInput" id="deptDate"
                                            data-vv-as=" " autocomplete="off" :disabled="!newReq"
                                            v-validate="'required'"></input>
                                        <p class="text-danger">{{ errors.first('expectedTravelDate')}}</p>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <label>Passport No<span class="red">*</span></label>
                                        <div class="fieldrequest">
                                            <input type="text" class="fieldrequestTxt" v-model="passportNumber"
                                                name="passportNumber" data-vv-as=" " :disabled="!newReq"
                                                v-validate="'required'" /></div>
                                        <p class="text-danger">{{ errors.first('passportNumber')}}</p>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <label>Passport Expiry<span class="red">*</span></label>
                                        <input type="text" placeholder="Select Date" v-model="passportExpiry"
                                            name="passportExpiry" class="fieldrequestTxt dateInput"
                                            id="passporExpirytDate" data-vv-as=" " autocomplete="off"
                                            :disabled="!newReq" v-validate="'required'"></input>
                                        <p class="text-danger">{{ errors.first('passportExpiry')}}</p>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <label>Mother's Name<span class="red">*</span></label>
                                        <div class="fieldrequest">
                                            <input type="text" class="fieldrequestTxt" v-model="nameOfMother"
                                                name="nameOfMother" data-vv-as=" " :disabled="!newReq"
                                                v-validate="'required'" /></div>
                                        <p class="text-danger">{{ errors.first('nameOfMother')}}</p>
                                    </div>
                                </div>
                            </div>





                            <!-- <div class="triptable" @drop.prevent="fileUpload" @dragover.prevent
                                v-if="docUpdate || newReq">
                                <div class="triptable_head">
                                    <h6>Attachments required</h6>
                                </div>
                                <div class="tableviewSec"
                                    style="background: #FFF url('assets/images/upload-png.png') no-repeat center right;">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div style="display: flex;justify-content: space-around;">
                                            <div style="text-align: center;">
                                                <input @change="fileUpload" class="inputfile inputfile-4" type="file"
                                                    class="wizard-file" multiple
                                                    id="a8755cf0-f4d1-6376-ee21-a6defd1e7c08">
                                                <label for="a8755cf0-f4d1-6376-ee21-a6defd1e7c08">
                                                    <figure><svg xmlns="http://www.w3.org/2000/svg" width="20"
                                                            height="17" viewBox="0 0 20 17">
                                                            <path
                                                                d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z" />
                                                        </svg></figure>
                                                </label>
                                                <p data-toggle="popover" data-id="a8755cf0-f4d1-6376-ee21-a6defd1e7c08"
                                                    class="btn-popover">
                                                    <span v-if="fileStorage.length==0">Choose a file&hellip;</span>
                                                    <span v-else>{{fileStorage.length}} Files Selected</span>
                                                </p>
                                            </div>
                                            <div>
                                                <div v-for="(item, index) in fileStorage" :key="index"
                                                    class='col-12 pb10'>
                                                    <span class='popover-content-remove' @click="deleteFile(item)"
                                                        data-type='upload'><i class='fa fa-trash'></i></span>
                                                    <span class='popover-content-file-name'>{{item.name}}</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div>
                                            <p
                                                style="text-align: left;font-size: 18px;font-weight: bold;color: #3d77b3">
                                                Drag and drop your files here</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding_l_10 requird_sec5">
                                        <ul>
                                            <li>Passport (Pages 1 & 2)
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div> -->





                            <div class="triptable" @drop.prevent="fileUpload" @dragover.prevent
                                v-if="docUpdate || newReq">
                                <div class="triptable_head" v-if="newReq">
                                    <h6>Attachments required</h6>
                                </div>
                                <div class="tableviewSec" v-if="newReq">
                                    <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding_l_10 requird_sec5"> -->
                                        <p style="white-space: pre-wrap; word-wrap: break-word;height: 100%;min-height: 79px;" class="remarks" v-html="requiredDocs" disabled ></p>
                                    <!-- </div> -->
                                </div>
                                <div>
                                    <div class="uploadButton_head">
                                        <label class="uploadButton"> <i class="fa fa-plus"></i> Choose
                                            <input @change="fileUpload" class="inputfile inputfile-4" type="file"
                                                class="wizard-file" multiple>
                                        </label>
                                    </div>
                                    <input @change="fileUpload" class="inputfile inputfile-4" type="file"
                                        class="wizard-file"
                                        accept="image/png, image/jpeg,.pdf,.rtf,.doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                                        multiple id="a8755cf0-f4d1-6376-ee21-a6defd1e7c08">
                                    <label for="a8755cf0-f4d1-6376-ee21-a6defd1e7c08" class="color5">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><img
                                                src="assets/images/dragAndDrop.png" />
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><img
                                                src="assets/images/fileFormats.png" />
                                        </div>
                                    </label>
                                </div>

                                <table id="uploadDocs">
                                    <tr v-if="fileLinks.length">
                                        <th>Attachments</th>
                                        <th>Action</th>
                                    </tr>
                                    <tr v-for="(item, index) in fileLinks" :key="index">
                                        <td><span
                                                class='popover-content-file-name'>{{(item.split('/')[6]).split("%20").join(" ")}}</span>
                                        </td>
                                        <td> <span class='popover-content-remove' @click="deleteFile(item)"
                                                data-type='upload'><i class='fa fa-trash'></i></span></td>
                                    </tr>
                                </table>
                                <!-- 
                                    <div v-for="(item, index) in fileLinks" :key="index" class='col-12 pb10'>
                                        <span class='popover-content-remove' @click="deleteFile(item)"
                                            data-type='upload'><i class='fa fa-trash'></i></span>
                                        <span
                                            class='popover-content-file-name'>{{(item.split('/')[6]).split("%20").join(" ")}}</span>
                                    </div> -->

                            </div>


                            <div class="triptable">
                                <div class="triptable_head" v-if="remarks || newReq">
                                    <h6>Remarks/Additional Information</h6>
                                </div>
                                <div class="tableviewSec padding_l_10" v-if="newReq">
                                    <textarea class="remarks" placeholder="Remarks/Additional Information"
                                        v-model="remark"></textarea>
                                </div>
                                <div class="tableviewSec padding_l_10" v-if="docUpdate">
                                    <textarea class="remarks" placeholder="Remarks/Additional Information" v-model="remark"></textarea>
                                </div>
                                
                                <div class="row" v-if="!newReq && remarks">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <p class="remarkList" v-for="remark in remarks"><b>{{remark.name}}</b> :
                                            {{remark.comments}}</p>
                                    </div>
                                </div>
                                
                                <div class="requestfield">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12 margintop25"
                                            v-if="requestAttachments.length>0">
                                            <h1>Attachments:</h1>
                                            <div v-for="(item, index) in requestAttachments" :key="index">
                                                <a target="_blank"
                                                    :href="item.attachmentUrl">{{item.attachmentUrl.split('/').pop()}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="triptable" v-if="isCompleted && visaAttachments.length > 0">
                                <div class="triptable_head">
                                    <h6>Visa Attachment</h6>
                                </div>
                                <div class="requestfield">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12 margintop25">
                                            <div v-for="(item, index) in visaAttachments" :key="index">
                                                <a target="_blank"
                                                    :href="item.attachmentUrl">{{item.attachmentUrl.split('/').pop()}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="triptable">
                                <div class="triptable_head" v-if="newReq">
                                    <h6>TERMS AND CONDITIONS</h6>
                                </div>
                                <div class="tableviewSec" v-if="newReq">
                                    <p style="white-space: pre-wrap; word-wrap: break-word;height: 100%;min-height: 79px;" class="remarks" v-html="termsAndConditions" disabled></p>
                                </div>
                                <div class="privacy_check agree_sec" v-if="newReq">
                                    <input type="checkbox" class="shastops" v-model="checkBox" />
                                    <label class="formsfont">By Submitting the form you are agreeing to the Terms and
                                        Conditions mentioned above.</label>
                                </div>
                                <div class="note" style="display: none;">
                                    <p>By Submitting the form you are agreeing to the Terms and Conditions mentioned
                                        above.
                                    </p>
                                </div>
                                <div class="tablebtn">
                                    <button v-if="isApplied" class="pay_now" @click="cancelVisa()"
                                        :style="isRequestSending?'pointer-events:none':''">Cancel</button>
                                    <button v-if="newReq" class="pay_now" @click="submitVisa()"
                                        :style="isRequestSending?'pointer-events:none':''">Submit</button>
                                    <button v-if="docUpdate" class="pay_now" @click="updateDocs()"
                                        :style="isRequestSending?'pointer-events:none':''">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </offline-visa>
        </div>
        <!---------Main Footer area------------>
        <footer>
            <master-footer></master-footer>
        </footer>
    </section>

    <!--js start-->
    <script src="/assets/js/modernizr.custom.js?v=201905200000"></script>
    <script src="/assets/js/jquery-3.3.1.min.js?v=201905200000"></script>
    <script src="/assets/js/jquery-news.min.js?v=201910290000"></script>
    <script src="/assets/js/jquery-migrate.min.js?v=201912240000"></script>
    <script src="/assets/plugins/calendar/jquery-ui.js?v=201905220000"></script>
    <script src="/assets/plugins/calendar/datepicker-i18n.js?v=201907220000"></script>
    <script src="/assets/js/bootstrap.min.js?v=201912240000"></script>
    <script src="/assets/js/axios.min.js?v=201912240000"></script>
    <script src="/assets/js/vue.min.js?v=202002060000"></script>
    <script src="/assets/js/vue-i18n.js?v=201912240000"></script>
    <script src="/assets/plugins/moment/moment.min.js?v=201907220000"></script>
    <script src="/assets/plugins/alertifyJs/alertify.min.js?v=201905200000"></script>
    <script src="/assets/js/elasticsearch.min.js?v=201908130000"></script>
    <script src="/assets/js/underscore-min.js?v=201912240000"></script>
    <script src="/Flights/assets/js/UTCTime.js?v=1034" defer></script>
    <script src="/Flights/FlightComponents/js/AirCommonServices.js?v=201907250000"></script>
    <script src="/Flights/assets/js/Airlines.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js?v=1034"></script>
    <script src="https://cdn.jsdelivr.net/npm/vee-validate@2.2.15/dist/vee-validate.min.js"></script>


    <script>
        Vue.use(VeeValidate, {
            classes: true,
            validity: true,
            immediate: false
        });

    </script>

    <script src="/assets/plugins/primevue/js/dialog.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/button.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/toolbar.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/inputtext.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/accordion.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/accordiontab.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/checkbox.umd.min.js?v=202005050000"></script>
    <script src="/assets/js/summernote.min.js?v=201912240000"></script>
    <script src="/Flights/assets/js/cabinclass.js"></script>
    <script src="/assets/js/jspdf.min.js?v=201912240000"></script>
    <script src="/assets/js/html2canvas.min.js?v=201909010000"></script>
    <script src="/Flights/FlightComponents/js/svgs.js?v=201907240000"></script>
    <script src="/Flights/assets/js/Airplanes.js"></script>

    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202008060000"></script>
    <script src="/Login/LoginComponents/js/login.js?v=202007160000"></script>
    <script src="/CommonFuntions/ExtentionMethods.js?v=201905200000"></script>
    <script src="/CommonFuntions/CommonFunctions.js?v=202009021530"></script>
    <script src="/Flights/FlightComponents/js/AirCommonServices.js?v=201907250000"></script>
    <script src="/CommonFuntions/offlineVisa.js?v=202006110000"></script>
    <script src="/CommonFuntions/MainComponents.js?v=202012180000"></script>
    <script src="/assets/js/highlight.pack.js?v=201910290000"></script>
    <script src="/assets/js/custom-file-input.js?v=202001140000"></script>
    <!--js end-->


</body>

</html>