﻿<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="apple-touch-icon" href="#" />
    <link rel="shortcut icon" href="#" />
    <!-- Place favicon.ico in the root directory -->
    <meta name="theme-color" content="#fafafa" />

    <link rel="stylesheet" type="text/css" href="/assets/plugins/bootstrap/bootstrap.min.css?v=201905200000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/font-awesome/font-awesome.min.css?v=201905200000" />
    <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css?v=202009021530" />
    <link rel="stylesheet" type="text/css" href="/Hotels/HotelComponents/assets/css/hotel.css?v=202005040000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/calendar/jquery-ui.css?v=201905260000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/alertifyJs/alertify.min.css?v=201909230000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/alertifyJs/default.min.css?v=201905200000" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/css/flag-icon.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/Style.css?v=2019100400000" />
    <link href="/assets/css/breaking-news-ticker.min.css?v=201910040000" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/assets/plugins/primevue/css/theme.css?v=202005050000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/primevue/css/primevue.min.css?v=202005050000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/primevue/css/primeicons.css?v=202005050000" />
    <link rel="stylesheet" type="text/css" href="/assets/css/summernote.css?v=202005050000" />

    <style>
        [v-cloak] {
            display: none;
        }
    </style>

</head>

<body>
    <!--[if IE]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->
    <section v-cloak id="master_vue_element" class="wrapper">
        <!---------Main Header area------------>
        <header>
            <master-header></master-header>
        </header>
        <div class="main_cont_area paddingtopbottom20">
            <master-sidebar></master-sidebar>
            <my-profile inline-template>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 profile">
                            <div class="profile_image">
                                <img src="assets/images/profile.png" alt="" />
                            </div>
                            <h5>{{fullName}}</h5>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-9">
                            <div class="personal_info_sec">
                                <div class="personal_info_sec_head">
                                    <h1>{{$t('My_Profile.Header_Label')}}</h1>
                                </div>
                                <div class="editbtn" @click="editProfile"><i class="fa fa-edit"></i>{{$t('My_Profile.EditProfileBtn_Label')}}</div>
                                <div class="summary_duru">
                                    <div class="name_password">
                                        <div class="main-head">
                                            <h4>{{$t('My_Profile.NameDetails_Label')}}</h4>
                                        </div>
                                        <div class="edit_area">
                                            <div class="row">
                                                <div class="col-lg-4 col-md-4 col-sm-6 ">
                                                    <select class="cont_txt_edit" v-model="titleId" :disabled="!isUpdateProfile" name="title" :data-vv-as="$t('My_Profile.Title_Placeholder')" :class="{'error': errors.has('title') }" v-validate="'required'">
                            <option value="" disabled selected>{{$t('My_Profile.Title_Placeholder')}}</option>
                            <option value="1">Mr</option>
                            <option value="2">Miss</option>
                            <option value="3">Mrs</option>
                            <option value="4">Ms</option>
                            <option value="5">Master</option>
                          </select>
                                                    <span class="text-danger error-text">{{ errors.first('title') }}</span>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-6">
                                                    <input :disabled="!isUpdateProfile" type="text" name="firstName" :placeholder="$t('My_Profile.FirstName_Placeholder')" v-model="firstName" :data-vv-as="$t('My_Profile.FirstName_Placeholder')" class="cont_txt_edit01 alphaonly" :class="{'error': errors.has('firstName') }"
                                                        v-validate="'required|alpha_spaces'">
                                                    <span class="text-danger error-text">{{ errors.first('firstName') }}</span>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-6">
                                                    <input :disabled="!isUpdateProfile" type="text" name="lastName" :placeholder="$t('My_Profile.LastName_Placeholder')" v-model="lastName" :data-vv-as="$t('My_Profile.LastName_Placeholder')" class="cont_txt_edit01 alphaonly" :class="{'error': errors.has('lastName') }"
                                                        v-validate="'required|alpha_spaces'">
                                                    <span class="text-danger error-text">{{ errors.first('lastName') }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="summary_duru xs_mrg">
                                    <div class="name_password">
                                        <div class="main-head">
                                            <h4>{{$t('My_Profile.ContactDetails_Label')}}</h4>
                                        </div>
                                        <div class="edit_area">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-12">
                                                    <input disabled="disabled" type="text" class="cont_txt_edit01" :placeholder="$t('My_Profile.Email_Placeholder')" v-model="emailId">
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-8">
                                                    <input :disabled="!isUpdateProfile" name="phone" type="tel" :data-vv-as="$t('My_Profile.Phone_Placeholder')" :placeholder="$t('My_Profile.Phone_Placeholder')" v-model="contactNumber" class="cont_txt_edit01 numbersOnly" :class="{'error': errors.has('phone') }"
                                                        v-validate="'required|numeric|max:15'">
                                                    <span v-show="errors.has('phone')" class="text-danger error-text">{{ errors.first('phone') }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="personal_info_sec_head">
                                    <div class="edit_btn" v-if="isUpdateProfile">
                                        <input class="btnprofile" type="submit" :value="$t('My_Profile.UpdateBtn_Label')" @click="updateProfile" />
                                        <div class="load_spinner" v-if="isUpdateProfileSubmitted">
                                            <i class="fa fa-spinner fa-spin"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="summary_duru">
                                    <div class="name_password">
                                        <div class="main-head">
                                            <h4>{{$t('My_Profile.PasswordDetails_Label')}}</h4>
                                        </div>
                                        <div class="edit_area">
                                            <div class="row">
                                                <div class="col-lg-4 col-md-4 col-sm-4">
                                                    <input v-model="currentPwd" name="currentPwd" type="password" :data-vv-as="$t('My_Profile.OldPassword_Placeholder')" :placeholder="$t('My_Profile.OldPassword_Placeholder')" class="cont_txt_edit01" :class="{'error': errors.has('currentPwd') }" v-validate="'required'">
                                                    <span v-show="errors.has('currentPwd')" class="text-danger error-text">{{ errors.first('currentPwd') }}</span>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4">
                                                    <input v-model="newPwd" name="newPwd" type="password" :data-vv-as="$t('My_Profile.NewPassword_Placeholder')" :placeholder="$t('My_Profile.NewPassword_Placeholder')" class="cont_txt_edit01" :class="{'error': errors.has('newPwd') }" v-validate="'required'">
                                                    <span v-show="errors.has('newPwd')" class="text-danger error-text">{{ errors.first('newPwd') }}</span>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4">
                                                    <input v-model="confirmPwd" name="confirmPwd" type="password" :data-vv-as="$t('My_Profile.ConfirmPassword_Placeholder')" :placeholder="$t('My_Profile.ConfirmPassword_Placeholder')" class="cont_txt_edit01" :class="{'error': errors.has('confirmPwd') }"
                                                        v-validate="'required'">
                                                    <span v-show="errors.has('confirmPwd')" class="text-danger error-text">{{ errors.first('confirmPwd') }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="personal_info_sec_head">
                                    <div class="edit_btn">
                                        <div class="load_spinner" v-if="isUpdatePwdSubmitted">
                                            <i class="fa fa-spinner fa-spin"></i>
                                        </div>
                                        <a @click="updatePassword">{{$t('My_Profile.UpdatePwdBtn_Label')}}</a>
                                    </div>
                                </div>
                                <div class="summary_duru">
                                    <div class="name_password">
                                        <div class="main-head">
                                            <h4>Expertise</h4>
                                        </div>
                                        <div class="edit_area">
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12">
                                                    <div style="display: flex; gap: 12px;">
                                                        <div class="checkBox_area01">
                                                            <input id="rbDirect" name="DirectFlightsOnly" type="checkbox">
                                                            <label for="web" class="formsfont">Flight</label>
                                                        </div>
                                                        <div class="checkBox_area01">
                                                            <input id="rbDirect" name="DirectFlightsOnly" type="checkbox">
                                                            <label for="web" class="formsfont">Hotel</label>
                                                        </div>
                                                        <div class="checkBox_area01">
                                                            <input id="rbDirect" name="DirectFlightsOnly" type="checkbox">
                                                            <label for="web" class="formsfont">Holiday</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="summary_duru">
                                    <div class="name_password">
                                        <div class="main-head">
                                            <h4>About me</h4>
                                        </div>
                                        <div class="edit_area">
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12">
                                                    <div class="form-group">
                                                        <label for="aboutme"></label>
                                                        <textarea class="form-control" id="aboutme" rows="5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, quaerat maiores cumque aspernatur ea itaque dicta facilis ad autem dolorum tempora veritatis libero laborum praesentium nemo illum inventore consectetur mollitia? Lorem ipsum, dolor sit amet consectetur adipisicing elit. A, fugit quo! Voluptatum ad sint perferendis odio dignissimos provident sequi natus quisquam. Incidunt eius ipsa blanditiis molestiae reprehenderit aspernatur voluptate facere?</textarea>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="summary_duru">
                                    <div class="name_password">
                                        <div class="main-head">
                                            <h4>Reviews</h4>
                                        </div>
                                        <div class="edit_area">
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12">
                                                    <div id="reviews" class="tab active">
                                                        <div class="slimScroll" style="max-height: 490px; overflow-y: auto;box-sizing: border-box; position: relative;">
                                                            <div class="review" v-for="item in 7" :key="item"> 
                                                                <div class="rw">
                                                                    <div class="nm" style="font-weight: 700;">Saeed Al Saffar <span style="font-weight: 400; color: #838484;">&nbsp;&nbsp;3h</span></div>
                                                                </div>
                                                                <div class="rw">
                                                                    <div class="rtng" style="color: #12a4df;font-weight: 700;"><i aria-hidden="true" class="fa fa-star"></i>4.5</div>
                                                                </div>
                                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                                                <div class="checkBox_area01">
                                                                    <input id="rbDirect" name="DirectFlightsOnly" type="checkbox">
                                                                    <label for="web" style="font-weight: 500;" class="formsfont">Show in website</label>
                                                                </div>
                                                                <br>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="personal_info_sec_head">
                                    <div class="edit_btn">
                                        <div class="load_spinner" v-if="isUpdatePwdSubmitted">
                                            <i class="fa fa-spinner fa-spin"></i>
                                        </div>
                                        <a>Update profile</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </my-profile>
        </div>
        <!---------Main Footer area------------>
        <footer>
            <master-footer></master-footer>
        </footer>
    </section>

    <!--js start-->
    <script src="/assets/js/modernizr.custom.js?v=201905200000"></script>
    <script src="/assets/js/jquery-3.3.1.min.js?v=201905200000"></script>
    <script src="/assets/js/jquery-news.min.js?v=201910290000"></script>
    <script src="/assets/js/jquery-migrate.min.js?v=201912240000"></script>
    <script src="/assets/js/bootstrap.min.js?v=201912240000"></script>
    <script src="/assets/js/axios.min.js?v=201912240000"></script>
    <script src="/assets/js/vue.min.js?v=202002060000"></script>
    <script src="/assets/js/vue-i18n.js?v=201912240000"></script>
    <script src="/assets/plugins/moment/moment.min.js?v=201907220000"></script>
    <script src="/assets/plugins/alertifyJs/alertify.min.js?v=201905200000"></script>
    <script src="/assets/js/underscore-min.js?v=201912240000"></script>
    <script src="https://cdn.jsdelivr.net/npm/vee-validate@2.2.15/dist/vee-validate.js"></script>

    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202008060000"></script>
    <script src="/Login/LoginComponents/js/login.js?v=202007160000"></script>
    <script src="/CommonFuntions/ExtentionMethods.js?v=201905200000"></script>
    <script src="/CommonFuntions/CommonFunctions.js?v=202009021530"></script>
    <script>
        Vue.use(VeeValidate, {
            classes: true,
            validity: true
        }); // good to go.
    </script>

    <script src="/assets/plugins/primevue/js/dialog.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/button.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/toolbar.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/inputtext.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/accordion.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/accordiontab.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/checkbox.umd.min.js?v=202005050000"></script>
    <script src="/assets/js/summernote.min.js?v=201912240000"></script>
    <script src="/Flights/assets/js/cabinclass.js"></script>
    <script src="/assets/js/jspdf.min.js?v=201912240000"></script>
    <script src="/assets/js/html2canvas.min.js?v=201909010000"></script>
    <script src="/Flights/FlightComponents/js/svgs.js?v=201907240000"></script>
    <script src="/Flights/assets/js/Airplanes.js"></script>
    <script src="/Flights/assets/js/Airlines.js"></script>
    <script src="/Flights/FlightComponents/js/AirCommonServices.js?v=201907250000"></script>
    <script src="/Flights/assets/js/UTCTime.js?v=1034" defer></script>

    <script src="/CommonFuntions/profile.js?v=201912210000"></script>
    <script src="/CommonFuntions/MainComponents.js?v=202012180000"></script>
    <script src="/assets/js/highlight.pack.js?v=201910290000"></script>
    <!--js end-->



</body>

</html>