<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="apple-touch-icon" href="#" />
    <link rel="shortcut icon" href="#" />
    <!-- Place favicon.ico in the root directory -->
    <meta name="theme-color" content="#fafafa" />

    <link rel="stylesheet" type="text/css" href="/assets/plugins/bootstrap/bootstrap.min.css?v=201905200000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/font-awesome/font-awesome.min.css?v=201905200000" />
    <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css?v=202009021530" />
    <link rel="stylesheet" type="text/css" href="/Hotels/HotelComponents/assets/css/hotel.css?v=202005040000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/calendar/jquery-ui.css?v=201905260000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/alertifyJs/alertify.min.css?v=201909230000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/alertifyJs/default.min.css?v=201905200000" />
    <link rel="stylesheet" type="text/css" href="/assets/css/datatables.min.css?v=201905200000" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/css/flag-icon.min.css">
    <link href="/assets/css/breaking-news-ticker.min.css?v=201910040000" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/assets/css/Style.css?v=2019100400000" />
    <!-- For lazy Loading -->
    <link rel="stylesheet" type="text/css" href="/assets/plugins/primevue/css/theme.css?v=202005050000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/primevue/css/primevue.min.css?v=202005050000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/primevue/css/primeicons.css?v=202005050000" />
    <link rel="stylesheet" type="text/css" href="/assets/css/summernote.css?v=202005050000" />

    <style>
        [v-cloak] {
            display: none;
        }
        .p-datepicker{ 
            top: 0 !important;
        }
    </style>

</head>

<body>
    <!--[if IE]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->
    <section v-cloak id="master_vue_element" class="wrapper">
        <!---------Main Header area------------>
        <header>
            <master-header></master-header>
        </header>
        <div class="main_cont_area">
            <master-sidebar></master-sidebar>
            <div class="container paddingtopbottom20" v-cloak>
                <div>
                    <div class="search_area tabSearch" style="width:100%;">
                        <h1>My Offline Requests</h1>
                        <div class="searchtabSec">
                            <ul class="nav nav-tabs">

                                <!-- Lazy Loading Prime Vue Offline bookings -->
                                <li :class="{active:commonStore.currentSearchBookingpage=='flights'}"
                                    v-if="commonStore.commonRoles.hasAirSearchBookings">
                                    <a href="#" @click.prevent="setServiceSearchBookingPage('flights')">Flights</a>
                                </li>

                                <!-- Lazy Loading Prime Vue Offline refund -->
                                <li :class="{active:commonStore.currentSearchBookingpage=='refund'}"
                                    v-if="commonStore.commonRoles.hasAirSearchBookings">
                                    <a href="#" @click.prevent="setServiceSearchBookingPage('refund')">Refund</a>
                                </li>

                                <!-- Lazy Loading Prime Vue Offline Visa -->
                                <li :class="{active:commonStore.currentSearchBookingpage=='visa'}"
                                    v-if="commonStore.commonRoles.hasAirSearchBookings">
                                    <a href="#" @click.prevent="setServiceSearchBookingPage('visa')">Visa</a>
                                </li>

                            </ul>

                            <!-- Lazy Loading Prime Vue Offline bookings -->
                            <flight-search-bookings v-if="commonStore.currentSearchBookingpage=='flights'"
                                inline-template>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div>
                                            <div>
                                                <p-datatable :value="customers" :first="firstIndex" :lazy="true"
                                                    :paginator="true" :auto-layout="true" :rows="15"
                                                    :total-records="hits" :loading="loading" @sort="sortBy($event)"
                                                    @page="onPage($event)">
                                                    <template #header>
                                                        <div style="text-align: right">
                                                            <i class="pi pi-search" style="margin: 4px 4px 0 0"></i>
                                                            <input type="text" v-model="searchKeywords.globalSearch"
                                                                name="search" v-on:keyup="searchTable()" />
                                                        </div>
                                                    </template>
                                                    <!-- <p-column field="id" header="ID" :sortable="true">
                                                        <template #filter>
                                                            <Input type="text" v-model="searchKeywords.uniqueId"
                                                                class="p-column-filter" v-on:keyup="searchTable()" />
                                                        </template>
                                                    </p-column> -->

                                                    <p-column header-style="width:105px" field="Date" header="Date"
                                                        :sortable="true">
                                                        <template #body="slotProps">
                                                            {{timeFormat(slotProps.data.requestHST[0].activityDateTime)}}
                                                        </template>
                                                        <template #filter>
                                                            <p-calendar v-model="searchKeywords.date"
                                                                :date-select="searchTable()" style="width: 90px;" />
                                                        </template>

                                                    </p-column>

                                                    <p-column field="requestType" header="Type">
                                                        <template #body="slotProps">
                                                            {{slotProps.data.requestTypeStatus.requestType.name}}
                                                        </template>
                                                        <template #filter>
                                                            <Input type="text" v-model="searchKeywords.requestType"
                                                                disabled class="p-column-filter"
                                                                v-on:keyup="searchTable()" /> </template>
                                                    </p-column>

                                                    <p-column field="PNR" header="PNR" :sortable="true">
                                                        <template #body="slotProps">
                                                            {{slotProps.data.requestAirBook.pnrNumber}}
                                                        </template>
                                                        <template #filter>
                                                            <Input type="text" v-model="searchKeywords.pnr"
                                                                class="p-column-filter" v-on:keyup="searchTable()" />
                                                        </template>
                                                    </p-column>

                                                    <p-column field="route" header="Route" :sortable="true">
                                                        <template #body="slotProps">
                                                            {{slotProps.data.requestAirBook.leg[0].airportCodeSrc.code+' TO '+(slotProps.data.requestAirBook.leg[0].airportCodeDst.code)+' '+(slotProps.data.requestAirBook.journeyType.name.toLowerCase()=='multicity'?'(MC)':slotProps.data.requestAirBook.journeyType.name.toLowerCase()=='roundtrip'?'(RT)':'(OW)')}}
                                                        </template>
                                                        <template #filter>
                                                            <Input type="text" v-model="searchKeywords.route"
                                                                class="p-column-filter" v-on:keyup="searchTable()" />
                                                        </template>
                                                    </p-column>

                                                    <p-column field="Airline" header="Airline" :sortable="true">
                                                        <template #body="slotProps">
                                                            {{slotProps.data.requestAirBook.airLine.name||'N/A'}}
                                                        </template>
                                                        <template #filter>
                                                            <Input type="text" v-model="searchKeywords.airline"
                                                                class="p-column-filter" v-on:keyup="searchTable()" />
                                                        </template>
                                                    </p-column>

                                                    <p-column field="Pax Name" header="Pax Name" :sortable="false">
                                                        <template #body="slotProps">
                                                            {{slotProps.data.requestAirBook.requestAirBookPax[0].pax.firstName+' '+(slotProps.data.requestAirBook.requestAirBookPax[0].pax.surName)}}
                                                        </template>
                                                        <template #filter>
                                                            <Input type="text" v-model="searchKeywords.passengerName"
                                                                class="p-column-filter" v-on:keyup="searchTable()" />
                                                        </template>
                                                    </p-column>

                                                    <p-column field="No of Pax" header="No. of Pax">
                                                        <template #body="slotProps">
                                                            {{slotProps.data.requestAirBook.requestAirBookPax.length||0}}
                                                        </template>
                                                        <template #filter>
                                                            <Input type="text" disabled class="p-column-filter"
                                                                v-on:keyup="searchTable()" />
                                                        </template>
                                                    </p-column>

                                                    <p-column field="Total" header="Total Payable Amount"
                                                        header-style="width:180px" :sortable="true" :sortable="true">
                                                        <template #body="slotProps">
                                                            {{$n(slotProps.data.requestAirBook.requestAirBookPax.reduce(function (sum, curr) {return parseFloat(sum + parseFloat( curr.debit.value));}, 0))}}
                                                        </template>
                                                        <template #filter>
                                                            <Input type="text" v-model="searchKeywords.amount"
                                                                class="p-column-filter" v-on:keyup="searchTable()" />
                                                        </template>
                                                    </p-column>

                                                    <p-column field="reqStatus" header="Status" :sortable="true">
                                                        <template #body="slotProps">
                                                            {{slotProps.data.requestTypeStatus.requestStatus.name}}
                                                        </template>
                                                        <template #filter>
                                                            <p-multiselect v-model="searchKeywords.status"
                                                                :options="rStatus" @change="searchTable()"
                                                                option-label="name" option-value="code"
                                                                placeholder="Select" />
                                                        </template>
                                                    </p-column>

                                                    <p-column header="Action">
                                                        <template #body="slotProps" header="Action">
                                                            <p-button type="button" icon="fa fa-eye" class="p-button"
                                                                @click.prevent=getBookingInfo(slotProps.data)>
                                                            </p-button>
                                                        </template>
                                                    </p-column>

                                                </p-datatable>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </flight-search-bookings>

                            <!-- Lazy Loading Prime Vue Offline refund -->
                            <flight-search-refund v-if="commonStore.currentSearchBookingpage=='refund'" inline-template>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div>
                                            <div>
                                                <p-datatable :value="customers" :first="firstIndex" :lazy="true"
                                                    :paginator="true" :auto-layout="true" :rows="15"
                                                    :total-records="hits" :loading="loading" @page="onPage($event)"
                                                    @sort="sortBy($event)">
                                                    <template #header>
                                                        <div style="text-align: right">
                                                            <i class="pi pi-search" style="margin: 4px 4px 0 0"></i>
                                                            <input type="text" v-model="searchKeywords.globalSearch"
                                                                v-on:keyup="searchTable()" name="search" />
                                                        </div>
                                                    </template>
                                                    <!-- <p-column field="id" header="Unique ID" :sortable="true"
                                                        header-style="width:108px">
                                                        <template #filter>
                                                            <Input type="text" class="p-column-filter"
                                                                v-model="searchKeywords.uniqueId"
                                                                v-on:keyup="searchTable()" />
                                                        </template>
                                                    </p-column> -->

                                                    <!-- <p-column field="slNo" header="Sl No" :sortable="true">
                                                        <template #body="slotProps">
                                                            {{slotProps.data.requestCancel.passengers[0].pax.id}}
                                                        </template>
                                                        <template #filter>
                                                            <Input type="text" class="p-column-filter"
                                                                v-model="searchKeywords.slNo"
                                                                v-on:keyup="searchTable()" />
                                                        </template>
                                                    </p-column> -->
                                                    <p-column header-style="width:105px" field="Date" header="Date"
                                                        :sortable="true">
                                                        <template #body="slotProps">
                                                            {{timeFormat(slotProps.data.requestHST[0].activityDateTime)}}
                                                        </template>
                                                        <template #filter>
                                                            <p-calendar v-model="searchKeywords.date"
                                                                :date-select="searchTable()" style="width: 90px;" />
                                                        </template>

                                                    </p-column>
                                                    
                                                    <p-column field="requestType" header="Request Type"
                                                        header-style="width:128px" :sortable="true">
                                                        <template #body="slotProps">
                                                            {{slotProps.data.requestTypeStatus.requestType.name}}
                                                        </template>
                                                        <template #filter>
                                                            <Input type="text" class="p-column-filter"
                                                                v-model="searchKeywords.requestType"
                                                                v-on:keyup="searchTable()" />
                                                        </template>
                                                    </p-column>

                                                    <p-column field="airLine" header="Airline" :sortable="true">
                                                        <template #body="slotProps">
                                                            {{slotProps.data.requestCancel.airLine.name}}
                                                        </template>
                                                        <template #filter>
                                                            <Input type="text" class="p-column-filter"
                                                                v-model="searchKeywords.airline"
                                                                v-on:keyup="searchTable()" />
                                                        </template>
                                                    </p-column>

                                                    <p-column field="ticket" header="Ticket No" :sortable="true">
                                                        <template #body="slotProps">
                                                            {{slotProps.data.requestCancel.passengers[0].ticketNumber}}
                                                        </template>
                                                        <template #filter>
                                                            <Input type="text" class="p-column-filter"
                                                                v-model="searchKeywords.ticketNo"
                                                                v-on:keyup="searchTable()" />
                                                        </template>
                                                    </p-column>

                                                    <p-column field="pnr" header="PNR" :sortable="true">
                                                        <template #body="slotProps">
                                                            {{slotProps.data.requestCancel.pnrNumber || "NA"}}
                                                        </template>
                                                        <template #filter>
                                                            <Input type="text" class="p-column-filter"
                                                                v-model="searchKeywords.pnr"
                                                                v-on:keyup="searchTable()" />
                                                        </template>
                                                    </p-column>

                                                    <p-column field="name" header="Passenger Name"
                                                        header-style="width:148px" :sortable="true">
                                                        <template #body="slotProps">
                                                            {{slotProps.data.requestCancel.passengers[0].pax.firstName}}
                                                        </template>
                                                        <template #filter>
                                                            <Input type="text" class="p-column-filter"
                                                                v-model="searchKeywords.passengerName"
                                                                v-on:keyup="searchTable()" />
                                                        </template>
                                                    </p-column>
                                                    <p-column field="traveldate" header="Travel Date" :sortable="true">
                                                        <template #body="slotProps">
                                                            {{timeFormat(slotProps.data.requestCancel.travelDate || "") }}
                                                        </template>
                                                        <template #filter>
                                                            <Input type="text" class="p-column-filter"
                                                                v-model="searchKeywords.traveldate"
                                                                v-on:keyup="searchTable()" />
                                                        </template>
                                                    </p-column>
                                                    <p-column field="route" header="Route" :sortable="true">
                                                        <template #body="slotProps">
                                                            {{slotProps.data.requestCancel.route}}
                                                        </template>
                                                        <template #filter>
                                                            <Input type="text" class="p-column-filter"
                                                                v-model="searchKeywords.route"
                                                                v-on:keyup="searchTable()" />
                                                        </template>
                                                    </p-column>

                                                    <p-column field="amount" header="Amount" :sortable="true">
                                                        <template #body="slotProps">
                                                            {{$n(slotProps.data.requestCancel.passengers[0].fare[0].amount) }}
                                                        </template>
                                                        <template #filter>
                                                            <Input type="text" class="p-column-filter"
                                                                v-model="searchKeywords.amount"
                                                                v-on:keyup="searchTable()" />
                                                        </template>
                                                    </p-column>

                                                    <p-column field="reqStatus" header="Status" :sortable="true">
                                                        <template #body="slotProps">
                                                            <div :title="mouseOver(slotProps.data)">
                                                                {{slotProps.data.requestTypeStatus.requestStatus.name=='Unclaimed' ? 'Applied' : slotProps.data.requestTypeStatus.requestStatus.name=='Pending Approval' ? 'Processing' : slotProps.data.requestTypeStatus.requestStatus.name=='Pending Credit Note' ? 'Processing' : slotProps.data.requestTypeStatus.requestStatus.name|| 'NA'}}
                                                            </div>
                                                        </template>
                                                        <template #filter>
                                                            <!-- <Input type="text" class="p-column-filter"
                                                                v-model="searchKeywords.status"
                                                                v-on:keyup="searchTable()" /> -->
                                                            <p-multiselect v-model="searchKeywords.status"
                                                                :options="rStatus" @change="searchTable()"
                                                                option-label="name" option-value="code"
                                                                placeholder="Select" />
                                                        </template>
                                                    </p-column>

                                                    <p-column header="Action">
                                                        <template #body="slotProps" header="Action">
                                                            <p-button type="button" icon="fa fa-eye" class="p-button"
                                                                @click.prevent=getBookingInfo(slotProps.data)>
                                                            </p-button>
                                                        </template>
                                                    </p-column>

                                                </p-datatable>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </flight-search-refund>

                            <!-- Lazy Loading Prime Vue Offline Visa -->
                            <flight-search-visa v-if="commonStore.currentSearchBookingpage=='visa'" inline-template>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div>
                                            <div>
                                                <p-datatable :value="customers" :first="firstIndex" :lazy="true"
                                                    :paginator="true" :auto-layout="true" :rows="15"
                                                    :total-records="hits" :loading="loading" @page="onPage($event)"
                                                    @sort="sortBy($event)">
                                                    <template #header>
                                                        <div style="text-align: right">
                                                            <i class="pi pi-search" style="margin: 4px 4px 0 0"></i>
                                                            <input type="text" v-model="searchKeywords.globalSearch"
                                                                v-on:keyup="searchTable()" name="search" />
                                                        </div>
                                                    </template>

                                                    <!-- <p-column field="id" header="Rqst ID" :sortable="true"
                                                        header-style="width:108px">
                                                        <template #filter>
                                                            <Input type="text" class="p-column-filter"
                                                                v-model="searchKeywords.uniqueId"
                                                                v-on:keyup="searchTable()" />
                                                        </template>
                                                    </p-column> -->

                                                    <p-column field="country" header="Country " :sortable="true">
                                                        <template #body="slotProps">
                                                            {{slotProps.data.visaRequest.visaProduct.visaCountry.name}}
                                                        </template>
                                                        <template #filter>
                                                            <Input type="text" class="p-column-filter"
                                                                v-model="searchKeywords.country"
                                                                v-on:keyup="searchTable()" />
                                                        </template>
                                                    </p-column>

                                                    <p-column field="visaType" header="Product Name" :sortable="true">
                                                        <template #body="slotProps">
                                                            {{slotProps.data.visaRequest.visaProduct.name}}
                                                        </template>
                                                        <template #filter>
                                                            <Input type="text" class="p-column-filter"
                                                                v-model="searchKeywords.visaType"
                                                                v-on:keyup="searchTable()" />
                                                        </template>
                                                    </p-column>

                                                    <p-column field="name" header="Traveller Name"
                                                        header-style="width:148px" :sortable="true">
                                                        <template #body="slotProps">
                                                            {{slotProps.data.visaRequest.passenger.pax.firstName +" "+slotProps.data.visaRequest.passenger.pax.surName }}
                                                        </template>
                                                        <template #filter>
                                                            <Input type="text" class="p-column-filter"
                                                                v-model="searchKeywords.passengerName"
                                                                v-on:keyup="searchTable()" />
                                                        </template>
                                                    </p-column>

                                                    <p-column field="passportNumber" header="Passport Number"
                                                        :sortable="true" header-style="width:153px">
                                                        <template #body="slotProps">
                                                            {{slotProps.data.visaRequest.passenger.pax.flightPax.passportNumber}}
                                                        </template>
                                                        <template #filter>
                                                            <Input type="text" class="p-column-filter"
                                                                v-model="searchKeywords.passportNo"
                                                                v-on:keyup="searchTable()" />
                                                        </template>
                                                    </p-column>

                                                    <p-column field="bookingRef" header="Refernce ID"
                                                        :sortable="true">
                                                        <template #body="slotProps">
                                                            {{slotProps.data.visaRequest.bookingReference || "NA"}}
                                                        </template>
                                                        <template #filter>
                                                            <Input type="text" class="p-column-filter"
                                                                v-model="searchKeywords.bookingRef"
                                                                v-on:keyup="searchTable()" />
                                                        </template>
                                                    </p-column>

                                                    <p-column field="amount" header="Amount" :sortable="true">
                                                        <template #body="slotProps">
                                                            <div style="text-align:center">
                                                                {{$n(slotProps.data.visaRequest.passenger.fare[0].amount) }}
                                                            </div>

                                                        </template>
                                                        <template #filter>
                                                            <Input type="text" class="p-column-filter"
                                                                v-model="searchKeywords.amount"
                                                                v-on:keyup="searchTable()" />
                                                        </template>
                                                    </p-column>

                                                    <p-column field="reqStatus" header="Status" :sortable="true">
                                                        <template #body="slotProps">
                                                            <div :title="mouseOver(slotProps.data)">
                                                                {{slotProps.data.requestTypeStatus.requestStatus.name=='Unclaimed' ? 'Applied' : slotProps.data.requestTypeStatus.requestStatus.name || 'NA'}}
                                                            </div>
                                                        </template>
                                                        <template #filter>
                                                            <p-multiselect v-model="searchKeywords.status"
                                                                :options="rStatus" @change="searchTable()"
                                                                option-label="name" option-value="code"
                                                                placeholder="Select" />
                                                        </template>
                                                    </p-column>

                                                    <p-column header="Action">
                                                        <template #body="slotProps" header="Action">
                                                            <p-button type="button" icon="fa fa-eye" class="p-button"
                                                                @click.prevent=getBookingInfo(slotProps.data)>
                                                            </p-button>
                                                        </template>
                                                    </p-column>

                                                </p-datatable>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </flight-search-visa>


                        </div>
                    </div>


                </div>
            </div>
        </div>
        <!---------Main Footer area------------>
        <footer>
            <master-footer></master-footer>
        </footer>
    </section>

    <!--js start-->
    <script src="/assets/js/modernizr.custom.js?v=201905200000"></script>
    <script src="/assets/js/jquery-3.3.1.min.js?v=201905200000"></script>
    <script src="/assets/js/jquery-news.min.js?v=201910290000"></script>
    <script src="/assets/js/jquery-migrate.min.js?v=201912240000"></script>
    <script src="/assets/plugins/calendar/jquery-ui.js?v=201905220000"></script>
    <script src="/assets/plugins/calendar/datepicker-i18n.js?v=201907220000"></script>
    <script src="/assets/js/bootstrap.min.js?v=201912240000"></script>
    <script src="/assets/js/axios.min.js?v=201912240000"></script>
    <script src="/assets/js/vue.min.js?v=202002060000"></script>
    <script src="/assets/js/vue-i18n.js?v=201912240000"></script>
    <script src="/assets/plugins/moment/moment.min.js?v=201907220000"></script>
    <script src="/assets/plugins/alertifyJs/alertify.min.js?v=201905200000"></script>
    <script src="/assets/js/elasticsearch.min.js?v=201908130000"></script>
    <script src="/assets/js/underscore-min.js?v=201912240000"></script>
    <script src="/Flights/assets/js/UTCTime.js?v=1034" defer></script>
    <script src="/Flights/FlightComponents/js/AirCommonServices.js?v=201907250000"></script>
    <script src="/Flights/assets/js/Airlines.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js?v=1034"></script>

    <script src="/assets/plugins/primevue/js/dialog.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/button.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/toolbar.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/inputtext.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/accordion.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/accordiontab.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/checkbox.umd.min.js?v=202005050000"></script>
    <script src="/assets/js/summernote.min.js?v=201912240000"></script>
    <script src="/Flights/assets/js/cabinclass.js"></script>
    <script src="/Flights/FlightComponents/js/svgs.js?v=201907240000"></script>
    <script src="/Flights/assets/js/Airplanes.js"></script>

    <!-- For lazy Loading -->
    <script src="/assets/plugins/primevue/js/multiselect.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/dropdown.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/calendar.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/paginator.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/datatable.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/button.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/column.umd.min.js?v=202005050000"></script>
    <!-- For lazy Loading -->

    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202008060000"></script>
    <script src="/Login/LoginComponents/js/login.js?v=202007160000"></script>
    <script src="/CommonFuntions/ExtentionMethods.js?v=201905200000"></script>
    <script src="/CommonFuntions/CommonFunctions.js?v=202009021530"></script>
    <script src="/Flights/assets/js/Airlines.js"></script>
    <script src="/Flights/assets/js/UTCTime.js"></script>
    <script src="/Flights/FlightComponents/js/AirCommonServices.js?v=201907250000"></script>
    <script src="/CommonFuntions/searchofflinebookings.js?v=20220318000"></script>
    <script src="/CommonFuntions/MainComponents.js?v=202012180000"></script>
    <script src="/assets/js/highlight.pack.js?v=201910290000"></script>
    <!--js end-->



</body>

</html>