﻿<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="apple-touch-icon" href="#" />
    <link rel="shortcut icon" href="#" />
    <!-- Place favicon.ico in the root directory -->
    <meta name="theme-color" content="#fafafa" />

    <link rel="stylesheet" type="text/css" href="/assets/plugins/bootstrap/bootstrap.min.css?v=201905200000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/font-awesome/font-awesome.min.css?v=201905200000" />
    <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css?v=20200912000" />
    <link rel="stylesheet" type="text/css" href="/Hotels/HotelComponents/assets/css/hotel.css?v=202005040000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/calendar/jquery-ui.css?v=201905260000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/alertifyJs/alertify.min.css?v=201909230000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/alertifyJs/default.min.css?v=201905200000" />
    <link rel="stylesheet" type="text/css" href="/assets/css/datatables.min.css?v=201905200000" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.0.0/css/buttons.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/css/flag-icon.min.css">
    <link href="/assets/css/breaking-news-ticker.min.css?v=201910040000" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/assets/css/Style.css?v=2019100400000" />

    <link rel="stylesheet" type="text/css" href="/assets/plugins/primevue/css/theme.css?v=202005050000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/primevue/css/primevue.min.css?v=202005050000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/primevue/css/primeicons.css?v=202005050000" />
    <link rel="stylesheet" type="text/css" href="/assets/css/summernote.css?v=202005050000" />

    <style>
        [v-cloak] {
            display: none;
        }
        
        .form_sec label {
            color: #454f69 !important;
        }
    </style>

</head>

<body>
    <!--[if IE]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->
    <section v-cloak id="master_vue_element" class="wrapper">
        <!---------Main Header area------------>
        <header>
            <master-header></master-header>
        </header>
        <div class="main_cont_area">
            <master-sidebar></master-sidebar>
            <div class="container paddingtopbottom20">
                <div>
                    <div class="search_area tabSearch" style="width:100%;">
                        <h1>MY BOOKINGS</h1>
                        <div class="searchtabSec">
                            <ul class="nav nav-tabs">
                                <li :class="{active:commonStore.currentSearchBookingpage=='flights'}" v-if="commonStore.commonRoles.hasAirSearchBookings">
                                    <a href="#" @click.prevent="setServiceSearchBookingPage('flights')">{{$t('Common_Labels.Flight_Label')}}</a>
                                </li>
                                <li :class="{active:commonStore.currentSearchBookingpage=='hotels'}" v-if="commonStore.commonRoles.hasHotelSearchBookings">
                                    <a href="#" @click.prevent="setServiceSearchBookingPage('hotels')">{{$t('Common_Labels.Hotel_Label')}}</a>
                                </li>
                                <li :class="{active:commonStore.currentSearchBookingpage=='sightseeing'}" v-if="commonStore.commonRoles.hasSightseingSearchBookings">
                                    <a href="#" @click.prevent="setServiceSearchBookingPage('sightseeing')">{{$t('Common_Labels.Sightseeing_Label')}}</a>
                                </li>
                                <li class="show" :class="{active:commonStore.currentSearchBookingpage=='tp-insurance'||commonStore.currentSearchBookingpage=='wis-insurance'}" v-if="commonStore.commonRoles.hasInsuranceSearchBookings || commonStore.commonRoles.hasInsuranceTPSearchBookings">
                                    <a>{{$t('Common_Labels.Insurance_Label')}}</a>
                                    <ul class="list-categories">
                                        <li v-if="commonStore.commonRoles.hasInsuranceSearchBookings">
                                            <a href="#" @click.prevent="setServiceSearchBookingPage('wis-insurance')">{{$t('Common_Labels.WIS_Label')}}</a>
                                        </li>
                                        <li v-if="commonStore.commonRoles.hasInsuranceTPSearchBookings">
                                            <a href="#" @click.prevent="setServiceSearchBookingPage('tp-insurance')">{{$t('Common_Labels.TuneProtect_Label')}}</a>
                                        </li>
                                        <li v-if="commonStore.commonRoles.hasInsuranceSearchBookings">
                                            <a href="#" @click.prevent="setServiceSearchBookingPage('unitrust-insurance')">Unitrust</a>
                                        </li>
                                    </ul>
                                </li>
                                <li :class="{active:commonStore.currentSearchBookingpage=='transfer'}" v-if="commonStore.commonRoles.hastranferSearchBookings">
                                    <a href="#" @click.prevent="setServiceSearchBookingPage('transfer')">{{$t('Common_Labels.Transfer_Label')}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <flight-search-bookings v-if="commonStore.currentSearchBookingpage=='flights'" inline-template>
                        <div>
                            <div class="search_field bookinginfo_sec">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-6">
                                        <div class="form_sec">
                                            <label>Booking ref (PNR)</label>
                                            <input v-model="bookRef" type="text" class="txt-srch" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6">
                                        <div class="form_sec">
                                            <label>Given name</label>
                                            <input v-model="paxName" type="text" class="txt-srch" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6">
                                        <div class="form_sec">
                                            <label>{{$t('Flight_Search_Booking.BookingDateFrom_Label')}}</label>
                                            <input id="BookingDateFrom" type="text" class="calender_areatxt calfrom" placeholder="" autocomplete="off" />
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6">
                                        <div class="form_sec">
                                            <label>{{$t('Flight_Search_Booking.BookingDateTo_Label')}}</label>
                                            <input id="BookingDateTo" type="text" class="calender_areatxt cont_txt01 calto" placeholder="" autocomplete="off" />
                                        </div>
                                    </div>
                                </div>
                                <div v-show="showMoreFields">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-6">
                                            <div class="form_sec">
                                                <label>{{$t('Flight_Search_Booking.DepartureCity_Label')}}</label>
                                                <!-- <input id="DepartureCity" type="text" class="txt-srch airportCities" placeholder=""> -->
                                                <flight-autocomplete
                                                trip-type="o" id="DepartureCity" :item-id="FlightItemtID.cityFrom" 
                                                item-text="from" place-holder-text="" 
                                                :status="statusSearch" :return-value="flightSearchCityName.cityFrom"
                                                @air-search-completed="flightSearchcomplete"></flight-autocomplete>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-6">
                                            <div class="form_sec">
                                                <label>{{$t('Flight_Search_Booking.ArrivalCity_Label')}}</label>
                                                <!-- <input id="ArrivalCity" type="text" class="txt-srch airportCities" placeholder=""> -->
                                                <flight-autocomplete
                                                trip-type="o" id="ArrivalCity" :item-id="FlightItemtID.cityTo" 
                                                item-text="from" place-holder-text="" 
                                                :status="statusSearch" :return-value="flightSearchCityName.cityTo"
                                                @air-search-completed="flightSearchcomplete"></flight-autocomplete>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-6">
                                            <div class="form_sec">
                                                <label>{{$t('Flight_Search_Booking.DepartureDateFrom_Label')}}</label>
                                                <input id="DepartureDateFrom" type="text" class="calender_areatxt calfrom" placeholder="" autocomplete="off" />
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-6">
                                            <div class="form_sec">
                                                <label>{{$t('Flight_Search_Booking.DepartureDateTo_Label')}}</label>
                                                <input id="DepartureDateTo" type="text" class="calender_areatxt cont_txt01 calto" placeholder="" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-6">
                                            <div class="form_sec">
                                                <label>{{$t('Flight_Search_Booking.ArrivalDateFrom_Label')}}</label>
                                                <input id="ArrivalDateFrom" type="text" class="calender_areatxt calfrom" placeholder="" autocomplete="off" />
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-6">
                                            <div class="form_sec">
                                                <label>{{$t('Flight_Search_Booking.ArrivalDateTo_Label')}}</label>
                                                <input id="ArrivalDateTo" type="text" class="calender_areatxt cont_txt01 calto" placeholder="" autocomplete="off" />
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-6">
                                            <div class="form_sec">
                                                <label>{{$t('Flight_Search_Booking.JourneyType_Label')}}</label>
                                                <select id="ddlJourney" class="txt-srch" v-model="journeyType">
                                                    <option value="">All</option>
                                                    <option value="1">One-Way</option>
                                                    <option value="2">Round Trip</option>
                                                    <option value="3">Multi City</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-6">
                                            <div class="form_sec">
                                                <label>{{$t('Flight_Search_Booking.Stops_Label')}}</label>
                                                <select id="ddlStops" class="txt-srch" v-model="stops">
                                                    <option value="">All</option>
                                                    <option value="0">0</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-6">
                                            <div class="form_sec">
                                                <label>{{$t('Flight_Search_Booking.Status_Label')}}</label>
                                                <select id="ddlStatus" class="txt-srch" v-model="status">
                            <option value="">All</option>
                            <option value="RQ">Requested</option>
                            <option value="HK">Booking Success/Confirmed</option>
                            <option value="OK">Ticketed</option>
                            <option value="XX">Cancelled</option>
                        </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-6" id="ddlOpAirline">
                                            <div class="form_sec">
                                                <label>{{$t('Flight_Search_Booking.OperatingAirline_Label')}}</label>
                                                <select id="ddlAirline" class="txt-srch" v-model="operatingAirLine">
                            <option value="">All</option>
                            <option v-for="(airline, index) in airlineList" :key="index" :value="airline.C">{{airline.A}}
                            </option>
                        </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-6" v-if="commonStore.commonRoles.hasAirSupplier">
                                            <div class="form_sec rel_sec">
                                                <label>{{$t('Flight_Search_Booking.Supplier_Label')}}</label>
                                                <select id="ddlSupplier" class="txt-srch" v-model="supplier">
                            <option value="">All</option>
                            <option v-for="(supplier, index) in supplierList" :key="index" :value="supplier.id">
                            {{supplier.name}}</option>
                        </select>
                                                <!-- <div class="drop_loader"><i class="fa fa-spinner fa-spin"></i></div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12" style="display: flex; justify-content: flex-end; align-items: center;">
                                        <a href="#" style="margin: 10px 30px 0 0;" @click.prevent="showMoreFields = !showMoreFields">{{showMoreFields ? 'Hide more options' : 'More search options'}}</a>
                                        <input type="submit" class="search" @click="getAirBookingsCriteria" :value="$t('Common_Labels.SearchBtn_Label')">
                                    </div>
                                </div>
                            </div>
                            <data-table-component inline-template :show-booking-list="showBookingList" :send-request="sendRequest" :show-booking-list="showBookingList" :no-data-from-response="noDataFromResponse" :booking-list="bookingList" :get-booking-info="getBookingInfo">
                                <slot>
                                    <div v-if="showBookingList" class="search_area" style="width: 100%;">
                                        <div class="search_field table-responsive bookinginfo_sec" style="margin-top: 20px;">
                                            <img v-if="sendRequest" src="/assets/images/Loading_red.gif" alt="" style="width:10%;height:10%; align-items: flex-start;" />
                                            <table id="tableSearch" v-if="!sendRequest&&showBookingList&&!noDataFromResponse" class="table table-responsive table-hover srch_grid_style01">
                                                <thead>
                                                    <tr>
                                                        <th>Date</th>
                                                        <th>Booking ID</th>
                                                        <th>Supplier</th>
                                                        <th>PNR</th>
                                                        <th>Trip</th>
                                                        <th>Name</th>
                                                        <th>Travel Date</th>
                                                        <th>Status</th>
                                                        <!-- <th>{{$t('Flight_Search_Booking.Deadline_Label')}}</th> -->
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="(item, index) in bookingList" :key="index" @click="getBookingInfo(item)" style="cursor:pointer">
                                                        <td :data-order="momentLocale(item.bookDate).unix()"><span data-toggle="tooltip" data-placement="top" :title="momentLocale(item.bookDate).format('DD MMM YYYY HH:mm')">{{momentLocale(item.bookDate).format('DD MMM YYYY')}}</span></td>
                                                        <td :data-order="item.referenceNumber.split('-')[1]"><span data-toggle="tooltip" data-placement="top" :title="item.paxName">{{item.referenceNumber}}</span></td>
                                                        <td>{{item.supplierName}}</td>
                                                        <td>{{item.supplierReferenceNumber}}</td>
                                                        <td>{{item.trip}} ({{['OW', 'RT', 'MC'][parseInt(item.tripId)-1]}})</td>
                                                        <td>{{item.paxName}} x {{item.paxCount}}</td>
                                                        <td><span data-toggle="tooltip" data-placement="top" :title="momentLocale(item.departureDate).format('DD MMM YYYY HH:mm')">{{momentLocale(item.departureDate).format('DD MMM YYYY')}}</span></td>
                                                        <td>{{item.status}}</td>
                                                        <!-- <td><span data-toggle="tooltip" data-placement="top"
                                :title="momentLocale(item.deadlineDate).format('DD MMM YYYY HH:mm')">{{momentLocale(item.deadlineDate).format('DD MMM YYYY')}}</span>
                            </td> -->
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div v-if="!sendRequest&&noDataFromResponse">
                                                <h1>{{$t('Common_Labels.NoRecord_Label')}}<i class="fa fa-database" aria-hidden="true"></i></h1>
                                            </div>
                                        </div>
                                    </div>
                                </slot>
                            </data-table-component>
                        </div>
                    </flight-search-bookings>
                    <hotel-search-bookings v-cloak v-if="commonStore.currentSearchBookingpage=='hotels'" inline-template>
                        <div>
                            <div class="search_field bookinginfo_sec">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-6">
                                        <div class="form_sec">
                                            <label>{{$t('Hotel_Search_Booking.CityName_Label')}}</label>
                                            <input id="CityName" type="text" class="txt-srch" placeholder="" v-model="city">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6">
                                        <div class="form_sec">
                                            <label>{{$t('Hotel_Search_Booking.HotelName_Label')}}</label>
                                            <input id="hotelName" type="text" class="txt-srch" placeholder="" v-model="hotelName">
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-sm-6">
                                        <div class="form_sec">
                                            <label>{{$t('Hotel_Search_Booking.BookingDateFrom_Label')}}</label>
                                            <input id="BookingDateFrom" type="text" class="calender_areatxt calfrom" placeholder="" v-model="bookingFromDate" autocomplete="off" />
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6">
                                        <div class="form_sec">
                                            <label>{{$t('Hotel_Search_Booking.BookingDateTo_Label')}}</label>
                                            <input id="BookingDateTo" type="text" class="calender_areatxt cont_txt01 calto" placeholder="" v-model="bookingToDate" autocomplete="off" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-6">
                                        <div class="form_sec">
                                            <label>{{$t('Hotel_Search_Booking.CheckinDateFrom_Label')}}</label>
                                            <input id="CheckinDateFrom" type="text" class="calender_areatxt calfrom" placeholder="" v-model="checkInFromDate" autocomplete="off" />
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6">
                                        <div class="form_sec">
                                            <label>{{$t('Hotel_Search_Booking.CheckinDateTo_Label')}}</label>
                                            <input id="CheckinDateTo" type="text" class="calender_areatxt cont_txt01 calto" placeholder="" v-model="checkInToDate" autocomplete="off" />
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-sm-6">
                                        <div class="form_sec">
                                            <label>{{$t('Hotel_Search_Booking.CheckoutDateFrom_Label')}}</label>
                                            <input id="CheckoutDateFrom" type="text" class="calender_areatxt calfrom" placeholder="" v-model="checkOutFromDate" autocomplete="off" />
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6">
                                        <div class="form_sec">
                                            <label>{{$t('Hotel_Search_Booking.CheckoutDateTo_Label')}}</label>
                                            <input id="CheckoutDateTo" type="text" class="calender_areatxt cont_txt01 calto" placeholder="" v-model="checkOutToDate" autocomplete="off" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-6">
                                        <div class="form_sec">
                                            <label>{{$t('Hotel_Search_Booking.BookingRefNo_Label')}}</label>
                                            <input id="BookingRefNo" type="text" class="txt-srch" placeholder="" v-model="bookingRef">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6">
                                        <div class="form_sec">
                                            <label>{{$t('Hotel_Search_Booking.SupplierRefNo_Label')}}</label>
                                            <input id="SupplierRefNo" type="text" class="txt-srch" placeholder="" v-model="supplierRef">
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-sm-6 mb_sp">
                                        <div class="form_sec" v-click-outside="hideStatus">
                                            <label>{{$t('Hotel_Search_Booking.Status_Label')}}</label>
                                            <div class="multi_selector">
                                                <div @click.stop="showStatusDropdown" class="multi_boxnew" :class="{multi_boxnew_whitebg:statusList.length==1}">{{statusSearchLabel}}</div>
                                                <div class="multi_dropBox multi_dropBox_unhide" v-if="showStatusList">
                                                    <ul>
                                                        <li><input v-model="selectAll" type="checkbox"><label>All Status</label></li>
                                                        <li v-for="(status, index) in statusList" :key="index">
                                                            <input v-model="selectedStatus" :value="status.id" number type="checkbox"><label>{{status.label}}</label>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <input type="submit" class="search" @click="searchHotel" :value="$t('Common_Labels.SearchBtn_Label')">
                                    </div>

                                </div>
                            </div>
                            <data-table-component inline-template :show-booking-list="showBookingList" :send-request="sendRequest" :show-booking-list="showBookingList" :no-data-from-response="noDataFromResponse" :booking-list="bookingList" :get-booking-info="getBookingInfo">
                                <slot>
                                    <div v-if="showBookingList" class="search_area" style="width: 100%;">
                                        <div class="search_field table-responsive bookinginfo_sec" style="margin-top: 20px;">
                                            <img v-if="sendRequest" src="/assets/images/Loading_red.gif" alt="" style="width:10%;height:10%; align-items: flex-start;" />
                                            <table id="tableSearch" v-if="!sendRequest&&showBookingList&&!noDataFromResponse" class="table table-responsive table-hover srch_grid_style01">
                                                <thead>
                                                    <tr>
                                                        <th>{{$t('Hotel_Search_Booking.ReferenceID_Label')}}</th>
                                                        <th>{{$t('Hotel_Search_Booking.City_Label')}}</th>
                                                        <th>{{$t('Hotel_Search_Booking.Hotel_Label')}}</th>
                                                        <th>{{$t('Hotel_Search_Booking.Checkin_Label')}}</th>
                                                        <th>{{$t('Hotel_Search_Booking.Nights_Label')}}</th>
                                                        <th>{{$t('Hotel_Search_Booking.Timelimit_Label')}}</th>
                                                        <th>{{$t('Hotel_Search_Booking.Booking_Label')}}</th>
                                                        <th>{{$t('Hotel_Search_Booking.Status_Label')}}</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="(item, index) in bookingList" :key="index" @click="getBookingInfo(item)" style="cursor:pointer">
                                                        <td :data-order="item.referenceNumber.split('-')[1]">{{item.referenceNumber}}</td>
                                                        <td><span data-toggle="tooltip" data-placement="top" title="" :data-original-title="item.cityName">{{(item.cityName||'').split(',')[0]}}</span></td>
                                                        <td>{{item.hotelName}}</td>
                                                        <td><span data-toggle="tooltip" data-placement="top" title="" :data-original-title="momentLocale(item.checkInDate).format('DD MMM YYYY HH:mm')">{{momentLocale(item.checkInDate).format('DD MMM YYYY')}}</span>
                                                        </td>
                                                        <td>{{item.numOfNights}}</td>
                                                        <td><span data-toggle="tooltip" data-placement="top" title="" :data-original-title="momentLocale(item.deadlineDate).format('DD MMM YYYY HH:mm')">{{momentLocale(item.deadlineDate).format('DD MMM YYYY')}}</span>
                                                        </td>
                                                        <td><span data-toggle="tooltip" data-placement="top" title="" :data-original-title="momentLocale(item.bookDate).format('DD MMM YYYY HH:mm')">{{momentLocale(item.bookDate).format('DD MMM YYYY')}}</span>
                                                        </td>
                                                        <td><span data-toggle="tooltip" data-placement="top" title="" :data-original-title="item.status">{{item.status}}</span></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div v-if="!sendRequest&&noDataFromResponse">
                                                <h1>{{$t('Common_Labels.NoRecord_Label')}}<i class="fa fa-database" aria-hidden="true"></i></h1>
                                            </div>
                                        </div>
                                    </div>
                                </slot>
                            </data-table-component>
                        </div>
                    </hotel-search-bookings>
                    <sightseeing-search-bookings v-cloak v-if="commonStore.currentSearchBookingpage=='sightseeing'" inline-template>
                        <div class="search_field bookinginfo_sec">

                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <div class="form_sec">
                                        <label>Booking Date (From)</label>
                                        <input id="BookingDateFrom" readonly="" class="calender_areatxt calfrom hasDatepicker" placeholder="" />
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <div class="form_sec">
                                        <label>Booking Date (To)</label>
                                        <input id="BookingDateTo" readonly="" class="calender_areatxt cont_txt01 calto hasDatepicker" placeholder="" />
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <div class="form_sec">
                                        <label>Travel Date (From)</label>
                                        <input id="CheckinDateFrom" readonly="" class="calender_areatxt calfrom hasDatepicker" placeholder="" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <div class="form_sec">
                                        <label>Travel Date (To)</label>
                                        <input id="CheckinDateTo" readonly="" class="calender_areatxt cont_txt01 calto hasDatepicker" placeholder="" />
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <div class="form_sec">
                                        <label>Booking Ref. No.</label>
                                        <input id="BookingRefNo" type="text" class="txt-srch" placeholder="">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <div class="form_sec">
                                        <label>Status</label>
                                        <select id="ddlStatus" class="txt-srch">
                      <option value="">All</option>
                      <option value="RR">Reconfirmed</option>
                      <option value="HK">Booking Success/Confirmed</option>
                      <option value="CP">Confirmation Pending</option>
                      <option value="XX">Cancelled</option>
                      <option value="RQ">On Request</option>
                      <option value="XR">Cancellation on Request</option>
                    </select>
                                    </div>
                                </div>
                            </div>
                            <input type="submit" class="search" onclick="getSightBookings()" value="Search">
                        </div>
                    </sightseeing-search-bookings>
                    <wis-insurance-search-bookings v-if="commonStore.currentSearchBookingpage=='wis-insurance'" inline-template>
                    <div>
                        <div class="search_field bookinginfo_sec">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <div class="form_sec">
                                        <label>{{pageContent.Booking_From_Date_Label}}</label>
                                        <input id="BookingDateFrom" type="text" class="calender_areatxt calfrom" placeholder=""
                                            v-model="bookingFromDate" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <div class="form_sec">
                                        <label>{{pageContent.Booking_To_Date_Label}}</label>
                                        <input id="BookingDateTo" type="text" class="calender_areatxt calfrom" placeholder=""
                                            v-model="bookingToDate" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <div class="form_sec">
                                        <label>{{pageContent.Booking_Reference_Label}}</label>
                                        <input id="BookingRefNo" v-model="bookingRef" type="text" class="txt-srch" placeholder="">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <div class="form_sec">
                                        <label>{{pageContent.Policy_Number_Label}}</label>
                                        <input id="SupplierRefNo" v-model="policyNo" type="text" class="txt-srch" placeholder="">
                                    </div>
                                </div>
                    
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <div class="form_sec">
                                        <label>{{pageContent.Start_From_Date_Label}}</label>
                                        <input id="CheckinDateFrom" type="text" autocomplete="off" v-model="startFromDate"
                                            class="calender_areatxt calfrom" placeholder="" />
                                    </div>
                                </div>
                    
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <div class="form_sec">
                                        <label>{{pageContent.Start_To_Date_Label}}</label>
                                        <input id="CheckinDateTo" type="text" autocomplete="off" v-model="startToDate"
                                            class="calender_areatxt cont_txt01 calto" placeholder="" />
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <div class="form_sec">
                                        <label>{{pageContent.Status_Label}}</label>
                                        <select id="ddlStatus" class="txt-srch" v-model="status">
                                            <option v-for="item in statusLst" :value="item.value">{{item.name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <div class="form_sec">
                                        <label>{{pageContent.Premium_Name_Label}}</label>
                                        <input v-model="premiumName" id="PremiumName" type="text" class="txt-srch" placeholder="">
                                    </div>
                                </div>
                    
                            </div>
                            <div class="row">
                    
                            </div>
                            <input type="submit" class="search" @click="getInsBookings()" value="Search">
                        </div>
                        <data-table-component inline-template :show-booking-list="showBookingList" :send-request="sendRequest"
                            :show-booking-list="showBookingList" :no-data-from-response="noDataFromResponse" :booking-list="bookingList"
                            :get-booking-info="getBookingInfo">
                            <slot>
                                <div v-if="showBookingList" class="search_area" style="width: 100%;">
                                    <div class="search_field table-responsive bookinginfo_sec" style="margin-top: 20px;">
                                        <img v-if="sendRequest" src="/assets/images/Loading_red.gif" alt=""
                                            style="width:10%;height:10%; align-items: flex-start;" />
                                        <table id="tableSearch" v-if="!sendRequest&&showBookingList&&!noDataFromResponse"
                                            class="table table-responsive table-hover srch_grid_style01">
                                            <thead>
                                                <tr>
                                                    <th>Ref.Number</th>
                                                    <th>Supplier Reference</th>
                                                    <th>Insurance Name</th>
                                                    <th>Booked On</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="(item, index) in bookingList" :key="index" @click="getBookingInfo(item)"
                                                    style="cursor:pointer">
                    
                                                    <td :data-order="item.referenceNumber.split('-')[1]">{{item.referenceNumber}}</td>
                                                    <td>
                                                        <span data-toggle="tooltip" data-placement="top" title=""
                                                            :data-original-title="item.supplierReferenceNumber">{{(item.supplierReferenceNumber||'')}}</span>
                                                    </td>
                                                    <td>{{item.insurName}}</td>
                                                    <td>
                                                        <span data-toggle="tooltip" data-placement="top" title=""
                                                            :data-original-title="momentLocale(item.bookDate).format('DD MMM YYYY HH:mm')">{{momentLocale(item.bookDate).format('DD MMM YYYY')}}</span>
                                                    </td>
                                                    <td>
                                                        <span data-toggle="tooltip" data-placement="top" title=""
                                                            :data-original-title="item.status">{{item.status}}</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div v-if="!sendRequest&&noDataFromResponse">
                                            <h1>{{$t('Common_Labels.NoRecord_Label')}}<i class="fa fa-database" aria-hidden="true"></i></h1>
                                        </div>
                                    </div>
                                </div>
                            </slot>
                        </data-table-component>
                    </div>
                    </wis-insurance-search-bookings>
                    <tp-insurance-search-bookings v-if="commonStore.currentSearchBookingpage=='tp-insurance'" inline-template>
                        <div>
                            <div class="search_field bookinginfo_sec">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="form_sec">
                                            <label>{{pageContent.Booking_From_Date_Label}}</label>
                                            <input id="BookingDateFrom" type="text" class="calender_areatxt calfrom" placeholder="" v-model="bookingFromDate" autocomplete="off" />
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="form_sec">
                                            <label>{{pageContent.Booking_To_Date_Label}}</label>
                                            <input id="BookingDateTo" type="text" class="calender_areatxt calfrom" placeholder="" v-model="bookingToDate" autocomplete="off" />
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="form_sec">
                                            <label>{{pageContent.Booking_Reference_Label}}</label>
                                            <input id="BookingRefNo" v-model="bookingRef"  type="text" class="txt-srch" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="form_sec">
                                            <label>{{pageContent.Policy_Number_Label}}</label>
                                            <input id="SupplierRefNo" v-model="policyNo" type="text" class="txt-srch" placeholder="">
                                        </div>
                                    </div>
                                
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="form_sec">
                                            <label>{{pageContent.Start_From_Date_Label}}</label>
                                            <input id="CheckinDateFrom" type="text" autocomplete="off"  v-model="startFromDate"  class="calender_areatxt calfrom" placeholder="" />
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="form_sec">
                                            <label>{{pageContent.Start_To_Date_Label}}</label>
                                            <input id="CheckinDateTo" type="text" autocomplete="off"  v-model="startToDate"  class="calender_areatxt cont_txt01 calto" placeholder="" />
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="form_sec">
                                            <label>{{pageContent.Status_Label}}</label>
                                            <select id="ddlStatus" class="txt-srch" v-model="status" >
                                                <option v-for="item in statusLst" :value="item.value">{{item.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="form_sec">
                                            <label>{{pageContent.Premium_Name_Label}}</label>
                                            <input v-model="premiumName" id="PremiumName" type="text" class="txt-srch" placeholder="">
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    
                                </div>
                                <input type="submit" class="search" @click="getInsBookings()" value="Search">
                            </div>
                            <data-table-component inline-template :show-booking-list="showBookingList" :send-request="sendRequest" :show-booking-list="showBookingList" :no-data-from-response="noDataFromResponse" :booking-list="bookingList" :get-booking-info="getBookingInfo">
                                <slot>
                                    <div v-if="showBookingList" class="search_area" style="width: 100%;">
                                        <div class="search_field table-responsive bookinginfo_sec" style="margin-top: 20px;">
                                            <img v-if="sendRequest" src="/assets/images/Loading_red.gif" alt="" style="width:10%;height:10%; align-items: flex-start;" />
                                            <table id="tableSearch" v-if="!sendRequest&&showBookingList&&!noDataFromResponse"  class="table table-responsive table-hover srch_grid_style01">
                                                <thead>
                                                    <tr>
                                                        <th>Ref.Number</th>
                                                        <th>Supplier Reference</th>
                                                        <th>Insurance Name</th>
                                                        <th>Booked On</th>
                                                        <th>Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="(item, index) in bookingList" :key="index" @click="getBookingInfo(item)" style="cursor:pointer">
                                                    
                                                        <td :data-order="item.referenceNumber.split('-')[1]">{{item.referenceNumber}}</td>
                                                        <td>
                                                            <span data-toggle="tooltip" data-placement="top" title="" :data-original-title="item.supplierReferenceNumber">{{(item.supplierReferenceNumber||'')}}</span>
                                                        </td>
                                                        <td >{{item.insurName}}</td>
                                                        <td>
                                                            <span data-toggle="tooltip" data-placement="top" title="" :data-original-title="momentLocale(item.bookDate).format('DD MMM YYYY HH:mm')">{{momentLocale(item.bookDate).format('DD MMM YYYY')}}</span>
                                                        </td>
                                                        <td>
                                                            <span data-toggle="tooltip" data-placement="top" title="" :data-original-title="item.status">{{item.status}}</span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div v-if="!sendRequest&&noDataFromResponse">
                                                <h1>{{$t('Common_Labels.NoRecord_Label')}}<i class="fa fa-database" aria-hidden="true"></i></h1>
                                            </div>
                                        </div>
                                    </div>
                                </slot>
                            </data-table-component>
                        </div>
                    </tp-insurance-search-bookings>
                    <unitrust-insurance-search-bookings v-if="commonStore.currentSearchBookingpage=='unitrust-insurance'" inline-template>
                        <div>
                            <div class="search_field bookinginfo_sec">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="form_sec">
                                            <label>{{pageContent.Booking_From_Date_Label}}</label>
                                            <input id="BookingDateFrom" type="text" class="calender_areatxt calfrom" placeholder="" v-model="bookingFromDate" autocomplete="off" />
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="form_sec">
                                            <label>{{pageContent.Booking_To_Date_Label}}</label>
                                            <input id="BookingDateTo" type="text" class="calender_areatxt calfrom" placeholder="" v-model="bookingToDate" autocomplete="off" />
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="form_sec">
                                            <label>{{pageContent.Booking_Reference_Label}}</label>
                                            <input id="BookingRefNo" v-model="bookingRef"  type="text" class="txt-srch" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="form_sec">
                                            <label>{{pageContent.Policy_Number_Label}}</label>
                                            <input id="SupplierRefNo" v-model="policyNo" type="text" class="txt-srch" placeholder="">
                                        </div>
                                    </div>
                                
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="form_sec">
                                            <label>{{pageContent.Start_From_Date_Label}}</label>
                                            <input id="CheckinDateFrom" type="text" autocomplete="off"  v-model="startFromDate"  class="calender_areatxt calfrom" placeholder="" />
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="form_sec">
                                            <label>{{pageContent.Start_To_Date_Label}}</label>
                                            <input id="CheckinDateTo" type="text" autocomplete="off"  v-model="startToDate"  class="calender_areatxt cont_txt01 calto" placeholder="" />
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="form_sec">
                                            <label>{{pageContent.Status_Label}}</label>
                                            <select id="ddlStatus" class="txt-srch" v-model="status" >
                                                <option v-for="item in statusLst" :value="item.value">{{item.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="form_sec">
                                            <label>{{pageContent.Premium_Name_Label}}</label>
                                            <input v-model="premiumName" id="PremiumName" type="text" class="txt-srch" placeholder="">
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    
                                </div>
                                <input type="submit" class="search" @click="getInsBookings()" value="Search">
                            </div>
                            <data-table-component inline-template :show-booking-list="showBookingList" :send-request="sendRequest" :show-booking-list="showBookingList" :no-data-from-response="noDataFromResponse" :booking-list="bookingList" :get-booking-info="getBookingInfo">
                                <slot>
                                    <div v-if="showBookingList" class="search_area" style="width: 100%;">
                                        <div class="search_field table-responsive bookinginfo_sec" style="margin-top: 20px;">
                                            <img v-if="sendRequest" src="/assets/images/Loading_red.gif" alt="" style="width:10%;height:10%; align-items: flex-start;" />
                                            <table id="tableSearch" v-if="!sendRequest&&showBookingList&&!noDataFromResponse"  class="table table-responsive table-hover srch_grid_style01">
                                                <thead>
                                                    <tr>
                                                        <th>Ref.Number</th>
                                                        <th>Supplier Reference</th>
                                                        <th>Insurance Name</th>
                                                        <th>Booked On</th>
                                                        <th>Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="(item, index) in bookingList" :key="index" @click="getBookingInfo(item)" style="cursor:pointer">
                                                    
                                                        <td :data-order="item.referenceNumber.split('-')[1]">{{item.referenceNumber}}</td>
                                                        <td>
                                                            <span data-toggle="tooltip" data-placement="top" title="" :data-original-title="item.supplierReferenceNumber">{{(item.supplierReferenceNumber||'')}}</span>
                                                        </td>
                                                        <td >{{item.insurName}}</td>
                                                        <td>
                                                            <span data-toggle="tooltip" data-placement="top" title="" :data-original-title="momentLocale(item.bookDate).format('DD MMM YYYY HH:mm')">{{momentLocale(item.bookDate).format('DD MMM YYYY')}}</span>
                                                        </td>
                                                        <td>
                                                            <span data-toggle="tooltip" data-placement="top" title="" :data-original-title="item.status">{{item.status}}</span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div v-if="!sendRequest&&noDataFromResponse">
                                                <h1>{{$t('Common_Labels.NoRecord_Label')}}<i class="fa fa-database" aria-hidden="true"></i></h1>
                                            </div>
                                        </div>
                                    </div>
                                </slot>
                            </data-table-component>
                        </div>
                    </unitrust-insurance-search-bookings>
                    <transfer-search-bookings v-if="commonStore.currentSearchBookingpage=='transfer'" inline-template>
                        <div class="search_field bookinginfo_sec">

                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <div class="form_sec">
                                        <label>Booking Date (From)</label>
                                        <input id="BookingDateFrom" readonly="" class="calender_areatxt calfrom hasDatepicker" placeholder="" />
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <div class="form_sec">
                                        <label>Booking Date (To)</label>
                                        <input id="BookingDateTo" readonly="" class="calender_areatxt cont_txt01 calto hasDatepicker" placeholder="" />
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <div class="form_sec">
                                        <label>Transfer Date (From)</label>
                                        <input id="CheckinDateFrom" readonly="" class="calender_areatxt calfrom hasDatepicker" placeholder="" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <div class="form_sec">
                                        <label>Transfer Date (To)</label>
                                        <input id="CheckinDateTo" readonly="" class="calender_areatxt cont_txt01 calto hasDatepicker" placeholder="" />
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <div class="form_sec">
                                        <label>Booking Ref. No.</label>
                                        <input id="BookingRefNo" type="text" class="txt-srch" placeholder="">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <div class="form_sec">
                                        <label>Status</label>
                                        <select id="ddlStatus" class="txt-srch">
                      <option value="">Select all</option>
                      <option value="RQ">On Request</option>
                      <option value="ID">Issued</option>
                      <option value="XX">Cancelled</option>
                    </select>
                                    </div>
                                </div>
                            </div>
                            <input type="submit" class="search" onclick="getTnsBookings()" value="Search">
                        </div>
                    </transfer-search-bookings>
                </div>
            </div>
        </div>
        <!---------Main Footer area------------>
        <footer>
            <master-footer></master-footer>
        </footer>
    </section>

    <!--js start-->
    <script src="/assets/js/modernizr.custom.js?v=201905200000"></script>
    <script src="/assets/js/jquery-3.3.1.min.js?v=201905200000"></script>
    <script src="/assets/js/jquery-news.min.js?v=201910290000"></script>
    <script src="/assets/js/jquery-migrate.min.js?v=201912240000"></script>
    <script src="/assets/plugins/calendar/jquery-ui.js?v=201905220000"></script>
    <script src="/assets/plugins/calendar/datepicker-i18n.js?v=201907220000"></script>
    <script src="/assets/js/bootstrap.min.js?v=201912240000"></script>
    <script src="/assets/js/axios.min.js?v=201912240000"></script>
    <script src="/assets/js/vue.min.js?v=202002060000"></script>
    <script src="/assets/js/vue-i18n.js?v=201912240000"></script>
    <script src="/assets/plugins/moment/moment.min.js?v=201907220000"></script>
    <script src="/assets/plugins/alertifyJs/alertify.min.js?v=201905200000"></script>
    <!-- <script src="/assets/js/elasticsearch.min.js?v=201908130000"></script> -->
    <script src="/assets/js/underscore-min.js?v=201912240000"></script>
    <script src="/Flights/assets/js/UTCTime.js?v=1034" defer></script>
    <script src="/Flights/FlightComponents/js/AirCommonServices.js?v=201907250000"></script>
    <script src="/Flights/assets/js/Airlines.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js?v=1034"></script>

    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.0.0/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.print.min.js"></script>

    <script src="/assets/plugins/primevue/js/dialog.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/button.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/toolbar.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/inputtext.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/accordion.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/accordiontab.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/checkbox.umd.min.js?v=202005050000"></script>
    <script src="/assets/js/summernote.min.js?v=201912240000"></script>
    <script src="/Flights/assets/js/cabinclass.js"></script>
    <script src="/assets/js/jspdf.min.js?v=201912240000"></script>
    <script src="/assets/js/html2canvas.min.js?v=201909010000"></script>
    <script src="/Flights/FlightComponents/js/svgs.js?v=201907240000"></script>
    <script src="/Flights/assets/js/Airplanes.js"></script>

    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202109150000"></script>
    <script src="/Resources/Config/config.js?v=202002170000"></script>
    <script src="/Login/LoginComponents/js/login.js?v=202007160000"></script>
    <script src="/CommonFuntions/ExtentionMethods.js?v=201905200000"></script>
    <script src="/CommonFuntions/CommonFunctions.js?v=202009021530"></script>
    <script src="/Flights/FlightComponents/js/AirCommonServices.js?v=201907250000"></script>
    <script src="/CommonFuntions/searchbookings.js?v=202202140000"></script>
    <script src="/CommonFuntions/MainComponents.js?v=202012180000"></script>
    <script src="/assets/js/highlight.pack.js?v=201910290000"></script>
    <!--js end-->



</body>

</html>