﻿@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

.insurancebanner-result{
    width: 100%;
    float: left;
    background-image: var(--insuranceWIS-result-banner);
    background-size: cover;
    background-position: center;
}

.insurancebanner-booking{
    width: 100%;
    float: left;
    background-image: var(--insuranceWIS-booking-banner);
    background-size: cover;
    background-position: center;
}

.insurancebanner-booking h3, .insurancebanner-booking h3,
.insurancebanner-result h3, .insurancebanner-result h3{
    padding: 73px 0px;
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.main_cont_area{
    width: 100%;
    float: left;
    padding:30px 0px;
}
.main_cont_area h5{
    font-family: 'Open Sans', sans-serif;
    color: #000;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 5px;
    /* margin-bottom: 10px; */
}

.cover_level_area {
    width: 100%;
    float: left;
}

    .cover_level_area h1 {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        color: #2e475d;
        font-weight: 700;
        margin-bottom: 10px;
        float: left;
    }

.sendbtn5 {
    padding-right: 0px;
}

.cover_area {
    width: 100%;
    float: left;
    padding: 15px;
}

.cover_brder {
    border: 1px solid #2e475d;
    min-height: 100px;
    width: 100%;
    float: left;
    background: #a0c9f9;
}

.cover_active {
    background: #0059c0;
}

.cover_head {
    width: 100%;
    /* float: left; */
    padding: 12px;
}

    .cover_head h3 {
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        color: #FFF;
        font-weight: 500;
        margin-bottom: 5px;
    }

    .cover_head h4 {
        text-align: left;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        color: #FFF;
        font-weight: 600;
        padding: 0px 0px;
        line-height: 20px;
    }

.bta {
    margin-right: 10px;
}

    .bta i {
        margin-left: 6px;
    }

.rate-right h4 {
    text-align: right;
}

.rowsec {
    padding: 0px 27px;
}

.cover_details table {
    font-family: 'Open Sans', sans-serif !important;
    margin-bottom: 25px;
    padding-right:10px;
}
.insuransImg{
    margin-bottom:10px;
    float:left;
    width:100%;
}
.insuransImg img {
    width: 100%;
}
.nopadding{
    padding-left:0px;
    padding-right:0px;
}
.cover_details table td u {
    font-size: 15px;
}

    .cover_details table td {
        font-size: 13px;
        text-align: justify;
    }

.cover_head h4 span {
    font-size: 14px;
}

.cover_details {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* float: left; */
    padding: 10px 14px;
    background: #FFF;
}

.cover_details_buttons {
    display: flex;
    justify-content: space-around;
}

#tblPlnContent {
    margin-bottom: 15px;
}

.label_txt {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #2e475d;
    font-weight: 600;
    margin-bottom: 15px;
    padding: 0;
}

.amount_txt {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #2e475d;
    font-weight: 600;
    text-align: right;
    margin-bottom: 5px;
    padding: 0;
}

.benefit a {
    padding: 0px 10px;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    color: #FFF;
    height: 30px;
    float: left;
    background: var(--secondary-color);
    line-height: 30px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    border-radius: 3px;
}

    .benefit a:hover {
        background: var(--secondary-light-color);
    }

.select_btn a {
    padding: 0px 10px;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    color: #FFF;
    height: 30px;
    float: right;
    background: var(--secondary-dark-color);
    line-height: 30px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    border-radius: 3px;
    cursor: pointer;
}

    .select_btn a:hover {
        background: var(--secondary-color);
    }

    .select_btn a i {
        font-size: 13px;
        margin-left: 6px;
    }

.bluehash_color {
    background: var(--primary-color) !important;
    border: 1px solid var(--primary-color);
}

.blue_color {
    border: 1px solid #d2d2d2;
}

.btm {
    margin-bottom: 10px;
}

.additional_cover {
    width: 100%;
    float: left;
    padding-top: 10px;
}

    .additional_cover h3 {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        color: #0059c0;
        font-weight: 700;
        margin-bottom: 10px;
    }

.additional_cover_area {
    width: 100%;
    float: left;
    padding: 15px;
    border: 1px solid #0059c0;
}

.cover_additional_area01 {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #2e475d;
    font-weight: 400;
    margin-bottom: 5px;
    margin-top: 5px;
}

    .cover_additional_area01 label {
        font-weight: 400;
    }

    .cover_additional_area01 img {
        float: left;
    }

.btns_area {
    padding-top: 12px;
    border-top: 1px solid rgba(0, 0, 0, 0.09);
    margin-top: 13px;
}

.cancelation_btn5 {
    float: left;
}

    .cancelation_btn5 a {
        padding: 0px 10px;
        display: block;
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        color: #FFF;
        height: 30px;
        float: left;
        background: var(--secondary-light-color);
        line-height: 30px;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
        border-radius: 3px;
    }

        .cancelation_btn5 a:hover {
            background: var(--secondary-color);
        }

        .cancelation_btn5 a i {
            font-size: 14px;
            margin-left: 6px;
        }

.btns_area8 {
    float: right;
}

    .btns_area8 ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

        .btns_area8 ul li {
            float: left;
            margin-left: 6px;
        }

            .btns_area8 ul li a {
                padding: 0px 10px;
                display: block;
                font-family: 'Open Sans', sans-serif;
                font-size: 13px;
                color: #FFF;
                height: 30px;
                float: left;
                background: var(--secondary-color);
                line-height: 30px;
                -webkit-transition: all .3s ease;
                -moz-transition: all .3s ease;
                -ms-transition: all .3s ease;
                -o-transition: all .3s ease;
                transition: all .3s ease;
                border-radius: 3px;
            }

                .btns_area8 ul li a:hover {
                    background: var(--secondary-light-color);
                }

                .btns_area8 ul li a i {
                    margin-left: 6px;
                }

.tbl5 table tr th {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #2e475d;
    font-weight: 700;
    margin-bottom: 14px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.tbl5 table tr td {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #5a5a5a;
    font-weight: 400;
    /* margin-bottom: 14px;
    padding-bottom: 5px; */
    padding: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.tbl6 p {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #5a5a5a;
    font-weight: 400;
    margin-bottom: 5px;
}

.tbl6 h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #2f3292;
    font-weight: 400;
    margin-bottom: 5px;
    padding-top: 5px;
}

.tbl6 ul {
    margin: 0px;
    padding: 0px;
    list-style: disc;
    padding-left: 17px;
    padding-top: 10px;
}

    .tbl6 ul li {
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        color: #5a5a5a;
        font-weight: 400;
        margin-bottom: 5px;
    }

.table>thead>tr>th {
    color: #fff;
}

.group_area ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

    .group_area ul li {
        width: 15.8%;
        float: left;
        min-height: 155px;
        border: 1px solid #e3e3e3;
        background: #0000004a;
        padding: 8px;
        text-align: center;
        margin-right: 1%;
        position: relative;
        cursor: pointer;
        transition: all linear 0.15s;
    }

        .group_area ul li img {
            margin-bottom: 5px;
        }

        .group_area ul li p {
            font-family: 'Open Sans', sans-serif;
            font-size: 12px;
            color: #FFF;
        }

        .group_area ul li:last-child {
            margin-right: 0px;
        }

.desti_active {
    width: 21px;
    height: 21px;
    background: url(../Images/active.png) no-repeat right top;
    position: absolute;
    right: -3px !important;
    top: -9px !important;
    font-size: 19px !important;
}

.group_area ul li:hover {
    background: #f1f1f1;
}

    .group_area ul li:hover p {
        color: #3e4762;
    }

.group_area ul li span {
    position: absolute;
    width: 107%;
    height: 103%;
    right: 0px;
    top: 0px;
}

.airport_dtls {
    display: none;
}

    .airport_dtls a {
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        float: right;
        color: #FFF;
        margin-top: 6px;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
    }

        .airport_dtls a:hover {
            color: #f99c1b;
        }

.infopopup i {
    color: var(--tertiary-color);
    font-size: 13px;
    margin-left: 4px;
}

.info_txt {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #2e475d;
    font-weight: 600;
    padding: 4px 30px 4px 0px;
}

.adtle {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #2e475d;
    font-weight: 600;
    padding-left: 7px;
    padding: 8px;
    border: 1px dashed #d8d6d6;
    margin-bottom: 9px;
}


/*COMMAN ADD CSS*/
.top_details {
    width: 100%;
    float: left;
    background: rgba(201, 129, 51, 0.81);
    border-top: 1px solid #FFF;
}

.modify_details_left {
    width: 38%;
    float: left;
    border-right: 1px solid #a76824;
}

.desti_name {
    width: 42%;
    float: left;
    padding: 8px 0px;
}

    .desti_name h3 {
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        color: #FFF;
        font-size: 19px;
    }

        .desti_name h3 span {
            font-weight: 600;
            font-size: 14px;
        }

    .desti_name p {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        color: #ffcb93;
        font-size: 13px;
    }

.desti_icon {
    padding: 12px 20px;
    float: left;
}

.datepax_area {
    width: 61%;
    float: left;
}

.firstpax_area {
    width: 80%;
    float: left;
}

.date_area_pax {
    width: 100%;
    color: #ffcb93;
    padding-left: 10px;
    padding-top: 8px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
}

    .date_area_pax span {
        color: #FFF;
        font-weight: 600;
        font-size: 14px;
        padding: 0px 5px;
    }

.paxNums {
    width: 100%;
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #fbc387;
    padding-left: 10px;
}

    .paxNums span {
        color: #FFF;
        font-weight: 600;
        font-size: 14px;
        padding: 0px 5px;
    }

.datepax_area a {
    float: right;
    padding: 0px 8px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #2f3292;
    background: #FFF;
    border-radius: 3px;
    height: 27px;
    line-height: 26px;
    margin-top: 13px;
    transition: all linear 0.15s;
}

    .datepax_area a:hover {
        background: #dcdcdc;
    }
/*COMMAN  ADD CSS CLOSE*/
.cover_additional_area01 i {
    font-size: 15px;
    margin-left: 4px;
    color: var(--primary-color);
}

.headpolicy {
    width: 100%;
    background: var(--primary-light-color);
    padding: 11px;
    float: left;
    margin-bottom: 20px;
}

    .headpolicy h4 {
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 20px;
        color: #FFF;
        float: left;
    }

    .headpolicy h5 {
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 20px;
        color: #FFF;
        float: right;
    }

        .headpolicy h5 span {
            font-size: 18px;
        }

.label_txt tr td {
    padding: 6px 0px 6px 4px;
    color: #9c9c9c;
}

.label_txt tr {
    border: 1px solid #e3e3e3;
}

.payable_title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #404040;
    float: left;
    text-align: right;
}

.cover_view_dr h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #FFF;
    margin-bottom: 8px;
    margin-top: 6px;
}

.insurance_bottom {
    width: 100%;
    float: left;
}

.moresec_btn {
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 11px;
    color: var(--primary-color);
    text-transform: uppercase;
    cursor: pointer;
    border: 1px dashed #c3c3c3;
    padding: 5px 10px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

    .moresec_btn i {
        float: right;
        margin-top: 3px;
        margin-left: 6px;
    }

    .moresec_btn:hover {
        background: var(--primary-color);
        color: #FFF;
        border: 1px solid var(--primary-color);
    }

.sectravellers {
    width: 100%;
    float: left;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.agetraveller {
    float: left;
    padding: 13px 5px;
    width: 100%;
}

    .agetraveller label {
        margin-top: -27px;
        border: 1px solid #ccc;
        margin-left: 5px;
        padding: 3px 9px;
        background: #FFF;
        font-size: 13px;
    }

.value_sec {
    float: left;
    width: 100%;
    /*padding-top: 6px;*/
    position: relative;
}

.btn_value {
    width: 36px;
    height: 42px;
    float: left;
    margin-right: 3px;
    border: none;
    background: var(--primary-color);
    position: absolute;
    left: 0;
    cursor: pointer;
}

.btn_value2 {
    width: 36px;
    height: 42px;
    float: left;
    margin-left: 3px;
    border: none;
    background: var(--primary-color);
    position: absolute;
    right: 0;
    cursor: pointer;
}

    .btn_value2 i {
        margin-left: 12px;
        color: #FFF;
        margin-top: 15px;
    }

.btn_value i {
    margin-left: 12px;
    color: #FFF;
    margin-top: 15px;
}

.valuetxt {
    width: 100%;
    float: left;
    height: 42px;
    border: none;
    padding: 0px 10px;
    text-align: center;
}

.links_quote {
    width: 156px;
    float: right;
    position: relative;
}

.quote_section {
    width: 100%;
    float: left;
    padding: 13px;
}

.quotelist_sec {
    width: 16.6%;
    float: left;
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 10px;
    padding-left: 6px;
}

.quotelist_sec1 {
    width: 100%;
    float: left;
    border: 1px solid #e1e1e1;
}

.newlabel {
    margin-top: 0px;
    display: inherit;
}

.padding7-left {
    padding-left: 7px;
}

.Quote_title {
    width: 100%;
    float: left;
    background: var(--primary-color);
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 9px 15px;
}

.btnQuote {
    float: right;
    height: 30px;
    font-size: 11px;
    border: none;
    padding: 0px 13px 0px 11px;
}

    .btnQuote i {
        margin-right: 5px;
    }

#Status i {
    margin-left: 10px;
    color: var(--secondary-color);
    cursor: pointer;
}

#Total i {
    margin-left: 10px;
    color: var(--secondary-color);
    cursor: pointer;
}

.policy_details_sec {
    width: 100%;
    float: left;
}

.ply_padding {
    padding: 14px;
}

.resultImgIns_load {
    width: 100%;
    height: 547px;
    float: left;
    margin-bottom: 3px;
}

/* .resultImgIns_left_area01 {
    padding-bottom: 25px;
    padding-top: 50px;
} */

.qtxt {
    width: 100%;
    height: 30px;
    float: left;
    border: 1px solid #ccc;
    font-size: 12px;
    padding: 0px 9px;
}

.form_sec label {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #FFF;
}

.txt-srch {
    width: 100%;
    height: 42px;
    float: left;
    background: #FFF;
    border: 1px solid #cacaca;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #464646;
    font-weight: 400;
    padding: 0px 10px;
}

.calender_areatxt {
    width: 100%;
    height: 40px;
    background: #FFF url(../images/calender01.png) no-repeat center right;
    border: 1px solid #cacaca;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #4c4c4c;
    font-weight: 400;
    padding: 0px 10px;
}

.ui-autocomplete {
    background: var(--primary-color) !important;
    color: #FFF !important;
    z-index: 999999999999999999 !important;
}

    .ui-autocomplete li {
        border-bottom: 1px solid var(--primary-dark-color) !important;
    }

        .ui-autocomplete li:last-child {
            border-bottom: none !important;
        }

    .ui-autocomplete li {
        border-bottom: 1px solid var(--primary-dark-color) !important;
    }

        .ui-autocomplete li:last-child {
            border-bottom: none !important;
        }



.bt {
    margin-bottom: 26px;
}

    .bt input[type="radio"] {
        position: absolute;
        width: 19px;
        height: 19px;
        overflow: hidden;
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        opacity: 0;
        cursor: pointer;
        top: 5px;
    }

        .bt input[type="radio"] + label:before {
            display: inline-block;
            width: 19px;
            height: 19px;
            margin-right: 4px;
            background: url(../images/radio-checkbox.png) no-repeat;
            content: " ";
            vertical-align: top;
            cursor: pointer;
            margin-top: -1px !important;
            /*webkit-box-shadow: 0 5px 3px rgba(0,0,0,0.2);
            -moz-box-shadow: 0 5px 3px rgba(0,0,0,0.2);
            -o-box-shadow: 0 5px 3px rgba(0,0,0,0.2);
            box-shadow: 0 5px 3px rgba(0,0,0,0.2);*/
        }

        .bt input[type="radio"]:checked + label:before {
            background-position: 0 -19px;
        }

        .bt input[type="radio"] + label:before {
            background-position: 0 0px;
        }

.popover-title {
    margin-top: 0px !important;
    padding: 7px !important;
    font-size: 12px !important;
    margin-bottom: 0px !important;
}

@media only screen and (min-width: 320px) and (max-width: 630px) {
    .cancelation_btn5 {
        float: left;
        width: 100%;
        margin-bottom: 5px;
    }

        .cancelation_btn5 a {
            width: 100%;
        }

            .cancelation_btn5 a i {
                float: right;
                margin-top: 7px;
            }

    .btns_area8 {
        float: right;
        width: 100%;
    }

        .btns_area8 ul li {
            width: 100%;
            margin-left: 0px;
            margin-bottom: 5px;
        }

            .btns_area8 ul li a {
                width: 100%;
            }

                .btns_area8 ul li a i {
                    float: right;
                    margin-top: 7px;
                }
}

@media only screen and (min-width: 620px) and (max-width: 1200px) {
    .group_area ul li {
        min-height: 144px;
    }
}

@media only screen and (min-width: 440px) and (max-width: 620px) {
    .group_area ul li {
        width: 32%;
        min-height: 144px;
        margin-bottom: 13px;
    }
}

@media only screen and (min-width: 380px) and (max-width: 440px) {
    .group_area ul li {
        width: 49%;
        min-height: 143px;
        margin-bottom: 13px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 380px) {
    .group_area ul li {
        width: 100%;
        min-height: 10px;
        margin-bottom: 13px;
    }
}

@media only screen and (min-width: 990px) and (max-width: 1200px) {
    .modify_details_left {
        width: 43%;
    }

    .datepax_area {
        width: 56%;
    }

    .quotelist_sec {
        width: 25%;
    }
}

@media only screen and (min-width: 580px) and (max-width: 768px) {
    .quotelist_sec {
        width: 33.3%;
    }
}

@media only screen and (min-width: 200px) and (max-width: 580px) {
    .quotelist_sec {
        width: 100%;
    }
}

@media only screen and (min-width: 800px) and (max-width: 990px) {
    .modify_details_left {
        width: 100%;
        float: left;
        border-right: none;
        border-bottom: 1px solid #a76824;
    }

    .datepax_area {
        width: 100%;
        float: left;
    }
}

@media only screen and (min-width: 320px) and (max-width: 800px) {
    .top_details {
        display: none;
    }
}
