﻿@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,500i,600,700,900|Roboto:400,500,700');
@charset "utf-8";

img, object, embed, video {
    max-width: 100%;
}

.ie6 img {
    width: 100%;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, input, textarea, select, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button {
    margin: 0;
    padding: 0;
    outline: none;
}

@font-face {
    font-family: 'CenturyGothic-Regular';
    src: url('CenturyGothic_gdi.eot');
    src: url('/assets/font/CenturyGothic_gdi.eot?#iefix') format('embedded-opentype'), url('/assets/font/CenturyGothic_gdi.woff') format('woff'), url('/assets/font/CenturyGothic_gdi.ttf') format('truetype'), url('/assets/font/CenturyGothic_gdi.otf') format('opentype'), url('/assets/font/CenturyGothic_gdi.svg#CenturyGothic-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-F003;
}

a {
    text-decoration: none !important;
    outline: none !important;
}

::-moz-selection {
    background-color: #dfdae6;
    color: #FFF;
}

::selection {
    background-color: #dfdae6;
    color: #FFF;
}

.browser-warning {
    display: none;
    background: yellow;
    width: 100%;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-top: solid 1px #999;
    border-bottom: solid 1px #999;
    text-align: center;
    padding: 10px 0 10px 0;
    color: #000;
}

    .browser-warning a {
        color: red;
    }
/* Target old browsers with modernizr */
.oldie .browser-warning {
    display: block;
}

body {
    margin: 0;
    padding: 0;
    background: #FFF;
}

.wrapper {
    width: 100%;
    height: auto;
    float: left;
    position: relative;
}

.header {
    width: 100%;
    float: left;
    background: #FFF;
    border-top: 7px solid #1f8fce;
    box-shadow: 0px 0px 20px #000000;
    position: relative;
    z-index: 1;
}

.logo_area {
    float: left;
    padding: 12px 0px;
}

.reset_main {
    width: 100%;
    float: left;
}

.reset_mid {
    width: 400px;
    margin: auto;
    padding: 50px 0px;
}

.main_reset_sec {
    width: 100%;
    float: left;
    padding: 20px;
}

    .main_reset_sec h2 {
        text-align: center;
        margin-bottom: 18px;
    }

.txt_sec {
    width: 100%;
    height: 36px;
    float: left;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    padding: 0px 10px;
    border: 1px solid #cecece;
}

.txt_sec {
    width: 100%;
    height: 36px;
    float: left;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    padding: 0px 10px;
    border: 1px solid #cecece;
}

.reset_btn {
    width: 100%;
    height: 36px;
    border: none;
    background: #1f8fce;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #FFF;
    cursor: pointer;
    transition: all linear 0.15s;
}

.loadrst {
    width: 100%;
    float: left;
    position: relative;
    display: none;
}

.load_reset {
    width: 100%;
    height: 36px;
    border: none;
    background: #1f8fce;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #FFF;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 9;
    text-align: center;
    line-height: 37px;
}

.nav_area {
    float: right;
}

    .nav_area ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

        .nav_area ul li {
            float: left;
        }

            .nav_area ul li a {
                font-family: 'Raleway', sans-serif;
                font-size: 17px;
                color: #000;
                text-transform: uppercase;
                font-weight: 500;
                padding: 30px 20px 0px 20px;
                display: block;
                -webkit-transition: all .3s ease;
                -moz-transition: all .3s ease;
                -ms-transition: all .3s ease;
                -o-transition: all .3s ease;
                transition: all .3s ease;
                background: url(../images/arw_dwn.png) no-repeat center -10px;
            }

                .nav_area ul li a:hover, .nav_area ul li.active a {
                    background: url(../images/arw_dwn.png) no-repeat center 0px;
                }

.pushmenu {
    display: none;
}

#nav_list {
    display: none;
}

.pushmenu h3 img {
    width: 105px;
}

.pushmenu h3 {
    text-align: left;
}

.banner_area {
    width: 100%;
    min-height: 200px;
    position: relative;
    float: left;
    background-image: url(../images/banner.jpg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.banner_area_left {
    width: 34%;
    height: 457px;
    background: #867847;
    position: absolute;
    left: 0;
}

    .banner_area_left:after {
        width: 310px;
        height: 457px;
        background: url(../images/banner_txt_bg.png) no-repeat 0px 0px;
        right: -300px;
        top: 0;
        content: "";
        position: absolute;
    }

.bannertitle {
    width: 34%;
    float: left;
    position: relative;
    padding-top: 100px;
}



    .bannertitle h3 {
        font-family: 'Raleway', sans-serif;
        font-size: 38px;
        color: #1c2338;
        font-weight: 900;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    .bannertitle p {
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        color: #1c2338;
        font-weight: normal;
    }

.banner_form {
    width: 34%;
    min-height: 397px;
    float: right;
    background: rgba(0, 0, 0, 0.38);
    margin: 30px 0px;
}

    .banner_form h4 {
        font-family: 'Raleway', sans-serif;
        font-size: 32px;
        color: #FFF;
        font-weight: normal;
        text-align: center;
        text-transform: uppercase;
        background: rgba(0, 0, 0, 0.38);
        padding: 10px 0px;
    }

.login_form {
    width: 100%;
    float: left;
    padding: 50px 30px 0px 30px;
}

.usertxt {
    width: 100%;
    float: left;
    margin-bottom: 20px;
    position: relative;
}

.usertxt01 {
    width: 100%;
    float: left;
    margin-bottom: 20px;
    position: relative;
}

.txtinput {
    width: 100%;
    height: 40px;
    background: rgba(255, 255, 255, 0.54);
    border-radius: 5px;
    border: none;
    padding-left: 40px;
    padding-right: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #FFF;
}

    .txtinput::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #FFF;
        opacity: 1; /* Firefox */
    }

    .txtinput:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #FFF;
    }

    .txtinput::-ms-input-placeholder { /* Microsoft Edge */
        color: #FFF;
    }

.usertxt:before {
    width: 12px;
    height: 14px;
    position: absolute;
    content: "";
    left: 14px;
    top: 12px;
    background: url(../images/username.png) no-repeat;
}

.usertxt01:before {
    width: 16px;
    height: 15px;
    position: absolute;
    content: "";
    left: 14px;
    top: 13px;
    background: url(../images/password.png) no-repeat;
}

.loginbtn {
    width: 100%;
    float: left;
    border-radius: 3px;
    background: url(../images/login_bg.png) repeat;
    margin-bottom: 20px;
    position: relative;
}

.btn_load {
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(204, 177, 86, 0.71);
    text-align: center;
    color: #1c2439;
    font-size: 19px;
    line-height: 46px;
}

.loginbtn01 {
    width: 100%;
    height: 45px;
    border-radius: 3px;
    border: none;
    border-bottom: 4px solid #0a689c;
    background: #1f8fce;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    color: #FFF;
    font-weight: 600;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

    .loginbtn01:hover {
        background: #0a689c;
        border-bottom: 4px solid #1f8fce;
        color: #FFF;
    }

.remember_area {
    width: 100%;
    float: left;
}

.check {
    width: auto;
    float: left;
    position: relative;
}

.remember_area a {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: #a7a5a3;
    font-weight: 500;
    float: right;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    cursor: pointer;
}

    .remember_area a:hover {
        color: #867847;
    }

.forgot_form {
    width: 100%;
    float: left;
    padding: 50px 30px 0px 30px;
    display: none;
}

    .forgot_form a {
        font-family: 'Raleway', sans-serif;
        font-size: 15px;
        color: #a7a5a3;
        font-weight: 500;
        float: right;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
        cursor: pointer;
    }

        .forgot_form a:hover {
            color: #867847;
        }

        .forgot_form a i {
            margin-right: 5px;
        }

.check label {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: #a7a5a3;
    font-weight: 500;
}

.check input[type="checkbox"] {
    position: absolute;
    width: 18px;
    height: 18px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    opacity: 0;
    cursor: pointer;
    top: 1px;
}

    .check input[type="checkbox"] + label:before {
        display: inline-block;
        width: 18px;
        height: 18px;
        margin-right: 4px;
        background: url(../radio-checkbox5.png) no-repeat;
        content: " ";
        vertical-align: top;
        cursor: pointer;
        margin-top: 0px;
    }

    .check input[type="checkbox"]:checked + label:before {
        background-position: 0 -18px;
    }

    .check input[type="checkbox"] + label:before {
        background-position: 0 0px;
    }

.whybookarea {
    width: 100%;
    float: left;
    padding: 30px 0px;
}

    .whybookarea h2 {
        font-family: 'Raleway', sans-serif;
        font-size: 55px;
        color: #444444;
        font-weight: 900;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 20px;
    }

    .whybookarea ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

        .whybookarea ul li {
            width: 20%;
            float: left;
            padding: 0px 20px 10px 20px;
        }

            .whybookarea ul li h3 {
                text-align: center;
                margin-bottom: 10px;
                border-top: none;
            }

            .whybookarea ul li h4 {
                font-family: 'Raleway', sans-serif;
                font-size: 21px;
                color: #444444;
                font-weight: 900;
                text-transform: uppercase;
                text-align: center;
                margin-bottom: 10px;
            }

            .whybookarea ul li p {
                font-family: 'Raleway', sans-serif;
                font-size: 16px;
                color: #7c7f87;
                font-weight: 400;
                text-align: center;
                line-height: 22px;
            }

.twt:hover img {
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
}

.trs2 {
    -webkit-transition: 0.7s ease-in-out;
    -moz-transition: 0.7s ease-in-out;
    -ms-transition: 0.7s ease-in-out;
    -o-transition: 0.7s ease-in-out;
    transition: 0.7s ease-in-out;
}

.viewmore {
    width: 171px;
    margin: auto;
}

.more01 {
    width: 100%;
    float: left;
    background: #0003;
    border-radius: 3px;
    padding: 6px;
    margin-top: 30px;
}

    .more01 a {
        width: 100%;
        height: 45px;
        border-radius: 3px;
        background: #1f8fce;
        border-bottom: 4px solid #0a689c;
        display: block;
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        color: #FFF;
        font-weight: 400;
        text-align: center;
        line-height: 42px;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
    }

        .more01 a:hover {
            background: #0a689c;
            border-bottom: 4px solid #1f8fce;
        }

.packages_area {
    width: 100%;
    float: left;
    background: #1c2439;
    padding: 30px 0px;
}

    .packages_area h4 {
        font-family: 'Raleway', sans-serif;
        font-size: 55px;
        color: #867847;
        font-weight: 900;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 20px;
    }

.packageImg {
    width: 50%;
    float: left;
    padding-right: 3px;
    background: #142634;
}

    .packageImg img {
        width: 100%;
        height: 298px;
    }

.package_details {
    width: 50%;
    min-height: 248px;
    float: left;
    background: #1a3346;
}

.first {
    width: 100%;
    float: left;
    padding: 15px;
    background: #18404b;
}

    .first h6 {
        font-family: 'Raleway', sans-serif;
        color: #2d6979;
        font-size: 18px;
        font-weight: 500;
    }

.curny {
    color: #c1ae6e;
    font-size: 32px;
    font-weight: 700;
}

.line5 {
    color: #18ae8f;
}

.package_head {
    width: 100%;
    min-height: 36px;
    float: left;
    margin-bottom: 5px;
}

    .package_head h5 {
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
        color: #FFF;
        font-weight: 700;
        text-transform: uppercase;
    }

.sec {
    width: 100%;
    float: left;
    padding: 15px;
}

.sec_details {
    width: 100%;
    float: left;
    min-height: 99px;
    border-bottom: 1px solid #2f3e4a;
}

    .sec_details p {
        font-family: 'Raleway', sans-serif;
        font-size: 11px;
        color: #949ea9;
        font-weight: 400;
    }

.booking_btn {
    width: 100%;
    float: left;
    margin-top: 20px;
}

    .booking_btn a {
        width: 100%;
        height: 43px;
        display: block;
        font-family: 'Roboto', sans-serif;
        font-size: 22px;
        color: #FFF;
        font-weight: 400;
        line-height: 43px;
        position: relative;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
    }

        .booking_btn a:after {
            width: 55px;
            height: 43px;
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            background: #c1ae6e url(../images/arrow.png) no-repeat -55px 0px;
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -ms-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;
        }

        .booking_btn a:hover:after {
            background: #3c719a url(../images/arrow.png) no-repeat 0px 0px;
        }

        .booking_btn a:hover {
            color: #c1ae6e;
        }

.footer_area {
    width: 100%;
    float: left;
    padding: 30px 0px;
    background: url(../images/footer_bg.png) repeat;
    position: relative;
}

.copyright {
    width: 100%;
    float: left;
    background: #1f8fce;
    padding: 16px 0px;
}

.copyright01 p {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #FFF;
    font-weight: 400;
    text-align: left;
    padding-top: 12px;
}

.powered p {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #FFF;
    font-weight: 400;
    text-align: right;
}

.footer_address01 {
    width: 100%;
    text-align: left;
    float: left;
    margin-bottom: 10px;
}

.footer_address p {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #1c2338;
    font-weight: 400;
    text-align: left;
    line-height: 20px;
}

.footer_links h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    color: #1c2338;
    font-weight: 600;
    padding-top: 30px;
    margin-bottom: 10px;
}

.footer_links ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

    .footer_links ul li {
        width: 100%;
        float: left;
        border-bottom: 1px solid #126872;
    }

        .footer_links ul li a {
            font-family: 'Raleway', sans-serif;
            font-size: 15px;
            color: #1c2338;
            font-weight: 400;
            padding: 7px 0px 7px 15px;
            display: block;
            position: relative;
        }

            .footer_links ul li a:before {
                content: "";
                position: absolute;
                width: 5px;
                height: 10px;
                top: 13px;
                left: 0px;
                background: url(../images/link_arrw.png) no-repeat -7px 0px;
                -webkit-transition: all .4s ease;
                -moz-transition: all .4s ease;
                -ms-transition: all .4s ease;
                -o-transition: all .4s ease;
                transition: all .4s ease;
            }

            .footer_links ul li a:hover:before {
                background: url(../images/link_arrw.png) no-repeat 0px 0px;
            }

.get_touch h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    color: #1c2338;
    font-weight: 600;
    padding-top: 30px;
    margin-bottom: 10px;
}

.get_touch p {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #1c2338;
    font-weight: 400;
    padding-left: 21px;
    background: url(../images/location.png) no-repeat 0px 0px;
}

.get_touch ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    padding-top: 16px;
}

    .get_touch ul li {
        width: 100%;
        float: left;
        position: relative;
    }

        .get_touch ul li a {
            font-family: 'Raleway', sans-serif;
            font-size: 14px;
            color: #1c2338;
            font-weight: 400;
            padding: 8px 0px 8px 23px;
            display: block;
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -ms-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;
        }

            .get_touch ul li a:hover {
                color: #867847;
            }

.call_area:before {
    content: "";
    position: absolute;
    width: 19px;
    height: 19px;
    top: 9px;
    left: 0;
    background: url(../images/call.png) no-repeat;
}

.email_area:before {
    content: "";
    position: absolute;
    width: 19px;
    height: 19px;
    top: 9px;
    left: 0;
    background: url(../images/emailimg.png) no-repeat;
}

.fax_area:before {
    content: "";
    position: absolute;
    width: 19px;
    height: 19px;
    top: 9px;
    left: 0;
    background: url(../images/faximg.png) no-repeat;
}

.newsletter h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    color: #1c2338;
    font-weight: 600;
    padding-top: 30px;
    margin-bottom: 10px;
}

.newsletter p {
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    color: #126872;
    font-weight: 400;
    margin-bottom: 5px;
}

.newsletterArea {
    width: 100%;
    float: left;
    position: relative;
    margin-bottom: 20px;
}

.nwslter {
    width: 100%;
    height: 47px;
    float: left;
    background: none !important;
    border: none;
    padding-right: 62px;
    padding-left: 10px;
    -moz-box-shadow: inset 0 0 10px #0000004d;
    -webkit-box-shadow: inset 0 0 10px #0000004d;
    box-shadow: inset 0 0 10px #0000004d;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    color: #1c2338;
    font-weight: 400;
    border: 1px solid #cecece;
}

.newsletter_btn {
    width: 55px;
    height: 43px;
    float: right;
    position: absolute;
    right: 2px;
    top: 2px;
    border: none;
    background: url(../images/btn_bg.jpg) no-repeat -55px 0px;
    cursor: pointer;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

    .newsletter_btn:hover {
        background: url(../images/btn_bg.jpg) no-repeat 0px 0px;
    }

    .newsletter_btn::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #126872 !important;
    }

    .newsletter_btn:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #126872 !important;
    }

    .newsletter_btn::-ms-input-placeholder { /* Microsoft Edge */
        color: #126872 !important;
    }

.follow_us {
    width: 100%;
    float: left;
}

    .follow_us h4 {
        font-family: 'Raleway', sans-serif;
        font-size: 17px;
        color: #1c2338;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .follow_us a {
        width: 33px;
        height: 33px;
        border-radius: 50%;
        border: 3px solid #1f8fce;
        display: block;
        text-align: center;
        font-size: 16px;
        color: #1f8fce;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
        float: left;
        margin-right: 5px;
        line-height: 28px;
    }

        .follow_us a:hover {
            background: #1f8fce;
            color: #FFF;
        }

input:-webkit-autofill {
    background: none !important;
}

.innerpages_banner {
    width: 100%;
    float: left;
    text-align: center;
}

    .innerpages_banner img {
        width: 100%;
    }

.inner_page_content {
    width: 100%;
    float: left;
    background: #FFF;
    padding: 30px 0px 40px 0px;
    border-bottom: 6px solid #1c2338;
}

    .inner_page_content h1 {
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
        color: #1c2338;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
    }

    .inner_page_content h2 {
        font-family: 'Raleway', sans-serif;
        font-size: 30px;
        color: #1c2338;
        font-weight: 900;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 15px;
    }

    .inner_page_content p {
        font-family: 'Raleway', sans-serif;
        font-size: 15px;
        color: #1c2338;
        font-weight: 400;
        text-align: center;
        line-height: 28px;
    }

    .inner_page_content h3 {
        font-family: 'Raleway', sans-serif;
        font-size: 19px;
        color: #847952;
        font-weight: 900;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 15px;
        padding-top: 10px;
        border-top: 1px solid #dadada;
        margin-top: 22px;
    }

.contact_address {
    width: 100%;
    float: left;
    border: 1px dashed #867747;
    padding: 13px;
    margin-bottom: 10px;
}

.address_sec {
    width: 100%;
    float: left;
    min-height: 100px;
}

    .address_sec p {
        font-family: 'Raleway', sans-serif;
        font-size: 15px;
        color: #1c2338;
        line-height: 21px;
        text-align: center;
    }

.contact_address label {
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    color: #1c2338;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.contact_address h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #867847;
    text-align: center;
    font-weight: normal;
    margin-bottom: 8px;
}

.contact_address h6 {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #1c2338;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 8px;
    margin-bottom: 5px;
    border-bottom: 1px solid #4c4c4c45;
}

.contact_address h5 a {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #867847;
    text-align: center;
    font-weight: normal;
}

.modal-title {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #1c2338;
    font-weight: 600;
    text-transform: uppercase;
}

.modal-body p {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    color: #1c2338;
    font-weight: 400;
    text-align: justify;
    line-height: 20px;
}

.modal-body h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    color: #847952;
    font-weight: 900;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 2px;
    padding-top: 0;
    margin-top: 9px;
}

.close {
    font-size: 26px !important;
    color: #a2915e !important;
    opacity: 1 !important;
    margin-top: 3px !important;
}

.map {
    width: 100%;
    float: left;
    padding: 0px;
}

.main_insurance_sec {
    width: 100%;
    float: left;
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 750px;
        margin: 30px auto;
    }
}

@media only screen and (min-width: 200px) and (max-width: 768px) {
    .nav_area {
        display: none;
    }

    .pushmenu {
        display: block;
    }

    #nav_list {
        display: block;
    }

    .logo_area {
        width: 100%;
        text-align: center;
        position: relative;
        margin-top: -29px;
    }

        .logo_area img {
            width: 138px;
        }

    .whybookarea ul li {
        width: 100%;
    }

    .whybookarea h2 {
        font-size: 25px;
    }

    .packages_area h4 {
        font-size: 25px;
    }

    .more01 {
        margin-top: 2px;
    }

    .whybookarea {
        padding: 17px 0px;
    }

    .packages_area {
        padding: 12px 0px;
    }

    .footer_address {
        width: 100%;
        float: left;
    }

    .footer_links {
        width: 100%;
        float: left;
    }

    .get_touch {
        width: 100%;
        float: left;
    }

    .newsletter {
        width: 100%;
        float: left;
    }
}

@media only screen and (min-width: 768px) and (max-width: 990px) {
    .nav_area ul li a {
        font-size: 14px;
        padding: 40px 10px 0px 10px;
    }

    .logo_area img {
        width: 138px;
    }

    .whybookarea ul li:nth-child(1n) {
        width: 33%;
        min-height: 300px;
    }

    .whybookarea ul li:nth-child(2n) {
        width: 34%;
    }

    .whybookarea ul li:nth-child(3n) {
        width: 33%;
    }

    .whybookarea ul li:nth-child(4n) {
        width: 50%;
    }

    .whybookarea ul li:nth-child(5n) {
        width: 50%;
    }
}

@media only screen and (min-width: 200px) and (max-width: 450px) {
    .check label {
        font-size: 13px !important;
    }

    .remember_area a {
        font-size: 13px !important;
        width: 100%;
        margin-top: 11px;
    }

    .packageImg {
        width: 100%;
        padding-right: 0px;
    }

    .package_details {
        width: 100%;
        min-height: 10px;
    }

    .package_head {
        min-height: 10px;
    }

    .sec_details {
        min-height: 10px;
    }

    .booking_btn {
        margin-top: 10px;
    }

    .packageImg img {
        height: 230px;
    }

    .banner_form h4 {
        font-size: 23px;
    }
}

@media only screen and (min-width: 200px) and (max-width: 990px) {
    .banner_area_left {
        display: none;
    }

    .bannertitle {
        display: none;
    }

    .banner_form {
        width: 100%;
        min-height: 10px;
        padding-bottom: 20px;
    }

    .whybookarea ul li {
        margin-bottom: 10px;
        border: 1px dashed #867847;
    }

    .copyright01 p {
        text-align: center;
        padding-top: 0;
    }

    .powered p {
        text-align: center;
    }
}
/*new css*/
.extra_banner {
    width: 100%;
    float: left;
    background-image: url(/assets/images/parallax-2.jpg);
    background-position: center bottom;
    background-size: cover;
    padding: 60px;
    position: relative;
}

    .extra_banner::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: #1f8fce;
        background: -moz-linear-gradient(-45deg, #1f8fce 0%, #f8c01c 100%);
        background: -webkit-linear-gradient(-45deg, #1f8fce 0%,#f8c01c 100%);
        background: linear-gradient(135deg, #1f8fce 0%,#f8c01c 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f8fce', endColorstr='#f8c01c',GradientType=1 );
        opacity: 0.8;
    }

.extra_trip {
    width: 100%;
    float: left;
    padding: 30px 0px;
}

    .extra_trip h6 {
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 600;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #dcdada;
        color: #1f8fce;
    }

.extra_banner h2 {
    text-align: center;
    font-size: 30px;
    color: #FFF;
    position: relative;
    z-index: 9;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

.extrasec1 {
    width: 100%;
    float: left;
    border: 1px solid #eae9e9;
    padding: 10px;
    margin-bottom: 10px;
}

    .extrasec1 h3 {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 10px;
        text-transform: capitalize;
        color: #0d7fbf;
    }



    .extrasec1 p {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 5px;
        text-transform: capitalize;
        line-height: 18px;
    }

.icon_sec {
    width: 100%;
    float: left;
    position: relative;
}

.flight_baggage {
    width: 100%;
    float: left;
    padding-top: 10px;
}

    .flight_baggage ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

        .flight_baggage ul li {
            float: left;
            padding: 10px;
            border: 1px dashed #bfbfbf;
            text-align: center;
            margin-right: 5px;
        }

            .flight_baggage ul li h4 {
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                font-weight: 600;
                margin-bottom: 10px;
                text-transform: capitalize;
                color: #000;
            }

            .flight_baggage ul li p {
                font-family: 'Open Sans', sans-serif;
                font-size: 13px;
                font-weight: 400;
                margin-bottom: 5px;
                text-transform: capitalize;
                line-height: 18px;
            }

.right_extra h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #f51515;
}

.right_extra a {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding: 7px 5px;
    background: #1f8fce;
    color: #FFF;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    width: 71%;
    display: block;
    float: right;
}

    .right_extra a:hover {
        background: #27adf9;
    }

.extra_icon {
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 93px;
}

.padding_left53 {
    padding-left: 53px;
}

.extra_icon i {
    font-size: 30px;
    text-align: center;
    line-height: 100px;
    color: #1f8fce;
}

.more_details_extra {
    width: 100%;
    float: left;
    padding: 10px;
}

.detail_extra_sec {
    width: 100%;
    float: left;
}

.extra_trip h6 span {
    float: right;
    font-size: 11px;
    text-transform: none;
    position: relative;
}

    .extra_trip h6 span::before {
        content: '\f100';
        font-family: FontAwesome;
        position: absolute;
        left: 0;
        top: -1px;
        font-size: 14px;
        color: #ec1717;
    }

    .extra_trip h6 span a {
        color: #ec1717;
        padding-left: 15px;
    }

.baggage_select {
    width: 100%;
    float: left;
    padding: 10px 0px;
}

    .baggage_select h5 {
        font-size: 20px;
        font-weight: 600;
        font-family: 'Open Sans', sans-serif;
        color: #464646;
        margin-bottom: 5px;
        border-bottom: 1px solid #dcdada;
        padding-bottom: 12px;
    }

        .baggage_select h5 i {
            padding-right: 10px;
            transform: rotate(46deg);
            margin-top: 5px;
            float: left;
        }

.rotate_left {
    padding-right: 9px !important;
    transform: rotate(-134deg) !important;
    margin-top: -3px !important;
    float: left !important;
}

.baggage_select h5 span {
    font-size: 16px;
    font-weight: normal;
}

.baggage_select ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

    .baggage_select ul li {
        width: 100%;
        float: left;
        padding: 10px 0px;
        border-bottom: 1px dashed #dcdada;
    }

        .baggage_select ul li h4 {
            font-size: 19px;
            font-family: 'Open Sans', sans-serif;
            margin-bottom: 5px;
            text-align: left;
        }

        .baggage_select ul li h3 {
            font-size: 15px;
            font-family: 'Open Sans', sans-serif;
        }

            .baggage_select ul li h3 span {
                color: #ec1717;
                font-weight: 600;
            }

            .baggage_select ul li h3 i {
                margin-right: 5px;
            }

.edit_baggage_sec {
    width: 83px;
    float: right;
    text-align: center;
    background: #1f8fce;
    color: #FFF;
    padding: 5px 0px;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    font-size: 13px;
    cursor: pointer;
}

    .edit_baggage_sec p {
        color: #FFF !important;
        text-align: center !important;
    }

    .edit_baggage_sec i {
        width: 100%;
        font-size: 16px;
    }

.n_padding {
    padding-left: 0px;
    padding-right: 0px;
}

.baggage_info_change {
    width: 100%;
    float: left;
    padding-top: 5px;
    margin-bottom: 10px;
}

    .baggage_info_change h3 {
        background: #1f8fce !important;
        font-family: 'Open Sans', sans-serif !important;
        font-size: 17px !important;
        font-weight: 600 !important;
        color: #FFF !important;
        padding: 12px !important;
        border-radius: 2px !important;
    }

        .baggage_info_change h3 span {
            font-weight: 400;
            float: right;
        }

.flight_baggage_info {
    width: 100%;
    float: left;
    padding: 10px;
    border: 1px solid #d8d8d8;
    border-top: none;
}

    .flight_baggage_info label:last-child {
        margin-bottom: 0px;
    }

.flight_check {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 1px dashed #d8d8d8;
    padding-bottom: 7px;
    width: 100%;
    float: left;
}

    /* Hide the browser's default checkbox */
    .flight_check input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.flight_check:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.flight_check input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.flight_check input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.flight_check .checkmark:after {
    left: 5px;
    top: 5px;
    width: 12px;
    height: 12px;
    background: #FFF;
    border-radius: 50%;
}

.txt_small {
    font-weight: 400;
}

.price_sec_baggage {
    float: right;
    color: #ec1717;
}

.detail_bg {
    float: right;
    text-align: right;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
}

.edit_view {
    width: 100%;
    float: left;
    border: 1px solid #d5d8da;
    margin-top: 10px;
    display: none;
}

    .edit_view ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

        .edit_view ul li {
            width: 15%;
            float: left;
            padding: 10px;
            cursor: pointer;
            border-bottom: none;
        }

            .edit_view ul li:hover div {
                background: #1f8fce;
            }

                .edit_view ul li:hover div h3, .edit_view ul li:hover div h4 {
                    color: #FFF;
                }

            .edit_view ul li:hover h5 {
                background: #FFF;
                color: #1f8fce;
            }

            .edit_view ul li div {
                width: 100%;
                float: left;
                border: 1px solid #1f8fce;
                -webkit-transition: all .4s ease;
                -moz-transition: all .4s ease;
                -ms-transition: all .4s ease;
                -o-transition: all .4s ease;
                transition: all .4s ease;
            }

            .edit_view ul li h3 {
                font-family: 'Open Sans', sans-serif;
                font-size: 22px;
                text-align: center;
                font-weight: 600;
                margin-bottom: 5px;
                padding-top: 9px;
                -webkit-transition: all .4s ease;
                -moz-transition: all .4s ease;
                -ms-transition: all .4s ease;
                -o-transition: all .4s ease;
                transition: all .4s ease;
            }

            .edit_view ul li h4 {
                font-family: 'Open Sans', sans-serif;
                font-size: 16px;
                text-align: center;
                font-weight: 400;
                margin-bottom: 5px;
                -webkit-transition: all .4s ease;
                -moz-transition: all .4s ease;
                -ms-transition: all .4s ease;
                -o-transition: all .4s ease;
                transition: all .4s ease;
            }

            .edit_view ul li h5 {
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                text-align: center;
                font-weight: 400;
                background: #1f8fce;
                color: #FFF;
                padding: 10px;
                margin-bottom: 0px;
                border: none;
                -webkit-transition: all .4s ease;
                -moz-transition: all .4s ease;
                -ms-transition: all .4s ease;
                -o-transition: all .4s ease;
                transition: all .4s ease;
            }

.confirm_sec {
    float: right;
    margin-bottom: 10px;
}

.btn_cnfrm {
    background: #1f8fce;
    border: none;
    padding: 10px 13px;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

    .btn_cnfrm:hover {
        background: #34a5e4;
    }

.meals_main_sec {
    width: 100%;
    float: left;
}

.search_sec {
    width: 100%;
    float: left;
    position: relative;
}



.paddingTop0 {
    padding-top: 0px !important;
}
/*the container must be positioned relative:*/
.custom-select {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    float: left;
    margin-bottom: 5px;
}

    .custom-select select {
        display: none; /*hide original SELECT element:*/
    }

.select-selected {
    background-color: #FFF;
    color: #8e8d8d !important;
    border: 1px solid #dcdada !important;
}

    /*style the arrow inside the select element:*/
    .select-selected:after {
        position: absolute;
        content: "\f078";
        top: 7px;
        font-family: FontAwesome;
        font-size: 15px;
        right: 23px;
        width: 0;
        height: 0;
        color: #b3b2b2;
    }

    /*point the arrow upwards when the select box is open (active):*/
    .select-selected.select-arrow-active:after {
        border-color: transparent transparent #fff transparent;
        top: 7px;
    }

/*style the items (options), including the selected item:*/
.select-items div, .select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}

/*style items (options):*/
.select-items {
    position: absolute;
    background-color: #1f8fce;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.search_meals {
    width: 100%;
    float: left;
    position: relative;
}

    .search_meals:before {
        content: '\f002';
        font-family: FontAwesome;
        font-size: 17px;
        left: 10px;
        top: 8px;
        position: absolute;
        color: #b5b4b4;
    }

.search_meals1 {
    width: 100%;
    height: 38px;
    float: left;
    color: #8e8d8d;
    border: 1px solid #dcdada;
    font-family: 'Open Sans', sans-serif;
    padding: 8px 8px 8px 32px;
    margin-bottom: 5px;
}

.meals_list {
    width: 100%;
    float: left;
    padding-top: 10px;
}

    .meals_list ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

        .meals_list ul li {
            width: 100%;
            float: left;
            border-top: 1px solid #e4e4e4;
            border-bottom: 1px solid #e4e4e4;
            margin-bottom: 4px;
            padding: 10px 0px;
        }

.meals_img {
    float: left;
}

.meal_title h5 {
    font-family: 'Open Sans', sans-serif;
    color: #464646;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 2px;
    text-align: left;
}

.meal_title p {
    font-family: 'Open Sans', sans-serif;
    color: #464646;
    font-size: 12px;
    font-weight: 300;
    text-align: left;
}

.meal_price h6 {
    text-align: right;
    font-family: 'Open Sans', sans-serif;
    color: #ec1717;
    font-size: 19px;
    border-bottom: none;
    margin-bottom: 3px;
}

.meal_price button {
    float: right;
    padding: 5px 17px;
    border: none;
    background: #303030;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    margin-bottom: 3px;
}

    .meal_price button:hover {
        background: #535353;
    }

.meal_count {
    width: 124px;
    float: right;
    display: none;
}

    .meal_count i {
        float: left;
        color: #a0a0a0;
        cursor: pointer;
        height: 31px;
        padding: 6px;
        font-size: 18px;
    }

.count_meal {
    width: 69px;
    float: left;
    height: 31px;
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.meals_sortsec {
    width: 100%;
    float: left;
}

.flight_type5 {
    font-size: 13px !important;
    padding-left: 25px;
    padding-top: 10px;
}

.flight_seatmap {
    width: 100%;
    float: left;
}

.seat_available {
    width: auto;
    float: right;
}

    .seat_available h3 {
        font-size: 13px;
        font-weight: 300;
        font-family: 'Open Sans', sans-serif;
        color: #464646;
        margin-bottom: 5px;
    }

    .seat_available ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

        .seat_available ul li {
            float: left;
            padding: 10px 18px 10px 0px;
            font-size: 13px;
            font-weight: 300;
            font-family: 'Open Sans', sans-serif;
            color: #464646;
            line-height: 30px;
        }

            .seat_available ul li span {
                width: 23px;
                height: 31px;
                float: left;
                border-radius: 3px;
                position: relative;
                background: #a5a5a5;
                margin-right: 5px;
            }

                .seat_available ul li span::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background: #FFF;
                    left: 0;
                    bottom: 9px;
                }

.available {
    background: #8d8d8d !important;
}

.occupied {
    background: #c6c6c6 !important;
    cursor: not-allowed !important;
}

.selected {
    background: #1f8fce !important;
}

.flight_seat_sec {
    width: 200px;
    margin: auto;
}

.flight_head {
    width: 100%;
    float: left;
    background: url(/assets/images/flight-head.svg);
    height: 207px;
    background-size: cover;
}

.flight_seats_area {
    width: 100%;
    float: left;
    min-height: 100px;
    border-left: 1px solid #d1d1d1;
    border-right: 1px solid #d1d1d1;
    position: relative;
    background: #FFF;
}

    .flight_seats_area::after {
        background-image: url(/assets/images/flight-wing-right.png);
        right: -157px;
    }

    .flight_seats_area::before {
        background-image: url(/assets/images/flight-wing-left.png);
        left: -157px;
    }

    .flight_seats_area::after, .flight_seats_area::before {
        content: "";
        width: 156px;
        height: 398px;
        position: absolute;
        background-repeat: no-repeat;
        background-position: center;
        top: 350px;
    }

.number_sec1 {
    width: 100%;
    float: left;
    margin-bottom: 5px;
}

.seat_row {
    width: 50%;
    float: left;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color: #464646;
}

.padding-3 {
    padding-left: 3px;
    padding-right: 3px;
}

.padding_right7 {
    padding-right: 7px;
}

.padding_left7 {
    padding-left: 7px;
}

.seat_select {
    width: 100%;
    float: left;
    position: relative;
}

.cmn_seatrow {
    width: 100%;
    float: left;
    margin-bottom: 5px;
    position: relative;
}

    .cmn_seatrow i {
        font-size: 15px;
        font-weight: 600;
        font-family: 'Open Sans', sans-serif;
        color: #464646;
        font-style: normal;
        position: absolute;
        left: -30px;
        top: 5px;
    }

    .cmn_seatrow ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

        .cmn_seatrow ul li {
            width: 33.3%;
            height: 31px;
            float: left;
            padding-left: 3px;
            padding-right: 3px;
        }

            .cmn_seatrow ul li span {
                border-radius: 3px;
                position: relative;
                background: #a5a5a5;
                height: 31px;
                float: left;
                width: 100%;
                cursor: pointer;
            }

                .cmn_seatrow ul li span::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background: #FFF;
                    left: 0;
                    bottom: 9px;
                }

            .cmn_seatrow ul li:hover span.available {
                background: #1f8fce !important;
            }

.flight_back {
    width: 204px;
    height: 171px;
    float: left;
    background-image: url(/assets/images/flight-back.svg);
    background-size: 100%;
    margin-left: -2px;
    margin-top: 1px;
}

.seatmap_width {
    width: 75% !important;
}



@media only screen and (max-width: 768px) and (min-width: 200px) {
    .icon_center {
        text-align: center;
    }

    .seatmap_width {
        width: auto !important;
    }

    .extra_icon {
        width: 100%;
        margin-bottom: 10px;
    }

        .extra_icon img {
            width: 150px;
        }

    .extrasec1 h3, .extrasec1 p {
        text-align: center;
    }

    .flight_baggage ul li {
        padding: 4px 10px;
        width: 100%;
        margin-right: 0px;
    }

        .flight_baggage ul li h4 {
            margin-bottom: 1px;
        }

        .flight_baggage ul li p {
            margin-bottom: 0px;
        }

    .flight_baggage {
        margin-bottom: 10px;
    }

    .right_extra {
        width: 100%;
    }

        .right_extra h4 {
            text-align: center;
        }

    .padding_left53 {
        padding-left: 15px;
    }

    .right_extra a {
        width: 100%;
    }

    .extra_space {
        width: auto !important;
    }

    .extra_trip h6 span {
        float: left;
        margin-top: 11px;
        width: 100%;
    }

    .extra_trip h6 {
        float: left;
    }
}
