<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title> Skypass</title>
    <link rel="shortcut icon" href="website-informations/favicon/favi.png" type="image/png">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Main Custom CSS -->
    <link href="assets/css/owl.carousel.css?v=201910240000" rel="stylesheet" type="text/css" />
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet"
        type="text/css" />
    <link href="assets/css/style.css?v=201910240000" rel="stylesheet" type="text/css" />
    <link href="assets/css/media.css?v=201910240000" rel="stylesheet" type="text/css" />
    <link href="assets/pluggins/alertifyJs/alertify.min.css?v=1034" rel="stylesheet" />
    <link href="assets/pluggins/alertifyJs/default.min.css?v=1034" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>

    <!-- Navigation -->
    <header>
        <headeritem></headeritem>
    </header>
    <div id="homepage" v-cloak>
        <section class="banner">
            <div class="container">
                <div class="agent-log">
                    <div class="login-form">
                        <h3>Agency Login</h3>
                        <form action="javascript:sendLogin()">
                            <div class="sec">
                                <input name="agnecy-code" id="txtAgencyCode" class="form-control" type="text"
                                    placeholder="Agency Code">
                            </div>
                            <div class="sec">
                                <input name="username" id="txtUname" class="form-control" type="text"
                                    placeholder="User Name">
                            </div>
                            <div class="sec">
                                <input name="password" id="txtPwd" class="form-control" type="password"
                                    placeholder="Password">
                            </div>
                            <div class="sec">
                                <button class="login_btn loginbtn01">LOGIN</button>
                                <div id="loginLoader" class="btn_load" style="display:none;"><i
                                        class="fa fa-spinner fa-spin"></i></div>
                                <a style="cursor:pointer" class="forgot forgot_click">Forgot Password?</a>
                                <!-- <a href="#" class="forgot forgot_click">Forgot Your Password?</a> -->
                            </div>
                        </form>
                    </div>
                    <div class="forgot_form">
                        <h3>AGENCY LOGIN</h3>
                        <form action="javascript:forgotPassword()">
                            <div class="sec">
                                <input type="text" class="form-control" id="txtAgency" placeholder="Agency Code">
                            </div>
                            <div class="sec">
                                <input type="text" class="form-control" id="txtEmail" placeholder="Email ID">
                            </div>
                            <div class="sec">
                                <button class="login_btn" id="btnForgot">SEND</button>
                                <div id="loderForgot" class="btn_load" style="display:none"><i
                                        class="fa fa-spinner fa-spin"></i></div>
                            </div>
                        </form>
                        <a class="back"><i class="fa fa-arrow-left" aria-hidden="true"></i>Back To
                            Login</a>
                    </div>
                    <!-- <div class="login-text">

                        <div class="text-center">
                            <h2><span>{{Pagecontent.Title_1}}</span> <br>
                                {{Pagecontent.Title_2}}</h2>
                            <p>{{Pagecontent.Title_Description}}</p>
                        </div>
                    </div> -->
                </div>
            </div>
        </section>
        <!--About-Us-->
        <section class="about-info">
            <div class="container">
                <h2><span>Welcome to Sky<span style="color: #02a0fb">Pass</span></h2>
                <p v-if="Pagecontent.About_Us_Content.length>0">{{Pagecontent.About_Us_Content | subStr}}</p>
                <a href="about.html" class="btn">Read More</a>
            </div>
        </section>
        <!--Why-Choose-->
        <section class="why-choose">
            <div class="container">
                <h2>Why People Choose Us</h2>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 mr-t" v-for="item in feature.Features_List">
                        <div class="choose-info">
                            <div class="choose-icon">
                                <img :src="item.Icon">
                            </div>
                            <h3>{{item.Heading}}</h3>
                            <p v-html="item.Content"></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <partner>
        <partners></partners>
    </partner>
    <footer>
        <footeritem></footeritem>
    </footer>

    <a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a>
    <!-- Main JQUERY -->

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/assets/js/vue-i18n.js?v=201912240000"></script>
    <script src="/assets/js/axios.min.js?v=201912240000"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Bootstrap JQUERY -->
    <script src="/assets/js/modernizr-2.7.2.js?v=202009070000"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js?v=1034"></script>
    <script src="assets/pluggins/moment/moment.min.js"></script>
    <script src="assets/js/jquery.cookie.js?v=1034"></script>
    <script src="https://cdn.jsdelivr.net/npm/alertifyjs@1.11.1/build/alertify.min.js?v=1034"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <script src="website-informations/agencyInformations/AgencyInformation.js?v=1034"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202008060000"></script>
    <script src="/CommonFuntions/CommonFunctions.js?v=202008240000"></script>
    <script src="/CommonFuntions/ExtentionMethods.js?v=201905200000"></script>
    <script src="/Login/LoginComponents/js/login.js?v=202007160000"></script>

    <script src="assets/js/owl.carousel.min.js"></script>
    
    <script src="servicejs/index.js"></script>
    <script src="master/master.js?v=202104270000"></script>
    <script src="assets/js/custom.js?v=201905200000"></script>


</body>

</html>