<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="website-informations/favicon/favi.png" type="image/png">
    <title> Register </title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Main Custom CSS -->
    <link href="assets/css/owl.carousel.css?v=201910240000" rel="stylesheet" type="text/css" />
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet"
        type="text/css" />
    <link href="assets/css/style.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/media.css" rel="stylesheet" type="text/css" />
    <link href="assets/pluggins/alertifyJs/alertify.min.css?v=1034" rel="stylesheet" />
    <link href="assets/pluggins/alertifyJs/default.min.css?v=1034" rel="stylesheet" />
    <link href="assets/css/select2.min.css" rel="stylesheet" />
    <style>
        [v-cloak] {
            display: none;
        }
    </style>



    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>

<body>

    <!-- Navigation -->
    <header>
        <headeritem></headeritem>
    </header>
    <div id="registrationpage" v-cloak>
        <section class="inner-title" style="background-image: url(assets/images/contact-title-bg.jpg);">
            <div class="container">
                <h2><span>Regi</span>ster</h2>

                <div class="breadcrumbs">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li>Register</li>
                    </ul>
                </div>
            </div>
        </section>



        <section class="register-in">
            <div class="container">
                <div class="row">
                    <div class="regiter-form">
                        <div>
                            <div class="col-md-12">
                                <h3>Company Details</h3>
                            </div>

                            <div class="col-md-4 col-sm-6">
                                <label>Travel Agency Name <span>*</span></label>
                                <input type="text" id="text" class="form-control" placeholder="Enter Travel Agency Name"
                                    v-model="Agyname">
                            </div>

                            <div class="col-md-4 col-sm-6">
                                <label>Address <span>*</span></label>
                                <input type="text" id="text" class="form-control" placeholder="Enter Address"
                                    v-model="Agyaddress">
                            </div>

                            <div class="col-md-4 col-sm-6">
                                <label>Telephone No <span>*</span></label>
                                <input type="tel" id="tel" class="form-control" placeholder="Enter Telephone No."
                                    v-model="Agyphone">
                            </div>

                            <div class="col-md-4 col-sm-6">
                                <label>P.O.Box <span>*</span></label>
                                <input type="text" id="text" class="form-control" placeholder="P.O.Box"
                                    v-model="Agybox">
                            </div>

                            <div class="col-md-4 col-sm-6">
                                <label>City <span>*</span></label>
                                <input type="text" id="text" class="form-control" placeholder="Enter City Name"
                                    v-model="Agycity">
                            </div>


                            <div class="col-md-4 col-sm-6">
                                <label>Country <span>*</span></label>
                                <select class="form-control myselect" v-model="Country">
                                    <option value="" selected disabled hidden>Select Country</option>
                                    <option v-for="country in nationalitycountry.countries"
                                        :data-letter3="country.threeLetter" v-bind:value="country.name">
                                        {{ country.name }}
                                    </option>
                                </select>
                            </div>

                            <div class="col-md-4 col-sm-6">
                                <label>Vat Registration No. <span>*</span></label>
                                <input type="file" id="Registration" class="form-control" ref="file" name="Registration"
                                    class="form-control file-browse" v-on:change="handleFileUpload()" accept="application/pdf,application/msword,
                                application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
                                <button class="fileupload" @click.prevent="submitRegistration()">Upload</button>
                            </div>

                            <div class="col-md-4 col-sm-6">
                                <label>Municipality Trade License No. <span>*</span></label>
                                <input type="file" id="License" class="form-control" ref="file2" name="License"
                                    class="form-control file-browse" v-on:change="handleFileUpload2()" accept="application/pdf,application/msword,
                                application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
                                <button class="fileupload" @click.prevent="submitLicense()">Upload</button>
                            </div>

                            <div class="col-md-4 col-sm-12">
                                <label>Chamber Of Commerce No. <span>*</span></label>
                                <input type="file" id="Commerce" class="form-control" ref="file3" name="Commerce"
                                    class="form-control file-browse" v-on:change="handleFileUpload3()" accept="application/pdf,application/msword,
                                application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
                                <button class="fileupload" @click.prevent="submitCommerce()">Upload</button>
                            </div>

                            <!-- General Manager-->
                            <div class="col-md-12">
                                <h3>General Manager's Details</h3>
                            </div>

                            <div class="col-md-4 col-sm-6">
                                <label>First Name <span>*</span></label>
                                <input type="text" id="text" class="form-control" placeholder="Enter First Name"
                                    v-model="fname">
                            </div>

                            <div class="col-md-4 col-sm-6">
                                <label> Last Name <span>*</span></label>
                                <input type="text" id="text" class="form-control" placeholder="Enter First Name"
                                    v-model="lname">
                            </div>

                            <div class="col-md-4 col-sm-6">
                                <label>Email Id <span>*</span> </label>
                                <input type="email" id="email" class="form-control" placeholder="Enter Email Address"
                                    v-model="gemail">
                            </div>

                            <div class="col-md-4 col-sm-6">
                                <label>Mobile No <span>*</span></label>
                                <input type="tel" id="tel" class="form-control" placeholder="Enter Mobile No."
                                    v-model="gphone">
                            </div>


                            <div class="col-md-4 col-sm-6">
                                <label>Passport <span>*</span></label>
                                <input type="file" id="GPassport" class="form-control" ref="file4" name="GPassport"
                                    class="form-control file-browse" v-on:change="handleFileUpload4()" accept="application/pdf,application/msword,
                                application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
                                <button class="fileupload" @click.prevent="submitGPassport()">Upload</button>
                            </div>

                            <div class="col-md-4 col-sm-6">
                                <label>Emirates ID <span>*</span></label>
                                <input type="file" id="GEmirates" class="form-control" ref="file5" name="GEmirates"
                                    class="form-control file-browse" v-on:change="handleFileUpload5()" accept="application/pdf,application/msword,
                                application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
                                <button class="fileupload" @click.prevent="submitGEmirates()">Upload</button>
                            </div>

                            <!-- Sponsor Detail-->
                            <div class="col-md-12">
                                <h3>Sponsor Details</h3>
                            </div>

                            <div class="col-md-4 col-sm-6">
                                <label> Sponsor Name <span>*</span></label>
                                <input type="text" id="text" class="form-control" placeholder="Enter Sponsor Name"
                                    v-model="sname">
                            </div>

                            <div class="col-md-4 col-sm-6">
                                <label>Passport <span>*</span></label>
                                <input type="file" id="SPassport" class="form-control" ref="file6" name="SPassport"
                                    class="form-control file-browse" v-on:change="handleFileUpload6()" accept="application/pdf,application/msword,
                                application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
                                <button class="fileupload" @click.prevent="submitSPassport()">Upload</button>
                            </div>

                            <div class="col-md-4 col-sm-12">
                                <label>Emirates ID <span>*</span></label>
                                <input type="file" id="SEmirates" class="form-control" ref="file7" name="SEmirates"
                                    class="form-control file-browse" v-on:change="handleFileUpload7()" accept="application/pdf,application/msword,
                                application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
                                <button class="fileupload" @click.prevent="submitSEmirates()">Upload</button>
                            </div>


                            <!-- Bank Details-->
                            <div class="col-md-12">
                                <h3>Bank Details</h3>
                            </div>

                            <div class="col-md-6 col-sm-6">
                                <label> Bankers Name <span>*</span></label>
                                <input type="text" id="text" class="form-control" placeholder="Enter Bankers Name"
                                    v-model="bname">
                            </div>

                            <div class="col-md-6 col-sm-6">
                                <label>Branch / Address <span>*</span></label>
                                <input type="text" id="text" class="form-control" placeholder="Enter Address"
                                    v-model="bbranch">
                            </div>


                            <!-- Bank Details-->
                            <div class="col-md-12">
                                <h3>Person to Contact</h3>
                            </div>

                            <div class="col-md-4 col-sm-6">
                                <label> Person Name <span>*</span></label>
                                <input type="text" id="text" class="form-control" placeholder="Enter Person Name"
                                    v-model="pname">
                            </div>

                            <div class="col-md-4 col-sm-6">
                                <label>Mobile No <span>*</span></label>
                                <input type="tel" id="tel" class="form-control" placeholder="Enter Mobile No."
                                    v-model="pphone">
                            </div>

                            <div class="col-md-4 col-sm-12">
                                <label>Email Id <span>*</span> </label>
                                <input type="email" id="email" class="form-control" placeholder="Enter Email Address"
                                    v-model="pemail">
                            </div>

                            <div class="col-md-12">
                                <button type="submit" v-on:click="Registration">submit</button>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Partner -->
    <partner>
        <partners></partners>
    </partner>

    <!--Footer-->
    <footer>
        <footeritem></footeritem>
    </footer>





    <a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a>
    <!-- Main JQUERY -->

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  -->
    <!-- Bootstrap JQUERY -->

    <!-- <script src="js/bootstrap.min.js"></script> 
      <script src="js/jquery.min.js"></script> 
      <script src="js/jquery-ui.min.js"></script> 
      <script src="js/select2.min.js"></script> 
      <script src="js/owl.carousel.min.js"></script> 
       <script type="text/javascript" src="js/pack.js"></script>
      <script src="js/custom.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/assets/js/vue-i18n.js?v=201912240000"></script>
    <script src="/assets/js/axios.min.js?v=201912240000"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Bootstrap JQUERY -->

    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/custom.js?v=201905200000"></script>
    <script src="/assets/plugins/moment/moment.min.js?v=201907220000"></script>
    <script src="/Flights/assets/js/Countries.js"></script>
    <script src="assets/js/jquery.cookie.js?v=1034"></script>
    <script src="assets/pluggins/alertifyJs/alertify.min.js"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202008060000"></script>
    <script src="/CommonFuntions/CommonFunctions.js?v=202008240000"></script>
    <script src="/CommonFuntions/ExtentionMethods.js?v=201905200000"></script>
    <script src="assets/js/select2.min.js"></script>
    <script src="servicejs/registration.js"></script>
    <script src="master/master.js?v=202104270000"></script>
    <script>
        jQuery(document).ready(function ($) {
    //   $('.myselect').select2({
    //       minimumResultsForSearch: Infinity,
    //       'width': '100%'
    //   });
      $('b[role="presentation"]').hide();
      $('.select2-selection__arrow').append('<i class="fa fa-chevron-down"></i>');
  });
      </script>

</body>

</html>