@media screen and (max-width: 480px) {
    .navbar-brand {
        width: 120px !important;
    }

    #packge_section h2, #destination_section h2 {
        font-size: 35px !important;
    }

    /*=====  Footer CSS BOF  ======*/
    footer::before {
        height: 284px !important;
    }
}

@media screen and (max-width: 767px) {
    /*=====  Top CSS BOF  ======*/
    .top::before {
        -moz-clip-path: polygon(0% 0%, 100% 1%, 100% 100%, 3.5% 100%);
        -webkit-clip-path: polygon(0% 0%, 100% 1%, 100% 100%, 3.5% 100%);
        -o-clip-path: polygon(0% 0%, 100% 1%, 100% 100%, 3.5% 100%);
        clip-path: polygon(0% 0%, 100% 1%, 100% 100%, 3.5% 100%);
    }

    .action-btn {
        width: 95px;
        padding: 2px;
        font-size: 11px;
        margin: 8px 0 0 4px;
        float: right;
    }
    /*=====  Navbar CSS BOF  ======*/
    .navbar-toggle {
        background: #f57b31;
        border: none;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        border-radius: 8px;
        margin: 20px 0 10px;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background-color: #000;
    }

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        margin-top: 17px;
        position: absolute;
        right: 13px;
        width: 92%;
        z-index: 999;
        padding: 0;
        background: #f1f1f1 !important;
    }

    .navbar-nav {
        margin: 0;
    }

    .nav > li {
        padding: 0;
        text-align: left;
        width: 100%;
        border-bottom: 1px solid #dfdfdf;
    }

        .nav > li > a {
            padding: 10px;
            margin: 0;
        }

    .navbar-brand img {
        margin-top: 0;
        width: 100% !important;
    }

    .navbar-brand {
        float: none;
        width: 125px;
    }

    .navbar-default .navbar-nav > .active > a::after {
        height: 2px;
    }

    .navbar-default .navbar-nav > li > a:focus::after, .navbar-default .navbar-nav > li > a:hover::after {
        height: 2px;
    }

    .navbar-default .navbar-nav > li > a::before {
        border: none;
    }

    .affix .navbar-brand img {
        width: 100% !important;
    }

    .affix .navbar-brand {
        width: 80px !important;
    }
    /*=====  Banner CSS BOF  ======*/
    .main_banner {
        min-height: 300px;
    }

    .banner_text {
        padding-top: 22px;
    }

        .banner_text h1 {
            font-size: 30px;
        }

            .banner_text h1 span {
                font-size: 35px;
            }
    /*=====  Login Section CSS BOF  ======*/
    #login_section {
        margin: -1px 0 0;
    }

        #login_section::before {
            background: rgba(0,0,0,1);
            width: 100%;
            clip-path: none;
            height: 265px;
        }

        #login_section::after {
            background: rgba(252,119,25,1);
            width: 100%;
            top: 265px;
            clip-path: none;
        }

    .p-r-0 {
        padding-right: 15px;
    }

    #login_section .login_div form {
        text-align: center;
    }

        #login_section .login_div form h5 {
            float: none;
            padding: 0;
            width: 100%;
        }

        #login_section .login_div form .form-control {
            width: 100%;
            margin: 5px 0;
        }

        #login_section .login_div form .btn-orng {
            margin: 5px 0 0;
            float: none;
            display: inline-block;
        }

    .regi_div {
        text-align: center;
    }

        .regi_div .regi_btn {
            margin: 30px auto 0;
            float: none;
        }

        .regi_div .benefit_link {
            float: none;
            margin: 8px 0 0;
            display: block;
        }
    /*=====  Packages Section CSS BOF  ======*/
    #packge_section {
        width: 100%;
        display: block;
        margin-top: -39px;
    }

    .package .item .detail {
        left: 0;
        width: 84%;
        z-index: 1;
        right: 0;
        margin: 0 auto;
    }

    .owl-theme .owl-controls {
        right: 0;
        left: 0;
    }

    .package .item {
        height: 370px;
    }
    /*=====  Footer CSS BOF  ======*/
    footer::before {
        width: 100%;
        height: 260px;
    }

    footer .contact ul {
        margin: 0;
    }

        footer .contact ul li {
            width: 100%;
        }

    footer .newslatter form .btn-orng {
        width: 110px;
        margin: 0 0 0 -20px;
        padding: 11px 0;
    }

    footer .ftr-btm {
        text-align: center;
    }

        footer .ftr-btm .left_side {
            float: none;
        }

        footer .ftr-btm .right_side {
            float: none;
        }

    .back-top {
        position: absolute;
        right: 45%;
        top: 88%;
    }

    footer .newslatter p {
        font-size: 14px;
    }
}

@media (min-width: 768px) and (max-width: 990px) {
    .call-to-action {
        width: auto;
        float: right;
    }

    .action-btn {
        width: 95px;
        padding: 2px;
        font-size: 11px;
        margin: 8px 0 0 4px;
    }

    .contact-info div {
        margin-right: 20px;
        float: left;
    }

        .contact-info div span {
            font-size: 12px;
        }

        .contact-info div a {
            font-size: 12px;
        }

    .top::before {
        width: 84%;
        left: 16%;
    }
    /*=====  Banner CSS BOF  ======*/
    .main_banner {
        min-height: 550px;
    }

    .banner_text {
        padding-top: 60px;
    }
    /*=====  Login Section CSS BOF  ======*/
    #login_section {
        margin: -171px 0 0;
    }

        #login_section::before {
            background: rgba(0,0,0,0.5);
            width: 100%;
            clip-path: none;
            height: 170px;
        }

        #login_section::after {
            background: rgba(252,119,25,1);
            width: 100%;
            top: 170px;
            clip-path: none;
            min-height: 118px;
        }

    .p-r-0 {
        padding-right: 15px;
    }

    #login_section .login_div form {
        text-align: left;
    }

        #login_section .login_div form h5 {
            float: none;
            padding: 0;
            width: 100%;
        }

        #login_section .login_div form .form-control {
            width: 42%;
            margin: 5px 0;
        }

        #login_section .login_div form .btn-orng {
            margin: 5px 0 0;
            float: none;
            display: inline-block;
        }

    .regi_div {
        text-align: center;
    }

        .regi_div .regi_btn {
            margin: 30px auto 0;
            float: none;
        }

        .regi_div .benefit_link {
            float: none;
            margin: 8px 0 0;
            display: block;
        }
    /*=====  Packages Section CSS BOF  ======*/
    #packge_section {
        margin-top: -41px;
    }

    .package .item .detail {
        left: 0;
        width: 71%;
        z-index: 1;
        right: 0;
        margin: 0 auto;
    }

    .package .item {
        height: 370px;
    }
    /*=====  Footer CSS BOF  ======*/
    footer::before {
        width: 24%;
        height: 456px;
    }

    footer .newslatter form .btn-orng {
        width: 110px;
        margin: 0 0 0 -20px;
        padding: 11px 0;
    }

    footer .newslatter p {
        font-size: 14px;
    }

    .width48 {
        width: 48%;
    }

    .width98 {
        width: 98%;
    }

    .back-top {
        position: absolute;
        right: 45%;
        top: 83%;
    }
}

@media (min-width: 991px) and (max-width: 1024px) {
    .top::before {
        width: 84%;
        left: 16%;
    }
    /*=====  Navbar CSS BOF  ======*/

    .navbar-nav {
        margin: 0;
    }
    /*=====  Banner CSS BOF  ======*/
    .main_banner {
        min-height: 500px;
    }

    .banner_text {
        padding-top: 60px;
    }
    /*=====  Login Section CSS BOF  ======*/
    #login_section .login_div form .form-control {
        width: 33%;
    }

    .regi_div {
        text-align: center;
    }

        .regi_div .regi_btn {
            margin: 30px 0 0 0;
            float: none;
        }

        .regi_div .benefit_link {
            float: none;
            margin: 8px 0 0 0;
            display: block;
        }
    /*=====  Footer CSS BOF  ======*/
    footer::before {
        width: 25%;
        height: 456px;
    }

    .width48 {
        width: 48%;
    }

    .width98 {
        width: 98%;
    }

    footer .newslatter form .btn-orng {
        width: 140px;
        padding: 11px 0;
    }

    .back-top {
        top: 84%;
    }
}

@media (min-width: 1025px) and (max-width: 1400px) {
    .top::before {
        width: 84%;
        left: 16%;
    }

    #login_section::before {
        width: 74%;
    }

    #login_section::after {
        width: 27.8%;
    }
    /*=====  Footer CSS BOF  ======*/
    footer::before {
        width: 27.5%;
    }
}
