body {
    background-color: #fff;
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 700;
    line-height: 1.1;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

a {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
button:focus{
    outline: none;
}
    a:focus {
        outline: none;
        text-decoration: none;
    }

    a:hover {
        color: #000;
    }

p {
    font-weight: 300;
    text-align: center;
    line-height: 22px;
    margin: 0;
    padding: 0;
    color: #444 !important;
}

section {
    padding: 60px 0;
}
/* Common button styles */
.btn-orng {
    width: 185px;
    background: #f37f2c;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    margin: 24px 0 0;
    padding: 10px 38px;
    border: none;
    text-transform: uppercase;
    border-radius: 50px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

    .btn-orng::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #fff;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 50%;
        transform-origin: 50%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
        border-radius: 50px;
    }

    .btn-orng:hover::before {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }

    .btn-orng:hover {
        color: #000;
        text-decoration: none;
    }
/*====================================
=            Helper Class            =
====================================*/
.m-t-10 {
    margin-top: 10px;
}

.m-t-20 {
    margin-top: 20px;
}

.m-t-15 {
    margin-top: 15px;
}

.m-t-25 {
    margin-top: 25px;
}

.m-t-30 {
    margin-top: 30px;
}

.m-t-50 {
    margin-top: 50px;
}

.m-t-70 {
    margin-top: 70px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-b-15 {
    margin-bottom: 15px;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-b-25 {
    margin-bottom: 25px;
}

.m-b-30 {
    margin-bottom: 30px;
}

.m-b-50 {
    margin-bottom: 50px;
}

.p-r-0 {
    padding-right: 0;
}

.p-0 {
    padding: 0;
}

.p-t-10 {
    padding-top: 10px;
}

.p-t-15 {
    padding-top: 15px;
}

.p-t-20 {
    padding-top: 20px;
}

.p-t-25 {
    padding-top: 25px;
}

.p-t-30 {
    padding-top: 30px;
}

.p-b-10 {
    padding-bottom: 10px;
}

.p-b-15 {
    padding-bottom: 15px;
}

.p-b-20 {
    padding-bottom: 20px;
}

.p-b-25 {
    padding-bottom: 25px;
}

.p-b-30 {
    padding-bottom: 30px;
}
/*=====  Header CSS BOF  ======*/
header {
    background: #fff !important;
    -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.35);
    -o-box-shadow: 0px 1px 2px rgba(0,0,0,0.35);
    box-shadow: 0px 1px 2px rgba(0,0,0,0.4);
    z-index: 1000;
    position: relative;
}
/*=====  Top CSS BOF  ======*/
.top {
    width: 100%;
    height: auto;
    position: relative;
}

    .top:before {
        content: "";
        background: #000;
        width: 74%;
        height: 45px;
        position: absolute;
        left: 26%;
        display: inline-block;
        -moz-clip-path: polygon(0% 0%, 100% 1%, 100% 100%, 1.4% 100%);
        -webkit-clip-path: polygon(0% 0%, 100% 1%, 100% 100%, 1.4% 100%);
        -o-clip-path: polygon(0% 0%, 100% 1%, 100% 100%, 1.4% 100%);
        clip-path: polygon(0% 0%, 100% 1%, 100% 100%, 1.4% 100%);
    }

.contact-info {
    font-family: "Roboto", sans-serif;
    float: left;
    padding: 10px 0;
}

    .contact-info div {
        margin-right: 24px;
        float: left;
    }

        .contact-info div span {
            color: #ff7512;
            font-size: 13px;
            font-weight: 500;
            margin-right: 2px;
            padding: 2px 0 0;
        }

        .contact-info div a {
            color: #fff;
            font-size: 13px;
            font-weight: 500;
        }

            .contact-info div a:hover {
                color: #ff7512;
                text-decoration: none;
            }

.call-to-action {
    width: auto;
    float: right;
    display: inline-block;
}

.action-btn {
    width: 125px;
    background: #000;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    margin: 6px 0 0 4px;
    padding: 4px;
    border: 1px solid #f37f2c;
    text-transform: uppercase;
    border-radius: 50px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    text-align: center;
}

    .action-btn::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #f37f2c;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 50%;
        transform-origin: 50%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
        border-radius: 50px;
    }

    .action-btn:hover::before {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }

    .action-btn:hover {
        color: #fff;
        text-decoration: none;
    }
/*=====  Navbar CSS BOF  ======*/
.navbar-default {
    background: transparent;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
    border: 0px;
    z-index: 2;
}

.navbar {
    margin-bottom: 0px;
    z-index: 999;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navbar-nav {
    margin: 0;
}

.navbar-brand img {
    width: 100% !important;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    padding: 0;
}

.nav > li {
    position: relative;
    display: block;
    padding: 28px 12px 0;
    color: #aaaaaa;
}

    .nav > li > a {
        display: block;
        margin: 0;
        padding: 0 0 28px;
        position: relative;
    }

.navbar-default .navbar-nav > li > a::after {
    background: #f57b31;
    bottom: 0;
    content: "";
    height: 0;
    line-height: 0;
    margin: auto;
    opacity: 0;
    position: absolute;
    width: 100%;
    z-index: 9;
    left: 0;
    -moz-transition: width .5s ease 0s, height .5s ease 0s;
    -webkit-transition: width .5s ease 0s, height .5s ease 0s;
    -o-transition: width .5s ease 0s, height .5s ease 0s;
    transition: width .5s ease 0s, height .5s ease 0s;
    right: 0;
}

.navbar-default .navbar-nav > li > a::before {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #f57b31;
    bottom: 0;
    content: "";
    left: 0;
    right: 0;
    opacity: 0;
    position: absolute;
    z-index: 9;
    width: 0;
    height: 0;
    margin: 0 auto;
    -moz-transition: width .5s ease 0s, height .5s ease 0s;
    -webkit-transition: width .5s ease 0s, height .5s ease 0s;
    -o-transition: width .5s ease 0s, height .5s ease 0s;
    transition: width .5s ease 0s, height .5s ease 0s;
}

.navbar-default .navbar-nav > li > a:focus::before, .navbar-default .navbar-nav > li > a:hover::before {
    opacity: 1;
}

.navbar-default .navbar-nav > li > a:focus::after, .navbar-default .navbar-nav > li > a:hover::after {
    height: 3px;
    opacity: 1;
}

.navbar-default .navbar-nav > .active > a::before {
    opacity: 1;
}

.navbar-default .navbar-nav > .active > a::after {
    height: 3px;
    opacity: 1;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    height: auto;
    padding: 0;
    position: absolute;
    z-index: 1000;
    margin: -30px 0 0 !important;
}

.top-nav-collapse {
    padding: 0;
    top: 0;
}

.white, .white:hover, .white:focus {
    color: #fff;
    width: 100% !important;
}

.block {
    display: block;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #f46f10;
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
    color: #000;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}

    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        color: #f46f10;
    }

.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    color: #f46f10 !important;
    background: transparent;
}

.affix {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9998;
    animation: smoothScroll 1s forwards;
    background: #fff;
    -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.35);
    -o-box-shadow: 0px 1px 2px rgba(0,0,0,0.35);
    box-shadow: 0px 1px 2px rgba(0,0,0,0.4);
}

@keyframes smoothScroll {
    0% {
        transform: translateY(-40px);
    }

    100% {
        transform: translateY(0px);
    }
}

.affix .navbar-brand {
    top: 0;
}

    .affix .navbar-brand, .affix .navbar-brand:hover, .affix .navbar-brand:focus {
        top: 35px;
        z-index: 9999;
    }

        .affix .navbar-brand img {
            width: 70% !important;
        }
/*=====  Banner CSS BOF  ======*/
.main_banner {
    min-height: 675px;
    position: relative;
    background-size: cover !important;
    background-position: top center !important;
    padding: 50px 0 0;
}

    .main_banner::before {
        background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

.banner_text {
    position: relative;
    width: 100%;
    padding-top: 113px;
    text-align: center;
}

    .banner_text h1 {
        font-size: 48px;
        font-weight: 300;
        color: #fff;
        text-transform: uppercase;
        line-height: normal;
        text-shadow: 0px 2px 3px rgba(0,0,0,0.4);
    }

        .banner_text h1 span {
            font-size: 60px;
            font-weight: 700;
        }

    .banner_text .btn-orng {
        -webkit-box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
        -moz-box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
        -o-box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
        box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
    }
/*=====  Login Section CSS BOF  ======*/
#login_section {
    width: 100%;
    padding: 0;
    display: block;
    border-top: 1px solid;
    position: absolute;
    margin: -135px 0 0;
    border-color: rgba(255,255,255,0.2);
}

    #login_section::before {
        content: "";
        background: rgba(0,0,0,0.5);
        width: 69%;
        min-height: 134px;
        position: absolute;
        left: 0;
        top: 0;
        display: inline-block;
        -moz-clip-path: polygon(0% 0%, 100% 0%, 97.5% 100%, 0% 100%);
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 97.5% 100%, 0% 100%);
        -o-clip-path: polygon(0% 0%, 100% 0%, 97.5% 100%, 0% 100%);
        clip-path: polygon(0% 0%, 100% 0%, 97.5% 100%, 0% 100%);
    }

    #login_section::after {
        content: "";
        background: rgba(252,119,25,0.8);
        width: 32.8%;
        min-height: 134px;
        position: absolute;
        right: 0;
        top: 0;
        display: inline-block;
        -moz-clip-path: polygon(5.5% 0%, 100% 0%, 100% 100%, 0% 100%);
        -webkit-clip-path: polygon(5.5% 0%, 100% 0%, 100% 100%, 0% 100%);
        -o-clip-path: polygon(5.5% 0%, 100% 0%, 100% 100%, 0% 100%);
        clip-path: polygon(5.5% 0%, 100% 0%, 100% 100%, 0% 100%);
    }

    #login_section .login_div {
        width: 100%;
        display: inline-block;
    }

        #login_section .login_div .heading {
            width: 100%;
            border-bottom: 1px dashed #4d4d4d;
            padding: 20px 0 10px;
        }

            #login_section .login_div .heading h4 {
                font-size: 20px;
                font-weight: 400;
                color: #ff7a1a;
                text-transform: uppercase;
                display: inline-block;
            }

            #login_section .login_div .heading .forgot, #login_section .login_div .heading .backlogin {
                font-size: 12px;
                font-weight: 300;
                color: #a3a3a3;
                float: right;
                cursor: pointer;
            }

                #login_section .login_div .heading .forgot:hover, #login_section .login_div .heading .backlogin:hover {
                    color: #fff;
                    text-decoration: underline;
                }

.login_form02 {
    display: none;
}

.backlogin {
    display: none;
}

#login_section .login_div .form {
    width: 100%;
    padding: 18px 0;
    /*display: inline-block;*/
}

    #login_section .login_div .form h5 {
        font-size: 17px;
        font-weight: 400;
        color: #fff;
        text-transform: uppercase;
        padding: 15px 8px 0 0;
        display: inline-block;
        float: left;
    }

    #login_section .login_div .form .form-control {
        background: rgba(255,255,255,0.2);
        border: none;
        border-radius: 50px;
        color: #a3a3a3;
        display: block;
        font-size: 14px;
        font-weight: 300;
        height: 42px;
        line-height: 1.42857;
        padding: 6px 20px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
        width: 25%;
        z-index: 1;
        box-shadow: none;
        float: left;
        margin-right: 1px;
    }

    #login_section .login_div .form .email {
        /* background: rgba(255,255,255,0.2); */
        border: none;
        border-radius: 50px;
        color: #a3a3a3;
        display: block;
        font-size: 14px;
        font-weight: 300;
        height: 42px;
        line-height: 1.42857;
        padding: 6px 20px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
        width: 37%;
        z-index: 1;
        box-shadow: none;
        float: left;
        margin-right: 1px;
    }

    #login_section .login_div .form .btn-orng {
        width: 109px;
        margin: 0;
        padding: 10px 0;
        float: left;
    }

.regi_div {
    width: 100%;
    display: inline-block;
}

    .regi_div .regi_btn {
        width: 200px;
        background: #fff;
        color: #000;
        font-size: 18px;
        font-weight: 500;
        margin: 30px 0 0 30px;
        padding: 12px 23px 6px;
        border: none;
        text-transform: uppercase;
        border-radius: 50px;
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px transparent;
        position: relative;
        -webkit-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        float: right;
        z-index: 1;
    }

        .regi_div .regi_btn i {
            float: left;
            font-size: 27px;
            padding: 0 5px 0 0;
        }

        .regi_div .regi_btn span {
            float: left;
            font-size: 12px;
            font-weight: 500;
            line-height: 8px;
        }

        .regi_div .regi_btn::before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: #000;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transform-origin: 50%;
            transform-origin: 50%;
            -webkit-transition-property: transform;
            transition-property: transform;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
            border-radius: 50px;
        }

        .regi_div .regi_btn:hover::before {
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
        }

        .regi_div .regi_btn:hover {
            color: #fff;
            text-decoration: none;
        }

    .regi_div .benefit_link {
        font-size: 14px;
        font-weight: 400;
        text-decoration: underline;
        color: #fff;
        position: relative;
        float: right;
        z-index: 1;
        margin: 8px 27px 0 0;
    }

        .regi_div .benefit_link:hover {
            text-decoration: none;
            color: #000;
        }
/*=====  Packages Section CSS BOF  ======*/
#packge_section, #destination_section {
    width: 100%;
    display: block;
}

    #packge_section h2, #destination_section h2 {
        width: 100%;
        font-size: 47px;
        font-weight: 700;
        color: #000;
        text-transform: uppercase;
        text-align: center;
        position: relative;
        padding-bottom: 20px;
    }

        #packge_section h2 span, #destination_section h2 span {
            font-weight: 100;
        }

        #packge_section h2:after, #destination_section h2:after {
            background: url(../images/separator.png) no-repeat;
            width: 167px;
            height: 7px;
            position: absolute;
            bottom: 0;
            margin: 0 auto;
            content: "";
            left: 0;
            right: 0;
        }

    #packge_section .owl-carousel {
        padding-top: 30px;
    }

    #packge_section .owl-item {
        padding: 0;
    }

.package {
    margin: 30px 15px 60px;
    background: #fff;
    color: #333;
    -webkit-box-shadow: 0 55px 36px -33px #777;
    -moz-box-shadow: 0 55px 36px -33px #777;
    box-shadow: 0 55px 36px -33px #777;
}

    .package .item {
        position: relative;
        display: block;
        overflow: hidden;
        height: 441px;
    }

        .package .item .detail {
            position: absolute;
            left: 30px;
            top: 0;
            background: rgba(0,0,0,0.8);
            width: 55%;
            height: 284px;
            z-index: 1;
            padding: 25px 18px;
        }

        .package .item img {
            position: absolute;
            left: 0;
            width: 100%;
            top: 0;
            height: 100%;
        }

.owl-theme .owl-controls {
    display: block;
    float: right;
    position: absolute;
    top: 5px;
    right: 13px;
}

.owl-prev, .owl-next {
    height: 38px !important;
    width: 38px !important;
    background: #e8e8e8 !important;
    display: inline-block !important;
    margin: 0 0 0 5px !important;
    text-align: center !important;
    font-size: 21px !important;
    color: #939393 !important;
    opacity: 1 !important;
    border: none;
    border-radius: 50px !important;
    line-height: 28px;
}

    .owl-prev:hover, .owl-next:hover {
        background: #000 !important;
        color: #fff !important;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }

.owl-pagination {
    display: none;
}

.package .item .detail h3 {
    width: 100%;
    text-transform: uppercase;
    padding-bottom: 15px;
}

    .package .item .detail h3 a {
        font-size: 19px;
        font-weight: 700;
        color: #fff;
        text-decoration: none;
    }

        .package .item .detail h3 a:hover {
            color: #f37f2c;
            text-decoration: none;
        }

.package .item .detail .location, .package .item .detail .days, .package .item .detail .price {
    width: 100%;
    font-size: 15px;
    font-weight: 400;
}

.package .item .detail ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

    .package .item .detail ul li {
        width: 100%;
        color: #fff;
        padding: 15px 0;
        border-top: 1px solid #444a4e;
    }

        .package .item .detail ul li i {
            font-size: 20px;
            padding-right: 10px;
        }

.package .item .detail .days {
    text-transform: uppercase;
}

    .package .item .detail .days span {
        margin-left: 15px;
    }

.package .item .detail .price span {
    font-size: 21px;
    font-weight: 700;
}

.package .item .detail .btn-orng {
    margin: 8px auto 0;
    padding: 10px 38px;
    display: block;
    text-align: center;
}

.view_all {
    font-size: 18px;
    font-weight: 400;
    color: #f06c0e;
    text-decoration: none;
    float: right;
}

    .view_all:hover {
        color: #000;
        text-decoration: none;
    }

/*=====  Destinations Section CSS BOF  ======*/
#destination_section {
    background: url(../images/pattern.jpg) repeat;
}

    #destination_section .desti_item {
        position: relative;
        overflow: hidden;
        -webkit-box-shadow: 0 40px 40px -20px #777;
        -moz-box-shadow: 0 40px 40px -20px #777;
        box-shadow: 0 40px 40px -20px #777;
        margin: 30px 0 0;
    }

        #destination_section .desti_item img {
            width: 100%;
            height: 314px;
        }

        #destination_section .desti_item .desti_title {
            position: absolute;
            left: 0;
            bottom: 0px;
            width: 100%;
            z-index: 2;
            transition: 0.3s all ease 0s;
            -webkit-transition: 0.3s all ease 0s;
            -moz-transition: 0.3s all ease 0s;
            -o-transition: 0.3s all ease 0s;
            padding: 25px 40px 30px;
            background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%, rgb(0, 0, 0) 100%);
            background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%, rgb(0, 0, 0) 100%);
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%, rgb(0, 0, 0) 100%);
            filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000', GradientType=0);
        }

            #destination_section .desti_item .desti_title h3 {
                margin: 0;
                text-align: left;
            }

                #destination_section .desti_item .desti_title h3 span {
                    font-size: 16px;
                    font-weight: 300;
                    float: left;
                    width: 100%;
                    text-transform: none;
                }

                #destination_section .desti_item .desti_title h3 a {
                    color: #fff;
                    font-size: 19px;
                    font-weight: 700;
                    transition: 0.5s all ease 0s;
                    -webkit-transition: 0.5s all ease 0s;
                    -moz-transition: 0.5s all ease 0s;
                    -o-transition: 0.5s all ease 0s;
                    text-transform: uppercase;
                    text-decoration: none;
                    line-height: 20px;
                }

                    #destination_section .desti_item .desti_title h3 a:hover {
                        color: #f37f2c;
                        text-decoration: none;
                    }

        #destination_section .desti_item:hover .desti_title {
            padding: 25px 40px 64px;
        }

/*=====  Footer CSS BOF  ======*/
footer {
    background: url(../images/footer-bg.jpg) no-repeat center center/cover;
    position: relative;
}

    footer::before {
        background: #b9b9b9;
        position: absolute;
        width: 34%;
        height: 358px;
        content: "";
        left: 0;
        top: 0;
    }

    footer .about {
        background: #b9b9b9;
        width: 100%;
        display: block;
        padding: 30px 10px;
        text-align: left;
    }

        footer .about .ftr-logo {
            text-align: left;
            position: relative;
            margin-bottom: 15px;
        }

        footer .about p {
            margin-top: 20px;
            color: #333 !important;
            line-height: 24px;
            text-align: left;
        }

        footer .about .social {
            display: inline-block;
            list-style: outside none none;
            margin-top: 20px;
            width: 100%;
            padding: 0;
        }

            footer .about .social li {
                text-align: center;
                padding: 0 2px;
                float: left;
            }

                footer .about .social li a {
                    color: #fff;
                    display: block;
                    height: 30px;
                    line-height: 30px;
                    text-decoration: none;
                    transition: all 0.8s ease-in-out 0s;
                    width: 30px;
                    background: #000;
                    border-radius: 50px;
                }

                    footer .about .social li a:hover {
                        background: #f57b31;
                        color: #fff;
                    }

    footer .link, footer .newslatter {
        width: 100%;
        display: inline-block;
        margin-top: 20px;
    }

        footer .link h4, footer .newslatter h4 {
            color: #fff;
            display: inline-block;
            font-weight: 700;
            margin: 0 0 10px;
            text-align: left;
            text-transform: uppercase;
            float: left;
            width: 100%;
            line-height: normal;
        }

        footer .link ul {
            width: 100%;
            list-style: none;
            padding: 0;
            margin: 0;
            float: left;
        }

            footer .link ul li {
                font-size: 13px;
                font-weight: 400;
                padding: 4px 0;
                float: left;
                width: 48%;
            }

                footer .link ul li a {
                    color: #8c8c8c;
                    text-decoration: none;
                    padding: 0;
                }

                    footer .link ul li a i {
                        padding: 0 10px 0 0;
                    }

                    footer .link ul li a:hover {
                        color: #f37f2c;
                        text-decoration: none;
                    }

    footer .contact {
        width: 100%;
        display: inline-block;
    }

        footer .contact ul {
            list-style: none;
            padding: 0;
            margin: 38px 0 0;
        }

            footer .contact ul li {
                float: left;
                font-size: 15px;
                font-weight: 700;
                padding: 7px 0;
                color: #c1c1c1;
                background: rgba(255,255,255,0.1);
                text-align: center;
                margin: 10px 10px 0 0;
                padding: 20px 9px;
            }

                footer .contact ul li:last-child {
                    margin-right: 0;
                }

                footer .contact ul li span {
                    color: #f57b31;
                    display: inline-block;
                    width: 100%;
                    padding-bottom: 5px;
                }

                footer .contact ul li a {
                    color: #c1c1c1;
                    text-decoration: none;
                }

                    footer .contact ul li a:hover {
                        color: #f57b31;
                        text-decoration: none;
                    }

    footer .newslatter p {
        font-size: 15px;
        color: #8c8c8c !important;
        float: left;
        padding: 0;
        text-align: left;
    }

    footer .newslatter form {
        float: left;
        margin-top: 20px;
        width: 100%;
    }

        footer .newslatter form .input {
            background: rgba(255,255,255,0.15);
            border: none;
            width: 73.6%;
            padding: 11px 20px;
            color: #c1c1c1;
            font-size: 12px;
            font-weight: 400;
            float: left;
            border-radius: 50px 0px 0px 50px;
        }

        footer .newslatter form .btn-orng {
            width: 166px;
            margin: 0 0 0 -20px;
            padding: 11px 38px;
            text-align: center;
        }

    footer .ftr-btm {
        background: #000;
        padding: 15px 0;
        font-size: 12px;
        font-weight: 400;
    }

        footer .ftr-btm .left_side {
            float: left;
            margin-top: 8px;
            position: relative;
            z-index: 2;
            color: #6f6f6f;
        }

        footer .ftr-btm .right_side {
            float: right;
            position: relative;
            z-index: 2;
            color: #6f6f6f;
        }

.back-top {
    position: absolute;
    right: 50%;
    top: 84%;
}

    .back-top #toTop {
        color: #000;
        height: 42px;
        line-height: 42px;
        padding: 16px 13px;
        transition: all 0.8s ease-in-out 0s;
        width: 42px;
        z-index: 50;
        background: #fff;
        border-radius: 50px;
    }

    .back-top i {
        font-size: 20px;
        position: relative;
        top: 3px;
    }

    .back-top #toTop:hover {
        background: #f57b31;
        color: #fff;
    }


.reset_main {
    width: 100%;
    float: left;
}

.reset_mid {
    width: 400px;
    margin: auto;
    padding: 50px 0px;
}

.main_reset_sec {
    width: 100%;
    float: left;
    padding: 20px;
}

    .main_reset_sec h2 {
        text-align: center;
        margin-bottom: 18px;
    }

.txt_sec {
    width: 100%;
    height: 36px;
    float: left;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    padding: 0px 10px;
    border: 1px solid #cecece;
}

.txt_sec {
    width: 100%;
    height: 36px;
    float: left;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    padding: 0px 10px;
    border: 1px solid #cecece;
}

.reset_btn {
    width: 100%;
    height: 36px;
    border: none;
    background: #f57e27;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #FFF;
    cursor: pointer;
    transition: all linear 0.15s;
}

    .reset_btn:hover {
        background: #ff9344;
    }

.loadrst {
    width: 100%;
    float: left;
    position: relative;
    display: none;
}

.load_reset {
    width: 100%;
    height: 36px;
    border: none;
    background: #9db84b;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #FFF;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 9;
    text-align: center;
    line-height: 37px;
}

@media screen and (max-width: 1200px) {
    #login_section::before {
        width: 100% !important;
        -moz-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        -o-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }

    #login_section::after {
        display: none;
    }
}

@media screen and (max-width: 990px) {
    #login_section .login_div .form h5 {
        padding: 0px;
        width: 100%;
    }
    .loginbtn{
        width: 100%;
    }

    #login_section .login_div .form .form-control {
        width: 100%;
        margin-bottom: 5px;
    }

    #login_section .login_div .form .btn-orng {
        width: 100%;
    }

    #login_section::before {
        height: 287px !important;
    }

    #login_section {
        margin: -288px 0 0 !important;
    }

        #login_section .login_div .form .email {
            width: 100%;
            margin-bottom: 5px;
        }
}

@media screen and (max-width: 768px) {
    .navbar {
        min-height: 90px;
    }

    .navbar-toggle {
        margin: 31px 0 10px !important;
    }

    .navbar-default .navbar-brand {
        margin: 3px 0 0 !important;
    }

    .affix .navbar-brand {
        top: 14px !important;
    }
}
.loginbtn{
    position: relative;
    float: left;
}
.btn_load{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    text-align: center;
    line-height: 44px;
    background: rgba(225, 116, 39, 0.58);
    border-radius: 33px;
}