@media screen and (max-width: 550px) {
.call-action {
    margin: 12px 0 0 0;
    width: 237px;
    float: right;
	clear: both;
}
.call-action a {
    font-size: 15px;
}
.call-action a i {
    font-size: 18px;
}
.login_div {
    width: 100% !important;
}
.main_banner {
    min-height: 590px;
}
}
@media screen and (max-width: 767px) {
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    width: 100px;
}
.navbar-brand > img {
    width: 100%;
}
.call-action a {
    font-size: 15px;
}
.login_div {
    width: 80%;
}
.reserved, .Powered {
    float: none;
	padding:5px 0;
}
}

@media (min-width: 768px) and (max-width: 990px) {
.login_div {
    width: 80%;
}
}
@media (min-width: 991px) and (max-width: 1024px) {
.login_div {
    width: 80%;
}
footer h3 {
    font-size: 20px;
}
.ftr-link ul li, .ftr-link ul li a {
	font-size: 13px;
}
}
@media (min-width: 1025px) and (max-width: 1400px) {
.login_div {
    width: 70%;
}
}
@media screen and (max-width: 990px) {
    .foot-newsletter input[type="submit"]{
        width: 100%;
    }
    .footer-logo-desc{
        text-align: center;
        border-bottom: 1px dashed #828282;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    .ftr-link{
        text-align: center;
        border-bottom: 1px dashed #828282;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    .ftr-link ul li{
        padding-left: 0 !important;
    }
    .ftr-link ul li i{
        position: relative !important;
    }
    .ftr-link ul li a{
        display: initial !important;
    }
}
