* {
	margin: 0;
	padding: 0;
}
img {
	outline: none;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: bold;
	line-height: 1.1;
	margin: 0;
	padding: 0;
}
a {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	outline: none;
}
p {
	line-height: 26px;
	margin: 0;
	padding: 8px 0 0; 
	color: #555;
	font-size: 15px;
	font-weight: 400;
}
/*====================================
=            Helper Class            =
====================================*/
.m-t-10 {
	margin-top: 10px;
}
.m-t-20 {
	margin-top: 20px;
}
.m-t-15 {
	margin-top: 15px;
}
.m-t-25 {
	margin-top: 25px;
}
.m-t-30 {
	margin-top: 30px;
}
.m-t-50 {
	margin-top: 50px;
}
.m-t-70 {
	margin-top: 70px;
}
.m-b-10 {
	margin-bottom: 10px;
}
.m-b-15 {
	margin-bottom: 15px;
}
.m-b-20 {
	margin-bottom: 20px;
}
.m-b-25 {
	margin-bottom: 25px;
}
.m-b-30 {
	margin-bottom: 30px;
}
.p-0 {
	padding: 0;
}
.p-t-0 {
	padding-top: 0;
}
.p-t-10 {
	padding-top: 10px;
}
.p-t-15 {
	padding-top: 15px;
}
.p-t-20 {
	padding-top: 20px;
}
.p-t-25 {
	padding-top: 25px;
}
.p-t-30 {
	padding-top: 30px;
}
.p-b-10 {
	padding-bottom: 10px;
}
.p-b-15 {
	padding-bottom: 15px;
}
.p-b-20 {
	padding-bottom: 20px;
}
.p-b-25 {
	padding-bottom: 25px;
}
.p-b-30 {
	padding-bottom: 30px;
}
/*=====  Navbar CSS BOF  ======*/
.navbar-default {
	background: #d86b18;
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;
	border: 0px;
	z-index: 2;
}
.navbar {
	margin-bottom: 0px;
	z-index: 999;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	height: 70px;
}
.navbar-nav {
	margin: 0;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	padding: 0;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	width: auto;
	height: auto;
	padding: 0;
	position: absolute;
	z-index: 1000;
	margin: 0 0 !important;
}
.top-nav-collapse {
	padding: 0;
	top: 0;
}
.call-action {
	font-family: 'Roboto', sans-serif;
	line-height: normal;
	display: block;
	float: right;
	text-align: left;
	width: auto;
	margin: 24px 0 0 20px;
}
.call-action a {
	font-size: 18px;
	font-weight: 400;
	color: #fff;
}
.call-action a i {
	font-size: 22px;
	padding: 0 10px 0 0;
	float: left;
}
.call-action a:hover {
	color: #000;
	text-decoration: none;
}
/*=====  Banner CSS BOF  ======*/
.main_banner {
	min-height: 665px;
	position: relative;
	background-size: cover !important;
	background-position: top center !important;
}
.main_banner h1 {
	text-transform: uppercase;
	color: #fff;
	font-size: 45px;
	text-align: center;
	font-weight: 700;
	margin-top: 200px;
}
.main_banner h1 span {
	font-size: 32px;
	font-weight: 400;
}
/*=====  Login CSS BOF  ======*/
.login_div {
	background: #d86b18;
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	width: 50%;
	margin: 0 auto;
}
.login_div h3 {
	font-size: 18px;
	color: #d86b18;
	width: 200px;
	padding: 8px 0;
	text-align: center;
	font-weight: 700;
	background: #fff;
	margin: -40px auto 0;
	line-height: normal;
	text-transform: uppercase;
}
.login-form {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0 15px;
	display: inline-block;
	width: 100%;
}
.sec {
	padding-top: 20px;
}
.sec1 {
	padding-top: 20px;
}
.login-form label {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	color: #fff;
	margin: 0 0 4px;
}
.login-form .form-control, .forgot_form .form-control{
	background-color: #fff;
	border: 1px solid #a3a3a3;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
	color: #333;
	display: block;
	font-size: 15px;
	height: 46px;
	padding: 6px 15px;
	width: 100%;
	z-index: 1;
	box-shadow: none;
	margin-top: 0;
	font-weight: 400;
	position: relative;
}
.login-form .plane-icon, .forgot_form .plane-icon{
	width: 43px;
	text-align: center;
	position: absolute;
	right: 16px;
	top: 47px;
	font-size: 18px;
	color: #a3a3a3;
	border-left: 1px solid #a3a3a3;
	padding: 9px 0;
	z-index: 1;
}
.login-form .login_btn, .forgot_form .login_btn{
	background: #000;
	font-size: 20px;
	color: #fff;
	padding: 9px 0;
	text-align: center;
	width: 100%;
	border: none;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	margin: 0;
	display: block;
	font-weight: 700;
	text-transform: uppercase;
}
.login-form .login_btn:hover, .forgot_form .login_btn:hover {
	background: #fff;
	color: #000;
	text-decoration: none;
}
.link {
	padding: 0 0 15px;
	text-align: center;
	width: 100%;
	display: block;
}
.link ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: inline-block;
}
.link ul li {
	font-size: 15px;
	color: #fff;
	padding: 0 10px;
	font-weight: 400;
	list-style: none;
	float: left;
}
.link ul li a {
	color: #fff;
	cursor: pointer;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.link ul li a:hover {
	color: #000;
	text-decoration: none;
}
/*==========Footer===========*/
footer {
	background: #202020;
	padding: 60px 0 40px;
	margin:1px 0 0;
}
.footer-logo-desc img {
	border-radius: 100%;
}
.footer-logo-desc h3 span {
	color: #fff;
	text-transform: capitalize;
	font-size: 20px;
	font-weight: 700;
}
.footer-logo-desc .iata-logo {
	border-radius: 0;
}
.footer-logo-desc p {
	color: #adadad;
	font-size: 15px;
	font-weight: 400;
}
.footer-logo-desc ul {
	padding-top: 10px;
}
.footer-logo-desc ul li {
	display: inline-block;
	padding: 0 4px;
}
footer h3 {
	height: 50px;
	color: #d86b18;
	text-transform: uppercase;
	line-height: 22px;
	padding: 0;
	font-size: 24px;
}
.ftr-link ul li {
	position: relative;
	padding: 5px 0 5px 40px;
	color: #adadad;
	list-style:none;
}
.ftr-link ul li a{
	color: #adadad;
	font-size: 16px;
	font-weight: 400;
	display: block;
	padding: 5px 0;
}
.ftr-link ul li i {
	position: absolute;
	top: 6px;
	left: 0;
	height: 35px;
	width: 35px;
	color: #fff;
	border-radius: 0;
	text-align: center;
	font-size: 20px;
	line-height: 33px;
}
.ftr-link ul li a:hover {
	color: #d86b18;
	text-decoration:none;
}
.foot-newsletter input[type="text"] {
	background: #dcdcdc;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	font-size: 16px;
	border: 1px solid
	#c3c3c3;
}
.foot-newsletter input[type="submit"] {
	background: #fff;
	color: #d86b18;
	border: 1px solid #fff;
	padding: 7px 36px;
	margin-top: 10px;
}
.foot-newsletter input[type="submit"]:hover {
	background: #d86b18;
	color: #fff !important;
}
.btn a, input[type="submit"], input[type="button"] {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    display: inline-block;
    font-size: 20px;
    background-color: #d86b18;
    color: #fff;
    padding: 10px 36px;
    border-radius: 0px;
    vertical-align: middle;
    text-transform: uppercase;
    border: 1px solid #d86b18;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}
.all-reserved {
	background: #000000;
	padding: 10px 0;
}
.reserved {
	float: left;
}
.reserved p {
	color: #adadad;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 0;
}
.Powered {
	float: right;
}
.Powered p {
	display: inline-block;
	vertical-align: middle;
	color: #adadad;
	font-size: 13px;
	font-weight: 400;
}
.Powered a {
	display: inline-block;
}
.forgot_form{
	display: none;
}
.back i{
	padding-right: 4px;
}
.btnarea{
	width: 100%;
	float: left;
	position: relative;
}
.btn_load{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.71);
	color: #FFF;
	text-align: center;
	line-height: 44px;
}
/*reset password*/
.reset_mid {
    width: 400px;
    margin: auto;
    padding: 50px 0px;
}

.main_reset_sec {
    width: 100%;
    float: left;
    padding: 20px;
}

    .main_reset_sec h2 {
        text-align: center;
        margin-bottom: 18px;
    }

.txt_sec {
    width: 100%;
    height: 36px;
    float: left;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    padding: 0px 10px;
    border: 1px solid #cecece;
}

.txt_sec {
    width: 100%;
    height: 36px;
    float: left;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    padding: 0px 10px;
    border: 1px solid #cecece;
}

.reset_btn {
    width: 100%;
    height: 36px;
    border: none;
    background: #000;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 15px !important;
    color: #FFF;
    cursor: pointer;
	transition: all linear 0.15s;
	padding: 0px !important;
}

    .reset_btn:hover {
        background: #d86b18;
    }

.loadrst {
    width: 100%;
    float: left;
    position: relative;
    display: none;
}

.load_reset {
    width: 100%;
    height: 36px;
    border: none;
    background: rgba(0, 0, 0, 0.71);
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #FFF;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 9;
    text-align: center;
    line-height: 37px;
}