<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title> About Us</title>
    <link rel="icon" href="images/favicon.ico" type="icon" />
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Main Custom CSS -->
    <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="css/media.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/font-awesome/font-awesome.min.css" rel="stylesheet">

    <link href="/assets/plugins/alertifyJs/default.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/alertifyJs/alertify.min.css" rel="stylesheet" type="text/css" />
    <link href="css/vue-loading.css" rel="stylesheet" type="text/css">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div id="preloader"></div>
    <!--Header -->
    <header>
        <headeritem></headeritem>
    </header>



    <div class="container" id="erorrPage" v-cloak>
        <div class="four-zero">
            <h3>4<span>0</span>4</h3>
            <h4>{{MainSection.Heading}}</h4>
            <p v-html="MainSection.Content"></p>
            <a class="btn" href="index.html">{{MainSection.Home_Button_Label}}</a>
        </div>
    </div>




    <!--Footer-->

    <footer>

        <!--Partners-->




        <footeritem></footeritem>
    </footer>
    <!-- Hotels-->


    <a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a>
    <!-- Main JQUERY -->
    <!-- Bootstrap JQUERY -->
    <script src="/assets/js/vue.min.js?v=202002060000"></script>
    <script src="/assets/js/vue-i18n.js?v=201912240000"></script>
    <script src="/assets/js/axios.min.js?v=201912240000"></script>
    <script src="/Login/Lisamin/js/jquery.cookie.js"></script>
    <script src="js/jquery3-2-1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/vue-loading-overlay@3.min.js"></script>
    <script>
        Vue.use(VueLoading);
        Vue.component('loading', VueLoading)
    </script>
    <script src="/assets/plugins/moment/moment.min.js?v=201907220000"></script>
    <script src="/assets/plugins/alertifyJs/alertify.min.js?v=201905200000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202008060000"></script>
    <script src="/CommonFuntions/CommonFunctions.js?v=202008240000"></script>
    <script src="/CommonFuntions/ExtentionMethods.js?v=201905200000"></script>
    <script src="/Login/LoginComponents/js/login.js?v=202007160000"></script>


    <script src="master/master.js"></script>
    <script src="serviceJs/404.js"></script>





</body>

</html>