<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title> Contact Us</title>
    <link rel="icon" href="images/favicon.ico" type="icon" />
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Main Custom CSS -->
    <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="css/media.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/font-awesome/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/plugins/alertifyJs/default.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/alertifyJs/alertify.min.css" rel="stylesheet" type="text/css" />
    <link href="css/vue-loading.css" rel="stylesheet" type="text/css">
    <style>
        [v-cloak] {
            display: none;
        }
        
        .alertify .ajs-header {
            background-color: #11609c !important;
        }
        
        .alertify .ajs-button {
            background-color: #11609c !important;
        }
        
        .alertify .ajs-button:hover {
            background: #94c11f !important;
            color: #3b3b3b !important;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
        }
    </style>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>

<body>

    <!--Header -->
    <header>
        <headeritem></headeritem>
    </header>
    <div id="contact" v-cloak>
        <!-- banner-->
        <div class="vld-parent">
            <loading :active.sync="isLoading" :can-cancel="true" :is-full-page="fullPage"></loading>
        </div>
        <section class="inner-banner contact-banner" :style="'background:url('+bannerSection.Image_1920x289px+') no-repeat;'">
            <div class="container relative">
                <h1>{{bannerSection.Banner_Title}}
                    </h1>

                        <div class="bradcomes">
                            <ul>
                                <li><a href="index.html">{{bannerSection.Home_Label}}</a></li> /
                                <li>{{bannerSection.Contact_Us_Label}}</li>
                            </ul>
                        </div>

        </section>
        <div class="container">
            <div class="contact-info">
                <h2>{{contactSection.Heading}}</h2>
                <div class="title-pattern">
                    <img src="images/title-patten.png" alt="pattern">
                </div>

                <p v-html="contactSection.Description"></p>

                <div class="row">
                    <form>
                        <div class="col-md-6">
                            <input type="text" id="text" class="form-control" v-model="cntfname" :placeholder="contactSection.First_Name_Placeholder">
                        </div>

                        <div class="col-md-6">
                            <input type="text" id="text" class="form-control" v-model="cntlastname" :placeholder="contactSection.Last_Name_Placeholder">
                        </div>

                        <div class="col-md-6">
                            <input type="email" id="email" class="form-control" v-model="cntemail" :placeholder="contactSection.Email_Placeholder">
                        </div>

                        <div class="col-md-6">
                            <input type="text" id="text" class="form-control" v-model="cntcontact" :placeholder="contactSection.Phone_Placeholder">
                        </div>


                        <div class="col-md-12">
                            <textarea rows="4" class="form-control" v-model="cntmessage" :placeholder="contactSection.Message_Placeholder"></textarea>
                        </div>

                        <div class="col-md-12">
                            <input type="submit" id="submit" :value="contactSection.Send_Button_Label" @click.prevent="sendcontact">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="contact-in">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="contact-dtl">
                            <h4>{{contactSection.Address_Label}}</h4>
                            <p>{{contactSection.Address}}</p>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="contact-dtl">
                            <h4>{{contactSection.Phone_Label}}</h4>
                            <a :href="'tel:+'+ contactSection.Phone_Number">{{contactSection.Phone_Number}}</a>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="contact-dtl">
                            <h4>{{contactSection.Email_Label}}</h4>
                            <a :href="'mailto:'+contactSection.Email_Id">{{contactSection.Email_Id}}</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        </div>
        <!--Footer-->
        <footer>
            <footeritem></footeritem>
        </footer>
        <!-- Hotels-->


        <a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a>
        <script src="/assets/js/vue.min.js?v=202002060000"></script>
        <script src="/assets/js/vue-i18n.js?v=201912240000"></script>
        <script src="/assets/js/axios.min.js?v=201912240000"></script>
        <script src="js/custom.js"></script>
        <script src="js/jquery.min.js"></script>
        <script src="js/jquery3-2-1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>


        <script src="js/vue-loading-overlay@3.min.js"></script>
        <script>
            Vue.use(VueLoading);
            Vue.component('loading', VueLoading)
        </script>
        <script src="/assets/plugins/moment/moment.min.js?v=201907220000"></script>
        <script src="/assets/plugins/alertifyJs/alertify.min.js?v=201905200000"></script>
        <script src="/Resources/HubUrls/HubServiceUrls.js?v=202008060000"></script>
        <script src="/CommonFuntions/CommonFunctions.js?v=202008240000"></script>
        <script src="/CommonFuntions/ExtentionMethods.js?v=201905200000"></script>
        <script src="/Login/LoginComponents/js/login.js?v=202007160000"></script>


        <script src="master/master.js"></script>
        <script src="serviceJs/contact.js"></script>

</body>

</html>