<!DOCTYPE html>

<html lang="en">

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title> Vamidzo Travel</title>
    <link rel="icon" href="images/favicon.ico" type="icon" />
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Main Custom CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />


    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="css/media.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/font-awesome/font-awesome.min.css" rel="stylesheet">

    <link href="/assets/plugins/alertifyJs/default.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/alertifyJs/alertify.min.css" rel="stylesheet" type="text/css" />
    <link href="css/vue-loading.css" rel="stylesheet" type="text/css">
    <!-- <link href="css/custom-splash.css" rel="stylesheet" type="text/css"> -->
    <style>
        [v-cloak] {
            display: none;
        }
        
        .alertify .ajs-header {
            background-color: #11609c !important;
        }
        
        .alertify .ajs-button {
            background-color: #11609c !important;
        }
        
        .alertify .ajs-button:hover {
            background: #94c11f !important;
            color: #3b3b3b !important;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
        }
    </style>
</head>

<body>
    <!-- PRELOADER -->
 <div id="preloader"> </div>
        <!-- <div id="preloader-status">
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
            <div class="lds-circle">
                <div></div>
            </div> -->
            <!-- <div id="preloader-title">Loading</div> -->
        <!-- </div> -->
    </div>
    <!-- /PRELOADER -->
    <!--<a class="wp-btn" href="https://web.whatsapp.com" target="_blank"><i class="fa fa-whatsapp"></i></a> -->
    <!--Header -->
    <header>
        <headeritem></headeritem>
    </header>

    <!--banner-->
    <div id="indexPage" v-cloak>
        <div class="vld-parent">
            <loading :active.sync="isLoading" :can-cancel="true" :is-full-page="fullPage"></loading>
        </div>
        <section class="banner" :style="'background:url('+BannerSection.Background_Image_1920x564px+') no-repeat;'">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="agency-login">
                            <div class="login-form" id="Div1">
                                <h3><span>{{LoginSection.Agency_Login_Heading1}}</span> {{LoginSection.Agency_Login_Heading_2}}</h3>

                                <form action="javascript:sendLogin()">
                                    <input name="agnecy-code" class="form-control" id="txtAgencyCode" type="text" :placeholder="LoginSection.Agency_code_Placeholder">
                                    <input name="username" id="txtUname" class="form-control" type="text" :placeholder="LoginSection.Username_Placeholder">
                                    <input name="password" id="txtPwd" class="form-control" type="password" :placeholder="LoginSection.Password_Placeholder">
                                    <div>
                                        <button type="submit" class="form-control" class="form-control">{{LoginSection.Login_Button}}</button>
                                        <div id="loginLoader" class="btn_load" style="display:none;"><i class="fa fa-spinner fa-spin"></i></div>
                                    </div>
                                    <a class="forgot-pass" id="Button1" href="#" value="Click" onclick="switchVisible();">{{LoginSection.Forgot_Your_Password_Label}}</a>
                                </form>
                            </div>

                            <div class="login-form" id="Div2">
                                <h3><span>{{LoginSection.Forgot_Your_Password_Heading1}}</span> {{LoginSection.Forgot_Your_Password_Heading2}}</h3>
                                <form action="javascript:forgotPassword()">
                                    <input name="agnecy-code" class="form-control" id="txtAgency" type="text" :placeholder="LoginSection.Agency_code_Placeholder">
                                    <input type="text" class="form-control" id="txtEmail" name="email" :placeholder="LoginSection.Email_Placeholder">
                                    <div>
                                        <button type="submit"  class="form-control">{{LoginSection.Reset_Password_Button}}</button>
                                        <div id="loderForgot" class="btn_load" style="display:none;"><i class="fa fa-spinner fa-spin"></i></div>
                                    </div>
                                    <a class="forgot-pass" href="#" id="Button1" value="Click" onclick="switchVisible();">{{LoginSection.Back_to_Login_Label}}</a>
                                </form>
                            </div>


                            <div class="login-text forgot-passwod">
                                <h4><span>{{LoginSection.Register_Heading1}}</span><br>{{LoginSection.Register_Heading2}}</h4>
                                <p v-html="LoginSection.Description"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--About-Us-->
        <div class="container">
            <div class="about-us">
                <h2>{{MainSection.About_Section_Heading}}</h2>
                <p v-html="MainSection.About_Description"></p>
                <div class="btn">
                    <a href="about.html">{{MainSection.Read_More_Label}}</a>
                </div>
            </div>
        </div>

        <!--why-choose-Us-->
        <section class="why-choose" :style="'background:url('+MainSection.Why_Chose_Image_1920x398px+') no-repeat;'">
            <div class="container relative">
                <h2>{{MainSection.Why_Choose_Label}}</h2>


                <div class="row">
                    <div class="col-md-3 col-sm-6 pa-5">
                        <div class="why-info">
                            <div class="choose-icon">
                                <div class="icon-sec">
                                    <svg viewBox="0 0 400.156 400.155" style="enable-background:new 0 0 400.156 400.155;" xml:space="preserve">
<g>
	<path d="M396.31,49.545c6.088-18.271,4.949-32.354-3.432-42.255c-9.897-8.376-23.983-9.514-42.258-3.434
		c-18.273,6.091-34.643,16.368-49.111,30.833l-45.679,45.683L65.973,34.978c-3.046-0.953-5.901-0.192-8.564,2.282L20.862,73.805
		c-2.091,2.096-2.95,4.665-2.568,7.71c0.571,3.049,2.19,5.33,4.854,6.854l145.038,79.656l-73.948,73.948L38.85,226.845
		c-0.38-0.192-1.139-0.288-2.282-0.288c-2.666,0-4.853,0.855-6.567,2.57L2.594,256.819c-1.903,2.279-2.758,4.66-2.568,7.132
		c0.378,3.045,1.615,5.235,3.711,6.57l71.946,53.957l53.959,71.944c1.714,2.098,3.999,3.329,6.854,3.716h0.571
		c2.666,0,4.853-0.855,6.567-2.566l27.406-27.404c2.474-2.669,3.236-5.619,2.286-8.854l-15.133-55.388l73.947-73.953L311.8,377.019
		c1.14,2.475,3.138,3.997,5.995,4.569c0.568,0.191,1.235,0.284,1.999,0.284c2.279,0,4.09-0.572,5.421-1.712l36.552-27.407
		c3.23-2.663,4.373-5.801,3.426-9.418l-45.68-198.711l45.967-45.965C379.942,84.188,390.219,67.816,396.31,49.545z"/>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
                                </div>
                            </div>
                            <div class="choosebg">
                                <h5>{{MainSection.Tile_1_Heading}}</h5>
                                <p v-html="MainSection.Tile_1_Description">
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-3 col-sm-6 pa-5">
                        <div class="why-info">
                            <div class="choose-icon">
                                <div class="icon-sec">
                                    <svg viewBox="0 0 511.999 511.999" style="enable-background:new 0 0 511.999 511.999;" xml:space="preserve">
<g>
	<g>
		<path d="M438.09,273.32h-39.596c4.036,11.05,6.241,22.975,6.241,35.404v149.65c0,5.182-0.902,10.156-2.543,14.782h65.461
			c24.453,0,44.346-19.894,44.346-44.346v-81.581C512,306.476,478.844,273.32,438.09,273.32z"/>
	</g>
</g>
<g>
	<g>
		<path d="M107.265,308.725c0-12.43,2.205-24.354,6.241-35.404H73.91c-40.754,0-73.91,33.156-73.91,73.91v81.581
			c0,24.452,19.893,44.346,44.346,44.346h65.462c-1.641-4.628-2.543-9.601-2.543-14.783V308.725z"/>
	</g>
</g>
<g>
	<g>
		<path d="M301.261,234.815h-90.522c-40.754,0-73.91,33.156-73.91,73.91v149.65c0,8.163,6.618,14.782,14.782,14.782h208.778
			c8.164,0,14.782-6.618,14.782-14.782v-149.65C375.171,267.971,342.015,234.815,301.261,234.815z"/>
	</g>
</g>
<g>
	<g>
		<path d="M256,38.84c-49.012,0-88.886,39.874-88.886,88.887c0,33.245,18.349,62.28,45.447,77.524
			c12.853,7.23,27.671,11.362,43.439,11.362c15.768,0,30.586-4.132,43.439-11.362c27.099-15.244,45.447-44.28,45.447-77.524
			C344.886,78.715,305.012,38.84,256,38.84z"/>
	</g>
</g>
<g>
	<g>
		<path d="M99.918,121.689c-36.655,0-66.475,29.82-66.475,66.475c0,36.655,29.82,66.475,66.475,66.475
			c9.298,0,18.152-1.926,26.195-5.388c13.906-5.987,25.372-16.585,32.467-29.86c4.98-9.317,7.813-19.946,7.813-31.227
			C166.393,151.51,136.573,121.689,99.918,121.689z"/>
	</g>
</g>
<g>
	<g>
		<path d="M412.082,121.689c-36.655,0-66.475,29.82-66.475,66.475c0,11.282,2.833,21.911,7.813,31.227
			c7.095,13.276,18.561,23.874,32.467,29.86c8.043,3.462,16.897,5.388,26.195,5.388c36.655,0,66.475-29.82,66.475-66.475
			C478.557,151.509,448.737,121.689,412.082,121.689z"/>
	</g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
                                </div>
                            </div>
                            <div class="choosebg">
                                <h5>{{MainSection.Tile_2_Heading}}</h5>
                                <p v-html="MainSection.Tile_2_Description">
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 pa-5">
                        <div class="why-info">
                            <div class="choose-icon">
                                <div class="icon-sec">
                                    <svg viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<g>
	<g>
		<path d="M141.367,116.518c-7.384-7.39-19.364-7.39-26.748,0c-27.416,27.416-40.891,65.608-36.975,104.79
			c0.977,9.761,9.2,17.037,18.803,17.037c0.631,0,1.267-0.032,1.898-0.095c10.398-1.04,17.983-10.316,16.943-20.707
			c-2.787-27.845,6.722-54.92,26.079-74.278C148.757,135.882,148.757,123.901,141.367,116.518z"/>
	</g>
</g>
<g>
	<g>
		<path d="M216.276,0C97.021,0,0,97.021,0,216.276s97.021,216.276,216.276,216.276s216.276-97.021,216.276-216.276
			S335.53,0,216.276,0z M216.276,394.719c-98.396,0-178.443-80.047-178.443-178.443S117.88,37.833,216.276,37.833
			c98.39,0,178.443,80.047,178.443,178.443S314.672,394.719,216.276,394.719z"/>
	</g>
</g>
<g>
	<g>
		<path d="M506.458,479.71L368.999,342.252c-7.39-7.39-19.358-7.39-26.748,0c-7.39,7.384-7.39,19.364,0,26.748L479.71,506.458
			c3.695,3.695,8.531,5.542,13.374,5.542c4.843,0,9.679-1.847,13.374-5.542C513.847,499.074,513.847,487.094,506.458,479.71z"/>
	</g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
                                </div>
                            </div>
                            <div class="choosebg">
                                <h5>{{MainSection.Tile_3_Heading}}</h5>
                                <p v-html="MainSection.Tile_3_Description">
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 pa-5">
                        <div class="why-info">
                            <div class="choose-icon">
                                <div class="icon-sec">
                                    <svg viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<g>
	<g>
		<g>
			<circle cx="386" cy="210" r="20"/>
			<path d="M432,40h-26V20c0-11.046-8.954-20-20-20c-11.046,0-20,8.954-20,20v20h-91V20c0-11.046-8.954-20-20-20
				c-11.046,0-20,8.954-20,20v20h-90V20c0-11.046-8.954-20-20-20s-20,8.954-20,20v20H80C35.888,40,0,75.888,0,120v312
				c0,44.112,35.888,80,80,80h153c11.046,0,20-8.954,20-20c0-11.046-8.954-20-20-20H80c-22.056,0-40-17.944-40-40V120
				c0-22.056,17.944-40,40-40h25v20c0,11.046,8.954,20,20,20s20-8.954,20-20V80h90v20c0,11.046,8.954,20,20,20s20-8.954,20-20V80h91
				v20c0,11.046,8.954,20,20,20c11.046,0,20-8.954,20-20V80h26c22.056,0,40,17.944,40,40v114c0,11.046,8.954,20,20,20
				c11.046,0,20-8.954,20-20V120C512,75.888,476.112,40,432,40z"/>
			<path d="M391,270c-66.72,0-121,54.28-121,121s54.28,121,121,121s121-54.28,121-121S457.72,270,391,270z M391,472
				c-44.663,0-81-36.336-81-81s36.337-81,81-81c44.663,0,81,36.336,81,81S435.663,472,391,472z"/>
			<path d="M420,371h-9v-21c0-11.046-8.954-20-20-20c-11.046,0-20,8.954-20,20v41c0,11.046,8.954,20,20,20h29
				c11.046,0,20-8.954,20-20C440,379.954,431.046,371,420,371z"/>
			<circle cx="299" cy="210" r="20"/>
			<circle cx="212" cy="297" r="20"/>
			<circle cx="125" cy="210" r="20"/>
			<circle cx="125" cy="297" r="20"/>
			<circle cx="125" cy="384" r="20"/>
			<circle cx="212" cy="384" r="20"/>
			<circle cx="212" cy="210" r="20"/>
		</g>
	</g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
                                </div>
                            </div>
                            <div class="choosebg">
                                <h5>{{MainSection.Tile_4_Heading}}</h5>
                                <p v-html="MainSection.Tile__Description">
                                </p>
                            </div>
                        </div>
                    </div>



                </div>

            </div>
        </section>

    </div>
    <!--Partners-->

    <footer>



        <footeritem></footeritem>


    </footer>
    <!-- Hotels-->


    <a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a>
    <!-- Main JQUERY -->
    <!-- Bootstrap JQUERY -->
    <script src="/assets/js/vue.min.js?v=202002060000"></script>
    <script src="/assets/js/vue-i18n.js?v=201912240000"></script>
    <script src="/assets/js/axios.min.js?v=201912240000"></script>
    <script src="/Login/Lisamin/js/jquery.cookie.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery3-2-1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/vue-loading-overlay@3.min.js"></script>
    <script>
        Vue.use(VueLoading);
        Vue.component('loading', VueLoading)
    </script>
    <script src="/assets/plugins/moment/moment.min.js?v=201907220000"></script>
    <script src="/assets/plugins/alertifyJs/alertify.min.js?v=201905200000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202008060000"></script>
    <script src="/CommonFuntions/CommonFunctions.js?v=202008240000"></script>
    <script src="/CommonFuntions/ExtentionMethods.js?v=201905200000"></script>
    <script src="/Login/LoginComponents/js/login.js?v=202007160000"></script>
    <script src="master/master.js"></script>
    <script src="master/index.js"></script>
    <script>
        function switchVisible() {
            if (document.getElementById('Div1')) {

                if (document.getElementById('Div1').style.display == 'none') {
                    document.getElementById('Div1').style.display = 'block';
                    document.getElementById('Div2').style.display = 'none';
                } else {
                    document.getElementById('Div1').style.display = 'none';
                    document.getElementById('Div2').style.display = 'block';
                }
            }
        }
    </script>

</body>

</html>