<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Privacy Policy</title>
    <link rel="icon" href="images/favicon.ico" type="icon" />
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <!-- Main Custom CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />


    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="css/media.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/font-awesome/font-awesome.min.css" rel="stylesheet">

    <link href="/assets/plugins/alertifyJs/default.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/alertifyJs/alertify.min.css" rel="stylesheet" type="text/css" />
    <link href="css/vue-loading.css" rel="stylesheet" type="text/css">
    <style>
        [v-cloak] {
            display: none;
        }
        .alertify .ajs-header {
            background-color: #11609c !important;
        }
        
        .alertify .ajs-button {
            background-color: #11609c !important;
        }
        
        .alertify .ajs-button:hover {
            background: #94c11f !important;
            color: #3b3b3b !important;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
        }
    </style>
</head>

<body>
    <header>
        <headeritem></headeritem>
    </header>

    <div id="privacy" v-cloak>
        <div class="vld-parent">
            <loading :active.sync="isLoading" :can-cancel="true" :is-full-page="fullPage"></loading>
        </div>
        <!--inner-banner-->

        <section class="inner-banner about-banner" :style="'background:url('+BannerSection.Banner_Image_1920_x_289_px+') no-repeat;'">
            <div class="container relative">
                        <h1>{{BannerSection.Privacy_Policy_Label}}</h1>
                        
                <div class="bradcomes">
                    <ul>
                        <li><a href="index.html">{{BannerSection.Home_Label}}</a></li> /
                        <li>{{BannerSection.Privacy_Policy_Label}}</li>
                    </ul>
                </div>
            </div>

        </section>
        <!--About-text-->
        <section class="about-in">
            <div class="container">
                
                <div class="about-text">
                   
                    <div class="col-lg-12 col-md-12 col-sm-12 title">
                        <h2 class="m-b-20">{{BannerSection.Privacy_Policy_Label}}</h2>
                        <div class="title-pattern">
                            <img src="images/title-patten.png" alt="pattern">
                        </div>
                        <p v-html="privacySection.Privacy_Policy_Description"></p>

                    </div>
                </div>
            </div>
        </section>


    </div>


    <!-- Footer -->
    <footer>
        <footeritem></footeritem>
    </footer>

    <script src="/assets/js/vue.min.js?v=202002060000"></script>
    <script src="/assets/js/vue-i18n.js?v=201912240000"></script>
    <script src="/assets/js/axios.min.js?v=201912240000"></script>
    <script src="/Login/Lisamin/js/jquery.cookie.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery3-2-1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>


    <script src="js/vue-loading-overlay@3.min.js"></script>
    <script>
        Vue.use(VueLoading);
        Vue.component('loading', VueLoading)
    </script>
    <script src="/assets/plugins/moment/moment.min.js?v=201907220000"></script>
    <script src="/assets/plugins/alertifyJs/alertify.min.js?v=201905200000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202008060000"></script>
    <script src="/CommonFuntions/CommonFunctions.js?v=202008240000"></script>
    <script src="/CommonFuntions/ExtentionMethods.js?v=201905200000"></script>
    <script src="/Login/LoginComponents/js/login.js?v=202007160000"></script>
    <script src="master/master.js"></script>
    <script src="serviceJs/privacy-policy.js"></script>

</body>

</html>