<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title> Terms And Conditions</title>
    <link rel="icon" href="images/favicon.ico" type="icon" />
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Main Custom CSS -->
    <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="css/media.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/font-awesome/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/plugins/alertifyJs/default.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/alertifyJs/alertify.min.css" rel="stylesheet" type="text/css" />
    <link href="css/vue-loading.css" rel="stylesheet" type="text/css">
    <style>
        [v-cloak] {
            display: none;
        }

        .alertify .ajs-header {
            background-color: #11609c !important;
        }

        .alertify .ajs-button {
            background-color: #11609c !important;
        }

        .alertify .ajs-button:hover {
            background: #94c11f !important;
            color: #3b3b3b !important;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
        }
    </style>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>

<body>

    <!--Header -->
    <header>
        <headeritem></headeritem>
    </header>
    <div id="termsconditions" v-cloak>
        <!-- banner-->
        <div class="vld-parent">
            <loading :active.sync="isLoading" :can-cancel="true" :is-full-page="fullPage"></loading>
        </div>
        <section class="inner-banner contact-banner"
            :style="'background:url('+bannerSection.Image_1920x289px+') no-repeat;'">
            <div class="container relative">
                <h1>{{bannerSection.Title}}
                </h1>
                <div class="bradcomes">
                    <ul>
                        <li><a href="index.html">{{bannerSection.Home_Label}}</a></li> /
                        <li>{{bannerSection.Terms_Label}}</li>
                    </ul>
                </div>

        </section>
        <div class="container">


            <div class="about-in">
                <div class="container">

                    <div class="about-text">
                        <h2>{{bannerSection.Terms_Label}}</h2>
                        <img src="images/title-patten.png" alt="pattern">
                        <p v-html="termsConditionsSection.Terms_Description"></p>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!--Footer-->
        <footer>
            <footeritem></footeritem>
        </footer>
        <!-- Hotels-->


        <a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a>
        <script src="/assets/js/vue.min.js?v=202002060000"></script>
        <script src="/assets/js/vue-i18n.js?v=201912240000"></script>
        <script src="/assets/js/axios.min.js?v=201912240000"></script>
        <script src="js/custom.js"></script>
        <script src="js/jquery.min.js"></script>
        <script src="js/jquery3-2-1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>


        <script src="js/vue-loading-overlay@3.min.js"></script>
        <script>
            Vue.use(VueLoading);
            Vue.component('loading', VueLoading)
        </script>
        <script src="/assets/plugins/moment/moment.min.js?v=201907220000"></script>
        <script src="/assets/plugins/alertifyJs/alertify.min.js?v=201905200000"></script>
        <script src="/Resources/HubUrls/HubServiceUrls.js?v=202008060000"></script>
        <script src="/CommonFuntions/CommonFunctions.js?v=202008240000"></script>
        <script src="/CommonFuntions/ExtentionMethods.js?v=201905200000"></script>
        <script src="/Login/LoginComponents/js/login.js?v=202007160000"></script>


        <script src="master/master.js"></script>
        <script src="serviceJs/terms-and-conditions.js"></script>

</body>

</html>