<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Umair Air Travel And Tours- About Us</title>
  <link rel="shortcut icon" href="website-informations/favicon/favi.png" type="image/png">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link href="css/media.css" rel="stylesheet" type="text/css">
  <link href="/assets/plugins/alertifyJs/alertify.min.css?v=201909230000" rel="stylesheet" />
  <link href="/assets/plugins/alertifyJs/alertify.min.css?v=201909230000" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap"
    rel="stylesheet">
  <link href="/assets/plugins/font-awesome/font-awesome.min.css?v=201905200000" rel="stylesheet">
  <style>
    [v-cloak] {
      display: none;
    }
    .alertify .ajs-header {
      background-color: #0180cf !important;
    }

    .alertify .ajs-button {
      background-color: #0180cf !important;
      color: #fff;
    }
  </style>
</head>

<body>
  <header>
    <headeritem></headeritem>
  </header>
  <div id="about" v-cloak>
    <section class="inner_banner" :style="'background:url('+BannerSection.Banner_Image_1890_x_207px+');'">
      <div class="banner_text">
        <h1><span>{{BannerSection.Title_1}}</span><br>{{BannerSection.Title_2}}
        </h1>
      </div>
    </section>
    <div class="breadcrumbs1_wrapper">
      <div class="container">
        <div class="breadcrumbs1"><a
            href="index.html">{{BannerSection.Breadcrumb_1}}</a><span>/</span>{{BannerSection.Breadcrumb_2}}
        </div>
      </div>
    </div>
    <section id="about-us">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 title text-center">
            <h2>{{AboutUsSection.Title_1}}<span> {{AboutUsSection.Title_2}}</span></h2>
            <div v-html="AboutUsSection.Content"></div>
          </div>
        </div>
      </div>
    </section>
    <section id="abut-inr">
      <div class="container">
        <div class="row flex">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="inner">
              <div class="round-shape"> <svg x="0px" y="0px" width="70px" height="70px" viewBox="0 0 70 70"
                  enable-background="new 0 0 70 70" xml:space="preserve">
                  <path d="M40.628,17.949c0-0.594-0.48-1.075-1.074-1.075H28.166c-0.594,0-1.075,0.481-1.075,1.075v6.834
	c0,0.594,0.481,1.075,1.075,1.075h10.313v3.037L28.166,39.209l-2.656-2.656c-0.226-0.226-0.541-0.339-0.856-0.311
	c-0.317,0.027-0.605,0.195-0.787,0.457L13.619,51.438c-0.229,0.328-0.255,0.757-0.07,1.111c0.185,0.355,0.552,0.577,0.952,0.577
	h40.994c0.002,0,0.003,0,0.004,0c0.594,0,1.074-0.481,1.074-1.075c0-0.256-0.089-0.49-0.238-0.674L40.628,29V17.949z M29.241,23.708
	v-4.685h9.238v4.685H29.241z M16.558,50.977l8.34-11.995l2.507,2.509c0.202,0.201,0.475,0.314,0.76,0.314s0.559-0.113,0.76-0.314
	l10.483-10.486l14.019,19.973H16.558L16.558,50.977z" />
                </svg> </div>
              <h3>{{AboutUsSection.Our_Mission_Label}}</h3>
              <div v-html="AboutUsSection.Our_Mission_Content"></div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="inner">
              <div class="round-shape"> <svg x="0px" y="0px" width="70px" height="70px" viewBox="0 0 70 70"
                  enable-background="new 0 0 70 70" xml:space="preserve">
                  <g>
                    <g>
                      <path d="M57.664,34.147c-0.103-0.119-2.574-2.958-6.577-5.822C45.73,24.494,40.168,22.469,35,22.469
			c-5.169,0-10.732,2.025-16.087,5.856c-4.003,2.864-6.475,5.703-6.578,5.822c-0.423,0.489-0.423,1.216,0,1.705
			c0.103,0.119,2.574,2.957,6.578,5.822c5.355,3.831,10.918,5.856,16.087,5.856c5.168,0,10.73-2.025,16.087-5.856
			c4.003-2.865,6.475-5.703,6.577-5.822C58.088,35.363,58.088,34.637,57.664,34.147z M49.524,39.592
			c-3.413,2.434-8.705,5.335-14.524,5.335c-5.82,0-11.112-2.901-14.525-5.335c-2.49-1.775-4.376-3.57-5.375-4.592
			c1-1.021,2.885-2.816,5.375-4.592c3.414-2.434,8.705-5.335,14.525-5.335c5.819,0,11.111,2.901,14.524,5.335
			c2.49,1.775,4.376,3.571,5.375,4.592C53.9,36.021,52.015,37.816,49.524,39.592z M41.759,33.698c-0.718,0-1.301,0.583-1.301,1.302
			c0,3.016-2.448,5.47-5.458,5.47c-3.01,0-5.459-2.454-5.459-5.47S31.99,29.53,35,29.53c1.323,0,2.6,0.48,3.595,1.354
			c0.54,0.474,1.361,0.42,1.834-0.121s0.419-1.364-0.121-1.838c-1.469-1.289-3.354-1.999-5.308-1.999
			c-4.444,0-8.059,3.622-8.059,8.074s3.615,8.074,8.059,8.074c4.443,0,8.058-3.622,8.058-8.074
			C43.058,34.281,42.476,33.698,41.759,33.698z M32.4,35c0,1.436,1.166,2.604,2.6,2.604c1.433,0,2.599-1.169,2.599-2.604
			c0-1.437-1.166-2.604-2.599-2.604C33.566,32.396,32.4,33.563,32.4,35z" />
                    </g>
                  </g>
                </svg> </div>
              <h3>{{AboutUsSection.Our_Vision_Label}}</h3>
              <div v-html="AboutUsSection.Our_Vision_Content"></div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="inner">
              <div class="round-shape"> <svg x="0px" y="0px" width="70px" height="70px" viewBox="0 0 70 70"
                  enable-background="new 0 0 70 70" xml:space="preserve">
                  <path d="M48.748,43.682v-8.337H35.724v-6.133h8.682V17.635H25.594v11.577h8.683v6.133H21.253v8.337h-3.618v8.684h8.683v-8.684H22.7
	v-6.891h11.577v6.891h-3.618v8.684h8.683v-8.684h-3.618v-6.891h11.577v6.891h-3.617v8.684h8.682v-8.684H48.748z M24.871,45.129
	v5.789h-5.788v-5.789H24.871z M37.895,45.129v5.789h-5.789v-5.789H37.895z M27.042,27.765v-8.683h15.917v8.683H27.042z
	 M50.918,50.918h-5.789v-5.789h5.789V50.918L50.918,50.918z" />
                </svg> </div>
              <h3>{{AboutUsSection.Principle_Label}}</h3>
              <div v-html="AboutUsSection.Principle_Content"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <footer>
    <footeritem></footeritem>
  </footer>


  <script src="/assets/js/vue.min.js?v=202002060000"></script>
  <script src="/assets/js/vue-i18n.js?v=201912240000"></script>
  <script src="/assets/js/axios.min.js?v=201912240000"></script>
  <script src="js/jquery.min.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js?v=1034"></script> -->
  <script src="/assets/plugins/moment/moment.min.js?v=201907220000"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/alertifyjs@1.11.1/build/alertify.min.js?v=1034"></script> -->
  <script src="/assets/plugins/alertifyJs/alertify.min.js?v=201905200000"></script>
  <script src="/assets/js/bootstrap.min.js?v=201912240000"></script>
  <script src="/Resources/HubUrls/HubServiceUrls.js?v=202008060000"></script>
  <script src="/CommonFuntions/CommonFunctions.js?v=202008240000"></script>
  <script src="/CommonFuntions/ExtentionMethods.js?v=201905200000"></script>
  <script src="/Login/LoginComponents/js/login.js?v=202007160000"></script>

  <script src="master/master.js"></script>
  <script src="servicejs/about-us.js"></script>
</body>

</html>