<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Umair Air Travel And Tours</title>
  <link rel="shortcut icon" href="website-informations/favicon/favi.png" type="image/png">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link href="css/media.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap"
    rel="stylesheet">
  <link href="/assets/plugins/alertifyJs/default.min.css?v=201905200000" rel="stylesheet" />
  <link href="/assets/plugins/alertifyJs/alertify.min.css?v=201909230000" rel="stylesheet" />
  <link href="/assets/plugins/font-awesome/font-awesome.min.css?v=201905200000" rel="stylesheet">
  <style>
    [v-cloak] {
      display: none;
    }

    .alertify .ajs-header {
      background-color: #0180cf !important;
    }

    .alertify .ajs-button {
      background-color: #0180cf !important;
      color: #fff;
    }
  </style>
</head>

<body>
  <header>
    <headeritem></headeritem>
  </header>
  <div id="homepage" v-cloak>
    <section class="main_banner p-0" :style="{ background: 'url(' +bannerImage+ ')'}">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-8 col-sm-6 hidden-xs" v-html="homeDetails.Banner_Title">
           
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="login_div">
              <h2> {{loginLabels.Title}}</h2>
              <div class="login-form">
                <form action="javascript:sendLogin()">
                  <div class="sec">
                    <label>{{loginLabels.Agency_Code_Label}}</label>
                    <input name="agnecy-code" class="form-control" id="txtAgencyCode" type="text"
                      :placeholder="loginLabels.Agency_Code_Place_Holder">
                  </div>
                  <div class="sec">
                    <label>{{loginLabels.Username_Label}}</label>
                    <input name="username" class="form-control" id="txtUname" type="text" :placeholder="loginLabels.User_Name_Place_Holder">
                  </div>
                  <div class="sec">
                    <label>{{loginLabels.Password_Label}}</label>
                    <input name="password" class="form-control" id="txtPwd" type="password"
                      :placeholder="loginLabels.Password_Place_Holder">
                  </div>
                  <div class="sec">
                    <div class="check_box">
                      <input type="checkbox" name="Checkbox" value="lsRememberMe" id="rememberMe">
                      <label for="rememberMe"></label>{{loginLabels.Remember_Me}}
                  </div>
                 
                  </div>
                  <div class="sec text-center">
                    <a href="#" class="forgot">{{loginLabels.Forgot_Password_Title}}</a>
                  </div>
                  <div class="sec text-center">
                    <button class="login_btn">{{loginLabels.Login_Button_Name}}</button>
                    <div id="loginLoader" class="btn_load" style="display:none;"><i class="fa fa-spinner fa-spin"></i>
                    </div>
                  </div>
                </form>
              </div>
              <div class="forgot_form">
                <form action="javascript:forgotPassword()">
                  <div class="sec">
                    <label>{{loginLabels.Agency_Code_Label}}</label>
                    <input name="agnecy-code" type="text" class="form-control" id="txtAgency" :placeholder="loginLabels.Agency_Code_Place_Holder">
                  </div>
                  <div class="sec">
                    <label>{{loginLabels.Email_Label}}</label>
                    <input name="agnecy-Email" class="form-control" id="txtEmail" type="text" :placeholder="loginLabels.Email_Placeholder">
                  </div>
                  <div class="sec text-center">
                    <button class="login_btn" id="btnForgot">{{loginLabels.Sent_Button}}</button>
                    <div id="loderForgot" class="btn_load" style="display:none;"><i class="fa fa-spinner fa-spin"></i>
                    </div>
                  </div>
                  <div class="sec text-center">
                    <a class="forgot back"><i class="fa fa-arrow-left" aria-hidden="true"></i>{{loginLabels.Back_To_login_Label}}</a>
                  </div>
                </form>

              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
  </div>
  <footer>
    <footeritem></footeritem>
  </footer>


  <script src="/assets/js/vue.min.js?v=202002060000"></script>
  <script src="/assets/js/vue-i18n.js?v=201912240000"></script>
  <script src="/assets/js/axios.min.js?v=201912240000"></script>
  <script src="js/jquery.min.js"></script>
  <script src="/assets/js/modernizr-2.7.2.js?v=202009070000"></script>
  <script src="/assets/plugins/moment/moment.min.js?v=201907220000"></script>
  <script src="/assets/js/jquery.cookie.js"></script>
  <script src="/assets/plugins/alertifyJs/alertify.min.js?v=201905200000"></script>
  <script src="/assets/js/bootstrap.min.js?v=201912240000"></script>
  <script src="website-informations/agencyInformations/AgencyInformation.js?v=1034"></script>
  <script src="/Resources/HubUrls/HubServiceUrls.js?v=202008060000"></script>
  <script src="/CommonFuntions/CommonFunctions.js?v=202008240000"></script>
  <script src="/CommonFuntions/ExtentionMethods.js?v=201905200000"></script>
  <script src="/Login/LoginComponents/js/login.js?v=202007160000"></script>


  <script src="master/master.js"></script>
  <script src="master/index.js"></script>
  <script src="js/custom.js"></script>

</body>

</html>