@media screen and (max-width: 500px) {

}
@media screen and (max-width: 767px) {
section {
    padding: 50px 0;
}
.contact-info div {
    float: right;
    color: #fff;
	margin-left:18px;
}
.contact-info div span, .contact-info div a {
    font-size: 12px;
}
.navbar-toggle {
    background-color: #99373c;
    border: none;
	border-radius: 0;
	margin: 10px 0 10px;
	padding: 15px 12px;
}
.navbar-default .navbar-nav > li::after {
	display: none;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #000;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
	float: none;
	margin-left: 0;
	background-color: #fff;
}
.navbar-nav {
    margin: 0;
    padding: 0;
}
.nav > li {
    padding: 10px 15px;
    color: #fff;
}
.navbar-default .navbar-nav > li > a {
    color: #000;
}
.nav > li {
    padding: 15px 0;
	border-bottom:1px solid #ddd;
}
.nav > li:last-child {
	border-bottom:none;
}
.nav > li > a, .navbar-default .navbar-nav > li > a {
    padding: 0;
	border-bottom: none;
	font-size: 20px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #99373c;
	border-bottom: none;
	background-color: transparent;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #99373c;
	border-bottom: none;
	background-color: transparent;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    top: -70px;
    width: 122px;
}
.login_div {
	margin: 50px auto 0;
	top: 80px;
	border-radius:0;
    left: 0;
	width:90%;
}
.login-form .login_btn {
    display: block;
}
.login-form {
    padding: 0 30px 40px;
}
footer {
    margin: 0;
}
.ftr-cntc h3, .quick-links h3, .newsletter h3 {
    font-size: 25px;
}

.newsletter h2 {
    font-size: 22px;
    padding: 0 0 0 9px;
}
.newsletter button {
	font-size: 20px;
	left: 268px;
}
.newsletter {
    padding: 15px 0;
    text-align: left;
}
.news-sub input[type="text"] {
    width: 345px;
}
footer .link ul li a {
    font-size: 15px;
}
footer .link ul li {
    padding: 0 25px;
    font-size: 15px;
}
footer .get-in-touch div {
    float: none;
    padding: 25px 15px;
    text-align: center;
}
footer .bdr-rght {
    border-right: none;
	border-bottom: 1px solid #fff;
}
.powered {
    width: 100%;
    float: left;
    margin: 10px 0 0;
}
footer .copyright {
    text-align: center;
}
footer .get-in-touch div i {
    float: none;
}
.inner_banner .banner_text h1 {
    line-height: 60px;
    padding-top: 50px;
	font-size:47px;
}
.flex {
	display: -webkit-block;
	display: block;
}
#abut-inr .inner, #contact-us .inner {
    margin: 15px 0;
}
}
@media (min-width: 768px) and (max-width: 990px) {
.navbar-nav {
    padding: 0;
}
.main_banner h1 {
    font-size: 40px;
    line-height: 45px;
    padding-top: 70%;
}
footer .get-in-touch div {
    padding: 25px 12px;
}
footer .get-in-touch div i {
    font-size: 18px;
}
footer .get-in-touch div {
	font-size: 15px;
}
footer .get-in-touch div a {
    font-size: 15px;
}
.news-sub {
    width: 400px;
}
.newsletter h2 {
    font-size: 22px;
}
.newsletter button {
	font-size: 20px;
	padding: 11px 30px 11px;
}


}
@media (min-width: 991px) and (max-width: 1024px) {

}
@media (min-width: 1025px) and (max-width: 1400px) {

}
