@media screen and (max-width: 480px) {
    .back-top {
        bottom: 103px;
    }
}

@media screen and (max-width: 767px) {
    .navbar-default::before {
        display: none;
    }

    .navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
        width: 100px;
    }

    .navbar-brand > img {
        width: 100%;
    }
    /*=====  Navbar CSS BOF  ======*/
    .navbar-toggle {
        background: #1190d6;
        border: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        border-radius: 0;
        margin: 20px 0;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background-color: #d5252a;
    }

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        margin-top: 0;
        position: absolute;
        right: 15px;
        width: 50%;
        z-index: 999;
        padding: 0;
        background: #fff;
        border: none;
        top: -19px;
    }

    .navbar-nav {
        margin: 0;
    }

    .nav > li {
        padding: 0;
        text-align: left;
        width: 100%;
        border-bottom: 1px solid #ddd;
    }

        .nav > li:last-child {
            border-bottom: none;
        }

    .navbar-default .navbar-nav > li > a {
        color: #373737;
        font-size: 15px;
        font-weight: 300;
        text-transform: uppercase;
        padding: 10px;
        position: relative;
    }

        .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
            background: #1190d6;
            color: #fff;
            text-decoration: none;
        }

        .navbar-default .navbar-nav > li > a.active {
            background: #1190d6;
            color: #fff;
            text-decoration: none;
        }

        .navbar-default .navbar-nav > li > a::before {
            display: none;
        }

        .navbar-default .navbar-nav > li > a::after {
            display: none;
        }

    .navbar-right .dropdown-menu {
        left: 0px;
    }

    .main_banner {
        min-height: 800px;
    }

    footer .about {
        text-align: left;
        margin-bottom: 20px;
    }

        footer .about .ftr-logo {
            margin: 0;
            text-align: left;
        }

        footer .about p {
            text-align: left;
        }

    footer .link, footer .contact {
        min-height: auto;
    }

    footer .copyright {
        text-align: center;
    }

    .bdr-left {
        border-left: none;
    }

    footer .link h3, footer .contact h3 {
        margin: 20px 0 20px;
    }

    .title h2 {
        font-size: 28px;
    }
}

@media (min-width: 768px) and (max-width: 990px) {
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        margin-left: 360px;
    }

    .login-form {
        padding: 10px 25px 30px;
    }

    .main_banner h1 {
        font-size: 35px;
        margin-top: 78%;
    }

        .main_banner h1 span {
            font-size: 30px;
        }

    footer .inner {
        margin-top: 0;
    }
}

@media (min-width: 991px) and (max-width: 1024px) {


    .main_banner h1 {
        font-size: 40px;
        margin-top: 58%;
    }

        .main_banner h1 span {
            font-size: 35px;
        }

    footer .inner {
        margin-top: 0;
    }
}

@media (min-width: 1025px) and (max-width: 1400px) {

    footer .inner {
        margin-top: 0;
    }
}
