@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,500i,600,700,900');

.pushmenu { /*this is the nav*/
    background: #3d3d3d;
    text-align: center;
    width: 235px;
    height: 100%;
    top: 0;
    z-index: 1000;
    position: fixed;
}

    .pushmenu h3 {
        color: #f1f1f1;
        font-size: 1.3em;
        font-weight: 400;
        padding: 20.2px 25px;
        margin: 0;
        background: #FFF;
    }

.links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    float: left;
}

    .links li {
        margin-top: 0;
        float: left;
        width: 100%;
    }

        .links li a {
            position: relative;
            display: block; /* drops the nav vertically*/
            color: #f1f1f1;
            font-size: 1.3em;
            font-weight: 400;
            text-decoration: none;
            padding: 8px 14px;
            font-family: 'Raleway', sans-serif;
            font-size: 14px;
            font-weight: 400;
            text-transform: uppercase;
        }

            .links li a:after {
                content: '';
                display: block;
                position: absolute;
                left: 43px;
                bottom: -5px;
                width: 0;
                height: 4px;
                background-color: #f1f1f1;
                -webkit-transition: width 0.3s ease;
                -moz-transition: width 0.3s ease;
                transition: width 0.3s ease;
            }

            .links li a:hover:after {
                width: 70%;
            }

            .links li a:active {
                color: #dbdbdb;
            }

.pushmenu-left {
    left: -235px;
}

    .pushmenu-left.pushmenu-open {
        left: 0;
    }

.pushmenu-push {
    overflow-x: hidden;
    position: relative;
    left: 0;
}

.pushmenu-push-toright {
    left: 235px;
}

/*Transition*/

.pushmenu, .pushmenu-push {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#nav_list {
    background: url(../images/icon_nav.png) no-repeat left top;
    cursor: pointer;
    height: 27px;
    width: 33px;
    text-indent: -99999em;
    position: relative;
    z-index: 9;
    top: 25px;
    float: left;
}

nav-list.active {
    background-position: -331px top;
}

.buttonset {
    background: #00A287;
    height: 16px;
    padding: 10px 20px 20px;
}

section.content {
    padding: 10px 20px;
}
