﻿<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<!--<![endif]-->
<!--[if lt IE 7]> <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7 ie6" lang="es"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie10 lt-ie9 lt-ie8 ie7" lang="es"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie10 lt-ie9 ie8" lang="es"> <![endif]-->
<!--[if IE 9]>    <html class="no-js lt-ie10 ie9" lang="es"> <![endif]-->
<!--[if gt IE 9]><!-->
<html>

<head>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js?v=1034"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js?v=1034"></script>
    <![endif]-->
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>About-Us</title>
    <link rel="shortcut icon" href="WebsiteInformations/Favicon/favi.png">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css?v=1034">
    <link href="assets/plugins/alertifyJs/alertify.min.css?v=1034" rel="stylesheet" />
    <!--Bootstrap Start-->
    <link rel="stylesheet" href="assets/plugins/bootstrap/bootstrap.min.css?v=1034">
    <!--Bootstrap End-->
    <link href="assets/css/responsive.css" rel="stylesheet">
    <link href="assets/css/menu.css?v=1034" rel="stylesheet">
    <!--Owl Carousel Start-->
    <link href="assets/plugins/carouselowl/owl.theme.default.min.css?v=1034" rel="stylesheet">
    <link href="assets/plugins/carouselowl/owl.theme.default.min.css?v=1034" rel="stylesheet">
    <!--Owl Carousel Start-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css3.5.2/animate.min.css?v=1034" rel="stylesheet">
    <link href="assets/plugins/alertifyJs/default.min.css?v=1034" rel="stylesheet" />
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body class="pushmenu-push">
    <nav class="pushmenu pushmenu-left">
        <h3><img src="website-informations/logo/logo1.png" alt="logo"></h3>
        <ul class="links">
            <li class="active"><a href="index.html">Home</a></li>
            <li><a href="aboutus.html">About Us</a></li>
            <li><a href="contact_us.html">Contact Us</a></li>
            <li><a href="index.html">Login</a></li>
        </ul>
    </nav>
    <section class="wrapper ">
        <!--Header-->
        <div class="header">
            <div class="container">
                <div id="nav_list">MENU</div>
                <div class="logo_area"><a href="index.html"><img src="website-informations/logo/logo1.png"
                            alt="logo"></a></div>
                <div class="nav_area">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li class="active"><a href="aboutus.html">About Us</a></li>
                        <li><a href="contact_us.html">Contact Us</a></li>
                        <li><a href="index.html">Login</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--Header close-->
        <!--Banner area-->
        <div id="aboutuspage" v-cloak>
            <div class="innerpages_banner">
                <img :src="aboutus.slider" alt="Twofour54 media & entertainment hub">
            </div>
            <!--Banner area close-->
            <div class="inner_page_content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1>{{aboutContent.title}}</h1>
                            <h2>{{aboutContent.mainTitle}}</h2>
                            <p v-html = "aboutContent.About_Us_Content"></p>
                        </div>
                    </div>
                </div>
            </div>
        
        <!--Footer Area-->
        <div class="footer_area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12 footer_address">
                        <div class="footer_address01">
                            <img src="website-informations/logo/logo1.png" alt="logo" />
                        </div>
                        <p>Advanced Travel and Tourism is a sole proprietorship owned by a distinguished U.A.E
                            –National, H.E.ABDULLA AL MASAOOD.</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 footer_links">
                        <h3>Site Links</h3>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="aboutus.html">About Us</a></li>
                            <li><a href="contact_us.html">Contact Us</a></li>
                            <li><a href="" data-toggle="modal" data-target="#terms">Terms & Conditions</a></li>
                            <li><a href="" data-toggle="modal" data-target="#privacy">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 get_touch">
                        <h3>Get In Touch With Us</h3>
                        <p>
                            Muroor Road, next Bldg. of Lifeline Hospital
                            P.O. Box: 5561, Abu Dhabi, UAE
                        </p>
                        <ul>
                            <li class="call_area"><a href="tel:+971 2 6347900">+971 2 6347900</a></li>
                            <li class="email_area"><a
                                    href="mailto:info@advancedtravels.net">info@advancedtravels.net</a></li>
                            <li class="fax_area"><a href="">+971 2 6325334</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 newsletter">
                        <!--<h3>Join The Newsletter</h3>
                        <p>To receive our best deals</p>
                        <div class="newsletterArea">
                            <input type="text" class="nwslter" placeholder="Email*">
                            <input type="submit" class="newsletter_btn" value="">
                        </div>-->
                        <div class="follow_us">
                            <h4>Follow Us</h4>
                            <a href="" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="" title="Linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            <a href="" title="Google plus"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="" title="Youtube"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                            <a href="" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 copyright01">
                        <p>© 2020. Advanced Travel & Tourism - All Rights Reserved</p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 powered">
                        <p>Powered by : <a href="http://oneviewit.com/" target="_blank"><img
                                    src="assets/images/powered.png" alt="powered"></a></p>
                    </div>
                </div>
            </div>
        </div>
        <!--Footer Area close-->
        <!--Terms and conditions popup-->
        <div id="terms" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{termsConditions.header}}<br /><span
                                style="font-size: 11px;color: #bfbfbf;">Last updated on :{{dateFormat(termsConditions.date) }}</span></h4>
                    </div>
                    <div class="modal-body">
                        <div v-for = "terms in termsConditions.contentList">
                            <h3>{{terms.Policy_Header}}</h3>
                            <p>{{terms.Policy_Contents}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Terms and conditions popup close-->
        <!--Privacy policy popup-->
        <div id="privacy" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{policy.header}} <br /><span
                                style="font-size: 11px;color: #bfbfbf;">Effective date:
                                {{dateFormat(policy.date) }}</span></h4>
                    </div>
                    <div class="modal-body">
                        <p> {{privacyContent.Content}}</p>
                        <div  v-for="content in privacyContent.PolicyList">
                            <h3>{{content.Policy_Header}}</h3>
                            <p>{{content.Policy_Contents}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!--Privacy policy popup close-->

    </section>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/assets/js/vue-i18n.js?v=201912240000"></script>
    <script src="/assets/js/axios.min.js?v=201912240000"></script>
    <script src="/assets/js/jquery-3.3.1.min.js?v=201905200000"></script>
    <script src="assets/plugins/bootstrap/bootstrap.min.js?v=1034"></script>
    <script src="assets/plugins/carouselowl/owl.carousel.min.js?v=1034"></script>
    <script src="assets/js/custom.js?v=201905200000"></script>
    <script src="assets/plugins/alertifyJs/alertify.min.js?v=1034"></script>
    <script src="assets/js/wow.min.js?v=1034"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js?v=1034"></script>
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.1/build/alertify.min.js?v=1035"></script>
    <script src="website-informations/agencyInformations/AgencyInformation.js?v=1034"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202008060000"></script>
    <script src="/CommonFuntions/CommonFunctions.js?v=202008240000"></script>
    <script src="/CommonFuntions/ExtentionMethods.js?v=201905200000"></script>
    <script src="Servicejs/aboutus.js"></script>
</body>

</html>