﻿<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<!--<![endif]-->
<!--[if lt IE 7]> <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7 ie6" lang="es"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie10 lt-ie9 lt-ie8 ie7" lang="es"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie10 lt-ie9 ie8" lang="es"> <![endif]-->
<!--[if IE 9]>    <html class="no-js lt-ie10 ie9" lang="es"> <![endif]-->
<!--[if gt IE 9]><!-->
<html>

<head>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js?v=1034"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js?v=1034"></script>
    <![endif]-->
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>B2B Portal | Login</title>
    <link rel="shortcut icon" href="website-informations/favicon/favi.png">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css?v=1034">
    <link href="assets/plugins/alertifyJs/alertify.min.css?v=1034" rel="stylesheet" />
    <!--Bootstrap Start-->
    <link rel="stylesheet" href="assets/plugins/bootstrap/bootstrap.min.css?v=1034">
    <!--Bootstrap End-->
    <link href="assets/css/responsive.css" rel="stylesheet">
    <link href="assets/css/menu.css?v=1034" rel="stylesheet">
    <!--Owl Carousel Start-->
    <link href="assets/plugins/carouselowl/owl.carousel.min.css?v=1034" rel="stylesheet">
    <link href="assets/plugins/carouselowl/owl.theme.default.min.css?v=1034" rel="stylesheet">
    <!--Owl Carousel Start-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css?v=1034" rel="stylesheet">
    <link href="assets/plugins/alertifyJs/default.min.css?v=1034" rel="stylesheet" />
    <link href="/assets/css/others.css?v=201905200000" rel="stylesheet" />
    <style>
        [v-cloak] {
          display: none;
        }
      </style>
</head>

<body class="pushmenu-push">
   
    <nav class="pushmenu pushmenu-left">
        <h3><img src="website-informations/logo/logo.png" alt="logo"></h3>
        <ul class="links">
            <li class="active"><a href="index.html">Home</a></li>
            <li><a href="aboutus.html">About Us</a></li>
            <li><a href="contact_us.html">Contact Us</a></li>
            <li><a href="index.html">Login</a></li>
        </ul>
    </nav>
    <section class="wrapper v-cloak">
        <!--Header-->
        <div class="header">
            <div class="container">
                <div id="nav_list">MENU</div>
                <div class="logo_area"><a href="index.html"><img src="website-informations/logo/logo.png" alt="logo"></a></div>
                <div class="nav_area">
                    <ul>
                        <li class="active"><a href="index.html">Home</a></li>
                        <li><a href="aboutus.html">About Us</a></li>
                        <li><a href="contact_us.html">Contact Us</a></li>
                        <li><a href="index.html">Login</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--Header close-->
        <!--Banner area-->
     <div id="homepage" v-cloak>
        <div class="banner_area" :style="{ background: 'url(' +Pagecontent.Banner_Image+ ')'}">
            <div class="container">
                <div class="banner_area_left"></div>
                <div class="bannertitle">
                    <h3>{{Pagecontent.Banner_Title}}</h3>
                    <p>{{Pagecontent.Title_Description}}</p>
                </div>
                <div class="banner_form">
                    <h4>Agency Login</h4>
                    <div class="login_form">
                        <div class="usertxt">
                            <input type="text" id="txtAgencyCode" class="txtinput" placeholder="Agency Code">
                        </div>
                        <div class="usertxt">
                            <input type="text" id="txtUname" class="txtinput" placeholder="User Name">
                        </div>
                        <div class="usertxt01">
                            <input type="password" id="txtPwd" class="txtinput" placeholder="Password">
                        </div>
                        <div class="loginbtn">
                            <input type="submit" class="loginbtn01" onsubmit="sendLogin()" onclick="sendLogin()" value="LOGIN">
                            <div id="loginLoader" class="btn_load" style="display:none;"><i class="fa fa-spinner fa-spin"></i></div>
                        </div>
                        <div class="remember_area">
                            <a class="forgot_click">Forgot Password?</a>
                        </div>
                    </div>
                    <div class="forgot_form">
                        <div class="usertxt">
                            <input type="text" class="txtinput" id="txtAgency" placeholder="Agency Code">
                        </div>
                        <div class="usertxt">
                            <input type="text" class="txtinput" id="txtEmail" placeholder="Email ID">
                        </div>
                        <div class="loginbtn">
                            <input type="submit" id="btnForgot" class="loginbtn01" value="SEND" onclick="forgotPassword()">
                            <div id="loderForgot" class="btn_load" style="display:none"><i class="fa fa-spinner fa-spin"></i></div>
                        </div>
                        <a class="back"><i class="fa fa-arrow-left" aria-hidden="true"></i>Back To Login</a>
                    </div>
                </div>
            </div>
        </div>
        <!--Banner area close-->
        <!--Why book area-->
        <div class="whybookarea">
            <h2>{{Features.Title}}</h2>
            <div class="container">
                <ul>
                    <li class="twt" v-for="item in Features.Features_List">
                        <h3><img class="trs2" :src="item.Icon" alt="why book"></h3>
                        <h4>{{item.Title}}</h4>
                        <p>{{item.Description}}</p>
                    </li>
                    <!-- <li class="twt">
                        <h3><img class="trs2" src="assets/images/img02.png" alt="why book"></h3>
                        <h4>DESTINATIONS</h4>
                        <p>Leaders in national and international destinations. With direct contracting and the best
                            global suppliers.</p>
                    </li>
                    <li class="twt">
                        <h3><img class="trs2" src="assets/images/img03.png" alt="why book"></h3>
                        <h4>GUARANTEE</h4>
                        <p>Experts in tourism, we manage more than 3,2 million passengers per year.</p>
                    </li>
                    <li class="twt">
                        <h3><img class="trs2" src="assets/images/img04.png" alt="why book"></h3>
                        <h4>TECHNOLOGY</h4>
                        <p>100% online (bookings, amendments and cancellations). We have the most intuitive, latest and
                            easiest online bookings platform in the market.</p>
                    </li>
                    <li class="twt">
                        <h3><img class="trs2" src="assets/images/img05.png" alt="why book"></h3>
                        <h4>DISTRIBUTION</h4>
                        <p>Exclusive and very competitive hotel rates thanks to the bargaining power with our suppliers.
                        </p>
                    </li> -->
                </ul>
                <div class="viewmore">
                    <div class="more01"> <a href="">View More</a> </div>
                </div>
            </div>
        </div>
        <!--Why book area close-->
        <!--logo-->
        <div class="partner-logo">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-6 logop-img" v-for="logo in Logos.Partners_Icons">
                        <img :src="logo.Icon" alt="logo">
                    </div>
                    <!-- <div class="col-md-3 col-sm-3 col-xs-6 logop-img">
                        <img src="assets/images/ams-logo.png" alt="logo">
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6 logop-img">
                        <img src="assets/images/iso-logo.png" alt="logo">
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6 logop-img">
                        <img src="assets/images/iata-logo.png" alt="logo">
                    </div> -->
                </div>
            </div>
        </div>

        <!--logo close-->
        <!--Footer Area-->
        <div class="footer_area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12 footer_address">
                        <div class="footer_address01">
                            <img src="website-informations/logo/logo.png" alt="logo">
                        </div>
                        <p>The Company was established in the year 1993, with a strong intention of providing
                            professional and quality service to the travel community of Abu Dhabi and Al Ain.</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 footer_links">
                        <h3>Site Links</h3>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="aboutus.html">About Us</a></li>
                            <li><a href="contact_us.html">Contact Us</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#terms">Terms & Conditions</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#privacy">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 get_touch">
                        <h3>Get In Touch With Us</h3>
                        <p>Muroor Road, next Bldg. of Lifeline Hospital P.O. Box: 5561, Abu Dhabi, UAE</p>
                        <ul>
                            <li class="call_area"><a href="tel:+971 2 6347900">+971 2 6347900</a></li>
                            <li class="email_area"><a href="mailto:info@advancedtravels.net">info@advancedtravels.net</a></li>
                            <li class="fax_area"><a href="">+971 2 6325334</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 newsletter">
                        <!--<h3>Join The Newsletter</h3>
                        <p>To receive our best deals</p>
                        <div class="newsletterArea">
                            <input type="text" class="nwslter" placeholder="Email*">
                            <input type="submit" class="newsletter_btn" value="">
                        </div>-->
                        <div class="follow_us">
                            <h4>Follow Us</h4>
                            <a href="" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="" title="Linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            <a href="" title="Google plus"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="" title="Youtube"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                            <a href="" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 copyright01">
                        <p>© 2020. Advanced Travels - All Rights Reserved.</p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 powered">
                        <p>Powered by : <a href="http://oneviewit.com/" target="_blank"><img src="assets/images/powered.png" alt="powered"></a></p>
                    </div>
                </div>
            </div>
        </div>
        <!--Footer Area close-->
        <!--Terms and conditions popup-->
        <div id="terms" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{termsConditions.header}}<br /><span
                                style="font-size: 11px;color: #bfbfbf;">Last updated on :{{dateFormat(termsConditions.date) }}</span></h4>
                    </div>
                    <div class="modal-body">
                        <div v-for = "terms in termsConditions.contentList">
                            <h3>{{terms.Policy_Header}}</h3>
                            <p>{{terms.Policy_Contents}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Terms and conditions popup close-->
        <!--Privacy policy popup-->
        <div id="privacy" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{policy.header}} <br /><span
                                style="font-size: 11px;color: #bfbfbf;">Effective date:
                                {{dateFormat(policy.date) }}</span></h4>
                    </div>
                    <div class="modal-body">
                        <p> {{privacyContent.Content}}</p>
                        <div  v-for="content in privacyContent.PolicyList">
                            <h3>{{content.Policy_Header}}</h3>
                            <p>{{content.Policy_Contents}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!--Privacy policy popup close-->
    </section>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="/assets/js/vue-i18n.js?v=201912240000"></script>
  <script src="/assets/js/axios.min.js?v=201912240000"></script>
    <script src="/assets/js/jquery-3.3.1.min.js?v=201905200000"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js?v=1034"></script>
    <script src="assets/js/menu.js?v=1034"></script>
    <script src="assets/plugins/moment/moment.min.js?v=1034"></script>
    <script src="assets/js/jquery.cookie.js?v=1034"></script>
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.1/build/alertify.min.js?v=1035"></script>
    <script src="assets/plugins/bootstrap/bootstrap.min.js?v=1034"></script>
    <script src="assets/plugins/carouselowl/owl.carousel.min.js?v=1034"></script>
    <script src="assets/js/custom.js?v=201905200000"></script>
    <script src="assets/js/wow.min.js?v=1034"></script>
    <script src="website-informations/agencyInformations/AgencyInformation.js?v=1034"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202008060000"></script>
    <script src="/CommonFuntions/CommonFunctions.js?v=202008240000"></script>
    <script src="/CommonFuntions/ExtentionMethods.js?v=201905200000"></script>
    <script src="/Login/LoginComponents/js/login.js?v=202007160000"></script>
    <script src="Servicejs/index.js"></script>

</body>

</html>