 @media(max-width:1200px) {
.contact-info {
	width: 74%;
	padding-left: 30px;
}
.social-media {
	width: 26%;
}
.navbar-default .navbar-collapse {
	margin-left: 16px;
}
.navbar-default {
	width: 80%;
}
.R-btn {
	width: 20%;
}
.banner_main .banner-text {
	top: 40px;
}
.why-lisamin h3 {
	font-size: 20px;
}
}


/*=============End-1200Px=================*/

@media (max-width: 991px) {
.contact-info {
	padding-left: 0;
}
.navbar-brand {
	margin-top: 0;
	padding: 10px 0;
	height: inherit;
	padding: 0;
	background-color: transparent;
}
.navbar-brand img {
	width: 80% !important;
	background: #fff;
	padding: 10px 0;
}
.nav > li > a {
	padding: 15px 18px;
}
.navbar-default .navbar-collapse {
	margin-left: 0;
	margin-top: 41px;
}
.R-btn a {
	font-size: 18px;
}
.R-btn {
	margin-top: 36px;
}
.login-form {
	margin-top: -266px;
}
.banner_main {
	margin-top: 0;
}
.banner_main .banner-text {
	left: 30px;
}
.banner_main .banner-text h1 {
	font-size: 36px;
	line-height: 36px;
}
.banner_main .banner-text p {
	padding: 0;
	font-size: 17px;
}
.banner_main .owl-pagination {
	left: 30px;
}
.why-lisamin h3 br {
	display: none;
}
.why-lisamin h3 {
	font-size: 23px;
}
.link-media {
	padding: 20px 0;
}
.quick-link ul li {
	padding: 0 12px;
}
.newsletter {
	padding: 0;
}
.newsletter h2 {
	font-size: 24px;
}
.newsletter .btn {
	font-size: 18px;
}
.copy-right p, .powered {
	padding: 0;
}
.copy-right p {
	font-size: 15px;
	line-height: 20px;
}
}


/*=============End-991Px=================*/

@media (max-width: 767px) {
/*=====  Top CSS BOF  ======*/
.pattern::before, .pattern::after {
	display: none;
}
.login-form {
	margin-top: 30px;
}
.banner_main .banner-text {
	top: 12%;
}
.log-btn {
	clear: both;
}
.social-media ul li {
	padding: 0 9px;
}
.R-btn {
	position: absolute;
	left: 0;
	right: 0;
	top: 40px;
	text-align: center;
	margin: 0 auto;
	float: none;
	width: 35%;
}
.navbar-default {
	width: 100%;
	float: none;
}
.navbar-default .navbar-collapse {
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	padding: 0;
}
.navbar-default::before {
	display: none;
}
.navbar-toggle {
	background-color: #f46c00;
	border: none;
	border-radius: 0;
	margin-right: 0;
	margin-top: 48px;
	padding: 12px 14px;
	border-radius: 0;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
	width: 27px;
	height: 3px;
}
.navbar-default .navbar-toggle:focus,  .navbar-default .navbar-toggle:hover {
	background-color: #3b3b3b;
}
.navbar-default .navbar-collapse,  .navbar-default .navbar-form {
	border-color: transparent;
	margin-top: -1px;
}
.nav>li {
	padding: 0;
	color: #fff;
}
.navbar-default .navbar-nav>li>a {
	color: #fff;
	padding: 15px 10px;
	background: #3b3b3b;
	border-bottom: 1px solid #fff;
	font-size: 16px;
}
.nav>li>a {
	padding: 0;
}
.navbar-default .navbar-nav>.active>a,  .navbar-default .navbar-nav>li>a:hover,  .navbar-default .navbar-nav>li>a:focus {
	border-bottom: 1px solid #fff!important;
	background: #f46c00;
	color: #fff;
}
.navbar-nav {
	margin: 0;
}
.pattern {
	padding: 0 0 30px 0;
}
.title h1 {
	font-size: 36px;
	line-height: 56px;
}
.about {
	padding: 30px 0;
}
.title img {
	margin-bottom: 20px;
}
.about p {
	width: 100%;
}
.why-choose {
	padding: 30px 0;
}
.footer-contact {
	text-align: left;
}
.footer-social {
	text-align: left;
	margin-top: 15px;
}
.powered {
	text-align: left;
	margin-top: 10px;
}
footer {
	padding: 30px 0;
}
#about-us {
    padding: 30px 0;
}
.inner_banner {
    min-height: 200px;
}
#about-us .inner::after {
	border-right: none;
	border-bottom: 1px solid #fff;
	left: 0;
	right: 0;
	bottom: 0;
}
#about-us .inner {
	padding: 20px 0px;
}
#about-us .brdr-rgtnn::after {
	border-right: none;
	border-bottom: none;
}
.flex {
	display: -webkit-block;
	display: block;
}
}


/*=============End-767Px=================*/

@media (max-width: 600px) {
.contact-info {
	float: none;
	width: 100%;
	text-align: center;
}
.social-media {
	display: none;
}
.banner_main .banner-text h1 {
	font-size: 30px;
	line-height: 30px;
}
.banner_main .owl-pagination {
	bottom: 20px;
}
.footer-contact i {
	font-size: 22px;
	line-height: 30px;
}
.R-btn {
	position: relative;
	top: 0;
	width: 100%;
	z-index: 9;
	margin-bottom: 10px;
}
.R-btn a {
	font-size: 20px;
}
}


/*=============End-500Px=================*/

@media(max-width:500px) {
.quick-link ul li {
	display: block;
	padding: 7px 0 7px 20px;
	position: relative;
}
.quick-link ul li:first-child {
	padding-left: 20px;
}
.quick-link ul li::after {
	display: none;
}
.quick-link ul li::before {
	content: "\f101";
	font-family: 'FontAwesome';
	color: #fff;
	font-size: 16px;
	position: absolute;
	left: 0;
	top: 8px;
}
.newsletter input[type="email"] {
	width: 100%;
}
.newsletter .btn {
	width: 35%;
	margin-top: 10px;
}
.newsletter h2 {
	line-height: 34px;
	margin-bottom: 10px;
}
}
 @media(max-width:420px) {
.banner_main .owl-theme .owl-controls .owl-page span {
	height: 13px;
	width: 13px;
}
.banner_main .banner-text h1 {
	font-size: 22px;
	line-height: 23px;
}
.login-form form {
	padding: 10px 30px 40px 30px;
}
.check_box, .login-form .forgot {
	float: none;
	width: 100%;
	text-align: left;
}
.login-form h1 {
	font-size: 26px;
	line-height: 30px;
	padding: 15px 0;
}
.title h1 {
	font-size: 30px;
}
}


/*=============End-380Px=================*/
