/* Import All CSS */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	background: url(../)
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul, li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
html {
	-webkit-text-size-adjust: none;
}
* {
	outline: none;
}
input[type='submit'] {
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
}

 ::-moz-selection {
 background: #f46c00;
 color: #fff;
}
input[type="text"], input[type="email"], input[type="tel"], input[type="number"], select, textarea {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	width: 100%;
	padding: 8px 10px;
	margin: 10px 0;
	font-size: 16px;
	border: 1px solid #d4d4d4;
}
.btn {
	padding: 0;
	margin: 0;
	margin-top: 15px;
}
.btn.active, .btn:active {
	box-shadow: none;
}
.btn a, input[type="submit"] {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	display: inline-block;
	font-size: 14px;
	background-color: transparent;
	color: #fff !important;
	padding: 10px 30px;
	border-radius: 50px;
	vertical-align: middle;
	text-transform: uppercase;
	border: 1px solid #fff;
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}
.btn a:hover, input[type="submit"]:hover {
	background-color: #fff;
	color: #333333 !important;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.section {
	padding: 50px 0;
	overflow: hidden;
}
p {
	font-size: 15px;
	line-height: 24px;
	letter-spacing: 0.5px;
	color: #333333;
	padding: 8px 0;
	font-weight: 300;
}
h1, h2, h3, h4 {
	margin-top: 0;
	color: #146194;
	font-family: 'Roboto', sans-serif;
}
h1 {
	font-size: 60px;
	line-height: 80px;
	font-weight: 300;
	text-transform: uppercase;
}
h2 {
	text-align: left;
	font-size: 50px;
	font-weight: 700;
	text-transform: capitalize;
	color: #fc4f00;
	line-height: 44px;
	font-family: 'Roboto', sans-serif;
}
h3 {
	font-size: 22px;
	font-weight: 700;
	color: #fff;
	padding: 10px;
	line-height: 28px;
}
h4 {
	font-size: 20px;
	line-height: 26px;
	padding: 15px 0;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
}
h5 {
	font-size: 20px;
	line-height: 24px;
	padding: 10px 0;
	margin: 0;
}
a {
	-webkit-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
	-moz-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
	-ms-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
	-o-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
	transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
}
.navigation_mobile_click, .navigation_mobile_click:before, .go-up {
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}
a {
	text-decoration: none;
	color: #5e6d77;
}
a:focus, a:hover {
	text-decoration: none;
	outline: none;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
img {
	max-width: 100%;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: middle;
	height: auto;
}
body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	background-color: #FFF;
	overflow-x: hidden;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
/*====================================
=            Helper Class            =
====================================*/

.m-t-10 {
	margin-top: 10px;
}
.m-t-20 {
	margin-top: 20px;
}
.m-t-15 {
	margin-top: 15px;
}
.m-t-25 {
	margin-top: 25px;
}
.m-t-30 {
	margin-top: 30px;
}
.m-t-50 {
	margin-top: 50px;
}
.m-t-70 {
	margin-top: 70px;
}
.m-b-10 {
	margin-bottom: 10px;
}
.m-b-15 {
	margin-bottom: 15px;
}
.m-b-20 {
	margin-bottom: 20px;
}
.m-b-25 {
	margin-bottom: 25px;
}
.m-b-30 {
	margin-bottom: 30px;
}
.m-b-50 {
	margin-bottom: 50px;
}
.p-r-0 {
	padding-right: 0;
}
.p-0 {
	padding: 0;
}
.p-t-10 {
	padding-top: 10px;
}
.p-t-15 {
	padding-top: 15px;
}
.p-t-20 {
	padding-top: 20px;
}
.p-t-25 {
	padding-top: 25px;
}
.p-t-30 {
	padding-top: 30px;
}
.p-b-10 {
	padding-bottom: 10px;
}
.p-b-15 {
	padding-bottom: 15px;
}
.p-b-20 {
	padding-bottom: 20px;
}
.p-b-25 {
	padding-bottom: 25px;
}
.p-b-30 {
	padding-bottom: 30px;
}
/*back-to-top-css*/

.scrollToTop {
	height: 50px;
	width: 50px;
	padding-top: 2px;
	font-size: 24px;
	line-height: 45px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	position: fixed;
	bottom: 40px;
	right: 15px;
	z-index: 999999;
	display: none;
	border-radius: 50%;
	background-color: #f46c00;
	border: 2px solid #fff;
}
.scrollToTop:hover, .scrollToTop:focus {
	background: #000;
	color: #fff;
}
/*back-to-top-css*/


/*=====  Header CSS BOF  ======*/



/*=====  Top CSS BOF  ======*/

header {
	width: 100%;
	background: #f46c00;
	padding: 10px 0;
}
.contact-info {
	float: left;
	width: 60%;
}
.contact-info ul li {
	display: inline-block;
	color: #fff;
	padding: 0 20px;
	line-height: 27px;
}
.contact-info ul li a {
	font-size: 16px;
	color: #fff;
}
.contact-info ul li i {
	margin-right: 10px;
}
.contact-info ul li:first-child {
	padding-left: 0;
}
.contact-info ul li a:hover {
	color: #3b3b3b;
}
.social-media {
	text-align: right;
	float: right;
	width: 40%;
}
.social-media ul li {
	display: inline-block;
	padding: 0 10px;
}
.social-media ul li a {
	color: #fff;
	font-size: 18px;
	line-height: 27px;
}
.social-media ul li a:hover {
	color: #3b3b3b;
}
/*=====  Navbar CSS BOF  ======*/

.navbar-default {
	border: none;
	z-index: 999;
	background-color: transparent;
	position: relative;
	margin: 0;
	float: left;
	width: 75%;
}
.navbar-brand {
	background: #fff;
	padding: 20px;
	margin-top: -53px;
	display: block;
	position: relative;
	z-index: 999;
	height: 100%;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
	background-color: #fff;
}
.navbar-brand img {
	width: 100% !important;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	padding: 0;
	float: left !important;
	margin-left: 60px;
	margin-top: 29px;
}
.nav>li {
	position: relative;
	display: block;
	color: #000;
	font-size: 20px;
}
.nav>li>a {
	display: block;
	margin: 0;
	padding: 15px 28px;
	font-weight: 500;
}
.top-nav-collapse {
	padding: 0;
	top: 0;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	color: #fff;
	background-color: #f46c00;
}
.navbar-default .navbar-nav>li>a {
	color: #1c1c1c;
	font-size: 20px;
	font-weight: 500;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	color: #fff;
	background-color: #f46c00;
}
.nav>li>a:focus, .nav>li>a:hover {
	text-decoration: none;
	color: #fff;
	background: transparent;
}
.R-btn {
	float: left;
	width: 25%;
	margin-top: 23px;
}
.R-btn a {
	background: #3b3b3b;
	color: #fff;
	padding: 18px 0px;
	display: block;
	font-size: 22px;
	font-weight: 500;
	text-align: center;
	position: relative;
	z-index: 999;
}
.R-btn a:hover {
	background: #f46c00;
}
/*=====  Banner CSS BOF  ======*/

.main_banner {
	position: relative;
	background-size: cover !important;
	background-position: top center !important;
	padding: 60px 0 105px 0;
}
.main_banner .banner_text {
	position: relative;
	text-align: left;
}
.main_banner .banner_text h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 50px;
	font-weight: 500;
	color: #fff;
	text-transform: capitalize;
	line-height: normal;
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.9);
	position: relative;
	line-height: 60px;
}
.main_banner .banner_text hr {
	width: 18%;
	text-align: left;
	border: 1px solid #fff;
	float: left;
}
/*=====  Packages Section CSS BOF  ======*/


.banner_main {
	background: url(../images/banner-bg.jpg) no-repeat;
	background-position: center;
	background-size: cover;
	margin-top: -20px;
}
.banner_main .item {
	display: block;
	width: 100%;
	text-align: left;
	position: relative;
}
.banner_main .banner-text {
	position: absolute;
	top: 100px;
	left: 96px;
}
.banner_main .banner-text h1 {
	color: #fff;
	font-weight: 700;
	font-size: 50px;
	line-height: 50px;
	text-transform: capitalize;
	text-align: left;
}
.banner_main .banner-text p {
	color: #fff;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	line-height: 20px;
	text-align: left;
	letter-spacing: 0;
	margin-top: 10px;
}
.banner_main .owl-buttons {
	display: none;
}
.banner_main .owl-pagination {
	position: absolute;
	bottom: 60px;
	left: 96px;
}
.banner_main .owl-theme .owl-controls .owl-page span {
	background: #fff;
	opacity: 1;
	height: 18px;
	width: 18px;
	border-radius: 0;
}
.banner_main .owl-theme .owl-controls .owl-page {
	display: block;
	margin: 10px 0;
}
.banner_main .owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
	background: #000000;
}
.pattern {
	position: relative;
	padding-bottom: 60px;
	z-index: 0;
}
.pattern::after {
	content: url(../images/pattern.png);
	position: absolute;
	top: 10px;
	right: 10px;
}
.pattern::before {
	content: url(../images/pattern.png);
	position: absolute;
	bottom: 10px;
	left: 10px;
}
.p-b-0::before {
    bottom: -100px !important;
}
.login-form,.forgot_form {
	background-color:#f46c00;
	
	padding: 0;
	position: relative;
	z-index: 111;
    width: 100%;
    clear: both;
    margin-top: -386px;
}

.login-form h1,.forgot_form h1 {
	color: #fff;
	font-size: 35px;
	font-weight: 700;
	text-align: center;
	line-height: 40px;
	padding: 25px 0;
    border-bottom: 2px solid #fff;
}

.login-form form,.forgot_form form {
	padding: 10px 55px 40px 55px;
}

.login-form ::placeholder,.forgot_form ::placeholder{color: #fff;}

.login-form form .form-control,.forgot_form form .form-control {
	background-color: transparent;
	color: #fff;
    border: none;
    box-shadow: none;
    border-radius: 0;
	border-bottom: 1px solid #fff;
	margin: 10px 0;
	height: 50px;
    font-size: 18px;
}

.login-form .forgot,.forgot_form .forgot_back {
	text-align: right;
	margin: 0 auto;
	display: block;
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	margin: 15px 0;
    float: right;
	width: 50%;
	cursor: pointer
}

.login-form .forgot:hover,.forgot_form .forgot_back:hover {
	color: #000;
}

.log-btn {
	text-align: center;
}

.login-form .btn,.forgot_form .btn {
	background: #ffffff;
	color: #f46c00;
	font-size: 28px;
	text-transform: uppercase;
	font-weight: 700;
	padding: 5px 40px;
	text-align: center;
    border-radius: 0;
}

.login-form .btn:hover,.forgot_form .btn:hover {
	background: #000;
	color: #fff;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.btnForgot {
	text-align: center;
}
.forgot_form{
	display: none;
}
input[id="rememberMe"] {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    
}
input[id="rememberMe"] + label {
    position: relative;
    margin-bottom: 20px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin: 0;
}

input[id="rememberMe"] + label::before {

    width: 26px;
    height: 26px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 0;
    content: "";
    display: inline-block;
    position: relative;
    margin-right: 10px;
    vertical-align: middle;
}
input[id="rememberMe"]:checked + label::after {
    width: 13px;
    height: 6px;
    content: "";
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    top: 8px;
    left: 6px;
    position: absolute;
    transform: rotate(-45deg);
}

input[id="rememberMe"]:checked + label::before {
    background:#000;
    border: 1px solid #000;
}
.check_box {
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	float: left;
	width: 50%;
	margin: 15px 0;
}
/*=====================About-Us=======================*/

.about {
	padding: 60px 0;
	background: #fafafa;
	text-align: center;
}
.title h1 {
	font-size: 50px;
	font-weight: 400;
	text-transform: capitalize;
	color: #3b3b3b;
	line-height: 70px;
}
.title h1 span {
	font-weight: 700;
}
.title img {
	text-align: center;
	margin-bottom: 30px;
}
.about p {
	color: #3b3b3b;
	font-weight: 400;
	width: 85%;
	text-align: center;
	margin: 0 auto;
	font-size: 16px;
	line-height: 26px;
}
.about p span {
	font-weight: 500;
}
.about .btn {
	background: #f46c00;
	color: #fff;
	border-radius: 0;
	padding: 12px 50px;
	text-transform: uppercase;
	font-size: 20px;
}
.about .btn:hover {
	background: #3b3b3b;
}
/*===================Why-Choose===============*/

.why-choose {
	padding: 60px 0;
	text-align: center;
}
.why-lisamin {
	background: #fafafa;
	padding: 30px;
	margin-top: 30px;
	-webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.08);
	-moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.08);
	box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.08);
}
.why-lisamin .icon {
	background: #fff;
	height: 88px;
	width: 88px;
	border-radius: 50%;
	text-align: center;
	margin: 0 auto;
	border: 2px solid #ececec;
}
.why-lisamin .icon svg {
	fill: #3b3b3b;
	margin-top: 20px;
	height: 44px;
	width: 44px;
}
.why-lisamin h3 {
	color: #3b3b3b;
	font-size: 24px;
	font-weight: 500;
	padding: 0;
	margin-top: 25px;
}
.why-lisamin:hover {
	background: #f46c00;
	box-shadow: none;
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}
.why-lisamin:hover h3 {
	color: #fff;
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}
.why-lisamin:hover svg {
	fill: #f46c00;
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}
.why-lisamin:hover .icon {
	border: 2px solid #fff;
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}
/*===================Footer===============*/

footer {
	background: #3b3b3b;
	padding: 40px 0;
}
.v-border {
	border-left: 1px solid #919191;
}
.footer-contact {
	text-align: center;
	padding: 10px 0;
}
.footer-contact i {
	display: inline-block;
	color: #fff;
	font-size: 30px;
}
.footer-contact .contact-d {
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
	text-align: left;
}
.footer-contact .contact-d h3 {
	color: #f46c00;
	font-size: 20px;
	font-weight: 600;
	line-height: 26px;
	padding: 0;
}
.footer-contact .contact-d p, .footer-contact .contact-d a {
	font-size: 16px;
	color: #cfcfcf;
	vertical-align: top;
	padding: 0;
}
.footer-contact .contact-d a:hover {
	color: #f46c00;
}
/*===============link-media====================*/
.link-media {
	border-top: 1px solid #919191;
	border-bottom: 1px solid #919191;
	padding: 20px 30px;
	margin: 28px 0;
}
.quick-link {
	margin-top: 10px;
}
.quick-link ul li {
	display: inline-block;
	position: relative;
	padding: 0 15px;
}
.quick-link ul li:first-child {
	padding-left: 0;
}
.quick-link ul li::after {
	content: "|";
	position: absolute;
	right: 0;
	color: #fff;
}
.quick-link ul li:last-child::after {
	content: " ";
}
.quick-link ul li a {
	font-size: 16px;
	color: #ffffff;
	font-weight: 400;
}
.quick-link ul li a:hover {
	color: #f46c00;
}
/*===============Footer-social====================*/

.footer-social {
	text-align: right;
}
.footer-social ul li {
	display: inline-block;
	padding: 0 5px;
}
.footer-social ul li:last-child {
	padding-right: 0;
}
.footer-social ul li a {
	height: 36px;
	width: 36px;
	color: #3b3b3b;
	background: #fff;
	display: block;
	text-align: center;
	font-size: 18px;
	line-height: 36px;
}
.footer-social ul li a:hover {
	background: #f46c00;
	color: #fff;
}
/*===============Newsletter====================*/

.newsletter {
	padding: 0 30px;
}
.newsletter h2 {
	font-size: 26px;
	color: #ffffff;
	font-weight: 400;
	line-height: 50px;
}
.newsletter input[type="email"] {
	width: 75%;
	height: 50px;
	margin: 0;
	float: left;
	background: #bebebe;
	color: #000;
	padding: 0 15px;
	;
	font-weight: 400;
}
.newsletter .btn {
	float: left;
	width: 25%;
	height: 50px;
	background: #282828;
	color: #bebebe;
	border-radius: 0;
	font-size: 20px;
	margin: 0;
	line-height: 45px;
}
.newsletter .btn:hover {
	background: #f46c00;
	color: #fff;
}
/*============Copy-right=================*/

.copy-right {
	background: #1c1c1c;
	padding: 15px 0;
}
.copy-right p {
	color: #dfdfdf;
	font-size: 16px;
	font-weight: 400;
	padding: 0 0 0 30px;
	line-height: 30px;
}
.powered {
	text-align: right;
	padding-right: 30px;
}
.powered p {
	display: inline-block;
	color: #dfdfdf;
	font-size: 16px;
	margin-right: 5px;
}
.powered a {
	display: inline-block;
}

/* About Us Page CSS BOF
=================================================== */
.p-b-0 {padding-bottom:0 !important;}
.inner_banner {
	padding:0;
	min-height: 313px;
	position: relative;
	background-size: cover !important;
	background-position: center center !important;
}
.inner_banner .banner_text {
    text-align: center;
    padding: 0;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.inner_banner .banner_text h1 {
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    width: 100%;
	text-transform:none;
}
.breadcrumbs1_wrapper {
	display: block;
	position: relative;
	margin-top: -52px;
}
.breadcrumbs1 {
	padding: 14px 0;
	margin-top: 0px;
	line-height: 20px;
	color: #fff;
	font-size: 20px;
	font-weight: 400;
	text-align: center;
}
.breadcrumbs1 a {
	color: #f46c00;
	text-decoration: none;
}
.breadcrumbs1 a:hover {
	color: #fff;
	text-decoration: none;
}
.breadcrumbs1 span {
	font-size: 20px;
	display: inline-block;
	margin: 0 15px;
	vertical-align: middle;
	color: #fff;
}
#about-us, .contact-us {
    background: #f46c00;
    display: block;
    width: 100%;
	padding:60px 0;
}
.flex {
    display: -webkit-flex;
    display: flex;
}
#about-us .inner {
    width: 100%;
    text-align: center;
    display: inline-block;
    padding: 10px 0px;
    position: relative;
	min-height: 100%;
}
#about-us .inner .shape {
    background: #fff;
    display: inline-block;
    line-height: 72px;
    text-align: center;
    width: 72px;
    height: 72px;
    position: relative;
}
#about-us .inner .shape svg {
    display: inline-block;
    fill: #000;
    text-align: center;
    width: 70px;
    height: 70px;
}
#about-us .inner h4 {
    color: #fff;
    font-weight: 500;
    line-height: normal;
    padding: 15px 0;
	text-transform:none;
	font-size: 22px;
}
#about-us .inner p {
    font-weight: 400;
    color: #fff;
    line-height: 25px;
}
#about-us .inner::after {
    border-right: 1px solid #fff;
    content: "";
    height: 100%;
    position: absolute;
    right: -16px;
    top: 0;
}
#about-us .brdr-rgtnn::after {
    border-right: none;
}

.contact-us {
    text-align:center;
}
.contact-us .title h1 {
    color: #fff;
}
.contact-us .inner .shape svg {
    width: 55px !important;
}
#about-us .inner p a{
    color: #fff;
}
#about-us .inner p a:hover{
    color: #000;
}

#contact-form {
    width: 100%;
    display: block;
    padding: 0;
}
.contact-form textarea.form-control{
	height: 120px;
	resize: none;
}
.contact-form .form-control {
    background-color: #fff;
    color: #000;
    display: block;
    font-size: 13px;
    height: 50px;
    line-height: 1.42857;
    padding: 10px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    z-index: 1;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    border: 1px solid #d7d7d7;
    margin: 5px 0 0;
}
.contact-form input:focus{border-color:#d7d7d7;}
.contact-form .btn-orng {
	font-size:22px;
	width: 270px;
	margin: 10px auto 0;
	padding: 12px 0;
    background: #f46c00;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
	border:none;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.contact-form .btn-orng:hover {
    color: #fff;
    background: #000;
    text-decoration: none;
}
.contact-form {
	padding: 30px 10% 50px;
	background:#fafafa;
}
.input-group {
    display: block;
}
.contact-form .search-col-padding{
    padding-top: 21px;
    display: inline-block;
}
.contact-form label {
    font-size: 14px;
    font-weight: 700;
    color: #000;
    margin: 0;
}
.map-responsive {
	overflow: hidden;
	padding-bottom: 519px;
	position: relative;
	height: 0;
}
.map-responsive iframe {
	left: 0;
	top: 0;
	height: 519px;
	width: 100%;
	position: absolute;
}