/* Import All CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	background: url(../)
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

ol,
ul,
li {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

html {
	-webkit-text-size-adjust: none;
}

* {
	outline: none;
}

input[type='submit'] {
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
}

 ::-moz-selection {
	background: #0094d9;
	color: #fff;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
select,
textarea {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	width: 100%;
	padding: 8px 10px;
	margin: 10px 0;
	font-size: 16px;
	border: 1px solid #d4d4d4;
}

.btn {
	padding: 0;
	margin: 0;
	margin-top: 15px;
}

.btn.active,
.btn:active {
	box-shadow: none;
}

.btn a,
input[type="submit"] {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	display: inline-block;
	font-size: 14px;
	background-color: transparent;
	color: #fff !important;
	padding: 10px 30px;
	border-radius: 50px;
	vertical-align: middle;
	text-transform: uppercase;
	border: 1px solid #fff;
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}

.btn a:hover,
input[type="submit"]:hover {
	background-color: #fff;
	color: #333333 !important;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.section {
	padding: 50px 0;
	overflow: hidden;
}

p {
	font-size: 15px;
	line-height: 24px;
	letter-spacing: 0.5px;
	color: #333333;
	padding: 8px 0;
	font-weight: 400;
}

h1,
h2,
h3,
h4 {
	margin-top: 0;
	color: #146194;
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-size: 60px;
	line-height: 80px;
	font-weight: 300;
	text-transform: uppercase;
}

h2 {
	text-align: left;
	font-size: 50px;
	font-weight: 700;
	text-transform: capitalize;
	color: #fc4f00;
	line-height: 44px;
	font-family: 'Roboto', sans-serif;
}

h3 {
	font-size: 22px;
	font-weight: 700;
	color: #fff;
	padding: 10px;
	line-height: 28px;
}

h4 {
	font-size: 20px;
	line-height: 26px;
	padding: 15px 0;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
}

h5 {
	font-size: 20px;
	line-height: 24px;
	padding: 10px 0;
	margin: 0;
}

a {
	-webkit-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
	-moz-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
	-ms-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
	-o-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
	transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
}

.navigation_mobile_click,
.navigation_mobile_click:before,
.go-up {
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

a {
	text-decoration: none;
	color: #5e6d77;
}

a:focus,
a:hover {
	text-decoration: none;
	outline: none;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

img {
	max-width: 100%;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: middle;
	height: auto;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	background-color: #FFF;
	overflow-x: hidden;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}


/*====================================
=            Helper Class            =
====================================*/

.m-t-10 {
	margin-top: 10px;
}

.m-t-20 {
	margin-top: 20px;
}

.m-t-15 {
	margin-top: 15px;
}

.m-t-25 {
	margin-top: 25px;
}

.m-t-30 {
	margin-top: 30px;
}

.m-t-50 {
	margin-top: 50px;
}

.m-t-70 {
	margin-top: 70px;
}

.m-b-10 {
	margin-bottom: 10px;
}

.m-b-15 {
	margin-bottom: 15px;
}

.m-b-20 {
	margin-bottom: 20px;
}

.m-b-25 {
	margin-bottom: 25px;
}

.m-b-30 {
	margin-bottom: 30px;
}

.m-b-50 {
	margin-bottom: 50px;
}

.p-r-0 {
	padding-right: 0;
}

.p-0 {
	padding: 0;
}

.p-t-10 {
	padding-top: 10px;
}

.p-t-15 {
	padding-top: 15px;
}

.p-t-20 {
	padding-top: 20px;
}

.p-t-25 {
	padding-top: 25px;
}

.p-t-30 {
	padding-top: 30px;
}

.p-b-10 {
	padding-bottom: 10px;
}

.p-b-15 {
	padding-bottom: 15px;
}

.p-b-20 {
	padding-bottom: 20px;
}

.p-b-25 {
	padding-bottom: 25px;
}

.p-b-30 {
	padding-bottom: 30px;
}


/*back-to-top-css*/

.scrollToTop {
	height: 50px;
	width: 50px;
	padding-top: 2px;
	font-size: 24px;
	line-height: 45px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	position: fixed;
	bottom: 40px;
	right: 15px;
	z-index: 999999;
	display: none;
	border-radius: 50%;
	background-color: #0094d9;
	border: 2px solid #fff;
}

.scrollToTop:hover,
.scrollToTop:focus {
	background: #fcd228;
	color: #000;
}


/*back-to-top-css*/


/*=====  Header CSS BOF  ======*/



/*=====  Top CSS BOF  ======*/

.top-bar{
	width: 100%;
    background: #004f87;
    padding: 10px 0;
}

.contact-info {
    float: left;
    width: 60%;
}
.contact-info ul li{
    display: inline-block;
    color: #fff;
    padding: 0 20px;
    line-height: 27px;
}
.contact-info ul li a{
    font-size: 16px;
    color: #fff;
}
.contact-info ul li i{margin-right: 10px;}
.contact-info ul li:first-child{padding-left: 0;}
.contact-info ul li a:hover{color: #fcd228;}



.social-media{
    text-align: right;
    float: right;
    width: 40%;
}
.social-media ul li{
    display: inline-block;
    padding: 0 10px;
}
.social-media ul li a{
    color: #fff;
    font-size: 18px;
    line-height: 27px;
}
.social-media ul li a:hover{
    color: #fcd228;
}


/*=====  Navbar CSS BOF  ======*/
.ma-10{margin: 10px 0;}
.navbar-default {
	border: none;
	z-index: 999;
	background-color: transparent;
	position: relative;
	margin: 0;
    float: left;
    width: 100%;
}

.navbar-brand{
    padding: 0px;
    display: block;
    position: relative;
    z-index: 999;
    height: 100%;
}
.navbar-default .navbar-brand:focus, 
.navbar-default .navbar-brand:hover{
}
.navbar-brand img {
	width: 100% !important;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	padding: 0;
    float: right!important;
    margin-left: 60px;
    margin-top: 11px;
}

.nav>li {
	position: relative;
	display: block;
	color: #000;
	font-size: 20px;
}

.nav>li>a {
	display: block;
	margin: 0;
	padding: 15px 28px;
	font-weight: 500;
}


.top-nav-collapse {
	padding: 0;
	top: 0;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
	color: #3b3b3b;
	background-color: #fcd228;
}

.navbar-default .navbar-nav>li>a {
	color: #1c1c1c;
	font-size: 20px;
	font-weight: 500;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
	color: #3b3b3b;
	background-color: #fcd228;
}

.nav>li>a:focus,
.nav>li>a:hover {
	text-decoration: none;
	color: #fff;
	background: transparent;
}
.R-btn{
    float: left;
    width: 25%;
    margin-top: 4px;
}
.R-btn a{
    background: #0ea0e3;
    color: #fff;
    padding: 18px 0px;
    display: block;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    position: relative;
    z-index: 999;
}

.R-btn a:hover{
    background: #004f87;
}


/*=====  Banner CSS BOF  ======*/

.main_banner {
	position: relative;
	background-size: cover !important;
	background-position: top center !important;
	padding: 60px 0 105px 0;
}

.main_banner .banner_text {
	position: relative;
	text-align: left;
}

.main_banner .banner_text h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 50px;
	font-weight: 500;
	color: #fff;
	text-transform: capitalize;
	line-height: normal;
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.9);
	position: relative;
	line-height: 60px;
}

.main_banner .banner_text hr {
	width: 18%;
	text-align: left;
	border: 1px solid #fff;
	float: left;
}


/*=====  Packages Section CSS BOF  ======*/


.banner_main {
	background: url(../images/banner-bg.jpg) no-repeat;
	background-position: center;
	background-size: cover;
}

.banner_main .item {
	display: block;
	width: 100%;
	text-align: left;
    position: relative;
}
.banner_main .banner-text{
    position: absolute;
    top: 100px;
    left: 0px;
    background: rgba(0,0,0,0.5);
    padding: 20px 100px;
    
}
.banner_main .banner-text h1 {
	color: #fff;
	font-weight: 700;
	font-size: 44px;
    line-height: 44px;
	text-transform: capitalize;
    text-align: left;
}

.banner_main .banner-text p {
	color: #fff;
	font-size: 20px;
    font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	line-height: 20px;
    text-align: left;
    letter-spacing: 0;
    margin-top: 5px;
}

.banner_main .owl-buttons {
	display: none;
}

.banner_main .owl-pagination {
	position: absolute;
	bottom: 60px;
	left: 96px;
}

.banner_main .owl-theme .owl-controls .owl-page span {
	background: #fff;
	opacity: 1;
	height: 18px;
	width: 18px;
	border-radius: 0;
}
.banner_main .owl-theme .owl-controls .owl-page{
    display: block;
        margin: 10px 0;

}
.banner_main .owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
	background: #fcd228;
}


.pattern{
    position: relative;
    padding-bottom: 60px;
    z-index: 0;
}

.pattern::after{
    content: url(../images/pattern.png);
    position: absolute;
    top: -80px;
    right: 10px;
    z-index: -1;
}
.pattern::before{
    content: url(../images/pattern.png);
    position: absolute;
    bottom: 10px;
    left: 10px;
     z-index: -1;
}


.login-form {
	background-color:#0094d9;
	padding: 0;
	position: relative;
	z-index: 111;
    width: 100%;
    clear: both;
    margin-top: -386px;
    border: 2px solid #fcd228;
}

.login-form h1 {
	color: #fff;
	font-size: 35px;
	font-weight: 700;
	text-align: center;
	line-height: 40px;
	padding: 25px 0;
    border-bottom: 2px solid #fcd228;
}
.login-form p{
    color: #fff;
    font-size: 16px;
}

.login-form form {
	padding: 10px 55px 40px 55px;
}

.login-form ::placeholder{color: #fff;}

.login-form form .form-control {
	background-color: transparent;
	color: #fff;
    border: none;
    box-shadow: none;
    border-radius: 0;
	border-bottom: 1px solid #fcd228;
	margin: 10px 0;
	height: 50px;
    font-size: 18px;
}

.login-form .forgot {
	text-align: right;
	margin: 0 auto;
	display: block;
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	margin: 15px 0;
    float: right;
    width: 50%;
}
.back-login{
    font: none !important;
    width: 100% !important;
    text-align: center !important;
    font-weight: 600!important;
}

.login-form .forgot:hover {
	color: #fcd228;
}

.log-btn {
	text-align: center;
}

.login-form .btn {
	background: #ffffff;
	color: #0094d9;
	font-size: 28px;
	text-transform: uppercase;
	font-weight: 700;
	padding: 5px 40px;
	text-align: center;
    border-radius: 0;
}

.login-form .btn:hover {
	background: #fcd228;
	color: #3b3b3b;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}


.reset-pass{
    font-size: 20px !important;
    text-transform: capitalize!important;
    font-weight: 500!important;
}

input[id="check_2"] {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    
}
input[id="check_2"] + label {
    position: relative;
    margin-bottom: 20px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin: 0;
}

input[id="check_2"] + label::before {

    width: 26px;
    height: 26px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 0;
    content: "";
    display: inline-block;
    position: relative;
    margin-right: 10px;
    vertical-align: middle;
}
input[id="check_2"]:checked + label::after {
    width: 13px;
    height: 6px;
    content: "";
    border-left: 3px solid #000;
    border-bottom: 3px solid #000;
    top: 8px;
    left: 6px;
    position: absolute;
    transform: rotate(-45deg);
}

input[id="check_2"]:checked + label::before {
    background:#fcd228;
    border: 1px solid #fcd228;
}
.check_box{
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    float: left;
    width: 50%;
    	margin: 15px 0;

}

/*=====================About-Us=======================*/

.about{
    padding: 60px 0;
    background: #fafafa;
    text-align: center;
}

.title h1{
    font-size: 50px;
    font-weight: 400;
    text-transform: capitalize;
    color: #3b3b3b;
    line-height: 70px;
}
.title h1 span{
    font-weight: 700;
}

.title img{
    text-align: center;
    margin-bottom: 30px;
}

.about p{
    color: #3b3b3b;
    font-weight: 400;
    width: 85%;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    line-height: 26px;
}
.about p span{font-weight: 500;}

.about .btn{
    background: #0ea0e3;
    color: #fff;
    border-radius: 0;
    padding: 12px 50px;
    text-transform: uppercase;
    font-size: 20px;    
}

.about .btn:hover{
    background: #fcd228;
    color: #3b3b3b; 
}

/*===================Why-Choose===============*/

.why-choose{
    padding: 60px 0;
    text-align: center;
}
.why-lisamin{
    background: #fafafa;
    padding: 30px;
    margin-top: 30px;
 -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.08);
-moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.08);
box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.08);
}
.why-lisamin .icon{
    background: #fff;
    height: 88px;
    width: 88px;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
    border: 2px solid #ececec;
  
}
.why-lisamin .icon svg{
    fill:#3b3b3b;
    margin-top: 20px;
    height: 44px;
    width: 44px;
}
.why-lisamin h3{
    color: #3b3b3b;
    font-size: 24px;
    font-weight: 500;
    padding: 0;
    margin-top: 25px;
}

.why-lisamin:hover{
    background: #0094d9;
    box-shadow: none;
    	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}
.why-lisamin:hover h3{
    color: #fff;
    	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}
.why-lisamin:hover svg{
    fill: #0094d9;
    	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}
.why-lisamin:hover .icon{
    border: 2px solid #fff;
    	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}




/*===================Footer===============*/

footer{
    background: #004f87;
    padding: 40px 0 0 0;
}
.v-border{
    border-left: 1px solid #80a7c3;
    min-height: 92px;
}

.footer-contact{
    text-align: center;
    padding: 10px 0;
    margin: 0 auto;
    overflow: hidden;
    }



.footer-contact .contact-d{
    text-align: left;
    display: inline-block;
    padding: 0 0 0 40px;
}
.footer-contact .contact-d h3{
    color: #fcd228;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    padding: 0;
    position: relative;
}
.footer-contact .contact-d i{
    color: #fff;
    font-size: 30px;
    position: absolute;
    top: 0;
    left: -40px;
}
.footer-contact .contact-d .fa-envelope{font-size: 26px;}
.footer-contact .contact-d p,.footer-contact .contact-d a{
    font-size: 16px;
    color: #f0f0f0;
    vertical-align: top;
    padding: 0;
    font-weight: 400;
}
.footer-contact .contact-d a:hover{
    color: #fcd228;
}

/*===============link-media====================*/
.link-media{
    border-top: 1px solid #80a7c3;
    padding: 20px 30px 0 30px;
    margin: 28px 0 0 0;
}
.quick-link{margin-top: 10px;}
.quick-link ul li{
    display: inline-block;
    position: relative;
    padding: 0 15px;
}
.quick-link ul li:first-child{padding-left: 0;}
.quick-link ul li::after{
    content: "|";
    position: absolute;
    right: 0;
    color: #fff;
}
.quick-link ul li:last-child::after{
    content: " ";
}
.quick-link ul li a{
    font-size: 16px;
    color: #f0f0f0;
    font-weight: 400;
}
.quick-link ul li a:hover{
    color: #fcd228;
}
/*===============Footer-social====================*/

.footer-social{
    text-align: right;
}
.footer-social ul li{
    display: inline-block;
    padding: 0 5px;
}
.footer-social ul li:last-child{padding-right: 0;}
.footer-social ul li a{
    height: 36px;
    width: 36px;
    color: #3b3b3b;
    background: #f0f0f0;
    display: block;
    text-align: center;
    font-size: 18px;
    line-height: 36px;
}
.footer-social ul li a:hover{
    background: #fcd228;
    color: #3b3b3b;
}

/*===============Newsletter====================*/

.newsletter{
    padding: 0 30px;
}
.newsletter h2{
    font-size: 26px;
    color: #ffffff;
    font-weight: 400;
    line-height: 50px;
}
.newsletter input[type="email"]{
    width: 75%;
    height: 50px;
    margin: 0;
    float: left;
    background: #f0f0f0;
    color: #000;
    padding: 0 15px;;
    font-weight: 400;
}
.newsletter .btn{
    float: left;
    width: 25%;
    height: 50px;
    background: #0094d9;
    color: #fff;
    border-radius: 0;
    font-size: 20px;
    margin: 0;
    line-height: 45px;
}
.newsletter .btn:hover{
    background: #fcd228;
    color: #3b3b3b;        
}

/*============Copy-right=================*/

.copy-right{
    background: #003962;
    padding: 15px 0;
    margin-top: 40px;
}
.copy-right p{
    color: #dfdfdf;
    font-size: 16px;
    font-weight: 400;
    padding: 0 0 0 30px;
    line-height: 30px;
}
.powered{
    text-align: right;
    padding-right: 30px;
}
.powered p{
    display: inline-block;
    color: #dfdfdf;
    font-size: 16px;
    margin-right: 5px;
}

.powered a{display: inline-block;}
/* About Us Page CSS BOF
=================================================== */
#about_section, #mission_vision, #contact_sec {
	width: 100%;
	display: block;
    padding: 60px 0;
}
#about_section p {
	text-align: center;
	padding: 30px 0 0;
}
.title h2 {
	font-size: 40px;
	font-weight: 700;
	color: #000000;
	position: relative;
	text-align: center;
	line-height: 24px;
	padding-bottom: 15px;
}
.title h2 span {
	padding: 0 0 3px;
	font-size: 25px;
	font-weight: 400;
	text-transform: none;
	color: #ed1c24;
	float: left;
	line-height: normal;
	width: 100%;
}
.title h2::before {
	content: "";
	background: url(../images/devider.png) no-repeat;
	width: 173px;
	height: 3px;
	position: absolute;
	left: 0px;
	bottom: -5px;
	right: 0;
	margin: 0 auto;
}
.inner_banner {
	min-height: 239px;
	position: relative;
	background-size: cover !important;
	background-position: center center !important;
}
.inner_banner::before {
	background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.inner_banner .banner_text {
	text-align: center;
	padding: 0;
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.inner_banner .banner_text h1 {
	font-size: 56px;
	font-weight: 700;
	line-height: normal;
	color: #fff;
	text-shadow: 0 6px 4px rgba(0,0,0,0.6);
}
.breadcrumbs1_wrapper {
	background: #0094d9;
	display: block;
	position: relative;
}
.breadcrumbs1 {
	padding: 14px 0;
	margin-top: 0px;
	line-height: 20px;
	color: #fff;
	font-size: 15px;
	font-weight: 400;
	text-align: center;
}
.breadcrumbs1 a {
	color: #fff;
	text-decoration: none;
}
.breadcrumbs1 a:hover {
	color: #fcd228;
	text-decoration: none;
}
.breadcrumbs1 i {
	display: inline-block;
	margin: 0 15px;
	vertical-align: middle;
	color: #fff;
}
#mission_vision {
	background: #f9f9f9;
}
.flex {
	display: -webkit-flex;
	display: flex;
}
.draw2 {
	background: #fff;
	width: 100%;
	box-sizing: border-box;
	font-size: inherit;
	position: relative;
	vertical-align: middle;
	padding: 40px 25px;
	text-align: center;
	position: relative;
	min-height: 100%;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.15);
	-ms-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.15);
	box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.15);
}
.icon-md2 i {
	text-align: center;
	margin: 0 auto 5px;
	display: inline-block;
	width: 73px;
	height: 73px;
	line-height: 73px;
	background: #004f87;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	border-radius: 50px;
	color: #fff;
	font-size: 34px;
}
.draw2 h3 {
	margin-top: 20px;
	color: #004f87;
	font-size: 25px;
	line-height: 22px;
	font-weight: 500;
}
.draw2 p {
	margin-top: 10px;
	color: #333;
}
/* Contact Us Page CSS BOF
=================================================== */


#contact_sec  div i {
	color: #fff;
	font-size: 26px;
	margin-right: 10px;
	background: #004f87;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	border-radius: 50px;
    display: block;
    margin: 0 auto;
}
.address, .phone-number, .email{
    background: #fafafa;
    padding: 50px 30px;
    width: 100%;
    margin-top: 30px;
}
.address p, .phone-number a, .email a{
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    
    }
#contact_sec div a {
	color: #333;
	font-size: 18px;
	font-weight: 400;
    padding: 10px 0;
    display: block;
}
#contact_sec  div a:hover {
	color: #042c83;
	text-decoration: none;
}

.address:hover, .phone-number:hover, .email:hover{
    background: #004f87;
    -webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.address:hover i, .phone-number:hover i, .email:hover i{
    background: #fff !important;
    color: #004f87!important;
    -webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.address:hover p, .phone-number:hover a, .email:hover a{
    color: #ffff!important;
    -webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}


.contact_form {
	padding: 15px 35px 35px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	border-radius: 0px;
	-webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.15);
	-ms-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.15);
	box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.15);
}
.contact_form .padding {
	padding-top: 25px;
}
.contact_form label {
	font-size: 18px;
	font-weight: 500;
	color: #004f87;
	margin: 0 0 8px 0px;
}
.contact_form .input-group {
	background-color: #fff;
	border: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: 0 0px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0px 5px 0px rgba(0,0,0,0.5);
	-ms-box-shadow: 0 0px 5px 0px rgba(0,0,0,0.5);
	box-shadow: 0 0px 5px 0px rgba(0,0,0,0.5);
	display: inline-block;
	width: 100%;
	margin-top: 0;
	font-weight: 400;
}
.contact_form .form-control {
	background-color: transparent;
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
	color: #1f1f1f;
	display: block;
	font-size: 16px;
	height: 60px;
	line-height: 1.42857;
	padding: 6px 15px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	width: 100%;
	z-index: 1;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
    margin-top: 0;
}
.contact_form textarea.form-control {
	height: 110px;
	resize: none;
	padding: 20px 15px;
}
.send {
	background: #004f87;
	font-size: 32px;
	color: #fff;
	padding: 7px 0;
	text-align: center;
	width: 226px;
	border: none;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	margin: 20px auto 0;
	display: block;
	font-weight: 700;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: 0 2px 5px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 2px 5px 0px rgba(0,0,0,0.4);
	-ms-box-shadow: 0 2px 5px 0px rgba(0,0,0,0.4);
	box-shadow: 0 2px 5px 0px rgba(0,0,0,0.4);
}
.send:hover {
	background: #fcd228;
	color: #000;
	text-decoration: none;
}
.map-responsive {
	overflow: hidden;
	position: relative;
	height: auto;
	margin-bottom: 0;
}
.map-responsive iframe {
	height: 470px;
	width: 100%;
}





