<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Contact Us</title>
  <link rel="shortcut icon" href="images/favicon.png" type="image/png">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link href="css/media.css" rel="stylesheet" type="text/css">
  <link href="css/animate.min.css" rel="stylesheet" type="text/css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="plugins/alertifyJs/alertify.min.css" rel="stylesheet" />
  <link href="plugins/alertifyJs/default.min.css" rel="stylesheet" />
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>
  <header>
    <headeritem></headeritem>
  </header>
  <div id="contact" v-cloak>
    <section class="inner_banner p-0" :style="{ background: 'url(' + BannerSection.Banner_Image_1920x550px+ ')'}">
      <div class="banner_text fadeInUp animated" data-wow-delay="0ms" data-wow-duration="1500ms"
        style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
        <h1 class="text-center">{{BannerSection.Heading}}</h1>
      </div>
    </section>
    <section class="benefits-sec">
      <div class="container-fluid">
        <div class="row title">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center fadeInDown animated" data-wow-delay="0ms"
            data-wow-duration="1500ms"
            style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInDown;">
            <h2>{{MainArea.Heading}}</h2>
          </div>
        </div>
        <div class="row m-t-20 fadeInUp animated" data-wow-delay="0ms" data-wow-duration="1500ms"
          style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
          <div class="inner">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 contact">
              <h4>{{MainArea.Call_Us_Label}}</h4>
              <p><a :href="'tel:'+ MainArea.Contact_Number">{{MainArea.Contact_Number}}</a></p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 contact">
              <h4>{{MainArea.Schedule_Meeting_Label}}</h4>
              <p><a :href="MainArea._Online_Meeting_Link" target="_blank">{{MainArea._Online_Meeting_Link}}</a></p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 contact">
              <h4>{{MainArea.Sales_Support_Label}}</h4>
              <p><a :href="'mailto:'+ MainArea.Sales_Email">{{MainArea.Sales_Email}}</a></p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 contact">
              <h4>{{MainArea.Booking_Support_Label}}</h4>
              <p><a :href="'mailto:'+ MainArea.Booking_Support_Email">{{MainArea.Booking_Support_Email}}</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="benefits-sec white-bg contact_form">
      <div class="container-fluid">
        <div class="row title">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center fadeInDown animated" data-wow-delay="0ms"
            data-wow-duration="1500ms"
            style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInDown;">
            <h3>{{FormSection.How_Can_We_Help_Label}}</h3>
          </div>
        </div>
        <div class="row m-t-30 fadeInUp animated" data-wow-delay="0ms" data-wow-duration="1500ms"
          style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
          <div class="inner">
            <form>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="padding">
                  <label>{{FormSection.Name_Label}}<span>*</span></label>
                  <div class="input-group">
                    <input name="name" class="form-control" v-model="cntusername" :placeholder="FormSection.Name_Placeholder" type="text">
                  </div>
                </div>
                <div class="padding">
                  <label>{{FormSection.Email_Label}}<span>*</span></label>
                  <div class="input-group">
                    <input name="email" class="form-control" v-model="cntemail" :placeholder="FormSection.Email_Placeholder" type="text">
                  </div>
                </div>
                <div class="padding">
                  <label>{{FormSection.Phone_Label}}<span>*</span></label>
                  <div class="input-group">
                    <input name="phone" class="form-control" v-model="cntcontact" :placeholder="FormSection.Phone_Placeholder" type="text">
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="padding">
                  <label>{{FormSection.Message_Label}}<span>*</span></label>
                  <div class="input-group input-group2">
                    <textarea class="form-control" id="exampleTextarea" rows="5" :placeholder="FormSection.Message_Placeholder" v-model="cntmessage"></textarea>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <button class="blue-btn" v-on:click.prevent="sendcontact">{{FormSection.Submit_Button_Label}}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <section class="map-responsive">
      <iframe
        :src="MainArea.Map_Link"
        style="border:0" allowfullscreen="" width="600" height="450" frameborder="0"></iframe>
    </section>
  </div>
  <register></register>
  <footer>
    <footeritem></footeritem>
  </footer>
  <a href="#" class="scrolltotop fadeInRight animated" data-wow-delay="0ms" data-wow-duration="1500ms"
    style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInRight;"
    style="display: inline;"><i class="fa fa-angle-double-up"></i></a>
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/modernizr.js"></script>
  <script src="js/main.js"></script>
  <script src="/assets/js/vue.min.js?v=202002060000"></script>
  <script src="/assets/js/vue-i18n.js?v=201912240000"></script>
  <script src="/assets/js/axios.min.js?v=201912240000"></script>
  <script src="/Resources/HubUrls/HubServiceUrls.js?v=202008060000"></script>
  <script src="/CommonFuntions/CommonFunctions.js?v=202008240000"></script>
  <script src="/assets/plugins/moment/moment.min.js?v=1034"></script>
  <script src="/assets/plugins/alertifyJs/alertify.min.js?v=201905200000"></script>
  <script src="servicejs/contact.js"></script>
  <script src="master/master.js"></script>
  <script src="js/custom.js"></script>
</body>

</html>