<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>GSA Registration</title>
  <link rel="shortcut icon" href="images/favicon.png" type="image/png">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link href="css/media.css" rel="stylesheet" type="text/css">
  <link href="css/animate.min.css" rel="stylesheet" type="text/css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="plugins/alertifyJs/alertify.min.css" rel="stylesheet" />
  <link href="plugins/alertifyJs/default.min.css" rel="stylesheet" />
  <link href="css/vue-loading.css" rel="stylesheet" />
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>
  <header>
    <headeritem></headeritem>
  </header>
  <div id="gsaregistration" v-cloak>
    <div class="vld-parent">
      <loading :active.sync="isLoading" :can-cancel="false" :is-full-page="fullPage"></loading>
    </div>
    <section class="inner_banner p-0" :style="{ background: 'url(' + BannerSection.Image1920x550px+ ')'}">
      <div class="banner_text fadeInUp animated" data-wow-delay="0ms" data-wow-duration="1500ms"
        style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
        <h1 class="text-center">{{BannerSection.Heading}}</h1>
      </div>
    </section>
    <section class="benefits-sec white-bg register_form">
      <div class="container-fluid">
        <div class="row fadeInUp animated" data-wow-delay="0ms" data-wow-duration="1500ms"
          style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
          <div class="inner">
            <form>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="padding">
                  <label>{{FormSection.Company_Name_Label}}<span>*</span></label>
                  <div class="input-group">
                    <input name="company-name" class="form-control" v-model="companyName" :placeholder="FormSection.Company_Name_Placeholder"
                      type="text">
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="padding">
                  <label>{{FormSection.Contact_Label}}<span>*</span></label>
                  <div class="input-group">
                    <input name="contact" class="form-control" v-model="cntNumber" :placeholder="FormSection.Contact_Placeholder" type="text">
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="padding">
                  <label>{{FormSection.Email_Label}}<span>*</span></label>
                  <div class="input-group">
                    <input name="email" class="form-control" v-model="email" :placeholder="FormSection.Email_Placeholder" type="text">
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="padding">
                  <label>{{FormSection.Address_Label}}<span>*</span></label>
                  <div class="input-group input-group2">
                    <textarea class="form-control" id="exampleTextarea" rows="5" v-model="address" :placeholder="FormSection.Address_Placeholder"></textarea>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="padding">
                  <label>{{FormSection.Message_Label}}</label>
                  <div class="input-group input-group2">
                    <textarea class="form-control" id="exampleTextarea" rows="5" v-model="message" :placeholder="FormSection.Message_Placeholder"></textarea>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
              <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <div class="padding">
                  <div class="g-recaptcha">
                    <img src="images/newCaptchaAnchor.gif" alt="">
                  </div>
                </div>
              </div> -->
              <div class="clearfix"></div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <button class="yellow-btn" v-on:click.prevent="cancelBtn">{{FormSection.Cancel_Button_Label}}</button><button class="blue-btn" v-on:click.prevent="sendGsa">{{FormSection.Submit_Button_Label}}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
  <footer>
    <footeritem></footeritem>
  </footer>
  <a href="#" class="scrolltotop fadeInRight animated" data-wow-delay="0ms" data-wow-duration="1500ms"
    style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInRight;"
    style="display: inline;"><i class="fa fa-angle-double-up"></i></a>
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/modernizr.js"></script>
  <script src="js/main.js"></script>
  <script src="/assets/js/vue.min.js?v=202002060000"></script>
  <script src="/assets/js/vue-i18n.js?v=201912240000"></script>
  <script src="/assets/js/axios.min.js?v=201912240000"></script>
  <script src="/Resources/HubUrls/HubServiceUrls.js?v=202008060000"></script>
  <script src="/CommonFuntions/CommonFunctions.js?v=202008240000"></script>
  <script src="/assets/plugins/moment/moment.min.js?v=1034"></script>
  <script src="/assets/plugins/alertifyJs/alertify.min.js?v=201905200000"></script>
  <script src="js/vue-loading-overlay@3.min.js"></script>
  <script>
    Vue.use(VueLoading);
    Vue.component('loading', VueLoading)
  </script>
  <script src="servicejs/gsaregistration.js"></script>
  <script src="master/master.js"></script>
  <script src="js/custom.js"></script>
</body>

</html>