<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Nirvana Travel and Tourism</title>
  <link rel="shortcut icon" href="images/favicon.png" type="image/png">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link href="css/media.css" rel="stylesheet" type="text/css">
  <link href="css/animate.min.css" rel="stylesheet" type="text/css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="plugins/alertifyJs/alertify.min.css" rel="stylesheet" />
  <link href="plugins/alertifyJs/default.min.css" rel="stylesheet" />
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>
  <header>
    <headeritem></headeritem>
  </header>

  <div id="homepage" v-cloak>
    <section class="p-0">
      <!-- Carousel -->
      <div class="container-fluid">
        <div class="row">

          <div id="carousel-example-generic" class="carousel slide carousel-fade carousel-animate carousel-bg"
            data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="carousel-caption">
                <div class="hero fadeInLeft animated">
                  <h1><span>{{bannerSection.Title_1}}</span>{{bannerSection.Title_2}}</h1>
                  <a href="travel-company-registration.html" class="yellow-btn">{{bannerSection.Register_Button_Label}}
                    <br>
                    <span>{{bannerSection.Travel_Company_Button_Label}}</span></a>
                  <a href="gsa-registration.html" class="blue-btn">{{bannerSection.Register_Button_Label}} <br>
                    <span>{{bannerSection.GSA_Button_Label}}</span></a>
                </div>
                <div class="login_div fadeInRight animated">
                  <h4>{{loginContent.Login_Label}}</h4>
                  <div class="login-form">
                    <form action="javascript:sendLogin()">
                      <div class="sec">
                        <label>{{loginContent.Agency_Code_Label}}</label>
                        <input name="agency code" id="txtAgencyCode" class="form-control"
                          :placeholder="loginContent.Agency_Code_Placeholder" type="text">
                      </div>
                      <div class="sec">
                        <label>{{loginContent.Username_Label}}</label>
                        <input name="username" id="txtUname" class="form-control"
                          :placeholder="loginContent.Username_Placeholder" type="text">
                      </div>
                      <div class="sec">
                        <label>{{loginContent.Password_Label}}</label>
                        <input name="password" id="txtPwd" class="form-control"
                          :placeholder="loginContent.Password_Placeholder" type="password">
                      </div>
                      <div class="sec text-center">
                        <button class="yellow-btn">{{loginContent.Button_Label}}</button>
                        <div id="loginLoader" class="btn_load" style="display:none;"><i
                            class="fa fa-spinner fa-spin"></i></div>
                      </div>
                    </form>
                    <div class="remember_area">
                      <a class="forgot_click">{{loginContent.Forgot_Password_Label}}</a>
                    </div>
                  </div>
                  <div class="forgot_form">
                    <form action="javascript:forgotPassword()">

                      <div class="sec">
                        <label>{{loginContent.Agency_Code_Label}}</label>
                        <input name="agency code" id="txtAgency" class="form-control"
                          :placeholder="loginContent.Agency_Code_Placeholder" type="text">
                      </div>
                      <div class="sec">
                        <label>{{loginContent.Email_Label}}</label>
                        <input name="agency code" id="txtEmail" class="form-control"
                          :placeholder="loginContent.Email_Placeholder" type="text">
                      </div>

                      <div class="sec text-center">
                        <button class="yellow-btn">{{loginContent.Sent_Button_Label}}</button>
                        <div id="loderForgot" class="btn_load" style="display:none;"><i
                            class="fa fa-spinner fa-spin"></i></div>
                      </div>
                      
                      <a class="back"><i class="fa fa-arrow-left" aria-hidden="true"></i>{{loginContent.Back_To_Login_Label}}</a>
                    </form>
                  </div>
                </div>

              </div>
              <div class="item" v-for="(item,index) in bannerSection.Carousel_List"
                :class="{ 'active': parseInt(index) == 0 }"
                :style="{ background: 'url(' + item.Background_Image_1920_x_921_px+ ')'}">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /carousel -->
    </section>
    <!-- <section class="offer-sec">
      <div class="container-fluid">
        <div class="row title">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center fadeInDown animated" data-wow-delay="0ms"
            data-wow-duration="1500ms"
            style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInDown;">
            <h2><span>{{offersContent.Title_1}}</span>{{offersContent.Title_2}}</h2>
          </div>
        </div>
        <div class="row m-t-30">
          <div class="inner">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 animated" v-for="(offer,index) in offerList"
              :class="['fadeInLeft', index === 0 ? 'fadeInUp' : '', index === 1 ? 'fadeInRight' : '']"
              data-wow-delay="0ms" data-wow-duration="1500ms"
              style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms;">
              <article class="article"><span class="img"><img :src="offer.Image_1024_x_767_px" alt=""><span
                    class="a-category-m ">{{offer.Category}}</span></span>
                <h3><a href="#">{{offer.Title}}</a></h3>
                <p>{{dateFormatter(offer.From_Date)}} - {{dateFormatter(offer.To_Date)}}</p>
                <p class="price">Price starting from: <span>{{offer.Price}}</span></p>
                <p class="so-desc">{{offer.Place}}</p>
              </article>
            </div>
          </div>
        </div>
      </div>
    </section> -->
    <section class="services-sec">
      <div class="container-fluid">
        <div class="row title">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center fadeInDown animated" data-wow-delay="0ms"
            data-wow-duration="1500ms"
            style="visibility: visible; animation-duration: 1500ms; animation-delay: 1500ms; animation-name: fadeInDown;">
            <h2><span>{{servicesContent.Title_1}}</span>{{servicesContent.Title_2}}</h2>
          </div>
        </div>
        <div class="row fadeInUp animated" data-wow-delay="0ms" data-wow-duration="1500ms"
          style="visibility: visible; animation-duration: 1500ms; animation-delay: 1500ms; animation-name: fadeInUp;">
          <div class="inner">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
              <div class="inr">
                <div class="shape"> <svg x="0px" y="0px" width="138px" height="138px" viewBox="0 0 138 138"
                    enable-background="new 0 0 138 138" xml:space="preserve">
                    <g>
                      <path d="M102.871,62.951H88.478c1.456-2.92,2.297-6.198,2.297-9.677C90.774,41.269,81.006,31.5,69,31.5
		s-21.774,9.769-21.774,21.774c0,3.479,0.841,6.757,2.297,9.677H35.129c-2,0-3.629,1.629-3.629,3.63v36.29
		c0,2,1.628,3.629,3.629,3.629h15.018l1.918-1.919l1.919,1.919h48.888c2,0,3.629-1.629,3.629-3.629v-36.29
		C106.5,64.58,104.871,62.951,102.871,62.951z M85.423,63.467c-1.453-1.021-4.058-2.617-7.492-3.807
		c0.462-1.985,0.747-4.119,0.747-6.386c0-2.268-0.285-4.401-0.747-6.386c3.435-1.189,6.039-2.786,7.492-3.807
		c1.847,2.963,2.932,6.449,2.932,10.192S87.27,60.502,85.423,63.467z M61.742,53.274c0-2.007,0.257-3.906,0.666-5.688
		c2.005,0.51,4.213,0.849,6.592,0.849c2.381,0,4.59-0.339,6.594-0.85c0.408,1.781,0.664,3.68,0.664,5.688
		c0,2.007-0.257,3.906-0.666,5.687c-2.005-0.51-4.213-0.848-6.592-0.848c-2.381,0-4.59,0.338-6.594,0.849
		C61.998,57.182,61.742,55.282,61.742,53.274z M63.049,45.242c1.676-5.188,4.532-9.024,5.952-10.716
		c1.421,1.689,4.279,5.519,5.954,10.714c-1.82,0.467-3.817,0.776-5.955,0.776C66.863,46.017,64.869,45.707,63.049,45.242z
		 M69,60.532c2.137,0,4.131,0.31,5.951,0.774c-1.676,5.188-4.532,9.024-5.952,10.715c-1.421-1.688-4.279-5.519-5.954-10.714
		C64.865,60.842,66.862,60.532,69,60.532z M66.192,72.401c-4.907-0.719-9.225-3.266-12.217-6.949
		c1.296-0.899,3.654-2.342,6.74-3.437C62.193,66.647,64.528,70.237,66.192,72.401z M77.284,62.016
		c3.087,1.095,5.445,2.537,6.74,3.437c-2.992,3.684-7.31,6.232-12.217,6.949C73.472,70.237,75.807,66.647,77.284,62.016z
		 M84.024,41.097c-1.296,0.899-3.654,2.342-6.74,3.437c-1.478-4.634-3.813-8.224-5.477-10.386
		C76.715,34.866,81.032,37.413,84.024,41.097z M66.192,34.147c-1.663,2.164-3.998,5.754-5.477,10.386
		c-3.087-1.095-5.445-2.535-6.74-3.437C56.968,37.413,61.285,34.866,66.192,34.147z M52.577,43.082
		c1.453,1.021,4.058,2.617,7.492,3.807c-0.462,1.984-0.747,4.118-0.747,6.386c0,2.267,0.285,4.4,0.747,6.386
		c-3.435,1.189-6.039,2.786-7.492,3.807c-1.847-2.965-2.932-6.449-2.932-10.192S50.73,46.045,52.577,43.082z M104.081,102.871
		c0,0.666-0.543,1.21-1.21,1.21H54.984l-1.71-1.711v-5.548h-2.42v5.548l-1.71,1.711H35.129c-0.667,0-1.209-0.544-1.209-1.21v-36.29
		c0-0.667,0.542-1.21,1.209-1.21h14.016l1.71,1.71v5.548h2.42v-4.335c3.967,4.152,9.543,6.755,15.726,6.755
		c7.568,0,14.241-3.887,18.146-9.765v0.087h15.726c0.667,0,1.21,0.543,1.21,1.21V102.871z" />
                      <path d="M50.854,75.049h2.42v4.838h-2.42V75.049z" />
                      <path d="M50.854,82.307h2.42v4.839h-2.42V82.307z" />
                      <path d="M50.854,89.564h2.42v4.839h-2.42V89.564z" />
                      <path d="M36.339,70.21h2.419v4.839h-2.419V70.21z" />
                      <path d="M46.017,70.21h2.419v4.839h-2.419V70.21z" />
                      <path d="M36.339,78.678h12.097v2.419H36.339V78.678z" />
                      <path d="M36.339,83.517h12.097v2.419H36.339V83.517z" />
                      <path d="M36.339,88.354h12.097v2.42H36.339V88.354z" />
                      <path d="M36.339,93.193h12.097v2.42H36.339V93.193z" />
                      <path d="M36.339,98.032h12.097v2.419H36.339V98.032z" />
                      <path d="M41.177,70.21h2.419v4.839h-2.419V70.21z" />
                      <path d="M92.754,82.307h-3.93l-3.226-9.678h-4.502v9.678h-15.66l-1.612-4.839h-4.502v8.468c0,3.335,2.714,6.048,6.049,6.048h13.307
		v9.678h4.501l3.227-9.678h11.48c2.082,0,3.775-1.693,3.775-3.775c0-1.009-0.392-1.956-1.105-2.67
		C98.471,83.455,95.7,82.307,92.754,82.307z M83.517,75.049h0.337l2.421,7.258h-2.758V75.049z M61.742,79.887h0.337l1.612,4.839
		h-1.949V79.887z M81.434,99.242h-0.337v-8.468h3.159L81.434,99.242z M97.886,89.564H87.211l0.402-1.21h-8.936v1.21H65.371
		c-1.578,0-2.923-1.011-3.423-2.419h5.102l-0.807-2.42h26.511c2.3,0,4.463,0.896,6.091,2.523c0.257,0.257,0.397,0.597,0.397,0.959
		C99.242,88.956,98.634,89.564,97.886,89.564z" />
                    </g>
                  </svg> </div>
                <h3>{{servicesContent.Air_Tickets_Title}}</h3>
                <p>{{servicesContent.Air_Tickets_Description}}</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
              <div class="inr">
                <div class="shape"> <svg x="0px" y="0px" width="138px" height="138px" viewBox="0 0 138 138"
                    enable-background="new 0 0 138 138" xml:space="preserve">
                    <g>
                      <path d="M57.515,36.519v-0.02h-7.153c-1.292,0-2.343,1.051-2.343,2.343v3.163c0,0.86,0.467,1.611,1.159,2.019v2.644H34.955
		c-1.292,0-2.343,1.051-2.343,2.343v3.163c0,0.86,0.467,1.611,1.159,2.019v44.927h-1.08c-0.658,0-1.191,0.533-1.191,1.191
		s0.533,1.191,1.191,1.191l0,0h72.617c0.658,0,1.191-0.533,1.191-1.191s-0.533-1.191-1.191-1.191h-1.08V76.308
		c0-0.658-0.533-1.191-1.191-1.191s-1.191,0.533-1.191,1.191v22.811H88.821V54.516h13.024v16.231c0,0.658,0.533,1.191,1.191,1.191
		s1.191-0.533,1.191-1.191V54.191c0.692-0.407,1.159-1.158,1.159-2.019V49.01c0-1.292-1.051-2.343-2.343-2.343H88.821v-2.644
		c0.692-0.407,1.159-1.158,1.159-2.019v-3.163c0-1.292-1.051-2.343-2.343-2.343h-7.152v0.02 M58.509,86.079v-3.083h20.982v3.083
		C79.344,86.079,58.656,86.079,58.509,86.079L58.509,86.079z M60.458,88.463h7.35v10.655h-7.35V88.463z M70.191,99.118V88.463h7.35
		v10.655H70.191z M79.925,99.118V88.427c1.104-0.188,1.949-1.149,1.949-2.308v-3.163c0-1.292-1.051-2.343-2.343-2.343H58.469
		c-1.292,0-2.343,1.051-2.343,2.343v3.163c0,1.158,0.845,2.12,1.95,2.308v10.691h-6.514c0-2.899,0-53.606,0-54.771h34.877v54.771
		H79.925z M88.821,49.05h14.184v3.083H88.821V49.05z M59.898,36.525h18.203v-0.026H59.898V36.525z M50.402,38.882h37.195v3.083
		H50.402V38.882z M34.995,49.05h14.184v3.083H34.995V49.05z M36.155,54.516h13.024v44.603H36.155V54.516z" />
                      <path d="M60.173,48.158H57.24c-1.324,0-2.401,1.077-2.401,2.401v3.377c0,1.324,1.077,2.401,2.401,2.401h2.933
		c1.324,0,2.401-1.077,2.401-2.401V50.56C62.574,49.235,61.497,48.158,60.173,48.158z M60.191,53.937
		c0,0.01-0.008,0.019-0.018,0.019h-2.932c-0.01,0-0.018-0.008-0.018-0.019V50.56c0-0.01,0.008-0.019,0.018-0.019h2.932
		c0.01,0,0.018,0.008,0.018,0.019V53.937z" />
                      <path
                        d="M70.466,48.158h-2.932c-1.324,0-2.401,1.077-2.401,2.401v3.377c0,1.324,1.077,2.401,2.401,2.401h2.932
		c1.324,0,2.401-1.077,2.401-2.401V50.56C72.867,49.235,71.79,48.158,70.466,48.158z M70.484,53.937c0,0.01-0.008,0.019-0.019,0.019
		h-2.932c-0.01,0-0.019-0.008-0.019-0.019V50.56c0-0.01,0.009-0.019,0.019-0.019h2.932c0.011,0,0.019,0.008,0.019,0.019V53.937z" />
                      <path
                        d="M80.76,48.158h-2.933c-1.324,0-2.401,1.077-2.401,2.401v3.377c0,1.324,1.077,2.401,2.401,2.401h2.933
		c1.323,0,2.4-1.077,2.4-2.401V50.56C83.16,49.235,82.083,48.158,80.76,48.158z M80.777,53.937c0,0.01-0.008,0.019-0.018,0.019
		h-2.933c-0.01,0-0.018-0.008-0.018-0.019V50.56c0-0.01,0.008-0.019,0.018-0.019h2.933c0.01,0,0.018,0.008,0.018,0.019V53.937z" />
                      <path d="M60.173,58.798H57.24c-1.324,0-2.401,1.077-2.401,2.401v3.377c0,1.324,1.077,2.401,2.401,2.401h2.933
		c1.324,0,2.401-1.077,2.401-2.401v-3.377C62.574,59.875,61.497,58.798,60.173,58.798L60.173,58.798z M60.191,64.576
		c0,0.01-0.008,0.019-0.018,0.019h-2.932c-0.01,0-0.018-0.008-0.018-0.019v-3.377c0-0.011,0.008-0.019,0.018-0.019h2.932
		c0.01,0,0.018,0.008,0.018,0.019V64.576z" />
                      <path d="M70.466,58.798h-2.932c-1.324,0-2.401,1.077-2.401,2.401v3.377c0,1.324,1.077,2.401,2.401,2.401h2.932
		c1.324,0,2.401-1.077,2.401-2.401v-3.377C72.867,59.875,71.79,58.798,70.466,58.798L70.466,58.798z M70.484,64.576
		c0,0.011-0.008,0.019-0.019,0.019h-2.932c-0.01,0-0.019-0.008-0.019-0.019v-3.377c0-0.011,0.009-0.019,0.019-0.019h2.932
		c0.011,0,0.019,0.008,0.019,0.019V64.576z" />
                      <path d="M80.76,58.798h-2.933c-1.324,0-2.401,1.077-2.401,2.401v3.377c0,1.324,1.077,2.401,2.401,2.401h2.933
		c1.323,0,2.4-1.077,2.4-2.401v-3.377C83.16,59.875,82.083,58.798,80.76,58.798L80.76,58.798z M80.777,64.576
		c0,0.01-0.008,0.019-0.018,0.019h-2.933c-0.01,0-0.018-0.008-0.018-0.019v-3.377c0-0.011,0.008-0.019,0.018-0.019h2.933
		c0.01,0,0.018,0.008,0.018,0.019V64.576z" />
                      <path d="M60.173,69.438H57.24c-1.324,0-2.401,1.077-2.401,2.401v3.377c0,1.324,1.077,2.401,2.401,2.401h2.933
		c1.324,0,2.401-1.077,2.401-2.401v-3.377C62.574,70.515,61.497,69.438,60.173,69.438z M60.191,75.216
		c0,0.01-0.008,0.019-0.018,0.019h-2.932c-0.01,0-0.018-0.008-0.018-0.019v-3.377c0-0.01,0.008-0.019,0.018-0.019h2.932
		c0.01,0,0.018,0.009,0.018,0.019V75.216z" />
                      <path d="M70.466,69.438h-2.932c-1.324,0-2.401,1.077-2.401,2.401v3.377c0,1.324,1.077,2.401,2.401,2.401h2.932
		c1.324,0,2.401-1.077,2.401-2.401v-3.377C72.867,70.515,71.79,69.438,70.466,69.438z M70.484,75.216
		c0,0.011-0.008,0.019-0.019,0.019h-2.932c-0.01,0-0.019-0.008-0.019-0.019v-3.377c0-0.01,0.009-0.019,0.019-0.019h2.932
		c0.011,0,0.019,0.008,0.019,0.019V75.216z" />
                      <path
                        d="M80.76,69.438h-2.933c-1.324,0-2.401,1.077-2.401,2.401v3.377c0,1.324,1.077,2.401,2.401,2.401h2.933
		c1.323,0,2.4-1.077,2.4-2.401v-3.377C83.16,70.515,82.083,69.438,80.76,69.438z M80.777,75.216c0,0.01-0.008,0.019-0.018,0.019
		h-2.933c-0.01,0-0.018-0.008-0.018-0.019v-3.377c0-0.01,0.008-0.019,0.018-0.019h2.933c0.01,0,0.018,0.009,0.018,0.019V75.216z" />
                      <path
                        d="M99.201,61.199c0-1.324-1.078-2.401-2.401-2.401h-2.933c-1.324,0-2.401,1.077-2.401,2.401v3.377
		c0,1.324,1.077,2.401,2.401,2.401H96.8c1.323,0,2.401-1.077,2.401-2.401V61.199z M96.817,64.576c0,0.01-0.008,0.019-0.018,0.019
		h-2.933c-0.01,0-0.018-0.008-0.018-0.019v-3.377c0-0.011,0.008-0.019,0.018-0.019H96.8c0.01,0,0.018,0.008,0.018,0.019V64.576z" />
                      <path
                        d="M99.201,71.839c0-1.324-1.078-2.401-2.401-2.401h-2.933c-1.324,0-2.401,1.077-2.401,2.401v3.377
		c0,1.324,1.077,2.401,2.401,2.401H96.8c1.323,0,2.401-1.077,2.401-2.401V71.839z M96.817,75.216c0,0.01-0.008,0.019-0.018,0.019
		h-2.933c-0.01,0-0.018-0.008-0.018-0.019v-3.377c0-0.01,0.008-0.019,0.018-0.019H96.8c0.01,0,0.018,0.009,0.018,0.019V75.216z" />
                      <path
                        d="M96.8,80.077h-2.933c-1.324,0-2.401,1.077-2.401,2.401v3.377c0,1.324,1.077,2.401,2.401,2.401H96.8
		c1.323,0,2.401-1.077,2.401-2.401v-3.377C99.201,81.154,98.123,80.077,96.8,80.077z M96.817,85.855c0,0.01-0.008,0.019-0.018,0.019
		h-2.933c-0.01,0-0.018-0.008-0.018-0.019v-3.377c0-0.01,0.008-0.019,0.018-0.019H96.8c0.01,0,0.018,0.008,0.018,0.019V85.855z" />
                      <path d="M44.133,58.798H41.2c-1.324,0-2.401,1.077-2.401,2.401v3.377c0,1.324,1.077,2.401,2.401,2.401h2.933
		c1.324,0,2.401-1.077,2.401-2.401v-3.377C46.534,59.875,45.457,58.798,44.133,58.798L44.133,58.798z M44.151,64.576
		c0,0.01-0.008,0.019-0.018,0.019H41.2c-0.01,0-0.018-0.008-0.018-0.019v-3.377c0-0.011,0.008-0.019,0.018-0.019h2.933
		c0.01,0,0.018,0.008,0.018,0.019V64.576L44.151,64.576z" />
                      <path d="M44.133,69.438H41.2c-1.324,0-2.401,1.077-2.401,2.401v3.377c0,1.324,1.077,2.401,2.401,2.401h2.933
		c1.324,0,2.401-1.077,2.401-2.401v-3.377C46.534,70.515,45.457,69.438,44.133,69.438z M44.151,75.216
		c0,0.01-0.008,0.019-0.018,0.019H41.2c-0.01,0-0.018-0.008-0.018-0.019v-3.377c0-0.01,0.008-0.019,0.018-0.019h2.933
		c0.01,0,0.018,0.009,0.018,0.019V75.216L44.151,75.216z" />
                      <path d="M44.133,80.077H41.2c-1.324,0-2.401,1.077-2.401,2.401v3.377c0,1.324,1.077,2.401,2.401,2.401h2.933
		c1.324,0,2.401-1.077,2.401-2.401v-3.377C46.534,81.154,45.457,80.077,44.133,80.077z M44.151,85.855
		c0,0.01-0.008,0.019-0.018,0.019H41.2c-0.01,0-0.018-0.008-0.018-0.019v-3.377c0-0.01,0.008-0.019,0.018-0.019h2.933
		c0.01,0,0.018,0.008,0.018,0.019V85.855L44.151,85.855z" />
                    </g>
                  </svg> </div>
                <h3>{{servicesContent.Accommodation_Title}}</h3>
                <p>{{servicesContent.Accommodation_Description}}</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
              <div class="inr">
                <div class="shape"> <svg x="0px" y="0px" width="138px" height="138px" viewBox="0 0 138 138"
                    enable-background="new 0 0 138 138" xml:space="preserve">
                    <g>
                      <path
                        d="M39.373,101.445h59.254c4.314,0,7.873-3.591,7.873-7.907V54.31c0-4.316-3.559-7.81-7.873-7.81H82.695v-3.668
		c0-3.417-2.763-6.277-6.179-6.277H61.582c-3.452,0.035-6.242,2.825-6.277,6.277V46.5H39.373c-4.315,0-7.873,3.493-7.873,7.81
		v39.229C31.5,97.854,35.058,101.445,39.373,101.445z M57.913,42.832c0.034-2.012,1.657-3.635,3.668-3.669h14.935
		c1.978,0,3.57,1.69,3.57,3.669V46.5H57.913V42.832z M103.729,93.619c0,2.882-2.336,5.218-5.218,5.218H39.326
		c-2.881,0-5.217-2.336-5.217-5.218V54.326c0-2.881,2.336-5.217,5.217-5.217h59.185c2.882,0,5.218,2.336,5.218,5.217V93.619z" />
                      <path d="M58.503,75.542c0.107-0.409,0.351-1.008,0.517-1.211c0.316-0.293,0.73-0.458,1.161-0.462
		c0.429-0.004,0.842,0.158,1.154,0.453c0.305,0.318,0.477,0.741,0.481,1.183c0,0.72,0.584,1.304,1.305,1.304
		c0.72,0,1.304-0.584,1.304-1.304c-0.01-0.438,0.159-0.858,0.467-1.168c0.309-0.309,0.731-0.479,1.167-0.468
		c0.429-0.004,0.843,0.158,1.155,0.453c0.304,0.318,0.477,0.741,0.481,1.183v8.823c0,0.182-0.147,0.329-0.329,0.329
		c-0.182,0-0.33-0.147-0.33-0.329c0-0.721-0.584-1.305-1.304-1.305s-1.304,0.584-1.304,1.305c0,1.623,1.315,2.938,2.938,2.938
		c1.622,0,2.938-1.314,2.938-2.938v-8.823c-0.011-0.438,0.159-0.858,0.468-1.168c0.309-0.309,0.73-0.479,1.167-0.468
		c0.429-0.004,0.843,0.158,1.154,0.453c0.305,0.319,0.477,0.741,0.481,1.183c0,0.72,0.584,1.304,1.304,1.304
		c0.721,0,1.305-0.584,1.305-1.304c-0.011-0.438,0.159-0.858,0.468-1.168c0.31-0.309,0.73-0.479,1.168-0.468
		c0.427-0.004,0.839,0.158,1.15,0.45c0.166,0.191,0.413,0.796,0.527,1.223c0.167,0.635,0.778,1.047,1.429,0.963
		c0.65-0.085,1.138-0.639,1.137-1.295C82.038,68.015,76.196,62.193,69,62.193c-7.197,0-13.038,5.821-13.063,13.017
		c0,0.656,0.486,1.21,1.137,1.295C57.725,76.589,58.336,76.177,58.503,75.542z M69,64.757c4.284,0.004,8.133,2.618,9.718,6.599
		c-1.377-0.295-2.811,0.104-3.837,1.065c-0.797-0.747-1.85-1.162-2.941-1.16c-1.091,0.004-2.14,0.419-2.938,1.16
		c-0.796-0.747-1.849-1.162-2.941-1.16c-1.09,0.004-2.139,0.419-2.938,1.16c-0.797-0.747-1.848-1.162-2.94-1.16
		c-0.303,0-0.604,0.032-0.9,0.096C60.865,67.376,64.715,64.761,69,64.757z" />
                      <path d="M69,93.793c10.541,0,19.086-8.545,19.086-19.087c0-10.54-8.545-19.086-19.086-19.086s-19.086,8.546-19.086,19.086
		C49.926,85.242,58.464,93.78,69,93.793z M69,58.229c9.101,0,16.478,7.377,16.478,16.477c0,9.101-7.377,16.479-16.478,16.479
		s-16.478-7.378-16.478-16.479C52.533,65.61,59.904,58.239,69,58.229z" />
                    </g>
                  </svg> </div>
                <h3>{{servicesContent.Transfers_Title}}</h3>
                <p>{{servicesContent.Travel_Insurance_Description}}</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
              <div class="inr">
                <div class="shape"> <svg x="0px" y="0px" width="138px" height="138px" viewBox="0 0 138 138"
                    enable-background="new 0 0 138 138" xml:space="preserve">
                    <g>
                      <g>
                        <g>
                          <g>
                            <path d="M54.689,73.281L33.69,52.915L54.689,32.55v11.901l49.823,0.001v16.926l-49.823,0.004V73.281z
					 M35.82,52.915l17.361,16.837V59.92l49.823-0.003V45.912l-49.823-0.003v-9.833L35.82,52.915z" />
                            <path d="M55.177,74.423L33,52.915l22.177-21.507v12.57L105,43.979v17.873l-49.823,0.003V74.423z M34.379,52.915l19.822,19.224
					V60.91l49.823-0.003V44.925l-49.823-0.001V33.692L34.379,52.915z M53.669,70.894L35.131,52.915l18.538-17.981v10.502
					l49.822,0.003v14.949l-49.822,0.004V70.894z M36.511,52.915L52.693,68.61v-9.164l49.822-0.003V46.385l-49.822-0.003v-9.163
					L36.511,52.915z" />
                          </g>
                        </g>
                      </g>
                      <g>
                        <g>
                          <g>
                            <path d="M83.309,93.552l-49.82-0.004V76.623l49.82-0.001V64.72l21.001,20.364L83.309,105.45V93.552z
					 M84.818,68.247v9.832l-49.822,0.004v14.004l49.822,0.004v9.831l17.361-16.837L84.818,68.247z" />
                            <path d="M82.821,106.592V94.025l-49.82-0.004V76.149l49.82-0.001v-12.57l22.178,21.506L82.821,106.592z M33.977,93.075
					l49.819,0.004v11.229l19.823-19.225L83.796,65.861v11.233l-49.819,0.001V93.075z M84.33,103.063v-10.5l-49.822-0.004V77.609
					l49.822-0.004V67.104l18.539,17.979L84.33,103.063z M35.484,91.613l49.822,0.004v9.162l16.184-15.695L85.306,69.388v9.164
					l-49.822,0.003V91.613z" />
                          </g>
                        </g>
                      </g>
                    </g>
                  </svg> </div>
                <h3>{{servicesContent.Transfers_Title}}</h3>
                <p>{{servicesContent.Transfers_Description}}</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 col-lg-offset-3">
              <div class="inr">
                <div class="shape"> <svg x="0px" y="0px" width="138px" height="138px" viewBox="0 0 138 138"
                    enable-background="new 0 0 138 138" xml:space="preserve">
                    <g>
                      <circle cx="44.571" cy="63.837" r="2.714" />
                      <circle cx="93.428" cy="63.837" r="2.714" />
                      <path d="M102.928,67.908c0.515,0,0.984-0.29,1.214-0.75l2.715-5.429c0.094-0.188,0.144-0.396,0.144-0.606v-5.429
		c-0.001-0.294-0.097-0.579-0.272-0.814l-4.033-5.356c-0.109-0.146-0.229-0.283-0.357-0.411l-6.456-6.457
		c-3.809-3.83-8.992-5.977-14.395-5.962h-9.775c-4.699,0.004-9.252,1.63-12.891,4.602l-9.305,7.613h-6.07
		C36.572,48.908,31,54.479,31,61.353v5.198c0,0.749,0.608,1.357,1.357,1.357h5.167c0.28,0.485,0.61,0.94,0.984,1.356H32.38
		c-0.225-0.003-0.447,0.048-0.647,0.151c-0.522,0.271-0.811,0.849-0.714,1.43l1.358,8.144c0.108,0.653,0.675,1.134,1.339,1.134
		h13.942c-1.539,2.374-1.194,5.502,0.824,7.484l11.237,10.993c1.782,1.733,4.169,2.705,6.655,2.706
		c0.481,0.001,0.96-0.036,1.435-0.109l13.51-2.074h12.11c0,0.749,0.607,1.356,1.356,1.356h10.857c0.75,0,1.357-0.607,1.357-1.356
		V78.767c-0.001-0.656-0.471-1.219-1.116-1.335l1.098-6.586c0.097-0.581-0.192-1.159-0.714-1.43
		c-0.201-0.103-0.423-0.154-0.647-0.151H99.49c0.374-0.417,0.703-0.872,0.984-1.356H102.928z M102.928,54.337h-1.356
		c-0.749,0-1.357,0.607-1.357,1.357c0,0.75,0.608,1.357,1.357,1.357h2.714v3.75l-2.195,4.392h-0.634
		c0.753-4.433-2.229-8.639-6.663-9.393c-4.433-0.754-8.639,2.23-9.393,6.663c-0.153,0.903-0.153,1.827,0,2.73h-4.981l1.754-1.754
		c0.255-0.254,0.398-0.6,0.398-0.96V51.623h18.321L102.928,54.337z M51.619,67.908h34.762c0.28,0.485,0.61,0.94,0.983,1.356h-36.73
		C51.007,68.848,51.338,68.393,51.619,67.908z M79.856,51.623v10.294l-3.276,3.276H58.143V51.623H79.856z M82.571,39.442
		c1.658,0.098,3.294,0.43,4.858,0.987l3.885,8.479h-8.743V39.442z M98.295,48.908H94.3l-2.984-6.515
		c0.949,0.641,1.836,1.372,2.646,2.182L98.295,48.908z M60.538,43.396c3.154-2.575,7.1-3.984,11.173-3.988h8.146v9.5H53.801
		L60.538,43.396z M33.715,65.193v-3.84c0.006-5.372,4.359-9.725,9.73-9.73h11.983v13.571h-2.83c0.754-4.433-2.229-8.639-6.662-9.393
		c-4.434-0.754-8.639,2.23-9.393,6.663c-0.153,0.903-0.153,1.827,0,2.73H33.715z M39.143,63.837c0-2.999,2.43-5.429,5.429-5.429
		S50,60.838,50,63.837s-2.43,5.428-5.429,5.428C41.575,69.262,39.146,66.833,39.143,63.837z M81.213,96.408
		c-0.067,0-0.137,0.005-0.205,0.016l-13.614,2.09c-2.111,0.322-4.25-0.364-5.778-1.854L50.377,85.665
		c-0.729-0.715-1.076-1.733-0.933-2.745c0.109-0.778,0.495-1.493,1.088-2.01c0.584-0.511,1.337-0.791,2.115-0.787h0.448
		c0.524,0.001,1.04,0.131,1.503,0.376c-1.289,2.711-0.135,5.952,2.576,7.24c0.728,0.346,1.522,0.525,2.327,0.526h14.929
		c0.749,0,1.356-0.608,1.356-1.357s-0.607-1.356-1.356-1.356H59.5c-1.497-0.004-2.71-1.217-2.714-2.715
		c-0.005-0.646,0.226-1.273,0.649-1.762c0.517-0.604,1.271-0.951,2.065-0.952h25.785v16.285H81.213z M88,96.408V80.123h5.428v16.285
		H88z M104.285,97.766h-8.143V80.123h8.143V97.766z M103.136,77.408H34.865l-0.906-5.429h70.081L103.136,77.408z M88,63.837
		c0-2.999,2.431-5.429,5.428-5.429c2.998,0,5.429,2.43,5.429,5.429s-2.431,5.428-5.429,5.428C90.432,69.262,88.003,66.833,88,63.837
		z" />
                      <path d="M71.714,54.337h5.429v2.714h-5.429V54.337z" />
                      <path d="M98.856,92.337h2.715v2.715h-2.715V92.337z" />
                    </g>
                  </svg> </div>
                <h3>{{servicesContent.Rent_A_Car_Title}}</h3>
                <p>{{servicesContent.Rent_A_Car_Description}}</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
              <div class="inr">
                <div class="shape"> <svg x="0px" y="0px" width="138px" height="138px" viewBox="0 0 138 138"
                    enable-background="new 0 0 138 138" xml:space="preserve">
                    <g>
                      <path
                        d="M50.118,56.548h-2.197c0,6.469,2.863,12.508,7.855,16.57l1.387-1.704C52.686,67.771,50.118,62.353,50.118,56.548z" />
                      <path d="M61.667,98.708h0.776l0.879,7.792h11.971l0.878-7.792h0.776l0.703-5.864H60.965L61.667,98.708z M73.33,104.303h-8.044
		l-0.145-1.277h8.332L73.33,104.303z M75.174,95.041l-0.176,1.47h-0.79l-0.486,4.317h-8.828l-0.239-2.12h4.653v-2.197h-5.69
		l-0.176-1.47H75.174z" />
                      <path d="M50.565,78.117c-0.424-2.46-2.572-4.338-5.151-4.338c-1.828,0-3.511,0.968-4.45,2.486
		c-0.083-0.007-0.165-0.011-0.248-0.011c-1.183,0-2.194,0.75-2.582,1.8c-2.023,0.519-3.508,2.362-3.508,4.522
		c0,2.574,2.094,4.668,4.668,4.668h9.88c2.574,0,4.669-2.094,4.669-4.668C53.844,80.49,52.486,78.71,50.565,78.117z M49.175,85.048
		h-9.88c-1.363,0-2.471-1.108-2.471-2.471c0-1.3,1.015-2.383,2.31-2.466l1.028-0.066v-1.047c0.005-0.302,0.252-0.546,0.555-0.546
		c0.099,0,0.192,0.024,0.276,0.073l1.127,0.651l0.452-1.221c0.438-1.184,1.581-1.979,2.843-1.979c1.668,0,3.025,1.355,3.03,3.022
		l-0.001,1.019l0.987,0.101c1.263,0.129,2.216,1.186,2.216,2.459C51.646,83.939,50.537,85.048,49.175,85.048z" />
                      <path d="M99.44,84.1c-0.398-1.169-1.508-2.013-2.811-2.013c-0.119,0-0.238,0.007-0.356,0.021c-1.027-1.721-2.909-2.82-4.958-2.82
		c-2.877,0-5.269,2.116-5.699,4.874c-2.158,0.626-3.691,2.605-3.691,4.932c0,2.832,2.305,5.137,5.137,5.137h11.176
		c2.832,0,5.137-2.305,5.137-5.137C103.374,86.691,101.705,84.646,99.44,84.1z M98.237,92.033H87.062
		c-1.621,0-2.939-1.318-2.939-2.939c0-1.513,1.133-2.771,2.636-2.924l0.986-0.101v-1.014c0-1.969,1.603-3.57,3.571-3.57
		c1.487,0,2.834,0.937,3.351,2.331l0.452,1.222l1.127-0.651c0.118-0.068,0.248-0.103,0.385-0.103c0.419,0,0.761,0.335,0.771,0.752
		v1.059l1.028,0.066c1.54,0.099,2.747,1.387,2.747,2.933C101.177,90.715,99.857,92.033,98.237,92.033z" />
                      <path d="M90.555,69.816c2.486-3.973,3.8-8.561,3.8-13.269c0-6.714-2.621-13.019-7.379-17.755
		C82.246,34.087,75.977,31.5,69.308,31.5c-0.041,0-0.083,0-0.125,0c-6.688,0.032-12.955,2.647-17.648,7.363
		c-4.691,4.716-7.275,10.996-7.275,17.685c0,4.713,1.316,9.304,3.806,13.278c2.422,3.865,5.848,6.998,9.908,9.063
		c1.961,0.996,3.371,2.777,3.868,4.884l0.028,0.123l1.757,8.083l2.147-0.467l-1.469-6.759h3.904v6.992h2.197v-6.992h3.906
		l-1.471,6.758l2.146,0.468l1.787-8.212c0.498-2.103,1.914-3.885,3.887-4.89C84.717,76.813,88.138,73.679,90.555,69.816z
		 M79.665,76.92c-2.326,1.185-4.056,3.214-4.831,5.636H63.781c-0.774-2.424-2.497-4.449-4.813-5.626
		c-7.717-3.923-12.511-11.732-12.511-20.382c-0.001-12.539,10.199-22.79,22.736-22.85c6.123-0.036,11.891,2.333,16.232,6.653
		c4.341,4.32,6.732,10.073,6.732,16.197C92.157,65.188,87.371,72.994,79.665,76.92z" />
                      <path d="M59.71,56.548c0-8.045,1.778-15.374,4.757-19.605l-1.797-1.265c-3.229,4.587-5.157,12.39-5.157,20.87
		c0,9.32,2.349,17.783,6.129,22.086c0.475,0.54,0.892,1.374,1.207,2.411l2.103-0.64c-0.406-1.334-0.979-2.448-1.658-3.222
		C61.901,73.324,59.71,65.224,59.71,56.548z" />
                      <path d="M74.138,36.954c2.984,4.249,4.766,11.573,4.766,19.594c0,8.667-2.188,16.764-5.574,20.627
		c-0.682,0.778-1.258,1.895-1.664,3.229l2.102,0.642c0.316-1.039,0.737-1.877,1.215-2.423c3.775-4.306,6.119-12.765,6.119-22.075
		c0-8.456-1.931-16.254-5.165-20.857L74.138,36.954z" />
                      <path d="M82.838,73.117l-1.387-1.704c4.477-3.644,7.044-9.062,7.044-14.865c0-3.116-0.767-6.212-2.219-8.952l1.941-1.029
		c1.619,3.057,2.475,6.508,2.475,9.981C90.692,63.016,87.829,69.055,82.838,73.117z M85.584,46.396
		c-0.365-0.585-0.768-1.156-1.195-1.7l1.726-1.359c0.477,0.605,0.925,1.242,1.332,1.894L85.584,46.396z M83.492,43.64
		c-0.464-0.51-0.962-1.001-1.479-1.459l1.457-1.645c0.576,0.51,1.13,1.057,1.647,1.625L83.492,43.64z" />
                      <path d="M75.323,70.44l-2.073-0.729c0.909-2.58,1.992-6.958,1.992-13.163c-0.001-2.838-0.244-5.609-0.726-8.234l2.161-0.396
		c0.505,2.757,0.761,5.66,0.762,8.631C77.438,63.063,76.288,67.699,75.323,70.44z M74.234,46.917
		c-0.157-0.71-0.333-1.403-0.523-2.063l2.111-0.609c0.203,0.703,0.391,1.441,0.558,2.196L74.234,46.917z M73.287,43.508
		c-0.236-0.689-0.493-1.347-0.764-1.953l2.006-0.896c0.298,0.666,0.579,1.386,0.837,2.138L73.287,43.508z" />
                    </g>
                  </svg> </div>
                <h3>{{servicesContent.Attractions_Title}}</h3>
                <p>{{servicesContent.Attractions_Description}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- <section class="news-sec">
      <div class="container-fluid">
        <div class="row title">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center fadeInDown animated" data-wow-delay="0ms"
            data-wow-duration="1500ms"
            style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInDown;">
            <h2><span>{{newsContent.Title_1}}</span>{{newsContent.Title_2}}</h2>
          </div>
        </div>
        <div class="row m-t-30">
          <div class="inner">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 animated" v-for="(news,index) in newsList"
              data-wow-delay="0ms" data-wow-duration="1500ms"
              style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms;"
              :class="['fadeInLeft', index === 0 ? 'fadeInUp' : '', index === 1 ? 'fadeInRight' : '']">
              <article class="article"><span class="img"><img :src="news.Image_640_x_427_px" alt=""><span
                    class="a-category-m ">{{dateFormatter(news.Date)}}</span></span>
                <h3><a href="#">{{news.Title}}</a></h3>
                <p>{{news.Content_1|contentStr}}</p>
                <a href="#" @click="getmoreinfo(news.More_details_page_link)"
                  class="blue-btn">{{newsContent.Button_Label}}</a>
              </article>
            </div>
          </div>
        </div>
      </div>
    </section> -->
    <section class="benefits-sec">
      <div class="container-fluid">
        <div class="row title">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center fadeInDown animated" data-wow-delay="0ms"
            data-wow-duration="1500ms"
            style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInDown;">
            <h2><span>{{benefitsContent.Title_1}}</span>{{benefitsContent.Title_2}}</h2>
          </div>
        </div>
        <div class="row m-t-30">
          <div class="inner">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 animated"
              v-for="(benefit,index) in platformSection.Benefit_List"
              :class="['fadeInLeft', index === 0 ? 'fadeInUp' : '', index === 1 ? 'fadeInRight' : '']"
              data-wow-delay="0ms" data-wow-duration="1500ms"
              style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms;">
              <div class="box">
                <h4>
                  <div class="number">0{{index +1}}</div><span>{{benefit.Title}}</span>
                </h4>
                <p>{{benefit.Description}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center fadeInUp animated" data-wow-delay="0ms"
            data-wow-duration="1500ms"
            style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
            <a href="#" class="blue-btn">{{benefitsContent.Button_Label}}</a>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- <register></register> -->
  <footer>
    <footeritem></footeritem>
  </footer>
  <a href="#" class="scrolltotop fadeInRight animated" data-wow-delay="0ms" data-wow-duration="1500ms"
    style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInRight;"
    style="display: inline;"><i class="fa fa-angle-double-up"></i></a>

  <script src="/assets/js/jquery-3.3.1.min.js?v=201905200000"></script>
  <script src="/assets/js/jquery.cookie.js?v=1034"></script>
  <script src="/assets/plugins/bootstrap/bootstrap.min.js?v=1034"></script>
  <script src="js/custom.js?v=201905200000"></script>
  <script src="js/modernizr.js"></script>
  <script src="js/main.js"></script>


  <script src="/Resources/HubUrls/HubServiceUrls.js?v=202008060000"></script>
  <script src="/assets/js/vue.min.js?v=202002060000"></script>
  <script src="/assets/js/vue-i18n.js?v=201912240000"></script>
  <script src="/assets/js/axios.min.js?v=201912240000"></script>
  <script src="/assets/js/axios.min.js?v=201912240000"></script>
  <script src="/assets/plugins/moment/moment.min.js?v=1034"></script>
  <script src="/assets/plugins/alertifyJs/alertify.min.js?v=201905200000"></script>
  <script src="/CommonFuntions/ExtentionMethods.js?v=201905200000"></script>
  <script src="/Login/LoginComponents/js/login.js?v=202007160000"></script>
  <script src="master/index.js"></script>
  <script src="master/master.js"></script>
  <!-- <script src="js/custom.js"></script> -->
</body>

</html>