<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>News Detail</title>
  <link rel="shortcut icon" href="images/favicon.png" type="image/png">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link href="css/media.css" rel="stylesheet" type="text/css">
  <link href="css/animate.min.css" rel="stylesheet" type="text/css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>
  <header>
    <headeritem></headeritem>
  </header>
  <div id="newsdetail" v-cloak>
    <section class="inner_banner p-0" :style="{ background: 'url(' + PageDetails.Banner_Image_1920x550px+ ')'}">
      <div class="banner_text fadeInUp animated" data-wow-delay="0ms" data-wow-duration="1500ms"
        style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
        <h1 class="text-center">{{PageDetails.Banner_Title}}</h1>
      </div>
    </section>
    <section class="news-detail">
      <div class="container-fluid">
        <div class="row">
          <div class="inner">
            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
              <div class="detail-content">
                <h2>{{NewsDetails.Title}}</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="inner">
            <div class="col-lg-6 col-sm-12 col-md-6 col-xs-12 pull-right">
              <div class="detail-content">
                <img :src="NewsDetails.Image_640_x_427_px" alt="" class="img-responsive">
                <div class="date">{{dateFormatter(NewsDetails.Date)}}</div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-12 col-md-6 col-xs-12">
              <div class="detail-content" v-html="NewsDetails.Content_1">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="inner">
            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
              <div class="detail-content" v-html="NewsDetails.Content_1">
                <!-- <h4>Lorem ipsum dummy text</h4> -->
                <!-- <div class="list">
                  <ul>
                    <li><i class="fa fa-circle" aria-hidden="true"></i>Will learn your business structure and goals</li>
                    <li><i class="fa fa-circle" aria-hidden="true"></i>Will understand your IT infrastructure</li>
                    <li><i class="fa fa-circle" aria-hidden="true"></i>Will determine the optimal solution</li>
                    <li><i class="fa fa-circle" aria-hidden="true"></i>Research to source the optimal carriers </li>
                    <li><i class="fa fa-circle" aria-hidden="true"></i>Stay on to handle all customer service and
                      escalations</li>
                    <li><i class="fa fa-circle" aria-hidden="true"></i>Become an integrated part of your organization’s
                      ecosystem</li>
                  </ul>
                </div> -->
                <!-- <h4>Lorem ipsum dummy text</h4> -->
                <!-- <div class="list">
                  <ol type="1">
                    <li>Borovets<br>Bulgaria | Bulgaria</li>
                    <li>Borovets<br>Bulgaria | Bulgaria</li>
                    <li>Borovets<br>Bulgaria | Bulgaria</li>
                    <li>Borovets<br>Bulgaria | Bulgaria</li>
                    <li>Borovets<br>Bulgaria | Bulgaria</li>
                    <li>Borovets<br>Bulgaria | Bulgaria</li>
                  </ol>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <register></register>
  <footer>
    <footeritem></footeritem>
  </footer>
  <a href="#" class="scrolltotop fadeInRight animated" data-wow-delay="0ms" data-wow-duration="1500ms"
    style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInRight;"
    style="display: inline;"><i class="fa fa-angle-double-up"></i></a>
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/modernizr.js"></script>
  <script src="js/main.js"></script>
  <script src="/assets/js/vue.min.js?v=202002060000"></script>
  <script src="/assets/js/vue-i18n.js?v=201912240000"></script>
  <script src="/assets/js/axios.min.js?v=201912240000"></script>
  <script src="/Resources/HubUrls/HubServiceUrls.js?v=202008060000"></script>
  <script src="/CommonFuntions/CommonFunctions.js?v=202008240000"></script>
  <script src="/assets/plugins/moment/moment.min.js?v=1034"></script>
  <script src="/assets/plugins/alertifyJs/alertify.min.js?v=201905200000"></script>
  <script src="servicejs/newsdetail.js"></script>
  <script src="master/master.js"></script>
  <script src="js/custom.js"></script>
</body>

</html>