<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title></title>
<link rel="shortcut icon" href="images/favicon.png" type="image/png">
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link href="css/media.css" rel="stylesheet" type="text/css">
<link href="css/animate.min.css" rel="stylesheet" type="text/css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
<style>
  [v-cloak] {
    display: none;
  }
</style>
</head>
<body>
  <header>
    <headeritem></headeritem>
  </header>
  <div id="servicedetail" v-cloak>
<section class="inner_banner p-0" :style="{ background: 'url(' + bannerContent.Image_1920_x_550_px+ ')'}">
  <div class="banner_text fadeInUp animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
    <h1 class="text-center">{{bannerContent.Title}}</h1>
    <p>{{bannerContent.Description}}</p>
  </div>
</section>
<section class="benefits-sec intro">
	<div class="container-fluid">
    	<div class="row title"> 
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center fadeInDown animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInDown;">
                <h2><span>{{serviceContent.Span_Title}}</span>{{serviceContent.Title}}</h2>
            </div>
        </div>
        <div class="row m-t-20"> 
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 fadeInUp animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;" v-html="serviceContent.Content">
            </div>
        </div>
    </div>
</section>
<section class="offer-sec" v-if="offerList.length > 0">
	<div class="container-fluid">
    	<div class="row title"> 
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center fadeInDown animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInDown;">
                <h2><span>Special</span>Offers</h2>
            </div>
        </div>
    	<div class="row m-t-30"> 
        	<div class="inner">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 animated" v-for="(offer,index) in offerList"
                :class="['fadeInLeft', index === 0 ? 'fadeInUp' : '', index === 1 ? 'fadeInRight' : '']" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms;">
                      <article class="article"><span class="img"><img :src="offer.Image_1024_x_767_px" alt=""><span class="a-category-m ">{{offer.Category}}</span></span>
                      <h3><a href="#">{{offer.Title}}</a></h3>
                      <p>{{dateFormatter(offer.From_Date)}} - {{dateFormatter(offer.To_Date)}}</p>
                      <p class="price">Price starting from: <span>{{offer.Price}}</span></p>
                      <p class="so-desc"> Valid till : {{dateFormatter(offer.To_Date)}}</p>
                    </article>
                </div>
                <!-- <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 fadeInUp animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                      <article class="article"><span class="img"><img src="images/flght-2.jpg" alt=""><span class="a-category-m ">Flights</span></span>
                      <h3><a href="#">Lorem ipsum text lorem text</a></h3>
                      <p>01.05.2021 - 30.06.2021</p>
                      <p class="price">Price starting from: <span>204 Euro per person</span></p>
                      <p class="so-desc"> Valid till : 30 June 2021</p>
                    </article>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 fadeInRight animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInRight;">
                      <article class="article"><span class="img"><img src="images/flght-3.jpg" alt=""><span class="a-category-m ">Flights</span></span>
                      <h3><a href="#">Lorem ipsum text lorem text</a></h3>
                      <p>01.05.2021 - 30.06.2021</p>
                      <p class="price">Price starting from: <span>204 Euro per person</span></p>
                      <p class="so-desc"> Valid till : 30 June 2021</p>
                    </article>
                </div> -->
            </div>
        </div>
    </div>
</section>
</div>
<register></register>
<footer>
  <footeritem></footeritem>
</footer>
<a href="#" class="scrolltotop fadeInRight animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInRight;" style="display: inline;"><i class="fa fa-angle-double-up"></i></a>
<script src="js/jquery.min.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/modernizr.js"></script>
<script src="js/main.js"></script>

<script src="/assets/js/vue.min.js?v=202002060000"></script>
<script src="/assets/js/vue-i18n.js?v=201912240000"></script>
<script src="/assets/js/axios.min.js?v=201912240000"></script>
<script src="/Resources/HubUrls/HubServiceUrls.js?v=202008060000"></script>
<script src="/assets/plugins/moment/moment.min.js?v=1034"></script>
<script src="/assets/plugins/alertifyJs/alertify.min.js?v=201905200000"></script>
<script src="servicejs/servicedetail.js"></script>
<script src="master/master.js"></script>
<script src="js/custom.js"></script>
</body>
</html>