<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>The Platform</title>
  <link rel="shortcut icon" href="images/favicon.png" type="image/png">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link href="css/media.css" rel="stylesheet" type="text/css">
  <link href="css/animate.min.css" rel="stylesheet" type="text/css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>
  <header>
    <headeritem></headeritem>
  </header>
  <div id="platform" v-cloak>
    <section class="inner_banner p-0" :style="{ background: 'url(' + bannerSection.Banner_Image_1920x550px+ ')'}">
      <div class="banner_text fadeInUp animated" data-wow-delay="0ms" data-wow-duration="1500ms"
        style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
        <h1 class="text-center">{{bannerSection.Heading}}</h1>
        <p>{{bannerSection.Description}}</p>
      </div>
    </section>
    <section class="benefits-sec intro">
      <div class="container-fluid">
        <div class="row title">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center fadeInDown animated" data-wow-delay="0ms"
            data-wow-duration="1500ms"
            style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInDown;">
            <h2><span>{{platformSection.Heading1}}</span>{{platformSection.Heading2}}</h2>
          </div>
        </div>
        <div class="row m-t-20">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 fadeInUp animated" data-wow-delay="0ms"
            data-wow-duration="1500ms"
            style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
            <p>{{platformSection.Description}}</p>
          </div>
        </div>
      </div>
    </section>
    <section class="benefits-sec white-bg">
      <div class="container-fluid">
        <div class="row title">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center fadeInDown animated" data-wow-delay="0ms"
            data-wow-duration="1500ms"
            style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInDown;">
            <h2>{{platformSection.Benefits_Label}}</h2>
          </div>
        </div>
        <div class="row m-t-30">
          <div class="inner">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 animated"
              v-for="(benefit,index) in platformSection.Benefit_List"
              :class="['fadeInLeft', index === 0 ? 'fadeInUp' : '', index === 1 ? 'fadeInRight' : '']"
              data-wow-delay="0ms" data-wow-duration="1500ms"
              style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms;">
              <div class="box">
                <h4>
                  <div class="number">0{{index+1}}</div><span>{{benefit.Title}}</span>
                </h4>
                <p>{{benefit.Description}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <register></register>
  <footer>
    <footeritem></footeritem>
  </footer>
  <a href="#" class="scrolltotop fadeInRight animated" data-wow-delay="0ms" data-wow-duration="1500ms"
    style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInRight;"
    style="display: inline;"><i class="fa fa-angle-double-up"></i></a>
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/modernizr.js"></script>
  <script src="js/main.js"></script>
  <script src="/assets/js/vue.min.js?v=202002060000"></script>
  <script src="/assets/js/vue-i18n.js?v=201912240000"></script>
  <script src="/assets/js/axios.min.js?v=201912240000"></script>
  <script src="/Resources/HubUrls/HubServiceUrls.js?v=202008060000"></script>
  <script src="/CommonFuntions/CommonFunctions.js?v=202008240000"></script>
  <script src="/assets/plugins/moment/moment.min.js?v=1034"></script>
  <script src="/assets/plugins/alertifyJs/alertify.min.js?v=201905200000"></script>
  <script src="servicejs/platform.js"></script>
  <script src="master/master.js"></script>
  <script src="js/custom.js"></script>
</body>

</html>