<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Travel Company Registration</title>
  <link rel="shortcut icon" href="images/favicon.png" type="image/png">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link href="css/media.css" rel="stylesheet" type="text/css">
  <link href="css/animate.min.css" rel="stylesheet" type="text/css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="plugins/alertifyJs/alertify.min.css" rel="stylesheet" />
  <link href="plugins/alertifyJs/default.min.css" rel="stylesheet" />
  <link href="css/vue-loading.css" rel="stylesheet" />
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>
  <header>
    <headeritem></headeritem>
  </header>
  <div id="companyregistration" v-cloak>
    <div class="vld-parent">
      <loading :active.sync="isLoading" :can-cancel="false" :is-full-page="fullPage"></loading>
    </div>
    <section class="inner_banner p-0" :style="{ background: 'url(' + BannerSection.Banner_Image_1920x550px+ ')'}">
      <div class="banner_text fadeInUp animated" data-wow-delay="0ms" data-wow-duration="1500ms"
        style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
        <h1 class="text-center">{{BannerSection.Banner_Heading}}</h1>
      </div>
    </section>
    <section class="benefits-sec white-bg register_form">
      <div class="container-fluid">
        <div class="row fadeInUp animated" data-wow-delay="0ms" data-wow-duration="1500ms"
          style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
          <div class="inner">
            <form class="b-b">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>{{formSection.Access_Detail_Label}}</h3>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="padding">
                  <label>{{formSection.Username_Label}}<span>*</span></label>
                  <div class="input-group">
                    <input name="username" class="form-control" v-model="userName"
                      :placeholder="formSection.Username_placeholder" type="text">
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="padding">
                  <label>{{formSection.Password_Label}}<span>*</span></label>
                  <div class="input-group">
                    <input name="password" class="form-control" v-model="password"
                      :placeholder="formSection.Password_Placeholder" type="password">
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="padding">
                  <label>{{formSection.Confirm_Password_Label}}<span>*</span></label>
                  <div class="input-group">
                    <input name="password" class="form-control" v-model="cnfmPassword"
                      :placeholder="formSection.Confirm_Placeholder" type="password">
                  </div>
                </div>
              </div>
            </form>
            <form class="b-b">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>{{formSection.Company_Details_Label}}</h3>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <div class="padding">
                  <label>{{formSection.Company_Name_Label}}<span>*</span></label>
                  <div class="input-group">
                    <input name="company-name" class="form-control" v-model="companyName"
                      :placeholder="formSection.Company_Name_Placeholder" type="text">
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <div class="padding">
                  <label>{{formSection.Company_Registration_Label}}<span>*</span></label>
                  <div class="input-group">
                    <input name="company-reg-no" class="form-control" v-model="companyRegNo"
                      :placeholder="formSection.Company_Registration_Placeholder" type="text">
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <div class="padding">
                  <label>{{formSection.Iata_Status_Label}}</label>
                  <input type="checkbox" id="switch" class="checkbox" />
                  <label for="switch" class="toggle">
                    <span class="left" @click="iataStatus('Approved')">{{formSection.Approved_Label}}</span> <span
                      class="right" @click="iataStatus('Not Approved')">{{formSection.Not_Approved_Label}}</span>
                  </label>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="padding">
                  <label>{{formSection.Iata_Number_Label}}</label>
                  <div class="input-group">
                    <input name="number" class="form-control" v-model="IATANumber"
                      :placeholder="formSection.Iata_Placeholder" type="text">
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="padding">
                  <label>{{formSection.Nature_Of_Business_Label}}</label>
                  <div class="input-group">
                    <div class="select">
                      <select name="slct" id="slct" v-model="nature">
                        <option value="" disabled>- Select -</option>
                        <option v-for="items in formSection.Nature_Of_Business" :value="items.Item">{{items.Item}}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="padding">
                  <label>{{formSection.Country_Label}}<span>*</span></label>
                  <div class="input-group">
                    <div class="select">
                      <select name="slct" id="slct" v-model="country">
                        <option value="" disabled>- Select -</option>
                        <option v-for="(country, key) in countryList" :value="country">{{country.country}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="padding">
                  <label>{{formSection.City_Label}}<span>*</span></label>
                  <div class="input-group">
                    <div class="select">
                      <select name="slct" id="slct" v-model="city">
                        <option value="" disabled>- Select -</option>
                        <option v-for="value in country.city" :value="value">{{value}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="padding">
                  <label>{{formSection.Zip_Code_Label}}<span>*</span></label>
                  <div class="input-group">
                    <input name="number" class="form-control" v-model="pincode"
                      :placeholder="formSection.Zip_code_Placeholder" type="text">
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="padding">
                  <label>{{formSection.Address_Label}}<span>*</span></label>
                  <div class="input-group">
                    <input name="address" class="form-control" v-model="address"
                      :placeholder="formSection.Address_Placeholder" type="text">
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="padding">
                  <label>{{formSection.Website_Label}}</label>
                  <div class="input-group">
                    <input name="website" class="form-control" v-model="website"
                      :placeholder="formSection.Website_Placeholder" type="text">
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="padding">
                  <label>{{formSection.Logo_Label}}</label>
                  <div class="input-group">
                    <input type="text" readonly class="form-control2"><label class="input-group-btn"
                      style="margin-bottom: 0px;"><span
                        class="btn btn-primary">{{formSection.Browse_Button_Label}}</span>
                      <input id="bt" type="file" name="resume" class="form-control" placeholder="Resume*"
                        style="display: none;" ref="file2" v-on:change="handleFile"
                        accept="application/pdf,application/msword,
                        application/vnd.openxmlformats-officedocument.wordprocessingml.document/image/jpeg , image/png"></label></div>
                </div>
              </div>
            </form>
            <form class="b-b">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>{{formSection.Customer_Info_Label}}</h3>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="padding">
                  <label>{{formSection.First_Name_Label}}<span>*</span></label>
                  <div class="input-group">
                    <input name="first-name" class="form-control" v-model="firstName"
                      :placeholder="formSection.First_Name_Placeholder" type="text">
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="padding">
                  <label>{{formSection.Last_Name_Label}}<span>*</span></label>
                  <div class="input-group">
                    <input name="last-name" class="form-control" v-model="lastName"
                      :placeholder="formSection.Last_Name_Placeholder" type="text">
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="padding">
                  <label>{{formSection.Designation_Label}}</label>
                  <div class="input-group">
                    <input name="designation" class="form-control" v-model="designation"
                      :placeholder="formSection.Designation_Placeholder" type="text">
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="padding">
                  <label>{{formSection.Email_Label}}<span>*</span></label>
                  <div class="input-group">
                    <input name="email" class="form-control" v-model="email"
                      :placeholder="formSection.Email_Placeholder" type="text">
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="padding">
                  <label>{{formSection.Phone_Label}}<span>*</span></label>
                  <div class="input-group input-group3">
                    <input name="code" class="form-control form-control3" v-model="phoneCode" placeholder="Code"
                      type="text">
                  </div>
                  <div class="input-group input-group4">
                    <input name="phone-no" class="form-control" v-model="phone"
                      :placeholder="formSection.Phone_Placeholder" type="text">
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="padding">
                  <label>{{formSection.Mobile_Label}}<span>*</span></label>
                  <div class="input-group input-group3">
                    <input name="code" class="form-control form-control3" v-model="mobileCode" placeholder="Code"
                      type="text">
                  </div>
                  <div class="input-group input-group4">
                    <input name="mobile-no" class="form-control" v-model="mobile"
                      :placeholder="formSection.Mobile_Placeholder" type="text">
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="padding">
                  <label>{{formSection.Fax_Label}}</label>
                  <div class="input-group input-group3">
                    <input name="code" class="form-control form-control3" v-model="faxCode"
                      :placeholder="formSection.Fax_Code_Placeholder" type="text">
                  </div>
                  <div class="input-group input-group4">
                    <input name="fax-no" class="form-control" v-model="fax"
                      :placeholder="formSection.Fax_No_Placeholder" type="text">
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="padding">
                  <label>{{formSection.Preferred_Currency__Label}}<span>*</span></label>
                  <div class="input-group">
                    <div class="select">
                      <select name="slct" id="slct" v-model="currency">
                        <option value="" disabled>- Select -</option>
                        <option v-for="items in currencyList" :value="items">{{items}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="padding">
                  <label>{{formSection.Time_Zone_Label}}<span>*</span></label>
                  <div class="input-group">
                    <div class="select">
                      <select name="slct" id="slct" v-model="timeZone">
                        <option value="">- Select -</option>
                        <option label="GMT -12:00 Hours (8:52 PM)" value="-12">GMT -12:00 Hours (8:52 PM)</option>
                        <option label="GMT -11:00 Hours (9:52 PM)" value="-11">GMT -11:00 Hours (9:52 PM)</option>
                        <option label="GMT -10:00 Hours (10:52 PM)" value="-10">GMT -10:00 Hours (10:52 PM)</option>
                        <option label="GMT -9:00 Hours (11:52 PM)" value="-9">GMT -9:00 Hours (11:52 PM)</option>
                        <option label="GMT -8:00 Hours (12:52 AM)" value="-8">GMT -8:00 Hours (12:52 AM)</option>
                        <option label="GMT -7:00 Hours (1:52 AM)" value="-7">GMT -7:00 Hours (1:52 AM)</option>
                        <option label="GMT -6:00 Hours (2:52 AM)" value="-6">GMT -6:00 Hours (2:52 AM)</option>
                        <option label="GMT -5:00 Hours (3:52 AM)" value="-5">GMT -5:00 Hours (3:52 AM)</option>
                        <option label="GMT -4:00 Hours (4:52 AM)" value="-4">GMT -4:00 Hours (4:52 AM)</option>
                        <option label="GMT -3:30 Hours (5:22 AM)" value="-3.5">GMT -3:30 Hours (5:22 AM)</option>
                        <option label="GMT -3:00 Hours (5:52 AM)" value="-3">GMT -3:00 Hours (5:52 AM)</option>
                        <option label="GMT -2:00 Hours (6:52 AM)" value="-2">GMT -2:00 Hours (6:52 AM)</option>
                        <option label="GMT -1:00 Hours (7:52 AM)" value="-1">GMT -1:00 Hours (7:52 AM)</option>
                        <option label="GMT +0:00 Hours (8:52 AM)" value="0">GMT +0:00 Hours (8:52 AM)</option>
                        <option label="GMT +1:00 Hours (9:52 AM)" value="1">GMT +1:00 Hours (9:52 AM)</option>
                        <option label="GMT +2:00 Hours (10:52 AM)" value="2">GMT +2:00 Hours (10:52 AM)</option>
                        <option label="GMT +3:00 Hours (11:52 AM)" value="3">GMT +3:00 Hours (11:52 AM)</option>
                        <option label="GMT +3:30 Hours (12:22 PM)" value="3.5">GMT +3:30 Hours (12:22 PM)</option>
                        <option label="GMT +4:00 Hours (12:52 PM)" value="4" selected="selected">GMT +4:00 Hours (12:52
                          PM)</option>
                        <option label="GMT +4:30 Hours (1:22 PM)" value="4.5">GMT +4:30 Hours (1:22 PM)</option>
                        <option label="GMT +5:00 Hours (1:52 PM)" value="5">GMT +5:00 Hours (1:52 PM)</option>
                        <option label="GMT +5:30 Hours (2:22 PM)" value="5.5">GMT +5:30 Hours (2:22 PM)</option>
                        <option label="GMT +5:45 Hours (2:37 PM)" value="5.75">GMT +5:45 Hours (2:37 PM)</option>
                        <option label="GMT +6:00 Hours (2:52 PM)" value="6">GMT +6:00 Hours (2:52 PM)</option>
                        <option label="GMT +7:00 Hours (3:52 PM)" value="7">GMT +7:00 Hours (3:52 PM)</option>
                        <option label="GMT +8:00 Hours (4:52 PM)" value="8">GMT +8:00 Hours (4:52 PM)</option>
                        <option label="GMT +9:00 Hours (5:52 PM)" value="9">GMT +9:00 Hours (5:52 PM)</option>
                        <option label="GMT +9:30 Hours (6:22 PM)" value="9.5">GMT +9:30 Hours (6:22 PM)</option>
                        <option label="GMT +10:00 Hours (6:52 PM)" value="10">GMT +10:00 Hours (6:52 PM)</option>
                        <option label="GMT +10:30 Hours (7:22 PM)" value="10.5">GMT +10:30 Hours (7:22 PM)</option>
                        <option label="GMT +11:00 Hours (7:52 PM)" value="11">GMT +11:00 Hours (7:52 PM)</option>
                        <option label="GMT +12:00 Hours (8:52 PM)" value="12">GMT +12:00 Hours (8:52 PM)</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <form class="b-b">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>{{formSection.Business_Management_Label}}</h3>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>{{formSection.Accounts_Label}}</h4>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="padding">
                  <label>{{formSection.Name_Label}}<span>*</span></label>
                  <div class="input-group">
                    <input name="name" class="form-control" v-model="accountsName"
                      :placeholder="formSection.Name_Placeholder" type="text">
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="padding">
                  <label>{{formSection.Email_Label}}<span>*</span></label>
                  <div class="input-group">
                    <input name="email" class="form-control" v-model="accountsEmail"
                      :placeholder="formSection.Email_Placeholder" type="text">
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="padding">
                  <label>{{formSection.Contact_No_Label}}<span>*</span></label>
                  <div class="input-group">
                    <input name="contact-no" class="form-control" v-model="accountsCntNo"
                      :placeholder="formSection.Contact_No_Placeholder" type="text">
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>{{formSection.Reservation_Label}}</h4>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="padding">
                  <label>{{formSection.Name_Label}}</label>
                  <div class="input-group">
                    <input name="name" class="form-control" v-model="reservationName"
                      :placeholder="formSection.Reservations_Name_Placeholder" type="text">
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="padding">
                  <label>{{formSection.Email_Label}}</label>
                  <div class="input-group">
                    <input name="email" class="form-control" v-model="reservationEmail"
                      :placeholder="formSection.Reservations_Email_Placeholder" type="text">
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="padding">
                  <label>{{formSection.Contact_No_Label}}</label>
                  <div class="input-group">
                    <input name="contact-no" class="form-control" v-model="reservationCntNo"
                      :placeholder="formSection.Contact_No_Placeholder" type="text">
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>{{formSection.Management_Label}}</h4>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="padding">
                  <label>{{formSection.Name_Label}}</label>
                  <div class="input-group">
                    <input name="name" class="form-control" v-model="managementName"
                      :placeholder="formSection.Management_Name_Placeholder" type="text">
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="padding">
                  <label>{{formSection.Email_Label}}</label>
                  <div class="input-group">
                    <input name="email" class="form-control" v-model="managementEmail"
                      :placeholder="formSection.Management_Email_Placeholder" type="text">
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="padding">
                  <label>{{formSection.Contact_No_Label}}</label>
                  <div class="input-group">
                    <input name="contact-no" class="form-control" v-model="managementCntNo"
                      :placeholder="formSection.Contact_No_Placeholder" type="text">
                  </div>
                </div>
              </div>
            </form>
            <form>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="padding">
                  <input type="checkbox" name="Checkbox" class="form-control" id="check_2" v-model="agree">
                  <label for="check_2">{{formSection.Agreement_Label}}<span>*</span></label> </div>
              </div>
              <div class="clearfix"></div>
              <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <div class="padding">
                  <div class="g-recaptcha">
                    <img src="images/newCaptchaAnchor.gif" alt="">
                  </div>
                </div>
              </div> -->
              <div class="clearfix"></div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <button class="yellow-btn" v-on:click.prevent="cancelBtn">{{formSection.Reset_Label}}</button><button
                  class="blue-btn" v-on:click.prevent="sendTravel">{{formSection.Submit_Label}}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
  <footer>
    <footeritem></footeritem>
  </footer>
  <a href="#" class="scrolltotop fadeInRight animated" data-wow-delay="0ms" data-wow-duration="1500ms"
    style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInRight;"
    style="display: inline;"><i class="fa fa-angle-double-up"></i></a>
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/modernizr.js"></script>
  <script src="js/main.js"></script>
  <script src="/assets/js/vue.min.js?v=202002060000"></script>
  <script src="/assets/js/vue-i18n.js?v=201912240000"></script>
  <script src="/assets/js/axios.min.js?v=201912240000"></script>
  <script src="/Resources/HubUrls/HubServiceUrls.js?v=202008060000"></script>
  <script src="/CommonFuntions/CommonFunctions.js?v=202008240000"></script>
  <script src="/assets/plugins/moment/moment.min.js?v=1034"></script>
  <script src="/assets/plugins/alertifyJs/alertify.min.js?v=201905200000"></script>
  <script src="js/vue-loading-overlay@3.min.js"></script>
  <script>
    Vue.use(VueLoading);
    Vue.component('loading', VueLoading)
  </script>
  <script src="servicejs/travelcompanyregistration.js"></script>
  <script src="master/master.js"></script>
  <script src="js/custom.js"></script>
</body>

</html>