/* Header and Footer CSS Start
=================================================== */
@media screen and (max-width: 500px) {
.contact-info div span, .contact-info div a {
    font-size: 11px !important;
}
.contact-info div span {
	margin-right: 0px !important;
}
.contact-info {
    width: 168px;
}
.lang {
    top: 80px !important;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    top: -70px !important;
}
}
@media screen and (max-width: 767px) {
.contact-info div {
    float: right;
    color: #fff;
	margin-right:0;
}
.contact-info div span, .contact-info div a {
    font-size: 13px;
}
.contact-info div span {
	margin-left: 2px;
	margin-right: 10px;
}
.lang {
    position: absolute;
    top: 60px;
    left: 70px;
}
.lang .dropdown a {
    font-size: 13px !important;
    padding: 13px 16px 12px 24px !important;
}
.navbar-header {
    width: 100%;
}
.navbar-toggle {
    background-color: #862654;
    border: none;
	border-radius: 0;
	margin: 10px 0 10px;
	padding: 15px 12px;
    float: left;
}
.navbar-default .navbar-nav > li::after {
	display: none;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #000;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
	float: none !important;
	margin-left: 0;
	background-color: #fff;
    padding-right: 15px;
    padding-left: 15px;
}
.navbar-nav {
    margin: 0;
    padding: 0;
}
.nav > li {
    padding: 10px 15px;
    color: #fff;
    float: none !important;
}
.navbar-default .navbar-nav > li > a {
    color: #000;
}
.nav > li {
    padding: 15px 0;
	border-bottom:1px solid #ddd;
}
.nav > li:last-child {
	border-bottom:none;
}
.nav > li > a, .navbar-default .navbar-nav > li > a {
    padding: 0;
	border-bottom: none;
	font-size: 20px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #862654;
	border-bottom: none;
	background-color: transparent;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #862654;
	border-bottom: none;
	background-color: transparent;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    top: -50px;
    width: 100px;
}
footer {
    margin: 0;
}
.ftr-cntc h3, .quick-links h3, .newsletter h3 {
    font-size: 25px;
}
.newsletter i {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
}
.newsletter h2 {
    font-size: 22px;
    padding: 0 0 0 9px;
}
.newsletter button {
	font-size: 20px;
	left: 0;
}
.newsletter {
    padding: 15px 0;
    text-align: right;
}
.news-sub input[type="text"] {
    width:100%;
}
footer .link ul li a {
    font-size: 15px;
}
footer .link ul li {
    padding: 0 25px;
    font-size: 15px;
}
footer .get-in-touch div {
    float: none;
    padding: 25px 15px;
    text-align: center;
}
footer .bdr-rght {
    border-right: none;
	border-bottom: 1px solid #fff;
}
.powered {
    width: 100%;
    float: left;
    margin: 10px 0 0;
}
footer .copyright {
    text-align: center;
}
footer .get-in-touch div i {
    float: none;
}
}
@media (min-width: 768px) and (max-width: 990px) {
.contact-info div a, .contact-info div span {
    font-size: 15px;
}
.navbar-nav {
    padding: 0;
}
footer .get-in-touch div {
    padding: 25px 12px;
}
footer .get-in-touch div i {
    font-size: 18px;
}
footer .get-in-touch div {
	font-size: 15px;
}
footer .get-in-touch div a {
    font-size: 15px;
}
.newsletter h2 {
    font-size: 22px;
}
.newsletter button {
	font-size: 20px;
	padding: 11px 30px 11px;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    top: -56px;
    width: 132px;
}
.nav > li > a {
    padding: 20px 40px;
}
}
/* Header and Footer CSS End
=================================================== */

@media screen and (max-width: 767px) {
section {
    padding: 50px 0;
}
.login_div {
	margin: 0 auto;
	top: 80px;
	border-radius:0;
    left: 0;
	width:90%;
}
.login-form .login_btn {
    margin: 30px auto 30px;
    display: inline-block;
	float:none;
}
.login-form {
    padding: 0 30px 40px;
}
.inner_banner .banner_text h1 {
    line-height: 60px;
    padding-top: 50px;
	font-size:47px;
}
.flex {
	display: -webkit-block;
	display: block;
}
#abut-inr .inner, #contact-us .inner {
    margin: 15px 0;
}
}

@media (min-width: 991px) and (max-width: 1024px) {

}
@media (min-width: 1025px) and (max-width: 1400px) {

}
@media screen and (max-width: 767px){
.contact-info {
    padding: 10px 0px;
    /* float: right; */
}}