@media screen and (max-width: 590px) {
.top{
    display: none;
}
.navbar-default .navbar-brand{
    top: 0px !important;
    width: 80px !important;
}
.main_banner h2, .inner_banner .banner_text h2{
    font-size: 29px;
    padding-top: 90px;
}
}
@media screen and (max-width: 767px) {
section {
    padding: 50px 0;
}
.contact-info div {
    float: right;
    color: #fff;
}
.contact-info div span, .contact-info div a {
    font-size: 14px;
}
.navbar-toggle {
    background-color: #FFF;
    border: none;
	border-radius: 0;
	margin: 27px 0 27px;
	padding: 3px 0px;
}
.navbar-default .navbar-nav > li::after {
	display: none;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #862654;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #FFF;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
	float: none;
	margin-left: 0;
	background-color: #fff;
}
.navbar-nav {
    margin: 0;
    padding: 0;
}
.nav > li {
    padding: 10px 15px;
    color: #fff;
}
.navbar-default .navbar-nav > li > a {
    color: #000;
}
.nav > li {
    padding: 15px 0;
	border-bottom:1px solid #ddd;
}
.nav > li:last-child {
	border-bottom:none;
}
.nav > li > a, .navbar-default .navbar-nav > li > a {
    padding: 0;
	border-bottom: none;
	font-size: 20px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #862654;
	border-bottom: none;
	background-color: transparent;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #862654;
	border-bottom: none;
	background-color: transparent;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    top: -70px;
    width: 122px;
}
.login_div {
	margin: 0 auto;
	top: 18px;
	border-radius:0;
    left: 0;
	width:100%;
}
.login-form .login_btn {
    margin: 0px auto 17px;
    display: inline-block;
	float:none;
}
.login-form, .forgot_form {
    padding:0 18px 0px;
}
.mp-padding{
    padding-bottom: 21px;
}
footer {
    margin: 0;
}
.ftr-cntc h3, .quick-links h3, .newsletter h3 {
    font-size: 25px;
}
.newsletter i {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
}
.newsletter h2 {
    font-size: 22px;
    padding: 0 0 0 9px;
}
.newsletter button {
	font-size: 20px;
	right:0;
}
.newsletter {
    padding: 15px 0;
    text-align: left;
}
.news-sub input[type="text"] {
    width: 100%;
}
footer .link ul li a {
    font-size: 15px;
}
footer .link ul li {
    padding: 0 25px;
    font-size: 15px;
}
footer .get-in-touch div {
    float: none;
    padding: 25px 15px;
    text-align: center;
}
footer .bdr-rght {
    border-right: none;
	border-bottom: 1px solid #fff;
}
.powered {
    width: 100%;
    float: left;
    margin: 10px 0 0;
}
footer .copyright {
    text-align: center;
}
footer .get-in-touch div i {
    float: none;
}
.inner_banner .banner_text h1 {
    line-height: 60px;
    padding-top: 50px;
	font-size:47px;
}
.flex {
	display: -webkit-block;
	display: block;
}
#abut-inr .inner, #contact-us .inner {
    margin: 15px 0;
}
.reserved{
    width: 100%;
}
.reserved p{
    text-align: center;
}
.all-reserved{
    text-align: center;
}
.quick-links ul{
    width: 100%;
}
}
@media (min-width: 768px) and (max-width: 990px) {
.navbar-nav {
    padding: 0;
}
footer .get-in-touch div {
    padding: 25px 12px;
}
footer .get-in-touch div i {
    font-size: 18px;
}
footer .get-in-touch div {
	font-size: 15px;
}
footer .get-in-touch div a {
    font-size: 15px;
}
.newsletter h2 {
    font-size: 22px;
}
.newsletter button {
	font-size: 20px;
	padding: 11px 30px 11px;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    top: -56px;
    width: 132px;
}
.nav > li > a {
    padding: 20px 40px;
}

}
@media screen and (max-width: 991px) {
    footer{
        padding-top: 0px;
        margin-top: 0;
        background: #f4f4f4;;
    }  
    .login_div{
        position: relative;
        margin-bottom: 15px;
    }
    .main_banner{
        min-height: 60px;
        padding-bottom: 20px;
    }
    .login-form .sec{
        padding-top: 20px;
        display: inline-block;
        width: 100%;
    }
    .inner_banner{
        min-height: 236px;
    }
    .privacy-content {
        padding: 26px 0 0px 0;
    } 
}
@media (min-width: 991px) and (max-width: 1024px) {

}
@media (min-width: 1025px) and (max-width: 1400px) {

}
