
/* 01 : Website Global CSS BOF
========================================================== */
body {
	background: #ffffff;
	font-family: 'Poppins', sans-serif;
}
* {
	margin: 0px;
	padding: 0px;
}
a {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
/* img {
 	height: auto;
	max-width: 100%;
	vertical-align: middle;
	line-height: normal;
	outline: none;
} */
/*Same class available in Boostrap (.img-responsive)*/
iframe {
	border: medium none;
	outline: none;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 color: #7c7c7c;
}
::-moz-placeholder { /* Firefox 19+ */
 color: #7c7c7c;
}
:-ms-input-placeholder { /* IE 10+ */
 color: #7c7c7c;
}
:-moz-placeholder { /* Firefox 18- */
 color: #7c7c7c;
}
/* 02 : Heading Style CSS BOF
=================================================== */
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	line-height: 0;
	font-weight: normal;
}
/* 03 : Paragraph Style CSS BOF
=================================================== */
p {
	padding: 0px;
	margin: 0;
	font-size: 14px;
	color: #313131;
	font-weight: 400;
	line-height: 26px;
}
section {
	padding: 70px 0;
}
/*====================================
=            Helper Class            =
====================================*/
.m-t-10 {
	margin-top: 10px;
}
.m-t-20 {
	margin-top: 20px;
}
.m-t-15 {
	margin-top: 15px;
}
.m-t-25 {
	margin-top: 25px;
}
.m-t-30 {
	margin-top: 30px;
}
.m-t-40 {
	margin-top: 40px;
}
.m-t-50 {
	margin-top: 50px;
}
.m-t-60 {
	margin-top: 60px;
}
.m-t-70 {
	margin-top: 70px;
}
.m-t-120 {
	margin-top: 120px;
}
.m-b-10 {
	margin-bottom: 10px;
}
.m-b-15 {
	margin-bottom: 15px;
}
.m-b-20 {
	margin-bottom: 20px;
}
.m-b-25 {
	margin-bottom: 25px;
}
.m-b-30 {
	margin-bottom: 30px;
}
.p-0 {
	padding: 0;
}
.p-t-0 {
	padding-top: 0;
}
.p-t-10 {
	padding-top: 10px;
}
.p-t-15 {
	padding-top: 15px;
}
.p-t-20 {
	padding-top: 20px;
}
.p-t-25 {
	padding-top: 25px;
}
.p-t-30 {
	padding-top: 30px;
}
.p-b-0 {
	padding-bottom: 0;
}
.p-b-10 {
	padding-bottom: 10px;
}
.p-b-15 {
	padding-bottom: 15px;
}
.p-b-20 {
	padding-bottom: 20px;
}
.p-b-25 {
	padding-bottom: 25px;
}
.p-b-30 {
	padding-bottom: 30px;
}
/* Top CSS BOF
=================================================== */
header {
	background: #842452;
}
.top {
	width: 100%;
	height: auto;
}
.contact-info {
	padding: 15px 0;
	float: right;
}
.contact-info div {
	margin-left: 40px;
	float: left;
	color: #fff;
}
.contact-info div span {
	color: #fff;
	font-size: 18px;
	margin-right: 8px;
}
.contact-info div a {
	color: #fff;
	font-size: 18px;
	font-weight: 400;
}
.contact-info div a:hover {
	color: #ea89b7;
	text-decoration: none;
}

/* Navigation CSS BOF
=================================================== */
/* .navbar {
	border-radius: 0px;
	position: relative;
	top: 0;
	margin-bottom: 0px;
	border: 0px;
}
.nav-bg {
	display: block;
	position: absolute;
	z-index: 1000;
	width: 100%;
} */
/* .navbar-default {
	background: #fff;
	transition: all 0.1s;
	-moz-transition: all 0.1s;
	-webkit-transition: all 0.1s;
	-ms-transition: all 0.1s;
	-o-transition: all 0.1s;
	border: 0px;
	margin: 0;
}
.navbar-nav {
	margin: 0;
	padding: 0;
}
/* .navbar-brand img {
	width: 100% !important;
} */ */
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	float: left;
	margin-left: 175px;
}
.nav > li {
	position: relative;
	display: block;
	padding: 0;
}
.nav > li > a {
    display: block;
    margin: 0;
    padding: 30px 40px;
    position: relative;
	border-bottom:2px solid #fff;
}
.navbar-default .navbar-nav > li:last-child::after {
	display: none;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	height: auto;
	padding: 0;
	position: absolute;
	z-index: 1000;
	top: -56px;
	margin: 0 !important;
	left: 15px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
	color: #842452;
	background-color: #f4f4f4;
	border-bottom:2px solid #842452;
}
.navbar-default .navbar-nav > li > a {
	color: #000;
	font-size: 22px;
	font-weight: 500;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	-webkit-transition: all .35s;
	transition: all .35s;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #842452;
	background-color: #f4f4f4;
	border-bottom:2px solid #842452;
}
/*=====  Banner CSS BOF  ======*/

/*=====  Login CSS BOF  ======*/
.login_div {
	background: rgba(255,255,255,0.6);
	display: block;
	margin: 0 auto;
	width: 652px;
	position: absolute;
	right: 0;
	left:0;
	top: 50px;
	-webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.29);
	-moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.29);
	-ms-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.29);
	box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.29);
}
.login_div h2 {
	font-size: 36px;
	color: #842452;
	width:  100%;
	padding: 0;
	text-align: center;
	font-weight: 600;
	text-transform: uppercase;
	margin: 0 auto;
	background: #fff;
	height:75px;
	line-height:75px;
}
.login-form, .forgot_form{
	margin: 0;
	padding: 0 62px 40px;
}
.login-form .sec, .forgot_form .sec {
	padding-top: 35px;
}
.login-form label, .forgot_form label {
	font-size: 18px;
	font-weight: 500;
	color: #000;
	margin: 0 0 10px 0;
}
.login-form .form-control, .forgot_form .form-control {
	background-color: #fff;
	border: none;
	color: #7c7c7c;
	display: block;
	font-size: 16px;
	height: 56px;
	padding: 6px 25px;
	width: 100%;
	margin-top: 0;
	font-weight: 400;
	border-radius:0;
}
.login-form .login_btn{
    text-transform: uppercase;
    background: #862654;
    font-size: 28px;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    width: 204px;
    border: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin: 31px auto 0px;
    display: inline-block;
    font-weight: 700;
}
.forgot_form  .login_btn {
    text-transform: uppercase;
    background: #862654;
    font-size: 28px;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    width: 204px;
    border: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin: 0px auto 0px;
    display: inline-block;
    font-weight: 700;
}
.login-form .login_btn:hover, .forgot_form .login_btn:hover {
	background: #000;
	color: #fff;
	text-decoration: none;
}
.login-form .forgot, .forgot_form .forgot{
    font-size: 18px;
    color: #000;
    text-align: left;
    width: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-weight: 500;
    display: inline-block;
	float: left;
	display: contents;
}
.login-form .forgot:hover, .forgot_form .forgot:hover {
	color: #842452;
	text-decoration: underline;
}

/*====================Footer==================*/
footer {
	background: url(../images/footer-bg.jpg) no-repeat top center;
	background-size: cover;
	padding-top: 255px;
	position: relative;
	margin-top:180px;
}
.ftr-cntc h3, .quick-links h3, .newsletter h3 {
	font-size: 30px;
	color: #862654;
	padding: 15px 0;
	line-height: normal;
	font-weight: 600;
}
.ftr-cntc p {
	text-align: left;
	padding: 0;
	font-size:15px;
}
.ftr-cntc ul {
	list-style: none;
	display: block;
	padding: 0;
	margin: 20px 0 0;
}
.ftr-cntc ul li {
	line-height:45px;
	clear: both;
	float: left;
	padding: 7px 0;
	font-size: 16px;
	font-weight: 400;
	color: #2f2f2f;
}
.ftr-cntc ul li i {
	color: #fff;
	float: left;
	margin-right: 10px;
	height: 46px;
	width: 46px;
	text-align: center;
	font-size: 20px;
	line-height: 46px;
	background: #000;
	border-radius: 50%;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.fnt-sz-25 {
	font-size: 25px !important;
}
.fnt-sz-22 {
	font-size: 22px !important;
}
.ftr-cntc ul li a {
	font-size: 16px;
	font-weight: 400;
	color: #2f2f2f;
	text-decoration: none;
	display: inline-block;
}
.ftr-cntc ul li a:hover {
	color: #862654;
	text-decoration: none;
}
.quick-links ul {
	display: inline-block;
	padding: 0;
	margin: 0;
}
.quick-links ul li {
	float: left;
	width: 100%;
	padding: 10px 0;
	list-style: none;
	font-size: 16px;
}
.quick-links ul li i {
	color: #2f2f2f;
	margin-right: 10px;
}
.quick-links ul li a {
	color: #2f2f2f;
}
.quick-links ul li a:hover {
	color: #862654;
	text-decoration: none;
}
.newsletter p {
	padding: 0;
	text-align: left;
	font-size:15px;
}
.news-sub {
	position: relative;
	margin: 20px 0 0;
}
.news-sub input[type="text"] {
	height: 50px;
	width: 100%;
	background: #f4f4f4;
	border-radius: 40px;
	margin: 0;
	border: 1px solid #000;
	padding: 0 0 0 25px;
	color:#2f2f2f;
	font-size:15px;
	font-weight:400;
}
.news-sub button {
	height: 50px;
	width: 22%;
	background: #000;
	border-radius: 40px;
	cursor: pointer;
	border: none;
	position: absolute;
	top: 0;
	right: 0;
	color: #fff;
	font-size: 25px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.news-sub button:hover {
	background: #862654;
	color: #fff;
}
.foot-social {
	text-align: left;
	margin: 20px 0 0;
	width: 100%;
}
.foot-social ul {
	display: inline-block;
	padding: 0;
	margin: 0;
}
.foot-social ul li {
	display: inline-block;
	padding: 0 5px;
	list-style: none;
}
.foot-social ul li a {
	background: #f4f4f4;
	height: 52px;
	width: 52px;
	color: #000;
	display: block;
	border-radius: 50%;
	font-size: 23px;
	line-height: 52px;
	text-align: center;
	border: 1px solid #000;
}
.foot-social ul li a:hover {
	background: #f4f4f4;
	color: #862654;
	border: 1px solid #862654;
}
.all-reserved {
	padding: 25px 0;
	border-top: 1px solid #b9b9b9;
	overflow: hidden;
	margin: 40px 0 0;
}
.reserved {
	float: left;
}
.reserved p {
	color: #000;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 0;
	text-align: left;
}
.powered {
	float: right;
}
.powered p {
	display: inline-block;
	vertical-align: middle;
	color: #000;
	font-size: 15px;
	font-weight: 400;
	text-align: left;
}
.powered a {
	display: inline-block;
}


/* About Us Page CSS BOF
=================================================== */
#about-us, #abut-inr, #contact-us, #contact_form  {
	width: 100%;
	display: block;
	position: relative;
}
#about-us, #contact-us {
	background:#f4f4f4;
}
.title h2 {
	font-size: 40px;
	color: #842452;
	line-height: normal;
	font-weight: 700;
}
.title h2 span {
	font-weight: 400;
}
#about-us p {
	padding:30px 0 0;
}
.inner_banner {
	padding:0;
	min-height: 325px;
	position: relative;
	background-size: cover !important;
	background-position: center center !important;
}
.inner_banner .banner_text h1 {
    line-height: 80px;
}
.inner_banner .banner_text h2 {
	line-height: 18px;
	padding-top: 122px;
}
.breadcrumbs1_wrapper {
	display: block;
	position: relative;
	margin-top: -52px;
}
.breadcrumbs1 {
	padding: 14px 0;
	margin-top: 0px;
	line-height: 20px;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
}
.breadcrumbs1 a {
	color: #fff;
	font-weight: 700;
	text-decoration: none;
}
.breadcrumbs1 a:hover {
	color: #fff;
	text-decoration: none;
}
.breadcrumbs1 span {
	font-size: 11px;
	display: inline-block;
	margin: 0 15px;
	vertical-align: middle;
	color: #fff;
	font-weight: 700;
}
.flex {
	display: -webkit-flex;
	display: flex;
}
#abut-inr{
	padding-bottom:0;
}
#abut-inr .inner, #contact-us .inner {
	min-height: 100%;
	text-align: center;
}
#abut-inr .inner .round-shape, #contact-us .inner .round-shape {
	background: #fff;
	display: inline-block;
	line-height: 72px;
	text-align: center;
	width: 72px;
	height: 72px;
	border-radius: 100%;
	position: relative;
	border:2px solid #862654;
}
#abut-inr .inner .round-shape svg, #contact-us .inner .round-shape svg {
	display: inline-block;
	fill: #862654;
	text-align: center;
	width: 70px;
	height: 70px;
}
#abut-inr .inner h3, #contact-us .inner h3 {
	color: #2f2f2f;
	font-size: 22px;
	padding-top: 15px;
	text-transform: none;
	font-weight: 600;
	line-height: normal;
}
#abut-inr .inner p, #contact-us .inner p {
	padding-top: 15px;
}

/* Contact Us Page CSS BOF
=================================================== */
#contact-us .inner .round-shape {
	background: #f4f4f4;
}
#contact-us .inner p {
	font-weight:500;
	font-size:16px;
}
#contact-us .inner p a{
	color:#313131;
	text-decoration:none;
}
#contact-us .inner p a:hover{
	color:#842452;
	text-decoration:none;
}
.title h3 {
    font-size: 26px;
    color: #000;
    line-height: 36px;
    font-weight: 500;
	margin-bottom:30px;
}
#contact_form form {
	margin: 0 15px 0;
}
#contact_form .padding {
	padding-top: 15px;
}
#contact_form label {
	font-size: 16px;
	font-weight: 500;
	color: #000;
	margin: 0 0 10px 0;
}
#contact_form .input-group {
	background-color: #eceeef;
	border: none;
	display: inline-block;
	width: 100%;
	margin-top: 0;
	font-weight: 400;
}
#contact_form .form-control {
	background-color: transparent;
	border: none;
	color: #9ca3a9;
	display: block;
	font-size: 14px;
	height: 60px;
	line-height: 1.42857;
	padding: 6px 25px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	width: 100%;
	z-index: 1;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}
#contact_form textarea.form-control {
	height: 110px;
	resize: none;
	padding: 20px 25px;
}
.send {
	background: #862654;
	font-size: 28px;
	color: #fff;
	padding: 10px 0;
	text-align: center;
	width: 200px;
	border: none;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	margin: 20px auto 0;
	display: block;
	font-weight: 700;
	text-transform:uppercase;
}
.send:hover {
	background: #000;
	color: #fff;
	text-decoration: none;
}
.map-responsive {
	overflow: hidden;
	padding-bottom: 390px;
	position: relative;
	height: auto;
	margin-bottom: 0;
}
.map-responsive iframe {
	left: 0;
	top: 0;
	height: 470px;
	width: 100%;
	position: absolute;
}
.navbar-toggle .icon-bar{
	height: 4px;
	width: 25px;
}
.privacy-content {
    padding: 60px 0;
}
.privacy-content h4 {
    color: #842452;
    letter-spacing: 0;
    text-transform: capitalize;
    font-size: 22px;
    padding: 10px 0;
    line-height: 28px;
}
.privacy-content p {
    font-size: 15px;
    color: #1c1c1c;
    line-height: 25px;
}
/*reset password*/
.reset_mid {
    width: 400px;
    margin: auto;
    padding: 50px 0px;
}

.main_reset_sec {
    width: 100%;
    float: left;
    padding: 20px;
}

    .main_reset_sec h2 {
        text-align: center;
        margin-bottom: 18px;
    }

.txt_sec {
    width: 100%;
    height: 36px;
    float: left;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    padding: 0px 10px;
    border: 1px solid #cecece;
}

.txt_sec {
    width: 100%;
    height: 36px;
    float: left;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    padding: 0px 10px;
    border: 1px solid #cecece;
}

.reset_btn {
    width: 100%;
    height: 36px;
    border: none;
    background: #892758 !important;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #FFF;
    cursor: pointer;
	transition: all linear 0.15s;
	border-radius: 0px !important;
}

    .reset_btn:hover {
		background: #6f083c !important;
		color: #FFF !important;
    }

.loadrst {
    width: 100%;
    float: left;
    position: relative;
    display: none;
}

.load_reset {
    width: 100%;
    height: 36px;
    border: none;
    background: #892758 !important;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #FFF;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 9;
    text-align: center;
    line-height: 37px;
}
.forgot{
	cursor: pointer;
}
.forgot i{
	margin-right: 6px;
}
.forgot_form{
	display: none;
}

.btn_load{
	width: 202px;
    height: 59px;
    position: absolute;
    left: 0px;
    bottom: 40px;
    background: #892758;
    color: #FFF;
    text-align: center;
    line-height: 51px;
    font-size: 19px;
    right: 0;
    margin: auto;
}
.login_div h2{
	padding-top: 0px !important; 
}
.ajs-ok{
	background: #892758 !important;
}
.alertify .ajs-header, .ajs-ok, .ajs-ok:hover, .alertify .ajs-header{
	background: #892758 !important;
	color: #FFF !important;
}