@import url("https://fonts.googleapis.com/css?family=Yesteryear");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");

/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.hotel_left_area {
  width: 78%;
  height: auto;
  float: left;
  position: relative;
}

.tabstyle ul {
  padding: 0px;
  /*background: var(--secondary-color);*/
}

.tabstyle ul li {
  margin-bottom: 0px !important;
  margin: 0px !important;
  background: none !important;
  border: none !important;
  /*margin-right: 2px !important;*/
}

.tabstyle ul li a {
  border-radius: 0px !important;
  border: 1px solid var(--primary-color) !important;
  color: #fff;
}

.hotel_aminities ul {
  background: none;
}

.tabstyle li.active a,
.tabstyle li.active a:hover {
  background: var(--primary-color) !important;
  border: none !important;
  color: #fff;
}

.tabstyle li a:hover {
  background: var(--primary-color) !important;
  color: #fff;
  border: none !important;
}

.hotel_img {
  width: 30%;
  float: left;
  max-height: 140px;
  overflow: hidden;
  border: 1px solid #f7f7f7;
}

.hotel_img img {
  width: 100%;
  height: 120px;
}

.hotel_dis {
  width: 68%;
  float: right;
}

.hotel_dis h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #10252e;
  font-weight: 400;
  margin-bottom: 10px;
}

.hotel_dis h4,
.hotel_dis h3 span,
.hotel_view_area_map h6 {
  color: #ffb300;
  margin-right: 3px;
  margin-bottom: 4px;
}

.hotel_dis h4 i {
  margin-left: 5px;
}

.hotel_location {
  width: 100%;
  float: left;
  position: relative;
  padding-left: 15px;
  margin-bottom: 7px;
  word-break: break-all;
}

.hotel_location i {
  position: absolute;
  font-size: 18px !important;
  color: var(--primary-color);
  top: 1px !important;
}

.hotel_location span {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #4a4a4a;
  font-weight: 400;
}

.hotel_cont {
  width: 100%;
  float: left;
  padding-top: 10px;
}

.hotel_cont p {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: #10252e;
  font-weight: 400;
}

.hotel_details {
  width: 100%;
  height: auto;
  float: left;
  background: #fff;
  border-radius: 7px;
  margin-bottom: 10px;
}

.hotel_bg_color01 {
  background: #dadada;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #464646;
  font-weight: 400;
  padding: 8px 0;
}

.hotel_bg_color02 {
  background: #e7f0fb;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #464646;
  font-weight: 400;
  padding: 8px 0;
}

.hotel_room_details {
  /* padding-left: 7px;
  padding-right: 7px; */
  width: 100%;
  float: left;
  /*margin-top: 7px;*/
}

.hotel_room_details01 {
  padding: 0px 7px;
  width: 100%;
  float: left;
}

.hotel_room_details02 {
  padding: 5px 0;
  width: 100%;
  float: left;
  border-bottom: 1px solid #e9e9e9;
}

.hotel_sm_padding {
  padding-left: 0px;
  padding-right: 0px;
  clear: inherit;
}

.hotel_sm_margin {
  margin-left: 0px;
  margin-right: 0px;
  clear: inherit;
}

.room_type {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: #2c2e88;
  font-weight: 400;
  /*padding-left: 27px;*/
  padding-top: 6px;
}

.room_type span {
  color: #2c2e88;
}

.room_type i {
  position: absolute;
  font-size: 18px !important;
  color: var(--primary-color);
  top: 6px !important;
  left: 0px !important;
}

.htl_sp {
  font-size: 19px;
  color: #129c25;
  margin-right: 5px;
  float: left;
}

.status_area {
  padding-top: 6px;
}

.status_area span {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: #129c25;
  font-weight: 400;
  padding: 1px 3px;
  border-radius: 3px;
  float: left;
}

.status_area_clr {
  background: #ff9207 !important;
}

.cost_area {
  padding-top: 6px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: #10252e;
  font-weight: 600;
}

/* .cost_area span {
  float: left;
} */

.cost_area i {
  font-size: 18px;
  margin: auto 5px;
  color: #7b7b7b;
  transition: all linear 0.15s;
  /* float: left; */
}

.cost_area i:hover {
  color: #5f3119;
}

.book_button a {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #464646;
  font-weight: 500;
  float: right;
  padding: 5px 10px;
  cursor: pointer;
  width: 79px;
  text-align: center;
  border: 1px solid #b5b5b5;
  text-transform: uppercase;
  margin-top: -6px;
}

.book_button a:hover {
  background: #248632;
  color: #fff;
  border: 1px solid #248632;
}

.book_button button,
.add_quote {
  margin-top: -5px;
  font-size: 12px;
  /* float: left; */
  border: none;
  background: var(--primary-color);
  color: #fff;
  padding: 0px 13px 0px 11px;
}

.book_button button:hover,
.book_button button:focus,
.add_quote:focus,
.add_quote:focus {
  color: #fff !important;
}

.hotel_paymet_guest {
  width: 100%;
  height: auto;
  float: left;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #4c4c4c;
  font-weight: 500;
}

.hotel_paymet_guest h3,
#Pricediv h3 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 15px;
}

.hotel_paymet_guest h4,
#Pricediv h4 {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #3c3c3c;
  padding: 0 10px;
}

.fee_description {
  width: 100%;
  float: left;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 6px;
  margin-bottom: 6px;
}

.fee_description ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.fee_description ul li {
  width: 100%;
  float: left;
  background: url(../images/point.png) no-repeat left 5px;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 600;
  color: #3c3c3c;
  padding-left: 13px;
}

.hotel_guest_room {
  width: 100%;
  float: left;
  background: #dadada;
  padding: 5px 11px;
  font-size: 13px;
  margin-bottom: 15px;
}

.hotel_icon_mrgn {
  margin-right: 5px;
  font-size: 16px;
  margin-left: 4px;
}

.hotel_details_area {
  width: 100%;
  float: left;
}

.hotel_star {
  width: 100%;
  float: left;
  margin-bottom: 4px;
}

.hotel_star i {
  color: #feb810;
  /*color: var(--secondary-color);*/
  font-size: 18px;
  margin-right: 3px;
}

.hotel_details_area h3 {
  font-size: 17px;
  margin-bottom: 12px;
  font-weight: 600;
  color: var(--primary-color);
  font-family: "Open Sans", sans-serif;
}

.hotel_details_area p {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #3c3c3c;
  font-family: "Open Sans", sans-serif;
}

.hotel_pic {
  width: 100%;
  float: left;
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: 6px;
  border: 1px solid #e8e8e8;
}

.price {
  font-size: 16px;
  margin-right: 4px;
}

.bars_icon {
  margin-right: 6px;
  margin-left: 5px;
  font-size: 18px;
}

.box-rooms_dates {
  width: 100%;
  float: left;
  border-bottom: 1px solid #ebebeb;
  /*padding-bottom: 8px;*/
  margin-bottom: 12px;
  /*padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;*/
  padding: 10px 10px 8px 10px;
  font-family: "Open Sans", sans-serif;
}

.box-rooms_dates h4 {
  margin-bottom: 12px;
  font-weight: 600;
  color: #2e475d;
  font-family: "Open Sans", sans-serif;
}

.hotel_calender {
  width: 100%;
  float: left;
  height: 21px;
  /* border: none; */
  background: url(../images/calender02.png) no-repeat 0px 0px;
  cursor: pointer;
  padding-left: 25px;
  font-weight: 400;
  color: #a3a3a3;
  font-size: 14px;
  /* padding-top: 10px; */
}

.hotel_calender::-webkit-input-placeholder {
  font-family: "Open Sans", sans-serif;
  color: #2f3292;
  font-size: 12px;
  font-weight: normal;
  font-weight: 600;
}

.hotel_calender:-moz-placeholder {
  font-family: "Open Sans", sans-serif;
  color: #0059c0;
  font-size: 12px;
  font-weight: normal;
  font-weight: 600;
}

.hotel_calender::-moz-placeholder {
  font-family: "Open Sans", sans-serif;
  color: #0059c0;
  font-size: 12px;
  font-weight: normal;
  font-weight: 600;
}

.hotel_calender:-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
  color: #0059c0;
  font-size: 12px;
  font-weight: normal;
  font-weight: 600;
}

.hotel_result {
  width: 100%;
  height: auto;
  float: left;
  margin-bottom: 5px;
  color: #555555;
  font-size: 12px;
  font-weight: 400;
  padding: 0px 10px 5px 10px;
}

.hotel_result i {
  font-size: 18px;
  margin-right: 5px;
}

.padding_sm {
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
}

.hotel_review {
  width: 100%;
  height: auto;
  float: left;
  background: #fff;
  padding: 10px;
  border-radius: 7px;
  margin-bottom: 10px;
}

.hotel_review h4 {
  background: #0059c0;
  padding: 10px 5px;
  width: 100%;
  float: left;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #fff;
  font-size: 14px;
  margin-bottom: 5px;
}

.hotel_review h5 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #0059c0;
  font-size: 14px;
  margin-bottom: 4px;
}

.hotel_review p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #929292;
  font-size: 13px;
  margin-bottom: 12px;
}

.hotel_icon5 {
  font-size: 22px;
  margin-right: 6px;
}

.modal-footer h3 {
  padding: 7px 15px;
  text-align: center;
  border-top: 1px solid #e5e5e5;
  background: var(--primary-color);
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.modal-footer h3 span {
  color: #fff;
}

.modal-footer div {
  padding: 7px 15px;
  text-align: center;
  border-top: 1px solid #e5e5e5;
  background: var(--primary-color);
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.modal-footer div span {
  color: #fff;
}

.modal-header {
  padding: 7px 15px;
}

.hotel_no_padding {
  padding: 0px;
}

.sp_bg_hotel {
  background: #fff;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.sp_bg_hotel h3 {
  font-family: "Open Sans", sans-serif !important;
  font-size: 18px;
  color: var(--primary-color) !important;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 2px;
  padding-top: 0;
  margin-top: 9px;
}

.sp_bg_hotel h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #4c4c4c;
  font-size: 13px;
  margin-bottom: 8px;
  line-height: 20px;
}

.sp_bg_hotel h5 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #4c4c4c;
    font-size: 13px;
    margin-bottom: 8px;
    line-height: 20px;
    text-decoration: underline;
}

.sp_bg_hotel h4 span {
  color: #2f3292;
}

.hotel_type {
  background: #fff;
  padding: 10px;
  border-top: 1px solid #e8e8e8;
}

.hotel_type h5 {
  color: var(--primary-color);
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-align: center;
  margin-bottom: 14px;
}

.hotel_type h5 i {
  font-size: 18px;
}

.hotel_type h4 {
  color: #4c4c4c;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-align: center;
  margin-bottom: 14px;
}

.hotel_type_area {
  border-bottom: 2px dotted #b8b8b8;
  padding: 5px 10px;
  width: 100%;
  float: left;
  color: var(--primary-color);
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}

.stars_area01 {
  width: 100%;
  min-height: 20px;
}

.formsfont i {
  float: left;
  position: relative !important;
  margin-right: 3px;
  left: 0px !important;
  color: #feb810 !important;
  /*color: var(--secondary-color) !important;*/
}

.checkBox_area input[type="checkbox"] + label:before {
  float: left !important;
  margin-top: 5px !important;
  margin-right: 9px;
}

.tab-links {
  border-radius: 0px;
}

.tab-content {
  margin-top: 0px;
  border-radius: 0px;
}

.hotel_details {
  border-radius: 0px;
}

.need_help {
  border-radius: 0px;
}

.left_padding10 {
  padding: 0px 10px !important;
}

.booking_info {
  width: 100%;
  float: left;
}

.info_txt {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #454f69;
  font-weight: 400;
  padding: 4px 30px 4px 0px;
}

.info_txt01 {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #454f69;
  font-weight: 400;
  padding: 4px 0px;
}

.info_txt02 {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #454f69;
  font-weight: 400;
  padding: 4px 0px;
}

.hotel_table {
  width: 100%;
  float: left;
}

.sp_table {
  /*background: rgba(133, 119, 71, 0.68);
    color: #FFF !important;*/
  background: rgba(173, 173, 173, 0.68);
  color: #fff !important;
  border-bottom: none !important;
  font-weight: 600;
}

.modal-open {
  overflow-y: scroll !important;
}

.modal-open[style] {
  padding-right: 0px !important;
}

.table_links {
  width: 100%;
  float: left;
  padding: 10px;
}

.table_links a {
  font-family: "Open Sans", sans-serif;
  background: var(--secondary-color);
  padding: 5px 8px;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  display: inline-block;
  margin: 0 4px 0 0px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.table_links a:hover {
  background: var(--secondary-light-color);
  color: #fff;
}

.sp_footer {
  position: absolute;
  text-align: right !important;
  background: none;
}

.sp_color {
  color: var(--secondary-color);
}

.sp_color a i {
  color: var(--secondary-color) !important;
}

.hotel_table a i {
  color: var(--secondary-color) !important;
}

.hotels_view_area {
  width: 100%;
  margin: 10px 0px;
  float: left;
}

.hotels_view_area ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.hotels_view_area ul li {
  width: 100%;
  float: left;
  background: #fff;
  border: 1px solid #dbdbdb !important;
  min-height: 18px;
  margin-bottom: 5px;
}

.hotel_view_area ul li {
  border: none !important;
}

.hotel_name {
  color: var(--primary-color);
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 600;
  padding-right: 15px !important;
}

.hotel_name span {
  color: var(--secondary-color);
  float: left;
}

.hotel_name p {
  float: left;
  padding-right: 10px;
}

.hotel_place {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #0059c0;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
}

.hotel_price {
  padding: 5px;
  color: #ff803c;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.available {
  padding: 1px 11px;
  background: #129c25;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  float: right;
  margin-top: 6px;
  margin-bottom: 6px;
}

.hotelstatus_OR {
  padding: 1px 11px;
  background: #ff9207;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  float: right;
  margin-top: 6px;
  margin-bottom: 6px;
}

.roominfo {
  background: var(--primary-color) !important;
}

.roominfo:hover {
  background: var(--primary-light-color) !important;
}

.more_view_click {
  background: var(--secondary-color);
  color: #fff;
  cursor: pointer;
  float: right;
  font-size: 13px;
  border: none;
  padding: 6px 10px;
  text-align: center;
  vertical-align: middle;
}

.h_booknow {
  padding: 6px 8px 6px 14px;
  background: var(--secondary-color);
  color: #fff;
  cursor: pointer;
  float: right;
  font-size: 13px;
  margin-bottom: 5px;
}

.h_booknow:hover {
  background: var(--secondary-light-color);
}

/*#HotBook_2 {
    background: #527b08;
}*/

.more_view_click01 {
  padding: 6px 10px;
  background: #ff803c;
  color: #fff;
  cursor: pointer;
  float: right;
  font-size: 13px;
  margin-bottom: 5px;
}

/* .more_view_click i,
.more_view_click01 i {
  margin-left: 7px;
} */

.rate_area01 {
  margin-bottom: 5px !important;
  padding-top: 0px !important;
}

.photoview {
  width: 100%;
  height: auto;
  float: left;
  background: #fff;
  padding: 0px 0px 10px 0px;
  border-radius: 7px;
  margin-bottom: 10px;
}

.more_search {
  padding: 0px 26px !important;
}

.flight_rate_area a {
  font-weight: 400;
}

.click_cont01 {
  display: none;
}

.view_hotel_sec {
  width: 100%;
  float: left;
}

ul.tab-links li {
  width: auto !important;
  border: none !important;
}

ul.tab-links li a {
  border: none !important;
  color: #63605d;
}

ul.tab-links li:last-child {
  border-bottom: none;
}

.padding10 {
  padding: 10px;
}

.search_details {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  margin-bottom: 0px !important;
}

.hotel_view_area {
  position: relative;
}

footer {
  margin-top: 10px;
  /*position: fixed !important;*/
  bottom: 0 !important;
}

.hotel_description {
  width: 100%;
  float: left;
  padding: 15px;
}

.hotel_address {
  width: 100%;
  float: left;
}

.hotel_address h3 {
  color: #4c4c4c;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
}

.hotel_address p {
  color: #4c4c4c;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  margin-top: 3px;
}

.hotel_address span {
  color: #feb810;
  /*color: var(--secondary-color);*/
  font-size: 17px;
}

.hotel_address span i {
  margin-right: 3px;
}

.hotel_contact {
  width: 100%;
  float: left;
  padding: 10px 0px;
}

.hotel_contact h4 {
  color: #4c4c4c;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  /* font-weight: 600; */
  padding-bottom: 4px;
}

.point_or_interest {
  width: 100%;
  float: left;
  padding: 10px 0;
  margin-bottom: 10px;
}

.point_or_interest h3 {
  color: #444;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 12px;
}

.point_or_interest h4 {
  color: #444;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  margin-bottom: 6px;
  border-bottom: 1px dashed #fbfbfb;
  padding-bottom: 6px;
}

.map {
  width: 100%;
  min-height: 100px;
  float: left;
}

.hotel_dis_area {
  width: 100%;
  float: left;
}

.privacy_check {
  width: 100%;
  float: left;
  margin-top: 6px;
  position: relative;
}

.privacy_check label {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: #646464;
  font-weight: 400;
  padding-left: 29px;
}

.privacy_check input[type="checkbox"] {
  position: absolute;
  width: 20px;
  height: 20px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  opacity: 0;
  cursor: pointer;
  top: 0px;
}

.privacy_check input[type="checkbox"] + label:before {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 9px;
  background: url(../images/radio-checkbox01.png) no-repeat;
  content: " ";
  vertical-align: top;
  cursor: pointer;
  margin-top: -3px;
  -webkit-box-shadow: 0 5px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 3px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 5px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.2);
  left: 0;
  margin-left: -29px;
}

.privacy_check input[type="checkbox"]:checked + label:before {
  background-position: 0 -20px;
}

.privacy_check input[type="checkbox"] + label:before {
  background-position: 0 0px;
}

.hotel_dis_area h3 {
  color: var(--secondary-color);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 6px;
  text-transform: capitalize;
  margin-top: 10px;
}

.hotel_dis_area p {
  color: #4c4c4c;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  margin-top: 3px;
  text-align: justify;
}

.hotel_aminities {
  width: 100%;
  float: left;
  margin-top: 10px;
}

.hotel_aminities h4 {
  width: 100%;
  float: left;
  padding: 10px;
  background: var(--primary-color);
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  margin-bottom: 8px;
  border-bottom: 1px dashed #d6d6d6;
  font-weight: 600;
  margin-top: 7px;
}

.hotel_aminities h4 i {
  margin-right: 5px;
}

.hotel_aminities ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.hotel_aminities ul li {
  border: none !important;
  width: 50%;
  margin-right: 0px !important;
  padding-right: 10px;
  color: #4c4c4c;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  margin-bottom: 6px;
}

.hotel_aminities ul li:last-child {
  border: none;
}

.hotel_aminities ul li i {
  color: #9e9e9e;
  margin-right: 5px;
  width: 21px;
}

.hotel_aminities div {
  clear: left;
}

.hotel_ar {
  float: right;
  border-left: 1px solid #ece9e9;
}

.on_request_clr {
  font-size: 19px;
  color: #ff9207;
  margin-right: 5px;
  float: left;
}

.hotel_mobile_info {
  width: auto;
  float: right;
  display: none;
  border: 1px solid rgba(0, 0, 0, 0.09);
}

.hotel_mobile_info a {
  height: 25px;
  float: right;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: var(--primary-color);
  font-weight: 500;
  padding: 0px 26px 0px 11px;
  line-height: 25px;
  background: url(../images/hotel-more-info.png) no-repeat right;
  /* border-radius: 3px; */
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.hotel_mobile_info a:hover {
  color: #fff;
  background: var(--primary-color) url(../images/hotel-more-info-hvr.png)
    no-repeat right;
}

ul.tab-links li a p {
  float: left;
}

.available_icons {
  width: 100%;
  float: left;
}

.available_icons i {
  color: #6aaee6;
  font-size: 16px;
  margin-right: 8px;
}

.satellite_icon {
  width: 18px;
  height: 16px;
  float: left;
  background: url(../images/satellite.png) no-repeat;
}

.hairdryer_icon {
  width: 18px;
  height: 16px;
  float: left;
  background: url(../images/hairdryer.png) no-repeat;
}

.gym_icon {
  width: 18px;
  height: 16px;
  float: left;
  background: url(../images/gym.png) no-repeat;
}

.tennis_icon {
  width: 18px;
  height: 16px;
  float: left;
  background: url(../images/tennis.png) no-repeat;
}

.golf_icon {
  width: 18px;
  height: 16px;
  float: left;
  background: url(../images/golf.png) no-repeat;
}

.poolh_icon {
  width: 18px;
  height: 16px;
  float: left;
  background: url(../images/pool-heated.png) no-repeat;
}

.sauna_icon {
  width: 18px;
  height: 16px;
  float: left;
  background: url(../images/sauna.png) no-repeat;
}

.btn_selectedroom {
  background: #248632;
  color: #fff !important;
  border: 1px solid #248632 !important;
}

.desktop_sort p {
  float: right;
  padding: 2px 7px 1px 7px;
  background: #ff803c;
  color: #fff;
  font-size: 12px;
  margin-top: 9px;
  border-radius: 2px;
}

.desktop_sort {
  margin-bottom: 0px !important;
}

.desktop_sort h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  line-height: 42px;
  padding: 0px 10px 0px 10px;
  float: left;
  border-right: 1px solid #e7e7e7;
  text-transform: uppercase;
}

.checkBox_area label {
  line-height: 30px !important;
}

.accordion li.open i {
  color: #454f69;
  content: "\f2d1";
  font-family: FontAwesome;
  width: 20px;
  height: 16px;
}

.accordion li i.fa-chevron-down,
.accordion li i.fa-chevron-up {
  position: absolute;
  top: 6px;
  right: 2px;
  font-size: 18px;
  color: rgba(62, 58, 105, 0.6);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  /* transform: rotate(180deg); */
}

.accordion li i {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(0deg);
}

.simplePopupBackground {
  z-index: 99;
}

/*.modal-backdrop {
    z-index: 99999999 !important;
}*/

.red {
  color: #ff0101 !important;
}

.green {
  color: lightgreen !important;
}

.orange,
.fa-tag {
  color: orangered !important;
}

.cmn_box_section {
  width: 100%;
  float: left;
  min-height: 275px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.13);
}

.cmn_box_section h3 {
  padding: 12px 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: #fff;
  font-weight: 500;
}

.cmn_box_section h3 i {
  font-size: 23px;
  position: relative;
  margin-top: -3px;
}

.clr_code01 {
  background: #fff;
}

.clr_code01 h3 {
  background: var(--primary-color);
}

.cmn_box_content {
  width: 100%;
  float: left;
  padding: 12px;
}

.cmn_box_content a {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: #4c4c4c;
  margin-bottom: 8px;
  display: block;
}

.cmn_box_content p {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: #4c4c4c;
  margin-bottom: 8px;
}

.clr_code02 {
  background: #fff;
}

.clr_code02 h3 {
  background: var(--primary-color);
}

.clr_code03 {
  background: #fff;
}

.clr_code03 h3 {
  background: var(--primary-color);
}

.clr_code04 {
  background: #fff;
}

.clr_code04 h3 {
  background: var(--primary-color);
}

.sp_right {
  float: right;
}

.search_area h6 {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  background: #2d3e52;
  padding: 9px 10px;
}

.srch_table22 {
  width: 100%;
  height: auto;
  float: left;
  background: #e0e0e0;
  margin-bottom: 10px;
}

.srch_table {
  width: 100%;
  height: auto;
  float: left;
  background: #b7b7b7;
}

.srch_grid_style01 > thead > tr {
  background: #2d3e52;
}

.srch_grid_style01 > thead > tr > th {
  color: #fff !important;
  font-weight: normal;
}

table.dataTable thead th,
table.dataTable tfoot th {
  font-weight: 500;
}

.tbodytrpointer {
  cursor: pointer;
}

.no_data {
  background: #e9c734;
  width: 100%;
  float: left;
  margin-bottom: 10px;
}

.no_data img {
  float: left;
}

.no_data p {
  font-family: "Yesteryear", cursive;
  color: #000;
  font-size: 32px;
  text-align: left;
  padding-top: 41px;
  text-shadow: 3px 0px 0px #b79b21;
  line-height: 29px;
}

.no_data_mrg {
  margin-bottom: 10px;
}

.table-hover05 > tbody > tr:hover {
  background-color: #e09c84;
  color: #fff;
}

.no_pillow {
  width: 100%;
  float: left;
  padding: 5px;
  background: #b00909;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  text-align: center;
  font-weight: 600;
}

.no_pillow i {
  font-size: 17px;
  margin-right: 6px;
}

.lesscreditlimit a.close,
.nocreditlimit a.close {
  color: #607d8b;
}

.hoteldealhighlightag {
  background: #ff0000;
  float: left;
  color: white;
  font-size: 12px;
  padding: 3px 5px;
  font-family: "Open Sans", sans-serif;
  position: absolute;
  right: -22px;
}

.hoteldealhighlightag i {
  font-size: 11px !important;
}

.hotelloadingmobile {
  display: none;
  text-align: center;
}

.hotelloadingmobile img {
  width: 150px;
}

/*hotel top modify CSS*/

.top_details {
  width: 100%;
  float: left;
  background: var(--secondary-color);
  border-top: 1px solid #fff;
}

.modify_details_left {
  width: 100%;
  float: left;
  margin-top: 23px;
  position: relative;
  z-index: 9;
}

.desti_name {
  width: 42%;
  float: left;
  padding: 8px 0px;
}

.desti_name h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 17px;
}

.desti_name h3 span {
  font-weight: 600;
  font-size: 25px;
}

.desti_name p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #ffcb93;
  font-size: 13px;
}

.desti_icon {
  padding: 12px 20px;
  float: left;
}

.datepax_area {
  width: 100%;
  float: left;
  position: relative;
  z-index: 9;
}

.firstpax_area {
  width: 100%;
  float: left;
}

.date_area_pax {
  width: 100%;
  color: #fff;
  padding-left: 0px;
  padding-top: 8px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 19px;
}

.hotel_banner a {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 13px;
  border: 1px solid var(--secondary-color);
  border-radius: 15px;
  float: left;
  padding: 6px 29px;
  margin-top: 12px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.hotel_banner a:hover {
  background: var(--secondary-color);
}

.date_area_pax span {
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  padding: 0px 5px;
}

.paxNums {
  width: 100%;
  float: left;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #fbc387;
  padding-left: 10px;
}

.paxNums span {
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  padding: 0px 5px;
}

.top_details a {
  float: right;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #2f3292;
  background: #fff;
  padding: 0px 8px;
  border-radius: 3px;
  float: right;
  height: 24px;
  line-height: 24px;
  margin-top: 7px;
  margin-bottom: 7px;
  transition: all linear 0.15s;
}

.top_details a:hover {
  background: #dcdcdc;
}

.sp_mode {
  width: 100% !important;
}

.sp_mode p {
  padding-left: 16px;
}

.fix_header {
  position: fixed;
  z-index: 9999999;
}

.icn_htl {
  margin-right: 6px;
  margin-left: 8px;
}

/*hotel top modify CSS CLOSE*/

.checkBox_area span {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #2e475d;
  cursor: pointer;
  margin-right: 15px;
  margin-top: 5px;
  float: right;
  display: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.checkBox_area:hover span {
  display: block;
}

.hotel_detailsbtn a {
  height: 25px;
  float: right;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: #404040;
  font-weight: 600;
  padding: 0px 26px 0px 11px;
  line-height: 25px;
  background: url(../images/hotel-more-info.png) no-repeat right;
  /* border-radius: 3px; */
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.hotel_detailsbtn {
  float: right;
  margin-bottom: 7px;
}

.hotel_detailsbtn a:hover {
  color: #fff;
  background: #ff9a64 url(../images/hotel-more-info-hvr.png) no-repeat right;
}

.hotel_banner {
  width: 100%;
  min-height: 200px;
  float: left;
  padding: 10px 0px;
  background-image: var(--hotel-result-banner),
    url("/Hotels/HotelComponents/assets/images/results_bg.jpg");
  /*background: var(--hotels-result-banner) no-repeat;*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 0px;
  position: relative;
}

.hotel_banner::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(8, 8, 8, 0.58);
}

/*new*/

.frm_tab_view01 {
  width: 100%;
  float: left;
  padding-top: 10px;
}

.frm_from {
  width: 100%;
  float: left;
  height: 38px;
  border: 1px solid #9ba8b1;
  font-family: "Open Sans", sans-serif;
  color: var(--primary-color);
  font-size: 12px;
  font-weight: normal;
  padding-right: 32px;
  background: url(../../amaflight/Flightcomponents/images/frm_img.png) no-repeat
    center right;
  padding-left: 10px;
  margin-bottom: 6px;
}

.start_date {
  width: 100%;
  float: left;
  height: 38px;
  border: 1px solid #9ba8b1;
  font-family: "Open Sans", sans-serif;
  color: var(--primary-color);
  font-size: 12px;
  font-weight: normal;
  padding-right: 32px;
  background: url(../../amaflight/Flightcomponents/images/calender_img8.png)
    no-repeat center right;
  padding-left: 10px;
  margin-bottom: 6px;
}

.end_date5 {
  width: 100%;
  float: right;
  height: 38px;
  border: 1px solid #9ba8b1;
  font-family: "Open Sans", sans-serif;
  color: var(--primary-color);
  font-size: 12px;
  font-weight: normal;
  padding-right: 32px;
  background: url(../../amaflight/Flightcomponents/images/calender_img8.png)
    no-repeat center right;
  padding-left: 10px;
  margin-bottom: 6px;
}

.frm_sb_btn {
  width: 100%;
  height: 42px;
  float: left;
  background: var(--primary-color);
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #fff;
  text-align: center;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.frm_tab_view01 label {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #2c2d2d;
  font-size: 13px;
}

.date_area_frm {
  margin-bottom: 6px;
  float: left;
  width: 100%;
}

.date_area_frm label {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #2c2d2d;
  font-size: 13px;
}

.select_adult5 {
  width: 48%;
  float: left;
}

.select_adult6 {
  width: 48%;
  float: right;
}

.roomsAreasec {
  width: 100%;
  float: left;
  border: 1px solid #e3e3e3;
  /*padding: 5px;*/
  margin-bottom: 6px;
  /*margin-top: 7px;*/
  padding: 5px;
  /*border: 1px dashed #d0d0d0;*/
}

.roomsAreasec h5 {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: #2c2d2d;
  font-weight: 700;
  float: left;
  padding-top: 6px;
  margin-bottom: 8px;
  width: 100%;
}

.roomsAreasec label {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #2c2d2d;
  font-size: 13px;
}

/* Map */

#map {
  height: 800px;
}

/* Info window */

.map_details {
  width: 300px;
  height: 100%;
  display: block;
  position: relative;
}

.view_map {
  width: 100%;
  height: auto;
  float: left;
  position: relative;
}

.hotel_img {
  width: 35%;
  max-height: 140px;
  float: left;
  overflow: hidden;
}

.hotel_img img {
  height: 140px;
  width: 100%;
  background-size: cover;
}

.hotel_dis {
  width: 65%;
  float: right;
  padding-left: 10px;
}

.hotel_dis h3 {
  font-size: 15px;
  color: #367cc0;
  font-weight: 600;
}

.hotel_dis h3 .float-star {
  font-size: 10px;
  margin: 1px;
  display: inline-block;
}

.hotel_dis h3 .float-star span {
  margin: 1px;
}

.hotel_location {
  margin-top: 5px;
}

.hotel_location span {
  color: #777;
  font-size: 12px;
}

.map_rate {
  font-weight: 500;
  font-size: 20px;
  color: #000;
  float: left;
  margin-top: 10px;
}

.map_rate span {
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
}

.map_hotel_select_btn {
  background-color: #367cc0;
  padding: 10px 20px;
  font-size: 12px;
  border: none;
  color: #fff;
  float: right;
}

.direction_btn {
  width: 100%;
  margin: 5px 0 48px 0;
  border-top: 1px solid #00000012;
}

.direction_btn1 {
  background: none;
  font-size: 11px;
  padding: 12px 0px;
  border: none;
  float: left;
  color: #1954b8;
  text-decoration: underline;
}

.direction_btn2 {
  background: none;
  font-size: 11px;
  padding: 12px 0px;
  float: right;
  border: none;
  color: #1954b8;
  text-decoration: underline;
}

/* 
.gm-style-iw-d + button {
	display: none !important;
} */

.gm-style .gm-style-iw-c {
  border-radius: 0 !important;
}

/* get direction */

.get_direction {
  width: 100%;
  float: left;
  background: #256fcc;
}

.get_direction_navs {
  width: 100%;
  float: left;
  margin-bottom: 5px;
  border-bottom: 1px solid #ffffff30;
  padding: 10px;
}

.get_direction_navs label {
  width: 30px;
  height: 30px;
  background: #00000052;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 30px;
}

.get_direction_navs a {
  padding: 5px 12px;
  float: right;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  margin-left: 2px;
}

.get_direction_navs a:hover {
  background: #194b8a;
}

.get_direction_txt {
  width: 100%;
  float: left;
  padding: 0 10px 10px 0;
}

.fm_direction {
  width: 100%;
  float: left;
  margin-bottom: 3px;
  position: relative;
  padding-left: 30px;
}

.fm_direction i {
  color: #fff;
  font-size: 16px;
  position: absolute;
  left: 8px;
  top: 8px;
}

.txt_direction1 {
  width: 100%;
  /* float: left; */
  height: 30px;
  border: none;
  background: none;
  border-bottom: 1px solid #ffffff82;
  color: #fff;
  font-size: 13px;
}

.to_direction {
  width: 100%;
  float: left;
  margin-bottom: 3px;
  position: relative;
  padding-left: 30px;
}

.to_direction i {
  color: #fff;
  font-size: 19px;
  position: absolute;
  left: 9px;
  top: 6px;
}

.txt_direction2 {
  width: 100%;
  float: left;
  height: 30px;
  border: none;
  background: none;
  border-bottom: 1px solid #ffffff82;
  color: #fff;
  font-size: 13px;
}

.line_direction {
  width: 100%;
  height: 19px;
  float: left;
  margin-bottom: 3px;
  position: relative;
  padding-left: 30px;
}

.line_direction i {
  color: #fff;
  font-size: 19px;
  position: absolute;
  left: 13px;
  top: 3px;
}

.desti_place::-webkit-input-placeholder {
  font-family: "Open Sans", sans-serif;
  color: #ffffff82;
  font-size: 12px;
  font-weight: normal;
}

.desti_place:-moz-placeholder {
  /* Firefox 18- */
  font-family: "Open Sans", sans-serif;
  color: #ffffff82;
  font-size: 12px;
  font-weight: normal;
}

.desti_place::-moz-placeholder {
  /* Firefox 19+ */
  font-family: "Open Sans", sans-serif;
  color: #ffffff82;
  font-size: 12px;
  font-weight: normal;
}

.desti_place:-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
  color: #ffffff82;
  font-size: 12px;
  font-weight: normal;
}

.mapbtn {
  width: auto;
  height: auto;
  float: left;
  margin-right: 4px;
}

.mapbtn input[type="radio"] + label.btn {
  padding: 0px;
  margin: 0px;
  height: 30px;
  width: 30px;
  line-height: 29px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: normal;
  display: inline-block;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: #fff;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  border: none;
  border-radius: 50% !important;
  cursor: pointer;
  border: none !important;
}

.mapbtn input[type="radio"] + label.btn:hover {
  background: #1a8fce;
  border-radius: 3px;
  color: #fff !important;
}

.mapbtn input[type="radio"]:checked + label.btn {
  background: #1a8fce;
  border-radius: 3px;
}

.mapbtn i {
  position: absolute;
  color: #fff;
  left: 0px;
  top: 9px;
  width: 30px;
}

.get_direction input[type="radio"] {
  display: none;
}

.get_direction a:hover,
.get_direction a:focus {
  text-decoration: none;
}

/* Enter and leave animations can use different */

/* durations and timing functions.              */

.get_direction-enter-active {
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

.get_direction-leave-active {
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.get_direction-enter-to,
.get_direction-leave {
  max-height: 100px;
  overflow: hidden;
}

.get_direction-enter,
.get_direction-leave-to {
  overflow: hidden;
  max-height: 0;
}

.hotel_map_list-enter-active {
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

.hotel_map_list-leave-active {
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.hotel_map_list-enter-to,
.hotel_map_list-leave {
  max-height: 760px;
  overflow: hidden;
}

.hotel_map_list-enter,
.hotel_map_list-leave-to {
  overflow: hidden;
  max-height: 660px;
}

/* hotel map list */

.hotel_map_list {
  width: 100%;
  float: left;
  height: 760px;
  overflow: auto;
  padding: 7px;
  border-top: 1px solid #1a0e0e;
}

.hotel_map_list_shrink {
  height: calc(760px - 156px) !important;
}

.htl_map_view {
  width: 100%;
  height: auto;
  float: right;
}

.hotel_map_list ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  /* height: 730px; */
}

.hotel_map_list ul li {
  width: 100%;
  float: left;
  padding: 5px;
  border-bottom: 1px solid #efefef;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.hotel_map_list ul li:hover {
  background: #808080;
}

.list_htlImg {
  width: 70px;
  height: 70px;
  float: left;
  margin-right: 6px;
}

.list_htlImg img {
  width: 70px;
  height: 70px;
}

.hotel_map_list ul li h2 {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #313131;
  font-weight: normal;
  margin-bottom: 5px;
}

.hotel_map_list ul li h3 {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  color: #c53919;
  font-weight: 700;
}

.mode_change {
  width: 40px;
  height: 40px;
  float: right;
  background: #303030;
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: 0;
  color: #fff;
  font-size: 25px;
  border-right: 1px solid #303030;
}

.mode_change i {
  margin-left: 11px;
  margin-top: 7px;
  font-size: 18px;
}

.htl_list {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  z-index: 9;
}

.htl_list01 {
  width: 315px;
  float: left;
  background: #fff;
  height: 100%;
  overflow: hidden;
}

/* Enter and leave animations can use different */

/* durations and timing functions.              */

.hide_list01-enter-active,
.hide_list01-leave-active {
  transition: 1s;
}

.hide_list01-enter,
.hide_list01-leave-to {
  width: 0;
}

/* map poi */

.point_int {
  width: 100%;
  height: 760px;
  float: left;
  overflow: auto;
}

#tempHtml {
  margin: 5px;
}

#nav {
  display: block;
  width: 100%;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

#nav > li > a {
  display: block;
  padding: 6px 12px;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  background: #397ec1;
}

#nav > li > a:hover,
#nav > li > a.open {
  color: #e9e9e9;
  border-bottom-color: #384f76;
  background: #859ad4;
}

#nav li ul {
  background: #c5daed;
  list-style: none;
  padding: 0;
}

#nav li ul li a {
  display: block;
  background: none;
  padding: 4px 0px;
  padding-left: 25px;
  font-size: 12px;
  text-decoration: none;
}

#nav li ul li a:hover {
  background: #394963;
  color: #fff !important;
}

#nav > li > a i {
  float: right;
  margin-top: 1px;
  font-size: 15px;
  margin-right: -5px;
}

.slide-enter-active {
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

.slide-leave-active {
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slide-enter-to,
.slide-leave {
  max-height: 100px;
  overflow: hidden;
}

.slide-enter,
.slide-leave-to {
  overflow: hidden;
  max-height: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

/* buttons */

.htl_view {
  width: 40px;
  height: 40px;
  float: right;
  background: #303030;
  cursor: pointer;
  position: absolute;
  right: -40px;
  color: #fff;
  font-size: 25px;
  z-index: 999;
}

.htl_view i {
  margin-left: 13px;
  margin-top: 7px;
}

.web_view {
  width: 40px;
  height: 40px;
  float: right;
  background: #1f8fce;
  cursor: pointer;
  position: absolute;
  right: -40px;
  top: 40px;
  color: #fff;
  font-size: 25px;
}

.web_view i {
  margin-left: 9px;
  margin-top: 7px;
}

.globe_view {
  width: 40px;
  height: 40px;
  float: right;
  background: #1f8fce;
  cursor: pointer;
  position: absolute;
  right: -40px;
  top: 80px;
  color: #fff;
  font-size: 25px;
}

.globe_view i {
  margin-left: 9px;
  margin-top: 7px;
}

.print_view {
  width: 40px;
  height: 40px;
  float: right;
  background: #1f8fce;
  cursor: pointer;
  position: absolute;
  right: -40px;
  top: 120px;
  color: #fff;
  font-size: 25px;
}

.print_view i {
  margin-left: 9px;
  margin-top: 7px;
}

.map_filter {
  width: 100%;
  float: left;
  border-bottom: 1px solid #efefef;
  /* padding: 3px 0px;
	margin-bottom: 10px; */
  position: relative;
}

.map_filter input[type="text"]:disabled {
  background: #fff;
}

.srch_filter {
  width: 100%;
  height: 33px;
  float: left;
  background: #fff;
  border: none;
  /* padding: 0px 50px 0px 10px; */
  font-size: 11px;
  padding: 20px 8px;
}

.hotel_map_list .content {
  position: relative;
  /* margin: 10px 0 0 10px; */
  max-width: 100%;
  /* height: 357px; */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
}

/* Map End */

.hotels_Q_list {
  width: 100%;
  float: left;
}

.h_list_head {
  font-family: "CenturyGothic-Regular";
  font-size: 14px;
  color: #074774;
  font-weight: 600;
  border-bottom: 1px solid rgba(204, 204, 204, 0.3) !important;
  margin-bottom: 6px;
  padding-bottom: 7px;
}

.h_list_area {
  width: 100%;
  float: left;
  margin-bottom: 10px;
}

.h_list_area ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  width: 100%;
  float: left;
}

.h_list_area ul li {
  width: 100%;
  float: left;
  font-family: "CenturyGothic-Regular";
  font-size: 13px;
  color: #10252e;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
}

.h_list_area ul li span {
  padding-left: 16px;
}

.h_list_area ul li::before {
  content: "\f0f7";
  font-family: FontAwesome;
  font-size: 14px;
  color: #fa460d;
  position: absolute;
  left: 0px;
  top: -1px;
}

.h_list_area ul li ul {
  padding-top: 2px;
  border-top: 1px dashed #e8e8e8;
  margin-top: 11px;
  padding-left: 15px;
  float: left;
  width: 100%;
}

.h_list_area ul li ul li {
  width: 100%;
  float: left;
  font-family: "CenturyGothic-Regular";
  font-size: 12px;
  color: #10252e;
  font-weight: 400;
  position: relative;
  padding: 5px 20px 5px 13px;
  border-bottom: 1px dashed #e8e8e8;
  margin-bottom: 6px;
}

.h_list_area ul li ul li::before {
  content: "\f101";
  font-family: FontAwesome;
  font-size: 14px;
  color: #fa460d;
  position: absolute;
  left: 0px;
  top: 3px;
}

.h_list_area ul li ul li i {
  font-size: 15px;
  float: right;
  color: #bbb8b8;
  cursor: pointer;
  top: 6px;
  position: absolute;
  right: 0;
}

.h_list_area ul li i {
  font-size: 15px;
  float: right;
  color: #fa460d;
  cursor: pointer;
  top: 4px;
  position: absolute;
  right: 0;
}

.htlsend {
  float: right;
  cursor: pointer;
  padding: 4px 12px;
  display: block;
  background: var(--primary-color);
  font-family: "CenturyGothic-Regular";
  font-size: 12px;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  /* margin-top: 10px; */
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-top: -4px;
}

.htlsend:hover {
  /*background: var(--secondary-color);*/
  color: #fff;
}

.clearall {
  float: left;
  cursor: pointer;
  padding: 4px 12px;
  display: block;
  background: var(--primary-color);
  font-family: "CenturyGothic-Regular";
  font-size: 12px;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 10px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.clearall:hover {
  background: var(--secondary-color);
  color: #fff;
}

.form_text {
  width: 100%;
  float: left;
}

.tetxt label {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #000000;
  padding-right: 5px;
  min-width: 100%;
  margin-top: 3px;
  float: left;
}

.qtxt {
  width: 100%;
  height: 30px;
  float: left;
  border: 1px solid #ccc;
}

.ckeditor {
  width: 100% !important;
  float: left !important;
}

.instruction_sec {
  width: 100%;
}

.instruction_sec h5 {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 600;
}

.instruction_sec h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  margin-bottom: 5px;
  font-weight: 600;
}

.instruction_sec p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px !important;
  color: #d9534f !important;
  margin-bottom: 10px;
}

.instruction_sec ul {
  list-style: none;
}

.noresult_sec {
  width: 100%;
  float: left;
  background: #fff;
  padding: 10px;
  margin: 10px 0px 0px 0px;
  text-align: center;
  border: 1px solid #dbdbdb !important;
}

.noresult_sec svg {
  width: 84px;
  height: auto;
  color: var(--primary-color);
  fill: var(--primary-color);
}

.noresult_sec h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  color: var(--primary-color);
  font-weight: 600;
}

.noresult_sec h5 {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: #878787;
  font-weight: normal;
  margin: 10px;
}

.noresult_sec h6 {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: #878787;
  font-weight: normal;
  margin: 10px;
}

.back-to-search {
  height: 42px;
  background: var(--primary-color);
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #fff;
  text-align: center;
  border: none;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  display: inline-block;
}

.back-to-search:hover {
  color: #fff;
}

#getmaplistinfo {
  margin: 10px;
}

.showall {
  width: auto;
  float: right;
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  color: #4e4e4e;
  cursor: pointer;
  position: relative;
  right: 41px;
  top: 6px;
  font-weight: 400;
  z-index: 99;
}

.fare_head_area .tooltiptext {
  visibility: hidden;
  width: 275px;
  background-color: #fff;
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: fixed;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
  border: 1px solid #1f8fce;
  text-align: left;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 400;
  margin-left: 21px;
  margin-top: 25px;
}

.fare_head_area .tooltiptext .text {
  font-size: 12px;
  font-weight: 300;
  color: #444;
  padding: 0;
}

.fare_head_area .tooltiptext .table {
  margin-bottom: 0 !important;
}

.fare_head_area .tooltip-bottom::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent #1f8fce transparent;
}

.fare_head_area:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip_table {
  background: #1f8fce;
  color: #fff !important;
}

.wdth_sec {
  width: 100%;
  float: left;
}

.wdth_sec label {
  width: 100%;
  float: left;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #2e475d;
  text-transform: uppercase;
  margin: 0 0 5px;
}

.frmtxt {
  width: 100%;
  height: 38px;
  border: 1px solid #e3e3e3;
  font-family: "Open Sans", sans-serif;
  color: #5a5d61;
  font-size: 13px;
  font-weight: 400;
  padding-right: 32px;
  background: #fff;
  padding-left: 10px;
}

.km-range-div {
  width: 100%;
  height: 44px;
  border: 1px solid #e3e3e3;
  font-family: "Open Sans", sans-serif;
  color: #5a5d61;
  font-size: 13px;
  font-weight: 400;
  padding-right: 32px;
  background: #fff;
  padding-left: 10px;
}

.mrbtm {
  margin-bottom: 15px;
}

.mainbooking_info {
  width: 100%;
  float: left;
  padding: 30px 10px 0 10px;
  background: #fff;
  border: 1px solid #d5d5d5;
}

.trip_sec {
  width: 100%;
  float: left;
  border: 1px solid #d5d5d5;
  margin-bottom: 30px;
  background: #fff;
}

.trip_sec h3 {
  padding: 13px 0;
  background: var(--primary-color);
  color: #fff;
  font-size: 17px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
}

.trip_sec > h4 {
  padding: 13px 0;
  color: #444;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
}

.sp53 {
  display: block;
  border-bottom: 1px dashed #cccccc;
  overflow: hidden;
  font-size: 14px;
  font-weight: 400;
  color: #555555;
  padding: 10px 0 6px 0;
}

.confirm-text {
  padding: 0 20px;
  margin-bottom: 20px;
  width: 100%;
  float: left;
}

.loadingGIF {
  position: inherit !important;
  width: 100%;
  height: 84vh;
  overflow: auto;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 999999999;
  opacity: 0.8;
  text-align: center;
  background: #fff;
}

.modal {
  overflow-y: auto;
}

.modal-open[style] {
  padding-right: 0px !important;
}

/*srf*/

.cart_sec {
  width: 100%;
  float: left;
}

.cart_sec ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.cart_sec ul li {
  width: 100%;
  float: left;
  margin-bottom: 8px;
  padding: 10px;
  border: 1px solid #d8d8d8;
  background: #fff;
  position: relative;
}

.cart_sec ul li p {
  font-family: "CenturyGothic-Regular";
  font-size: 12px;
  color: #4c4c4c;
  padding: 5px 0px;
}

.cartImg {
  width: 204px;
  float: left;
  margin-right: 14px;
  height: 152px;
}

.cartImg img {
  width: 100%;
  height: 100%;
}

.cart_btns {
  width: 100%;
  float: left;
  margin-bottom: 12px;
  padding-top: 10px;
}

.mail_send {
  padding: 12px 13px;
  display: block;
  float: right;
  background: var(--primary-color);
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  text-align: center;
  margin-left: 5px;
  text-transform: uppercase;
  margin-top: 10px;
}

.mail_send:hover {
  color: #fff;
  background: var(--secondary-color);
}

.download_btnCart {
  padding: 12px 13px;
  display: block;
  float: right;
  background: var(--primary-color);
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  text-align: center;
  margin-left: 5px;
  text-transform: uppercase;
  margin-top: 10px;
}

.download_btnCart:hover {
  color: #fff;
  background: var(--secondary-color);
}

.cart_sec ul li h5 {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: #0f225b;
  margin-bottom: 5px;
  font-weight: bold;
}

.cart_sec ul li h6 {
  margin-bottom: 10px;
}

.cart_sec ul li h6 i {
  color: #e34913;
  font-size: 16px;
}

.cart_sec ul li h4 {
  position: absolute;
  right: 41px;
  top: 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 19px;
  color: #d15410;
  margin-bottom: 5px;
  font-weight: bold;
}

.cart_close {
  width: 27px;
  height: 27px;
  position: absolute;
  right: 0px;
  top: 0px;
  background: #eb0e0e;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.cart_close i {
  margin-top: 5px;
  font-size: 16px;
}

.cart_table {
  width: 100%;
  border-color: #aca591;
}

.cart_table tr td {
  border-collapse: collapse;
  padding: 5px;
}

.cart_table tr th {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: #3e3b34;
  background: #c5bda6;
  padding: 9px 5px;
}

.cart_table tr td {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: #3e3b34;
  padding: 5px;
}

.tble_crt {
  display: -webkit-box;
}

.newtxt {
  width: 100%;
  height: 42px;
  float: left;
  border: none;
  padding-left: 11px;
  padding-right: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  color: #5a5d61;
  font-weight: 500;
  border: none;
  background: #fff url(../images/newtxt.png) no-repeat right center;
  -webkit-appearance: none;
}

.newcalendar {
  width: 100%;
  height: 42px;
  float: left;
  border: none;
  padding-left: 11px;
  padding-right: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  color: #5a5d61;
  font-weight: 500;
  border: none;
  background: #fff url(../images/new-calendar.png) no-repeat right center;
  -webkit-appearance: none;
}

/*form select */

.multi_selector {
  width: 100%;
  float: left;
  position: relative;
}

.all_select {
  border-bottom: none;
  width: 100%;
  float: left;
  background: #e4e4e4;
  padding: 3px 10px;
}

#resendquotation {
  display: block;
  float: none;
  margin: 10px;
}

.ui-menu-item a.ui-state-focus {
  background: var(--primary-light-color);
}

.contnt_bint {
  width: 100%;
  float: left;
  padding: 8px 0px;
  color: var(--primary-color);
  font-size: 14px;
}

.carImg {
  position: relative;
}

.carImg img {
  width: 100%;
}

.hotelcount {
  margin-top: 3px;
  margin-right: 15px;
}

.hotelcount p {
  background: var(--secondary-color);
  padding: 1px 5px;
  color: #fff;
  font-size: 12px;
}

#hoteldetails table th,
#hoteldetails table td {
  padding: 10px;
}

.alertify .ajs-dimmer,
.alertify .ajs-modal {
  z-index: 9999999999999999 !important;
}

#ui-datepicker-div {
  z-index: 999999999 !important;
}

.bundle_header {
  padding: 0 0 0 10px;
  color: #29a0ff;
}

.error {
  border: 1px solid #e84444 !important;
}

.error-text {
  font-size: 12px;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.lds-spinner {
  position: relative;
}

.lds-spinner div {
  left: 94px;
  top: 48px;
  position: absolute;
  -webkit-animation: lds-spinner linear 2s infinite;
  animation: lds-spinner linear 2s infinite;
  background: #acacac;
  width: 12px;
  height: 24px;
  border-radius: 40%;
  -webkit-transform-origin: 6px 52px;
  transform-origin: 6px 52px;
}

.lds-spinner div:nth-child(1) {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-animation-delay: -1.833333333333333s;
  animation-delay: -1.833333333333333s;
}

.lds-spinner div:nth-child(2) {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  -webkit-animation-delay: -1.666666666666667s;
  animation-delay: -1.666666666666667s;
}

.lds-spinner div:nth-child(3) {
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
  -webkit-animation-delay: -1.5s;
  animation-delay: -1.5s;
}

.lds-spinner div:nth-child(4) {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-animation-delay: -1.333333333333333s;
  animation-delay: -1.333333333333333s;
}

.lds-spinner div:nth-child(5) {
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
  -webkit-animation-delay: -1.166666666666667s;
  animation-delay: -1.166666666666667s;
}

.lds-spinner div:nth-child(6) {
  -webkit-transform: rotate(150deg);
  transform: rotate(150deg);
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.lds-spinner div:nth-child(7) {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-animation-delay: -0.833333333333333s;
  animation-delay: -0.833333333333333s;
}

.lds-spinner div:nth-child(8) {
  -webkit-transform: rotate(210deg);
  transform: rotate(210deg);
  -webkit-animation-delay: -0.666666666666667s;
  animation-delay: -0.666666666666667s;
}

.lds-spinner div:nth-child(9) {
  -webkit-transform: rotate(240deg);
  transform: rotate(240deg);
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.lds-spinner div:nth-child(10) {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  -webkit-animation-delay: -0.333333333333333s;
  animation-delay: -0.333333333333333s;
}

.lds-spinner div:nth-child(11) {
  -webkit-transform: rotate(300deg);
  transform: rotate(300deg);
  -webkit-animation-delay: -0.166666666666667s;
  animation-delay: -0.166666666666667s;
}

.lds-spinner div:nth-child(12) {
  -webkit-transform: rotate(330deg);
  transform: rotate(330deg);
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.lds-spinner {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}

.vcenter {
  display: flex;
  align-items: center;
}

.padding-15 {
  padding-top: 15px;
}

.book_button {
  padding-top: 6px;
}

.book_button div {
  margin-top: -5px;
}

.main_room_content {
  margin-top: 10px;
  border: 1px solid #dbdbdb;
}

.book_optional_rm {
  margin: 15px;
  font-size: 15px;
}

.padding5 {
  padding: 5px;
}

.padding8 {
  padding: 8px;
}

.padding-20 {
  padding-top: 20px;
}

.paddingtopbottom20 {
  padding: 20px 0;
}

.disable_btn {
  pointer-events: none;
  cursor: not-allowed;
}

.brdr_srv {
  border: none !important;
}

.service_fee {
  border: none;
  box-shadow: none;
  border-top: 1px solid #e0e0e0;
}

.lds-css {
      width: 100px;
      height: 100px;
      position: fixed;
      top: 250px;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      z-index: 9999999999;
      cursor: not-allowed;
}

.bckgrnd {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    z-index: 9999999999;
    cursor: not-allowed;
}

.filter-Bar {
  width: 100%;
  -webkit-transition: width 2s;
  /* For Safari 3.1 to 6.0 */
  transition: width 2s;
}

body {
  --ck-z-default: 10000;
  --ck-z-modal: calc(var(--ck-z-default) + 999999999999);
}

/*end*/

@media only screen and (min-width: 450px) and (max-width: 768px) {
  .hotel_left_area {
    width: 100%;
    padding-bottom: 10px;
  }
  .hotel_room_details div:not(:first-child) {
    display: none;
  }
  .status_area {
    padding-top: 6px;
    width: 30%;
    float: left;
    padding-left: 0;
    padding-bottom: 8px;
  }
  .cost_area {
    width: 40%;
    float: left;
    margin-bottom: 5px;
  }
  .book_button {
    width: 45%;
    float: left;
  }
  .book_button div {
    padding-top: 6px;
  }
  .book_button a {
    float: right;
  }
  .info_txt01 {
    padding: 0px;
    color: var(--secondary-color);
  }
  .info_txt02 {
    padding: 0px;
    margin-bottom: 10px;
  }
  ul.tab-links li a p {
    width: 100%;
    text-align: center;
  }
  ul.tab-links li a {
    text-align: center;
  }
}

@media only screen and (max-width: 450px) and (min-width: 200px) {
  .mb_more {
    display: block;
  }
  .hotel_img {
    width: 100%;
    margin-bottom: 10px;
  }
  .hotel_img img {
    width: 100%;
  }
  .hotel_dis {
    width: 100%;
  }
  .tab-links a {
    padding: 5px 13px;
    width: 100%;
  }
  .tab-links li {
    margin: 0px 0px 0px 0px;
    float: left;
    list-style: none;
    width: 100%;
  }
  ul.tab-links li {
    width: 33%;
  }
  .tab-links a {
    border-radius: 0px;
  }
  .hotel_room_details div:not(:first-child) {
    display: none;
  }
  .hotel_left_area {
    width: 100%;
    padding-bottom: 10px;
  }
  .status_area {
    padding-top: 6px;
    width: 100%;
    float: left;
    padding-left: 0;
    padding-bottom: 8px;
  }
  .cost_area {
    /* width: 60%;
    float: left; */
    margin-bottom: 5px;
    padding-left: 0px;
  }
  .book_button {
    /* width: 60%; */
    float: right;
  }
  ul.tab-links li a p {
    width: 100%;
    text-align: center;
  }
  ul.tab-links li a {
    text-align: center;
  }
  .hotel_img {
    max-height: none;
  }
  .hotel_aminities ul li {
    width: 100%;
    margin-right: 0px;
    padding-right: 0px;
    border-right: none;
  }
}

@media only screen and (max-width: 990px) and (min-width: 200px) {
  .info_txt {
    padding: 4px 0px 4px 0px;
  }
}

@media only screen and (max-width: 660px) and (min-width: 200px) {
  .hotel_name {
    width: 100%;
  }
  .hotelloadingpc {
    display: none;
  }
  .hotelloadingmobile {
    display: block;
  }
  .available {
    margin-right: 0px;
    margin-top: 0px !important;
  }
  .hotelstatus_OR {
    margin-right: 0px;
    margin-top: 3px !important;
  }
  .hotel_place {
    width: 30%;
  }
}

@media only screen and (max-width: 500px) and (min-width: 200px) {
  .hotel_place {
    width: 50%;
  }
  .hotel_price {
    width: 50%;
    text-align: right;
  }
  .available {
    width: 100%;
    text-align: center;
    margin-bottom: 5px !important;
  }
  /* .more_view_click {
    width: 100% !important;
  } */
  .more_view_click01 {
    width: 100% !important;
  }
  .more_search {
    margin-left: 0px !important;
    width: 100%;
    margin-top: 5px;
  }
  .more_view_click i,
  .more_view_click01 i {
    float: right !important;
    margin-top: 3px;
  }
  .hotelstatus_OR {
    width: 100%;
    text-align: center;
  }
  .hotel_type_area div:first-child {
    width: 100%;
    padding: 0px;
    margin-bottom: 6px;
  }
  .hotel_type_area div:nth-child(2n) {
    width: 30%;
    padding-left: 0px;
  }
  .hotel_type_area div:nth-child(3n) {
    width: 15%;
  }
  .hotel_type_area div:nth-child(4n) {
    width: 25%;
  }
  .hotel_type_area div:nth-child(5n) {
    width: 30%;
  }
  .hotel_type h5 {
    text-align: left;
  }
  .hotel_type_area {
    padding: 5px 0px;
  }
  .no_data img {
    float: none;
  }
  .no_data {
    text-align: center;
    padding-bottom: 15px;
  }
  .no_data p {
    padding-top: 10px;
    text-align: center;
    line-height: 33px;
    padding: 0px 10px;
  }
  .hotel_type h4 {
    text-align: justify;
  }
}

@media only screen and (max-width: 768px) and (min-width: 200px) {
  .hotel_mobile_info {
    display: block;
  }
}

@media only screen and (max-width: 707px) and (min-width: 200px) {
  .available {
    margin-right: 0px;
  }
  .hotelstatus_OR {
    margin-right: 0px;
    margin-top: 3px;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 768px) {
  .hotel_name {
    width: 42%;
  }
  /* .book_button button {
    padding: 0px 3px 0px 3px;
  } */
}

@media only screen and (max-width: 767px) and (min-width: 706px) {
  .available {
    margin-right: 0;
    margin-top: 2px;
    margin-bottom: 0px;
  }
  .hotelstatus_OR {
    margin-right: 0;
    margin-top: 3px;
  }
}

@media only screen and (max-width: 768px) and (min-width: 200px) {
  .flight_rate_area {
    display: block !important;
  }
  .cmn_box_section {
    min-height: 10px;
  }
  .flight_rate_area a.MoreDetHotClick {
    display: none !important;
  }
  .rate_area01 h3 {
    float: left;
    margin-top: 6px;
    margin-right: 5px;
  }
  .rate_area01 h4 {
    float: left;
  }
  .rate_area01 {
    width: 100%;
    min-width: 128px;
  }
  .more_search {
    margin-top: 0px;
    padding: 0px 25px;
    margin-left: 5px;
    height: 30px;
    background: var(--secondary-color);
    float: left;
  }
  .more_search:hover {
    background: var(--primary-color);
  }
  .more_view_click01 {
    float: left;
  }
  .more_view_click {
    width: 100%;
    float: left;
  }
}

.is-collapsed li:nth-child(n + 6) {
  display: none;
}

.fancybox-container {
  z-index: 9999999999 !important;
}

.show-more-rooms {
  margin: 10px auto;
  padding: 0 5px;
  float: right;
}

.show-more-options {
  margin: 0 auto;
  padding: 0 5px;
  float: right;
  background: var(--tertiary-color);
}

.show-more-options:hover {
  background: var(--tertiary-light-color);
}

.bundled_room {
  width: 75% !important;
}

#bookInfoModal .modal-body h3 {
  font-family: "Roboto", sans-serif;
  font-size: 18px !important;
  text-transform: uppercase;
  margin-top: 9px;
  font-weight: 600;
  margin-bottom: 25px;
  color: #676767 !important;
}

@media (min-width: 768px) {
  .mainbooking_info .modal-dialog {
    width: 50%;
    margin: 30px auto;
  }

  #modalEditVoucher .modal-dialog {
    width: 55%;
    margin: 30px auto;
  }
  #modalEmailVoucher .modal-dialog {
    width: 45%;
    margin: 30px auto;
  }
}

.alertify .ajs-dimmer,
.alertify .ajs-modal {
  z-index: 9999999999999999 !important;
}

button.accordion {
  background-color: #e2c43d;
  color: #fff;
  cursor: pointer;
  padding: 10px 13px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  margin: 0px;
  font-family: "Open Sans", sans-serif;
}

button.accordion.active,
button.accordion:hover {
  background-color: #af941e;
}

button.accordion:after {
  content: "\002B";
  color: #fff;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

button.accordion.active:after {
  content: "\2212";
}

#divcancellationpolicy div.panel {
  padding: 0px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin: 0px;
}

.new_lable {
  background-color: #8cc12e;
}

.list-group-item {
  font-family: "Open Sans", sans-serif;
}

.accodion_cont {
  width: 100%;
  float: left;
  padding: 5px 5px;
  font-family: "Open Sans", sans-serif;
  list-style-type: none;
  line-height: 18px;
  font-size: 13px;
  color: #0c5b9a;
}

.accodion_cont h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #29a0ff;
}

.accodion_cont h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #2f3292;
  line-height: 20px;
}

.accodion_cont li {
  color: #505050;
  line-height: 18px;
  font-size: 13px;
}

@media only screen and (max-width: 550px) and (min-width: 200px) {
  .new_lable {
    width: 100%;
    float: left;
    background-color: #8cc12e;
  }
  #TimeLimit {
    height: 57px;
  }
  #pg-stat-mobile {
    height: 57px;
  }
}

#fountainG {
  position: relative;
  width: 234px;
  height: 28px;
  margin: auto;
  margin-top: 51px;
  margin-bottom: 20px;
}

.fountainG {
  position: absolute;
  top: 0;
  background-color: rgb(0, 0, 0);
  width: 28px;
  height: 28px;
  animation-name: bounce_fountainG;
  -o-animation-name: bounce_fountainG;
  -ms-animation-name: bounce_fountainG;
  -webkit-animation-name: bounce_fountainG;
  -moz-animation-name: bounce_fountainG;
  animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  -ms-animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-direction: normal;
  -o-animation-direction: normal;
  -ms-animation-direction: normal;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
  transform: scale(0.3);
  -o-transform: scale(0.3);
  -ms-transform: scale(0.3);
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  border-radius: 19px;
  -o-border-radius: 19px;
  -ms-border-radius: 19px;
  -webkit-border-radius: 19px;
  -moz-border-radius: 19px;
}

#fountainG_1 {
  left: 0;
  animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  -ms-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
}

#fountainG_2 {
  left: 29px;
  animation-delay: 0.75s;
  -o-animation-delay: 0.75s;
  -ms-animation-delay: 0.75s;
  -webkit-animation-delay: 0.75s;
  -moz-animation-delay: 0.75s;
}

#fountainG_3 {
  left: 58px;
  animation-delay: 0.9s;
  -o-animation-delay: 0.9s;
  -ms-animation-delay: 0.9s;
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
}

#fountainG_4 {
  left: 88px;
  animation-delay: 1.05s;
  -o-animation-delay: 1.05s;
  -ms-animation-delay: 1.05s;
  -webkit-animation-delay: 1.05s;
  -moz-animation-delay: 1.05s;
}

#fountainG_5 {
  left: 117px;
  animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  -ms-animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
}

#fountainG_6 {
  left: 146px;
  animation-delay: 1.35s;
  -o-animation-delay: 1.35s;
  -ms-animation-delay: 1.35s;
  -webkit-animation-delay: 1.35s;
  -moz-animation-delay: 1.35s;
}

#fountainG_7 {
  left: 175px;
  animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  -ms-animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
}

#fountainG_8 {
  left: 205px;
  animation-delay: 1.64s;
  -o-animation-delay: 1.64s;
  -ms-animation-delay: 1.64s;
  -webkit-animation-delay: 1.64s;
  -moz-animation-delay: 1.64s;
}

#divSearch .form_sec label {
  color: #454f69;
}

#divSearch {
  margin-bottom: 15px;
}

@keyframes bounce_fountainG {
  0% {
    transform: scale(1);
    background-color: rgb(0, 0, 0);
  }
  100% {
    transform: scale(0.3);
    background-color: rgb(255, 255, 255);
  }
}

@-o-keyframes bounce_fountainG {
  0% {
    -o-transform: scale(1);
    background-color: rgb(0, 0, 0);
  }
  100% {
    -o-transform: scale(0.3);
    background-color: rgb(255, 255, 255);
  }
}

@-ms-keyframes bounce_fountainG {
  0% {
    -ms-transform: scale(1);
    background-color: rgb(0, 0, 0);
  }
  100% {
    -ms-transform: scale(0.3);
    background-color: rgb(255, 255, 255);
  }
}

@-webkit-keyframes bounce_fountainG {
  0% {
    -webkit-transform: scale(1);
    background-color: rgb(0, 0, 0);
  }
  100% {
    -webkit-transform: scale(0.3);
    background-color: rgb(255, 255, 255);
  }
}

@-moz-keyframes bounce_fountainG {
  0% {
    -moz-transform: scale(1);
    background-color: rgb(0, 0, 0);
  }
  100% {
    -moz-transform: scale(0.3);
    background-color: rgb(255, 255, 255);
  }
}

.bckgrnd {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: transparent;
  z-index: 99999;
  cursor: not-allowed;
}

@keyframes blink {
  50% {
    color: transparent;
  }
}

.loader__dot {
  animation: 1s blink infinite;
}

.loader__dot:nth-child(2) {
  animation-delay: 250ms;
}

.loader__dot:nth-child(3) {
  animation-delay: 500ms;
}

.tooltip {
  z-index: 999999999;
}

@media only screen and (max-width: 640px) and (min-width: 200px) {
  .dataTables_wrapper .dataTables_length {
    text-align: left !important;
  }
  .dataTables_wrapper .dataTables_filter {
    float: left !important;
    margin-left: 9px;
  }
}

@media only screen and (min-width: 990px) and (max-width: 1200px) {
  .modify_details_left {
    width: auto;
  }
  /*.datepax_area {
        width: 65%;
    }*/
}

@media only screen and (min-width: 320px) and (max-width: 990px) {
  .top_details {
    display: none;
  }
}

@media only screen and (min-width: 200px) and (max-width: 706px) {
  .available {
    margin-right: 0;
    margin-top: 2px;
    margin-bottom: 0px;
    padding: 5px;
  }
}

@media only screen and (min-width: 200px) and (max-width: 750px) {
  .hotel_banner {
    display: none;
  }
}

@media only screen and (min-width: 200px) and (max-width: 640px) {
  .cartImg {
    width: 100%;
    margin-bottom: 12px;
  }
  .cart_sec ul li h4 {
    position: relative;
    float: right;
    right: 0;
  }
}

.pax-confirm {
  margin-top: 170px;
}

@media only screen and (min-width: 800px) {
  .pax-confirm {
    width: 30%;
  }
}

@media only screen and (max-width: 800px) {
  .pax-confirm {
    width: 98% !important;
  }
}

@media only screen and (max-width: 990px) and (min-width: 200px) {
  .traveller_details h1 {
    display: none !important;
  }
}

/*Coupon*/

.coupon {
  padding: 15px 5px 5px 5px;
}

.coupon input {
  width: 70%;
  padding: 5px;
  float: left;
  border: 1px solid #e5e5e5;
  font-weight: 400 !important;
  color: #000;
}

.coupon button {
  width: 30%;
  padding: 5px;
  float: left;
  background: var(--primary-light-color);
  font-weight: bold;
  color: #fff;
  border: 1px solid #e5e5e5;
  border-width: 1px 1px 1px 0;
}

#divtotalAmount span,
#couponDiscountAmt span {
  font-size: 15px;
}

.autocomplete {
  position: relative;
}

.autocomplete-results {
  width: 100%;
  padding: 0;
  margin: 0;
  border: 1px solid #ddd0d0;
  max-height: 223px;
  overflow: auto;
  background-color: #ffffff;
  border-radius: 0;
  position: absolute;
  z-index: 99999;
}

.autocomplete ul.autocomplete-results li {
  color: #3e3e3e;
  font-size: 13px;
  font-weight: 400;
}

.autocomplete ul.autocomplete-results li:hover {
  color: #fff;
}

.autocomplete-result {
  list-style: none;
  text-align: left;
  padding: 7px 10px;
  cursor: pointer;
  border-bottom: 1px dashed #c5c5c5;
}

.autocomplete-results li:last-child {
  border-bottom: none;
}
.autocomplete-result-active {
  background-color: var(--primary-color) !important;
  color: #fff !important;
}
.autocomplete-result:hover {
  background-color: #3a7fc1;
  color: #fff;
}

.autocomplete-results::-webkit-scrollbar {
  width: 5px;
}

.autocomplete-results::-webkit-scrollbar-track {
  background: #e6e6e6;
}

.autocomplete-results::-webkit-scrollbar-thumb {
  background-color: #d0d0d0;
  outline: 1px solid slategrey;
}

.multi_boxnew {
  width: 100%;
  height: 42px;
  position: relative;
  font-size: 13px;
  line-height: 42px;
  padding-right: 29px;
  cursor: pointer;
  color: #5a5d61;
  border-bottom: 1px solid #fff;
  font-weight: 400;
  background: #fff url(../images/newtxt.png) no-repeat center right;
  /* background: #FFF; */
  padding-left: 10px;
  font-family: "Open Sans", sans-serif;
  border: 1px solid #e3e3e3;
  /* border-radius: 4px; */
}

.multi_boxnew_whitebg {
  background: #fff !important;
  cursor: auto !important;
}

/*form select */

.multi_selector {
  width: 100%;
  float: left;
  position: relative;
}

.multi_box {
  width: 100%;
  height: 42px;
  position: relative;
  font-size: 13px;
  line-height: 42px;
  padding-right: 29px;
  cursor: pointer;
  color: #5a5d61;
  border-bottom: 1px solid #fff;
  font-weight: 400;
  background: #fff url(../images/adult_dwn.png) no-repeat center right;
  /*background: #FFF;*/
  padding-left: 10px;
  font-family: "Open Sans", sans-serif;
  border: 1px solid #e3e3e3;
  /*border-radius: 4px;*/
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.multi_box:after {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  background: url(/assets/images/sprint.png) no-repeat -66px -6px;
  top: 11px;
  right: 10px;
  z-index: 99;
}

.multi_dropBox {
  width: 100%;
  position: absolute;
  background: #fff;
  top: 42px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.13);
  z-index: 999;
  border: 1px solid #e3e3e3;
}

.multi_dropBox_unhide {
  display: block !important;
}

.multi_dropBox ul {
  margin: 0;
  padding: 0px;
  list-style: none;
}

.multi_dropBox ul li {
  width: 100%;
  float: left;
  border-bottom: 1px dashed #dcdcdc;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  position: relative;
}

.multi_dropBox ul li label {
  display: block;
}

.multi_dropBox ul li:last-child {
  border-bottom: none;
}

.multi_dropBox ul::-webkit-scrollbar {
  width: 5px;
}

.multi_dropBox ul::-webkit-scrollbar-track {
  background: #eaeaea;
}

.multi_dropBox ul::-webkit-scrollbar-thumb {
  background-color: #d4d4d4;
  outline: 1px solid slategrey;
}

.all_select {
  border-bottom: none;
  width: 100%;
  float: left;
  background: #e4e4e4;
  padding: 3px 10px;
}

.multi_dropBox ul li label {
  padding: 7px 10px 7px 30px;
  margin-bottom: 0px;
  position: relative;
  font-weight: 300;
  width: 100%;
  margin-top: 0;
  color: #616161 !important;
}

.multi_dropBox ul li:first-child label {
  font-weight: 700;
}

.multi_dropBox ul li label::before {
  position: absolute;
  left: 8px;
  top: 7px;
  width: 17px;
  height: 17px;
  border: 1px solid #bdbdbd;
  content: "";
  border-radius: 3px;
  box-shadow: inset 2px 3px 3px rgba(0, 0, 0, 0.16);
}

.multi_dropBox ul li input {
  position: absolute;
  width: 100%;
  opacity: 0;
  height: 100%;
  cursor: pointer;
  z-index: 9;
  left: 0;
}

.multi_dropBox ul li input:checked + label {
  background-color: #ffffff;
}

.multi_dropBox ul li input:checked + label::after {
  content: "\f14a";
  position: absolute;
  left: 8px;
  top: 2px;
  font-size: 19px;
  font-family: FontAwesome;
  color: #1a8fce;
}

.multi_dropBox ul li input:checked + label::before {
  background-color: #fff;
}

.multi_dropBox ul li:hover {
  background-color: #e4e4e4;
}

.event span,
.event a {
  /*background: rgba(51,146,225,.12);*/
  font-weight: normal;
  /*color: #FFF !important;*/
}

.event-selected {
  background: rgba(51, 146, 225, 0.12);
  font-weight: normal !important;
}

.event-selected-right a {
  border: 1px solid var(--primary-color) !important;
}

.event-selected-left a {
  border: 1px solid var(--primary-color) !important;
}

.event-selected-left span {
  border: 1px solid var(--primary-color) !important;
}

.km_slider {
  background: #fff;
  overflow: hidden;
  margin: 0 !important;
  padding: 15px;
  width: 100%;
}

#slider-step-value {
  font-size: 12px;
  font-weight: 600;
  text-transform: capitalize;
  color: #505050;
  line-height: 16px;
  margin-top: 5px;
}

.within_sec {
  font-size: 12px !important;
  font-weight: 400 !important;
  text-transform: capitalize;
  color: #505050 !important;
  line-height: 16px;
  margin-bottom: 10px;
}

.noUi-tooltip {
  display: none;
}

.noUi-active .noUi-tooltip {
  display: block;
}

/*----- Tabs -----*/

.tabs {
  width: 100%;
  display: inline-block;
}

/*----- Tab Links -----*/

/* Clearfix */

.tab-links:after {
  display: block;
  clear: both;
  content: "";
}

.tab-links {
  background: #fff;
  padding: 10px;
  border-radius: 6px;
}

.tab-links li {
  margin: 0px 5px 0px 0px;
  float: left;
  list-style: none;
}

.tab-links a {
  padding: 9px 15px;
  display: inline-block;
  border-radius: 4px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: #3e3a69;
  font-weight: 600;
  transition: all linear 0.15s;
}

.tab-links a:hover {
  background: #3e3a69;
  text-decoration: none;
  color: #fff;
}

.tab-links li.active a,
.tab-links li.active a:hover {
  background: #3e3a69;
  color: #fff;
}

/*----- Content of Tabs -----*/

.tab-content {
  border-radius: 7px;
  margin-top: 10px;
}

.tab {
  display: none;
}

.tab.active {
  display: block;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

.hotel_main_area {
  width: 100%;
  min-height: 100px;
  float: left;
  padding: 20px 0px;
}

.viewtype {
  width: auto;
  float: right;
  margin-right: 0;
  padding: 10px 6px;
}

.filter_title {
  width: 100%;
  float: left;
  background: var(--primary-color);
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 9px 15px;
}

.filter_title i {
  font-size: 16px;
  color: #fff;
  /* margin: 0 15px 0 5px; */
}

.viewtype a {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  float: left;
  color: #fff;
  padding: 0px 9px;
  font-weight: 500;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: block;
  cursor: pointer;
  /*text-transform: uppercase;*/
}

.viewtype a i {
  margin-right: 5px;
}

.viewtype a:hover {
  color: #e5e5e5;
  /*color: var(--primary-dark-color);*/
}

.close-icon {
  background: none;
  border: none;
  float: right;
  margin-top: -45px;
  margin-right: 8px;
  font-size: 16px;
  color: #797979;
}

/*new form*/

.new_form_area {
  width: 100%;
  float: left;
}

.srch_frm_tab {
  width: 100%;
  float: left;
  padding-bottom: 11px;
}

.frm_tab_view01 {
  width: 100%;
  float: left;
  padding-top: 10px;
}

.frm_tab01 {
  width: 33.3%;
  float: left;
}

.frm_tab01 input[type="radio"] + label.btn {
  width: 100%;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  height: 29px;
  line-height: 29px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 600 !important;
  display: inline-block;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: #2e475d;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  border: none;
  border-radius: 0px !important;
  cursor: pointer;
}

.frm_tab01 input[type="radio"] + label.btn:hover {
  width: 100%;
  background: none;
  color: #2e475d !important;
  border-radius: 0px !important;
  border-bottom: 2px solid var(--secondary-color);
}

.frm_tab01 input[type="radio"]:checked + label.btn {
  width: 100%;
  background: none;
  color: #2e475d !important;
  border-radius: 0px !important;
  border-bottom: 2px solid var(--secondary-color);
}

.frm_from {
  width: 100%;
  float: left;
  height: 38px;
  border: 1px solid #9ba8b1;
  font-family: "Open Sans", sans-serif;
  color: #2e475d;
  font-size: 12px;
  font-weight: 300;
  padding-right: 32px;
  background: #fff url(../images/frm_img.png) no-repeat center right;
  padding-left: 10px;
  margin-bottom: 15px;
}

.date_area_frm {
  width: 100%;
  float: left;
}

.start_date_sec {
  width: 48%;
  float: left;
}

.start_date_sec label {
  width: 100%;
  float: left;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #2e475d;
  text-transform: uppercase;
  margin: 0 0 5px;
}

.start_date {
  width: 100%;
  float: left;
  height: 38px;
  border: 1px solid #e3e3e3;
  font-family: "Open Sans", sans-serif;
  color: #2e475d;
  font-size: 12px;
  font-weight: 300;
  padding-right: 32px;
  background: #fff url(../images/calender_img8.png) no-repeat center right;
  padding-left: 10px;
  margin-bottom: 15px;
}

.end_date5_sec {
  width: 48%;
  float: right;
}

.end_date5_sec label {
  width: 100%;
  float: left;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #2e475d;
  text-transform: uppercase;
  margin: 0 0 5px;
}

.end_date5 {
  width: 100%;
  float: left;
  height: 38px;
  border: 1px solid #9ba8b1;
  font-family: "Open Sans", sans-serif;
  color: #2e475d;
  font-size: 12px;
  font-weight: 300;
  padding-right: 32px;
  background: #fff url(../images/calender_img8.png) no-repeat center right;
  padding-left: 10px;
  margin-bottom: 15px;
}

.select_adult_sec {
  width: 48%;
  float: left;
}

.select_adult_sec label {
  width: 100%;
  float: left;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #2e475d;
  text-transform: uppercase;
  margin: 0 0 5px;
}

.select_adult {
  width: 100%;
  float: left;
  height: 38px;
  border: 1px solid #e3e3e3;
  font-family: "Open Sans", sans-serif;
  color: #2e475d;
  /*font-size: 12px;*/
  font-weight: 300;
  padding-right: 32px;
  background: #fff url(../images/adult_dwn.png) no-repeat center right;
  padding-left: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
}

.select_adult01 {
  width: 100%;
  float: left;
  height: 38px;
  border: 1px solid #e3e3e3;
  font-family: "Open Sans", sans-serif;
  color: #2e475d;
  font-size: 12px;
  font-weight: 300;
  padding-right: 32px;
  background: #fff url(../images/adult_dwn.png) no-repeat center right;
  padding-left: 10px;
  margin-bottom: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
}

.select_adult01_sec {
  width: 48%;
  float: right;
}

.select_adult01_sec label {
  width: 100%;
  float: left;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #2e475d;
  text-transform: uppercase;
  margin: 0 0 5px;
}

.frm_sb_btn {
  width: 100%;
  background: var(--primary-color);
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  margin: 5px 0 0;
  padding: 12px 0;
  border: none;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.frm_sb_btn:hover {
  color: #fff;
  background: var(--primary-dark-color);
}

.frm_sb_btn:hover::before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.commonStyle {
  background: #fff !important;
  border: none !important;
  border-radius: 0 !important;
  margin-bottom: 20px !important;
  width: 100%;
  float: left;
}

.sp_head {
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  color: #ffffff;
  text-transform: uppercase;
  background: var(--primary-color);
  width: 100%;
  padding: 11px 15px !important;
  margin-top: 0;
}

.sp_head h4 {
  font-size: 19px;
  text-align: center;
}

.wdth_sec {
  width: 100%;
  float: left;
}

.wdth_sec label {
  width: 100%;
  float: left;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #2e475d;
  text-transform: uppercase;
  margin: 0 0 5px;
}

.sp_head01 {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  color: #646464;
  text-transform: uppercase;
  background: #fff;
  width: 80%;
  padding: 12px 15px !important;
  position: relative;
  margin-top: -10px;
  margin-left: -10px;
}

.sp_head01 h4 {
  font-size: 14px !important;
  font-weight: 600 !important;
}

.show_more_visible {
  cursor: wait;
}

.loader-hotel {
  width: 100%;
  float: left;
  background: #fff;
  min-height: 18px;
  margin-bottom: 5px !important;
  border: 1px solid #fff;
  border: 1px solid #e4e4e4 !important;
}

.currdisplay {
  padding-top: 23px;
}

.input-slider-values {
  color: #70635c;
  margin: 13px 0 10px;
  padding: 0 2px;
  font-size: 13px;
}

.noUi-horizontal .noUi-handle {
  background-color: var(--secondary-color) !important;
  border: 1px solid #b3a36a;
  width: 21px;
  height: 21px;
  border: 0;
  border-radius: 50% !important;
  box-shadow: none;
  -webkit-transition: box-shadow;
  -o-transition: box-shadow;
  transition: box-shadow;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  cursor: pointer;
  /* position: relative; */
}

.sort_popup5 {
    display: none;
    z-index: 999999999 !important;
}

@media only screen and (min-width: 200px) and (max-width: 990px) {
    #sort_popupNew {
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        background: #FFF;
        z-index: 999999;
    }
}