@import url('https://fonts.googleapis.com/css?family=Barlow:400,500,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap');
a,
       a:hover {
           text-decoration: none;
           cursor: pointer;
       }
       
      /*inner page css*/
.inner-banners{
    width: 100%;
    float: left;
    padding:77px 0px;
    position: relative;
    text-align: center;
}
.inner-banners::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.5);
}
.inner-banners h1{
    font-size: 31px;
    color: #FFF;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    position: relative;
    z-index:1;
    margin-bottom: 5px;
}
.inner-banners p{
    font-size: 15px;
    color: #febf10;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    position: relative;
    z-index:1;
}
.inner-banners p a{
    color: #FFF;
}
.aboutus_sec{
    width: 100%;
    float: left;
    padding: 36px 0px 10px 0px;
}
.aboutus_sec h3{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #000;
    margin-bottom: 10px;
    text-align: center;
}
.aboutus_sec p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #828282;
    margin-bottom: 30px;
    text-align: center;
    line-height: 27px;
}
.bgimg-1{
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.choose_sec{
    width: 100%;
    float: left;
    padding: 30px 0px;
}
.choose_sec::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(61, 72, 158, 0.51);
}
.choose_sec h2{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #FFF;
    margin-bottom: 80px;
    text-align: center;
    position: relative;
    z-index: 1;
}
.service_sec{
    width: 100%;
    float: left;
    background: #FFF;
    position: relative;
    padding: 15px;
    min-height: 200px;
}
.serviceicon{
    width: 60px;
    height: 60px;
    font-size: 20px;
    line-height: 56px;
    background: #febf10;
    margin: auto;
    position: relative;
    margin-top: -45px;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 10px;
}
.serviceicon i{
    font-size: 25px;
    color: #FFF;
}
.service_sec h5{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #020202;
    margin-bottom: 10px;
    text-align: center;
}
.service_sec p{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #8e8e8e;
    text-align: center;
}
.bgimg-1 {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.maincontent{
    width: 100%;
    float: left;
    
}
/*contact us*/

.contactus-sec{
    width: 100%;
    float: left;
    padding: 20px 0px;
}
.form-contact h5{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #000;
    margin-bottom: 10px;
    text-align: center;
}
.form-contact p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #828282;
    margin-bottom: 30px;
    text-align: center;
}
.contact-txt{
    width: 100%;
    float: left;
    text-align: center;
}
.contact-txt input{
    width: 100%;
    height: 43px;
    background: #f3f3f3;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #3e499e;
    padding: 0 35px 0 10px;
    margin-bottom: 20px;
}
.contact-txt textarea{
    width: 100%;
    height: 113px;
    background: #f3f3f3;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #3e499e;
    padding: 10px 35px 0 10px;
    margin-bottom: 20px;
    resize: none;
}
.contact-txt button{
    width: 250px;
    height: 55px;
    background: #febf10;
    border: 1px solid #febf10;
    border-radius: 3px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #444444;
    line-height: 45px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    text-transform: uppercase;
}
.contact-txt button:hover{
    background: #02a6cd;
    border: 1px solid #02a6cd;
    color: #FFF;
}
.contact-info h4{
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: #000;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.contact-info p{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #828282;
    margin-bottom: 30px;
}
.contact-info ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    border-bottom: 1px solid #eaeaea;
    width: 100%;
    float: left;
    margin-bottom: 14px;
}
.contact-info ul li{
    width: 100%;
    float: left;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
}
.contact-info ul li span{
    font-weight: 500;
    color: #02a6cd;
}
.contact-info ul li i {
    width: 37px;
    float: left;
    text-align: center;
    background: #02a6cd;
    height: 37px;
    border-radius: 50%;
    color: #FFF;
    line-height: 20px;
    padding: 9px;
    margin-right: 10px;
}
.contact-info ul li:first-child i{
    font-size: 29px;
}
.contact-info ul li:nth-child(2) i{
    font-size: 18px;
}
.contact-info ul li:nth-child(3) i{
    font-size: 21px;
}
.mediaIcons{
    width: 100%;
    float: left;
}
.mediaIcons i{
    width: 36px;
    height: 36px;
    background: #e8e8e8;
    color: #45423f;
    text-align: center;
    line-height: 36px;
    margin-right: 10px;
    font-size: 20px;
    border-radius: 4px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.mediaIcons i:hover {
    background: #00a0c6;
    color: #FFF;
}
.map{
    width: 100%;
    float: left;
    padding-top: 20px;
}
/*Terms css*/
.terms_sec{
    width: 100%;
    float: left;
    padding: 26px 0px 10px 0px;
}
.terms_sec h5{
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    font-weight: 500;
    color: #020202;
    margin-bottom: 10px;
    text-transform: uppercase;
    margin-top: 24px;
}
.terms_sec p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #7d7d7d;
    margin-bottom: 10px;
    text-align: justify;
}

/*reset password*/
.reset_mid {
    width: 400px;
    margin: auto;
    padding: 50px 0px;
}

.main_reset_sec {
    width: 100%;
    float: left;
    padding: 20px;
}

    .main_reset_sec h2 {
        text-align: center;
        margin-bottom: 18px;
    }

.txt_sec {
    width: 100%;
    height: 36px;
    float: left;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    padding: 0px 10px;
    border: 1px solid #cecece;
}

.txt_sec {
    width: 100%;
    height: 36px;
    float: left;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    padding: 0px 10px;
    border: 1px solid #cecece;
}

.reset_btn {
    width: 100%;
    height: 36px;
    border: none;
    background: #3d489e;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #FFF;
    cursor: pointer;
    transition: all linear 0.15s;
}

    .reset_btn:hover {
        background: #ffbf10;
    }

.loadrst {
    width: 100%;
    float: left;
    position: relative;
    display: none;
}

.load_reset {
    width: 100%;
    height: 36px;
    border: none;
    background: rgba(61, 72, 158, 0.72);
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #FFF;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 9;
    text-align: center;
    line-height: 37px;
}