@media screen and (max-width: 480px) {
#airlines-sec .inner {
    padding: 0 39px !important;
}
}

@media screen and (max-width: 767px) {
header {
    height: 160px;
}
.call-us {
    width: auto;
    margin-left: 0;
    padding: 10px;
    margin-top: -142px;
}
.call-us a {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}
/*=====  Navbar CSS BOF  ======*/
.navbar {
    height: auto;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    padding: 14px 0;
}
.navbar-toggle {
	background: #000;
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
	margin: 115px 0 0;
	width: 100%;
	text-align: center;
	height: 40px;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #FFDF24;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: #000;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    margin-top: 0;
    width: auto;
    z-index: 999;
    padding: 0;
    background: #fff;
    border-radius: 0;
    border: none;
}
.navbar-nav {
	margin: 0;
}
.nav > li {
    padding: 0;
    border-bottom: 1px solid #ddd;
}
.navbar-default .navbar-nav > li > a {
    padding: 10px;
}
.navbar-default .navbar-nav > li > a::before, .navbar-default .navbar-nav > li > a::after {display:none;}
.login_div {
    width: 80%;
    margin: 0 auto;
}
.main_banner {
    margin-top: 0;
}
.main_banner h1{display:none;}
footer .copyright {
    text-align: center;
}
footer .powered-by {
    text-align: center;
    float: none;
}
footer .link h3, footer .contact h3 {
    margin: 20px 0 20px;
}
#airlines-sec {
    padding: 40px 0;
}
.owl-prev, .owl-next {
    top: 116px;
}
#airlines-sec .item h4 {
    font-size: 17px;
    line-height: 24px;
}
.title h2 {
    font-size: 28px;
}
#airlines-sec .owl-carousel {
    padding-top: 40px;
}
}
@media (min-width: 768px) and (max-width: 990px) {
/*=====  Navbar CSS BOF  ======*/
.nav > li {
    padding: 0 20px;
}
.navbar-default .navbar-nav > li > a {
    font-size: 14px;
}
.call-us {
	width:auto;
    margin-left: 20px;
    padding: 10px 15px;
}
.login-form {
    margin: 0;
    padding: 10px 25px 30px;
}
footer .powered-by {
    margin-right: 50px;
}
.owl-prev, .owl-next {
    top: 172px;
}
#airlines-sec .item h4 {
    font-size: 17px;
    line-height: 24px;
}

}
@media (min-width: 991px) and (max-width: 1024px) {
/*=====  Navbar CSS BOF  ======*/
.nav > li {
    padding: 0 20px;
}
.navbar-default .navbar-nav > li > a {
    font-size: 14px;
}
.call-us {
	width: 374px;
    margin-left: 60px;
}
footer .powered-by {
    margin-right: 50px;
}
.owl-prev, .owl-next {
    top: 172px;
}
#airlines-sec .item h4 {
    font-size: 17px;
    line-height: 24px;
}

}
@media (min-width: 1025px) and (max-width: 1400px) {
.owl-prev, .owl-next {
    top: 172px;
}
#airlines-sec .item h4 {
    font-size: 17px;
    line-height: 24px;
}
}
