* {
    margin: 0;
    padding: 0;
}

img {
    outline: none;
}

body {
    background-color: #fff;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 700;
    line-height: 1.1;
    margin: 0;
    padding: 0;
}

a {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

p {
    font-weight: 300;
    text-align: center;
    line-height: 22px;
    margin: 0;
    padding: 0;
    color: #444;
}
/*=====  Navbar CSS BOF  ======*/
.navbar-default {
    background: #fff;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
    border: 0px;
    z-index: 2;
}

.navbar {
    margin-bottom: 0px;
    z-index: 999;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height: 80px;
}

.navbar-nav {
    margin: 0;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    padding: 30px 0;
}

.nav > li {
    display: block;
    padding: 0 34px;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    width: auto;
    height: auto;
    padding: 14px;
    position: absolute;
    z-index: 1000;
    margin: 0 0 !important;
    background: #fff;
}

.top-nav-collapse {
    padding: 0;
    top: 0;
}

.navbar-default .navbar-nav > li > a {
    color: #3d3d3d;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0;
    position: relative;
}

    .navbar-default .navbar-nav > li > a::before, .navbar-default .navbar-nav > li > a::after {
        position: absolute;
        opacity: 0;
        top: 9px;
        transition: all 0.3s;
        width: 16px;
        height: 2px;
        content: "";
        background: #f0af00;
    }

    .navbar-default .navbar-nav > li > a::before {
        left: -18px;
        transform: translateX(10px);
    }

    .navbar-default .navbar-nav > li > a::after {
        right: -18px;
        transform: translateX(-10px);
    }

    .navbar-default .navbar-nav > li > a:hover::before, .navbar-default .navbar-nav > li > a:hover::after {
        opacity: 1;
        transform: translateX(0px);
    }

    .navbar-default .navbar-nav > li > a.active::before, .navbar-default .navbar-nav > li > a.active::after {
        opacity: 1;
        transform: translateX(0px);
    }

    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        color: #f0af00;
        text-decoration: none;
    }

    .navbar-default .navbar-nav > li > a.active {
        color: #f0af00;
        text-decoration: none;
    }

.call-us {
    width: 360px;
    height: 80px;
    line-height: 60px;
    display: block;
    float: right;
    background: #000;
    margin-left: 100px;
    padding: 10px 0;
    text-align: center;
}

    .call-us img {
        width: auto;
    }

    .call-us a {
        font-size: 20px;
        font-weight: 400;
        color: #fff;
    }

        .call-us a:hover {
            color: #ffb300;
            text-decoration: none;
        }
/*=====  Banner CSS BOF  ======*/
.main_banner {
    min-height: 564px;
    position: relative;
    background-size: cover !important;
    background-position: top center !important;
    margin-top: 80px;
}

    .main_banner h1 {
        font-family: 'Oswald', sans-serif;
        color: #ffb300;
        font-size: 78px;
        text-align: left;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 50%;
        text-shadow: 1px 0px 3px rgba(0,0,0,0.4);
    }

        .main_banner h1 span {
            color: #fff;
            font-size: 40px;
            font-weight: 500;
        }
/*=====  Login CSS BOF  ======*/
.login_div {
    background: rgba(255,179,0,0.5);
    display: block;
    border-right: 2px solid #ffb300;
    border-left: 2px solid #ffb300;
    min-height: 564px;
}

    .login_div h2 {
        background: #ffb300;
        font-size: 20px;
        color: #fff;
        width: 100%;
        padding: 22px 0;
        text-align: center;
        font-weight: 500;
        text-transform: uppercase;
    }

.login-form {
    margin: 0;
    padding: 10px 38px 30px;
}

.forgot_form {
    margin: 0;
    padding: 10px 38px 30px;
    display: none;
}

    .login-form .sec, .forgot_form .sec {
        padding-top: 23px;
        position: relative;
    }

    .login-form label, .forgot_form label {
        font-size: 15px;
        font-weight: 400;
        color: #fff;
        margin: 0;
    }

    .login-form .form-control, .forgot_form .form-control {
        background-color: #fff;
        border: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        border-radius: 0;
        color: #444;
        display: block;
        font-size: 15px;
        height: 48px;
        padding: 6px 10px;
        width: 100%;
        z-index: 1;
        box-shadow: none;
        margin-top: 5px;
    }

.login-form .login_btn, .login-form .register_btn {
    background: #000;
    font-size: 18px;
    color: #fff;
    padding: 12px 0;
    text-align: center;
    width: 100%;
    border: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin: 10px auto 0;
    display: block;
    font-weight: 500;
    text-transform: uppercase;
}

.forgot_form .login_btn {
    background: #000;
    font-size: 18px;
    color: #fff;
    padding: 12px 0;
    text-align: center;
    width: 100%;
    border: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin: 0px auto 0;
    display: block;
    font-weight: 500;
    text-transform: uppercase;
}

.back {
    padding: 9px 0px;
    float: left;
    color: #FFF;
    cursor: pointer;
}

    .back i {
        margin-right: 8px;
    }

.btn_load {
    background: #000;
    font-size: 21px;
    color: #fff;
    padding: 12px 0;
    text-align: center;
    width: 100%;
    border: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin: -46px auto 0;
    display: block;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    z-index: 9;
}

.login-form .login_btn:hover {
    background: #ffb300;
    text-decoration: none;
}

.login-form .forgot {
    font-size: 15px;
    color: #fff;
    padding: 20px 0 0;
    text-align: center;
    width: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-weight: 400;
    display: block;
}

    .login-form .forgot:hover {
        color: #fff;
        text-decoration: underline;
    }

.login-form .register_btn {
    background: #ffb300;
}

    .login-form .register_btn:hover {
        background: #000;
        text-decoration: none;
    }

/* Footer CSS BOF
=================================================== */

footer {
    /* background: url(../images/footer-bg.jpg) no-repeat top center; */
    display: block;
    width: 100%;
    padding-top: 130px;
    position: relative;
    background-size: cover !important;
}

    footer .inner {
        display: block;
        width: 100%;
    }

    footer .about {
        width: 100%;
        display: block;
    }

        footer .about .ftr-logo {
            text-align: left;
            position: relative;
            margin: 40px 0 0;
        }

        footer .about p, .newslatter p {
            font-weight: 300;
            text-align: left;
            margin-top: 25px;
            float: left;
            font-size: 15px;
            line-height: 24px;
            color: #fff;
        }
        /* Footer Social CSS BOF
=================================================== */
        footer .about .social {
            display: inline-block;
            list-style: outside none none;
            margin: 30px 0;
            float: left;
            width: 100%;
            padding: 0;
        }

            footer .about .social li {
                text-align: center;
                padding: 0 9px 0 0;
                float: left;
            }

                footer .about .social li a {
                    color: #000;
                    display: block;
                    height: 33px;
                    line-height: 33px;
                    text-decoration: none;
                    transition: all 0.8s ease-in-out 0s;
                    width: 33px;
                    background: #fff;
                    font-size: 15px;
                }

                    footer .about .social li a:hover {
                        background: #ffb300;
                        color: #fff;
                    }

    footer .link, footer .contact {
        width: 100%;
        display: inline-block;
    }

        footer .link h3, footer .contact h3 {
            color: #fff;
            display: inline-block;
            font-weight: 600;
            line-height: 42px;
            margin: 50px 0 20px;
            position: relative;
            text-align: left;
            float: left;
            width: 100%;
            font-size: 22px;
            border-bottom: 1px solid rgba(255,255,255,0.1);
            padding-bottom: 8px;
        }

        footer .link ul {
            width: 50%;
            list-style: none;
            padding: 0;
            margin: 0;
            float: left;
        }

            footer .link ul li {
                font-size: 16px;
                font-weight: 300;
                padding: 8px 0;
                width: 100%;
            }

                footer .link ul li a {
                    color: #fff;
                    text-decoration: none;
                    padding: 0;
                }

                    footer .link ul li a i {
                        padding: 0 10px 0 0;
                    }

                    footer .link ul li a:hover {
                        color: #ffb300;
                        text-decoration: none;
                    }

        footer .contact ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

            footer .contact ul li {
                clear: both;
                float: left;
                padding: 7px 0;
                font-size: 15px;
                font-weight: 400;
                color: #fff;
            }

                footer .contact ul li i {
                    color: #000;
                    float: left;
                    margin-right: 10px;
                    width: 27px;
                    background: #fff;
                    text-align: center;
                    height: 27px;
                    line-height: 27px;
                    font-size: 14px;
                    -webkit-transition: all 0.5s ease-in-out;
                    -moz-transition: all 0.5s ease-in-out;
                    -o-transition: all 0.5s ease-in-out;
                    transition: all 0.5s ease-in-out;
                }

.fnt-sz-17 {
    font-size: 18px !important;
}

.fnt-sz-22 {
    font-size: 22px !important;
}

footer .contact ul li a {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
}

    footer .contact ul li a:hover {
        color: #ffb300;
        text-decoration: none;
    }

footer .contact ul li:hover i {
    color: #fff;
    background: #ffb300;
}

footer .ftr-btm {
    background: rgba(0,0,0,0.5);
    padding: 10px 0;
    margin-top: 15px;
}

footer .copyright {
    color: #fff;
    font-size: 13px;
    font-weight: normal;
    padding: 10px 0;
    font-weight: 300;
}

footer .powered-by {
    color: #fff;
    font-size: 13px;
    font-weight: 300;
    float: right;
    margin-top: 8px;
}

.back-top {
    bottom: 9px;
    position: absolute;
    right: 0;
}

    .back-top #toTop {
        color: #fff;
        height: 42px;
        line-height: 42px;
        padding: 17px 15px;
        transition: all 0.8s ease-in-out 0s;
        width: 42px;
        z-index: 50;
        background: #ffb300;
    }

    .back-top i {
        font-size: 24px;
        position: relative;
        top: 3px;
    }

    .back-top #toTop:hover {
        background: #000 none repeat scroll 0 0;
        color: #fff;
    }


/*=====  Airlines Deals Section CSS BOF  ======*/

#airlines-sec, #about_us, #contact_sec {
    display: block;
    width: 100%;
    position: relative;
    padding: 80px 0;
}

    #airlines-sec .inner {
        padding: 0 100px;
        display: inline-block;
        width: 100%;
    }

.title h2 {
    font-size: 36px;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    width: auto;
    margin: 0 auto;
    display: inline-block;
}

    .title h2::before, .title h2::after {
        position: absolute;
        opacity: 1;
        top: 18px;
        transition: all 0.3s;
        width: 58px;
        height: 3px;
        content: "";
        background: #f0af00;
    }

    .title h2::before {
        left: -75px;
        transform: translateX(10px);
    }

    .title h2::after {
        right: -75px;
        transform: translateX(-10px);
    }

#airlines-sec .item .value_trip {
    background: #fff;
    overflow: hidden;
}

    #airlines-sec .item .value_trip img {
        width: 100%;
        position: relative;
    }

#airlines-sec .item .cont {
    padding: 10px 0 25px;
    text-align: center;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    margin: 1%;
    width: 98%;
    height: 147px;
    display: table;
}

#airlines-sec .item h4 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    color: #333333;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    line-height: 28px;
    vertical-align: middle;
    display: table-cell;
}

    #airlines-sec .item h4 a {
        text-decoration: none;
        color: #333;
    }

    #airlines-sec .item h4 span {
        color: #ffb300;
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        -ms-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
    }

#airlines-sec .item .value_trip:hover h4 span {
    color: #fff;
}

#airlines-sec .item .value_trip:hover .cont {
    background: #ffb300;
}

#airlines-sec .item .value_trip:hover {
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    background: #ffb300;
}

#airlines-sec .owl-carousel {
    padding-top: 80px;
}

#airlines-sec .item {
    position: relative;
    display: block;
    overflow: hidden;
    height: auto;
    padding: 0;
}

.owl-theme .owl-controls {
    display: block;
    text-align: unset !important;
    position: absolute;
    top: 78px;
    width: 100%;
}

.owl-prev, .owl-next {
    height: 46px !important;
    width: 46px !important;
    background: rgba(0,0,0,0.3) !important;
    display: inline-block !important;
    margin: 0 !important;
    text-align: center !important;
    font-size: 30px !important;
    color: #fff !important;
    opacity: 1 !important;
    border-radius: 0 !important;
    line-height: 46px;
    padding: 0 !important;
    position: relative;
    left: -23px;
    top: 240px;
}

.owl-next {
    position: relative;
    right: -23px !important;
    left: auto !important;
    float: right;
}

    .owl-prev:hover, .owl-next:hover {
        background: #ffb300 !important;
        color: #fff !important;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }

.owl-pagination {
    display: none;
}
/* About Us Page CSS BOF
=================================================== */
.inner_banner {
    min-height: 234px;
    position: relative;
    background-size: cover !important;
    background-position: center center !important;
    margin-top: 80px;
}

    .inner_banner::before {
        background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .inner_banner .banner_text {
        text-align: center;
        padding: 0;
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

        .inner_banner .banner_text h1 {
            font-family: 'Oswald', sans-serif;
            font-size: 40px;
            font-weight: 500;
            line-height: normal;
            text-transform: uppercase;
            color: #fff;
            text-shadow: 1px 0px 3px rgba(0,0,0,0.4);
        }

.breadcrumbs1_wrapper {
    background: #000;
    display: block;
    position: relative;
}

.breadcrumbs1 {
    padding: 14px 0;
    margin-top: 0px;
    line-height: 20px;
    color: #ffb300;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}

    .breadcrumbs1 a {
        color: #fff;
        text-decoration: none;
    }

        .breadcrumbs1 a:hover {
            color: #ffb300;
            text-decoration: none;
        }

    .breadcrumbs1 i {
        display: inline-block;
        margin: 0 15px;
        vertical-align: middle;
        color: #fff;
    }

.bdr-btm {
    border-bottom: 1px solid #ddd;
}

#about_us p {
    padding: 22px 0 0;
    color: #444;
    font-size: 16px;
}
/* Mission and Vision Section CSS BOF
=================================================== */

.mission_vision {
    border: 1px solid #eee;
    padding: 40px 30px;
    position: relative;
    min-height: 100%;
}

    .mission_vision i {
        color: #ffb300;
        display: block;
        float: left;
        font-size: 35px;
        padding-right: 20px;
    }

    .mission_vision h4 {
        color: #000;
        font-size: 20px;
        text-align: left;
        font-weight: 700;
        padding-top: 3px;
        text-transform: uppercase;
    }

    .mission_vision p {
        text-align: left;
    }
/* Contact Us Page CSS BOF
=================================================== */
.size38 {
    font-size: 38px !important;
}

.size26 {
    font-size: 26px !important;
}

#contact_sec .inner p {
    color: #444;
    padding: 15px 0 0;
}

    #contact_sec .inner p a {
        color: #444;
    }

        #contact_sec .inner p a:hover {
            color: #ffb300;
            text-decoration: none;
        }

#contact-form {
    width: 100%;
    display: block;
}

.contact-form textarea.form-control {
    height: 120px;
    resize: none;
}

.contact-form .form-control {
    background-color: #fff;
    color: #000;
    display: block;
    font-size: 11px;
    height: 44px;
    line-height: 1.42857;
    padding: 10px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    z-index: 1;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    border: 1px solid #d7d7d7;
}

.contact-form input:focus, .contact-form textarea:focus {
    border-color: #ffb300;
}

.contact-form .btn-grey {
    width: 250px;
    float: right;
    margin-top: 10px;
    padding: 14px 9px;
    background: #000;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    font-size: 18px;
}

    .contact-form .btn-grey:hover {
        background: #ffb300;
        text-decoration: none;
    }

.contact-form {
    padding: 30px 10% 40px;
    background: #f6f6f6;
}

    .contact-form .search-col-padding {
        padding-top: 15px;
        display: inline-block;
    }

        .contact-form .search-col-padding .input-group {
            display: block;
        }

    .contact-form label {
        font-size: 11px;
        font-weight: 700;
        color: #000;
        text-transform: uppercase;
        margin: 0;
    }

.map-responsive {
    overflow: hidden;
    padding-bottom: 468px;
    position: relative;
    height: 0;
}

    .map-responsive iframe {
        left: 0;
        top: 0;
        height: 468px;
        width: 100%;
        position: absolute;
    }

.p-0 {
    padding: 0;
}

#contact_sec .inner {
    width: 100%;
    text-align: center;
    display: inline-block;
    position: relative;
    margin-top: 30px;
    border: 1px solid #e5e5e5;
    padding: 30px 20px;
    min-height: 168px;
    height: 100%;
}
.flx_row {
    display: flex;
    flex-direction: row;
}

    #contact_sec .inner i {
        display: inline-block;
        color: #ffb300;
        line-height: normal;
        font-size: 36px;
        padding-right: 5px;
    }

    #contact_sec .inner h4 {
        color: #000;
        font-weight: 700;
        line-height: normal;
        padding: 0 0 0;
        font-size: 20px;
        text-transform: uppercase;
        display: inline-block;
    }
.corevalue{
    width:100%;
    padding-top:30px;
}
/*reset password*/
.reset_mid {
    width: 400px;
    margin: auto;
    padding: 50px 0px;
}

.main_reset_sec {
    width: 100%;
    float: left;
    padding: 20px;
}

    .main_reset_sec h2 {
        text-align: center;
        margin-bottom: 18px;
    }

.txt_sec {
    width: 100%;
    height: 36px;
    float: left;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    padding: 0px 10px;
    border: 1px solid #cecece;
}

.txt_sec {
    width: 100%;
    height: 36px;
    float: left;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    padding: 0px 10px;
    border: 1px solid #cecece;
}

.reset_btn {
    width: 100%;
    height: 36px;
    border: none;
    background: #ffb300;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #FFF;
    cursor: pointer;
    transition: all linear 0.15s;
}

    .reset_btn:hover {
        background: #ffcc66;
    }

.loadrst {
    width: 100%;
    float: left;
    position: relative;
    display: none;
}

.load_reset {
    width: 100%;
    height: 36px;
    border: none;
    background: #de9c03;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #FFF;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 9;
    text-align: center;
    line-height: 37px;
}