<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Contact Us</title>
<link rel="icon" href="images/favicon.ico" type="icon"/>
<link rel="shortcut icon" href="images/favicon.png" type="image/png">
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link href="css/media.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700,900" rel="stylesheet"><link href="/assets/plugins/font-awesome/font-awesome.min.css" rel="stylesheet">
<link href="/assets/plugins/alertifyJs/default.min.css" rel="stylesheet" type="text/css" />
<link href="/assets/plugins/alertifyJs/alertify.min.css" rel="stylesheet" type="text/css" />
<link href="css/vue-loading.css" rel="stylesheet" type="text/css">
<style>
  [v-cloak] {
      display: none;
  }
  .alertify .ajs-header {
      background-color: #0094d9 !important;
    }

    .alertify .ajs-button {
      background-color: #0094d9 !important;
    }
    .alertify .ajs-button:hover {
    background: #fcd228 !important;
    color: #3b3b3b !important;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
</style>
</head>

<body>
<header>
  <headeritem></headeritem>
     
      </header>

   <div id="contact" v-cloak>
    <div class="vld-parent">
        <loading :active.sync="isLoading" :can-cancel="true" :is-full-page="fullPage"></loading>
    </div>
<section class="inner_banner" :style="'background:url('+BannerSection.Banner_Image_1920_x_239_px+') no-repeat;'">
  <div class="banner_text">
    <h1 class="text-center">{{BannerSection.Banner_Text}}</h1>
  </div>
</section>
<div class="breadcrumbs1_wrapper">
  <div class="container">
    <div class="breadcrumbs1"><a href="index.html">{{BannerSection.Home_Label}}</a><span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>{{BannerSection.Contact_Us_Label}}</div>
  </div>
</div>
<section id="contact_sec">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 title">
        <h2 class="m-b-20">{{BannerSection.Contact_Us_Label}}</h2>
      </div>
    </div>
    <div class="row flex ">
                <div class="col-md-4 col-sm-4  flex">
            	<div class="address bdr-rght"> <i :class="ContactSection.Address_Icon"></i><p v-html="ContactSection.Address_Description"></p> </div>
                    </div>
                <div class="col-md-4  col-sm-4 flex">
              <div class="phone-number bdr-rght"> <i :class="ContactSection.Phone_Icon"></i> <a :href="'tel:' + ContactSection.Phone_Number">{{ContactSection.Phone_Number}}</a> </div>
                </div>
                <div class="col-md-4  col-sm-4 flex">
              <div class="email"> <i :class="ContactSection.Email_Icon"></i> <a :href="'mailto:' +ContactSection.Email_Address">{{ContactSection.Email_Address}}</a> </div>
                </div>
    </div>
      
      
    <div class="contact_form m-t-50">
      <form>
        <div class="row">
          <div class="col-md-6 col-sm-6 padding">
            <label>{{ContactFormSection.Name_Label}}</label>
            <div class="input-group">
              <input name="departure_city" class="form-control" v-model="cntusername" :placeholder="ContactFormSection.Name_Placeholder" type="text">
            </div>
          </div>
          <div class="col-md-6 col-sm-6 padding">
            <label>{{ContactFormSection.Email_Label}}</label>
            <div class="input-group">
              <input name="departure_city" class="form-control" v-model="cntemail" :placeholder="ContactFormSection.Email_Placeholder" type="text">
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="col-md-6 col-sm-6 padding">
            <label>{{ContactFormSection.Phone_Label}}</label>
            <div class="input-group">
              <input name="departure_city" class="form-control" v-model="cntcontact" :placeholder="ContactFormSection.Phone_Placeholder" type="text">
            </div>
          </div>
          <div class="col-md-6 col-sm-6 padding">
            <label>{{ContactFormSection.Subject_Label}}</label>
            <div class="input-group">
              <input name="departure_city" class="form-control" v-model="cntsubject" :placeholder="ContactFormSection.Subject_Placeholder" type="text">
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="col-md-12 col-sm-12 padding">
            <label>{{ContactFormSection.Message_Label}}</label>
            <div class="input-group">
              <textarea class="form-control" id="exampleTextarea" rows="5" v-model="cntmessage" :placeholder="ContactFormSection.Message_Placeholder"></textarea>
            </div>
          </div>
          <div class="col-md-12 col-sm-12 padding text-center">
            <button class="send" @click.prevent="sendcontact">{{ContactFormSection.Send_Button_Label}}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<section class="map-responsive">
          <iframe :src="MapSection.Map_Path" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</section>
    
    </div>
     <!-- Footer -->
    <footer>
       <footeritem></footeritem>
    </footer>
    
   
    

    
            <script src="js/jquery3-2-1.min.js"></script>
            <script src="/assets/js/vue.min.js?v=202002060000"></script>
            <script src="/assets/js/vue-i18n.js?v=201912240000"></script>
            <script src="/assets/js/axios.min.js?v=201912240000"></script>
            <script src="js/jquery.min.js"></script> 
            <script src="js/owl.carousel.min.js"></script>
            <script src="js/bootstrap.min.js"></script> 
            <script src="js/custom.js"></script>
            <script src="js/vue-loading-overlay@3.min.js"></script>
            <script>
                Vue.use(VueLoading);
                Vue.component('loading', VueLoading)
            </script>
            <script src="/assets/plugins/moment/moment.min.js?v=201907220000"></script>
            <script src="/assets/plugins/alertifyJs/alertify.min.js?v=201905200000"></script>
            <script src="/Resources/HubUrls/HubServiceUrls.js?v=202008060000"></script>
            <script src="/CommonFuntions/CommonFunctions.js?v=202008240000"></script>
            <script src="/CommonFuntions/ExtentionMethods.js?v=201905200000"></script>
            <script src="serviceJs/contact-us.js"></script>
            <script src="master/master.js"></script>
    
    
    </body>
</html>