<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Privacy Policy</title>
<link rel="icon" href="images/favicon.ico" type="icon"/>
<link rel="shortcut icon" href="images/favicon.png" type="image/png">
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link href="css/media.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700,900" rel="stylesheet">
<link href="/assets/plugins/font-awesome/font-awesome.min.css" rel="stylesheet">
<link href="/assets/plugins/alertifyJs/default.min.css" rel="stylesheet" type="text/css" />
<link href="/assets/plugins/alertifyJs/alertify.min.css" rel="stylesheet" type="text/css" />
<link href="css/vue-loading.css" rel="stylesheet" type="text/css">
<style>
  [v-cloak] {
      display: none;
  }
</style>
</head>

<body>
    <header>
        <headeritem></headeritem>
        </header>

        <div id="privacy" v-cloak>
            <div class="vld-parent">
                <loading :active.sync="isLoading" :can-cancel="true" :is-full-page="fullPage"></loading>
            </div> 
            <!--inner-banner-->
            <section class="inner_banner" :style="'background:url('+BannerSection.Banner_Image_1920_x_239_px+') no-repeat;'">
                <div class="banner_text">
                    <h1 class="text-center">{{BannerSection.Privacy_Policy_Label}}</h1>
                  </div>
            </section>
                <div class="breadcrumbs1_wrapper">
                    <div class="container">
                      <div class="breadcrumbs1"><a href="index.html">{{BannerSection.Home_Label}}</a><span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>{{BannerSection.Privacy_Policy_Label}}</div>
                    </div>
                  </div>
              
        
            <!--About-text-->
            <section id="about_section">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 title">
                      <h2 class="m-b-20">{{BannerSection.Privacy_Policy_Label}}</h2>
                      <p v-html="privacySection.Privacy_Policy_Description"></p>
                      
                    </div>
                  </div>
                </div>
              </section>
          
        
          </div>
        
        
        <!-- Footer -->
    <footer>
        <footeritem></footeritem>
     </footer>
     
    <script src="js/jquery3-2-1.min.js"></script> 
    <script src="/assets/js/vue.min.js?v=202002060000"></script>
    <script src="/assets/js/vue-i18n.js?v=201912240000"></script>
    <script src="/assets/js/axios.min.js?v=201912240000"></script>
    <script src="js/jquery.min.js"></script> 
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/bootstrap.min.js"></script> 
    <script src="js/custom.js"></script>
    <script src="js/vue-loading-overlay@3.min.js"></script>
    <script>
        Vue.use(VueLoading);
        Vue.component('loading', VueLoading)
    </script>
    <script src="/assets/plugins/moment/moment.min.js?v=201907220000"></script>
    <script src="/assets/plugins/alertifyJs/alertify.min.js?v=201905200000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202008060000"></script>
    <script src="/CommonFuntions/CommonFunctions.js?v=202008240000"></script>
    <script src="/CommonFuntions/ExtentionMethods.js?v=201905200000"></script>
    <script src="serviceJs/privacy-policy.js"></script>
    <script src="master/master.js"></script>

</body>
</html>