@media screen and (max-width: 480px) {
}
 @media screen and (max-width: 767px) {
.navbar-default::before {
	display: none;
}
.navbar-default {
	height: 90px;
}
/*=====  Navbar CSS BOF  ======*/
.navbar-toggle {
	background: #ed1c24;
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
	margin: 32px 0;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: #000;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	margin-top: 0;
	position: absolute;
	right: 0;
	width: 100%;
	z-index: 999;
	padding: 0;
	background: #fff;
	border: none;
	top: 95px;
}
.navbar-nav {
	margin: 0;
}
.nav > li {
	padding: 0;
	text-align: left;
	width: 100%;
	border-bottom: 1px solid #ddd;
}
.nav > li:last-child {
	border-bottom: none;
}
.navbar-default .navbar-nav > li > a {
	color: #373737;
	font-size: 15px;
	font-weight: 300;
	text-transform: uppercase;
	padding: 10px;
	position: relative;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	background: #ed1c24;
	color: #fff;
	text-decoration: none;
}
.navbar-default .navbar-nav > li > a.active {
	background: #ed1c24;
	color: #fff;
	text-decoration: none;
}
.navbar-default .navbar-nav > li > a::before {
	display: none;
}
.navbar-default .navbar-nav > li > a::after {
	display: none;
}
.navbar-right .dropdown-menu {
	left: 0px;
}
.main_banner {
	min-height: 750px;
}
.main_banner::before {
	border-bottom: 100px solid #fff;
	border-left: 1432px solid transparent;
	border-right: 138px solid transparent;
}
.login_div {
	margin-top: 80px;
}
#offers-sec {
	margin-top: 0;
	padding: 0;
}
#offers-sec .ofr_box .content, #offers-sec .ofr_box2 .content {
	width: 78%;
}
footer::before {
	border-bottom: 100px solid #101111;
	border-right: 138px solid transparent;
	top: -100px;
}
footer .copyright {
	text-align: center;
}
footer .powered-by {
	text-align: center;
	float: none;
}
footer .link h3, footer .contact h3 {
	margin: 20px 0 20px;
}
.title h2 {
	font-size: 28px;
}
}
@media (min-width: 768px) and (max-width: 990px) {
.navbar-default::before {
	border-top: 65px solid #fff;
	border-left: 38px solid transparent;
	border-right: 730px solid transparent;
	bottom: -70px;
}
.main_banner::before {
	border-bottom: 100px solid #fff;
	border-left: 1432px solid transparent;
	border-right: 150px solid transparent;
}
#offers-sec {
	margin-top: 0;
	padding: 0;
}
#offers-sec .ofr_box .content, #offers-sec .ofr_box2 .content {
	width: 78%;
}
footer::before {
	border-bottom: 100px solid #101111;
	border-right: 150px solid transparent;
	top: -100px;
}
footer .powered-by {
	margin-right: 50px;
}
footer .link, footer .contact {
	padding: 0 0 30px;
}
footer .about .ftr-logo img {
	width: 100%;
}
footer .about h6::before {
	left: -44px;
}
footer .about h6::after {
	right: -44px;
}
footer .about h6::before, footer .about h6::after {
	width: 30px;
}
footer .inner {
	margin-top: 0;
}
}
@media (min-width: 991px) and (max-width: 1024px) {
.navbar-default::before {
	border-top: 70px solid #fff;
	border-left: 65px solid transparent;
	border-right: 959px solid transparent;
	bottom: -75px;
}
.main_banner::before {
	border-bottom: 100px solid #fff;
	border-left: 1432px solid transparent;
	border-right: 150px solid transparent;
}
#offers-sec {
	margin-top: 0;
	padding: 0;
}
#offers-sec .ofr_box .content, #offers-sec .ofr_box2 .content {
	width: 84%;
}
footer::before {
	border-bottom: 100px solid #101111;
	border-right: 150px solid transparent;
	top: -100px;
}
footer .link, footer .contact {
	padding: 0 0 30px;
}
footer .about .ftr-logo img {
	width: 100%;
}
footer .about h6::before {
	left: -44px;
}
footer .about h6::after {
	right: -44px;
}
footer .about h6::before, footer .about h6::after {
	width: 30px;
}
footer .inner {
	margin-top: 0;
}
footer .powered-by {
	margin-right: 50px;
}
}
@media (min-width: 1025px) and (max-width: 1400px) {
.navbar-default::before {
	border-left: 184px solid transparent;
	border-right: 1182px solid transparent;
	bottom: -75px;
}
.main_banner::before {
	border-bottom: 120px solid #fff;
	border-left: 1432px solid transparent;
	border-right: 372px solid transparent;
}
#offers-sec {
	margin-top: 0;
	padding: 0 0 50px;
}
footer::before {
	border-top: 0px solid #fff;
	border-bottom: 120px solid #101111;
	border-right: 372px solid transparent;
	top: -120px;
}
footer .inner {
	margin-top: 0;
}
}
