﻿<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Elite international travel center</title>
    <link rel="shortcut icon" href="website-informations/favicon/favi.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/master.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link href="/assets/plugins/font-awesome/font-awesome.min.css?v=201905200000" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="assets/pluggins/alertifyJs/alertify.min.css?v=1034" rel="stylesheet" />
    <link href="assets/pluggins/alertifyJs/default.min.css?v=1034" rel="stylesheet" />
</head>

<body>
    <header>
        <headeritem></headeritem>
    </header>
<div id="aboutuspage">
<div class="inner-banners" style="background: url(assets/images/about-banner.png);">
    <div class="container">
        <h1>About Us</h1>
        <p><a href="index.html">Home ></a> About Us</p>
    </div>
</div>

<div class="maincontent">
    <div class="aboutus_sec">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>{{Main.Title}}</h3> 
                    <p>{{Main.Description}}</p>
                </div>
            </div>
        </div> 
    </div>
    <div class="choose_sec bgimg-1" style="background-image:url(assets/images/parallax.jpg);">
        <h2>{{About.Title}}</h2> 
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12" v-for="item in About.About">
                    <div class="service_sec">
                        <div class="serviceicon">
                            <img :src="item.Icon">
                        </div> 
                        <p>
                        <!-- <h5>World Class Service</h5> -->
    <p v-html="item.Content"></p>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>




<footer>
    <footeritem></footeritem>
  </footer>
  
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
  <script src="/assets/js/vue.min.js?v=202002060000"></script>
  <script src="/assets/js/vue-i18n.js?v=201912240000"></script>
  <script src="/assets/js/axios.min.js?v=201912240000"></script>
  <script src="assets/js/jquery.min.js"></script>
  <script src="/assets/plugins/moment/moment.min.js?v=201907220000"></script>
  <script src="assets/js/jquery.cookie.js?v=1034"></script>
  <script src="assets/pluggins/alertifyJs/alertify.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/custom.js?v=201905200000"></script>
  <script src="/Resources/HubUrls/HubServiceUrls.js?v=202008060000"></script>
  <script src="/CommonFuntions/CommonFunctions.js?v=202008240000"></script>
  <script src="/CommonFuntions/ExtentionMethods.js?v=201905200000"></script>
    <script src="servicejs/AboutUs.js"></script>
    <script src="master/masterpage.js"></script>
</body>
</html>