﻿<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Elite international travel center</title>
    <link rel="shortcut icon" href="website-informations/favicon/favi.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/master.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link href="/assets/plugins/font-awesome/font-awesome.min.css?v=201905200000" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="assets/pluggins/alertifyJs/alertify.min.css?v=1034" rel="stylesheet" />
    <link href="assets/pluggins/alertifyJs/default.min.css?v=1034" rel="stylesheet" />
    <style>
        [v-cloak] {
          display: none;
        }
      </style>
</head>

<body>
    <header>
        <headeritem></headeritem>
    </header>
<div id="contactuspage" v-cloak>
    <div class="inner-banners" style="background: url(assets/images/contact-banner.jpg);">
        <div class="container">
            <h1>Contact Us</h1>
            <p><a href="index.html">Home ></a> Contact Us</p>
        </div>
    </div>

    <div class="contactus-sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-contact">
                    <h5>Get In Touch</h5>
                    <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Cras sollicitudin, tellus vitae
                        condimentum egestas, libero dolor auctor tellus, eu consectetur neque elit quis</p>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="contact-txt">
                                <input type="text" placeholder="Name" v-model="cntusername">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="contact-txt">
                                <input type="email" placeholder="Email" v-model="cntemail">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="contact-txt">
                                <input type="text" placeholder="Phone" v-model="cntcontact">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="contact-txt">
                                <input type="text" placeholder="Website" v-model="cntwebsite">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="contact-txt">
                                <textarea placeholder="Message" v-model="cntmessage"></textarea>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="contact-txt">
                                <button v-on:click="sendcontactus">SUBMIT</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 contact-info">
                    <h4>Contact Info</h4>
                    <ul>
                        <li><i class="fa fa-mobile"></i> <span>Phone:</span> {{contact.Phone_Number}}
                        </li>
                        <li><i class="	fa fa-envelope-o"></i> <span>Email Us:</span> {{contact.Email}}
                        </li>
                        <li><i class="fa fa-map-marker"></i> <span>Address:</span> {{contact.Address}}
                        </li>
                    </ul>
                    <div class="mediaIcons">
                        <a :href="Follow.Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a :href="Follow.Twitter" target="_blank"><i class="fa fa-twitter"></i></a> 
                        <a :href="Follow.Linkedin" target="_blank"><i class="fa fa-linkedin"></i></a> 
                        <a :href="Follow.Instagram" target="_blank"><i class="fa fa-instagram"></i></a></div>
                </div>
            </div>
        </div>
        <div class="map"><iframe
                :src="contact.Location_Link"
                height="300" frameborder="0" allowfullscreen="allowfullscreen"
                style="border: 0px; width: 100%;"></iframe></div>
    </div>


</div>



<footer>
    <footeritem></footeritem>
  </footer>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- <script src="/assets/js/vue.min.js?v=202002060000"></script> -->
    <script src="/assets/js/vue-i18n.js?v=201912240000"></script>
    <script src="/assets/js/axios.min.js?v=201912240000"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="/assets/plugins/moment/moment.min.js?v=201907220000"></script>
    <script src="assets/js/jquery.cookie.js?v=1034"></script>
    <script src="assets/pluggins/alertifyJs/alertify.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/custom.js?v=201905200000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202008060000"></script>
    <script src="/CommonFuntions/CommonFunctions.js?v=202008240000"></script>
    <script src="/CommonFuntions/ExtentionMethods.js?v=201905200000"></script>
    <script src="servicejs/Contact-Us.js"></script>
    <script src="master/masterpage.js"></script>

</body>

</html>