footer{
    width: 100%;
    float: left;
    background: $secondaryColor;
    border-top: 1px solid #FFF;
    padding-top: 30px;
    h6{
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        color: #FFF;
        text-align: left;
        margin-bottom: 5px;
    }
}
.address{
    p{
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        color: #c3cae3;
        text-align: left;
        font-weight: 400;
        line-height: 20px;
    }
}
.footermenu{
ul{
    margin: 0;
    padding: 0;
    list-style: none;
    li{
        width: 100%;
        float: left;
        a{
            font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        color: #c3cae3;
        transition: all 0.5s ease-in-out;
        &:hover{
            color: $teritiaryColor;
            text-decoration: none;
        }
        }
    }
}
}
.footermenu ul li.active a{
    color: $teritiaryColor;
    text-decoration: none;
}
.footer-contact{
    ul{
        margin: 0px;
        padding: 0px;
        list-style: none;
        li{
            width: 100%;
            float: left;
            margin-bottom: 5px;
            a{
                font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        color: #c3cae3;
        transition: all 0.5s ease-in-out;
        &:hover{
            color: $teritiaryColor;
            text-decoration: none;
        }
        i{
            padding-right: 5px;
        }
            }
        }
    }
}
.socialMedia{
    width: 100%;
    float: left;
    padding-top: 8px;
    margin-bottom: 8px;
    a{
        display: block;
        float: left;
        margin-right: 13px;
        i{
            font-size: 19px;
            color: #FFF;
            transition: all 0.5s ease-in-out;
        }
        &:hover i{
            color: $teritiaryColor;
        }
    }
}