$primaryColor:#174894;
$secondaryColor:#1f2746;
$teritiaryColor:#42d4ec;
$loginTxt:#5c6278;
* {
    margin: 0;
    padding: 0;
}

img {
    outline: none;
}

body {
    background-color: #fff;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 700;
    line-height: 1.1;
    margin: 0;
    padding: 0;
}

a {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}
p {
    font-weight: 400;
    line-height: 26px;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
:focus{
    outline: none;
    text-decoration: none;
}
header{
    width: 100%;
    float: left;
    background: #FFF;
    .navbar-default {
        background-color: #FFF !important;
        border-color: #FFF !important;
        margin-bottom: 0px;
        border-bottom: none;
    }
    .navbar-brand{
        height: auto;
    }
    .nav li{
        padding-left: 15px;
        padding-right: 15px;
    }
    .nav a{
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        color: #174894 !important;
        text-transform: uppercase;
        font-weight: 400;
        padding: 35px 0px;
        transition: all 0.2s ease-in-out;
        &:hover{
            font-weight: 600;
        color: #1f2746;
        border-bottom: 5px solid $teritiaryColor;
        background: none !important;
        }
    }
    .nav li.active a {
        font-weight: 600;
        color: #1f2746;
        border-bottom: 5px solid $teritiaryColor;
        background: none !important;
    }
    .right_area{
        font-family: 'Open Sans', sans-serif;
        color: #1f2746;
        padding: 22px 0px 10px 49px;
        span {
            font-size: 14px;
        }
        span i{
            color: $teritiaryColor;
            font-size:16px;
            margin-right: 5px;
        }
    }
    .right_area h3{
        margin: 0px !important;
        font-weight: 600;
        font-size: 22px;
    }
}



/*responsive*/
@media only screen and (min-width: 768px) and (max-width: 990px) {
    header{
        .nav li {
            padding-left: 12px;
            padding-right: 12px;
        }
        .right_area {
        padding: 22px 0px 10px 8px;
    }
    }
    header .nav a{
        font-size: 14px;
    }
    header .right_area h3 {
        font-size: 19px;
    }
    .navbar-brand>img {
        width: 170px;
    }
    .navbar-brand {
        padding: 25px 15px;
    }
}
@media (max-width:768px){
    .navbar-brand{
        padding: 4px 15px;
    }
    .navbar-toggle{
        width: 41px;
        height: 38px;
        margin-top: 16px !important;
        background:none !important;
        border: none;
       .icon-bar {
            width: 26px;
            height: 3px;
            transition: all 0.5s ease-in-out;
            background-color: $primaryColor !important;
        }
        
    }
    header{  
    .nav a{
        padding: 8px 0px;
        border-bottom: 1px solid #ececec;
    }
    .right_area {
        font-family: 'Open Sans', sans-serif;
        color: #1f2746;
        padding: 8px 0px 10px 14px;
    }
} 
}
@media (max-width:354px){
    .navbar-brand>img {
        width: 199px;
    }
    .navbar-toggle {
        margin-top: 9px !important;
    }
}