@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap");
* {
  margin: 0;
  padding: 0;
}

img {
  outline: none;
}

body {
  background-color: #fff;
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 22px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 700;
  line-height: 1.1;
  margin: 0;
  padding: 0;
}

a {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

p {
  font-weight: 400;
  line-height: 26px;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

:focus {
  outline: none;
  text-decoration: none;
}

header {
  width: 100%;
  float: left;
  background: #FFF;
}

header .navbar-default {
  background-color: #FFF !important;
  border-color: #FFF !important;
  margin-bottom: 0px;
  border-bottom: none;
}

header .navbar-brand {
  height: auto;
}

header .nav li {
  padding-left: 15px;
  padding-right: 15px;
}

header .nav a {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #174894 !important;
  text-transform: uppercase;
  font-weight: 400;
  padding: 35px 0px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

header .nav a:hover {
  font-weight: 600;
  color: #1f2746;
  border-bottom: 5px solid #42d4ec;
  background: none !important;
}

header .nav li.active a {
  font-weight: 600;
  color: #1f2746;
  border-bottom: 5px solid #42d4ec;
  background: none !important;
}

header .right_area {
  font-family: 'Open Sans', sans-serif;
  color: #1f2746;
  padding: 22px 0px 10px 49px;
}

header .right_area span {
  font-size: 14px;
}

header .right_area span i {
  color: #42d4ec;
  font-size: 16px;
  margin-right: 5px;
}

header .right_area h3 {
  margin: 0px !important;
  font-weight: 600;
  font-size: 22px;
}

/*responsive*/
@media only screen and (min-width: 768px) and (max-width: 990px) {
  header .nav li {
    padding-left: 12px;
    padding-right: 12px;
  }
  header .right_area {
    padding: 22px 0px 10px 8px;
  }
  header .nav a {
    font-size: 14px;
  }
  header .right_area h3 {
    font-size: 19px;
  }
  .navbar-brand > img {
    width: 170px;
  }
  .navbar-brand {
    padding: 25px 15px;
  }
}

@media (max-width: 768px) {
  .navbar-brand {
    padding: 4px 15px;
  }
  .navbar-toggle {
    width: 41px;
    height: 38px;
    margin-top: 16px !important;
    background: none !important;
    border: none;
  }
  .navbar-toggle .icon-bar {
    width: 26px;
    height: 3px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    background-color: #174894 !important;
  }
  header .nav a {
    padding: 8px 0px;
    border-bottom: 1px solid #ececec;
  }
  header .right_area {
    font-family: 'Open Sans', sans-serif;
    color: #1f2746;
    padding: 8px 0px 10px 14px;
  }
}

@media (max-width: 354px) {
  .navbar-brand > img {
    width: 199px;
  }
  .navbar-toggle {
    margin-top: 9px !important;
  }
}

footer {
  width: 100%;
  float: left;
  background: #1f2746;
  border-top: 1px solid #FFF;
  padding-top: 30px;
}

footer h6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #FFF;
  text-align: left;
  margin-bottom: 5px;
}

.address p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #c3cae3;
  text-align: left;
  font-weight: 400;
  line-height: 20px;
}

.footermenu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footermenu ul li {
  width: 100%;
  float: left;
}

.footermenu ul li a {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #c3cae3;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.footermenu ul li a:hover {
  color: #42d4ec;
  text-decoration: none;
}

.footermenu ul li.active a {
  color: #42d4ec;
  text-decoration: none;
}

.footer-contact ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.footer-contact ul li {
  width: 100%;
  float: left;
  margin-bottom: 5px;
}

.footer-contact ul li a {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #c3cae3;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.footer-contact ul li a:hover {
  color: #42d4ec;
  text-decoration: none;
}

.footer-contact ul li a i {
  padding-right: 5px;
}

.socialMedia {
  width: 100%;
  float: left;
  padding-top: 8px;
  margin-bottom: 8px;
}

.socialMedia a {
  display: block;
  float: left;
  margin-right: 13px;
}

.socialMedia a i {
  font-size: 19px;
  color: #FFF;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.socialMedia a:hover i {
  color: #42d4ec;
}

.ajs-ok {
  background: #174894 !important;
}

.loginSection {
  width: 100%;
  float: left;
  background-image: url(../images/loginbanner.png);
  padding: 70px 0px;
  background-repeat: no-repeat;
  background-size: cover;
}

.formsrch {
  width: 710px;
  margin: auto;
}

.formsrch1 {
  width: 100%;
  float: left;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 4px;
  overflow: hidden;
  padding: 0px;
}

.login_div {
  width: 50%;
  float: left;
  padding: 23px 35px;
}

.login_div h2 {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  color: #1f2746;
  font-weight: 800;
  text-align: center;
  margin-bottom: 12px;
}

.login_div h2 span {
  font-weight: 600;
  font-size: 14px;
}

.login_div .btn_load {
  position: absolute;
  width: 100%;
  height: 44px;
  left: 0;
  top: 0;
  text-align: center;
  line-height: 44px;
  font-size: 19px;
  background: rgba(23, 72, 148, 0.79);
}

.login_div .btn_load i {
  color: #FFF;
}

.login_div .login-form {
  width: 100%;
  float: left;
}

.login_div .login-form .sec {
  width: 100%;
  float: left;
  margin-bottom: 13px;
  position: relative;
}

.login_div .login-form .sec input {
  width: 100%;
  height: 44px;
  background: #5c6278;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #e4e4e4;
  font-weight: 400;
}

.login_div .login-form .sec input::-webkit-input-placeholder {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #e4e4e4;
  font-weight: 400;
}

.login_div .login-form .sec input:-ms-input-placeholder {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #e4e4e4;
  font-weight: 400;
}

.login_div .login-form .sec input::-ms-input-placeholder {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #e4e4e4;
  font-weight: 400;
}

.login_div .login-form .sec input::placeholder {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #e4e4e4;
  font-weight: 400;
}

.login_div .login-form .sec button {
  width: 100%;
  height: 44px;
  float: left;
  background: #174894;
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #FFF;
  font-weight: 600;
  border-radius: 4px;
  margin-bottom: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.login_div .login-form .sec button:hover {
  background: #1f2746;
}

.login_div .login-form .sec a {
  text-align: center;
  display: inline-block;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #1f2746;
  font-weight: 400;
}

.login_div .login-form .sec a:hover {
  color: #1f2746;
}

.login_div .forgot_form {
  display: none;
}

.login_div .forgot_form .sec {
  width: 100%;
  float: left;
  margin-bottom: 13px;
  position: relative;
}

.login_div .forgot_form .sec input {
  width: 100%;
  height: 44px;
  background: #5c6278;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #e4e4e4;
  font-weight: 400;
}

.login_div .forgot_form .sec input::-webkit-input-placeholder {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #e4e4e4;
  font-weight: 400;
}

.login_div .forgot_form .sec input:-ms-input-placeholder {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #e4e4e4;
  font-weight: 400;
}

.login_div .forgot_form .sec input::-ms-input-placeholder {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #e4e4e4;
  font-weight: 400;
}

.login_div .forgot_form .sec input::placeholder {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #e4e4e4;
  font-weight: 400;
}

.login_div .forgot_form .sec button {
  width: 100%;
  height: 44px;
  float: left;
  background: #174894;
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #FFF;
  font-weight: 600;
  border-radius: 4px;
  margin-bottom: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.login_div .forgot_form .sec button:hover {
  background: #1f2746;
}

.login_div .forgot_form .sec a {
  text-align: center;
  display: inline-block;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #1f2746;
  font-weight: 400;
}

.login_div .forgot_form .sec a:hover {
  color: #1f2746;
}

.login_div .forgot_form .back {
  float: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  color: #174894;
  font-weight: 600;
}

.login_div .forgot_form .back i {
  padding-right: 5px;
}

.welcomeCont {
  width: 50%;
  float: left;
  position: relative;
  min-height: 359px;
}

.welcomeCont::after {
  content: '';
  position: absolute;
  width: 204%;
  height: 100%;
  left: 0;
  top: 0;
  background: #42d4ec;
  -webkit-transform: skew(-10deg, 0deg);
          transform: skew(-10deg, 0deg);
}

.welcomeCont::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: url(../images/white-shade.png) no-repeat;
  z-index: 1;
}

.welcomeCont .welcomeTxt {
  width: 100%;
  float: left;
  position: relative;
  z-index: 9;
  padding: 111px 26px 31px 39px;
}

.welcomeCont .welcomeTxt h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  color: #1f2746;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 7px;
}

.welcomeCont .welcomeTxt h4 span {
  font-size: 14px;
  font-weight: 400;
}

.welcomeCont .welcomeTxt p {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  color: #1f2746;
  line-height: 17px;
}

.aboutSec {
  width: 100%;
  float: left;
  padding: 40px 0px;
  text-align: center;
  background: #FFF;
}

.aboutSec h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 27px;
  color: #1f2746;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.aboutSec p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #808080;
  font-weight: 400;
}

.aboutSec button {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  padding: 13px 34px;
  background: #174894;
  color: #FFF;
  margin-top: 10px;
  font-weight: 600;
  border: none;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border-radius: 4px;
}

.aboutSec button:hover {
  background: #1f2746;
}

.whypeople_choose {
  width: 100%;
  float: left;
  min-height: 332px;
  padding: 33px 0px;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  background-size: cover;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.whypeople_choose::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(23, 72, 148, 0.59);
}

.whypeople_choose h5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 27px;
  color: #FFF;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 11px;
  position: relative;
  z-index: 9;
}

.whypeople_choose h5 span {
  border-bottom: 2px solid #FFF;
}

.whypeople_choose ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  position: relative;
  z-index: 9;
}

.whypeople_choose ul li {
  width: 25%;
  padding: 5px;
  float: left;
  margin-top: 20px;
}

.whypeople_choose ul li:hover .choosebg {
  background: #174894;
  border: 1px solid #FFF;
}

.whypeople_choose ul li:hover .choosebg h5 {
  color: #FFF;
}

.whypeople_choose ul li:hover .choosebg p {
  color: #FFF;
}

.whypeople_choose ul li:hover .choosebg::after {
  left: 410px;
}

.choosebg {
  width: 100%;
  float: left;
  background: #FFF;
  border-radius: 3px;
  padding: 47px 7px 14px 7px;
  min-height: 155px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border: 1px solid #FFF;
  position: relative;
  overflow: hidden;
  margin-top: -53px;
}

.choosebg h5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #1f2746;
  font-weight: 800;
  text-transform: capitalize;
  margin-bottom: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.choosebg p {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  color: #808080;
  line-height: 17px;
  font-weight: 400;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.choosebg::after {
  content: '';
  width: 90px;
  height: 240%;
  position: absolute;
  background: rgba(255, 255, 255, 0.15);
  left: -90px;
  top: -18px;
  -webkit-transform: skew(32deg, 10deg);
          transform: skew(32deg, 10deg);
  -webkit-transition: left 2s cubic-bezier(0.19, 1, 0.22, 1);
  transition: left 2s cubic-bezier(0.19, 1, 0.22, 1);
}

.choose_icon {
  width: 81px;
  height: 81px;
  margin: auto;
  background: #FFF;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  padding: 6px;
  margin-bottom: 13px;
  z-index: 9;
}

.choose_icon .icon_sec {
  width: 69px;
  height: 69px;
  background: #FFF;
  float: left;
  position: relative;
  z-index: 9;
  border-radius: 50%;
  text-align: center;
  line-height: 65px;
  -webkit-box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.15);
}

.choose_icon::after {
  width: 100%;
  height: 40px;
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  background: #174894;
}

.newsletter {
  width: 100%;
  float: left;
  padding: 12px 0px;
  border-top: 1px solid #4c526b;
  border-bottom: 1px solid #4c526b;
}

.newsletter h5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #FFF;
  font-weight: 800;
  padding-top: 6px;
}

.newsletter h5 span {
  font-size: 13px;
  font-weight: 400;
}

.newsletter input {
  width: 100%;
  height: 47px;
  background: #FFF;
  border: none;
  border-radius: 3px;
  padding: 0 147px 0 15px;
}

.newsletter button {
  width: 135px;
  height: 47px;
  position: absolute;
  right: 15px;
  top: 0;
  background: #42d4ec;
  color: #FFF;
  line-height: 47px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  border: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.newsletter button:hover {
  background: #174894;
}

.copyright {
  padding: 10px 0px;
}

.copyright p {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  color: #c3cae3;
  text-align: center;
}

.innerbanner {
  width: 100%;
  float: left;
  padding: 20px 0px;
  position: relative;
  background-size: cover;
}

.innerbanner::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(23, 72, 148, 0.81);
  width: 100%;
  height: 100%;
}

.innerbanner h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  color: #FFF;
  text-align: center;
  font-weight: 800;
  position: relative;
  z-index: 9;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.innerbanner h1 span {
  border-bottom: 2px solid #FFF;
}

.innerbanner p {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  color: #FFF;
  text-align: center;
  position: relative;
  z-index: 9;
}

.innerbanner a {
  color: #FFF;
  font-family: 'Poppins', sans-serif;
}

.innerbanner a:hover {
  text-decoration: none;
}

.aboutContent {
  width: 100%;
  float: left;
  padding: 30px 0px;
}

.aboutContent h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  color: #174894;
  text-align: center;
  font-weight: 800;
  margin-bottom: 5px;
}

.aboutContent h2 span {
  color: #808080;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 5px;
}

.aboutContent p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  text-align: center;
  font-weight: 400;
  color: #808080;
}

.aboutContent p span {
  font-size: 17px;
  font-weight: 600;
  color: #3e3f40;
}

.aboutSec {
  width: 100%;
  float: left;
  background: #f5f5f5;
  padding: 30px 0px;
}

.aboutIcon {
  width: 100%;
  float: left;
  background: #FFF;
  border-radius: 4px;
  padding: 15px;
  min-height: 173px;
  -webkit-box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.02);
          box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.02);
}

.aboutIcon h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 5px;
}

.aboutIcon p {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  text-align: center;
  font-weight: 400;
  line-height: 19px;
  color: #909090;
}

.aboutIcon a {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  text-align: center;
  font-weight: 400;
  color: #FFF;
  background: #174894;
  padding: 9px 9px;
  line-height: 6px;
  display: inline-table;
  border-radius: 4px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.aboutIcon a:hover {
  background: #42d4ec;
  text-decoration: none;
}

.abouttxt {
  width: 100%;
  min-height: 80px;
}

.imgs {
  float: left;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.imgs img {
  width: 40px;
}

.contactSec {
  width: 100%;
  float: left;
  padding: 30px 0px;
}

.contactSec h5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  color: #174894;
  text-align: center;
  font-weight: 800;
  margin-bottom: 5px;
}

.contactSec p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  color: #808080;
}

.typeSec {
  padding-top: 34px;
}

.typeSec input {
  width: 100%;
  height: 44px;
  float: left;
  margin-bottom: 10px;
  border-radius: 4px;
  border: none;
  background: #e0e0e0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #3c3c3c;
  font-weight: 400;
  padding: 0 10px;
}

.typeSec input::-webkit-input-placeholder {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #3c3c3c;
  font-weight: 400;
}

.typeSec input:-ms-input-placeholder {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #3c3c3c;
  font-weight: 400;
}

.typeSec input::-ms-input-placeholder {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #3c3c3c;
  font-weight: 400;
}

.typeSec input::placeholder {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #3c3c3c;
  font-weight: 400;
}

.typeSec textarea {
  width: 100%;
  height: 88px;
  float: left;
  margin-bottom: 10px;
  border-radius: 4px;
  border: none;
  background: #e0e0e0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #3c3c3c;
  font-weight: 400;
  padding: 10px 10px;
  resize: none;
}

.typeSecbtn {
  text-align: center;
}

.typeSecbtn button {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  padding: 13px 34px;
  background: #174894;
  color: #FFF;
  margin-top: 10px;
  font-weight: 600;
  border: none;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border-radius: 4px;
  margin-bottom: 36px;
}

.c-info {
  width: 100%;
  float: left;
  background: #FFF;
  padding: 10px;
  border: 1px solid #f7f7f7;
  border-radius: 4px;
  -webkit-box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.05);
  margin-top: 10px;
  min-height: 130px;
}

.c-info h6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #174894;
  text-align: center;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.c-info p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  color: #808080;
  line-height: 20px;
}

.c-info p a {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  color: #808080;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.c-info p a:hover {
  color: #174894;
  text-decoration: none;
}

.popup h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #174894;
  text-align: left;
}

.popup p {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  text-align: justify;
  font-weight: 400;
  line-height: 19px;
  color: #909090;
}

.popup .closebtn {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  padding: 8px 20px;
  background: #174894;
  color: #FFF;
  font-weight: 400;
  border: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border-radius: 4px;
}

.popup .closebtn:hover {
  background: #42d4ec;
}

.popup .modal-footer {
  padding: 7px 15px;
}

.popup .close {
  color: #174894;
  opacity: 1;
  background: none;
  padding: 1px;
  font-size: 20px;
}

.popup .close:hover {
  background: none;
}

.about_points {
  width: 100%;
  float: left;
  background: #174894;
  margin-top: 20px;
}

.about_points h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  text-align: left;
  font-weight: 600;
  color: #FFF;
  padding: 12px 0px 12px 11px;
  border-bottom: 1px solid #346bc1;
}

.about_points ul {
  width: 100%;
  float: left;
  margin: 0;
  padding: 10px;
  list-style: none;
  min-height: 230px;
  border-radius: 3px;
}

.about_points ul li {
  width: 100%;
  float: left;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  text-align: left;
  font-weight: 400;
  color: #FFF;
  padding-left: 19px;
  margin-bottom: 4px;
}

.about_points ul li::before {
  content: '\f111';
  left: 0;
  top: 2px;
  position: absolute;
  font-family: FontAwesome;
  color: #FFF;
  font-size: 11px;
}

.our_mdMessage {
  width: 100%;
  float: left;
  background: #f5f5f5;
  padding: 30px 0px;
}

.our_mdMessage h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  color: #174894;
  text-align: center;
  font-weight: 800;
  margin-bottom: 5px;
}

.our_mdMessage h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #174894;
  text-align: right;
  font-weight: 800;
  margin-bottom: 5px;
}

.our_mdMessage h4 span {
  font-weight: 400;
  color: #808080;
  font-size: 14px;
}

.our_mdMessage img {
  width: 100%;
}

.our_mdMessage p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  text-align: justify;
  font-weight: 400;
  color: #808080;
}

.md_pic {
  width: 150px;
  height: 150px;
  float: left;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 16px;
  border: 8px solid #174894;
}

.intro {
  width: 100%;
  float: left;
  padding: 30px 0px;
  background: #FFF;
}

.intro h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  color: #174894;
  text-align: center;
  font-weight: 800;
  margin-bottom: 10px;
  border-bottom: 1px dashed #dedede;
  padding-bottom: 7px;
}

.intro h2 span {
  font-size: 21px;
  color: #6b6b6b;
  font-weight: 600;
}

.intro h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  color: #313131;
  text-align: center;
  font-weight: 800;
}

.intro p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  text-align: center;
  font-weight: 400;
  color: #808080;
}

.flx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mrgtop-38 {
  margin-top: 38px;
}

.intro_sec {
  border: 1px solid #e4e4e4;
  margin-bottom: 10px;
  padding: 10px;
  min-height: 350px;
}

.intro_sec :last-child {
  border-right: none;
}

.intro_icon {
  width: 100%;
  float: left;
  text-align: center;
}

.intro_icon img {
  width: 148px;
}

.ourservice {
  width: 100%;
  float: left;
  background: #f5f5f5;
  padding: 30px 0px;
  background-size: cover;
}

.ourservice h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  color: #174894;
  text-align: center;
  font-weight: 800;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.travel_services {
  width: 100%;
  float: left;
  background: #174894;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
}

.travel_services ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.travel_services ul li {
  width: 100%;
  float: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #9dc4ff;
  text-align: left;
  border-bottom: 1px solid #356dc3;
  padding: 5px 0px 5px 13px;
  position: relative;
}

.travel_services ul li:last-child {
  border-bottom: none;
}

.travel_services ul li::after {
  content: '\f101';
  left: 0;
  top: 5px;
  position: absolute;
  font-family: FontAwesome;
  color: #FFF;
  font-size: 15px;
}

.travel_services h6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #FFF;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
}

.overview {
  width: 100%;
  float: left;
  padding: 20px 0px;
  position: relative;
  background-image: url(../images/pic3_bigger.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.overview::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(23, 72, 148, 0.78);
  left: 0px;
  top: 0px;
}

.overview h5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  color: #FFF;
  text-align: center;
  font-weight: 800;
  margin-bottom: 10px;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
}

.overview h5 span {
  border-bottom: 2px solid #FFF;
}

.overview_sec {
  width: 100%;
  float: left;
  background: rgba(255, 255, 255, 0.76);
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 15px;
  position: relative;
  z-index: 1;
  border: 1px solid #FFF;
}

.overview_sec h6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #1f2746;
  font-weight: 800;
}

.overview_sec p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  text-align: justify;
  font-weight: 400;
  color: #808080;
}

.overview_sec ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.overview_sec ul li {
  width: 100%;
  float: left;
  position: relative;
  padding-left: 13px;
  font-size: 14px;
  color: #174894;
}

.overview_sec ul li::after {
  content: '\f101';
  left: 0;
  top: 0px;
  position: absolute;
  font-family: FontAwesome;
  color: #174894;
  font-size: 15px;
}

.holidayImg {
  width: 100%;
}

.ourholidays {
  width: 100%;
  float: left;
  background: #FFF;
  padding: 20px 0px;
}

.ourholidays h5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  color: #174894;
  text-align: left;
  font-weight: 800;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.ourholidays p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  text-align: justify;
  font-weight: 400;
  color: #808080;
}

.ourholidays h6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 19px;
  color: #174894;
  text-align: left;
  font-weight: 800;
  margin-bottom: 4px;
  text-transform: uppercase;
  margin-top: 22px;
  border-bottom: 1px dashed #cecece;
  padding-bottom: 9px;
}

.list ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.list ul li {
  float: left;
  padding: 5px 12px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background: #174894;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 4px;
  color: #FFFF;
}

.logistic_list ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.logistic_list ul li {
  width: 100%;
  float: left;
  position: relative;
  padding-left: 16px;
  margin-bottom: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  text-align: left;
  font-weight: 400;
  color: #808080;
}

.logistic_list ul li::before {
  content: '\f101';
  left: 0;
  top: 0px;
  position: absolute;
  font-family: FontAwesome;
  color: #174894;
  font-size: 17px;
}

.tab-links a:hover {
  background: #174894;
  text-decoration: none;
  color: #FFF;
}

.tab-links li.active a, .tab-links li.active a:hover {
  background: #174894;
  color: #FFF;
}

.partners_logo {
  width: 100%;
  float: left;
  border-top: 1px solid #f5f5f5;
  background: #FFF;
}

.airlinelogos {
  width: 100%;
  float: left;
}

.airlinelogos img {
  width: 100%;
}

@media (max-width: 768px) {
  .formsrch {
    width: 100%;
  }
  .welcomeCont {
    display: none;
  }
  .login_div {
    width: 100%;
  }
  .whypeople_choose ul li {
    width: 100%;
    margin-top: 12px;
  }
  .whypeople_choose h5 {
    margin-bottom: 3px;
  }
  .whypeople_choose ul li:hover .choosebg::after {
    left: 820px;
  }
  .newsletter button {
    width: 100%;
    left: 0;
    position: relative;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 0px;
  }
  .newsletter input {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 0px;
    padding: 0 15px 0 15px;
  }
  .tab-links li {
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
    border-right: none;
  }
  .tab-links li:last-child {
    border-bottom: none;
  }
  .tab-links li a {
    display: block;
    text-align: left;
    padding: 9px 18px;
  }
}

@media (max-width: 990px) {
  .address, .footermenu {
    margin-bottom: 13px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.29);
    padding-bottom: 10px;
  }
  .address h6, .address p, .footermenu h6, .footermenu p {
    text-align: center;
  }
  .footermenu ul li {
    text-align: center;
  }
  .footer-contact h6 {
    text-align: center;
  }
  .footer-contact li {
    text-align: center;
  }
  .socialMedia {
    text-align: center;
  }
  .socialMedia a {
    display: contents;
  }
  .newsletter h5 {
    text-align: center;
    margin-bottom: 5px;
  }
  .aboutIcon {
    min-height: 10px;
    margin-bottom: 10px;
  }
  .typeSecbtn button {
    margin-top: 0px;
    width: 100%;
  }
  .c-info {
    min-height: 86px;
  }
  .abouttxt {
    min-height: 10px;
    margin-bottom: 5px;
  }
  .md_pic {
    float: inherit;
    margin: auto;
  }
  .our_mdMessage p {
    text-align: center;
  }
  .our_mdMessage h4 {
    text-align: center;
    padding-top: 16px;
  }
  .intro_sec {
    min-height: 10px;
  }
  .flx {
    display: inline-block;
  }
  .mrg10 {
    margin-bottom: 10px;
  }
  .ourservice h4 {
    font-size: 23px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 990px) {
  .whypeople_choose ul li {
    width: 50%;
    margin-top: 14px;
  }
}

/*reset password*/
.reset_mid {
  width: 400px;
  margin: auto;
  padding: 50px 0px;
}

.main_reset_sec {
  width: 100%;
  float: left;
  padding: 20px;
}

.main_reset_sec h2 {
  text-align: center;
  margin-bottom: 18px;
}

.txt_sec {
  width: 100%;
  height: 36px;
  float: left;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  padding: 0px 10px;
  border: 1px solid #cecece;
}

.txt_sec {
  width: 100%;
  height: 36px;
  float: left;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  padding: 0px 10px;
  border: 1px solid #cecece;
}

.reset_btn {
  width: 100%;
  height: 36px;
  border: none;
  background: #174894;
  float: left;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #FFF;
  cursor: pointer;
  -webkit-transition: all linear 0.15s;
  transition: all linear 0.15s;
}

.reset_btn:hover {
  background: #1f2746;
}

.loadrst {
  width: 100%;
  float: left;
  position: relative;
  display: none;
}

.load_reset {
  width: 100%;
  height: 36px;
  border: none;
  background: #3570cd;
  float: left;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #FFF;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 9;
  text-align: center;
  line-height: 37px;
}
/*# sourceMappingURL=style.css.map */