@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap');
@import "./header";
@import "./footer";
.ajs-ok{
    background: $primaryColor !important;
}
.loginSection{
    width: 100%;
    float: left;
    background-image: url(../images/loginbanner.png);
    padding: 70px 0px;
    background-repeat: no-repeat;
    background-size: cover;
}
.formsrch{
    width: 710px;
    margin:auto;
}
.formsrch1{
    width: 100%;
    float: left;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 4px;
    overflow: hidden;
    padding:0px;
}
.login_div{
    width: 50%;
    float: left;
    padding:23px 35px;
    h2{
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
        font-size: 20px;
        color: #1f2746;
        font-weight: 800;
        text-align: center;
        margin-bottom: 12px;
        span{
            font-weight:600;
            font-size: 14px;
        }
    }
    .btn_load{
        position: absolute;
        width: 100%;
        height: 44px;
        left: 0;
        top: 0;
        text-align: center;
        line-height: 44px;
        font-size: 19px;
        background: rgba(23, 72, 148, 0.79);
        i{
            color: #FFF;
        }
    }
    .login-form{
        width: 100%;
        float: left;
        .sec{
            width: 100%;
            float: left;
            margin-bottom: 13px;
            position: relative;
            input{
                width: 100%;
                height: 44px;
                background:$loginTxt;
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                color: #e4e4e4;
                font-weight: 400;
                &::placeholder{
                    font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                color: #e4e4e4;
                font-weight: 400;
                }
            }
            button{
                width: 100%;
                height: 44px;
                float: left;
                background: $primaryColor;
                border: none;
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                color: #FFF;
                font-weight: 600;
                border-radius: 4px;
                margin-bottom: 5px;
                transition: all 0.5s ease-in-out;
                &:hover{
                    background: $secondaryColor;
                }
            }
            a{
                text-align: center;
                display: inline-block;
                width: 100%;
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                color: #1f2746;
                font-weight: 400;
                &:hover{
                    color: $secondaryColor;
                }
            }
        }
    }
    
    .forgot_form{
        display: none;
        .sec{
            width: 100%;
            float: left;
            margin-bottom: 13px;
            position: relative;
            input{
                width: 100%;
                height: 44px;
                background:$loginTxt;
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                color: #e4e4e4;
                font-weight: 400;
                &::placeholder{
                    font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                color: #e4e4e4;
                font-weight: 400;
                }
            }
            button{
                width: 100%;
                height: 44px;
                float: left;
                background: $primaryColor;
                border: none;
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                color: #FFF;
                font-weight: 600;
                border-radius: 4px;
                margin-bottom: 5px;
                transition: all 0.5s ease-in-out;
                &:hover{
                    background: $secondaryColor;
                }
            }
            a{
                text-align: center;
                display: inline-block;
                width: 100%;
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                color: #1f2746;
                font-weight: 400;
                &:hover{
                    color: $secondaryColor;
                }
            }
        }
        .back{
            float: left;
            font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: $primaryColor;
    font-weight: 600;
    i{
        padding-right: 5px;
    }
        }
    }
    
}
.welcomeCont{
    width: 50%;
    float: left;
    position: relative;
    min-height: 359px;
    &::after{
        content: '';
        position: absolute;
        width: 204%;
        height: 100%;
        left: 0;
        top: 0;
        background: $teritiaryColor;
        transform: skew(-10deg, 0deg);
    }
    &::before{
        content:'';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        background: url(../images/white-shade.png) no-repeat;
        z-index: 1;
    }
    .welcomeTxt{
        width: 100%;
        float: left;
        position: relative;
        z-index: 9;
        padding: 111px 26px 31px 39px;
        h4{
            font-family: 'Open Sans', sans-serif;
            font-size: 17px;
            color:#1f2746;
            text-transform: uppercase;
            font-weight: 800;
            margin-bottom: 7px;
            span{
                font-size: 14px;
                font-weight: 400;
            }
        }
        p{
            font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        color:#1f2746;
        line-height: 17px;
        }
    }
}
.aboutSec{
    width: 100%;
    float: left;
    padding: 40px 0px;
    text-align: center;
    background: #FFF;

    h1{
        font-family: 'Open Sans', sans-serif;
        font-size: 27px;
        color:$secondaryColor;
        font-weight: 800;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    p{
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        color:#808080;
        font-weight:400;
    }
    button{
        font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    padding: 13px 34px;
    background: $primaryColor;
    color: #FFF;
    margin-top: 10px;
    font-weight: 600;
    border: none;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
    border-radius:4px;
    &:hover{
        background: $secondaryColor;
    }
    }
    
}
.whypeople_choose{
    width: 100%;
    float: left;
    min-height: 332px;
    padding: 33px 0px;
    transform: translate(0%, 0%);
    transition: all 1s linear;
    background-size: cover;
    overflow: hidden;
    position: relative;
    text-align: center;
    &::after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(23, 72, 148, 0.59);
    }
    h5{
        font-family: 'Open Sans', sans-serif;
    font-size: 27px;
    color: #FFF;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 11px;
    position: relative;
    z-index: 9;
    span{
        border-bottom: 2px solid #FFF;
    }
    }
    ul{
        margin:0px;
        padding:0px;
        list-style: none;
        position: relative;
        z-index: 9;
        li{
            width: 25%;
            padding: 5px;
            float: left;
            margin-top: 20px;
            &:hover .choosebg{
                background: $primaryColor;
                border: 1px solid #FFF;
                h5{
                    color: #FFF;
                }
                p{
                    color: #FFF;
                }
                &::after{
                    left: 410px;
                }
            }
        }
    }
}
.choosebg{
    width: 100%;
    float: left;
    background: #FFF;
    border-radius: 3px;
    padding: 47px 7px 14px 7px;
    min-height: 155px;
    transition: all 0.5s ease-in-out;
    border: 1px solid #FFF;
    position: relative;
    overflow: hidden;
    margin-top: -53px;
    h5{
        font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: $secondaryColor;
    font-weight: 800;
    text-transform: capitalize;
    margin-bottom: 5px;
    transition: all 0.5s ease-in-out;
    }
    p{
        font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #808080;
    line-height: 17px;
    font-weight: 400;
    transition: all 0.5s ease-in-out;
    }
    &::after{
        content: '';
    width: 90px;
    height: 240%;
    position: absolute;
    background: rgba(255, 255, 255, 0.15);
    left: -90px;
    top: -18px;
    transform: skew(32deg, 10deg);
    transition: left 2s cubic-bezier(0.19, 1, 0.22, 1);
    }
}
.choose_icon{
    width: 81px;
    height: 81px;
    margin: auto;
    background: #FFF;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    padding: 6px;
    margin-bottom: 13px;
    z-index: 9;
    .icon_sec{
        width: 69px;
        height: 69px;
        background: #FFF;
        float: left;
        position: relative;
        z-index: 9;
        border-radius: 50%;
        text-align: center;
        line-height: 65px;
    box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.15);
    }
}
.choose_icon::after{
    width: 100%;
    height: 40px;
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    background: $primaryColor;
}
.newsletter{
    width: 100%;
    float: left;
    padding: 12px 0px;
    border-top:1px solid #4c526b;
    border-bottom:1px solid #4c526b;
    h5{
        font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #FFF;
    font-weight: 800;
    padding-top: 6px;
    span{
        font-size: 13px;
        font-weight: 400;
    }
    }
    input{
        width: 100%;
        height: 47px;
        background: #FFF;
        border: none;
        border-radius: 3px;
        padding: 0 147px 0 15px;
    }
    button{
        width: 135px;
        height: 47px;
        position: absolute;
        right: 15px;
        top: 0;
        background:$teritiaryColor;
        color: #FFF;
        line-height: 47px;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    border: none;
    border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
transition: all 0.5s ease-in-out;
&:hover{
    background: $primaryColor;
}
    }
}
.copyright{
    padding: 10px 0px;
    p{
        font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #c3cae3;
    text-align: center;
    }
}
.innerbanner{
    width: 100%;
    float: left;
    padding: 20px 0px;
    position: relative;
    background-size: cover;
    &::after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        background: rgba(23, 72, 148, 0.81);
        width: 100%;
        height: 100%;
    }
    h1{
        font-family: 'Open Sans', sans-serif;
        font-size: 22px;
        color: #FFF;
        text-align: center;
        font-weight: 800;
        position: relative;
        z-index: 9;
        text-transform: uppercase;
        margin-bottom: 5px;
        span{
            border-bottom: 2px solid #FFF;
        }
    }
    p{
        font-family: 'Poppins', sans-serif;
        font-size: 13px;
        color: #FFF;
        text-align: center;
        position: relative;
        z-index: 9;
    }
    a{
        color: #FFF;
        font-family: 'Poppins', sans-serif;
        &:hover{
            text-decoration: none;
        }
    }
}
.aboutContent{
    width: 100%;
    float: left;
    padding: 30px 0px;
    h2{
        font-family: 'Open Sans', sans-serif;
        font-size: 30px;
       color: $primaryColor;
        text-align: center;
        font-weight: 800;
        margin-bottom: 5px;
        span{
            color: #808080;
            font-weight: 400;
            font-size: 18px;
            margin-bottom: 5px;
        }
    }
    p{
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        text-align: center;
        font-weight: 400;
        color: #808080;
        span{
            font-size: 17px;
            font-weight: 600;
            color: #3e3f40;
        }
    }
}
.aboutSec{
    width: 100%;
    float: left;
    background: #f5f5f5;
    padding: 30px 0px;
}
.aboutIcon{
    width: 100%;
    float: left;
    background: #FFF;
    border-radius: 4px;
    padding: 15px;
    min-height: 173px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.02);
    h4{
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        text-align: center;
        font-weight: 600;
        margin-bottom: 5px;
    }
    p{
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        text-align: center;
        font-weight: 400;
        line-height: 19px;
        color: #909090;
    }
    a{
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        text-align: center;
        font-weight: 400;
        color: #FFF;
        background: $primaryColor;
        padding: 9px 9px;
        line-height: 6px;
        display: inline-table;
        border-radius: 4px;
        transition: all 0.5s ease-in-out;
        &:hover{
            background: $teritiaryColor;
            text-decoration: none;
        }
    }
}
.abouttxt{
    width: 100%;
    min-height: 80px;
}
.imgs{
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    img{
        width: 40px;
    }
}
.contactSec{
    width: 100%;
    float: left;
    padding: 30px 0px;
    h5{
        font-family: 'Open Sans', sans-serif;
        font-size: 30px;
        color: $primaryColor;
        text-align: center;
        font-weight: 800;
        margin-bottom: 5px;
    }
    p{
        font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    color: #808080;
    }
}
.typeSec{
    padding-top: 34px;
}
.typeSec input{
    width: 100%;
    height: 44px;
    float: left;
    margin-bottom: 10px;
    border-radius: 4px;
    border: none;
    background: #e0e0e0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #3c3c3c;
    font-weight: 400;
    padding: 0 10px;
    &::placeholder{
        font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #3c3c3c;
    font-weight: 400;
    }
}
.typeSec textarea{
    width: 100%;
    height: 88px;
    float: left;
    margin-bottom: 10px;
    border-radius: 4px;
    border: none;
    background: #e0e0e0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #3c3c3c;
    font-weight: 400;
    padding: 10px 10px;
    resize: none;
}
.typeSecbtn{
    text-align: center;
    button{
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        padding: 13px 34px;
        background: $primaryColor;
        color: #FFF;
        margin-top: 10px;
        font-weight: 600;
        border: none;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        border-radius: 4px;
        margin-bottom: 36px;
    }
}
.c-info{
    width: 100%;
    float: left;
    background: #FFF;
    padding: 10px;
    border: 1px solid #f7f7f7;
    border-radius: 4px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.05);
    margin-top: 10px;
    min-height: 130px;
    h6{
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        color: $primaryColor;
        text-align: center;
        margin-bottom: 5px;
        text-transform: uppercase;
    }
    p{
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        text-align: center;
        font-weight: 400;
        color: #808080;
        line-height: 20px;
        a{
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            text-align: center;
            font-weight: 400;
            color: #808080;
            transition: all 0.2s ease-in-out;
            &:hover{
                color: $primaryColor;
                text-decoration: none;
            }  
        }
    }
}
.popup{
    h4{
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        font-weight: 600;
        color: $primaryColor;
        text-align: left;
    }
    p{
        font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    text-align: justify;
    font-weight: 400;
    line-height: 19px;
    color: #909090;
    }
    .closebtn{
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        padding: 8px 20px;
        background: $primaryColor;
        color: #FFF;
        font-weight: 400;
        border: none;
        transition: all 0.5s ease-in-out;
        border-radius: 4px;
        &:hover{
            background: $teritiaryColor;
        }
    }
    .modal-footer {
        padding: 7px 15px;
    }
    .close {
        color: $primaryColor;
        opacity: 1;
        background: none;
        padding: 1px;
        font-size: 20px;
        &:hover{
            background: none;
        }
    }
}
.about_points{
    width: 100%;
    float: left;
    background: $primaryColor;
    margin-top: 20px;
}
.about_points h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    text-align: left;
    font-weight: 600;
    color: #FFF;
    padding: 12px 0px 12px 11px;
    border-bottom: 1px solid #346bc1;
}
.about_points ul{
    width: 100%;
    float: left;
    margin: 0;
    padding: 10px;
    list-style: none;
    min-height: 230px;
    border-radius: 3px;
    li{
        width: 100%;
        float: left;
        position: relative;
        font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    text-align: left;
    font-weight: 400;
    color: #FFF;
    padding-left: 19px;
    margin-bottom: 4px;
        &::before{
            content: '\f111';
            left: 0;
            top: 2px;
            position: absolute;
            font-family: FontAwesome;
            color: #FFF;
            font-size: 11px;
        }
    }
}
.our_mdMessage{
    width: 100%;
    float: left;
    background: #f5f5f5;
    padding: 30px 0px;
    h2{
        font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    color: $primaryColor;
    text-align: center;
    font-weight: 800;
    margin-bottom: 5px;
    }
    h4{
        font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: $primaryColor;
    text-align: right;
    font-weight: 800;
    margin-bottom: 5px;
    span{
        font-weight: 400;
        color: #808080;
        font-size: 14px;
    }
    }
    img{
        width: 100%;
    }
    p{
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        text-align: justify;
        font-weight: 400;
        color: #808080;
    }
}
.md_pic{
    width: 150px;
    height: 150px;
    float: left;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 16px;
    border: 8px solid $primaryColor;
}
.intro{
    width: 100%;
    float: left;
    padding: 30px 0px;
    background: #FFF;
    h2{
        font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    color: $primaryColor;
    text-align: center;
    font-weight: 800;
    margin-bottom: 10px;
    border-bottom: 1px dashed #dedede;
    padding-bottom: 7px;
    span{
        font-size: 21px;
    color: #6b6b6b;
    font-weight: 600;
    }
}
h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: #313131;
    text-align: center;
    font-weight: 800;
}
p{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    text-align: center;
    font-weight: 400;
    color: #808080;
}
}
.flx{
    display: flex;
}
.mrgtop-38{
    margin-top: 38px;
}
.intro_sec{
    border:1px solid #e4e4e4;
    margin-bottom: 10px;
    padding: 10px;
    min-height: 350px;
}
.intro_sec :last-child{
    border-right: none;
}
.intro_icon{
    width: 100%;
    float: left;
    text-align: center;
    img{
        width: 148px;
    }
}
.ourservice{
    width: 100%;
    float: left;
    background: #f5f5f5;
    padding: 30px 0px;
    background-size: cover;
    h4 {
        font-family: 'Open Sans', sans-serif;
        font-size: 30px;
        color: $primaryColor;
        text-align: center;
        font-weight: 800;
        margin-bottom: 10px;
        text-transform: uppercase;
    }
}
.travel_services{
    width: 100%;
    float: left;
    background: $primaryColor;
    display: flex;
    height: 100%;
    flex-direction: column;
    padding: 10px;
    ul{
        margin: 0px;
        padding: 0px;
        list-style: none;
        li{
            width: 100%;
            float: left;
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            color: #9dc4ff;
            text-align: left;
            border-bottom: 1px solid #356dc3;
            padding: 5px 0px 5px 13px;
            position: relative;
            &:last-child{
                border-bottom: none;
            }
            &::after{
                content: '\f101';
                left: 0;
                top: 5px;
                position: absolute;
                font-family: FontAwesome;
                color: #FFF;
                font-size: 15px;
            }
        }
    }
    h6 {
        font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #FFF;
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
    }
    
}
.overview{
    width: 100%;
    float: left;
    padding: 20px 0px;
    position: relative;
    background-image: url(../images/pic3_bigger.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background:rgba(23, 72, 148, 0.78);
        left: 0px;
        top: 0px;
    }
    h5 {
        font-family: 'Open Sans', sans-serif;
        font-size: 30px;
        color: #FFF;
        text-align: center;
        font-weight: 800;
        margin-bottom: 10px;
        text-transform: uppercase;
        position: relative;
        z-index: 1;
        margin-bottom: 20px;
        span{
            border-bottom: 2px solid #FFF;
        }
    }
}
.overview_sec{
    width: 100%;
    float: left;
    background: rgba(255, 255, 255, 0.76);
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 15px;
    position: relative;
        z-index: 1;
        border: 1px solid #FFF;
    
    h6{
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        color: #1f2746;
        font-weight: 800;
    }
    p{
        font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    text-align: justify;
    font-weight: 400;
    color: #808080;
    }
    ul{
        margin: 0px;
        padding: 0px;
        list-style: none;
        li{
            width: 100%;
            float: left;
            position: relative;
            padding-left: 13px;
            font-size: 14px;
            color: $primaryColor;
            &::after{
                content: '\f101';
                left: 0;
                top: 0px;
                position: absolute;
                font-family: FontAwesome;
                color:$primaryColor;
                font-size: 15px;
            }
        }
    }
}
.holidayImg{
    width: 100%;
}
.ourholidays{
    width: 100%;
    float: left;
    background: #FFF;
    padding: 20px 0px;
    
    h5{
        font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    color: $primaryColor;
    text-align: left;
    font-weight: 800;
    margin-bottom: 10px;
    text-transform: uppercase;
    }
    p{
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        text-align: justify;
        font-weight: 400;
        color: #808080;
    }
    h6{
        font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    color: $primaryColor;
    text-align: left;
    font-weight: 800;
    margin-bottom: 4px;
    text-transform: uppercase;
    margin-top: 22px;
    border-bottom: 1px dashed #cecece;
    padding-bottom: 9px;
    }
}
.list{
    ul{
        margin:0px;
        padding: 0px;
        list-style: none;
        li{
            float: left;
            padding: 5px 12px;
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            background: $primaryColor;
            margin-right: 5px;
            margin-bottom: 5px;
            border-radius: 4px;
            color: #FFFF;
        }
    }
}
.logistic_list{
    ul{
        margin: 0px;
        padding: 0px;
        list-style: none;
        li{
            width: 100%;
            float: left;
            position: relative;
            padding-left: 16px;
            margin-bottom: 5px;
            font-family: 'Open Sans', sans-serif;
            font-size: 15px;
            text-align: left;
            font-weight: 400;
            color: #808080;
            &::before{
                content: '\f101';
                left: 0;
                top: 0px;
                position: absolute;
                font-family: FontAwesome;
                color: $primaryColor;
                font-size: 17px;
            }
        }
    }
}
.tab-links a:hover {
    background: $primaryColor;
    text-decoration: none;
    color: #FFF;
}

.tab-links li.active a, .tab-links li.active a:hover {
background: $primaryColor;
color: #FFF;
}
.partners_logo{
    width: 100%;
    float: left;
    border-top: 1px solid #f5f5f5;
    background: #FFF;
}
.airlinelogos{
    width: 100%;
    float: left;
    img{
        width: 100%;
    }
}
@media (max-width:768px){
    .formsrch{
        width: 100%;
    }
.welcomeCont{
    display: none;
}
.login_div{
    width: 100%;
}
.whypeople_choose ul li {
    width: 100%;
    margin-top: 12px;
}
.whypeople_choose h5{
    margin-bottom: 3px;
}
.whypeople_choose ul li:hover .choosebg::after {
    left: 820px;
}
.newsletter button{
    width: 100%;
    left: 0;
    position: relative;
    border-bottom-right-radius: 3px;
border-bottom-left-radius: 3px;
border-top-right-radius: 0px;
}
.newsletter input{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 0px;
border-top-right-radius: 3px;
border-bottom-right-radius: 0px;
padding: 0 15px 0 15px;
}
.tab-links li{
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
    border-right: none;
    &:last-child{
        border-bottom: none;
    }
    a{
        display: block;
        text-align: left;
        padding: 9px 18px;
    }
}
}
@media (max-width:990px){
    .address, .footermenu{
        margin-bottom: 13px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.29);
        padding-bottom: 10px;
        h6, p{
            text-align: center;
        }
    }
    .footermenu ul li{
        text-align: center;
    }
    .footer-contact{
        h6{
            text-align: center;
        }
        li{
            text-align: center;
        }
    }
    .socialMedia{
        text-align: center;
        a{
            display: contents;
        }
    }
    .newsletter h5{
        text-align: center;
        margin-bottom: 5px;
    }
    .aboutIcon{
        min-height: 10px;
        margin-bottom: 10px;
    }
    .typeSecbtn button{
        margin-top: 0px;
        width: 100%;
    }
    .c-info{
        min-height: 86px;
    }
    .abouttxt{
        min-height: 10px;
        margin-bottom: 5px;
    }
    .md_pic{
        float: inherit;
        margin: auto;
    }
    .our_mdMessage p{
        text-align: center;
    }
    .our_mdMessage h4{
        text-align: center;
        padding-top: 16px;
    }
    .intro_sec{
        min-height: 10px;
    }
    .flx{
        display: inline-block;
    }
    .mrg10{
        margin-bottom: 10px;
    }
    .ourservice h4{
        font-size: 23px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 990px) {
    .whypeople_choose ul li {
        width: 50%;
        margin-top: 14px;
    }
}
/*reset password*/
.reset_mid {
    width: 400px;
    margin: auto;
    padding: 50px 0px;
}

.main_reset_sec {
    width: 100%;
    float: left;
    padding: 20px;
}

    .main_reset_sec h2 {
        text-align: center;
        margin-bottom: 18px;
    }

.txt_sec {
    width: 100%;
    height: 36px;
    float: left;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    padding: 0px 10px;
    border: 1px solid #cecece;
}

.txt_sec {
    width: 100%;
    height: 36px;
    float: left;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    padding: 0px 10px;
    border: 1px solid #cecece;
}

.reset_btn {
    width: 100%;
    height: 36px;
    border: none;
    background: #174894;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #FFF;
    cursor: pointer;
    transition: all linear 0.15s;
}

    .reset_btn:hover {
        background: #1f2746;
    }

.loadrst {
    width: 100%;
    float: left;
    position: relative;
    display: none;
}

.load_reset {
    width: 100%;
    height: 36px;
    border: none;
    background: #3570cd;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #FFF;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 9;
    text-align: center;
    line-height: 37px;
}