@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

a:focus{
    text-decoration: none;
}
.wrap {
    padding: 60px 0px;
    background: #4a98d3;
    background: radial-gradient(at 40% 30%, #4a98d3, #00598f);
}



.site-header-wrap {
    margin-bottom: 0px;
    border-bottom: 1px solid #53a0dc;
}

/*----- Tabs -----*/
.tabs {
    width: 100%;
    display: inline-block;
    float: left;
    padding: 10px 0px;
}

/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after {
    display: block;
    clear: both;
    content: '';
}

.tab-links {
    padding: 0px;
    width: 100%;
    margin: auto;
    position: relative;
    z-index: 9;
    border:1px solid #e8e8e8;
}

    .tab-links li {
        margin: 0px;
        float: left;
        list-style: none;
        border-right: 1px solid #e8e8e8;
    }

    .tab-links a {
        padding: 16px 18px;
        display: inline-block;
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        color: #676666;
        font-weight: 500;
        transition: all linear 0.15s;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
    }

        

        .bannerForm .tab-links li.active a svg, .tab-links li.active a:hover svg {
            fill: #FFF;
        }

.sp_brdr_left {
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
    overflow: hidden;
}
/*----- Content of Tabs -----*/
.tab-content {
    width: 100%;
    float: left;
    /*background:url(../images/red_bg.jpg) repeat-y right;*/
}

.tab {
    display: none;
}

    .tab.active {
        display: block;
    }
}
