

body {
	background-color: #fff;
	color: #000;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-weight: 700;
	line-height: 1.1;
	margin: 0;
	padding: 0;
}

a {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

img {
	outline: none;
}

p {
	font-weight: 400;
	text-align: center;
	line-height: 26px;
	margin: 0;
	padding: 10px 0 0;
	color: #2f2f2f;
	font-size: 16px;
}

section {
	padding: 60px 0;
}


/*====================================
=            Helper Class            =
====================================*/

.m-t-10 {
	margin-top: 10px;
}

.m-t-20 {
	margin-top: 20px;
}

.m-t-15 {
	margin-top: 15px;
}

.m-t-25 {
	margin-top: 25px;
}

.m-t-30 {
	margin-top: 30px;
}

.m-t-50 {
	margin-top: 50px;
}

.m-t-70 {
	margin-top: 70px;
}

.m-b-10 {
	margin-bottom: 10px;
}

.m-b-15 {
	margin-bottom: 15px;
}

.m-b-20 {
	margin-bottom: 20px;
}

.m-b-25 {
	margin-bottom: 25px;
}

.m-b-30 {
	margin-bottom: 30px;
}

.m-b-50 {
	margin-bottom: 50px;
}

.p-r-0 {
	padding-right: 0;
}

.p-0 {
	padding: 0;
}

.p-t-10 {
	padding-top: 10px;
}

.p-t-15 {
	padding-top: 15px;
}

.p-t-20 {
	padding-top: 20px;
}

.p-t-25 {
	padding-top: 25px;
}

.p-t-30 {
	padding-top: 30px;
}

.p-b-10 {
	padding-bottom: 10px;
}

.p-b-15 {
	padding-bottom: 15px;
}

.p-b-20 {
	padding-bottom: 20px;
}

.p-b-25 {
	padding-bottom: 25px;
}

.p-b-30 {
	padding-bottom: 30px;
}


/*=====  Header CSS BOF  ======*/

header {
	background: #fff !important;
	z-index: 1000;
	position: relative;
}


/*=====  Top CSS BOF  ======*/

.top {
	width: 100%;
	height: 50px;
	position: relative;
}

.top:before {
	content: "";
	background: #ad2a31;
	width: 54%;
	height: 50px;
	position: absolute;
	right: 0;
	display: inline-block;
	-moz-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 2% 100%);
	-webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 2% 100%);
	-o-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 2% 100%);
	clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 2% 100%);
}

.h-detail {
	position: relative;
	z-index: 999;
	text-align: right;
	margin-bottom: 0;
	margin-top: 13px;
}

.h-detail li {
	display: inline-block;
	padding: 0 20px;
}

.h-detail li:last-child {
	padding-right: 0;
}

.h-detail li:first-child {
	padding-left: 0;
}

.h-detail li a {
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	line-height: 20px;
	text-decoration: none;
}

.h-detail li a:hover {
	color: #ffc800;
}

.navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand {
	margin-left: 0 !important;
}


/*=====  Navbar CSS BOF  ======*/

.navbar-default {
	background: transparent;
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;
	border: 0px;
	z-index: 2;
}

.navbar {
	margin-bottom: 0px;
	z-index: 999;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.navbar-nav {
	margin: 0;
	width: 100%;
	text-align: right;
}

.navbar-brand img {
	width: 100% !important;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	padding: 0;
}

.nav>li {
	position: relative;
	display: inline-block;
	padding: 0;
	color: #2f2f2f;
	float: none;
}

.nav>li>a {
	display: block;
	margin: 0;
	padding: 28px;
	position: relative;
	font-size: 22px;
}

.navbar-default .navbar-nav>li>a::after {
	background: #ad2a31;
	bottom: 0;
	content: "";
	line-height: 0;
	margin: auto;
	opacity: 0;
	position: absolute;
	width: 100%;
	z-index: 9;
	left: 0;
	-moz-transition: width .5s ease 0s, height .5s ease 0s;
	-webkit-transition: width .5s ease 0s, height .5s ease 0s;
	-o-transition: width .5s ease 0s, height .5s ease 0s;
	transition: width .5s ease 0s, height .5s ease 0s;
	right: 0;
	height: 3px;
}

.navbar-default .navbar-nav>li>a:focus::after,
.navbar-default .navbar-nav>li>a:hover::after {
	height: 3px;
	opacity: 1;
}

.navbar-default .navbar-nav>.active>a::after {
	height: 3px;
	opacity: 1;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	height: auto;
	padding: 0;
	position: absolute;
	z-index: 1000;
	margin: -25px 0 0;
}

.top-nav-collapse {
	padding: 0;
	top: 0;
}

.white,
.white:hover,
.white:focus {
	color: #fff;
	width: 100% !important;
}

.block {
	display: block;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
	color: #ad2a31;
	background-color: #f4f4f4;
}

.navbar-default .navbar-nav>li>a {
	font-size: 22px;
	font-weight: 500;
	text-transform: capitalize;
	color: #2f2f2f;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
	color: #fdbf1b;
}

.navbar .nav>li>a:focus,
.navbar .nav>li>a:hover {
	text-decoration: none;
	color: #ad2a31 !important;
	background: #f4f4f4;
}

.mbl {
	display: none !important;
}

.d-none{display: none !important;}
.d-none{
    text-align: center;
    background: #ad2a31;
    color: #fff;
}
.d-none a{
    text-align: center;
    color: #fff!important;
    font-size: 18px!important;
    font-weight: 400!important;
    }
.d-none span{
    background: #fff;
    color: #000;
    padding: 7px 20px;
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 7px;
    font-size: 16px;
    font-weight: 500;
}
/* Banner CSS BOF
=================================================== */

.carousel {
	position: relative;
	-moz-clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
	-webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
	-o-clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
	clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
}

.carousel::before {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.3);
	content: "";
	z-index: 1;
}

.carousel-inner img {
	width: 100%;
	max-height: 776px;
}

.carousel-indicators {
	display: none;
}

.carousel-control.left,
.carousel-control.right {
	display: none;
}

.carousel-inner>.item {
	min-height: 745px;
}

.banner_text {
	position: absolute;
	width: 100%;
	color: #fff;
	margin: 0 auto;
	top: 15%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 1;
	text-align: center;
}

.banner_text h3 {
	font-size: 52px;
	font-weight: 400;
	color: #fff;
	line-height: normal;
}

.banner_text h1 {
	font-size: 82px;
	font-weight: 600;
	color: #fff;
	line-height: 80px;
}

.banner_text h1 span {
	color: #fff;
	font-weight: 400;
}

.login-form {
	background: rgba(9, 9, 9, 0.6);
	width: 50%;
	border-radius: 50px;
	text-align: center;
	margin-top: -500px;
	position: relative;
	z-index: 99;
	float: right;
}

.login-form h2 {
	font-size: 33px;
	text-transform: uppercase;
	color: #fff;
	background: rgba(214, 29, 38, 0.7);
	border-radius: 50px 50px 0 0;
	font-weight: 600;
	padding: 20px 0;
}

.login-form form {
	padding: 30px 50px 50px 50px;
}

.login-form form label {
	text-align: left;
	width: 100%;
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 5px;
}

.login-form form .form-control {
	width: 100%;
	margin-bottom: 20px;
	height: 56px;
	border-radius: 5px;
}

.forgot-pass {
	width: 100%;
	display: block;
	text-align: left;
	color: #fff;
	text-decoration: none !important;
}

.forgot-pass:hover {
	color: #ebebeb;
}

.login-form form .btn {
	background: #ad2a31;
	color: #fff;
	padding: 10px 30px;
	border: 2px solid #fff;
	margin-top: 20px;
}

.login-form form .btn a {
	color: #fff;
	font-size: 23px;
	font-weight: 600;
	text-transform: uppercase;
	display: block;
	text-decoration: none;
}

.login-form form .btn:hover {
	background: #000;
}


/*====================Footer==================*/

footer {
	background: url(../images/footer-bg.jpg) no-repeat top center;
	background-size: cover;
	padding-top: 255px;
	position: relative;
	margin-top: 70px;
}

.ftr-cntc h3,
.quick-links h3,
.newsletter h3 {
	font-size: 30px;
	color: #ad2a31;
	padding: 15px 0;
	line-height: normal;
	font-weight: 700;
}

.ftr-cntc p {
	text-align: left;
	padding: 0;
}

.ftr-cntc ul {
	list-style: none;
	display: block;
	padding: 0;
	margin: 20px 0 0;
}

.ftr-cntc ul li {
	clear: both;
	float: left;
	padding: 7px 0;
	font-size: 16px;
	font-weight: 400;
	color: #2f2f2f;
}

.ftr-cntc ul li i {
	color: #fff;
	float: left;
	margin-right: 10px;
	height: 46px;
	width: 46px;
	text-align: center;
	font-size: 20px;
	line-height: 46px;
	background: #ad2a31;
	border-radius: 50%;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.fnt-sz-25 {
	font-size: 25px !important;
}

.fnt-sz-22 {
	font-size: 22px !important;
}

.ftr-cntc ul li a {
	font-size: 16px;
	font-weight: 400;
	color: #2f2f2f;
	text-decoration: none;
	margin-top: 11px;
	display: inline-block;
}

.ftr-cntc ul li a:hover {
	color: #ad2a31;
	text-decoration: none;
}

.quick-links ul {
	display: inline-block;
	padding: 0;
	margin: 0;
}

.quick-links ul li {
	padding: 10px 0;
	list-style: none;
	font-size: 16px;
}

.quick-links ul li i {
	color: #2f2f2f;
	margin-right: 10px;
}

.quick-links ul li a {
	color: #2f2f2f;
}

.quick-links ul li a:hover {
	color: #ad2a31;
	text-decoration: none;
}

.newsletter p {
	padding: 0;
	text-align: left;
}

.news-sub {
	position: relative;
	margin: 20px 0 0;
}

.news-sub input[type="email"] {
	height: 50px;
	width: 100%;
	background: #f7f8fc;
	border-radius: 40px;
	margin: 0;
	border: 1px solid #ad2a31;
	padding: 0 0 0 25px;
	color: #000;
}

.news-sub button {
	height: 50px;
	width: 22%;
	background: #ad2a31;
	border-radius: 40px;
	cursor: pointer;
	border: none;
	position: absolute;
	top: 0;
	right: 0;
	color: #fff;
	font-size: 25px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.news-sub button:hover {
	background: #000;
	color: #fff;
}

.foot-social {
	text-align: left;
	margin: 20px 0 0;
	width: 100%;
}

.foot-social ul {
	display: inline-block;
	padding: 0;
	margin: 0;
}

.foot-social ul li {
	display: inline-block;
	padding: 0 5px;
	list-style: none;
}

.foot-social ul li a {
	background: #f7f8fc;
	height: 52px;
	width: 52px;
	color: #ad2a31;
	display: block;
	border-radius: 50%;
	font-size: 23px;
	line-height: 52px;
	text-align: center;
	border: 1px solid #ad2a31;
}

.foot-social ul li a:hover {
	background: #ad2a31;
	color: #fff;
}

.all-reserved {
	padding: 25px 0;
	border-top: 1px solid #2f2f2f;
	overflow: hidden;
	margin: 40px 0 0;
}

.reserved {
	float: left;
}

.reserved p {
	color: #242424;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 0;
	text-align: left;
	padding-top: 0;
}

.Powered {
	float: right;
}

.Powered p {
	display: inline-block;
	vertical-align: middle;
	color: #242424;
	font-size: 15px;
	font-weight: 400;
	text-align: left;
	padding-top: 0;
	margin-right: 10px;
}

.Powered a {
	display: inline-block;
}


/*back-to-top-css*/

.scrollToTop {
	height: 50px;
	width: 50px;
	padding-top: 2px;
	font-size: 24px;
	line-height: 45px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	position: fixed;
	bottom: 15px;
	right: 15px;
	z-index: 999999;
	display: none;
	border-radius: 50%;
	background-color: #ad2a31;
}

.scrollToTop:hover,
.scrollToTop:focus {
	background: #000;
	color: #fff;
}

/*================================About-banner=======================*/
.footer-in{margin-top: 0;}
.inner-banner{
    padding: 80px 0 90px 0;
    overflow: hidden;
    background-size: cover !important;
    width: 100%;
    position: relative;
    background-position: center center!important;
}
.inner-banner h2{
    color: #fff;
    font-size: 52px;
    text-align: center;
    font-weight: 600;
    line-height: 65x;
}
.breadcrumbs{
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
   
}
.breadcrumbs ul{
    margin: 0 auto;
    padding-left: 0;
}
.bread-position{
    text-align: center;
    display: inline-block;
    border-radius: 40px;
}
.bread-position ul li{
    display: inline-block;
    padding: 0px 25px;
    font-size: 18px;
    text-transform: capitalize;
    color: #fff;
    font-weight: 500;
    
}
.bread-position ul li a{
    display: block;
    color: #fff;
    text-decoration: none;
}
.bread-position ul li a:hover{
    color: #f8d729;
}
.about-in{
    padding: 60px 0;
    position: relative;
    text-align: center;
    background: #f9f9fb;
}


.about-text h3{
    font-size: 30px;
    line-height: 36px;
    color: #413d3d;
    padding: 0;
    font-weight: 600;
}
.about-text p{
    font-size: 16px;
    line-height: 28px;
    padding: 20px 0 0;
    color: #413d3d;
}
.our-mission-in {
    padding:60px 0;
}
.about-info {
    text-align: center;
    padding: 40px 50px;
    height: 100%;
    position: relative;
    border-radius: 10px;
    background-color: transparent;
 -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.33);
-moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.33);
box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.33);
}
.about-info svg{
    fill:#fff;
   margin-top: 13px;
    width: 50px;
    text-align: center;
}

.about-info h4 {
    font-size: 28px;
    color: #1c1c1c;
    padding-bottom: 0;
    font-weight: 600;
    letter-spacing: 0;
    padding: 20px 0;
    text-transform: capitalize;
}

.about-info p {
    font-size: 16px;
    color: #1c1c1c;
    font-weight: 400;
    line-height: 30px;
}
.vi-mi-icon{
    background: #ad2a31;
    border-radius: 50%;
    height: 76px;
    width: 76px;
    text-align: center;
    margin: 0 auto;
}
.flex-box{display: flex;}



/*=================================Contact==============================================*/
.contact-inner{background: #fff;}
.contact-form h3{
    font-size: 50px;
    color: #1c1c1c;
    font-weight: 600;
    border-left: 5px solid #ad2a31;
    text-align: left;
    padding-left: 20px;
}

.contact-form p{
    font-size:16px;
    color: #1c1c1c;
    font-weight: 400;
    padding: 20px 0;
    text-align: left;
}

.contact-form .form-control{
    border: none;
    border-bottom: 1px solid #d3d3d3;
    box-shadow: none;
    border-radius: 0;
    font-size: 15px;
    margin: 20px 0;
}

.contact-form .form-control:hover, .contact-form .form-control:focus{
    border-color: #ad2a31;
}

.contact-form button{
    background: #ad2a31;
    border: none;
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
    padding: 10px 35px;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 15px;
    float: left;
}
.contact-form button:hover{
    background: #1c1c1c;
}

.contact-in{
    background: #ad2a31;
    padding: 40px;
    text-align: left;
}
.get-touch{
    margin-bottom: 20px;
    text-align: left;
}
.get-touch h3{
    font-size: 36px;
    line-height: 36px;
    font-weight: 600;
    border-left: 5px solid #deaaad;
    margin-bottom: 10px;
    text-align: left;
    padding-left: 20px;
}

.get-touch p{
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #f1f1f1;
    text-align: left;
    padding-top: 0;
}
.get-touch a{
    color: #f1f1f1;
    text-decoration: none;
}
.get-touch a:hover{
    color: #f8d829;
}
.contact-in ul{
    text-align: left;
    padding-left: 0;
    }
.contact-in ul li{
    display: inline-block;
    text-align: left;
}
.contact-in ul li a{
    color: #deaaad;
    font-size: 24px;
    padding-right: 26px;
    display: block;
    text-align: left;
}
.contact-in ul li a:hover{color: #fff;}


.map{
    overflow: hidden;
    padding: 0 0 60px 0;
}

/*reset password*/
.reset_mid {
    width: 400px;
    margin: auto;
    padding: 50px 0px;
}

.main_reset_sec {
    width: 100%;
    float: left;
    padding: 20px;
}

    .main_reset_sec h2 {
        text-align: center;
        margin-bottom: 18px;
    }

.txt_sec {
    width: 100%;
    height: 36px;
    float: left;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    padding: 0px 10px;
    border: 1px solid #cecece;
}

.txt_sec {
    width: 100%;
    height: 36px;
    float: left;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    padding: 0px 10px;
    border: 1px solid #cecece;
}

.reset_btn {
    width: 105%;
    height: 36px;
    border: none;
    background: #ad2a31;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #FFF;
    cursor: pointer;
    transition: all linear 0.15s;
}

    .reset_btn:hover {
        background:#000;
    }

.loadrst {
    width: 100%;
    float: left;
    position: relative;
    display: none;
}

.load_reset {
    width: 100%;
    height: 36px;
    border: none;
    background: #db6123;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #FFF;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 9;
    text-align: center;
    line-height: 37px;
}

/* End Reset */


.image-align {
    background-position: 50% !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

