﻿<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dartex Travel</title>
  <link rel="shortcut icon" href="website-informations/favicon/favi.png" type="image/png">
  <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css?v=202001080000">
  <link href="assets/pluggins/alertifyJs/alertify.min.css?v=202001080000" rel="stylesheet" />
  <link href="assets/pluggins/alertifyJs/default.min.css?v=202001080000" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="assets/css/style.css?v=202007150000">
  <link href="assets/css/media.css?v=202001080000" rel="stylesheet" type="text/css">
  <link href="/assets/plugins/font-awesome/font-awesome.min.css?v=201905200000" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
  <link href="assets/css/custom-splash.css?v=202008111030" rel="stylesheet" type="text/css">
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>
   <!-- PRELOADER -->
<div id="preloader">
  <div id="preloader-status">
      <div class="spinner">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
      </div>
      <div class="lds-circle"><div></div></div>
      <div id="preloader-title">Loading</div>
  </div>
</div>
<!-- /PRELOADER -->
  <div id="homepage" v-cloak>
    <header>
      <div id="header">
        <nav id="navbar-main" class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="navbar-header">
                  <a class="navbar-brand" href="index.html"><img src="website-informations/logo/logo.png" alt=""></a>
                </div>
                <div class="call-action call-action2 bdr-lft">
                  <a :href="`mailto:${ contact.Email}`" class="icon icon2" title="Email"><i class="fa fa-envelope"
                      aria-hidden="true"></i></a>
                  <span class="d-n">Email</span><br><a class="d-n"
                    :href="`mailto:${ contact.Email}`">{{contact.Email}}</a>
                </div>
                <div class="call-action">
                  <a :href="`tel:${ contact.PhoneNumber}`" class="icon" title="Call Us"><i class="fa fa-mobile"
                      aria-hidden="true"></i></a>
                  <span class="d-n">Call Us On</span><br><a class="d-n"
                    :href="`tel:${ contact.PhoneNumber}`">{{contact.PhoneNumber}}</a>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <section class="main_banner" style="background:url(assets/images/banner.jpg) no-repeat;">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 hidden-xs">
            <h1><span>Welcome to</span><br> Dartex Travel &amp; Tourism</h1>
          </div>
        </div>
      </div>
      <div class="login_div">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <h2>Agency Login</h2>
            </div>
            <form action="javascript:sendLogin()">
              <div class="login-form">
                <div class="col-lg-4 col-md-4 sec">
                  <input name="agnecy-code" id="txtAgencyCode" class="form-control" type="text"
                    placeholder="Agency Code">
                </div>
                <div class="col-lg-4 col-md-4 sec">
                  <input name="username" id="txtUname" class="form-control" type="text" placeholder="Username">
                </div>
                <div class="col-lg-4 col-md-4 sec">
                  <input name="password" id="txtPwd" class="form-control" type="password" placeholder="Password">
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-12 sec">
                  <div class="link remember_me" style="padding-bottom: 0 !important;">
                    <input type="checkbox" value="lsRememberMe" id="rememberMe"> <label for="rememberMe">Remember me</label>
                  </div>
                  <div class="btnform">
                    <button class="login_btn loginbtn01">Login</button>
                    <div id="loginLoader" class="btn_load" style="display:none;"><i class="fa fa-spinner fa-spin"></i>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12 sec">
                  <div class="link">
                    <ul>
                      <li><a style="cursor:pointer" class="forgot forgot_click">Forgot Password?</a></li>
                    </ul>
                  </div>
                </div>
              </div>

            </form>
            <div class="forgot_form">
              <form action="javascript:forgotPassword()">
                <div class="col-lg-6 col-md-6 sec">
                  <input type="text" class="form-control" id="txtAgency" placeholder="Agency Code">
                </div>
                <div class="col-lg-6 col-md-6 sec">
                  <input type="text" class="form-control" id="txtEmail" placeholder="Email ID">
                </div>
                <div class="col-lg-12 col-md-12 sec">
                  <div class="btnform">
                  <button class="login_btn" id="btnForgot">SEND</button>
                  <div id="loderForgot" class="btn_load" style="display:none"><i class="fa fa-spinner fa-spin"></i>
                  </div>
                </div>
                </div>
              </form>
              <div class="link">
                <ul>
                  <li><a class="back"><i class="fa fa-arrow-left" aria-hidden="true"></i>Back To Login</a></li>
                </ul>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="newsletter">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
            <h2>{{Newsletter.Newsletter_Title}}</h2>
            <p>{{Newsletter.Newsletter_Description}}</p>
          </div>
          <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
            <div class="w3-container">
              <input class="input" type="text" placeholder="Enter Email Address" v-model="newsltremail">
              <button type="submit" class="button" v-on:click="sendnewsletter">Subscribe</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 bdr-rgt m-t-30">
            <div class="inner">
              <h5>Phone</h5>
              <span><a :href="`tel:${ contact.PhoneNumber}`">{{contact.PhoneNumber}}</a></span>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 bdr-rgt m-t-30">
            <div class="inner">
              <h5>Email</h5>
              <span><a :href="`mailto:${ contact.Email}`"> {{contact.Email}}</a></span>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 bdr-rgt m-t-30">
            <div class="inner">
              <h5>Address</h5>
              <span>{{contact.Address}}</span>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 m-t-30">
            <div class="inner">
              <h5>Follow Us</h5>
              <ul class="social">
                <li><a :href="Follow.Facebook_Link" target="blank"><i aria-hidden="true" class="fa fa-facebook"></i></a>
                </li>
                <li><a :href="Follow.Twitter_Link" target="blank"><i aria-hidden="true" class="fa fa-twitter"></i></a>
                </li>
                <li><a :href="Follow.Linkedin_Link" target="blank"><i aria-hidden="true" class="fa fa-linkedin"></i></a>
                </li>
                <li><a :href="Follow.Instagram_Link" target="blank"><i aria-hidden="true"
                      class="fa fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="ftr-btm">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="copyright">© 2020 Dartex Travel & Tourism Agency.</div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="powered-by">Powered by: &nbsp; <a href="http://www.oneviewit.com/" target="_blank"><img alt=""
                    src="assets/images/oneview-logo.png"></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="/assets/js/vue-i18n.js?v=201912240000"></script>
  <script src="/assets/js/axios.min.js?v=201912240000"></script>
  <script src="assets/js/jquery.min.js?v=202001080000"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js?v=1034"></script>
  <script src="/assets/plugins/moment/moment.min.js?v=201907220000"></script>
  <script src="assets/js/jquery.cookie.js?v=202001080000"></script>
  <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.1/build/alertify.min.js?v=1034"></script>
  <script src="assets/js/bootstrap.min.js?v=202001080000"></script>
  <script src="assets/js/custom.js?v=202001080000"></script>
  <script src="website-informations/agencyInformations/AgencyInformation.js?v=202001080000"></script>


  <script src="/Resources/HubUrls/HubServiceUrls.js?v=202008060000"></script>
  <script src="/CommonFuntions/CommonFunctions.js?v=202008240000"></script>
  <script src="/CommonFuntions/ExtentionMethods.js?v=201905200000"></script>
  <script src="/Login/LoginComponents/js/login.js?v=202007160000"></script>
  <script src="servicejs/index.js?v=202008130000"></script>
  <script>
    jQuery(window).load(function () {
      $('#preloader').delay(4000).fadeOut(100);
    })
  </script>
</body>

</html> 