﻿<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gulf Wings Travel Agency</title>
    <link rel="shortcut icon" href="website-informations/favicon/favi.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link href="assets/css/slick-theme.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/slick.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="assets/pluggins/alertifyJs/alertify.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <header>
        <headeritem></headeritem>
    </header>
    <div id="aboutuspage" v-cloak>
        <!-- <header>
            <nav id="navbar-main" class="navbar navbar-default">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse"
                                    data-target="#myNavbar"> <span class="icon-bar"></span> <span
                                        class="icon-bar"></span> <span class="icon-bar"></span> </button>
                                <a class="navbar-brand" href="index.html"><img src="website-informations/logo/logo.png"
                                        alt=""></a>
                            </div>
                            <div class="collapse navbar-collapse navbar-right" id="myNavbar">
                                <ul class="nav navbar-nav">
                                    <li><a href="index.html">Home</a></li>
                                    <li><a class="active" href="about-us.html">About Us</a></li>
                                    <li><a href="our-services.html">Our Services</a></li>
                                    <li><a href="contact-us.html">Contact Us</a></li>
                                </ul>
                                <div class="nav navbar-nav navbar-right right_area">
                                    <span><i class="fa fa-headphones"></i>Free 24/7 Support</span>
                                    <h3>{{contact.Phone_Number_1}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header> -->
        <section class="innerbanner" style="background-image:url(assets/images/about-banner.png);">
            <div class="container">
                <h1><span>About Us</span></h1>
                <p><a href="/Login/GulfWings/index.html">Home ></a> About Us</p>
            </div>
        </section>
        <div class="intro">
            <div class="container">
                <h2><span>Our Group</span><br>INTRODUCTION</h2>
                <p v-html="Intro.Content"></p>
                <div class="row mrgtop-38">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" v-for="item in Intro.List">
                        <div class="intro_sec">
                            <div class="intro_icon"><img :src="item.Image" alt="intro"></div>
                            <p>{{item.Description}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="our_mdMessage">
            <div class="container">
                <h2>OUR MD’S MESSAGE</h2>
                <div class="md_pic"><img :src="Mes.MD_Image" alt="MD"></div>
                <p v-html="Mes.Message">
                </p>
            </div>
        </div>
        <section class="aboutContent">
            <div class="container">
                <h2>Who We Are</h2>
                <p>{{About.About_Us_Description}}</p>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="about_points" v-html="Activities.Introduction_List">


                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="about_points" v-html="Activities.Core_Activities_List">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="partners_logo">
            <div class="slider autoplay">
                <div class="item">
                    <div class="airlinelogos"><img src="assets/images/client01.png" alt="client logo"></div>
                </div>
                <div class="item">
                    <div class="airlinelogos"><img src="assets/images/client02.png" alt="client logo"></div>
                </div>
                <div class="item">
                    <div class="airlinelogos"><img src="assets/images/client03.png" alt="client logo"></div>
                </div>
                <div class="item">
                    <div class="airlinelogos"><img src="assets/images/client04.png" alt="client logo"></div>
                </div>
                <div class="item">
                    <div class="airlinelogos"><img src="assets/images/client05.png" alt="client logo"></div>
                </div>
                <div class="item">
                    <div class="airlinelogos"><img src="assets/images/client06.png" alt="client logo"></div>
                </div>
                <div class="item">
                    <div class="airlinelogos"><img src="assets/images/client07.png" alt="client logo"></div>
                </div>
                <div class="item">
                    <div class="airlinelogos"><img src="assets/images/client08.png" alt="client logo"></div>
                </div>
                <div class="item">
                    <div class="airlinelogos"><img src="assets/images/client09.png" alt="client logo"></div>
                </div>
                <div class="item">
                    <div class="airlinelogos"><img src="assets/images/client10.png" alt="client logo"></div>
                </div>
            </div>
        </div>
    </div>
    <footer :key="key">
        <footeritem :key="key" :item="1"></footeritem>
    </footer>



    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- <script src="/assets/js/vue.min.js?v=202002060000"></script> -->
    <script src="/assets/js/vue-i18n.js?v=201912240000"></script>
    <script src="/assets/js/axios.min.js?v=201912240000"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="/assets/js/modernizr-2.7.2.js?v=202009070000"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js?v=1034"></script>
    <script src="/assets/plugins/moment/moment.min.js?v=201907220000"></script>
    <script src="assets/js/jquery.cookie.js?v=1034"></script>
    <script src="/assets/plugins/alertifyJs/alertify.min.js?v=201905200000"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/custom.js?v=201905200000"></script>
    <script src="website-informations/agencyInformations/AgencyInformation.js?v=1034"></script>
    <script src="assets/js/parallax.js"></script>

    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202008060000"></script>
    <script src="/CommonFuntions/CommonFunctions.js?v=202008240000"></script>
    <script src="/CommonFuntions/ExtentionMethods.js?v=201905200000"></script>
    <!-- <script src="/Login/LoginComponents/js/login.js?v=202007160000"></script> -->
    <script src="servicejs/aboutus.js"></script>
    <script src="master/master.js"></script>
    <script src="assets/js/slick.js"></script>
    <script>

        $('.autoplay').slick({
            slidesToShow: 8,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 2000,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 7,
                        slidesToScroll: 3,
                        infinite: true,
                        dots: false
                    }
                },
                {
                    breakpoint: 990,
                    settings: {
                        slidesToShow: 5,
                        slidesToScroll: 2
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 1
                    }
                }
            ]
        });
    </script>
    <script>
        $('.parallax-window').parallax({ imageSrc: 'assets/images/pic2_bigger.jpg' });</script>
</body>

</html>