﻿<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gulf Wings Travel Agency</title>
    <link rel="shortcut icon" href="website-informations/favicon/favi.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link href="assets/css/slick-theme.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/slick.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/plugins/alertifyJs/alertify.min.css?v=201909230000">
    <link href="assets/pluggins/alertifyJs/default.min.css?v=1034" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <header>
        <headeritem></headeritem>
    </header>
    <div id="contactuspage" v-cloak>
        <!-- <header>
            <nav id="navbar-main" class="navbar navbar-default">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse"
                                    data-target="#myNavbar"> <span class="icon-bar"></span> <span
                                        class="icon-bar"></span> <span class="icon-bar"></span> </button>
                                <a class="navbar-brand" href="index.html"><img src="website-informations/logo/logo.png"
                                        alt=""></a>
                            </div>
                            <div class="collapse navbar-collapse navbar-right" id="myNavbar">
                                <ul class="nav navbar-nav">
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="about-us.html">About Us</a></li>
                                    <li><a href="our-services.html">Our Services</a></li>
                                    <li><a class="active" href="contact-us.html">Contact Us</a></li>
                                </ul>
                                <div class="nav navbar-nav navbar-right right_area">
                                    <span><i class="fa fa-headphones"></i>Free 24/7 Support</span>
                                    <h3>{{contact.Phone_Number_1}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header> -->

        <section class="innerbanner" style="background-image:url(assets/images/contact-banner.png);">
            <div class="container">
                <h1><span>Contact Us</span></h1>
                <p><a href="/Login/GulfWings/index.html">Home ></a> Contact Us</p>
            </div>
        </section>
        <section class="contactSec">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h5>{{Titlearea.Title}}</h5>
                        <p>{{Titlearea.Description}}</p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 typeSec">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <input type="text" placeholder="First name" v-model="cntfirstname">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <input type="text" placeholder="Last name" v-model="cntlastname">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <input type="email" placeholder="E-mail" v-model="cntemail">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <input type="text" placeholder="Phone" v-model="cntcontact">
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <textarea placeholder="Message" v-model="cntmessage"></textarea>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 typeSecbtn">
                                <button v-on:click="sendcontactus">Send</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div class="c-info">
                                    <h6>Address</h6>
                                    <p>{{contact.Address}}</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div class="c-info">
                                    <h6>Phones</h6>
                                    <p><a :href="`tel:+${ contact.Phone_Number_1}`">{{contact.Phone_Number_1}}</a>, <a
                                            :href="`tel:+${ contact.Phone_Number_2}`">{{contact.Phone_Number_2}}</a></p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div class="c-info">
                                    <h6>Email</h6>
                                    <p><a :href="`mailto:+${ contact.Email}`">{{contact.Email}}</a></p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <div class="partners_logo">
            <div class="slider autoplay">
                <div class="item">
                    <div class="airlinelogos"><img src="assets/images/client01.png" alt="client logo"></div>
                </div>
                <div class="item">
                    <div class="airlinelogos"><img src="assets/images/client02.png" alt="client logo"></div>
                </div>
                <div class="item">
                    <div class="airlinelogos"><img src="assets/images/client03.png" alt="client logo"></div>
                </div>
                <div class="item">
                    <div class="airlinelogos"><img src="assets/images/client04.png" alt="client logo"></div>
                </div>
                <div class="item">
                    <div class="airlinelogos"><img src="assets/images/client05.png" alt="client logo"></div>
                </div>
                <div class="item">
                    <div class="airlinelogos"><img src="assets/images/client06.png" alt="client logo"></div>
                </div>
                <div class="item">
                    <div class="airlinelogos"><img src="assets/images/client07.png" alt="client logo"></div>
                </div>
                <div class="item">
                    <div class="airlinelogos"><img src="assets/images/client08.png" alt="client logo"></div>
                </div>
                <div class="item">
                    <div class="airlinelogos"><img src="assets/images/client09.png" alt="client logo"></div>
                </div>
                <div class="item">
                    <div class="airlinelogos"><img src="assets/images/client10.png" alt="client logo"></div>
                </div>
            </div>
        </div>
    </div>
    <footer :key="key">
        <footeritem :key="key" :item="3"></footeritem>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- <script src="/assets/js/vue.min.js?v=202002060000"></script> -->
    <script src="/assets/js/vue-i18n.js?v=201912240000"></script>
    <script src="/assets/js/axios.min.js?v=201912240000"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="/assets/js/modernizr-2.7.2.js?v=202009070000"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js?v=1034"></script>
    <script src="/assets/plugins/moment/moment.min.js?v=201907220000"></script>
    <script src="assets/js/jquery.cookie.js?v=1034"></script>
    <script src="assets/pluggins/alertifyJs/alertify.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/custom.js?v=201905200000"></script>
    <script src="website-informations/agencyInformations/AgencyInformation.js?v=1034"></script>
    <script src="assets/js/parallax.js"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202008060000"></script>
    <script src="/assets/js/elasticsearch.min.js?v=201908130000"></script>
    <script src="/CommonFuntions/CommonFunctions.js?v=202008240000"></script>
    <script src="/CommonFuntions/ExtentionMethods.js?v=201905200000"></script>
    <!-- <script src="/Login/LoginComponents/js/login.js?v=202007160000"></script> -->
    <script src="servicejs/contactus.js"></script>
    <script src="master/master.js"></script>
    <script src="assets/js/slick.js"></script>
    <script>

        $('.autoplay').slick({
            slidesToShow: 8,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 2000,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 7,
                        slidesToScroll: 3,
                        infinite: true,
                        dots: false
                    }
                },
                {
                    breakpoint: 990,
                    settings: {
                        slidesToShow: 5,
                        slidesToScroll: 2
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 1
                    }
                }
            ]
        });
    </script>
    <script>
        $('.parallax-window').parallax({ imageSrc: 'assets/images/pic2_bigger.jpg' });</script>
</body>

</html>