﻿<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gulf Wings Travel Agency</title>
    <link rel="shortcut icon" href="website-informations/favicon/favi.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/tabs02.css">
    <link href="assets/css/slick-theme.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/slick.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="assets/pluggins/alertifyJs/alertify.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <header>
        <headeritem></headeritem>
    </header>
    <div id="servicepage" v-cloak>
        <!-- <header>
            <nav id="navbar-main" class="navbar navbar-default">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse"
                                    data-target="#myNavbar"> <span class="icon-bar"></span> <span
                                        class="icon-bar"></span> <span class="icon-bar"></span> </button>
                                <a class="navbar-brand" href="index.html"><img src="website-informations/logo/logo.png"
                                        alt=""></a>
                            </div>
                            <div class="collapse navbar-collapse navbar-right" id="myNavbar">
                                <ul class="nav navbar-nav">
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="about-us.html">About Us</a></li>
                                    <li><a class="active" href="our-services.html">Our Services</a class="active"></li>
                                    <li><a href="contact-us.html">Contact Us</a></li>
                                </ul>
                                <div class="nav navbar-nav navbar-right right_area">
                                    <span><i class="fa fa-headphones"></i>Free 24/7 Support</span>
                                    <h3>{{contact.Phone_Number_1}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header> -->
        <section class="innerbanner" style="background-image:url(assets/images/about-banner.png);">
            <div class="container">
                <h1><span>Our Services</span></h1>
                <p><a href="/Login/GulfWings/index.html">Home ></a> Our Services</p>
            </div>
        </section>
        <div class="tabs animated-fade">
            <div class="container">
                <ul class="tab-links">
                    <li class="active">
                        <a href="#holidays">{{Holidays.Our_Holidays_Tab_Name}}</a>
                    </li>
                    <li>
                        <a href="#tour">{{Tours.Inbound_Tours_Tab_Name}}</a>
                    </li>
                    <li>
                        <a href="#airline">{{Airline.Airline_Tab_Name}}</a>
                    </li>
                    <li>
                        <a href="#logistic">{{Logistic.Logistics_Tab_Name}}</a>
                    </li>
                    <li>
                        <a href="#cargo">{{Cargo.Cargo_Tab_Name}}</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content bg_shade">
                <div class="container">
                    <div id="holidays" class="tab active">
                        <div class="ourholidays">
                            <div class="row">
                                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12" v-html="Holidays.Content_Section_1">
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                    <img :src="Holidays.Image" alt="holidays" class="holidayImg">
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" v-html="Holidays.Content_Section_2">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tour" class="tab">
                        <div class="ourholidays list">
                            <p v-html="Tours.Content"></p>
                            <p><b>Dubai is one of the best places to visit in the world </b></p>
                            <p><b>Dubai : Points of Interest – </b></p>
                            <ul v-for="item in Place.Points_of_Interest">
                                <li>{{item.Places}}</li>
                            </ul>
                        </div>
                    </div>
                    <div id="airline" class="tab">
                        <div class="ourholidays" v-html="Airline.Content">
                        </div>
                    </div>
                    <div id="logistic" class="tab">
                        <div class="ourholidays logistic_list">
                            <p v-html="Logistic.Content"></p>
                            <ul v-html="Logistic.Services">
                            </ul>
                        </div>
                    </div>
                    <div id="cargo" class="tab">
                        <div class="ourholidays logistic_list">
                            <p v-html="Cargo.Content"></p>
                            <ul v-html="Cargo.Services">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="ourservice">
            <div class="container">
                <h4>Corporate Travel Services</h4>
                <div class="row flx">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-sm-12 col-xs-12 mrg10" v-for="item in Corporate.List">
                        <div class="travel_services">
                            <p v-html="item.Content"></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="overview">
            <div class="container">
                <h5><span>AN OVERVIEW</span></h5>
                <div class="overview_sec" v-for="item in Overview.List">
                    <p v-html="item.Content"></p>
                </div>
            </div>
        </section>
        <section class="aboutSec">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" v-for="(item,ind) in abouts.Features">
                        <div class="aboutIcon">
                            <div class="imgs"><img :src="item.Image"></div>
                            <h4>{{item.Title}}</h4>
                            <div class="abouttxt">
                                <p>{{item.Description | subStr}}</p>
                            </div>
                            <a href="#" data-toggle="modal" :data-target="'#meeting'+ind" hreslif="#">More Details</a>
                        </div>


                        <!-- Modal meeting-->
                        <div class="modal fade popup" :id="'meeting'+ind" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">{{item.Title}}</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>{{item.Description}}</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default closebtn"
                                            data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="partners_logo">
            <div class="slider autoplay">
                <div class="item">
                    <div class="airlinelogos"><img src="assets/images/client01.png" alt="client logo"></div>
                </div>
                <div class="item">
                    <div class="airlinelogos"><img src="assets/images/client02.png" alt="client logo"></div>
                </div>
                <div class="item">
                    <div class="airlinelogos"><img src="assets/images/client03.png" alt="client logo"></div>
                </div>
                <div class="item">
                    <div class="airlinelogos"><img src="assets/images/client04.png" alt="client logo"></div>
                </div>
                <div class="item">
                    <div class="airlinelogos"><img src="assets/images/client05.png" alt="client logo"></div>
                </div>
                <div class="item">
                    <div class="airlinelogos"><img src="assets/images/client06.png" alt="client logo"></div>
                </div>
                <div class="item">
                    <div class="airlinelogos"><img src="assets/images/client07.png" alt="client logo"></div>
                </div>
                <div class="item">
                    <div class="airlinelogos"><img src="assets/images/client08.png" alt="client logo"></div>
                </div>
                <div class="item">
                    <div class="airlinelogos"><img src="assets/images/client09.png" alt="client logo"></div>
                </div>
                <div class="item">
                    <div class="airlinelogos"><img src="assets/images/client10.png" alt="client logo"></div>
                </div>
            </div>
        </div>
    </div>
    <footer :key="key">
        <footeritem :key="key" :item="2"></footeritem>
    </footer>



    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- <script src="/assets/js/vue.min.js?v=202002060000"></script> -->
    <script src="/assets/js/vue-i18n.js?v=201912240000"></script>
    <script src="/assets/js/axios.min.js?v=201912240000"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="/assets/js/modernizr-2.7.2.js?v=202009070000"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js?v=1034"></script>
    <script src="/assets/plugins/moment/moment.min.js?v=201907220000"></script>
    <script src="assets/js/jquery.cookie.js?v=1034"></script>
    <script src="/assets/plugins/alertifyJs/alertify.min.js?v=201905200000"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/tabs.js"></script>
    <script src="assets/js/custom.js?v=201905200000"></script>
    <script src="website-informations/agencyInformations/AgencyInformation.js?v=1034"></script>
    <script src="assets/js/parallax.js"></script>

    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202008060000"></script>
    <script src="/CommonFuntions/CommonFunctions.js?v=202008240000"></script>
    <script src="/CommonFuntions/ExtentionMethods.js?v=201905200000"></script>
    <!-- <script src="/Login/LoginComponents/js/login.js?v=202007160000"></script> -->
    <script src="servicejs/service.js"></script>
    <script src="assets/js/parallax.js"></script>
    <script src="master/master.js"></script>
    <script src="assets/js/slick.js"></script>
    <script>

        $('.autoplay').slick({
            slidesToShow: 8,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 2000,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 7,
                        slidesToScroll: 3,
                        infinite: true,
                        dots: false
                    }
                },
                {
                    breakpoint: 990,
                    settings: {
                        slidesToShow: 5,
                        slidesToScroll: 2
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 1
                    }
                }
            ]
        });
    </script>
</body>

</html>