﻿
.table-hover05 > tbody > tr:hover {
    background-color: #b3b3b3 !important;
    color: #FFF;
    cursor: pointer;
}




.srch_grid_style01 > thead > tr {
    background: #2d3e52;
    color: #FFF;
}

.table > thead > tr > th {
    color: #FFF;
}



.dataTables_wrapper .dataTables_length {
    color: #2d3e52;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 11px;
    margin-bottom: 9px;
    margin-left: 9px;
    margin-right: 9px;
}

table.dataTable.no-footer {
    margin-bottom: 0px;
    border-bottom: 1px solid #2d3e52;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #FFF !important;
    border: 1px solid var(--primary-dark-color);
    background-color: white;
    background: var(--primary-color);
    margin-right: 1px;
    cursor: pointer;
    padding: 4px 10px !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: var(--tertiary-color) !important;
    border: 1px solid #98874d;
    background-color: white;
    background: var(--secondary-color);
    margin-right: 1px;
    cursor: pointer;
}

.dataTables_wrapper .dataTables_filter {
    float: right;
    text-align: right;
    margin-bottom: 9px;
    margin-top: 9px;
    margin-right: 9px;
    color: #2d3e52;
}

.dataTables_wrapper .dataTables_paginate {
    float: right;
    text-align: right;
    padding-top: 6px;
    margin-right: 5px;
}

.dataTables_wrapper .dataTables_info {
    clear: both;
    float: left;
    padding: 10px;
    color: #2d3e52 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    color: var(--primary-color);
    padding: 3px;
    display: block;
    float: left;
    cursor: pointer;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    color: var(--tertiary-color) !important;
    padding: 3px 7px;
    float: left;
    margin-right: 1px;
}

table.dataTable tbody tr {
    background-color: #ebf0f7 !important;
}

.dataTables_length > label > select {
    color: #3e3a69 !important;
}

.dataTables_filter > label > input {
    color: #3e3a69 !important;
    padding: 5px 7px;
    border: 1px solid #afafaf;
}

.search_area h6 {
    font-family: 'CenturyGothic-Regular';
    font-size: 15px;
    color: #FFF;
    font-weight: 500;
    text-transform: uppercase;
    background: #2d3e52;
    padding: 9px 10px;
}

.srch_table22 {
    width: 100%;
    height: auto;
    float: left;
    background: #e0e0e0;
    margin-bottom: 10px;
}

.dataTables_wrapper .dataTables_length {
    color: #2d3e52;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 11px;
    margin-bottom: 9px;
    margin-left: 9px;
    margin-right: 9px;
    float: left;
}

.dataTables_wrapper .dataTables_filter {
    float: right;
    text-align: right;
    margin-bottom: 9px;
    margin-top: 9px;
    margin-right: 9px;
    color: #444444;
}

#tblAirBookings_length {
    display: none;
}

#tblAirBookings_filter {
    display: none;
}

#tblAirBookings_info {
    display: none;
}

#tblAirBookings_paginate {
    display: none;
}

.chartdiv {
    width: 100%;
}

.wrap_text {
    max-width: 200px;
    overflow-wrap: break-word;
}
