
nav:not(.mm-menu) {
    display: none;
}

.header,
.content,
.footer {
    text-align: center;
}

.header,
.footer {
    cursor: pointer;
    background: #777;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 0 50px;
}

    .header.fixed {
        position: fixed;
        top: 0;
        left: 0;
    }

    .footer.fixed {
        position: fixed;
        bottom: 0;
        left: 0;
    }

    .header a {
        display: block;
        width: 29px;
        height: 23px;
        padding: 0px;
        position: absolute;
        top: 24px;
        left: 26px;
    }

        .header a:before,
        .header a:after {
            content: '';
            display: block;
            background: #5a5d61;
            height: 5px;
            border-radius: 13px;
        }

        .header a span {
            background: #5a5d61;
            display: block;
            height: 5px;
            margin: 2px 0;
            border-radius: 13px;
        }

.content {
    padding: 150px 50px 50px 50px;
}
