﻿@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');

.insurancebanner-result{
    width: 100%;
    float: left;
    background-image: var(--insuranceTP-result-banner);
    background-size: cover;
    background-position: center;
}

.insurancebanner-booking{
    width: 100%;
    float: left;
    background-image: var(--insuranceTP-booking-banner);
    background-size: cover;
    background-position: center;
}

.insurancebanner-booking h3, .insurancebanner-booking h3,
.insurancebanner-result h3, .insurancebanner--result h3{
    padding: 73px 0px;
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
.maininsurance{
    width: 100%;
    float: left;
    padding:30px 0px;
}
.maininsurance h5{
    font-family: 'Open Sans', sans-serif;
    color: #000;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.insurance_card{
    width: 100%;
    float: left;
    border-radius: 3px;
    overflow: hidden;
    background: #FFF;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.05);
    border: 1px solid #eaeaea;
    margin-bottom: 10px;
}
.coverage_head{
    width: 100%;
    float: left;
    background: var(--primary-color);
    position: relative;
}
.coverage_head h4{
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 0px;
}
.coverage_head h6{
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    font-size: 17px;
    font-weight: 600;
    padding: 12px 0px;
}
.insuranceSec{
    width: 100%;
    float: left;
    padding: 16px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}
.nopadding{
    padding-left: 0px;
    padding-right: 0px;
}
.insuranceImg{
    float: left;
}
.insuranceImg img{
    width: 100%;
}
.insurancebtn{
    width: 100%;
    float: left;
    text-align: right;
    padding-top: 9px;
}
.insurancebtn button{
    border: none;
    padding: 9px 13px;
    cursor: pointer;
    border-radius: 3px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.addquotebtn{
    background: var(--primary-color);
    color: #FFF;
}
.addquotebtn:hover{
    background: var(--primary-light-color);
}
.addquotebtn i{
    margin-right: 5px;
}
.insurance_select{
    background: var(--secondary-color);
    color: #FFF;
    margin-left: 5px;
}
.insurance_select:hover{
    background: var(--secondary-light-color);
}
.insurance_select i{
    margin-left: 5px;
}
@keyframes blink {50% { color: transparent }}
.loader__dot { animation: 1s blink infinite }
.loader__dot:nth-child(2) { animation-delay: 250ms }
.loader__dot:nth-child(3) { animation-delay: 500ms }
.insursns_cost{
    margin-top: 10px;
    padding: 5px;
    background: var(--primary-color);
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
}
.btn_insurance{
    padding-top: 10px;
    width: 100%;
}
.btn_insurance button{
    border: none;
    padding: 9px 13px;
    cursor: pointer;
    border-radius: 3px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
   
}
.btn_cancel{
    background: var(--secondary-color);
    color: #FFF;
}
.btn_cancel:hover{
    background: var(--secondary-light-color);
}
.btn_cancel i{
    margin-left: 5px;
}
.issuebtn{
    background: var(--primary-color);
    color: #FFF;
    float: right;
}
.issuebtn:hover{
    background: var(--primary-light-color);
}
.issuebtn i{
    margin-left: 5px;
}
.links_quote{
    float: right;
    padding-top: 10px;
}
.links_quote button{
    float: left;
    border: none;
    background: none;
    color: #FFF;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    padding: 0 7px;
}
.links_quote button:first-child{
    border-right: 1px solid #61a9f1;
}
.quotelist_sec {
    width: 25%;
    float: left;
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 10px;
    padding-left: 6px;
}
.quotelist_sec1 {
    width: 100%;
    float: left;
    border: 1px solid #e1e1e1;
}
.privacy_check {
    width: 100%;
    float: left;
    margin-top: 6px;
    padding-bottom: 5px;
    position: relative;
}

    .privacy_check label {
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        color: #646464;
        font-weight: 400;
        padding-left: 29px;
    }

    .privacy_check input[type="checkbox"] {
        position: absolute;
        width: 20px;
        height: 20px;
        overflow: hidden;
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        opacity: 0;
        cursor: pointer;
        top: 0px;
    }

        .privacy_check input[type="checkbox"] + label:before {
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-right: 9px;
            background: url(../images/radio-checkbox01.png) no-repeat;
            content: " ";
            vertical-align: top;
            cursor: pointer;
            margin-top: -3px;
            -webkit-box-shadow: 0 5px 3px rgba(0,0,0,0.2);
            -moz-box-shadow: 0 5px 3px rgba(0,0,0,0.2);
            -o-box-shadow: 0 5px 3px rgba(0,0,0,0.2);
            box-shadow: 0 5px 3px rgba(0,0,0,0.2);
            left: 0;
            margin-left: -25px;
        }

        .privacy_check input[type="checkbox"]:checked + label:before {
            background-position: 0 -20px;
        }

        .privacy_check input[type="checkbox"] + label:before {
            background-position: 0 0px;
        }
        .newlabel {
            margin-top: 0px;
            display: inherit;
        }
        .bt {
            margin-bottom: 16px;
            margin-top: 12px;
        }
        .bt label{
            font-weight: 400;
        }
        
            .bt input[type="radio"] {
                position: absolute;
                width: 19px;
                height: 19px;
                overflow: hidden;
                margin: 0;
                padding: 0;
                border: 0;
                outline: 0;
                opacity: 0;
                cursor: pointer;
                top: 5px;
            }
        
                .bt input[type="radio"] + label:before {
                    display: inline-block;
                    width: 19px;
                    height: 19px;
                    margin-right: 4px;
                    background: url(/Insurance/InsuranceComponents/Images/radio-checkbox.png) no-repeat;
                    content: " ";
                    vertical-align: top;
                    cursor: pointer;
                    margin-top: -1px !important;
                    /*webkit-box-shadow: 0 5px 3px rgba(0,0,0,0.2);
                    -moz-box-shadow: 0 5px 3px rgba(0,0,0,0.2);
                    -o-box-shadow: 0 5px 3px rgba(0,0,0,0.2);
                    box-shadow: 0 5px 3px rgba(0,0,0,0.2);*/
                }
        
                .bt input[type="radio"]:checked + label:before {
                    background-position: 0 -19px;
                }
        
                .bt input[type="radio"] + label:before {
                    background-position: 0 0px;
                }
        
                .rowsec {
                    padding: 0px 18px;
                }
                .agetraveller label {
                    margin-top: -27px;
                    border: 1px solid #ccc;
                    margin-left: 5px;
                    padding: 3px 9px;
                    background: #FFF;
                    font-size: 13px;
                    float: left;
                    font-weight: 400;
                }
                .sectravellers {
                    width: 100%;
                    float: left;
                    border: 1px solid #d6d6d6;
                    margin-bottom: 20px;
                    border-radius: 3px;
                }
                .agetraveller {
                    float: left;
                    padding: 13px 5px;
                    width: 100%;
                }
                .insuranceSecArea {
                    width: 100%;
                    float: left;
                    padding: 25px 16px 0px 16px;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 13px;
                }
                .txt_st{
                    width: 100%;
                    float: left;
                    height: 39px;
                    padding: 6px;
                    border: 1px solid #d2d2d2;
                    background: #f9f9f9;
                    border-radius: 3px;
                }
.txt_st01{
    width: 100%;
    float: left;
    height: 39px;
    padding: 6px;
    border: 1px solid #d2d2d2;
    background: #f9f9f9 url(/Insurance/InsuranceComponents/Images/dwnarrw.png) no-repeat right;
    border-radius: 3px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -moz-appearance: none;
}
.txt_st_cldr{
    width: 100%;
    float: left;
    height: 39px;
    padding: 6px;
    border: 1px solid #d2d2d2;
    background: #f9f9f9 url(/Insurance/InsuranceComponents/Images/calender02.png) no-repeat right;
    border-radius: 3px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -moz-appearance: none;
}
.rowsec1{
    padding: 0px 6px;
}
.rowsec1 label{
    font-weight: 400;
    margin-bottom: 5px;
}
.classsec_area{
    margin-bottom: 0px;
    line-height: 17px;
}
.policyinfo_sec{
    width: 100%;
    float: left;
    padding: 30px 10px 18px 10px;
}
.insuranceSec5 {
    width: 100%;
    float: left;
    padding:0px 16px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}
.insuranceSec6 {
    width: 100%;
    float: left;
    padding:0px 16px 16px 16px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}
.user_edit {
    padding: 15px 10px 14px 10px;
}
.non_box-shadow{
    box-shadow: none;
}
.headpolicy{
    width: 100%;
    float: left;
    background: var(--primary-color);
    padding: 5px;
}
.mrg_btm{
    margin-bottom: 10px;
}
.hotel_table{
    width: 100%;
    float: left;
}
.hotel_table table{
    margin-bottom: 0px;
}
.sp_table{
    color: #FFF !important; 
}


@media (min-width: 768px){
#insuranceplan .modal-dialog {
    width: 50%;
    margin: 30px auto;
}
}
@media only screen and (min-width: 768px) and (max-width: 990px) {
    .quotelist_sec{
        width: 50%;
    }    
}
@media only screen and (min-width: 200px) and (max-width: 768px) {
    .quotelist_sec{
        width: 100%;
    }    
}
@media only screen and (max-width: 990px) and (min-width: 200px){
.txt_st, .txt_st01, .txt_st_cldr {
    margin-bottom: 10px;
}
.classsec_area{
    margin-bottom: 10px;
}
}

.insurance_sort {
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.insurance_sort p {
    font-size: 16px;
    font-weight: 700;
}

.insurance_sort p, .insurance_sort button {
    margin: 0 5px;
}