﻿.loadsec {
    width: 100%;
    float: left;
    background: #FFF;
}

@-webkit-keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0;
    }

    100% {
        background-position: 468px 0;
    }
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0;
    }

    100% {
        background-position: 468px 0;
    }
}

.animated-background {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: #eeeeee;
    background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eeeeee), color-stop(18%, #dddddd), color-stop(33%, #eeeeee));
    background: -webkit-linear-gradient(left, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    -webkit-background-size: 800px 104px;
    background-size: 800px 104px;
    max-height: 96px;
    position: relative;
}

.priceload {
    width: 83px;
    height: 23px;
    float: right;
    overflow: hidden;
    position: relative;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.resultprice_load {
    width: 100%;
    height: 17px;
    float: left;
}

.resultImg_load {
    width: 100%;
    height: 47px;
    float: left;
    margin-bottom: 3px;
}

.resultstar_load {
    width: 100%;
    height: 25px;
    float: left;
    margin-bottom: 3px;
}

.code_load {
    width: 100%;
    height: 16px;
    float: left;
    margin-bottom: 5px;
}

.loadresult {
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 13px;
}

.resultprogress_load {
    width: 100%;
    height: 8px;
    float: left;
}

.result-price-slider {
    display: none;
}

.filter-Progress {
    width: 100%;
    background-color: #ddd;
    margin-top: 1px;
    margin-bottom: 0px;
    float: left;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    font-size: 14px;
    /* margin-bottom: 5px; */
}
.filter-Progress label {
    font-weight: 400;
    }

.filter-Bar {
    width: 1%;
    height: 8px;
    background-color: var(--primary-color);
    border-radius: 1px;
    background-image: -webkit-gradient(linear,0 0,100% 100%,color-stop(0.25,rgba(255,255,255,0.2)),color-stop(0.25,transparent),color-stop(0.5,transparent),color-stop(0.5,rgba(255,255,255,0.2)),color-stop(0.75,rgba(255,255,255,0.2)),color-stop(0.75,transparent),to(transparent));
    background-image: -moz-linear-gradient(-45deg,rgba(255,255,255,0.2) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0.2) 75%,transparent 75%,transparent);
    z-index: 1;
    -webkit-background-size: 30px 30px;
    -moz-background-size: 30px 30px;
    background-size: 30px 30px;
    -webkit-animation: move 1s linear infinite;
    -moz-animation: move 1s linear infinite;
    animation: move 1s linear infinite;
    -webkit-transition: width 2s;
    transition: width 2s;
}
@-webkit-keyframes move {
    0 {
        background-position: 0 0;
    }

    100% {
        background-position: -30px -30px;
    }
}

@-moz-keyframes move {
    0 {
        background-position: 0 0;
    }

    100% {
        background-position: -30px -30px;
    }
}

@-moz-keyframes fullWidth {
    0 {
        width: 5%;
    }

    100% {
        width: 100%;
    }
}
