﻿@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

@font-face {
    font-family: 'CenturyGothic-Regular';
    src: url('CenturyGothic_gdi.eot');
    src: url('CenturyGothic_gdi.eot?#iefix') format('embedded-opentype'), url('CenturyGothic_gdi.woff') format('woff'), url('CenturyGothic_gdi.ttf') format('truetype'), url('CenturyGothic_gdi.otf') format('opentype'), url('CenturyGothic_gdi.svg#CenturyGothic-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-F003;
}

img, object, embed, video {
    max-width: 100%;
}

img, object, embed, video {
    max-width: 100%;
}

.ie6 img {
    width: 100%;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, input, textarea, select, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    outline: none;
}

a {
    text-decoration: none;
    outline: none !important;
}

button:focus {
    outline: none;
}

::-moz-selection {
    background-color: #dfdae6;
    color: #FFF;
}

::selection {
    background-color: #dfdae6;
    color: #FFF;
}

body {
    margin: 0px;
    padding: 0px;
    background: #f2f2f2;
}

.main_wrapper {
    width: 100%;
    float: left;
    position: relative;
}

.to_section {
    width: 100%;
    float: left;
    background: #3890c1;
    padding: 5px 0px;
}

.timearea {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #FFF;
    padding-left: 46px;
    font-weight: 400;
}

    .timearea:before {
        content: "";
        position: absolute;
        width: 19px;
        height: 19px;
        left: 20px;
        top: 0px;
        background: url(../images/clock.png) no-repeat;
    }

.signup {
    float: right;
    margin-left: 10px;
}

    .signup a {
        display: block;
        font-family: 'Roboto', sans-serif;
        line-height: 16px;
        text-transform: uppercase;
        font-weight: 400;
        color: #555555;
        background: #fff;
        border: 1px solid #d1d1d1;
        padding: 7px 15px;
        font-size: 13px;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }

        .signup a i {
            font-size: 15px;
            padding: 2px 6px 0 0;
        }

        .signup a:hover {
            background: #1f8fce;
            color: #fff;
            text-decoration: none;
            border: 1px solid #1f8fce;
        }

.slash {
    float: right;
    color: #FFFF;
}

.retrive_bookmain {
    float: right;
    position: relative;
}

.retrive_book {
    position: relative;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    line-height: 16px;
    text-transform: uppercase;
    font-weight: 400;
    color: #555555;
    background: #fff;
    border: 1px solid #d1d1d1;
    padding: 9px 15px;
    font-size: 13px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

    .retrive_book:hover {
        background: #1f8fce;
        color: #fff;
        border: 1px solid #000;
    }
/*.retrive_book::after{content: "\f107"; font-family: FontAwesome; font-size: 14px; color: #fff; position: absolute; right: -9px; top: 1px;}*/
ul.retrive_list {
    width: 182px;
    position: absolute;
    right: 0;
    top: 46px;
    background: #FFF;
    border-radius: 3px;
    padding: 0px;
    box-shadow: 2px 3px 5px #0000001c;
    border: 1px solid #e6e6e6;
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: none;
    z-index: 99;
}

    ul.retrive_list::after {
        content: "\f0d8";
        position: absolute;
        right: 38px;
        top: -20px;
        font-family: FontAwesome;
        font-size: 22px;
        color: #e6e6e6;
    }

    ul.retrive_list li {
        width: 100%;
        float: left;
        border-bottom: 1px solid #efefef;
    }

        ul.retrive_list li:last-child {
            border-bottom: none;
        }

        ul.retrive_list li a {
            font-family: 'Roboto', sans-serif;
            font-size: 13px;
            color: #717171;
            display: block;
            padding: 10px 11px;
            -webkit-transition: 0.3s ease-in-out;
            -moz-transition: 0.3s ease-in-out;
            -ms-transition: 0.3s ease-in-out;
            -o-transition: 0.5s ease-in-out;
            transition: 0.3s ease-in-out;
        }

            ul.retrive_list li a:hover {
                background: #f7f7f7;
            }

.headsection {
    width: 100%;
    float: left;
    background: #FFF;
}

.logo2 {
    display: none !important;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: none;
}

.navbar-inverse {
    background: none !important;
    border: none !important;
}

.navbar-brand {
    padding: 13px 15px;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    background: none;
    color: #1f8fce;
    font-weight: 700;
    border-bottom: 3px solid var(--tertiary-color);
}

.nav > li > a {
    padding: 0px;
}

.nav > li {
    padding: 0px 15px;
    height: 69px;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    color: #1f8fce;
    background: none;
    font-weight: 700;
    border-bottom: 3px solid var(--tertiary-color);
}

.navbar-inverse .navbar-nav > li > a {
    color: #202650;
    font-family: 'Roboto', sans-serif;
    color: #000;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.3s ease-in-out;
}

.last_sec {
    padding-right: 0px !important;
}

.navbar-inverse .navbar-toggle {
    border: none;
    background: url(../images/menu_bg.png) no-repeat 0px 0px;
    padding: 0px;
    width: 30px;
    height: 18px;
    border-radius: 0px;
    margin-top: 22px;
}

    .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
        background: url(../images/menu_bg.png) no-repeat 0px 0px;
        padding: 0px;
        width: 30px;
        height: 18px;
        border-radius: 0px;
        cursor: pointer;
    }

.navbar {
    margin-bottom: 0px;
}

.newHmbanner {
    width: 100%;
    float: left;
}

.newSearch {
    width: 100%;
    float: left;
    position: relative;
    margin-top: -193px;
}

.newSearch01 {
    width: 100%;
    float: left;
    background: url(../images/blackbg.png) repeat;
    padding: 12px;
    border-radius: 3px;
}

.flight_type {
    width: 100%;
    float: left;
}

.btnsec01 {
    float: left;
    margin-right: 13px;
}

    .btnsec01 input[type="radio"] {
        position: absolute;
        width: 19px;
        height: 18px;
        overflow: hidden;
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        opacity: 0;
        cursor: pointer;
    }

        .btnsec01 input[type="radio"] + label:before {
            display: inline-block;
            width: 19px;
            height: 18px;
            margin-right: 4px;
            background: url(../images/radio-checkbox.png) no-repeat;
            content: " ";
            vertical-align: top;
            cursor: pointer;
            margin-top: -1px;
        }

        .btnsec01 input[type="radio"]:checked + label:before {
            background-position: 0 -18px;
        }

        .btnsec01 input[type="radio"] + label:before {
            background-position: 0 0;
        }

    .btnsec01 label {
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
        color: #FFF;
        font-weight: normal;
        text-transform: uppercase;
    }

.formfield_area {
    width: 100%;
    float: left;
    padding-top: 26px;
}

.padding2 {
    padding-left: 2px;
    padding-right: 2px;
}

/*form animation*/
.input {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 0px;
    width: 100%;
}

.input__field {
    position: relative;
    display: block;
    float: right;
    padding: 0.8em;
    width: 60%;
    border: none;
    border-radius: 0;
    background: #f0f0f0;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    -webkit-appearance: none; /* for box shadows to show on iOS */
}

    .input__field:focus {
        outline: none;
    }

.input__label {
    display: inline-block;
    float: right;
    padding: 0 1em;
    width: 40%;
    color: #FFF;
    font-weight: bold;
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.input__label-content {
    position: relative;
    display: block;
    padding: 6px 0px;
    width: 100%;
}

.graphic {
    position: absolute;
    top: 0;
    left: 0;
    fill: none;
}

.icon {
    color: #FFF;
    font-size: 150%;
}
/* Individual styles */
/* Akira */
.input--akira {
    margin-bottom: 0px;
}

.input__field--akira {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: block;
    padding: 0px;
    width: 100%;
    height: 100%;
    background: transparent;
    text-align: left;
}

.input__label--akira {
    padding: 0;
    width: 100%;
    color: #FFF;
    cursor: text;
    border-bottom: 1px solid #dcdcdc;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 0px;
}

    .input__label--akira::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transform: scale3d(0.97, 0.85, 1);
        transform: scale3d(0.97, 0.85, 1);
        -webkit-transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
    }

.input__label-content--akira {
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.input__field--akira:focus + .input__label--akira::before, .input--filled .input__label--akira::before {
    -webkit-transform: scale3d(0.99, 0.95, 1);
    transform: scale3d(0.99, 0.95, 1);
}

.input__field--akira:focus + .input__label--akira, .input--filled .input__label--akira {
    cursor: default;
    pointer-events: none;
    height: 31px;
}

    .input__field--akira:focus + .input__label--akira .input__label-content--akira, .input--filled .input__label-content--akira {
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
        font-size: 9px;
    }
/*form animation close*/

.passenger_sec01 {
    width: 100%;
    float: left;
}

.passenger_sec {
    width: 100%;
    float: left;
    height: 31px;
    border-bottom: 1px solid #FFF;
    position: relative;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #FFF;
    line-height: 31px;
    cursor: pointer;
}

    .passenger_sec::after {
        content: "\f078";
        font-family: FontAwesome;
        font-size: 14px;
        color: #FFF;
        position: absolute;
        top: 0px;
        right: 0px;
    }

.pass_detailsview {
    width: 100%;
    float: left;
    padding: 10px;
    background: #FFF;
    border-radius: 3px;
    position: absolute;
    top: 38px;
    left: 0px;
    box-shadow: 2px 3px 5px #00000026;
    display: none;
    z-index: 99;
}

    .pass_detailsview::before {
        content: "\f0d8";
        font-family: FontAwesome;
        font-size: 21px;
        color: #ffffff;
        position: absolute;
        top: -18px;
        left: 24px;
    }

.dwnsection_view {
    width: 100%;
    float: left;
    margin-bottom: 6px;
    position: relative;
}

    .dwnsection_view label {
        width: 100%;
        float: left;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        margin-bottom: 1px;
        color: #306e9e;
        font-weight: normal;
    }

.dwn_box {
    width: 100%;
    float: left;
    border: 1px solid #CCC;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin-bottom: 2px;
    color: #999;
    font-weight: normal;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 8px 7px;
    line-height: 16px;
    height: 33px;
}

.dwnsection_view::after {
    content: "\f078";
    font-family: FontAwesome;
    font-size: 14px;
    color: #306e9e;
    position: absolute;
    top: 24px;
    right: 6px;
}

.searchfrom_btn {
    width: 100%;
    float: left;
    height: 42px;
    background: #f6d705;
    border: none;
    border-radius: 3px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #806112;
    margin-top: 4px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

    .searchfrom_btn:hover {
        background: #f68105;
        color: #FFF;
    }

.new_packagehm {
    width: 100%;
    float: left;
    padding-top: 32px;
    padding-bottom: 72px;
    background-image: url(../images/package_bg.png);
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

    .new_packagehm h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 27px;
        color: #00a4e4;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 3px;
    }

        .new_packagehm h1 span {
            color: #fcc200;
        }

    .new_packagehm p {
        font-size: 13px;
        text-align: center;
        color: #636363;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
    }

.new_hm_scrl {
    width: 100%;
    float: left;
    padding-top: 15px;
}

    .new_hm_scrl ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

.newholiday {
    width: 100%;
    float: left;
    padding: 20px;
    position: relative;
}

.newholiday_sec {
    width: 100%;
    float: left;
}

.image_view {
    width: 100%;
    float: left;
    position: relative;
    margin-bottom: 5px;
}

    .image_view img {
        border-radius: 3px;
        width: 100%;
        height: 211px;
    }

.newholiday_sec h4 {
    color: #757575;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 13px;
    margin-bottom: 3px;
}

.newholiday_sec h5 {
    color: #3d447b;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 3px;
}

.link_view {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 13px;
}

.link_view01 {
    width: 100%;
    height: 100%;
    background: url(../images/img_hvr.png) repeat;
    opacity: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.newholiday:hover .link_view01 {
    opacity: 1;
}

.newholiday:hover .link_round01 {
    margin-top: 42px;
}

.link_round {
    width: 96px;
    margin: auto;
}

.link_round01 {
    width: 96px;
    height: 96px;
    background: #f8e14d;
    border-radius: 50%;
    margin-top: 96px;
    float: left;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

    .link_round01 h6 {
        font-family: 'Roboto', sans-serif;
        font-size: 21px;
        text-align: center;
        line-height: 18px;
        padding-top: 10px;
        border-bottom: 1px solid #FFF;
        padding-bottom: 6px;
    }

        .link_round01 h6 span {
            font-size: 13px;
        }

    .link_round01 a {
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
        color: #3d447b;
        display: block;
        margin-top: 5px;
    }

.effect_left_top {
    width: 16px;
    height: 15px;
    position: absolute;
    background: url(../images/left_top.png) no-repeat;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    left: 15px;
    top: 15px;
    opacity: 0;
}

.effect_right_top {
    width: 16px;
    height: 15px;
    position: absolute;
    background: url(../images/top_right.png) no-repeat;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    right: 15px;
    top: 15px;
    opacity: 0;
}

.effect_left_bottom {
    width: 16px;
    height: 15px;
    position: absolute;
    background: url(../images/left_bottom.png) no-repeat;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    left: 15px;
    bottom: 15px;
    opacity: 0;
}

.effect_right_bottom {
    width: 16px;
    height: 15px;
    position: absolute;
    background: url(../images/right_bottom.png) no-repeat;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    right: 15px;
    bottom: 15px;
    opacity: 0;
}

.newholiday:hover .effect_left_top {
    opacity: 1;
    left: 0px;
    top: 0px;
}

.newholiday:hover .effect_right_top {
    opacity: 1;
    right: 0px;
    top: 0px;
}

.newholiday:hover .effect_left_bottom {
    opacity: 1;
    left: 0px;
    bottom: 0px;
}

.newholiday:hover .effect_right_bottom {
    opacity: 1;
    right: 0px;
    bottom: 0px;
}

.go_explore {
    width: 100%;
    float: left;
    background-image: url(../images/explore.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 38px 0px;
}

    .go_explore h4 {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 13px;
        text-transform: uppercase;
        color: #FFF;
        font-style: italic;
        margin-top: 35px;
    }

    .go_explore h5 {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 38px;
        text-transform: uppercase;
        color: #f6d705;
    }

    .go_explore p {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 13px;
        color: #FFF;
    }

.big_img {
    width: 227px;
    height: 227px;
    border-radius: 50%;
    background: #FFF;
    padding: 12px;
    float: right;
    margin-top: 25px;
}

    .big_img img {
        border-radius: 50%;
    }

.small_img {
    width: 169px;
    height: 169px;
    border-radius: 50%;
    background: #FFF;
    padding: 9px;
    float: right;
    position: absolute;
    right: 174px;
}

    .small_img img {
        border-radius: 50%;
    }

.go_explore a {
    width: 144px;
    height: 38px;
    float: left;
    background: #f6d705;
    border-radius: 3px;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000;
    font-style: italic;
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
    line-height: 38px;
    margin-top: 10px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

    .go_explore a:hover {
        background: #ef9305;
        color: #FFF;
    }

.getfree_app {
    width: 100%;
    float: left;
    background: #f6d805;
    padding: 30px 0px;
}

.app_discription {
    width: 100%;
    float: left;
    position: relative;
    padding-left: 127px;
}

    .app_discription::before {
        content: "";
        position: absolute;
        left: 0px;
        right: 0px;
        width: 113px;
        height: 131px;
        background: url(../images/app.png) no-repeat;
    }

    .app_discription h4 {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 29px;
        text-transform: uppercase;
        color: #655a07;
        letter-spacing: -2px;
        margin-bottom: 7px;
    }

        .app_discription h4 span {
            color: #4090c1;
        }

    .app_discription p {
        position: relative;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 13px;
        color: #655a06;
        margin-bottom: 7px;
        padding-left: 20px;
    }

        .app_discription p::before {
            content: "\f00c";
            font-family: FontAwesome;
            font-size: 16px;
            color: #655a06;
            position: absolute;
            left: 0px;
            top: 0px;
        }

.applink {
    width: 100%;
    float: left;
}

    .applink h5 {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 21px;
        f6bf35;
        color: #655a06;
        margin-bottom: 10px;
    }

.helpline {
    width: 100%;
    float: left;
    padding: 13px 0px;
    background: #FFF;
}

.help_sec {
    width: 100%;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    color: #4090c1;
    font-weight: bold;
    line-height: 49px;
}

    .help_sec span {
        font-weight: normal;
    }

    .help_sec img {
        float: left;
        margin-right: 15px;
    }

.mediasec {
    text-align: right;
}

    .mediasec a {
        margin-top: 7px;
        float: right;
        margin-left: 4px;
    }

.copyright_bttm {
    width: 100%;
    background: #00162c;
    display: block;
    padding: 15px 0;
}

.white_logo {
    float: left;
    position: relative;
    margin-right: 34px;
}

    .white_logo::after {
        content: "";
        position: absolute;
        height: 50px;
        border-right: 1px solid #a0d6f7;
        right: -16px;
        top: 16px;
    }

.copyright_bttm p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 12px;
    f6bf35;
    color: #FFF;
}

.f_sp {
    padding-top: 15px;
}


/*--breadcrumb--*/
.breadcrumb-steps {
    width: 100%;
    float: left;
    background: #e4e4e4;
    padding: 30px 0px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.52);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.52);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.52);
}

.breadcrumb_sec {
    position: relative;
}

    .breadcrumb_sec span {
        width: 20%;
        background: #c3c3c3;
        float: left;
        margin-right: 5px;
        font-family: 'Roboto', sans-serif;
        font-size: 23px;
        color: #555555;
        font-weight: 700;
        text-align: center;
        line-height: 25px;
        border-radius: 0px;
        padding: 13px 0px;
        height: auto;
        box-shadow: none;
    }

    .breadcrumb_sec h5 {
        font-family: 'Roboto', sans-serif;
        color: #555555;
        font-size: 20px;
        line-height: 51px;
    }

.active05 span {
    background: #4090c1;
    color: #FFF;
}

.active05 h5 {
    color: #4090c1;
}
/*--breadcrumb close--*/

.breadcrumbs1_wrapper {
    background: rgba(0,0,0,0.8);
    position: relative;
    z-index: 1;
    width: 100%;
    float: left;
}

.breadcrumbs1 {
    padding: 15px 0;
    margin-top: 0px;
    line-height: 20px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

    .breadcrumbs1 a {
        color: var(--tertiary-color);
        text-decoration: none;
    }

    .breadcrumbs1 i {
        display: inline-block;
        margin: -3px 12px 0;
        vertical-align: middle;
        font-size: 17px;
    }

/*footer*/
.newsletter {
    background: #1a2e42;
    display: inline-block;
    padding: 25px 15px;
    width: 100%;
}

footer .news-icon {
    float: left;
    font-size: 60px;
    color: #485868;
    padding-top: 0px;
    padding-right: 12px;
}

footer .newsletter h2 {
    width: 100%;
    color: #1f8fce;
    font-size: 28px;
    font-weight: 700;
    padding: 5px 0 0;
    border: none;
    text-transform: uppercase;
    display: block;
}

footer .newsletter p {
    width: 100%;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    display: block;
    padding: 0;
    line-height: normal;
}

footer .newsletter form .input {
    background-color: #fff;
    border: none;
    width: 76%;
    padding: 15px 10px;
    color: #8d8d8d;
    font-size: 13px;
    font-weight: 300;
    float: left;
}

footer .newsletter form .btn-blue {
    width: 128px !important;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    background: #1f8fce;
    width: 100%;
    padding: 14px 9px;
    font-size: 15px;
    vertical-align: middle;
    position: relative;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    border: none;
}

    footer .newsletter form .btn-blue::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: var(--tertiary-color);
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 50%;
        transform-origin: 50%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }

footer .logo {
    width: auto;
    display: block;
    margin: 13px 0;
}

footer .text {
    width: 100%;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    display: block;
    padding: 0;
    padding-bottom: 5px;
}

footer .ftr-btm {
    padding: 15px 0 0;
    font-size: 12px;
    font-weight: 400;
    color: #1f8fce;
    border-top: 1px solid #1a2e42;
    text-align: center;
}

.scrollToTop {
    height: 50px;
    width: 50px;
    padding-top: 2px;
    font-size: 24px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    position: fixed;
    bottom: 40px;
    right: 15px;
    z-index: 999999;
    display: none;
    border-radius: 0;
    background-color: #1f8fce;
    border: none;
}

    .scrollToTop i {
        margin-top: 11px;
    }

    .scrollToTop:hover, .scrollToTop:focus {
        background: var(--tertiary-color);
    }

.traveller_review a {
    background: var(--tertiary-color);
}

.pro_sec {
    width: auto;
    float: right;
    margin-top: 17px;
}
/*footer close*/


/*popup*/
.modal-content {
    float: left;
    width: 100%;
    max-width: 100%;
    border-radius: 0px;
    padding-bottom: 13px;
}

.modal-body h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #676767 !important;
    font-weight: 600;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 2px;
    padding-top: 0;
    margin-top: 9px;
}

.modal-body p {
    color: #2b2b2b !important;
}
/*popup close*/
.navbar-inverse .navbar-nav > li > a i {
    margin-right: 5px;
}

.navbar-brand {
    height: auto;
}

/*loginpopup*/
/*===popup-css====*/
#lean_overlay {
    position: fixed;
    z-index: 999999;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #000;
    display: none;
}

.popupContainer {
    position: absolute;
    width: 330px;
    height: auto;
    left: 45%;
    top: 20% !important;
    background: #1f8fce;
    text-align: left;
}

#modal_trigger {
    display: block;
}
/* Popup Styles*/
.popupHeader {
    font-size: 16px;
    text-transform: uppercase;
}

.popupHeader {
    background: var(--tertiary-color);
    position: relative;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 0 50px 50px 0;
    margin-top: 10px;
    width: 280px;
    min-height: 10px;
    border-bottom: none;
    box-shadow: none;
}

    .popupHeader .modal_close {
        position: absolute;
        right: -50px;
        top: 0;
        padding: 10px 15px;
        cursor: pointer;
        color: #fff;
        font-size: 16px;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }

        .popupHeader .modal_close:hover {
            color: #000;
        }

.popupBody {
    padding: 20px;
    width: 100%;
    float: left;
}
/* User Login Form */
.user_login01 {
    width: 100%;
    float: left;
}

    .user_login01 label {
        display: block;
        margin-bottom: 5px;
        padding-left: 0;
        font-size: 13px;
        text-transform: uppercase;
        color: #70ecfe;
    }

    .user_login01 input[type="text"], .user_login01 input[type="email"], .user_login01 input[type="password"] {
        display: block;
        width: 100%;
        padding: 8px 10px;
        border: none;
        color: #666;
        -webkit-box-shadow: 0 5px 3px rgba(0,0,0,0.2);
        -moz-box-shadow: 0 5px 3px rgba(0,0,0,0.2);
        -o-box-shadow: 0 5px 3px rgba(0,0,0,0.2);
        box-shadow: 0 5px 3px rgba(0,0,0,0.2);
        margin-bottom: 18px;
    }

    .user_login01 input[type="checkbox"] {
        float: left;
        margin-right: 5px;
        position: relative;
        margin-left: 0;
    }

        .user_login01 input[type="checkbox"] + label {
            float: left;
        }

    .user_login01 .checkbox {
        margin-bottom: 10px;
        clear: both;
        overflow: hidden;
    }

    .user_login01 .btn {
        width: 100%;
        background: var(--tertiary-color);
        color: #3a3838;
        font-size: 18px;
        font-weight: 500;
        margin: 5px 0 0;
        padding: 12px 0;
        border: none;
        border-radius: 0;
        text-transform: uppercase;
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        position: relative;
        -webkit-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-box-shadow: 0 5px 3px rgba(0,0,0,0.2);
        -moz-box-shadow: 0 5px 3px rgba(0,0,0,0.2);
        -o-box-shadow: 0 5px 3px rgba(0,0,0,0.2);
        box-shadow: 0 5px 3px rgba(0,0,0,0.2);
        text-shadow: 0 2px 1px rgba(0,0,0,0.3);
    }

        .user_login01 .btn::before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: #ebaf00;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transform-origin: 50%;
            transform-origin: 50%;
            -webkit-transition-property: transform;
            transition-property: transform;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
        }

        .user_login01 .btn:hover::before {
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
        }

        .user_login01 .btn:hover {
            color: #000;
        }

    .user_login01 .for-pass {
        color: #fff !important;
        text-align: center;
        display: block;
        margin-top: 15px;
        font-size: 12px;
        text-transform: uppercase;
    }

        .user_login01 .for-pass:hover {
            color: #007edf;
        }

.sp_width {
    width: 505px;
}

.right_padding_3 {
    padding-right: 3px;
}

.selectpopup {
    width: 100%;
    height: 36px;
    float: left;
    background: #FFF url(../../COMMON/images/arrwsmall.png) no-repeat right;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #4c4c4c;
    font-weight: 400;
    padding: 0px 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    -webkit-box-shadow: 0 5px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 5px 3px rgba(0,0,0,0.2);
    -o-box-shadow: 0 5px 3px rgba(0,0,0,0.2);
    box-shadow: 0 5px 3px rgba(0,0,0,0.2);
    margin-bottom: 18px;
}

.spclose9 {
    right: -223px !important;
}
/*loginpoup close*/













@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }

    .navbar-left, .navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }

        .navbar-nav > li {
            float: none;
        }

            .navbar-nav > li > a {
                padding-top: 10px;
                padding-bottom: 10px;
            }

    .collapse.in {
        display: block !important;
    }

    .pro_sec {
        margin-top: 7px;
    }

    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        border-color: #f1f1f1;
        margin-top: 13px;
    }

    .navbar-nav > li {
        float: left;
        width: 100%;
        height: auto;
    }

        .navbar-nav > li > a {
            line-height: 24px !important;
            padding: 7px 0px;
        }

    .signup {
        margin-bottom: 8px;
    }

    .right_padding_3 {
        padding-right: 15px;
    }

    .popupContainer {
        position: absolute !important;
        margin-top: 100px !important;
    }

    .tab_left {
        width: 100%;
        margin-bottom: 15px;
    }

    .tab_right {
        width: 100%;
    }

    .list-group a {
        padding: 15px 0px;
    }
}

@media (max-width: 430px) {
    .pro_sec {
        width: 100%;
        margin-bottom: 15px;
    }

    .signup {
        width: 100%;
    }

    .retrive_bookmain {
        width: 100%;
    }
}

@media only screen and (min-width: 230px) and (max-width: 990px) {
    .searchfrom_btn {
        margin-top: 13px;
    }

    .newHmbanner {
        display: none;
    }

    .newSearch {
        background-image: url(../images/banner01.png);
        padding: 20px 0px;
        margin-top: 0px;
        position: relative;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .tab_none {
        display: none;
    }

    .go_explore h4 {
        margin-top: 0px;
    }

    .go_explore {
        text-align: center;
    }

        .go_explore a {
            margin: auto;
            float: initial;
            padding: 6px 14px;
            line-height: 25px;
            margin-top: 15px;
        }

    .app_discription {
        padding-left: 0px;
    }

        .app_discription::before {
            display: none;
        }
}

@media only screen and (min-width: 230px) and (max-width: 768px) {
    .headsection {
        padding: 5px 0px 0px 0px;
    }

    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        border-color: #f5f5f5 !important;
        margin-top: 20px;
    }

    .navbar-nav > li > a {
        padding-top: 7px;
        padding-bottom: 7px;
    }

    .nav > li {
        border-bottom: 1px solid #f5f5f5;
    }

    .input__label--akira {
        margin-bottom: 8px;
    }

    .input__field--akira:focus + .input__label--akira .input__label-content--akira, .input--filled .input__label-content--akira {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
        font-size: 9px;
    }

    .help_sec {
        text-align: center;
        line-height: 35px;
    }

        .help_sec img {
            float: initial;
            width: 26px;
        }

    .mediasec {
        text-align: center;
        font-size: 17px;
    }

        .mediasec a {
            float: initial;
        }
}

@media (min-width: 768px) {
    .navbar-nav {
        float: right;
    }

    .navbar-collapse {
        padding-right: 0px;
        padding-left: 0px;
    }
}

@media (max-width: 590px) {
    .sp_width {
        width: 320px;
    }

    .spclose9 {
        right: -41px !important;
    }

    footer .newsletter form .input {
        width: 100%;
    }

    footer .newsletter form .btn-blue {
        width: 100% !important;
    }
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        display: block;
        line-height: 70px;
    }
}

@media only screen and (min-width: 230px) and (max-width: 420px) {
    .retrive_book {
        margin-right: 0;
        width: 100%;
    }

        .retrive_book a {
            float: right;
        }

    .white_logo {
        width: 100%;
        text-align: center;
        margin-right: 0px;
        margin-bottom: 5px;
    }

        .white_logo::after {
            display: none;
        }

    .f_sp {
        padding-top: 0px;
    }

    .copyright_bttm p {
        text-align: center;
    }
}
