﻿.page_loader {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #FFF;
    z-index: 9999;
}

    .page_loader img {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -100px 0px 0px -100px;
        width: 223px;
        opacity: 0.6;
    }
