﻿@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
.epower_form {
    width: 100%;
    float: left;
    border-radius: 3px;
    position: relative;
    z-index: 9;
}

.oneway_btn {
    float: right;
    padding: 7px 0px;
}

.bt {
    float: left;
    margin-right: 13px;
}

.bt input[type="radio"] {
    position: absolute;
    width: 19px;
    height: 18px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    opacity: 0;
    cursor: pointer;
}

.bt input[type="radio"]+label:before {
    display: inline-block;
    width: 19px;
    height: 18px;
    margin-right: 4px;
    background: url(/assets/images/radio-checkbox.png) no-repeat;
    content: " ";
    vertical-align: top;
    cursor: pointer;
    margin-top: -1px;
}

.bt input[type="radio"]:checked+label:before {
    background-position: 0 -18px;
}

.bt input[type="radio"]+label:before {
    background-position: 0 0;
}

.bt label {
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    color: #fff;
    font-weight: normal;
    text-transform: uppercase;
}

.from_area {
    width: 100%;
    float: left;
    position: relative;
}

.from_area label {
    font-weight: 500;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
}

.to_area label {
    font-weight: 500;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
}

.calendar_area label {
    font-weight: 500;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
}

.from_area_txt {
    width: 100%;
    height: 42px;
    float: left;
    border: none;
    padding-left: 11px;
    padding-right: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    color: #5a5d61;
    font-weight: 500;
    border: none;
    background: #fff;
}

.from_area01 {
    width: 20%;
    float: left;
    background: url(../images/right_bg.jpg) repeat-y right;
    position: relative;
}

.to_area {
    width: 100%;
    float: left;
    position: relative;
}

.to_area_txt {
    width: 100%;
    height: 42px;
    float: left;
    border: none;
    padding-left: 11px;
    padding-right: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    color: #5a5d61;
    border: none;
    background: #fff;
}

.to_area01 {
    width: 20%;
    float: left;
    position: relative;
}

.calendar_area {
    width: 100%;
    float: left;
    position: relative;
}

.depart_Date {
    width: 100%;
    height: 42px;
    float: left;
    border: none;
    padding-left: 11px;
    padding-right: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    color: #5a5d61;
    border: none;
    background: #fff;
}

.calendar_area:after {
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    background: url(/assets/images/sprint.png) no-repeat -36px -4px;
    top: 28px;
    right: 8px;
    z-index: 99;
}

.al_cp {
    float: left;
    text-align: left;
    padding-top: 6px;
}

.ar_cp {
    float: right;
    text-align: right;
}

.class_type_sec {
    width: 100%;
    float: left;
    position: relative;
}

.class_type_sec label {
    font-weight: 500;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
}

.multi_select label {
    font-weight: 500 !important;
    color: #fff !important;
    font-family: "Open Sans", sans-serif !important;
    font-size: 13px !important;
    margin-top: 0px !important;
    min-width: 100% !important;
    padding-right: 0px !important;
    float: none !important;
}

.mrg_btm10 {
    margin-bottom: 15px !important;
}

.class_type {
    width: 100%;
    height: 42px;
    float: left;
    position: relative;
    cursor: pointer;
    border: none;
    background: #fff;
}

.class_type:after {
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    background: url(/assets/images/sprint.png) no-repeat -66px -6px;
    top: 11px;
    right: 10px;
    z-index: 99;
}

.class_type p {
    padding-right: 32px;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    color: #5a5d61;
    padding-left: 7px;
    padding-top: 13px;
    font-weight: 500;
}

.class_view {
    width: 100%;
    position: absolute;
    background: #fff;
    top: 71px;
    border-radius: 3px;
    display: none;
    padding: 10px;
    -webkit-box-shadow: 1px 4px 5px #00000036;
    box-shadow: 1px 4px 5px #00000036;
    z-index: 999;
}

.class_view:after {
    content: "";
    position: absolute;
    width: 12px;
    height: 6px;
    background: url(/assets/images/sprint.png) no-repeat -123px -12px;
    right: 25px;
    top: -6px;
}

.passenger_area {
    width: 100%;
    float: left;
    margin-bottom: 6px;
    border-bottom: 1px dashed #0003;
    padding-bottom: 4px;
}

.passenger_area p {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    color: #646060;
    float: left;
    padding: 0;
}

.pass_click {
    width: auto;
    float: right;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    color: #646060;
}

.pass_click a {
    float: left;
}

.pass_click a i {
    font-size: 17px;
    color: #c3a747;
    cursor: pointer;
}

.pass_click span {
    width: 21px;
    float: left;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    color: #000;
    text-align: center;
}

.classtype_area {
    width: 100%;
    float: left;
    padding-top: 5px;
}

.classsec_area {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

.classsec_area label {
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-size: 13px !important;
    color: #646060;
    font-weight: normal;
    /*text-transform: uppercase;*/
}

.classsec_area input[type="radio"] {
    position: absolute;
    width: 19px;
    height: 18px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    opacity: 0;
    cursor: pointer;
    display: block;
}

.classsec_area input[type="radio"]+label:before {
    display: inline-block;
    width: 19px;
    height: 18px;
    margin-right: 4px;
    background: url(../images/radio-checkbox2.png) no-repeat;
    content: " ";
    vertical-align: top;
    /*cursor: pointer;*/
    margin-top: -1px;
}

.classsec_area input[type="radio"]:checked+label:before {
    background-position: 0 -18px;
}

.classsec_area input[type="radio"]+label:before {
    background-position: 0 0;
}

.srch_btn {
    width: 13%;
    float: right;
    position: relative;
}

.search_btn01 {
    width: 100%;
    height: 50px;
    float: left;
    background: var(--secondary-color);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #fff;
    font-weight: normal;
    text-align: center;
    line-height: 50px;
    border: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.search_btn01:hover {
    background: var(--secondary-light-color);
}

.advance_option {
    width: 100%;
    float: left;
}

.advance_txt {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #fff;
    padding: 10px 0px;
    cursor: pointer;
    float: left;
}

.advance_txt i {
    margin-left: 6px;
    color: #ffffff;
}

.advance_view {
    width: 100%;
    float: left;
    display: none;
}


/*textbox animation*/

.txt_animation {
    position: relative;
}

.form-txt {
    font-weight: 500;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
}

.from_area_txt5 {
    position: relative;
    width: 100%;
    outline: 0;
    transition: box-shadow 150ms ease-out;
    /*background: none;*/
    font-weight: 500;
    z-index: 99;
}


/*chart section*/

.chart_section {
    width: 100%;
    float: left;
    background: #fff;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.12);
    border: 1px solid #eaeaea;
}

.chart_section h3 {
    color: #074774;
    padding: 17px 19px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    border-bottom: 1px dashed #e2e2e2;
}


/*multi selector*/

span.multiselect-native-select {
    position: relative;
}

span.multiselect-native-select select {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px -1px -1px -3px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    left: 50%;
    top: 30px;
}

.multiselect-container {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.multiselect-container .input-group {
    margin: 5px;
}

.multiselect-container>li {
    padding: 0;
}

.multiselect-container>li>a.multiselect-all label {
    font-weight: 700;
}

.multiselect-container>li.multiselect-group label {
    margin: 0;
    padding: 3px 20px 3px 20px;
    height: 100%;
    font-weight: 700;
}

.multiselect-container>li.multiselect-group-clickable label {
    cursor: pointer;
}

.multiselect-container>li>a {
    padding: 0;
}

.multiselect-container>li>a>label {
    margin: 0;
    height: 100%;
    cursor: pointer;
    font-weight: 400;
    padding: 3px 0 3px 30px;
}

.multiselect-container>li>a>label.radio,
.multiselect-container>li>a>label.checkbox {
    margin: 0;
}

.multiselect-container>li>a>label>input[type="checkbox"] {
    margin-bottom: 5px;
}

.btn-group>.btn-group:nth-child(2)>.multiselect.btn {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.form-inline .multiselect-container label.checkbox,
.form-inline .multiselect-container label.radio {
    padding: 3px 20px 3px 40px;
}

.form-inline .multiselect-container li a label.checkbox input[type="checkbox"],
.form-inline .multiselect-container li a label.radio input[type="radio"] {
    margin-left: -20px;
    margin-right: 0;
}

.multi_select button {
    width: 100%;
    height: 36px;
    background: #fff;
    border-radius: 0px;
    border: none;
    text-align: left;
    font-size: 13px;
    font-weight: 500;
    line-height: 26px;
    color: #5a5d61 !important;
}

.multi_select button .caret {
    float: right;
    margin-top: 2px;
    background: url(/assets/images/sprint.png) no-repeat -66px -6px;
    border: none;
    width: 18px;
    height: 23px;
    margin-right: -3px;
}

.multi_select button:hover {
    background: #fff;
}

.select_dwn {
    width: 100%;
    height: 36px;
    background: #fff url(../../assets/images/dropdown.png) no-repeat right;
    border-radius: 0px;
    border: none;
    text-align: left;
    font-size: 13px;
    font-weight: 500;
    line-height: 26px;
    color: #5a5d61 !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    border-bottom: 1px solid #fff;
    padding-left: 8px;
}

.select_dwn option {
    color: #000;
    padding: 5px;
}

.multi_select button {
    border-bottom: 1px solid #fff;
    background: none;
    color: #fff !important;
    padding-left: 2px;
}

.multi_select button:hover,
.multi_select button:focus,
.open>.dropdown-toggle.btn-default {
    background: none;
    border-bottom: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0) !important;
}

.ui-front {
    z-index: 99999999 !important;
}

.ui-menu li {
    font-size: 13px !important;
    border: none !important;
    border-bottom: 1px dashed #e2e2e2;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.ui-menu .ui-menu-item-wrapper {
    position: relative;
    padding: 7px 1em 7px 0.4em !important;
    font-family: "Open Sans", sans-serif;
}

.ui-menu-item>.ui-state-active {
    background: var(--primary-color) !important;
    color: #fff !important;
    border-left: none !important;
    border-top: none !important;
    border-right: none !important;
    padding: 7px 1em 7px 0.4em !important;
}

.ui-menu-item div {
    border: none !important;
    border-bottom: 1px dashed var(--primary-color);
}

.ui-menu-item-wrapper {
    transition: all linear 0.15s;
    border: none !important;
}

.ui-menu-item-wrapper:hover {
    background: var(--primary-color) !important;
    color: #fff;
}

.full_sec {
    width: 100%;
    float: left;
}

.multiCity_area {
    width: 100%;
    float: left;
}

.city_section {
    width: 100%;
    float: left;
}

.city_section h5 {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #fff;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: 600;
}

.close_sec {
    float: left;
    padding: 29px 44px 3px 14px;
}

.close_sec i {
    padding: 3px;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
    transition: all linear 0.15s;
}

.close_sec i:hover {
    color: #ed2228;
}

.addCity {
    padding: 0px 19px;
    float: right;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #fff;
    font-weight: normal;
    border: 1px solid #fff;
    transition: all linear 0.15s;
    cursor: pointer;
    height: 47px;
    line-height: 47px;
    margin-top: 14px;
}

.addCity:hover {
    background: var(--secondary-color);
}

.form-control:focus {
    border-color: rgba(102, 175, 233, 0) !important;
    box-shadow: none !important;
    border-bottom: 1px solid #fff;
}


/*Reset password*/

.reset_main {
    width: 100%;
    float: left;
}

.timer {
    width: 230px;
    margin: auto;
}

.timeout {
    width: 100%;
    float: left;
    padding: 10px;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
}

.timeout p {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
}

.reset_mid {
    width: 400px;
    margin: auto;
    padding: 50px 0px;
}

.main_reset_sec {
    width: 100%;
    float: left;
    padding: 20px;
}

.main_reset_sec h2 {
    text-align: center;
}

.txt_sec {
    width: 100%;
    height: 36px;
    float: left;
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    padding: 0px 10px;
    border: 1px solid #cecece;
}

.reset_btn {
    width: 100%;
    height: 36px;
    border: none;
    background: #9db84b;
    float: left;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    transition: all linear 0.15s;
}

.reset_btn:hover {
    background: #6e881e;
}

.loadrst {
    width: 100%;
    float: left;
    position: relative;
    display: none;
}

.load_reset {
    width: 100%;
    height: 36px;
    border: none;
    background: #9db84b;
    float: left;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 9;
    text-align: center;
    line-height: 37px;
}

.reportLoading {
    width: 100%;
    float: left;
    text-align: center;
}

#nav-icon span {
    cursor: pointer;
}

.flightauto .autocomplete-results {
    margin-top: 42px;
}
.loading-circle {
    background-color: #ffffff;
    background-image: url("/assets/images/loading.gif");
    background-size: 16px 16px;
    background-position: right center;
    background-repeat: no-repeat;
  }
  
  .hide-loading-circle {
    background: #fff;
  }

/*Responsive*/

@media only screen and (max-width: 992px) {
    .full_sec {
        width: 100%;
    }
    .from_area {
        width: 100%;
    }
    .from_area_txt5 {
        width: 100%;
    }
    .to_area {
        width: 100%;
    }
    .calendar_area {
        width: 100%;
    }
    .class_type_sec {
        width: 100%;
        margin-bottom: 5px;
    }
    .srch_btn {
        width: 100%;
        margin-top: 10px;
    }
    .search_btn01 {
        height: 50px;
        line-height: 50px;
    }
}

@media only screen and (max-width: 768px) {
    .city_section {
        padding-top: 17px;
    }
}