/*----- Global -----*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
.wrap {
    padding: 60px 0px;
    background: #4a98d3;
    background: radial-gradient(at 40% 30%, #4a98d3, #00598f);
}

.site-header-wrap {
    margin-bottom: 0px;
    border-bottom: 1px solid #53a0dc;
}


/*----- Tabs -----*/

.tabs {
    width: 100%;
    display: inline-block;
    margin-top: 15px;
}


/*----- Tab Links -----*/


/* Clearfix */

.tab-links:after {
    display: block;
    clear: both;
    content: '';
}

.tab-links {
    background: var(--primary-color);
    padding: 0px;
    border-radius: 0px;
    width: 100%;
    display: flex;
}

.tab-links li {
    margin: 0px 0px 0px 0px;
    float: left;
    list-style: none;
    width: 24.9999999%;
}

.tab-links a {
    padding: 10px 8px;
    display: block;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #FFF;
    font-weight: 400;
    transition: all linear 0.15s;
}

.tab-links a:hover {
    background: var(--primary-dark-color);
    text-decoration: none;
    color: #FFF;
}

.tab-links li.active a,
.tab-links li.active a:hover {
    background: var(--primary-dark-color);
    color: #FFF;
}


/*----- Content of Tabs -----*/

.tab-content {
    border-radius: 7px;
    margin-top: 10px;
    width: 100%;
}

.tab {
    display: none;
}

.tab.active {
    display: block;
}
@media only screen and (max-width: 680px) and (min-width: 200px) {
    .more_info_searchresultpopup .tab-links{
        display: block;
    }
    .more_info_searchresultpopup .tab-links li {
        width: 100% !important;
        border-bottom: 1px solid #FFF;
    }
}