<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Flyonline</title>
<link rel="shortcut icon" href="website-informations/favicon/favi.png">
<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css?v=202003190000">
<link href="assets/css/owl.carousel.css?v=202003190000" rel="stylesheet" type="text/css" />
<link href="/assets/plugins/font-awesome/font-awesome.min.css?v=201905200000" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap" rel="stylesheet">
<link href="assets/pluggins/alertifyJs/alertify.min.css?v=202003190000" rel="stylesheet" />
<link href="assets/pluggins/alertifyJs/default.min.css?v=202003190000" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="assets/css/style.css?v=202003240000">
<link href="assets/css/media.css?v=202003190000" rel="stylesheet" type="text/css">
<style>
  [v-cloak] {
    display: none;
  }
</style> 
</head>

<body>
  <header>
    <headeritem></headeritem>
  </header>
  <div id="homepage" v-cloak>
<section class="main_banner" style="background:url(assets/images/main-banner.jpg) no-repeat;">
  <div class="container">
        <div class="banner_text">
          <h1>Better travel <br>
management. Always. </h1>
            
            <hr>
        </div>
      
      
      <div class="login-form">
            <h1>corporate login</h1>
            <div class="login-form1">
            <form action="javascript:sendLogin()">
                <div class="row">
                    <div class="col-md-4">
                        <label>Corporate Code</label>
                        <input name="agnecy-code" id="txtAgencyCode" class="form-control" type="text" placeholder="Enter Corporate Code">
                    </div>
                    
                    <div class="col-md-4">
                        <label>User Name</label>
                        <input name="username" id="txtUname" class="form-control" type="text" placeholder="Enter User Name">
                    </div>
                    
                    <div class="col-md-4">
                        <label>Password</label>
                        <input name="password" id="txtPwd" class="form-control" type="password" placeholder="Password">
                    </div>
                    
                    <div class="col-md-12 log-btn">
                        <a class="forgot">Forgot Password?</a>
                        
                        <button class="btn">Log In</button>
                        <div id="loginLoader" class="btn_load" style="display:none;"><i
                          class="fa fa-spinner fa-spin"></i></div>
                    </div>
                    
                    
                </div>
            </form>
          </div>
          <div class="forgot_form">
            <form action="javascript:forgotPassword()">
                <div class="col-md-6">
                  <label>Agency Code</label>
                    <input type="text" class="form-control" id="txtAgency" placeholder="Agency Code">
                </div>
                <div class="col-md-6">
                  <label>Email ID</label>
                    <input type="text" class="form-control" id="txtEmail" placeholder="Email ID">
                </div>
                <div class="col-md-12 log-btn">
                    <button class="btn" id="btnForgot">SEND</button>
                    <div id="loderForgot" class="btn_load" style="display:none"><i
                            class="fa fa-spinner fa-spin"></i></div>
                </div>
                <div class="col-md-12">
                  <a class="forgot back"><i class="fa fa-arrow-left" aria-hidden="true"></i>Back ToLogin</a>
                </div>
            </form>
            
        </div>
    </div>
    
      
      
      </div>
</section>
   
<section class="package-form">
      <div class="container">
        
</div> 
    
      <!-- Holiday-Section -->
         <div class="container">
             <div class="packages-main">
                <div class="row">
                 <h2>Holidays Packages</h2>
                 <hr>
                 <div id="owl-demo-3" class="owl-carousel owl-theme">
               <div class="item" v-for="pack in packages"> 
                   <div class="package-img">
                       <img :src="pack.Package_Image" alt="package-img" style="height: 242px;">
                   </div>
                   <div class="package-deatil">
                       <h3><a href="#" @click="getmoreinfo(pack.More_details_page_link)">{{pack.Package_Name | subStr}}</a></h3>
                       <div class="day-night">
                           <h4>Validity : {{pack.Validity}}</h4>
                           <p><i class="fa fa-sun-o"></i> {{pack.No_of_Days}} Days  </p>
                           <p><i class="fa fa-moon-o"></i> {{pack.No_of_Nights}} Nights  </p>
                       </div>
                       <p class="price"><span>AED {{pack.Price}}</span>  per / person </p>
                   </div>
                   
               </div>
               <!-- <div class="item"> 
                   <div class="package-img">
                       <img src="assets/images/package-img-2.jpg" alt="package-img">
                   </div>
                   <div class="package-deatil">
                       <h3><a href="#">Maldives</a></h3>
                       <div class="day-night">
                           <h4>Validity :  March 24, 2020</h4>
                           <p><i class="fa fa-sun-o"></i> 5 Days  </p>
                           <p><i class="fa fa-moon-o"></i> 6 Nights  </p>
                       </div>
                       <p class="price"><span>AED 1599</span>  per / person </p>
                   </div>
                   
               </div>
               <div class="item"> 
                   <div class="package-img">
                       <img src="assets/images/package-img-3.jpg" alt="package-img">
                   </div>
                   <div class="package-deatil">
                       <h3><a href="#">Dubai</a></h3>
                       <div class="day-night">
                           <h4>Validity :  March 24, 2020</h4>
                           <p><i class="fa fa-sun-o"></i> 5 Days  </p>
                           <p><i class="fa fa-moon-o"></i> 6 Nights  </p>
                       </div>
                       <p class="price"><span>AED 1450</span>  per / person </p>
                   </div>
                   
               </div>
               <div class="item"> 
                   <div class="package-img">
                       <img src="assets/images/package-img-1.jpg" alt="package-img">
                   </div>
                   <div class="package-deatil">
                       <h3><a href="#">London</a></h3>
                       <div class="day-night">
                           <h4>Validity :  March 24, 2020</h4>
                           <p><i class="fa fa-sun-o"></i> 5 Days  </p>
                           <p><i class="fa fa-moon-o"></i> 6 Nights  </p>
                       </div>
                       <p class="price"><span>AED 250</span>  per / person </p>
                   </div>
                   
               </div>
               <div class="item"> 
                   <div class="package-img">
                       <img src="assets/images/package-img-2.jpg" alt="package-img">
                   </div>
                   <div class="package-deatil">
                       <h3><a href="#">Maldives</a></h3>
                       <div class="day-night">
                           <h4>Validity :  March 24, 2020</h4>
                           <p><i class="fa fa-sun-o"></i> 5 Days  </p>
                           <p><i class="fa fa-moon-o"></i> 6 Nights  </p>
                       </div>
                       <p class="price"><span>AED 1599</span>  per / person </p>
                   </div>
                   
               </div>
               <div class="item"> 
                   <div class="package-img">
                       <img src="assets/images/package-img-3.jpg" alt="package-img">
                   </div>
                   <div class="package-deatil">
                       <h3><a href="#">Dubai</a></h3>
                       <div class="day-night">
                           <h4>Validity :  March 24, 2020</h4>
                           <p><i class="fa fa-sun-o"></i> 5 Days  </p>
                           <p><i class="fa fa-moon-o"></i> 6 Nights  </p>
                       </div>
                       <p class="price"><span>AED 1450</span>  per / person </p>
                   </div>
                   
               </div> -->
            </div>
            </div>
            </div>
        </div>
      <!-- End-Holiday -->  
</section>
</div>
<footer>
  <footeritem></footeritem>
</footer>
    
<a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a> 
    
<script src="/assets/js/vue.min.js?v=202002060000"></script>
<script src="/assets/js/vue-i18n.js?v=201912240000"></script>
<script src="/assets/js/axios.min.js?v=201912240000"></script>
<script src="assets/js/jquery.min.js?v=202003190000"></script>
<script src="/assets/js/modernizr-2.7.2.js?v=202009070000"></script>
    <script src="/assets/js/underscore-min.js?v=201912240000"></script>
    <script src="assets/pluggins/moment/moment.min.js"></script>
    <script src="assets/js/jquery.cookie.js?v=202003190000"></script>
    <script src="assets/pluggins/alertifyJs/alertify.min.js?v=202003190000"></script>
    <script src="assets/js/bootstrap.min.js?v=202003190000"></script> 

<script src="website-informations/agencyInformations/AgencyInformation.js?v=1034"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202008060000"></script>
    <script src="/CommonFuntions/CommonFunctions.js?v=202008240000"></script>
    <script src="/CommonFuntions/ExtentionMethods.js?v=201905200000"></script>
    <script src="/Login/LoginComponents/js/login.js?v=202007160000"></script>



    

<script src="master/index.js?v=202003240000"></script>
<script src="assets/js/owl.carousel.min.js?v=202003190000"></script>
  <script src="master/master.js?v=202007290000"></script>
  <script src="assets/js/custom.js?v=201905200000"></script>
</body>
</html>