<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Flyonline - Package Detail </title>
<link rel="shortcut icon" href="website-informations/favicon/favi.png">
<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css?v=202003190000">
<link href="assets/css/owl.carousel.css?v=202003190000" rel="stylesheet" type="text/css" />
  <!-- <link rel="stylesheet" type="text/css" href="assets/css/select2.min.css"> -->
<link href="/assets/plugins/font-awesome/font-awesome.min.css?v=201905200000" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap" rel="stylesheet"> 
<link href="/assets/plugins/alertifyJs/default.min.css?v=201905200000" rel="stylesheet" />
<link href="/assets/plugins/alertifyJs/alertify.min.css?v=201909230000" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="assets/css/style.css?v=202003240000">
<link href="assets/css/media.css?v=202003190000" rel="stylesheet" type="text/css">
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>
  <header>
    <headeritem></headeritem>
  </header>
    
  <div id="Packagedetail" v-cloak>
      <!--inner-banner-->
<section class="inner-banner" style="background:url(assets/images/about-banner.jpg) no-repeat;">
    <div class="container">
        <div class="row">
            <h2>Package Detail</h2>
            <div class="breadcrumbs">
                
                <div class="bread-position">
                <ul>
                    <li><a href="index.html">Home</a></li> <i class="fa fa-angle-double-right"></i>
                    <li>Package Detail</li>
                </ul>
                </div>
                
            </div>
        </div>
    </div>
</section>    
    
    
    
    <!--packages-detail-->
       <div class="container">
        <div class="row">
            <div class="package-detail-inner">
                
                <div class="col-md-8">
                    <div class="package-place-info">
                        <div class="package-name">
                            <h2>{{Package.Package_Name}}</h2>
                            <p>Price: <span> AED {{Package.Price}}</span></p>
                        </div>
                        
                        <div class="package-days">
                            <div class="day-night">
                           <p><i class="fa fa-sun-o"></i> {{Package.No_of_Days}} Days  </p>
                           <p><i class="fa fa-moon-o"></i> {{Package.No_of_Nights}} Nights  </p>
                       </div>
                            
                            <div class="package-media">
                            <ul>
                                <li><a :href="Package.Facebook_Link" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li><a :href="Package.Twitter_Link" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a :href="Package.LinkedIn_Link" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                <li><a :href="Package.Instagram_Link" target="_blank"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                            </div>
                        </div>
                        
                        <img class="package-img" :src="Package.Package_Image" alt="place">
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="detail-form">
                        <h3>Book the tour</h3>
                        
                        <div class="search-section">
            <!-- BEGIN: FLIGHT SEARCH -->
            <div role="tabpanel" class="tab-pane active" id="flight">
                <div class="clearfix"></div>
                  
                <div class="col-md-12 search-col-padding">
                  <div class="input-group">
                    <input name="neame" class="form-control" placeholder="First Name" type="text" v-model="fname">
                    </div>
                </div>
                  
                <div class="col-md-12 search-col-padding">
                  <div class="input-group">
                    <input name="name" class="form-control" placeholder="Last Name" type="text" v-model="lname">
                    </div>
                </div>
                  
                   <div class="col-md-12 search-col-padding">
                  <div class="input-group">
                    <input name="email" class="form-control" placeholder="Email" type="email" v-model="femail">
                    </div>
                    </div>
                  
                  
                   <div class="col-md-12 search-col-padding">
                  <div class="input-group">
                    <input name="phone" class="form-control" placeholder="Phone" type="tel" v-model="fphone">
                    </div>
                </div>
                  
                <div class="col-md-6 col-sm-12 search-col-padding">
                  <input id="from" class="calendar" type="text" placeholder="Book Date" />
                    <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
                </div>
                  
                <div class="col-md-6 col-sm-12 search-col-padding">
                  <select class="myselect" id="Adultmyselect" v-model="fadult">
                    <option value="" disabled selected>Adult</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                 </select>
                </div>
                  
                <div class="col-md-6 col-sm-12 search-col-padding">
                   <select class="myselect" id="Infantmyselect" v-model="finfants">
                    <option value="" disabled selected>Infant</option>
                      <option value="0">0</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                 </select>
                </div>
                  
                <div class="col-md-6 col-sm-12 search-col-padding">
                   <select class="myselect" id="Childmyselect" v-model="fchild">
                    <option value="" disabled selected>Child</option>
                      <option value="0">0</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                 </select>
                </div>
                  
                
                  <div class="clearfix"></div>
                  <div class="col-md-12  search-col-padding">
                  <div class="input-group">
                      <textarea name="name"  placeholder="Message"  rows="2" cols="80" v-model="fmessage"></textarea>
                    </div>
                </div>
                  
                <div class="col-md-12  search-col-padding">
                  <button type="submit" class="search-button " v-on:click="addbooking">Book Now</button>
                </div>
            </div>
            <!-- END: FLIGHT SEARCH --> 
   
      </div>
                        
                        
                    </div>
                </div>
                
                <div class="clearfix"></div>
                
            <div class="desc-detail">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 search-section">
        <div role="tabpanel"> 
          <!-- BEGIN: CATEGORY TAB -->
          <ul class="nav nav-tabs search-top" role="tablist" id="searchTab">
            <li role="presentation" class="active text-center"> <a href="#description" aria-controls="flight" role="tab" data-toggle="tab"> <span>Description  </span> </a> </li>
              
            <li role="presentation" class="text-center"> <a href="#itinerary" aria-controls="hotel" role="tab" data-toggle="tab"> <span> Itinerary </span> </a> </li>
              
            <li role="presentation" class="text-center"> <a href="#location" aria-controls="location" role="tab" data-toggle="tab"><span>Location</span> </a> </li>
              
              
              <li role="presentation" class="text-center"> <a href="#review-trip" aria-controls="review-trip" role="tab" data-toggle="tab"><span>Reviews </span> </a> </li>
          </ul>
          <!-- END: CATEGORY TAB --> 
          
          <!-- BEGIN: TAB PANELS -->
          <div class="tab-content"> 
            <!-- description -->
            <div role="tabpanel" class="tab-pane active" id="description">
              <h4>Description</h4>
                <p v-html="Package.Content_1"></p>
                <table class="table">
            <tbody>
              <tr>
                <td class="fist-td">Departure</td>
                <td class="second-td"><span>{{Package.Departure}}</span></td>
              </tr>
              <tr>
                <td class="fist-td">Departure Time</td>
                <td class="second-td"><span>{{Package.Departure_Time}}</span></td>
              </tr>
              <tr>
                <td class="fist-td">Return Time</td>
                <td class="second-td"><span>{{Package.Return_Time}}</span></td>
              </tr>
              <tr>
                <td class="fist-td">Included</td>
                <td class="second-td">
                  <div class="include-points" v-for="(included,index) in Included" v-if="index % 2 === 0">
                    <span><i class="fa fa-check"
                      aria-hidden="true"></i>{{included.Items}}</span>
                  </div>
                  <div class="include-points" v-for="(included,index) in Included" v-if="index % 2 !== 0"><span><i class="fa fa-check" aria-hidden="true"></i>{{included.Items}}</span>
                  </div>
                  </td>
              </tr>
              <tr>
                <td class="fist-td">Not Included </td>
                <td class="second-td">
                  <div class="include-points" v-for="(Not_Included,index) in NotIncluded" v-if="index % 2 === 0">
                    <span><i class="fa fa-close"
                      aria-hidden="true"></i>{{Not_Included.Items}}</span>
                  </div>
                  <div class="include-points" v-for="(Not_Included,index) in NotIncluded" v-if="index % 2 !== 0">
                    <span><i class="fa fa-close"
                      aria-hidden="true"></i>{{Not_Included.Items}}</span>
                  </div>
                  </td>
              </tr>
            </tbody>
          </table>
                
                <p v-html="Package.Content_2"></p>
                
            </div>
            <!-- END: FLIGHT SEARCH --> 
            
            <!-- itinerary -->
            <div role="tabpanel" class="tab-pane" id="itinerary">
              <div class="row">
                <div v-for="item in Itinerary">
                    <div class="days-detail"> <span class="day-text">{{item.title}}</span>
                      <p v-html="item.content"></p>
                    </div>
                </div>
              </div>
            </div>
            
            
            <!--location-tab-->
            <div role="tabpanel" class="tab-pane" id="location">
                <h4>Location</h4>
              <iframe :src="Package.Location_Link" width="100%" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            
              
            <!--review-tab-->
            <div role="tabpanel" class="tab-pane" id="review-trip">
                  <div class="col-lg-12 pa-0">
                    <h4>{{avgrating}} based on {{ratingcount}} review</h4>
                    <div class="comment-div" v-for="review in allReview">
                      <div class="user"><img src="assets/images/user.png" alt=""></div>
                      <div class="comment-block"> <span class="heading">{{review.Name}} – <span>{{review.Date}}</span></span>
                        <ul class="rating">
                          <li v-for="rowindex in 5"
                          :style="review.Ratings>=rowindex ? 'color:rgb(213, 225, 77)':'color:rgb(196, 196, 196)'">
                          <i class="fa fa-star"
                            :style="review.Ratings>=rowindex ? 'color:rgb(213, 225, 77)':'color:rgb(196, 196, 196)'"></i>
                        </li>
                        </ul>
                        <p>{{review.comment}}</p>
                      </div>
                    </div>
                  </div>
                
                <div class="review-form">
                  <div class="col-md-12"><h4>Add a review</h4>
                  <p>Your email address will not be published. Required fields are marked *</p>
                  <div class="add-rws"> <span>Your Rating</span>
                    <ul class="rating" id="ratingID">
                      <li><i class="fa fa-star-o" aria-hidden="true" @click="userRating(1)"></i></li>
                      <li><i class="fa fa-star-o" aria-hidden="true" @click="userRating(2)"></i></li>
                      <li><i class="fa fa-star-o" aria-hidden="true" @click="userRating(3)"></i></li>
                      <li><i class="fa fa-star-o" aria-hidden="true" @click="userRating(4)"></i></li>
                      <li><i class="fa fa-star-o" aria-hidden="true" @click="userRating(5)"></i></li>
                    </ul>
                  </div>
                      </div>
                    
                    <div class="review-form-field">
                        <div class="col-md-6">
                            <input type="text" id="text-01" name="name" placeholder="Name" v-model="Name">
                        </div>
                        
                        <div class="col-md-6">
                            <input type="email" id="email" name="name" placeholder="Email" v-model="Email">
                        </div>
                        
                        <div class="col-md-12">
                            <textarea id="text-1" placeholder="Message" rows="3" cols="50" v-model="Review"></textarea>
                        </div>
                        
                        <div class="col-md-12">
                            <input type="submit" id="submit-01" value="SUBMIT REVIEW" @click.prevent="addReviews()">
                        </div>
                        
                    </div>
                  
                </div>
            </div>
              
              
              
          </div>
          <!-- END: TAB PANE --> 
        </div>
      </div>
                </div>
                
                
            </div>
        </div>
    </div>
  </div>  
    
   <!--Footer--> 
    
   <footer>
    <footeritem></footeritem>
  </footer>
    
<a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a> 
    
    
    
<script src="/assets/js/vue.min.js?v=202002060000"></script>
<script src="/assets/js/vue-i18n.js?v=201912240000"></script>
<script src="/assets/js/axios.min.js?v=201912240000"></script>  
<script src="assets/js/jquery.min.js?v=202003190000"></script> 
<script src="assets/js/bootstrap.min.js?v=202003190000"></script>
<script src="assets/js/jquery-ui.js?v=202003230000"></script>
<script src="assets/js/custom.js?v=201905200000"></script>
<script src="/assets/plugins/moment/moment.min.js?v=201907220000"></script>
<script src="assets/js/jquery.cookie.js?v=202003190000"></script>
<script src="assets/pluggins/alertifyJs/alertify.min.js?v=202003190000"></script>
<script src="/Resources/HubUrls/HubServiceUrls.js?v=202008060000"></script>
<script src="/CommonFuntions/CommonFunctions.js?v=202008240000"></script>
<script src="/CommonFuntions/ExtentionMethods.js?v=201905200000"></script>
<script src="servicejs/package-detail.js?v=202007290000"></script>
<script src="master/master.js?v=202007290000"></script>
</body>
</html>