<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Flyonline - Holiday Packages </title>
  <link rel="shortcut icon" href="website-informations/favicon/favi.png">
  <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css?v=202003190000">
  <link href="assets/css/owl.carousel.css?v=202003190000" rel="stylesheet" type="text/css" />
  <link href="/assets/plugins/font-awesome/font-awesome.min.css?v=201905200000" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap" rel="stylesheet">
  <link href="/assets/plugins/alertifyJs/default.min.css?v=201905200000" rel="stylesheet" />
<link href="/assets/plugins/alertifyJs/alertify.min.css?v=201909230000" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="assets/css/style.css?v=202003240000">
<link href="assets/css/media.css?v=202003190000" rel="stylesheet" type="text/css">
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>
  <header>
    <headeritem></headeritem>
  </header>

  <!--inner-banner-->
  <div id="Packagepage" v-cloak>
    <section class="inner-banner" style="background:url(assets/images/about-banner.jpg) no-repeat;">
      <div class="container">
        <div class="row">
          <h2>Holiday Packages</h2>
          <div class="breadcrumbs">

            <div class="bread-position">
              <ul>
                <li><a href="index.html">Home</a></li> <i class="fa fa-angle-double-right"></i>
                <li>Holiday packages</li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </section>


    <!--packages-->


    <div class="container">
      <div class="packages-main h-package-in">
        <div class="row">

          <div class="col-md-4 col-sm-6" v-for="pack in showPackages">
            <div class="item">
              <a href="#" @click="getmoreinfo(pack.More_details_page_link)">
                <div class="package-img">
                  <img :src="pack.Package_Image" alt="package-img" style="height: 242px;">
                </div>
                <div class="package-deatil">
                  <h3><a href="#" @click="getmoreinfo(pack.More_details_page_link)">{{pack.Package_Name | subStr}}</a></h3>
                  <div class="day-night">
                    <h4>Validity : {{pack.Validity}}</h4>
                    <p><i class="fa fa-sun-o"></i> {{pack.No_of_Days}} Days </p>
                    <p><i class="fa fa-moon-o"></i> {{pack.No_of_Nights}} Nights </p>
                  </div>
                  <p class="price"><span>AED {{pack.Price}}</span> per / person </p>
                </div>
              </a>

            </div>
          </div>
        <div class="col-md-12">
            <div class="inner-pagination">
              <ul class="pagination">
                <li class="next-pre"><a href="#" @click.prevent="prevNextEvent('Previous')"><i class="fa  fa  fa-angle-double-left"></i></a></li>
                
                <li v-for="(rowindex,ind) in constructedNumbers" @click.prevent="selectPackages(ind)" class=""
                :class="rowindex==currentPages ? 'active' :'' ">
                  <a href="#">{{rowindex}} 
                    <!-- <span class="sr-only">(current)</span> -->
                  </a>
                </li>
                
                <li class="next-pre"><a href="#" @click.prevent="prevNextEvent('Next')"><i class="fa fa-angle-double-right"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <footer>
    <footeritem></footeritem>
  </footer>

  <a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a>

  <script src="/assets/js/vue.min.js?v=202002060000"></script>
  <script src="/assets/js/vue-i18n.js?v=201912240000"></script>
  <script src="/assets/js/axios.min.js?v=201912240000"></script>
  <script src="assets/js/jquery.min.js?v=202003190000"></script>
  <script src="assets/js/bootstrap.min.js?v=202003190000"></script>
  <script src="assets/js/custom.js?v=201905200000"></script>
  <script src="/assets/plugins/moment/moment.min.js?v=201907220000"></script>
  <script src="assets/js/jquery.cookie.js?v=202003190000"></script>
  <script src="assets/pluggins/alertifyJs/alertify.min.js?v=202003190000"></script>
  <script src="/Resources/HubUrls/HubServiceUrls.js?v=202008060000"></script>
  <script src="/CommonFuntions/CommonFunctions.js?v=202008240000"></script>
  <script src="/CommonFuntions/ExtentionMethods.js?v=201905200000"></script>
  <script src="servicejs/Packages.js?v=202003240000"></script>
  <script src="master/master.js?v=202007290000"></script>
</body>

</html>