<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Flyonline - Terms Of Use </title>
<link rel="shortcut icon" href="website-informations/favicon/favi.png">
<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css?v=202003190000">
<link href="assets/css/owl.carousel.css?v=202003190000" rel="stylesheet" type="text/css" />
<link href="/assets/plugins/font-awesome/font-awesome.min.css?v=201905200000" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap" rel="stylesheet"> 
<link href="assets/pluggins/alertifyJs/alertify.min.css?v=202003190000" rel="stylesheet" />
<link href="assets/pluggins/alertifyJs/default.min.css?v=202003190000" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="assets/css/style.css?v=202003240000">
<link href="assets/css/media.css?v=202003190000" rel="stylesheet" type="text/css">
<style>
  [v-cloak] {
    display: none;
  }
</style> 
</head>

<body>
  <header>
    <headeritem></headeritem>
  </header>
<div id="PrivacyandTerms" v-cloak>
    <!--inner-banner-->
<section class="inner-banner" style="background:url(assets/images/about-banner.jpg) no-repeat;">
    <div class="container">
        <div class="row">
            <h2>Terms Of Use</h2>
            <div class="breadcrumbs">
                
                <div class="bread-position">
                <ul>
                    <li><a href="index.html">Home</a></li> <i class="fa fa-angle-double-right"></i>
                    <li>Terms Of Use</li>
                </ul>
                </div>
                
            </div>
        </div>
    </div>
</section>    
    
  <!--About-text-->  
<section class="privacy-content">
    <div class="container" v-for="terms in Terms">
        <h4>{{terms.Heading}}</h4>
        <p v-html="terms.Content"></p>
    </div>
</section>    
</div>   

   <!--Footer--> 
    
   <footer>
    <footeritem></footeritem>
  </footer>  
<a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a> 
    
    
<script src="/assets/js/vue.min.js?v=202002060000"></script>
<script src="/assets/js/vue-i18n.js?v=201912240000"></script>
<script src="/assets/js/axios.min.js?v=201912240000"></script>     
<script src="assets/js/jquery.min.js?v=202003190000"></script> 
<script src="assets/js/bootstrap.min.js?v=202003190000"></script> 
<script src="assets/js/custom.js?v=201905200000"></script>
<script src="/assets/plugins/moment/moment.min.js?v=201907220000"></script>
<script src="assets/js/jquery.cookie.js?v=202003190000"></script>
<script src="assets/pluggins/alertifyJs/alertify.min.js?v=202003190000"></script>
<script src="/Resources/HubUrls/HubServiceUrls.js?v=202008060000"></script>
<script src="/CommonFuntions/CommonFunctions.js?v=202008240000"></script>
<script src="/CommonFuntions/ExtentionMethods.js?v=201905200000"></script>
<script src="servicejs/PrivacyandTerms.js?v=202003250000"></script>
<script src="master/master.js?v=202007290000"></script>
</body>
</html>