


@media(max-width:1200px) {
    .menu-nav .navbar-nav > li > a{
        padding: 0 13px;
        font-size: 16px;
    }
    .top-email ul li i{display: none;}
    .top-email{margin-top: 15px;}
}


/*=========END-1200px==========*/


/*=========start-9991px==========*/
@media(max-width:991px) {
    
	h1 {
		font-size: 40px;
		line-height: 45px;
	}
	h2 {
		font-size: 30px;
		line-height: 40px;
		margin-bottom: 10px;
	}
	.top-email ul li i{display: block;}
    .menu-nav{background-color: transparent;}
    .menu-nav .navbar{
        position: absolute;
        top: 12px;
        right: 30px;
        width: 70%;
        z-index: 99;
        }
    .top-email{
        z-index: 2;
        position: relative;
    }
     .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
       padding: 15px !important;
        line-height: 20px !important;
    }
    .menu-nav .navbar-nav>li {
		float: none;
		display: block;
		border: none;
	}
	
	.menu_nav {
		text-align: left;
	}
	.navbar-toggle .icon-bar {
		height: 3px;
	}
    .navbar-default .navbar-toggle{
        border-radius: 5px;
        height: 45px;
        width: 45px;
        background: #012e81;
        margin: 0;
        border: 1px solid #012e81;
        }
	.navbar-default .navbar-toggle:focus,
	.navbar-default .navbar-toggle:hover {
		background: #fec141;
		border: 1px solid #fec141;
	}
    .navbar-default .navbar-toggle:hover .icon-bar{background: #2f2f2f;}
    .menu-nav .navbar-nav > li > a::after{display: none;}
	.navbar-nav {
		margin: 0;
	}
	.menu-nav .navbar-nav > li > a {
		border-radius: 0;
		background: #012e81!important;
		color: #fff!important;
		border-bottom: 1px solid #fff;
		padding: 10px 30px;
        font-size: 18px!important;
	}
	.navbar-default .navbar-nav>.active>a,
	.navbar-default .navbar-nav>li>a:focus,
	.navbar-default .navbar-nav>li>a:hover {
		border-bottom: 1px solid #7f3e98;
        background: #fdbf1b !important;
        color: #2f2f2f!important;
	}
	.navbar-default .navbar-collapse,
	.navbar-default .navbar-form {
		border: none;
	}
    .navbar-collapse{margin-top: 21px;}
    .collapse.in {
    display: block !important;
    }
  
    .agent-log{width: 100%;}
    .login-form{padding:30px}
    .login-text{padding: 96px 35px;}
    .about-info p{width: 100%;}
    .partner-sec{padding: 20px 0 50px 0;}
    footer .get-in-touch div i{
        display: block;
        margin-bottom: 10px;
    }
    
    footer .bdr-rght::after{height: 130px;}
    .newsletter{
        border-radius: 10px;
        text-align: center;
        margin-top: -72px;
    }
    
}


/*=========END-991px==========*/

@media(max-width:767px) {
	h1 {
		font-size: 30px;
		line-height: 35px;
	}
	h2 {
		font-size: 26px;
		line-height: 35px;
		margin-bottom: 20px;
	}
	h3 {
		font-size: 24px;
		line-height: 40px;
		padding: 10px 0;
	}
	
	.navbar-nav>li>a {
		font-size: 16px;
	}
	header .dropdown-menu {
		position: absolute;
		left: 0;
		right: 0;
		top: 40px;
	}
	.menu_nav {
		min-height: auto;
		margin-top: 0;
		padding: 0;
	}
    .top-email{display: none;}
    .menu-nav .navbar{top: 22px;}
    /* .agent-log{display: block;} */
    .login-form, .login-text, .login-form, .forgot_form{
        /* float: none; */
        width: 100%;
    }
    
    .login-text{padding: 30px;}
    .banner{padding: 60px 0;}
    .login-text h2{margin-bottom: 10px;}
    .about-info::before, .about-info::after{display: none;}
    .about-info h2{font-size: 30px;}
    .why-choose .row ,.mr-t{display: block;}
    .mr-t{margin-top: 70px;}
    .why-choose h2{
        font-size: 32px;
        margin-bottom: 0;
        line-height: 43px;
    }
    .newsletter{
        margin-top: 0px;
        border-radius: 0;
        }
    .newsletter h2{
        font-size: 24px;
        margin-bottom: 0;
    }
    .newsletter i {
       width: 43px;
       height: 43px;
       line-height: 43px;
       font-size: 22px;
    }
    footer .get-in-touch div{
        width: 100%;
    }
    footer .bdr-rght::after{display: none;}
    footer .get-in-touch div{
        border-bottom: 1px solid rgba(255,255,255,0.5);
        padding: 20px;
    }
    footer .get-in-touch div:last-child{border-bottom: none;}
    footer .link{padding: 30px 0;}
    footer .copyright{text-align: center;}
    footer .powered-by{
        float: none;
        text-align: center;
    }
    footer{margin:  0;}
    .partner-sec{padding: 30px 0;}
    .inner-title h2{
        font-size: 40px;
        padding: 15px 60px;
    }
    .about-vision .flex{display: block;}
    .about-vision .row{display: block;}
    .about-vm-in{margin-bottom: 40px;}
    .about-vision{padding: 30px 0 0 0;}
    .about-vm-in{padding: 15px;}
    .inner-title{padding:45px 0 60px 0; }
    
}


/*=========END-767px==========*/

@media(max-width:600px) {
	
	.menu_nav .navbar-toggle {
		margin: 25px 50px;
	}
    
    .banner_main .banner-text h1{font-size: 26px;}
    .about-info{padding: 30px 0;}
    .about-in-text{padding: 60px 0 30px 0;}
    footer .link ul li{padding: 0 10px;}
    footer .link ul li a{font-size: 19px;}
   
}


/*=========Start-500px==========*/

@media(max-width:500px) {
	header .col-md-8.col-xs-8 {
		display: none;
	}
	header .col-xs-4 {
		width: 100%;
	}
    .menu-nav .navbar{
        width: 70%;
        }
    .menu_nav .navbar-toggle {
		margin: 25px 26px;
	}
	.navbar-default .navbar-toggle .icon-bar {
		text-align: center;
	}
    
    .menu-nav .navbar{top: 10px;}
    .newsletter button{
        padding: 6px 20px 7px;
        font-size: 18px;
        right: 13px;
    }

}

