
/* Google Font Link */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');
/* Import All CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	background: url(../)
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

ol,
ul,
li {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

html {
	-webkit-text-size-adjust: none;
}

* {
	outline: none;
}

input[type='submit'] {
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
}

 ::-moz-selection {
	background: #da434a;
	color: #fff;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
select,
textarea {
	 
	font-weight: 400;
	width: 100%;
	padding: 8px 10px;
	margin: 10px 0;
	font-size: 16px;
	border: 1px solid #d4d4d4;
}

.btn {
	padding: 0;
	margin: 0;
	margin-top: 15px;
}

.btn.active,
.btn:active {
	box-shadow: none;
}

.btn a,
input[type="submit"] {
	 
	font-weight: 700;
	display: inline-block;
	font-size: 14px;
	background-color: transparent;
	color: #fff !important;
	padding: 10px 30px;
	border-radius: 50px;
	vertical-align: middle;
	text-transform: uppercase;
	border: 1px solid #fff;
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}

.btn a:hover,
input[type="submit"]:hover {
	background-color: #fff;
	color: #062f89 !important;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
:hover{
    -webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
    }
.section {
	padding: 50px 0;
	overflow: hidden;
}

p {
	font-size: 15px;
	line-height: 24px;
	letter-spacing: 0.5px;
	color: #333333;
	padding: 8px 0;
	font-weight: 300;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0;
}

h1,
h2,
h3,
h4 {
	margin-top: 0;
	color: #404041;
	
}

h1 {
	font-size: 70px;
	line-height: 80px;
	font-weight: 300;
	text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

h2 {
	text-align: left;
	font-size: 50px;
	font-weight: 700;
	text-transform: capitalize;
	color: #7f3e98;
	line-height: 44px;
    font-family: 'Roboto', sans-serif;
}

h3 {
	font-size: 22px;
	font-weight: 700;
	color: #fff;
	padding: 10px;
	line-height: 28px;
    font-family: 'Roboto', sans-serif;


}

h4 {
	font-size: 20px;
	line-height: 26px;
	padding: 15px 0;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
}

h5 {
	font-size: 20px;
	line-height: 24px;
	padding: 10px 0;
	margin: 0;
    
}

a {
	-webkit-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
	-moz-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
	-ms-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
	-o-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
	transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
}

.navigation_mobile_click,
.navigation_mobile_click:before,
.go-up {
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

a {
	text-decoration: none;
	color: #5e6d77;
}

a:focus,
a:hover {
	text-decoration: none;
	outline: none;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

img {
	max-width: 100%;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: middle;
	height: auto;
}

body {
	 
	font-weight: 400;
	background-color: #FFF;
	overflow-x: hidden;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
     font-family: 'Roboto', sans-serif;
}


/*=======Start-homepage-css=========*/


/*back-to-top-css*/

.scrollToTop {
	height: 50px;
	width: 50px;
	padding-top: 2px;
	font-size: 24px;
	line-height: 45px;
	text-align: center;
	color: #000;
	font-weight: bold;
	text-decoration: none;
	position: fixed;
	bottom: 40px;
	right: 15px;
	z-index: 999999;
	display: none;
	border-radius: 50%;
	background-color:#062f89 ;
	border: 1px solid #fff;
}

.scrollToTop:hover,
.scrollToTop:focus {
	background: #02a0fb;
	color: #fff;
}


/*back-to-top-css*/


.top-email {
	display: inline-block;
	text-align: right;
	margin-top: 10px;
}

.top-email ul li {
	display: inline-block;
	color: #323493;;
	font-size: 16px;
	padding: 0 10px;
	font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.top-email ul li:last-child {
	padding-right: 0;
}

.top-email ul li a {
	color: #323493;
	font-size: 19px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-align: left;
    display: block;
}

.top-email ul li i {
	height: 45px;
	width: 45px;
	background-color: transparent;
	text-align: center;
	line-height: 41px;
	border-radius: 5px;
    font-size: 18px;
    float: left;
    border: 2px solid #323493;;
    color: #323493;;
    font-size: 21px;
}

.top-email ul li p{
    float: left;
    padding: 0;
    margin-left: 10px;
    text-align: left;
}

.top-email ul li a:hover {
	color: #02a0fb;
}

header {
	background: #fff;
	position: relative;
    padding: 10px 0;
}



.logo {
	position: relative;
	z-index: 999;
	text-align: left;
}
.logo a{display: block;}

/*===End-Header=====*/


/*==============Navigation==========*/

.menu-nav .navbar {
	border-radius: 0px;
	margin-bottom: 0;
	text-align: center;
	min-height: auto;
}

.menu-nav .navbar-default {
	border: none;
	z-index: 9;
	background-color: transparent;
}


.menu-nav .navbar-nav>li>a {
	padding: 0px 17px;
	background-color: transparent;
	text-transform: capitalize;
	font-size: 20px;
	color: #2f2f2f;
	font-weight: 500;
    font-family: 'Roboto', sans-serif;
    position: relative;
    line-height: 77px;
	 
}

.menu-nav .navbar-nav>li>a::after{
    content: "|";
    position: absolute;
    right: 0;
}
.menu-nav .navbar-nav>li:last-child a::after{
    content: "";
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
	background-color:transparent;
	color: #02a0fb!important;
}

.menu-nav .navbar-nav {
	width: 100%;
	text-align: center;
}

.menu-nav .navbar-nav>li {
	float: none;
	display: inline-block;
}

.menu-nav .navbar-default .navbar-nav .active a:active {
	background-color:transparent;
	color: #02a0fb!important;
}

.menu-nav .navbar-default .navbar-nav>.active>a:hover {
	background-color:transparent;
	color: #02a0fb!important;
}

#bs-example-navbar-collapse-1 {
	padding: 0;
}

.menu-nav .dropdown-menu {
	left: -44px;
	top: 44px;
}

.menu-nav .navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
	background: #177ddf;
	color: #fff;
}

.menu-nav .dropdown-menu {
	padding: 5px 0 10px;
	top: 50px;
	right: -1px !important;
	min-width: 110px !important;
	background: #1781e7;
	border: none;
	border-radius: 0;
}

.dropdown-menu>li>a {
	background: #1781e7;
	color: #fff;
	padding: 7px 0 7px 0 !important;
	text-transform: uppercase;
	border-bottom: 1px solid #fff;
	margin: 0 15px;
	font-weight: bold;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
	color: #262626;
	text-decoration: none;
	background-color: transparent;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
	color: #262626;
	text-decoration: none;
	background-color: transparent;
}




.banner{
    background: url(../images/banner-bg.jpg) no-repeat;
    padding: 110px 0;
    font-family: 'Roboto', sans-serif;
    background-size: cover;
}

.agent-log{
    /* background: rgba(255,255,255,0.7); */
    width: 84%;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}
.login-form, .forgot_form{
    width: 50%;
    /* float: left; */
    padding: 50px 60px;
    background: rgba(255,255,255,0.7);
}
.login-form h3, .forgot_form h3{
    font-size: 30px;
    text-transform: uppercase;
    color: #323493;
    font-weight: 700;
    margin-bottom: 20px;
}

.login-form .form-control, .forgot_form .form-control{
    background: rgba(47,47,47,0.8);
    height: 45px;
    border: none;
    border-radius: 5px;
    margin:0 0 20px 0; 
    color: #fff;
    font-size: 16px;
}
.login-form ::placeholder, .forgot_form ::placeholder{color: #fff!important;}

.login-form button, .forgot_form button{
    width: 100%;
    height: 45px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    background: #02a0fb !important;
    border:none;
    border-radius: 5px;
    margin: 10px 0;
    font-size: 20px;
}
.login-form button:hover, .forgot_form button:hover{
    background: #062f89!important;
    color: #fff;
}
.login-form a, .forgot_form a{
    font-size: 16px;
	color: #000;
	cursor: pointer;
}
.forgot_form a i{
	margin-right: 3px;
}
.forgot_form{
	display: none;
}
.login-form a:hover{color: #02a0fb;}

.login-text{
    padding: 140px 35px;
    float: left;
    width: 50%;
    background: rgba(255,231,178,1);
    background: -moz-linear-gradient(top, rgba(255,231,178,1) 0%, rgba(254,194,64,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,231,178,1)), color-stop(100%, rgba(254,194,64,1)));
    background: -webkit-linear-gradient(top, rgba(255,231,178,1) 0%, rgba(254,194,64,1) 100%);
    background: -o-linear-gradient(top, rgba(255,231,178,1) 0%, rgba(254,194,64,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,231,178,1) 0%, rgba(254,194,64,1) 100%);
    background: linear-gradient(to bottom, rgba(255,231,178,1) 0%, rgba(254,194,64,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe7b2', endColorstr='#fec240', GradientType=0 );
     

}

.login-text h2 span{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
}
.login-text h2{
    font-size: 30px;
    font-weight: 700;
    color: #323493;
    line-height: 34px;
    text-align: left;
}
.login-text p{
    text-align: left;
    font-size: 16px;
    line-height: 24px;
}
.sec{
	width: 100%;
	float: left;
	position: relative;
}
.btn_load{
	width: 100%;
    height: 45px;
    position: absolute;
    left: 0;
    top: 10px;
    border-radius: 8px;
    background: rgba(50, 52, 147, 0.52);
    color: #FFF;
    text-align: center;
    line-height: 45px;
    font-size: 19px;
}
/*===============About Us==============*/

.about-info{
    padding: 60px 0;
    text-align: center;
    position: relative;
}

.about-info::after{
    content: url(../images/pattern.png);
    position: absolute;
    right: 0;
    top: 20px;
}
.about-info::before{
    content: url(../images/pattern.png);
    position: absolute;
    left: 0;
    bottom: 20px;
}

.about-info h2 span{
    color: #323493;
}
.about-info h2{
    text-align: center;
    margin-bottom: 10px;
    font-size: 42px;
    color:#02a0fb;
    font-family: 'marker_feltregular';
}

.about-info p{
    font-size: 16px;
    line-height: 30px;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    color: #333333;
}

.about-info .btn{
    background: #02a0fb;
    color: #fff;
    border-radius: 30px;
    font-size: 24px;
    text-transform: uppercase;
    padding: 10px 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.about-info .btn:hover{
    color: #fff;
    background: #323493;
}

/*===============Why-Choose==============*/

.why-choose{
    background: url(../images/why-bg.jpg) no-repeat;
    background-size: cover;
    padding: 50px 0;
}
.why-choose .row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.why-choose h2{
    text-align: center;
    color: #fff;
    font-size: 42px;
}
.mr-t{
    margin-top:80px;
    display: flex;
}
.choose-info{
    background: #fff;
    border-radius: 5px;
    text-align: center;
    padding: 60px 20px 30px 20px;
}
.choose-info h3{
    color: #02a0fb;
    font-size: 21px;
    font-weight: 700;
    line-height: 28px;
}
.choose-info p{
    color: #323493;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.choose-icon{
    position: absolute;
    top: -41px;
    left: 0;
    right: 0;
    height: 83px;
    width: 83px;
    padding: 15px;
    border-radius: 50%;
    text-align: center;
    background: #fff;
    margin: 0 auto;
    border: 5px solid #323493;
}
.choose-icon svg{
    fill:#323493;
    width: 45px;
}

.choose-info:hover .choose-icon{
    background: #323493;
}

.choose-info:hover .choose-icon svg{
    fill:#02a0fb;
}

/*===============ENd-Why-Choose==============*/

.partner-sec{
    padding: 60px 0;
    }
.partner{
    margin: 0 15px;
    text-align: center;
    }
.partner img{width: auto;}
.partner-sec .owl-controls{display: none !important;}

/* Footer CSS BOF
=================================================== */

footer {
	background:#02a0fb;
	display: block;
	width: 100%;
	position: relative;
	background-size: cover;
	margin: 60px 0 0;
    font-family: 'Roboto', sans-serif;
}
footer .inner {
	display: block;
	width: 100%;
}
/* Newsletter CSS BOF
=================================================== */
.newsletter {
	background: #fff;
	display: inline-block;
	width: 100%;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
	-webkit-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.29);
	-moz-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.29);
	-ms-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.29);
	box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.29);
	padding: 10px 0;
	margin-top: -45px;
}
.newsletter i {
	width: 73px;
	height: 73px;
	line-height: 73px;
	font-size: 34px;
	color: #fff;
	background: #02a0fb;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
	text-align: center;
}
.newsletter h2 {
	font-size: 34px;
	color: #02a0fb;
	padding: 0 0 0 15px;
	text-align: center;
	font-weight: 500;
	display: inline-block;
}
.newsletter form {
	margin: 13px 0 0;
	display: inline-block;
	width: 100%;
}
.newsletter .input {
	position: relative;
	background-color: #fff;
	border: none;
	width: 100%;
	padding: 15px 24px;
	color: #393939;
	font-size: 16px;
	font-weight: 400;
	float: left;
	border: 2px solid#02a0fb;
	height: 50px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
    margin: 0;
}
.newsletter button {
	background: #02a0fb;
	font-size: 26px;
	color: #fff;
	padding: 6px 30px 7px;
	text-align: center;
	border: none;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	display: block;
	font-weight: 500;
	position: absolute;
	right: 0px;
	top: 0px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
    height: 50px;
}
.newsletter button:hover {
	background: #323493;
	color: #cecece;
	text-decoration: none;
}
/* Footer Social CSS BOF
=================================================== */
footer .social {
	display: inline-block;
	list-style: outside none none;
	margin: 30px 0;
	width: auto;
}
footer .social li {
	text-align: center;
	padding: 0 15px 0 0;
	float: left;
}
footer .social li a {
	color: #02a0fb;
	display: block;
	height: 48px;
	line-height: 48px;
	text-decoration: none;
	transition: all 0.8s ease-in-out 0s;
	width: 48px;
	background: #fff;
	font-size: 26px;
	border-radius: 5px;
	border: 1px solid#fff;
}
footer .social li a:hover {
	background: #062f89;
	color: #2f2f2f;
	border: 1px solid #323493;
}
footer .link {
	width: 100%;
	display: inline-block;
	text-align: center;
	padding: 40px 0;
	border-bottom: 1px solid #fff;
}
footer .link ul {
	width: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
}
footer .link ul li {
	display: inline-block;
	padding: 0 40px;
	color: #FFF;
	font-size: 22px;
	font-weight: 400;
	position: relative;
}
footer .link ul li::after {
	position: absolute;
	top: 8px;
	transition: all 0.3s;
	content: "";
	background: #fff;
	right: 0;
	height: 17px;
	width: 2px;
}
footer .link ul li:last-child::after {
	display: none;
}
footer .link ul li a {
	color: #fff;
	font-size: 20px;
}
footer .link ul li a:hover {
	color: #062f89;
	text-decoration: none;
}
footer .get-in-touch {
	width: 100%;
	padding: 15px 0;
	border-bottom: 1px solid #fff;
	display: inline-block;
}
footer .get-in-touch div {
	float: left;
	color: #fff;
	font-size: 18px;
	padding: 25px 15px;
    width: 33.33%;
}
footer .bdr-rght{position: relative;}
footer .bdr-rght::after{
    position: absolute;
    content: "";
    width: 1px;
    height: 98px;
    background: #fff;
    right: 0;
    top: 0;
}
footer .get-in-touch div i {
	color: #fff;
	font-size: 26px;
	margin-right: 13px;
    display: inline-block;
    vertical-align: middle;
}
footer .get-in-touch div a {
	color: #fff;
	font-size: 18px;
	font-weight: 400;
    display: inline-block;
}
footer .get-in-touch div a:hover {
	color: #323493;
	text-decoration: none;
}
footer .ftr-btm {
	background: #30a4e6;
	padding: 10px 0;
	border-top: 1px solid #fff;
}
footer .copyright {
	color: #fff;
	font-size: 16px;
	font-weight: normal;
	padding: 10px 0;
	font-weight: 400;
}
footer .powered-by {
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	float: right;
	margin-top: 8px;
}


/*==============End-Footer==============================End-Home-Page-Css=============================================

==================================================================================================================*/



/*==============About-Us=========================*/
.inner-title{
    background-size: cover;
    padding: 70px 0;
    text-align: center;
    position: relative;
    background-repeat: no-repeat;
}

.inner-title h2{
    text-align: center;
    color: #02a0fb;
    font-size: 54px;
    font-weight: 700;
    background:rgba(255,255,255,0.9);
    display: inline-block;
    margin: 0 auto;
    padding: 25px 130px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.29);
	-moz-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.29);
	-ms-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.29);
	box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.29);
    
}

.inner-title h2 span{
    color: #323493;
}
.inner-title ul{
    background: #323493;
    padding: 15px 50px;
    display: inline-block;
    border-radius: 30px;
    
  text-align: center;
}
.inner-title ul li{
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    padding: 0 20px;
    color: #ffff;
}

.inner-title ul li a{
    color:#ffff;
    display: block;
}
.inner-title ul li a:hover{color:#fff;}

.inner-title ul li::after{
     content: "\f061";
    font-family: 'FontAwesome';
    position: absolute;
    right: -10px;
    top: 0;
    font-size: 16px;
}
.inner-title ul li:last-child{padding-right: 0;}
.inner-title ul li:first-child{padding-left: 0;}
.inner-title ul li:last-child::after{
    content: "";
}

.breadcrumbs{
    position: absolute;
    bottom: -25px;
    left: 0;
    right: 0;
    z-index: 9;
}

.about-vision{
    background: #f7f8fc;
    padding: 60px 0;
}
.about-vision .row{
    display: flex;
}
.about-vision .flex{
    display: flex;
}
.about-vm-in{
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.29);
	-moz-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.29);
	-ms-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.29);
	box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.29);
    text-align: center;
}

.about-vm-in:hover .v-m-icon{
    background:#02a0fb;
}


.about-vm-in h3{
    color: #2f2f2f;
    font-size: 30px;
    padding: 0;
    margin: 20px 0;
}
.about-vm-in p{
    font-size: 16px;
    line-height: 26px;
}

.v-m-icon{
    height: 71px;
    width: 71px;
    background: #062f89;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
}
.v-m-icon svg{
    fill:#fff;
    width: 60%;
    padding-top: 13px;
}
.about-vm-in:hover .v-m-icon svg{
    fill:#ffffff!important;
   

        
}


/*=========================Contact-Us==========================*/
.contact-in{background: #fff;}
.contact-in h2{
    font-family: 'Roboto', sans-serif;
}
.get-in-touch{width: 100%;}
.get-in-touch p a, .get-in-touch p{
    font-size: 16px;
    font-weight: 700;
    color: #2f2f2f;
    line-height: 24px;
}

.contact-form{
    background: #f7f8fc;
    padding: 30px;
}
/*reset password*/
.reset_mid {
    width: 400px;
    margin: auto;
    padding: 50px 0px;
}

.main_reset_sec {
    width: 100%;
    float: left;
    padding: 20px;
}

    .main_reset_sec h2 {
        text-align: center;
        margin-bottom: 18px;
    }

.txt_sec {
    width: 100%;
    height: 36px;
    float: left;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    padding: 0px 10px;
    border: 1px solid #cecece;
}

.txt_sec {
    width: 100%;
    height: 36px;
    float: left;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    padding: 0px 10px;
    border: 1px solid #cecece;
}

.reset_btn {
    width: 100%;
    height: 36px;
    border: none;
    background: #323493 !important;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #FFF;
    cursor: pointer;
	transition: all linear 0.15s;
	border-radius: 0px !important;
}

    .reset_btn:hover {
		background: #5f61cf !important;
		color: #FFF !important;
    }

.loadrst {
    width: 100%;
    float: left;
    position: relative;
    display: none;
}

.load_reset {
    width: 100%;
    height: 36px;
    border: none;
    background: #323493 !important;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #FFF;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 9;
    text-align: center;
    line-height: 37px;
}
/*=========================Contact-Us==========================*/
.contact-in{background: #fff;}
.contact-in h2{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 50px;
}
.get-in-touch{width: 100%;}
.get-in-touch p a, .get-in-touch p{
    font-size: 16px;
    font-weight: 700;
    color:#2f2f2f ;
    line-height: 24px;
}

.contact-fm{
    background: #f7f8fc;
}

.contact-form{
    padding: 70px 0;
    overflow: hidden;
}
.contact-form .form-control{
    height: 45px;
    border: 1px solid #c4c7d3;
    border-radius: 40px;
    padding: 0 20px;
    margin:15px 0;
}
.contact-form textarea{
    border: 1px solid #c4c7d3;
    border-radius: 90px;
    padding:  30px 20px;
    margin: 15px 0;
}

.contact-form button{
    background: #323493;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 50px;
    border-radius: 30px;
    border: none;
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-top: 40px;
}
.contact-form button:hover
{
    background: #02a0fb;
   
    color: #fff;
}

.contact-fm .map{
    padding-right: 0;
   
}
.contact-fm .map iframe{
     height:542px;
}

.w3-container{
	float: left;
    width: 100%;
    margin-top: 12px;
    position: relative;
}
.register-in{
    background: #f7f8fc;
    padding: 60px 0;
}

.regiter-form h3{
    font-size: 20px;
    font-weight: 600;
    color: #323493;;
    border-bottom: 1px dashed #ffff;
    padding: 10px 0;
    margin-bottom: 30px;
}
.regiter-form label{
    margin-bottom: 10px;
}
.regiter-form label span{
    color: #ff4300;
}
.regiter-form .form-control{
    height: 50px;
    line-height: 36px;
    margin: 0 0 30px;
    font-size: 16px;
    color: #323493;
}
.regiter-form select{
    -moz-appearance:none;
    position: relative;
    background: #FFF url(../images/drop-down-arrow.png) no-repeat;
    background-position: right top;
}

.regiter-form button{
    background: #323493;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 30px;
    padding: 10px 60px;
    border: none;
    text-align: center;
    margin: 0 auto;
    display: block;
}


.regiter-form button:hover{
    background: #02a0fb;
    color: #fff;
}
.fileupload{
    position: relative;
    float: right;
    margin-top: -26px !important;
    font-size: 11px !important;
    padding: 5px 19px !important;
    border-radius: 4px !important;
    font-weight: 500 !important;
}
.select2-container .select2-selection--single {
    height: 50px !important;
    font-size: 16px;
    color: #323493;
    line-height: 48px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 48px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 48px !important;
    right: 6px !important;
    color: #888 !important;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #323493  !important;
    color: white;
}
.select2-container {
    margin: 0 0 30px !important;
}