@media screen and (max-width: 550px) {
.contact-info div {
    text-align: right;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    top: -66px !important;
    width: 135px !important;
}
.contact-info div {
    width: 100%;
}
.inner-banner h2 {
    font-size: 38px;
}
.login-form .sec {
	padding-top: 8px;
}

}
@media screen and (max-width: 767px) {
section {
    padding: 50px 0;
}
.contact-info div {
    float: right;
    color: #fff;
}
.contact-info div span, .contact-info div a {
    font-size: 14px;
}
.navbar-toggle {
    background-color: #db6123;
    border: none;
	border-radius: 0;
	margin: 10px 0 10px;
	padding: 15px 12px;
}
.navbar-default .navbar-nav > li::after {
	display: none;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #000;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
	float: none;
	margin-left: 0;
	background-color: #fff;
}
.navbar-nav {
    margin: 0;
    padding: 0;
}
.nav > li {
    padding: 10px 15px;
    color: #fff;
}
.navbar-default .navbar-nav > li > a {
    color: #000;
}
.nav > li {
    padding: 15px 0;
	border-bottom:1px solid #ddd;
}
.nav > li:last-child {
	border-bottom:none;
}
.nav > li > a, .navbar-default .navbar-nav > li > a {
    padding: 0;
	border-bottom: none;
	font-size: 20px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #db6123;
	border-bottom: none;
	background-color: transparent;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #db6123;
	border-bottom: none;
	background-color: transparent;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    top: -46px;
    width: 122px;
}
.main_banner, #offer_section,#abut-inr, #contact_inner {
	border-radius: 0 0 50px 50px;
}
.login_div {
    margin: 40px auto 0;
    top: 80px;
    border-radius: 0;
    left: 0;
    width: 90%;
}
/*=====  Offer CSS BOF  ======*/
#offer_section .owl-theme .owl-controls {
	display: none !important;
}
.news-sub input[type="text"] {
    width: 345px;
}
.newsletter button {
    font-size: 20px;
    left: 275px;
}
.powered {
    /* width: 100%; */
    float: right;
    margin: 10px 0 0;
}
.inner_banner {	
    min-height: 250px;	
}	
.inner_banner .banner_text h1 {	
    padding-top: 120px;	
}	
#about-us h2 {	
    font-size: 30px;	
    line-height: 30px;	
}	
.flex {	
	display: -webkit-block;	
	display: block;	
}	
#abut-inr .inner, #contact-us .inner {	
	margin:15px 0;	
}
}
@media (min-width: 768px) and (max-width: 990px) {
.navbar-nav {
    padding: 0;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    top: -56px;
    width: 132px;
}
.nav > li > a {
    padding: 20px 30px;
}
.main_banner, #offer_section,#abut-inr, #contact_inner {
	border-radius: 0 0 100px 100px;
}
.main_banner h1 {
    padding-top: 60%;
}
/*=====  Offer CSS BOF  ======*/
#offer_section .owl-theme .owl-controls {
	display: none !important;
}
#offer_section .item .ofr_detail a h4 {
    font-size: 14px;
}
.news-sub {
    width: 400px;
}
}
@media (min-width: 991px) and (max-width: 1024px) {
.main_banner, #offer_section,#abut-inr, #contact_inner {
	border-radius: 0 0 100px 100px;
}
.main_banner h1 {
    padding-top: 40%;
}
#offer_section .item .ofr_detail a h4 {
    font-size: 12px;
	line-height: 20px;
}
#offer_section .owl-next {
    margin: 0 -25px 0 0 !important;
}
#offer_section .owl-prev {
    margin: 0 0 0 -25px !important;
}
#about-us img {	
    padding: 125px 0 0;	
}	
}
@media (min-width: 1025px) and (max-width: 1400px) {

}
