
/* 01 : Website Global CSS BOF
========================================================== */
body {
	background: #ffffff;
	font-family: 'Poppins', sans-serif;
}
* {
	margin: 0px;
	padding: 0px;
}
a {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
	line-height: normal;
	outline: none;
} /*Same class available in Boostrap (.img-responsive)*/
iframe {
	border: medium none;
	outline: none;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 color: #7c7c7c;
}
::-moz-placeholder { /* Firefox 19+ */
 color: #7c7c7c;
}
:-ms-input-placeholder { /* IE 10+ */
 color: #7c7c7c;
}
:-moz-placeholder { /* Firefox 18- */
 color: #7c7c7c;
}
/* 02 : Heading Style CSS BOF
=================================================== */
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	line-height: 0;
	font-weight: normal;
}
/* 03 : Paragraph Style CSS BOF
=================================================== */
p {
	padding: 0px;
	margin: 0;
	font-size: 14px;
	color: #313131;
	font-weight: 400;
	line-height: 26px;
}
section {
	padding: 60px 0;
}
/*====================================
=            Helper Class            =
====================================*/
.m-t-10 {
	margin-top: 10px;
}
.m-t-20 {
	margin-top: 20px;
}
.m-t-15 {
	margin-top: 15px;
}
.m-t-25 {
	margin-top: 25px;
}
.m-t-30 {
	margin-top: 30px;
}
.m-t-40 {
	margin-top: 40px;
}
.m-t-50 {
	margin-top: 50px;
}
.m-t-60 {
	margin-top: 60px;
}
.m-t-70 {
	margin-top: 70px;
}
.m-t-120 {
	margin-top: 120px;
}
.m-b-10 {
	margin-bottom: 10px;
}
.m-b-15 {
	margin-bottom: 15px;
}
.m-b-20 {
	margin-bottom: 20px;
}
.m-b-25 {
	margin-bottom: 25px;
}
.m-b-30 {
	margin-bottom: 30px;
}
.p-0 {
	padding: 0;
}
.p-t-0 {
	padding-top: 0;
}
.p-t-10 {
	padding-top: 10px;
}
.p-t-15 {
	padding-top: 15px;
}
.p-t-20 {
	padding-top: 20px;
}
.p-t-25 {
	padding-top: 25px;
}
.p-t-30 {
	padding-top: 30px;
}
.p-b-0 {
	padding-bottom: 0;
}
.p-b-10 {
	padding-bottom: 10px;
}
.p-b-15 {
	padding-bottom: 15px;
}
.p-b-20 {
	padding-bottom: 20px;
}
.p-b-25 {
	padding-bottom: 25px;
}
.p-b-30 {
	padding-bottom: 30px;
}
/* Top CSS BOF
=================================================== */
header {
	background: #028044;
}
.top {
	width: 100%;
	height: auto;
}
.contact-info {
	padding: 13px 0;
	float: right;
}
.contact-info div {
	margin-left: 30px;
	float: left;
	color: #fff;
}
.contact-info div span {
	color: #fff;
	font-size: 18px;
	margin-right: 5px;
}
.contact-info div a {
	color: #fff;
	font-size: 18px;
	font-weight: 400;
}
.contact-info div a:hover {
	color: #1fff94;
	text-decoration: none;
}

/* Navigation CSS BOF
=================================================== */
.navbar {
	border-radius: 0px;
	position: relative;
	top: 0;
	margin-bottom: 0px;
	border: 0px;
}
.nav-bg {
	display: block;
	position: absolute;
	z-index: 1000;
	width: 100%;
}
.navbar-default {
	background: #fff;
	transition: all 0.1s;
	-moz-transition: all 0.1s;
	-webkit-transition: all 0.1s;
	-ms-transition: all 0.1s;
	-o-transition: all 0.1s;
	border: 0px;
	margin: 0;
}
.navbar-nav {
	margin: 0;
	padding: 0;
}
.navbar-brand img {
	width: 100% !important;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	float: left;
	margin-left: 175px;
}
.nav > li {
	position: relative;
	display: block;
	padding: 0;
}
.nav > li > a {
    display: block;
    margin: 0;
    padding: 30px 35px;
    position: relative;
}
.navbar-default .navbar-nav > li:last-child::after {
	display: none;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    height: auto;
    padding: 6px 10px;
    position: absolute;
    z-index: 1000;
    top: -52px;
    margin: 0 !important;
    left: 15px;
    background: #fff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
	color: #fff;
	background-color: #db6123;
}
.navbar-default .navbar-nav > li > a {
	color: #000;
	font-size: 18px;
	font-weight: 500;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	-webkit-transition: all .35s;
	transition: all .35s;
	text-transform:uppercase;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #fff;
	background-color: #db6123;
}
/*=====  Banner CSS BOF  ======*/
.main_banner {
	min-height: 700px;
	background-size: cover !important;
	background-position: top center !important;
	margin: 0 0 0;
	position: relative;
	border-radius: 0 0 180px 180px;
	overflow: hidden;
}
.main_banner h1 {
    color: #fff;
    font-size: 65px;
    font-weight: 600;
    line-height: 58px;
    text-align: left;
    width: 100%;
    padding-top: 35%;
}
.main_banner h1 span {
	color: #fff;
	font-size: 37px;
	text-align: center;
	font-style: normal;
	font-weight:300;
}
/*=====  Login CSS BOF  ======*/
.login_div {
	background: rgba(255,255,255,0.5);
	display: block;
	margin: 40px auto 0;
	width: 100%;
	-webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.29);
	-moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.29);
	-ms-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.29);
	box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.29);
}
.login_div h2 {
    font-size: 28px;
    color: #fff;
    width: 100%;
    padding: 0;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 auto;
    background: #028044;
    height: 54px;
    line-height: 54px;
}
.login-form {
	margin: 0;
	padding: 0 40px 50px;
}
.login-form .sec {
	padding-top: 18px;
}
.login-form label {
	font-size: 18px;
	font-weight: 500;
	color: #000;
	margin: 0 0 10px 0;
}
.login-form .form-control {
	background-color: #fff;
	border: none;
	color: #7c7c7c;
	display: block;
	font-size: 14px;
	height: 40px;
	padding: 6px 20px;
	width: 100%;
	margin-top: 0;
	font-weight: 400;
	border-radius:0;
}
.login-form .login_btn {
    text-transform: uppercase;
    background: #db6123;
    font-size: 24px;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    width: 180px;
    border: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin: 30px auto 0px;
    display: block;
	font-weight: 600;
	height: 51px;
}
.login-form .login_btn:hover {
	background: #028044;
	color: #fff;
	text-decoration: none;
}
.login-form .forgot {
    font-size: 18px;
    color: #000;
    text-align: left;
    width: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-weight: 500;
    display: inline-block;
	float: left;
	cursor: pointer;
}
.login-form .forgot:hover {
	color: #fff;
	text-decoration: underline;
}

/*=====  Offer CSS BOF  ======*/
#offer_section  {
	width: 100%;
	display: block;
	background:#fff;
	border-radius: 0 0 180px 180px;
	overflow: hidden;
	position:relative;
	z-index:1;
}
.title h2 {
    font-size: 50px;
    font-weight: 700;
    color: #028044;
    position: relative;
    text-align: center;
    line-height: 49px;
	text-transform: uppercase;
}
.title h2 span {
    padding: 0 0 3px;
    font-size: 20px;
    font-weight: 400;
    color: #000;
    float: left;
    line-height: normal;
    width: 100%;
}
.title h2::before {
    content: "";
    background: url(../images/devider.png) no-repeat;
    width: 172px;
    height: 3px;
    position: absolute;
    left: 0px;
    bottom: -10px;
    right: 0;
    margin: 0 auto;
}
#offer_section h1 {
	font-size: 35px;
	font-weight: 600;
	text-transform: none;
	color: #000000;
	position: relative;
	line-height: 45px;
	padding-bottom: 18px;
	text-align: center;
}
#offer_section h1::before {
	content: "";
	background: #faa71a;
	width: 60px;
	height: 2px;
	position: absolute;
	left: 0px;
	bottom: 0px;
	margin: 0 auto;
	right: 0
}
#offer_section .item .ofr {
	background: #fff;
	overflow: hidden;
	border:1px solid #e3e3e3;
	border-radius: 10px;
	overflow: hidden;
}
#offer_section .item .ofr_image {
	display: block;
	overflow: hidden;
	position: relative;
	border-radius: 10px;
}
#offer_section .item .ofr_image img {
	width: 100%;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#offer_section .item .ofr:hover img {
	transform: scale(1.1);
}
#offer_section .item .ofr_detail {
	padding: 20px;
	overflow: hidden;
	text-align: center;
	position: relative;
}
#offer_section .item .ofr_detail a h4 {
	padding: 0;
	font-size: 16px;
	font-weight: 500;
	color: #1a1a1a;
	display: inline-block;
	line-height: 25px;
	z-index: 1;
	position: relative;
	text-transform: none;
}
#offer_section .item .ofr_detail a:hover h4 {
	color: #028044;
	text-decoration: none;
}
#offer_section .item .ofr_detail .text {
	padding: 15px 0 0;
	z-index: 1;
	position: relative;
	margin:10px 0 0;
}
#offer_section .item .ofr_detail .date {
	font-size: 13px;
	font-weight: 500;
	color: #656565;
	float:left;
}
#offer_section .item .ofr_detail  .text a  {
	font-size: 13px;
	font-weight: 500;
	color: #db6123;
	text-transform: uppercase;
	float:right;
}
#offer_section .item .ofr_detail .text a:hover {
	color: #028044;
	text-decoration: none;
}
#offer_section .owl-carousel {
	padding-top: 15px;
}
#offer_section .item {
	position: relative;
	display: block;
	overflow: hidden;
	height: auto;
	padding: 15px;
	margin-top: 30px;
}
#offer_section .owl-theme .owl-controls {
	display: block;
	text-align: center;
	position: absolute;
	width: 100%;
	top: 50%;
}
#offer_section .owl-prev, #offer_section .owl-next {
	background: transparent !important;
	display: inline-block !important;
	margin: 0 0 0 -30px !important;
	text-align: center !important;
	font-size: 30px !important;
	color: #000 !important;
	opacity: 0.3 !important;
	border-radius: 0 !important;
	line-height: 41px;
	float: left;
}
#offer_section .owl-next {
	float: right;
	margin: 0 -30px 0 0 !important;
}
#offer_section .owl-prev:hover, #offer_section .owl-next:hover {
	background: transparent !important;
	color: #000 !important;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	opacity: 1 !important;
}
#offer_section .owl-pagination {
	display: none;
}


/*====================Footer==================*/
footer {
	background: #daf0e6;
	padding-top: 230px;
	margin-top: -180px;
}
.ftr-cntc h3, .quick-links h3, .newsletter h3 {
	font-size: 25px;
	color: #028044;
	padding: 15px 0;
	line-height: normal;
	font-weight: 600;
	text-transform:uppercase;
}
.ftr-cntc p {
	text-align: left;
	padding: 0;
	font-size:16px;
	color:#2f2f2f;
	font-weight: 300;
}
.ftr-cntc ul {
	list-style: none;
	display: block;
	padding: 0;
	margin: 20px 0 0;
}
.ftr-cntc ul li {
	line-height:45px;
	clear: both;
	float: left;
	padding: 7px 0;
	font-size: 16px;
	font-weight: 400;
	color: #2f2f2f;
}
.ftr-cntc ul li i {
	color: #028044;
	float: left;
	margin-right: 10px;
	height: 46px;
	width: 46px;
	text-align: center;
	font-size: 20px;
	line-height: 46px;
	background: transparent;
	border-radius: 50%;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	border:1px solid #028044;
}
.fnt-sz-25 {
	font-size: 25px !important;
}
.fnt-sz-22 {
	font-size: 22px !important;
}
.ftr-cntc ul li a {
	font-size: 16px;
	font-weight: 400;
	color: #2f2f2f;
	text-decoration: none;
	display: inline-block;
}
.ftr-cntc ul li a:hover {
	color: #028044;
	text-decoration: none;
}
.quick-links ul {
	display: inline-block;
	padding: 0;
	margin: 0;
}
.quick-links ul li {
	float: left;
	width: 100%;
	padding: 10px 0;
	list-style: none;
	font-size: 16px;
	font-weight:400;
}
.quick-links ul li i {
	color: #2f2f2f;
	margin-right: 10px;
}
.quick-links ul li a {
	color: #2f2f2f;
}
.quick-links ul li a:hover {
	color: #db6123;
	text-decoration: none;
}
.newsletter p {
	padding: 0;
	text-align: left;
	font-size:15px;
	color: #2f2f2f;
	font-weight:300;
}
.news-sub {
	position: relative;
	margin: 20px 0 0;
}
.news-sub input[type="text"] {
	height: 50px;
	width: 100%;
	background: #fff;
	border-radius: 0px;
	margin: 0;
	padding: 0 0 0 15px;
	color:#333;
	font-size:15px;
	font-weight:400;
	border:none;
}
.news-sub button {
	height: 50px;
	width: 70px;
	background: #db6123;
	cursor: pointer;
	border: none;
	position: absolute;
	top: 0;
	right: 0;
	color: #fff;
	font-size: 25px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.news-sub button:hover {
	background: #028044;
	color: #fff;
}
.foot-social {
	text-align: left;
	margin: 20px 0 0;
	width: 100%;
}
.foot-social ul {
	display: inline-block;
	padding: 0;
	margin: 0;
}
.foot-social ul li {
	display: inline-block;
	padding: 0 5px;
	list-style: none;
}
.foot-social ul li a {
	background: transparent;
	height: 46px;
	width: 46px;
	color: #028044;
	display: block;
	border-radius: 50%;
	font-size: 23px;
	line-height: 46px;
	text-align: center;
	border: 1px solid #028044;
}
.foot-social ul li a:hover {
	background: #db6123;
	color: #fff;
	border: 1px solid #db6123;
}
.ftr-btm {
	background:#028044;
	padding: 15px 0;
	overflow: hidden;
	margin: 40px 0 0;
}
.reserved {
	float: left;
}
.reserved p {
	color: #fff;
	font-size: 15px;
	font-weight: 300;
	letter-spacing: 0;
	text-align: left;
	padding-top: 5px;
}
.powered {
	float: right;
}
.powered p {
	display: inline-block;
	vertical-align: middle;
	color: #fff;
	font-size: 15px;
	font-weight: 300;
	text-align: left;
}
.powered a {
	display: inline-block;
}

/*reset password*/
.reset_mid {
    width: 400px;
    margin: auto;
    padding: 50px 0px;
}

.main_reset_sec {
    width: 100%;
    float: left;
    padding: 20px;
}

    .main_reset_sec h2 {
        text-align: center;
        margin-bottom: 18px;
    }

.txt_sec {
    width: 100%;
    height: 36px;
    float: left;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    padding: 0px 10px;
    border: 1px solid #cecece;
}

.txt_sec {
    width: 100%;
    height: 36px;
    float: left;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    padding: 0px 10px;
    border: 1px solid #cecece;
}

.reset_btn {
    width: 100%;
    height: 36px;
    border: none;
    background: #db6123;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #FFF;
    cursor: pointer;
    transition: all linear 0.15s;
}

    .reset_btn:hover {
        background:#3c8044;
    }

.loadrst {
    width: 100%;
    float: left;
    position: relative;
    display: none;
}

.load_reset {
    width: 100%;
    height: 36px;
    border: none;
    background: #db6123;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #FFF;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 9;
    text-align: center;
    line-height: 37px;
}

/* End Reset */


.btn_load {
    width: 181px;
    height: 51px;
    position: relative;
    left: 0px;
    top: -51px;
    background: rgba(20, 97, 148, 0.38);
    color: #FFF;
    text-align: center;
    line-height: 51px;
    font-size: 19px;
    right: 0;
    margin: auto;
}

.inner-banner {
    padding: 80px 0 110px 0;
    overflow: hidden;
    background-size: cover !important;
    width: 100%;
    position: relative;
    background-position: center center!important;
}
.inner-banner h2 {
    color: #fff;
    font-size: 55px;
    text-align: center;
    font-weight: 600;
    line-height: 65x;
}
.privacy-content {
    padding: 60px 0;
}
.privacy-content h4 {
    color: #3c8044;
    letter-spacing: 0;
    text-transform: capitalize;
    font-size: 22px;
    padding: 10px 0;
    line-height: 28px;
}
.privacy-content p {
    font-size: 15px;
    color: #1c1c1c;
    line-height: 25px;
}


/* About Us Page CSS BOF
=================================================== */
#about-us, #abut-inr, #contact-us, #contact_inner  {
	width: 100%;
	display: block;
	position: relative;
}
#about-us h2 {
    font-size: 52px;
    color: #028044;
    line-height: 45px;
    font-weight: 700;
    text-transform: uppercase;
    clear: both;
}
#about-us h2 span {
    font-size: 20px;
    font-weight: 500;
    color: #424242;
    width: 100%;
    display: block;
}
#about-us p {
	padding:30px 0 0;
}
#about-us img {
	padding:15px 0 0;
}
.inner_banner {
	padding:0;
	min-height: 408px;
	position: relative;
	background-size: cover !important;
	background-position: center center !important;
}
.inner_banner .banner_text h1 {
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    line-height: 80px;
    text-align: left;
    width: 100%;
    padding-top: 245px;
}
.breadcrumbs1_wrapper {
	display: block;
	position: relative;
	margin-top: -44px;
	background: rgba(0,0,0,0.5);
}
.breadcrumbs1 {
	padding: 12px 0;
	margin-top: 0px;
	line-height: 20px;
	color: #fff;
	font-size: 17px;
	font-weight: 400;
	text-align: left;
}
.breadcrumbs1 a {
	color: #fff;
	font-weight: 400;
	text-decoration: none;
}
.breadcrumbs1 a:hover {
	color: #1fff94;
	text-decoration: none;
}
.breadcrumbs1 span {
	font-size: 11px;
	display: inline-block;
	margin: 0 10px;
	vertical-align: middle;
	color: #fff;
	font-weight: 700;
}
.flex {
	display: -webkit-flex;
	display: flex;
}
#abut-inr {
	padding:10px 0 90px;
	width:100%;
	display:block;
	background:#fff;
	border-radius: 0 0 180px 180px;
	overflow: hidden;
	position:relative;
	z-index:1;
}
#abut-inr .inner {
	background: #fff;
	min-height: 100%;
	text-align: center;
	border-radius:10px;
	-webkit-box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.4);
	-ms-box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.4);
	box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.4);
	padding:25px 15px;
}
#abut-inr .inner .round-shape {
	background: #daf0e6;
	display: inline-block;
	line-height: 92px;
	text-align: center;
	width: 92px;
	height: 92px;
	border-radius: 100%;
	position: relative;
	padding: 15px 0;
}
#abut-inr .inner .round-shape svg {
	display: inline-block;
	fill: #028044;
	text-align: center;
	width: 60px;
	height: 60px;
}
#abut-inr .inner h3, #contact-us .inner h3 {
	color: #028044;
	font-size: 30px;
	padding-top: 15px;
	text-transform: none;
	font-weight: 600;
	line-height: normal;
}
#abut-inr .inner p, #contact-us .inner p {
	padding-top: 15px;
	color:#2f2f2f;
	line-height:25px;
}

/* Contact Us Page CSS BOF
=================================================== */
#contact-us {
	background:#fff;
}
#contact-us .inner {
	background: #daf0e6;
	min-height: 100%;
	text-align: center;
	padding:25px 15px;
}
#contact-us .inner .round-shape {
	background: #028044;
	display: inline-block;
	line-height: 74px;
	text-align: center;
	width: 74px;
	height: 74px;
	border-radius: 100%;
	position: relative;
	padding: 4px 0;
}
#contact-us .inner .round-shape svg {
	display: inline-block;
	fill: #fff;
	text-align: center;
	width: 70px;
	height: 70px;
}
#contact-us .inner p {
	font-weight:500;
	font-size:16px;
	padding: 5px 0 0;
}
#contact-us .inner p a{
	color:#313131;
	text-decoration:none;
}
#contact-us .inner p a:hover{
	color:#db6123;
	text-decoration:none;
}
#contact_inner {
	background:#fff;
	padding-top:0;
	border-radius: 0 0 180px 180px;
	overflow: hidden;
	position:relative;
	z-index:1;
}
#contact_inner .cntc {
	background:#fff;
	display: inline-block;
	width: 100%;
	margin-top: 20px;
	-webkit-box-shadow: 0px 0 18px 1px rgba(0,0,0,0.11);
	-moz-box-shadow: 0px 0 18px 1px rgba(0,0,0,0.11);
	-ms-box-shadow: 0px 0 18px 1px rgba(0,0,0,0.11);
	box-shadow: 0px 0 18px 1px rgba(0,0,0,0.11);
}
#contact_inner form {
	margin: 0;
	padding: 20px;
}
#contact_inner form h5 {
	color: #757575;
	font-size: 16px;
	text-transform: none;
	font-weight: 400;
	line-height: normal;
}
#contact_inner form h2 {
	color: #757575;
	font-size: 36px;
	text-transform: none;
	font-weight: 700;
	line-height: 35px;
}
#contact_inner form h2 span {
	font-weight: 400;
}
#contact_inner .padding {
	padding-top: 20px;
}
#contact_inner .input-group {
	background-color: #fff;
	border: 1px solid #e6e6e6;
	display: inline-block;
	width: 100%;
	margin-top: 0;
	font-weight: 400;
}
#contact_inner .form-control {
	background-color: transparent;
	border: none;
	color: #757575;
	display: block;
	font-size: 16px;
	height: 66px;
	line-height: 1.42857;
	padding: 6px 20px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	width: 100%;
	z-index: 1;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}
#contact_inner textarea.form-control {
	height: 110px;
	resize: none;
	padding: 20px 25px;
}
.send {
	background: #028044;
	font-size: 16px;
	color: #fff;
	padding: 12px 0;
	text-align: center;
	width: 224px;
	border: none;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	margin:5px 0;
	display: block;
	font-weight: 600;
	text-transform:uppercase;
}
.send:hover {
	background: #db6123;
	color: #fff;
	text-decoration: none;
}
.map-responsive {
	overflow: hidden;
	padding-bottom:442px;
	position: relative;
	height: auto;
	margin-bottom: 0;
}
.map-responsive iframe {
	left: 0;
	top: 0;
	height: 502px;
	width: 100%;
	position: absolute;
}

