@media screen and (max-width: 767px) {
    header {
        height: 160px;
    }
    /*=====  Navbar CSS BOF  ======*/
    .navbar-toggle {
        background: #000;
        border: none;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        border-radius: 3px;
        margin: 115px 0 0;
        width: 100%;
        text-align: right;
        height: 38px;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #FFDF24;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background-color: #000;
    }

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        margin-top: 0;
        position: absolute;
        right: 0;
        width: 94%;
        z-index: 999;
        padding: 0;
        background: #3f3f3f;
        border-radius: 3px;
        border: none;
        left: 3%;
    }

    .navbar-nav {
        margin: 0;
    }

    .nav > li {
        padding: 0;
        text-align: center;
        width: 100%;
        border-bottom: 1px dashed #826f08;
    }

    .navbar-default .navbar-nav > li > a {
        color: #edce01;
        font-size: 13px;
        font-weight: 300;
        padding: 10px 0;
    }

        .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
            color: #000;
            background: #EDCE01;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            border-radius: 0;
            font-weight: 700;
        }

    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
        color: #000;
        background: #EDCE01;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 0;
        font-weight: 700;
    }

    .navbar-header {
        width: 100%;
    }

    .navbar-brand img {
        margin: 0 auto;
        width: 356px !important;
        display: block;
    }

    .navbar-brand {
        float: none;
        width: 97% !important;
    }

    .login_div {
        width: 80%;
        background: rgba(228,180,72,0.93);
        min-height: 495px;
        position: absolute;
        display: inline-block;
        right: 0;
        left: 0;
        margin: 0 auto;
    }

    .contact_detail {
        width: 80%;
        display: inline-block;
        right: 0;
        left: 0;
        margin: 0 auto;
        height: auto !important;
    }

        .contact_detail ul li i {
            margin-right: 15px;
            width: 30px;
            height: 30px;
            line-height: 30px;
            font-size: 16px;
        }

        .contact_detail ul li a {
            font-size: 17px;
            margin-top: 0;
        }

        .contact_detail ul li {
            padding: 30px 0 0;
        }

    .ftr_nav ul li {
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        padding: 5px 5px;
        display: inline-block;
    }

    .txt-cntr {
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 990px) {
    /*=====  Navbar CSS BOF  ======*/
    .navbar-default .navbar-brand {
        width: 200px !important;
        top: 0 !important;
    }

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        padding: 22px 0;
    }

    .nav > li > a {
        padding: 5px 6px !important;
    }

    .navbar-default .navbar-nav > li > a {
        font-size: 12px !important;
    }

    .login_div {
        width: 420px;
    }

    .contact_detail {
        width: 100%;
        left: 10%;
        height: auto;
    }

        .contact_detail ul li i {
            margin-right: 15px;
            width: 30px;
            height: 30px;
            line-height: 30px;
            font-size: 16px;
        }

        .contact_detail ul li a {
            font-size: 17px;
            margin-top: 0;
        }

        .contact_detail ul li {
            padding: 30px 0 0;
        }
}

@media (min-width: 991px) and (max-width: 1024px) {
    /*=====  Navbar CSS BOF  ======*/
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        padding: 22px 0;
    }

    .navbar-default .navbar-brand {
        width: 300px !important;
    }

    .navbar-nav {
        margin: 0;
    }

    .contact_detail {
        width: 100%;
        left: 10%;
        height: auto;
    }

        .contact_detail ul li i {
            margin-right: 15px;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 20px;
        }

        .contact_detail ul li a {
            font-size: 17px;
            margin-top: 15px;
        }

        .contact_detail ul li {
            padding: 30px 0 0;
        }
}

@media (min-width: 1025px) and (max-width: 1400px) {
    .contact_detail {
        width: 80%;
        left: 20%;
    }
}

@media screen and (max-width: 400px) {
    .navbar-brand img {
        margin: 0 auto;
        width: 230px !important;
        display: block;
    }

    .navbar-toggle {
        margin: 76px 0 0;
    }

    header {
        height: 131px;
    }

    .login_div {
        width: 93%;
    }
}
