body {
    background-color: #fff;
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 700;
    line-height: 1.1;
    margin: 0;
    padding: 0;
}

a {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

    a:focus {
        outline: none;
        text-decoration: none;
    }

    a:hover {
        color: #000;
    }

p {
    font-weight: 300;
    text-align: center;
    line-height: 22px;
    margin: 0;
    padding: 0;
    color: #444 !important;
}


/*=====  Navbar CSS BOF  ======*/
.navbar-default {
    background: #fff;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
    border: 0px;
    z-index: 2;
}

.navbar {
    margin-bottom: 0px;
    z-index: 999;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navbar-nav {
    margin: 0;
}

.navbar-brand img {
    width: 100% !important;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    padding: 34px 0;
}

.nav > li {
    position: relative;
    display: block;
    padding: 0 2px;
}

    .nav > li > a {
        display: block;
        margin: 0;
        padding: 5px 10px;
        position: relative;
    }

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    width: 350px;
    height: auto;
    padding: 0;
    position: absolute;
    z-index: 1000;
    margin: 11px 0 0 !important;
}

.top-nav-collapse {
    padding: 0;
    top: 0;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #fff;
    background: #000;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.navbar-default .navbar-nav > li > a {
    color: #000;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        color: #fff;
        background: #000;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
    }

.nav > li > a:focus, .nav > li > a:hover {
    color: #fff;
    background: #000;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.s-m-l {
    margin-left: 20px;
}

/*=====  Banner CSS BOF  ======*/
.main_banner {
    min-height: 495px;
    position: relative;
    background-size: cover !important;
    background-position: top center !important;
}
/*=====  Login CSS BOF  ======*/
.login_div {
    width: 510px;
    background: rgba(228,180,72,0.93);
    min-height: 495px;
    position: absolute;
    display: block;
    right: 0;
}

    .login_div h1 {
        font-family: 'Roboto Slab', serif;
        background: #060606;
        font-size: 28px;
        color: #fff;
        width: 100%;
        padding: 15px 0;
        text-align: center;
        font-weight: 700;
    }

.login-form {
    margin: 0;
    padding: 30px;
}

.forgot_form {
    display: none;
}

.login-form .sec {
    padding-bottom: 12px;
}

    .login-form .sec a {
        font-family: 'Roboto Slab', serif;
        font-size: 18px;
        color: #060606;
        padding: 30px 0 0;
        text-align: center;
        width: auto;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        font-weight: 400;
        display: block;
        cursor: pointer;
    }

.btn_load {
    width: 220px;
    margin: auto;
    height: 48px;
    position: relative;
    margin-top: -48px;
    border-radius: 5px;
    background: rgba(228, 118, 0, 0.78);
    text-align: center;
    line-height: 49px;
    font-size: 19px;
    color: #FFFF;
}

.login-form label {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #060606;
    margin: 0;
}

.login-form .form-control {
    background-color: #f9f0dd;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    color: #72838f;
    display: block;
    font-size: 16px;
    height: 44px;
    padding: 6px 15px;
    width: 100%;
    z-index: 1;
    box-shadow: none;
    margin-top: 5px;
}

.login-form .login_btn {
    font-family: 'Roboto Slab', serif;
    background: #060606;
    font-size: 22px;
    color: #fff;
    padding: 12px 0;
    text-align: center;
    width: 220px;
    border: 1px solid #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin: 0 auto;
    display: block;
    font-weight: 700;
}

    .login-form .login_btn:hover {
        background: #fff;
        color: #000;
        text-decoration: none;
    }

.login-form .forgot {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    color: #060606;
    padding: 30px 0 0;
    text-align: center;
    width: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-weight: 400;
    display: block;
}

    .login-form .forgot:hover {
        color: #fff;
        text-decoration: underline;
    }

.form__checkbox {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    display: block;
}

.form__checkbox--inline {
    display: inline-block;
}

.form__checkbox input[type=checkbox] {
    position: absolute;
    visibility: hidden;
}

    .form__checkbox input[type=checkbox][disabled] ~ .checkbox {
        background-color: #f8efdb;
    }

    .form__checkbox input[type=checkbox][disabled] ~ label {
        font-size: 16px;
        font-weight: 400;
        color: #060606;
    }

.form__checkbox label i {
    color: #ffbe00 !important;
}

.form__checkbox input[type=checkbox]:checked ~ .checkbox {
    background-color: #f8efdb;
}

    .form__checkbox input[type=checkbox]:checked ~ .checkbox:before {
        -webkit-transform: scale(1) rotate(45deg);
        -moz-transform: scale(1) rotate(45deg);
        -ms-transform: scale(1) rotate(45deg);
        -o-transform: scale(1) rotate(45deg);
        transform: scale(1) rotate(45deg);
    }

.form__checkbox input[type=checkbox]:checked ~ label {
    font-size: 16px;
    font-weight: 400;
    color: #060606;
}

.form__checkbox input[type=checkbox]:checked[disabled] ~ .checkbox {
    background-color: #f8efdb;
}

    .form__checkbox input[type=checkbox]:checked[disabled] ~ .checkbox:before {
        -webkit-transform: scale(1) rotate(45deg);
        -moz-transform: scale(1) rotate(45deg);
        -ms-transform: scale(1) rotate(45deg);
        -o-transform: scale(1) rotate(45deg);
        transform: scale(1) rotate(45deg);
    }

.form__checkbox input[type=checkbox]:checked[disabled] ~ label {
    font-size: 16px;
    font-weight: 400;
    color: #060606;
}

.form__checkbox label {
    position: relative;
    z-index: 9;
    display: block;
    color: #060606;
    font-weight: 400;
    height: 20px;
    line-height: 23px;
    cursor: pointer;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    padding: 0 0 0 30px;
}

.form__checkbox .checkbox {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 5;
    display: block;
    background-color: #f8efdb;
    height: 20px;
    width: 20px;
    -moz-transition: border 0.2s ease-in-out;
    -webkit-transition: border 0.2s ease-in-out;
    -o-transition: border 0.2s ease-in-out;
    transition: border 0.2s ease-in-out;
    border: none;
    margin-top: -10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}

    .form__checkbox .checkbox:before {
        position: absolute;
        top: 50%;
        right: 50%;
        display: block;
        width: 6px;
        height: 12px;
        border: 2px solid #060606;
        border-top: 0;
        border-left: 0;
        content: '';
        -moz-transition: background 0.2s ease-in-out, transform 0.15s ease-in-out;
        -webkit-transition: background 0.2s ease-in-out, transform 0.15s ease-in-out;
        -o-transition: background 0.2s ease-in-out, transform 0.15s ease-in-out;
        transition: background 0.2s ease-in-out, transform 0.15s ease-in-out;
        -webkit-transform: scale(0) rotate(45deg);
        -moz-transform: scale(0) rotate(45deg);
        -ms-transform: scale(0) rotate(45deg);
        -o-transform: scale(0) rotate(45deg);
        transform: scale(0) rotate(45deg);
        margin: -7px -3px 0 0;
    }

/*=====  Map CSS BOF  ======*/
.map {
    width: 100%;
    height: 636px;
    position: relative;
}

.reset_main {
    width: 100%;
    float: left;
}

.reset_mid {
    width: 400px;
    margin: auto;
    padding: 50px 0px;
}

.main_reset_sec {
    width: 100%;
    float: left;
    padding: 20px;
}

    .main_reset_sec h2 {
        text-align: center;
        margin-bottom: 18px;
    }

.txt_sec {
    width: 100%;
    height: 36px;
    float: left;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    padding: 0px 10px;
    border: 1px solid #cecece;
}

.txt_sec {
    width: 100%;
    height: 36px;
    float: left;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    padding: 0px 10px;
    border: 1px solid #cecece;
}

.reset_btn {
    width: 100%;
    height: 36px;
    border: none;
    background: #dea81e;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #FFF;
    cursor: pointer;
    transition: all linear 0.15s;
}

    .reset_btn:hover {
        background: #f0cf87;
    }

.loadrst {
    width: 100%;
    float: left;
    position: relative;
    display: none;
}

.load_reset {
    width: 100%;
    height: 36px;
    border: none;
    background: #9db84b;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #FFF;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 9;
    text-align: center;
    line-height: 37px;
}



.contact_detail {
    font-family: 'Open Sans', sans-serif;
    width: 60%;
    display: block;
    position: absolute;
    left: 50%;
    top: -536px;
    background: rgba(0,0,0,0.7);
    height: 450px;
    padding: 0 30px 30px;
}

    .contact_detail ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .contact_detail ul li {
            clear: both;
            float: left;
            font-size: 15px;
            font-weight: 400;
            padding: 45px 0 0;
            color: #fff;
            line-height: 24px;
        }

            .contact_detail ul li i {
                color: #fff;
                float: left;
                margin-right: 25px;
                width: 50px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                border: 1px solid #fff;
                font-size: 25px;
            }

            .contact_detail ul li a {
                color: #fff;
                text-decoration: none;
                font-size: 28px;
                font-weight: 400;
                margin-top: 12px;
                display: inline-block;
            }

                .contact_detail ul li a:hover {
                    color: #ffbe2c;
                    text-decoration: none;
                }
/*=====  Footer CSS BOF  ======*/
.ftr_nav {
    background: url(../images/ftr-bg.jpg) repeat;
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

    .ftr_nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .ftr_nav ul li {
            color: #fff;
            font-size: 18px;
            font-weight: 500;
            padding: 10px;
            display: inline-block;
        }

            .ftr_nav ul li a {
                color: #fff;
                text-decoration: none;
            }

                .ftr_nav ul li a:hover {
                    color: #ffbe2c;
                }

.cpyrght {
    width: 100%;
    min-height: 44px;
    padding: 5px 0;
    float: left;
    background: url(../Images/footer_sec.png) repeat;
}

.certifctn {
    width: auto;
    height: 33px;
    float: left;
    margin-top: 15px;
}

.scl {
    width: auto;
    height: 33px;
    float: right;
    margin-top: 25px;
}
