
@media(max-width:1200px) {
	.top::before {
		width: 64%;
	}
	.login-form {
		width: 60%;
	}
	.carousel-inner>.item {
		min-height: 550px;
	}
	.login-form {
		margin-top: -380px;
	}
    .banner_text h3{font-size: 36px;}
    .banner_text h1{
        font-size: 60px;
        line-height: 55px;
    }
}
@media(max-width:1024px){
    .login-form{margin-top: -340px;}
}
@media(max-width:991px) {
	.navbar-default .navbar-brand,
	.navbar-default .navbar-brand:hover,
	.navbar-default .navbar-brand:focus {
		margin-top: 18px;
	}
	.top::before {
		display: none;
	}
	.top {
		background: #741e41;
		height: auto;
	}
	.h-detail {
		text-align: center;
		padding-left: 0;
		margin: 0;
		padding: 10px;
	}
	.nav>li>a {
		padding: 28px 20px;
	}
	.login-form {
		width: 70%;
	}
	.carousel-inner>.item {
		min-height: 550px;
	}
	.login-form {
		margin-top: -351px;
	}
	.banner_text h1 {
		font-size: 50px;
		line-height: 50px;
	}
	.banner_text h3 {
		font-size: 30px;
	}
	footer {
		background: #f7f8fc;
		padding-top: 30px;
	}
    .login-form form .form-control{margin-bottom: 15px;}
    .login-form form {padding: 30px 50px 30px 50px;}
    .contact-in{margin-top: 30px;}
    .map iframe{height: 400px;}
    .form-control{height: 42px;}
    .contact-form h3{font-size: 40px;}
    .get-touch h3{
        font-size: 30px;
    }
}

@media screen and (max-width: 767px) {
	/*=====  Top CSS BOF  ======*/
	.top::before {
		display: none;
	}
	/*=====  Navbar CSS BOF  ======*/
	.navbar-toggle {
		background: #741e41;
		border: none;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-ms-border-radius: 5px;
		border-radius: 5px;
		margin: 18px 0 0;
		padding: 14px 10px
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}
	.navbar-default .navbar-toggle:focus,
	.navbar-default .navbar-toggle:hover {
		background-color: #ffc800;
	}
	.navbar-default .navbar-collapse,
	.navbar-default .navbar-form {
		margin-top: 0;
		position: absolute;
		right: 0;
		width: 100%;
		z-index: 999;
		padding: 0;
		background: #fff;
		border: none;
		top: 78px;
	}
	.navbar-default .navbar-nav>li>a::after {
		display: none;
	}
	.navbar-default .navbar-nav>li>a {
		border-bottom: 1px solid #000;
	}
	.navbar-nav {
		margin: 0;
	}
	.nav>li {
		padding: 0;
		text-align: left;
		width: 100%;
	}
	.nav>li:last-child {
		border-bottom: none;
	}
	.navbar-default .navbar-nav>li>a {
		color: #2f2f2f;
		padding: 18px 10px;
		position: relative;
		font-size: 20px;
	}
	.navbar-default .navbar-nav>.active>a,
	.navbar-default .navbar-nav>.active>a:focus,
	.navbar-default .navbar-nav>.active>a:hover {
		background: #ffc800;
		color: #fff !important;
	}
	.navbar-default .navbar-nav>li>a:hover,
	.navbar-default .navbar-nav>li>a:focus {
		background: #ffc800;
		color: #fff!important;
		text-decoration: none;
	}
	.navbar-default .navbar-nav>li>a.active {
		background: #ffc800;
		color: #fff;
		text-decoration: none;
	}
	.navbar-brand img {
		margin-top: 0;
		width: auto!important;
	}
	.navbar-brand {
		float: none;
	}
	.navbar-default .navbar-brand,
	.navbar-default .navbar-brand:hover,
	.navbar-default .navbar-brand:focus {
		margin: 10px 0 0;
	}
	.navbar {
		min-height: auto!important;
		margin-bottom: 15px;
	}
    .d-none{display: block!important;}
    .top{display: none;}
	.carousel-inner>.item {
		min-height: 400px;
	}
	.carousel {
		clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)
	}
	.foot-social ul li a {
		height: 42px;
		width: 42px;
		line-height: 40px;
		font-size: 18px;
	}
	.ftr-cntc h3,
	.quick-links h3,
	.newsletter h3 {
		font-size: 24px;
	}
	.Powered {
		width: 100%;
		float: left;
		margin: 10px 0 0;
	}
	.h-detail li {
		line-height: 30px;
	}
	.banner_text {
		top: 15%;
	}
	.login-form {
		margin: 0 auto;
		margin-top: -273px;
		text-align: center;
		float: none;
	}
	.news-sub button {
		width: 18%;
	}
    .banner_text h3{
        font-size: 26px;
    }
    .banner_text h1{
        font-size: 40px;
        line-height: 40px;
    }
    
    .flex-box{display: block;}
    .about-info{margin-bottom: 40px;}
    .our-mission-in{padding: 30px 0 0 0;}
    .about-in{padding: 30px 0;}
    .about-text h3{
        font-size: 24px;
        line-height: 30px;
    }
    .inner-banner{padding: 40px 0 70px 0;}
    .inner-banner h2{font-size: 40px;}
    .map{padding-bottom: 30px;}
    .contact-form h3{font-size: 30px;}
    .map iframe{height: 300px;}
}

@media (min-width: 768px) and (max-width: 990px) {
	.top::before {
		width: 70%;
	}
	.navbar-default .navbar-brand,
	.navbar-default .navbar-brand:hover,
	.navbar-default .navbar-brand:focus {
		width: 192px;
	}
	.carousel-inner>.item {
		min-height: 500px;
	}
	.Powered {
		margin-right: 60px;
	}
}

@media (min-width: 991px) and (max-width: 1024px) {
	.top::before {
		width: 64%;
	}
	.carousel-inner>.item {
		min-height: 500px;
	}
	.Powered {
		margin-right: 40px;
	}
}

@media(max-width:600px) {
	.banner_text {
		top: 15%;
	}
	.login-form {
		width: 90%;
	}
	.banner_text h1 {
		font-size: 40px;
		line-height: 40px;
	}
	.banner_text h3 {
		font-size: 24px;
	}
	.login-form form {
		padding: 30px 30px 30px 30px;
	}
	.login-form form .form-control {
		height: 45px;
	}
	.login-form h2 {
		font-size: 26px;
	}
	.login-form form .btn {
		padding: 7px 45px;
	}
	.news-sub button {
		width: 25%;
	}
}

@media(max-width:400px) {
	.navbar-brand img {
		width: 80% !important;
	}
	.navbar {
		margin-bottom: 9px;
	}
	.navbar-toggle {
		margin: 12px 0 0;
	}
	.login-form {
		width: 100%;
	}
	.banner_text h1 {
		font-size: 36px;
		line-height: 38px;
	}
	.navbar-default .navbar-collapse,
	.navbar-default .navbar-form {
		top: 64px;
	}
	.news-sub button {
		width: 30%;
	}
}


