* {
    margin: 0;
    padding: 0;
}

img {
    outline: none;
}

body {
    background-color: #fff;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 700;
    line-height: 1.1;
    margin: 0;
    padding: 0;
}

a {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

p {
    font-weight: 400;
    line-height: 26px;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
/*=====  Navbar CSS BOF  ======*/
.navbar-default {
    background: #fff;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
    border: 0px;
    z-index: 2;
    height: 54px;
    display: inline-block;
    width: 100%;
}

    .navbar-default::before {
        border-top: 70px solid #fff;
        border-left: 478px solid transparent;
        border-right: 1100px solid transparent;
        content: "";
        height: 0;
        left: 0px;
        position: absolute;
        bottom: -75px;
        width: 0;
    }

.navbar {
    margin-bottom: 0px;
    z-index: 999;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navbar-nav {
    margin: 0;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    padding: 27px 0;
}

.nav > li {
    display: block;
    padding: 0 24px;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    width: auto;
    height: auto;
    padding: 7px 0;
    position: absolute;
    z-index: 1000;
    margin: 0 0 !important;
}

.top-nav-collapse {
    padding: 0;
    top: 0;
}

.navbar-default .navbar-nav > li > a {
    color: #373737;
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 0 5px;
    position: relative;
}

    .navbar-default .navbar-nav > li > a::before {
        top: -10px;
        transform: translateY(-10px);
    }

    .navbar-default .navbar-nav > li > a::before, .navbar-default .navbar-nav > li > a::after {
        position: absolute;
        left: 0px;
        width: 100%;
        height: 2px;
        background: #ed1c24;
        content: "";
        opacity: 0;
        transition: all 0.3s;
    }

    .navbar-default .navbar-nav > li > a::after {
        bottom: -10px;
        transform: translateY(10px);
    }

    .navbar-default .navbar-nav > li > a:hover::before, .navbar-default .navbar-nav > li > a:hover::after {
        opacity: 1;
        transform: translateY(0px);
    }

    .navbar-default .navbar-nav > li > a.active::before, .navbar-default .navbar-nav > li > a.active::after {
        opacity: 1;
        transform: translateX(0px);
    }

    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        color: #000;
        text-decoration: none;
    }

    .navbar-default .navbar-nav > li > a.active {
        color: #000;
        text-decoration: none;
    }
/*=====  Banner CSS BOF  ======*/
.main_banner {
    min-height: 871px;
    position: relative;
    background-size: cover !important;
    background-position: top center !important;
}

    .main_banner::before {
        border-bottom: 195px solid #fff;
        border-left: 1432px solid transparent;
        border-right: 611px solid transparent;
        content: "";
        height: 0;
        right: 0px;
        position: absolute;
        bottom: 0;
        width: 0;
    }

    .main_banner h1 {
        color: #fff;
        font-size: 48px;
        text-align: left;
        font-weight: 700;
        margin-top: 68%;
        text-shadow: 1px 0px 3px rgba(0,0,0,0.4);
    }

        .main_banner h1 span {
            color: #fff;
            font-size: 36px;
        }

    .main_banner p {
        color: #fff;
        font-size: 17px;
        text-align: left;
        font-weight: 400;
        padding-top: 5px;
    }
/*=====  Login CSS BOF  ======*/
.login_div {
    background: rgba(0,0,0,0.2);
    display: block;
    border: 1px solid #fff;
    margin-top: 200px;
}

    .login_div h2 {
        font-size: 26px;
        color: #fff;
        width: 100%;
        padding: 35px 0 10px;
        text-align: center;
        font-weight: 700;
        text-transform: uppercase;
    }

.login-form {
    margin: 0;
    padding: 10px 38px 30px;
}

.forgot_form {
    margin: 0;
    padding: 10px 38px 30px;
    display: none;
}

    .login-form .sec, .forgot_form .sec {
        padding-top: 15px;
    }

.login-form label {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    margin: 0;
}

.login-form .form-control, .forgot_form .form-control {
    background-color: #0b0a0c;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    color: #fff;
    display: block;
    font-size: 14px;
    height: 46px;
    padding: 6px 15px;
    width: 100%;
    z-index: 1;
    box-shadow: none;
    margin-top: 0;
    font-weight: 300;
}

.login-form .login_btn, .login-form .register_btn, .forgot_form .login_btn {
    background: #ed1c24;
    font-size: 16px;
    color: #fff;
    padding: 12px 0;
    text-align: center;
    width: 100%;
    border: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin: 10px auto 0;
    display: block;
    font-weight: 600;
}

    .login-form .login_btn:hover {
        background: #fff;
        color: #000;
        text-decoration: none;
    }

.login-form .forgot {
    font-size: 15px;
    color: #fff;
    padding: 20px 0 0;
    text-align: center;
    width: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-weight: 400;
    display: block;
}

    .login-form .forgot:hover {
        color: #fff;
        text-decoration: underline;
    }

.login-form .register_btn {
    background: #fff;
    color: #000;
}

    .login-form .register_btn:hover {
        background: #ed1c24;
        color: #fff;
        text-decoration: none;
    }

.login-form .bdr-btm {
    border-bottom: 1px solid rgba(255,255,255,0.5);
    padding: 15px 0;
}

.back {
    color: #FFF;
    cursor: pointer;
}

    .back:hover {
        color: #ed1c24;
    }

    .back i {
        margin-right: 8px;
    }

.forgot_form .login_btn {
    /* margin-bottom: 12px; */
}

.btn_load {
    background: #ed1c24;
    font-size: 21px;
    color: #fff;
    padding: 12px 0;
    text-align: center;
    width: 100%;
    border: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin: -46px auto 0;
    display: block;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    z-index: 9;
}

/* Footer CSS BOF
=================================================== */

footer {
    background: #101111;
    display: block;
    width: 100%;
    position: relative;
    margin-top: 180px;
}

    footer::before {
        border-bottom: 195px solid #101111;
        border-left: 1432px solid transparent;
        border-right: 611px solid transparent;
        content: "";
        height: 0;
        right: 0px;
        position: absolute;
        top: -195px;
        width: 0;
    }

    footer .inner {
        display: block;
        width: 100%;
        margin-top: -50px;
    }

    footer .about {
        width: 100%;
        display: block;
        text-align: center;
    }

        footer .about .ftr-logo {
            text-align: center;
            position: relative;
            margin: 40px 0 0;
        }

        footer .about h6 {
            font-weight: 400;
            text-align: center;
            margin-top: 15px;
            font-size: 15px;
            color: #6b6b6b;
            position: relative;
            z-index: 1;
            background: #101111;
        }

            footer .about h6::before {
                left: 20px;
                transform: translateX(10px);
            }

            footer .about h6::after {
                right: 20px;
                transform: translateX(-10px);
            }

            footer .about h6::before, footer .about h6::after {
                position: absolute;
                opacity: 1;
                top: 10px;
                transition: all 0.3s;
                width: 58px;
                height: 1px;
                content: "";
                background: #282929;
            }
        /* Footer Social CSS BOF
=================================================== */
        footer .about .social {
            display: inline-block;
            list-style: outside none none;
            margin: 30px auto;
            padding: 0;
        }

            footer .about .social li {
                text-align: center;
                padding: 0 9px 0 0;
                float: left;
            }

                footer .about .social li a {
                    color: #6b6b6b;
                    display: block;
                    height: 33px;
                    line-height: 33px;
                    text-decoration: none;
                    transition: all 0.8s ease-in-out 0s;
                    width: 33px;
                    font-size: 15px;
                    border: 1px solid #6b6b6b;
                }

                    footer .about .social li a:hover {
                        background: #ed1c24;
                        border: 1px solid #ed1c24;
                        color: #fff;
                    }

    footer .link, footer .contact {
        width: 100%;
        display: inline-block;
        padding: 0 30px 30px;
    }

        footer .link h3, footer .contact h3 {
            color: #fff;
            display: inline-block;
            font-weight: 600;
            line-height: 42px;
            margin: 20px 0 20px;
            position: relative;
            text-align: left;
            float: left;
            width: 100%;
            font-size: 22px;
            border-bottom: 1px solid #282929;
            padding-bottom: 8px;
        }

.bdr-left {
    border-left: 1px solid #282929;
}

footer .link ul {
    width: 50%;
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
}

    footer .link ul li {
        font-size: 16px;
        font-weight: 300;
        padding: 8px 0;
        width: 100%;
    }

        footer .link ul li a {
            color: #6b6b6b;
            text-decoration: none;
            padding: 0;
        }

            footer .link ul li a i {
                padding: 0 10px 0 0;
            }

            footer .link ul li a:hover {
                color: #ed1c24;
                text-decoration: none;
            }

footer .contact ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

    footer .contact ul li {
        clear: both;
        float: left;
        padding: 7px 0;
        font-size: 15px;
        font-weight: 400;
        color: #6b6b6b;
    }

        footer .contact ul li i {
            color: #6b6b6b;
            float: left;
            margin-right: 10px;
            width: 27px;
            border: 1px solid #6b6b6b;
            text-align: center;
            height: 27px;
            line-height: 27px;
            font-size: 14px;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
        }

.fnt-sz-17 {
    font-size: 18px !important;
}

.fnt-sz-22 {
    font-size: 22px !important;
}

footer .contact ul li a {
    font-size: 15px;
    font-weight: 400;
    color: #6b6b6b;
    text-decoration: none;
}

    footer .contact ul li a:hover {
        color: #ed1c24;
        text-decoration: none;
    }

footer .contact ul li:hover i {
    color: #fff;
    background: #ed1c24;
    border: 1px solid #ed1c24;
}

footer .ftr-btm {
    background: #ed1c24;
    padding: 15px 0;
    margin-top: 15px;
}

footer .copyright {
    color: #fff;
    font-size: 13px;
    font-weight: normal;
    padding: 10px 0;
    font-weight: 300;
}

footer .powered-by {
    color: #fff;
    font-size: 13px;
    font-weight: 300;
    float: right;
    margin-top: 8px;
}

.back-top {
    bottom: 15px;
    position: absolute;
    right: 5px;
}

    .back-top #toTop {
        color: #000;
        height: 35px;
        line-height: 35px;
        padding: 17px 15px;
        transition: all 0.8s ease-in-out 0s;
        width: 35px;
        z-index: 50;
        background: #fff;
    }

    .back-top i {
        font-size: 24px;
        position: relative;
        top: 3px;
    }

    .back-top #toTop:hover {
        background: #000 none repeat scroll 0 0;
        color: #fff;
    }
/*=====  New Offers Section CSS BOF  ======*/

#offers-sec {
    display: block;
    width: 100%;
    position: relative;
    padding: 0 0 120px;
    margin-top: -30px;
}

.title h2 {
    font-size: 44px;
    color: #000;
    font-weight: 700;
    text-align: center;
    position: relative;
    width: auto;
    margin: 0 auto 50px;
    display: inline-block;
}

    .title h2 span {
        font-weight: 300;
    }

    .title h2::after {
        position: absolute;
        opacity: 1;
        bottom: -15px;
        transition: all 0.3s;
        width: 62px;
        height: 3px;
        content: "";
        background: #ed1c24;
        left: 4px;
    }

#offers-sec .ofr_box, #offers-sec .ofr_box2 {
    border: 2px solid #e5e5e5;
    padding: 25px 13px;
    float: left;
    margin: 30px 0 0;
    width: 92%;
    display: table;
    height: 250px;
}

#offers-sec .ofr_box2 {
    float: right;
}

    #offers-sec .ofr_box .content, #offers-sec .ofr_box2 .content {
        width: 85%;
        display: block;
        float: right;
    }

    #offers-sec .ofr_box2 .content {
        float: left;
    }

    #offers-sec .ofr_box svg, #offers-sec .ofr_box2 svg {
        background: #ed1c24;
        width: 75px;
        height: 75px;
        float: right;
        margin-left: 22px;
        fill: #fff;
        margin-right: -35px;
    }

    #offers-sec .ofr_box2 svg {
        float: left;
        margin-right: 22px;
        margin-left: -35px;
    }

    #offers-sec .ofr_box .content h4, #offers-sec .ofr_box2 .content h4 {
        text-align: right;
        color: #000;
        text-transform: inherit;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
    }

    #offers-sec .ofr_box2 .content h4 {
        text-align: left;
    }

#offers-sec .ofr_box, #offers-sec .ofr_box svg, #offers-sec .ofr_box .content h4 {
    transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
}

    #offers-sec .ofr_box .content p, #offers-sec .ofr_box2 .content p {
        text-align: right;
        color: #666;
        font-size: 16px;
        line-height: 20px;
        padding-top: 10px;
        font-weight: 400;
    }

#offers-sec .ofr_box2 .content p {
    text-align: left;
}

#offers-sec .ofr_box:hover {
    background: #eee;
}
/* About Us Page CSS BOF
=================================================== */
.inner_banner {
    min-height: 450px;
    position: relative;
    background-size: cover !important;
    background-position: center center !important;
}

    .inner_banner::before {
        border-bottom: 195px solid #fff;
        border-left: 1432px solid transparent;
        border-right: 611px solid transparent;
        content: "";
        height: 0;
        right: 0px;
        position: absolute;
        bottom: 0;
        width: 0;
    }

    .inner_banner .banner_text {
        text-align: center;
        padding: 0;
        position: absolute;
        width: 100%;
        top: 35%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

        .inner_banner .banner_text h1 {
            color: #fff;
            font-size: 48px;
            text-align: center;
            font-weight: 700;
            text-shadow: 1px 0px 3px rgba(0,0,0,0.4);
            text-transform:capitalize;
        }

.breadcrumbs_wrapper {
    display: block;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
}

.breadcrumbs {
    padding: 14px 0;
    margin-top: 0px;
    line-height: 20px;
    color: #ed1c24;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}

    .breadcrumbs a {
        color: #fff;
        text-decoration: none;
    }

        .breadcrumbs a:hover {
            color: #ed1c24;
            text-decoration: none;
        }

    .breadcrumbs i {
        display: inline-block;
        margin: 0 15px;
        vertical-align: middle;
        color: #fff;
    }

.bdr-btm {
    border-bottom: 1px dashed #ddd;
}

#about_us {
    padding: 0 0 80px;
}

    #about_us p {
        padding: 22px 0 0;
        color: #444;
        font-size: 16px;
    }
    #about_us ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
        display: table;
        padding-top:15px;
    }
        #about_us ul li {
            color: #444;
            font-size: 16px;
            font-weight: 400;
            padding: 10px;
            border: 1px solid #dfdfdf;
            width: 20%;
            display: table-cell;
        }
            #about_us ul li i {
                border-radius: 50%;
                text-align: center;
                margin-right: 6px;
                font-size: 16px;
                color: #ef1b27;
                margin-top: -6px;
            }
.about_us {
    margin-top: 0 !important;
    padding: 50px 0 120px !important;
}
@media screen and (max-width: 600px){
    #about_us ul li {
        display: -webkit-inline-box;
        width:100%;
    }
}