@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

body {
	background-color: #fff;
	color: #000;
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	line-height: 22px;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    background: url(../);
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: 700;
	line-height: 1.1;
	margin: 0;
	padding: 0;
    font-family: 'Roboto', sans-serif;
}
a {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
p {
	font-weight: 300;
	text-align: center;
	line-height: 22px;
	margin: 0;
	padding: 0;
	color: #444;
    font-family: 'Roboto', sans-serif;
}

/*=========Header===========*/

header{
    background: #f5f5f5;
    padding: 20px 0;
    border-bottom: 2px solid #dddddd;
    }

.company-logo{
    position: relative;
    text-align: center;
    margin-top: 35px;
    }
header::before{
    content: " ";
    height: 186px;
    background:#ffffff;
    position: absolute;
    top: 0;
    left: 0;
    width: 36%;
    left: 0;
    -moz-clip-path: polygon(0% 0%, 100% 0%, 92% 100%, 0% 100%);
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 92% 100%, 0% 100%);
    -o-clip-path: polygon(0% 0%, 100% 0%, 92% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 92% 100%, 0% 100%);
    }
.name-address{
    clear: both;
    overflow: hidden;
    }
.name-address ul li h3{
    color: #1f8fce;
    border-bottom: 1px solid #dadada;
    font-size: 16px;
    padding: 10px 0;
    margin-bottom: 10px;
    }
.name-address ul li p{
    text-align: left;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    padding: 3px 0;
    }
.name-address ul li p span{
    font-weight: 500;
    }
.name-address ul li{
    float: left;
    width: 50%;
    list-style: none;
    padding: 0 30px;
    }
.name-address ul li:last-child{
    border-left: 1px solid #dadada;
    }

/*=========Travellers===========*/

.travellers{
    border: 1px solid #e1e1e1;
    margin: 33px 0;
    overflow: hidden;
    }
.travellers-title{
    background: #1f8fce;
    padding: 15px;
    overflow: hidden;
    }
.travellers-title h3{
    color: #fff;
    float: left;
    font-size: 17px;
    font-weight: 600;
    }
.travellers-title p{
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    float: right;
    }
.travellers ul{
    padding: 5px 0;
    overflow: hidden;
    }
.travellers ul li{
    float: left;
    width: 50%;
    padding: 15px 18px;
    list-style: none;
    }
.travellers ul li span{font-weight: 600;}
.travellers ul li:first-child{
    border-right: 1px solid #e1e1e1;
    }

/*=====================Itinerary=======================*/

.itinerary-info{
    border: 1px solid #e1e1e1;
    }
.itinerary-title{
    background: #1f8fce;
    overflow: hidden;
    }
.itinerary-title h3{
    color: #fff;
    font-size: 17px;
    padding: 15px;
    float: left;
    font-weight: 600;
    }
.itinerary-title p{
    color: #fff;
    font-size: 17px;
    padding: 15px;
    float: right;
    font-weight: 600;
    background: #1278b1;
    }
.ma-0{margin: 0;}
.destination-time{
    overflow: hidden;
    background: #d8f1ff;
    padding: 13px 0;
    border-bottom: 1px solid #9ed6e2;
    }
.d-name p{
    font-size: 18px;
    color: #0d6ea4;
    text-align: left;
    font-weight: 700;
    display: inline-block;
    }
.d-name i{
    display: inline-block;
    padding: 0 5px;
    color: #0d6ea4;
    font-size: 18px;
    }
.d-name .fa-long-arrow-right{color: #000000;}

.op-by{
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    }
.destination-time ul{
    text-align: right;
    }
.destination-time ul li{
    display: inline-block;
    font-size: 14px;
    padding: 0 10px;
    }
.destination-time ul li:first-child{
    border-right: 1px solid #9ed6e2;
    }



.flight-detail{padding: 20px 0;}
.flight-logo{
    text-align: center;
    border-right: 1px solid #e1e1e1;    
    padding: 10px 0;
    }
.flight-logo img{
    margin-bottom: 10px;
    }
.flight-logo h4{
    color: #333333;
    font-size: 13px;
    font-weight: 400;
    }
.flight-logo h6{
    color: #5192b6;
    font-size: 16px;
    font-weight: 700;
    margin: 8px 0;
    }

.flight-logo p{
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    }
.flight-logo p span{
    font-weight: 700;  
    }


.dep-arr h3{ 
    font-size: 17px;
    color: #1f8fce;
    border-bottom: 1px solid #e1e1e1;
    padding: 5px 0 10px 0;
    }
.dep-arr h4{
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    margin: 10px 0;
    }
.dep-arr p{
    color: #5192b6;
    font-size: 15px;
    font-weight: 400;
    text-align: left;   
    }
.dep-arr p span{
    color: #333333;
    }
.time-date p{
    font-size:16px;
    color: #000000;
    font-weight: 700;
    margin: 10px 0;
    }
.time-date p span{
    font-weight: 400;
    font-size: 15px;
    }
.dep-bor{
    border-right: 1px solid #e1e1e1;
    }

.class-bagges .class{
    margin: 10px 0;
    font-size: 15px;
    font-weight: 15px;
    }
.class-bagges p{
    font-size: 14px;
    }
.class-bagges p span{
    font-size: 15px;
    }
.class-bagges h4{
    color: #1f8fce;
    }


.booking-info{
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    overflow: hidden;
    margin: 0 15px 0 15px;
    padding: 10px 0;
    }
.booking-info div{
    border-left: 1px solid #e1e1e1;
    }
.booking-info div:first-child{border-left: none;}
.booking-info p{
    color: #333333;
    font-size: 15px;
    font-weight: 400;
    }
.booking-info p span{
    color: #5192b6;
    }
.purchase{
    margin: 15px 0;
    overflow: hidden;
    }
.purchase p{
    text-align: left;
    margin-left: 15px;
    font-size: 16px;
    font-weight: 400;
    }
.purchase p span{
    color: #1f8fce;
    font-size: 17px;
    font-weight: 600;
    padding-right: 10px;
    }
.ancillary-service{
    margin: 15px 0;
    background: #f5f5f5;
    }
.ancillary-service p{
    text-align: left;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 400;
    color: #282828;
    }
.ancillary-service p span{
    color: #1f8fce;
    font-size: 18px;
    font-weight: 700;
    }


.Meal-info{
    border-bottom: none;
    text-align: left;
      border-top: 1px solid #e1e1e1;
    padding: 10px 0 0;
    overflow: hidden;
    margin: 15px;
    }
.Meal-info p{
    text-align: left;
    margin-left: 0;
    }
.Meal-info p span{
    text-align: left;
    font-weight: 700;
    color: #1f8fce;
    font-size: 17px;
    }
.total-price{
    margin-top: 30px;
    margin-bottom: 15px;
    }
.total-price ul{
    margin: 0 15px 15px 15px;
    }
.total-price ul li{width: 100%;}
.total-price ul li:first-child{border-right:none;}
.total-price h3{
    float: none;
    display: block;
    }
.total-price ul li{
    list-style: none;
    border-bottom: 1px dashed #e1e1e1;
    padding: 10px 15px;
    }
.total-price ul li h4{
    float: left;
    color: #000;
    width: 50%;
    font-weight: 500;
    }
.total-price ul li p{
    float: right;
    color: #1d8fce;
    width: 50%;
    text-align: right;
    font-weight: 400;
    }



.footer{
    background: #f5f5f5;
    padding: 30px 0;
    margin-top: 20px;
    }
.name-address ul li:first-child{
    padding-left: 0;
    }

.name-address ul li:last-child{
    padding-right: 0;
    }

.ads-img img{
    width: 100%;
    height: 142px;
    max-height: 100%;
    }


/*================================Media-css================================*/

@media(max-width:1700px){
    header::before{
        width: 33%;
        clip-path: polygon(0% 0%, 100% 0%, 82% 100%, 0% 100%);
    }
}

@media(max-width:1500px){
    header::before{
        width: 30%;
        clip-path: polygon(0% 0%, 100% 0%, 82% 100%, 0% 100%);
    }
}

@media(max-width:1400px){
    header::before{
        width: 28%;
        clip-path: polygon(0% 0%, 100% 0%, 82% 100%, 0% 100%);
        }
}


@media(max-width:1200px){
    header::before{
        width:32%;
        height: 160px;
        }
    .ads-img img{height: 117px;}
}

@media(max-width:1080px){
    header::before{width:29%;}
}

@media(max-width:991px){
     header::before{display: none;}
    .company-logo{margin-top: 0;}
    .name-address{margin-top: 30px;}
    .destination-time{
        text-align: center;
    }
    .destination-time ul{
        text-align: center;
        padding: 10px 0;
        }
    .op-by{
        padding: 10px 0;
        border-top: 1px solid #9ed6e2;
        border-bottom: 1px solid #9ed6e2;
        }
    .destination-time{padding: 0;}
    .d-name{padding: 10px 0;}
    .flight-logo{
        border-right: none;
        padding: 10px 0 15px 0;
        }
    .dep-arr{text-align: center;}
    .dep-arr p{text-align: center;}
    .dep-bor{border-right: none;}
    .dep-arr h3{
        background: #f5f5f5;
        border-bottom: none;
        padding: 10px 0;
        }
    .booking-info{
        border: none;
        background: #f5f5f5;
        line-height: 35px;
        padding: 0;
        }
    .booking-info div{
        border-left: none;
        border-bottom: 1px solid #d8d8d8;
        }
    .booking-info p{
        line-height: 45px;
        }
    .purchase p{text-align: center;}
    .ancillary-service p{text-align: center;}
    .ads-img img{margin-top: 30px;}
    .ads-img img{height: auto;}
}


@media(max-width:600px){
    .name-address ul li{
        width: 100%;
        float: noe;
        padding:10px 0; 
        }
    .name-address ul li:last-child{border-left: none;}
    .name-address{margin-top: 15px;}
    .name-address ul li p{text-align: center;}
    .name-address ul li h3{text-align: center;}
    .travellers ul li:first-child{border-right: none;}
    .travellers ul li{
        width: 100%;
        float: none;
        border-bottom: 1px solid #e1e1e1;
        padding: 10px 15px;
        }
    .travellers ul li:last-child{border-bottom: none;}
    .travellers{margin: 25px 0;}
    .total-price ul li{
        overflow: hidden;
        border-bottom:1px dashed #e1e1e1
        }
    .footer{padding: 0;}
}


@media(max-width:400px){
    .itinerary-title p{
        float: none;
        text-align: center;
        }
    .itinerary-title h3{
        float: none;
        text-align: center;
        }
    }
























