﻿<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Alwafra Travels</title>
    <link rel="shortcut icon" href="website-informations/favicon/favi.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/media.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css?v=202103160000">
    
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="assets/pluggins/alertifyJs/alertify.min.css?v=1034" rel="stylesheet" />
    <link href="assets/pluggins/alertifyJs/default.min.css?v=202103160000" rel="stylesheet" />
    <style>
        [v-cloak] {
          display: none;
        }
      </style>
</head>

<body>
    <div id="homepage" v-cloak>
    <header>
        <div id="header">
          <nav id="navbar-main" class="navbar navbar-default navbar-fixed-top">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="navbar-header">
                    <a class="navbar-brand" href="index.html"><img src="website-informations/logo/logo.jpg" alt=""></a> </div>
                  <div class="call-action">
                         <a class="d-n" :href="`mailto:${ contact.Email}`"><i class="fa fa-envelope" aria-hidden="true"></i> {{contact.Email}}</a>
                  </div>
                  <div class="call-action">
                         <a class="d-n" :href="`tel:${ contact.PhoneNumber}`"><i class="fa fa-phone" aria-hidden="true"></i>{{contact.PhoneNumber}}1</a>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>

<div class="main_banner" style="background-image:url(assets/images/banner.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 hidden-xs hidden-sm">
                <h1><span>Welcome to</span><br> Alwafra Travel &amp; Tourism</h1>
            </div>
        </div>
      </div>
    <div class="container">
        <div class="login_div">
            <div class="col-lg-12"><h3>Agency Login</h3></div>
            
                <div class="login-form">
                    <form action="javascript:sendLogin()">
                    <div class="col-lg-4 col-md-4 sec">
                        <label>Agency Code</label>
                        <input id="txtAgencyCode" class="form-control" type="text" placeholder="Agency Code">
                        <span class="plane-icon"><i class="fa fa-barcode"></i></span>
                    </div>
                    <div class="col-lg-4 col-md-4 sec">
                        <label>Username</label>
                        <input id="txtUname" class="form-control" type="text" placeholder="Username">
                        <span class="plane-icon"><i class="fa fa-user"></i></span>
                    </div>
                    <div class="col-lg-4 col-md-4 sec">
                        <label>Password</label>
                        <input  id="txtPwd" class="form-control" type="password" placeholder="Password">
                        <span class="plane-icon"><i class="fa fa-key"></i></span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4 sec">
                        <div class="btnarea">
                            <input class="login_btn" type="submit" placeholder="SUBMIT">
                            <div id="loginLoader" class="btn_load" style="display:none;"><i class="fa fa-spinner fa-spin"></i></div>
                        </div>
                    </div>
                </form>
                <div class="clearfix"></div>
                <div class="col-lg-12 sec1">
                    <div class="link">
                        <ul>
                            <li><a  class="forgot_click">Forgot Password?</a></li>
                        </ul>
                    </div>
                </div>
                </div>
           
       
        <div class="forgot_form">
                        <form action="javascript:forgotPassword()">
                            <div class="col-lg-4 col-md-4 sec">
                                <input type="text" class="form-control" id="txtAgency" placeholder="Agency Code">
                            </div>
                            <div class="col-lg-4 col-md-4 sec">
                                <input type="text" class="form-control" id="txtEmail" placeholder="Email ID">
                            </div>
                            <div class="col-lg-4 col-md-4 sec">
                                <div class="btnarea">
                                    <input type="submit" id="btnForgot" class="login_btn" value="SEND">
                                    <div id="loderForgot" class="btn_load" style="display:none"><i class="fa fa-spinner fa-spin"></i></div>
                                </div>
                            </div>
                        </form>
                        <div class="col-lg-12 sec1">
                            <div class="link">
                                <ul>
                                    <li><a class="back"><i class="fa fa-arrow-left" aria-hidden="true"></i>Back To Login</a></li>
                                </ul>
                            </div>
                        </div>
                        
                    </div>
    </div>
    </div>
</div>






<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="footer-logo-desc elaan-logo-text">
                    <img src="website-informations/logo/footer-logo.jpg" alt="logo">
                    <p>{{Logos.Description}}</p>
                    <img class="iata-logo" src="assets/images/iata_logo.png" alt="logo">
                </div>
            </div>
            <div class="col-md-2 col-sm-6">
                    <div class="ftr-link">
                    <h3>Follow Us</h3>
                    <ul>
                        <li><i class="fa fa-facebook-square"></i><a :href="Follow.Facebook_Link" target="blank">Facebook</a></li>
                        <li><i class="fa fa-twitter"></i><a :href="Follow.Twitter_Link" target="blank">Twitter</a></li>
                        <li><i class="fa fa-linkedin"></i><a :href="Follow.Linkedin_Link" target="blank">Linkedin</a></li>
                        <li><i class="fa fa-instagram"></i><a :href="Follow.Instagram_Link" target="blank">Instagram</a></li>
                    </ul>
                </div>
                </div>
            <div class="col-md-3 col-sm-6">
                <div class="ftr-link">
                    <h3>CONTACT  US</h3>
                    <ul>
                        <li><i class="fa  fa-home"></i>{{contact.Address}}</li>
                        <li><i class="fa fa-phone"></i><a :href="`tel:${ contact.PhoneNumber}`">{{contact.PhoneNumber}}</a></li>
                        <li><i class="fa fa-envelope"></i><a :href="`mailto:${ contact.Email}`">{{contact.Email}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="foot-newsletter">
                    <h3>Subscribe Newsletter</h3>
                    <input type="text" id="text" placeholder="Enter Email Address" v-model="newsltremail">
                    <input type="submit" id="submit" name="Submit" value="Subscribe" v-on:click="sendnewsletter">
                </div>
            </div>
        </div>
    </div>
</footer>
<section class="all-reserved">
    <div class="container">
        <div class="reserved">
            <p>@ 2020. Alwafra Travel & Tourism - All Rights Reserved</p>
        </div>
        <div class="Powered">
            <p>Powered by:</p>
            <a href="http://www.oneviewit.com/" target="_blank"><img src="assets/images/oneview-logo.png" alt="logo"></a>
        </div>
    </div>
</section> 
</div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/assets/js/vue-i18n.js?v=201912240000"></script>
    <script src="/assets/js/axios.min.js?v=201912240000"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js?v=1034"></script>
    <script src="assets/pluggins/moment/moment.min.js?v=1034"></script>
    <script src="assets/js/jquery.cookie.js?v=1034"></script>
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.1/build/alertify.min.js?v=1034"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/custom.js?v=201905200000"></script>
    <script src="website-informations/agencyInformations/AgencyInformation.js?v=1034"></script>



    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202008060000"></script>
    <script src="/CommonFuntions/CommonFunctions.js?v=202008240000"></script>
    <script src="/CommonFuntions/ExtentionMethods.js?v=201905200000"></script>
    <script src="/Login/LoginComponents/js/login.js?v=202007160000"></script>
    <script src="servicejs/index.js?v=202103160000"></script>
</body>
</html>