﻿<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="apple-touch-icon" href="#" />
    <link rel="shortcut icon" href="#" />
    <!-- Place favicon.ico in the root directory -->
    <meta name="theme-color" content="#fafafa" />

    <link rel="stylesheet" type="text/css" href="/assets/plugins/bootstrap/bootstrap.min.css?v=201905200000" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/NouiSlider/nouislider.css?v=201905250000" />
    <link rel="stylesheet" type="text/css" href="/assets/css/tabs.css?v=201911080000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/alertifyJs/alertify.min.css?v=201909230000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/alertifyJs/default.min.css?v=201905200000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/calendar/jquery-ui.css?v=201905260000" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/flight.css?v=202004280000" />
    <link rel="stylesheet" type="text/css" href="/assets/css/insurance.css?v=202008060000" />
    <link href="/assets/css/breaking-news-ticker.min.css?v=201910040000" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/loaderanimate.css?v=201911270000" />

    <link rel="stylesheet" type="text/css" href="/assets/plugins/primevue/css/theme.css?v=202005050000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/primevue/css/primevue.min.css?v=202005050000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/primevue/css/primeicons.css?v=202005050000" />
    <link rel="stylesheet" type="text/css" href="/assets/css/summernote.css?v=202005050000" />
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <section v-cloak id="master_vue_element" class="wrapper">
        <header>
            <master-header></master-header>
        </header>
        <master-sidebar></master-sidebar>
        <tune-protect-result inline-template>
            <div>
                <div class="insurancebanner-result">
                    <div class="container">
                        <h3>{{pageObject.Banner_Title}}</h3>
                    </div>
                </div>
                <div class="maininsurance">
                    <div class="container">
                        <div v-if="!showLoaders" class="insurance_sort">
                        <p>Sort by</p>
                        <button  v-for="(item, index) in sortValues" @click="sortResults(item)" :key="item.sortBy" class="btn btn-primary">{{item.sortBy}}
                            &nbsp;<i v-if="item.isActive" 
                            :class="item.isAscending?'fa fa-long-arrow-up':'fa fa-long-arrow-down'"
                            aria-hidden="true"></i></button>
                        </div>
                        <h5>{{pageObject.Available_Plan_Title}}</h5>
                        <!--insurance card-->
                        <div v-if="showLoaders" class="insurance_card">
                            <div class="coverage_head">
                                <div class="col-lg-8 col-md-8 col-xs-8">
                                    <h4></h4>
                                </div>
                                <div class="col-lg-4 col-md-4 col-xs-4 text-right">
                                    <h6></h6>
                                </div>
                            </div>
                            <div class="insuranceSec">
                                <div class="insurancebtn">
                                    <div class="ld_area animated-background"></div>
                                </div>
                                <div class="insurancebtn">
                                    <div class="ld_area animated-background"></div>
                                </div>
                            </div>
                        </div>
                        <div class="insurance_card" v-for="(Available_Plan, index) in Available_Plan_List">
                            <div class="coverage_head">
                                <div class="col-lg-8 col-md-8 col-xs-8">
                                    <h4>{{Available_Plan.planTitle}}</h4>
                                </div>
                                <div class="col-lg-4 col-md-4 col-xs-4 text-right">
                                    <h6>{{$n(Available_Plan.totalPremiumAmount/commonStore.currencyMultiplier, 'currency', commonStore.selectedCurrency)}}</h6>
                                </div>
                            </div>
                            <div class="insuranceSec">
                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                    <div v-html="Available_Plan.planContent"></div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 nopadding">
                                    <div class="insuranceImg">
                                        <img src="/Insurance/InsuranceComponents/Images/TA.jpg" alt="insurance">
                                    </div>
                                </div>
                                <div class="insurancebtn">
                                    <button class="addquotebtn" @click="addQuotationToCurrentCart(Available_Plan, index)"><i class="fa fa-plus"></i>{{pageObject.Add_Quotation_Title}}</button>
                                    <button class="insurance_select" @click="selectPlan(Available_Plan)" data-toggle="modal">{{pageObject.Select_Policy_Title}}<i class="fa fa-check" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                        <!--insurance card close-->
                        <h5>{{pageObject.Available_Upsell_Plan_Title}}</h5>
                        <div v-if="showLoaders" class="insurance_card">
                            <div class="coverage_head">
                                <div class="col-lg-8 col-md-8 col-xs-8">
                                    <h4></h4>
                                </div>
                                <div class="col-lg-4 col-md-4 col-xs-4 text-right">
                                    <h6></h6>
                                </div>
                            </div>
                            <div class="insuranceSec">
                                <div class="insurancebtn">
                                    <div class="ld_area animated-background"></div>
                                </div>
                                <div class="insurancebtn">
                                    <div class="ld_area animated-background"></div>
                                </div>
                            </div>
                        </div>
                        <!--insurance card-->
                        <div class="insurance_card" v-for="(Available_Upsel_Plan, index) in Available_Upsel_Plan_List"> 
                            <div v-for="(upsellPlans, index1) in Available_Upsel_Plan.upsellPlans">
                                <div class="coverage_head">
                                    <div class="col-lg-8 col-md-8 col-xs-8">
                                        <h4>{{upsellPlans.planTitle}}</h4>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-xs-4 text-right">
                                        <h6>{{$n(upsellPlans.totalPremiumAmount/commonStore.currencyMultiplier, 'currency', commonStore.selectedCurrency)}}</h6>
                                    </div>
                                </div>
                                <div class="insuranceSec">
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <span v-html="upsellPlans.planContent"></span>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 nopadding">
                                        <div class="insuranceImg">
                                            <img src="/Insurance/InsuranceComponents/Images/TA.jpg" alt="insurance">
                                        </div>
                                    </div>
                                    <div class="insurancebtn">
                                        <button class="addquotebtn" @click="addQuotationToCurrentCart(upsellPlans, index1)"><i class="fa fa-plus"></i>{{pageObject.Add_Quotation_Title}}</button>
                                        <button class="insurance_select" data-toggle="modal" @click="selectPlan(upsellPlans)" >{{pageObject.Select_Policy_Title}}<i class="fa fa-check" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="insuranceplan" role="dialog">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">{{selectedPlan.planTitle}}</h4>
                                    </div>
                                    <div class="modal-body">
                                        <span v-html="selectedPlan.planContent"></span>
                                        <div class="insursns_cost">Total Cost : {{$n(selectedPlan.totalPremiumAmount/commonStore.currencyMultiplier, 'currency', commonStore.selectedCurrency)}}</div>
                                        <div class="btn_insurance">
                                            <button class="btn_cancel" data-dismiss="modal">{{pageObject.Cancel_Policy_Title}}<i class="fa fa-times" aria-hidden="true"></i></button>
                                            <button class="issuebtn" @click="issuePolicy(selectedPlan)">{{pageObject.Issue_Policy_Title}}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--insurance card close-->
                    </div>
                </div>
            </div>
        </tune-protect-result>
        <!---------Main Footer area------------>
        <footer>
            <master-footer></master-footer>
        </footer>
        <!---------Main Footer area close------------>
    </section>
    <script type="text/javascript" src="/assets/js/jquery-3.3.1.min.js?v=201905200000"></script>
    <script src="/assets/js/jquery-news.min.js?v=201910290000"></script>
    <script type="text/javascript" src="/assets/plugins/bootstrap/bootstrap.min.js?v=201905200000"></script>
    <script src="/assets/js/jquery-ui.js?v=201905200000"></script>
    <script type="text/javascript" src="/assets/js/jquery-migrate.min.js?v=201912240000"></script>
    <script src="/assets/js/axios.min.js?v=201912240000"></script>
    <script src="/assets/js/vue.min.js?v=202002060000"></script>
    <script src="/assets/js/vue-i18n.js?v=201912240000"></script>
    
    <script src="/assets/plugins/primevue/js/dialog.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/button.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/toolbar.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/inputtext.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/accordion.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/accordiontab.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/checkbox.umd.min.js?v=202005050000"></script>
    <script src="/assets/js/summernote.min.js?v=201912240000"></script>
    <script src="/Flights/assets/js/cabinclass.js"></script>
    <script src="/assets/js/jspdf.min.js?v=201912240000"></script>
    <script src="/assets/js/html2canvas.min.js?v=201909010000"></script>
    <script src="/Flights/FlightComponents/js/svgs.js?v=201907240000"></script>
    <script src="/Flights/assets/js/Airplanes.js"></script>
    <script src="/Flights/assets/js/Airlines.js"></script>
    <script src="/Flights/assets/js/UTCTime.js?v=1034" defer></script>
    <script src="/Flights/FlightComponents/js/AirCommonServices.js?v=201907250000"></script>
    
    <script src="/assets/js/underscore-min.js?v=201912240000"></script>
    <script src="/assets/plugins/alertifyJs/alertify.min.js?v=201905200000"></script>
    <script src="/assets/plugins/moment/moment.min.js?v=201907220000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202008060000"></script>
    <script src="/Resources/Config/config.js?v=202002170000"></script>
    <script src="/Login/LoginComponents/js/login.js?v=202007160000"></script>
    <script src="/CommonFuntions/ExtentionMethods.js?v=201905200000"></script>
    <script src="/CommonFuntions/CommonFunctions.js?v=202008240000"></script>
    <script type="text/javascript" src="/assets/js/summernote.min.js?v=201912240000"></script>
    <script src="/Insurance/TuneProtect/components/js/searchResult.js?v=2021080100000"></script>
    <script src="/CommonFuntions/MainComponents.js?v=202012180000"></script>
    <script src="/assets/js/highlight.pack.js?v=201910290000"></script>
</body>
</html>