* {
	margin: 0;
	padding: 0;
}
img {
	outline: none;
}
body {
	/*font-family: 'Roboto', sans-serif;*/
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: bold;
	line-height: 1.1;
	margin: 0;
	padding: 0;
}
a {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	outline: none;
}
p {
	line-height: 26px;
	margin: 0;
	padding: 0;
	color: #555;
	font-size: 15px;
	font-weight: 400;
}
/*====================================
=            Helper Class            =
====================================*/
.m-t-10 {
	margin-top: 10px;
}
.m-t-20 {
	margin-top: 20px;
}
.m-t-15 {
	margin-top: 15px;
}
.m-t-25 {
	margin-top: 25px;
}
.m-t-30 {
	margin-top: 30px;
}
.m-t-50 {
	margin-top: 50px;
}
.m-t-70 {
	margin-top: 70px;
}
.m-b-10 {
	margin-bottom: 10px;
}
.m-b-15 {
	margin-bottom: 15px;
}
.m-b-20 {
	margin-bottom: 20px;
}
.m-b-25 {
	margin-bottom: 25px;
}
.m-b-30 {
	margin-bottom: 30px;
}
.p-0 {
	padding: 0;
}
.p-t-0 {
	padding-top: 0;
}
.p-t-10 {
	padding-top: 10px;
}
.p-t-15 {
	padding-top: 15px;
}
.p-t-20 {
	padding-top: 20px;
}
.p-t-25 {
	padding-top: 25px;
}
.p-t-30 {
	padding-top: 30px;
}
.p-b-10 {
	padding-bottom: 10px;
}
.p-b-15 {
	padding-bottom: 15px;
}
.p-b-20 {
	padding-bottom: 20px;
}
.p-b-25 {
	padding-bottom: 25px;
}
.p-b-30 {
	padding-bottom: 30px;
}
/*=====  Navbar CSS BOF  ======*/
.navbar-default {
	background: rgba(0,0,0,0.8);
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;
	border: 0px;
	z-index: 2;
}
.navbar {
	margin-bottom: 0px;
	z-index: 999;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	height: 70px;
}
.navbar-nav {
	margin: 0;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	padding: 0;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	width: auto;
	height: auto;
	padding: 0;
	position: absolute;
	z-index: 1000;
	margin: 0 0 !important;
}
.top-nav-collapse {
	padding: 0;
	top: 0;
}
.call-action {
	line-height: normal;
	display: block;
	float: right;
	padding: 0 0 0 18px;
	text-align: left;
	width: 280px;
	margin: 15px 18px 0 0;
}
.call-action2 {
	margin-right: 0 !important;
}
.call-action .icon {
	float: left;
	text-align: center;
	font-size: 30px;
	width: 42px;
	height: 42px;
	line-height: 39px;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 100px;
	margin-right: 6px;
}
.call-action .icon2 {
	font-size: 18px !important;
}
.bdr-lft {
	border-left: 1px solid #3e3f44;
}
.call-action span {
	font-size: 15px;
	color: #ed1c24;
	font-weight: 400;
}
.call-action a {
	font-size: 16px;
	font-weight: 400;
	color: #fff;
}
.call-action a:hover {
	color: #ed1c24;
	text-decoration: none;
}
/*=====  Banner CSS BOF  ======*/
.main_banner {
	min-height: 735px;
	position: relative;
	background-size: cover !important;
	background-position: top center !important;
}
.main_banner h1 {
	color: #fff;
	font-size: 50px;
	text-align: center;
	font-weight: 700;
	margin-top: 200px;
}
.main_banner h1 span {
	color: #fff;
	font-size: 36px;
	font-weight: 400;
}
/*=====  Login CSS BOF  ======*/
.login_div {
	background: rgba(0,0,0,0.5);
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}
.login_div h2 {
	font-size: 22px;
	color: #fff;
	width: 200px;
	padding: 8px 0 12px;
	text-align: center;
	font-weight: 600;
	background: #ed1c24;
	margin: 0 auto 0;
	position: relative;
	top: -16px;
	line-height: normal;
}
.login_div h2::after {
	width: 25px;
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: -14px;
	border-top: 14px solid #ed1c24;
	border-left: 14px solid transparent;
	border-right: 14px solid transparent;
	margin: 0 auto;
}
.forgot_form{
	display: none;
}
.login-form, .forgot_form {
	margin: 0;
	padding: 10px 0 30px;
}
.login-form .sec, .forgot_form .sec {
	padding-top: 30px;
}
.login-form label, .forgot_form label {
	font-size: 15px;
	font-weight: 400;
	color: #fff;
	margin: 0;
}
.login-form .form-control, .forgot_form .form-control {
	background-color: #fff;
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
	color: #333;
	display: block;
	font-size: 14px;
	height: 46px;
	padding: 6px 15px;
	width: 100%;
	z-index: 1;
	box-shadow: none;
	margin-top: 0;
	font-weight: 300;
}
.login-form .login_btn, .forgot_form .login_btn {
	background: #ed1c24;
	font-size: 16px;
	color: #fff;
	padding: 12px 0;
	text-align: center;
	width: 100%;
	border: none;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	
	display: block;
	font-weight: 600;
}
.btnform{
	width: 200px;
	margin: 10px auto 0;
	position: relative;
}
.login-form .login_btn:hover, .forgot_form .login_btn:hover{
	background: #fff;
	color: #000;
	text-decoration: none;
}
.login-form .link, .forgot_form .link{
	padding: 0 0 30px;
	text-align: center;
	width: 100%;
	display: block;
}
.login-form .link ul, .forgot_form .link ul{
	padding: 0;
	margin: 0;
	list-style: none;
	display: inline-block;
}
.login-form .link ul li, .forgot_form .link ul li{
	font-size: 15px;
	color: #fff;
	padding: 0 10px;
	font-weight: 400;
	list-style: none;
	float: left;
}
.login-form .link ul li a, .forgot_form .link ul li a{
	color: #fff;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.login-form .link ul li a:hover, .forgot_form .link ul li a:hover {
	color: #ed1c24;
	text-decoration: none;
}
.back{
	margin-top: 13px;
	float: left;
	cursor: pointer;
}
.back i{
	margin-right: 6px;
}
/* Newsletter CSS BOF
=================================================== */
.newsletter {
	width: 100%;
	display: block;
	padding: 50px 0;
	background: #f3f3f3;
}
.newsletter h2 {
	font-size: 25px;
	font-weight: 700;
	color: #231f20;
	text-align: left;
}
.newsletter p {
	font-size: 15px;
	font-weight: 400;
	color: #231f20;
	text-align: left;
	line-height: 22px;
	padding: 8px 0 0;
}
.newsletter .w3-container {
	margin: 10px 0 0;
	display: inline-block;
	width: 100%;
}
.newsletter .input {
	position: relative;
	background-color: #fff;
	border: none;
	width: 88%;
	padding: 18px 15px;
	color: #8e8e8e;
	font-size: 13px;
	font-weight: 400;
	float: left;
	border: 1px solid #cfcece;
}
.newsletter button {
	background: #ed1c24;
	font-size: 16px;
	color: #fff;
	padding: 12px 0;
	text-align: center;
	width: 173px;
	border: none;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	display: block;
	font-weight: 600;
	position: absolute;
	right: 0;
	top: 15px;
}
.newsletter button:hover {
	background: #000;
	color: #fff;
	text-decoration: none;
}
/*=====  Footer CSS BOF  ======*/
footer {
	background: #231f20;
	width: 100%;
	display: block;
	padding: 20px 0 0;
}
footer .inner {
	width: 100%;
	display: inline-block;
	text-align: center;
	position: relative;
	padding: 15px 0;
}
footer .bdr-rgt {
	height: 100%;
	border-right: 1px solid #3c3839;
}
footer .inner h5 {
	font-size: 18px;
	font-weight: 600;
	color: #fff;
}
footer .inner span {
	font-size: 18px;
	font-weight: 400;
	color: #969696;
	padding-top: 25px;
	display: inline-block;
}
footer .inner span a {
	color: #969696;
	text-decoration: none;
}
footer .inner span a:hover {
	color: #ed1c24;
	text-decoration: none;
}
footer .inner .social {
	display: inline-block;
	list-style: none;
	margin-top: 25px;
	padding: 0;
}
footer .inner .social li {
	text-align: center;
	padding: 0 4px;
	float: left;
	font-size: 14px;
}
footer .inner .social li a {
	color: #b3b3b3;
	text-decoration: none;
	transition: all 0.8s ease-in-out 0s;
	width: 35px;
	height: 35px;
	line-height: 35px;
	border: 1px solid #b3b3b3;
	border-radius: 100px;
	background: #231f20;
	display: block;
}
footer .inner .social li a:hover {
	background: #ed1c24;
	color: #fff;
	border: 1px solid #ed1c24;
}
footer .ftr-btm {
	padding: 30px 0;
	background: #000;
}
footer .copyright {
	color: #b3b3b3;
	font-size: 14px;
	font-weight: 400;
	padding: 10px 0;
}
footer .powered-by {
	color: #b3b3b3;
	font-size: 14px;
	font-weight: 400;
	float: right;
	margin-top: 8px;
}
.reset_main {
    width: 100%;
    float: left;
}

/*reset password*/
.reset_mid {
    width: 400px;
    margin: auto;
    padding: 50px 0px;
}

.main_reset_sec {
    width: 100%;
    float: left;
    padding: 20px;
}

    .main_reset_sec h2 {
        text-align: center;
        margin-bottom: 18px;
    }

.txt_sec {
    width: 100%;
    height: 36px;
    float: left;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    padding: 0px 10px;
    border: 1px solid #cecece;
}

.txt_sec {
    width: 100%;
    height: 36px;
    float: left;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    padding: 0px 10px;
    border: 1px solid #cecece;
}

.reset_btn {
    width: 100%;
    height: 36px;
    border: none;
    background: #ed1c24;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #FFF;
    cursor: pointer;
    transition: all linear 0.15s;
}

    .reset_btn:hover {
        background: #231f20;
    }

.loadrst {
    width: 100%;
    float: left;
    position: relative;
    display: none;
}

.load_reset {
    width: 100%;
    height: 36px;
    border: none;
    background: rgba(237, 28, 36, 0.67);
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #FFF;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 9;
    text-align: center;
    line-height: 37px;
}

.btn_load {
	position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    font-size: 19px;
    line-height: 47px;
    text-align: center;
    background: rgba(238, 63, 60, 0.64);
    color: #FFF;
}