/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;	
	
}*/
html, body {
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
}

.navbar {
    min-height: 60px;
    border-bottom: 2px solid rgba(197, 197, 197, 0.49);
}

.navbar-brand {
    padding: 0 0px;
    height: 80px;
    line-height: 60px;
}

    .navbar-brand img {
        margin-top: 4px;
    }

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #f4521d;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: rgba(255, 254, 254, 0);
}

.icon-bar {
    background-color: red;
}

.navbar-default .navbar-toggle {
    border-color: rgba(255, 255, 255, 0);
}

.navbar-default {
    background-color: #fff;
}

.navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 23px;
    padding: 9px 10px !important;
}

.navbar {
    border-radius: 0px;
    margin-bottom: 0px;
}

.navbar-nav li {
    padding-left: 20px;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        /* (80px - line-height of 27px) / 2 = 26.5px */
        padding-top: 26.5px;
        line-height: 27px;
    }
}


/*hero-image*/

.home {
    height: 100%;
    position: relative;
    top: 42px;
}

.home-cover {
    background-image: url('../../assets/images/hero_image.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home_table {
    width: 100%;
    height: 100%;
    display: table;
}

.home_cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.home h1 {
    color: #fff;
    text-align: center;
    font-weight: 900;
    font-size: 60px;
}

.home .btn-primary {
    margin-top: 10px;
    padding-bottom: 10px;
    background-color: #f4521d;
    text-transform: uppercase;
    border: none;
    border-radius: 0px;
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.login_form {
    margin: 0 auto;
    width: 60%;
    background-color: #fff;
    padding: 60px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.22), 0 10px 10px rgba(0, 0, 0, 0.22)
}

    .login_form .form-control {
        padding: 20px 0px;
        border-radius: 0px;
        border: 1px solid #e7e6ea;
        font-size: 15px;
        margin-bottom: 10px;
    }

        .login_form .form-control:focus {
            border: 1px solid #f55e2c;
            -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.00), 0 0 8px rgba(0,0,0,.0);
            box-shadow: inset 0 0 0 rgba(0,0,0,.0), 0 0 0 rgba(0,0,0,.0);
        }

    .login_form .btn-primary {
        font-size: 15px;
        padding: 10px;
    }

        .login_form .btn-primary:hover {
            background-color: #e2501f;
        }

    .login_form h2 {
        text-align: center;
        color: #000000;
        padding-bottom: 10px;
    }

.forgot_password {
    float: right;
}

    .forgot_password a {
        color: #f4521d;
        cursor: pointer;
    }


/*
Home screen media
*/

@media screen and (max-width: 1199px) {
    .login_form {
        width: 90%;
    }
}

@media screen and (max-width: 61.938em) {
    .home .hero-content {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .navbar-brand img {
        margin-left: 30px
    }
}

/*
@media screen and (max-width: 744px) {
    .navbar-brand img{margin-left:30px}}
}
@media screen and (max-width: 989px) {
    .home .hero-content{ background-color: red;}
}


@media screen and (max-width: 601px) {
    .login_form {width: 80%;}
}

@media screen and (max-width: 406px) {
    .login_form {width: 100%;}
}

@media screen and (max-width: 1201px) {
    .login_form {width: 80%;}
}
*/

.book_with_us {
    position: relative;
    top: 60px;
    padding: 100px 0px;
}

.card {
    margin-bottom: 50px;
    margin: 0 auto;
    background: #fff;
    border-radius: 2px;
    width: 80%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}


.card-shadow {
    margin-bottom: 30px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

    .card-shadow:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

.book_with_us h2 {
    text-align: center;
    text-transform: uppercase;
    color: #2d3e52;
}

.line {
    width: 20%;
    height: 2px;
    margin: 0 auto;
    background-color: #2f475d;
}

.card_details {
    padding: 0px 10px;
    border-bottom: 1px solid #e9e9e9;
}

    .card_details p {
        text-align: justify;
        color: #999999;
    }

.book_with_us a {
    color: #f4521d;
    font-size: 18px;
}

.card_bottom_button {
    padding-bottom: 10px;
    padding-top: 10px;
}

.book_heading {
    padding-bottom: 30px;
}

.book_with_us img {
    width: 100%;
}

.load_more_button {
    margin-top: 30px;
    text-align: center;
}

    .load_more_button a {
        color: #fff;
        padding: 10px 20px;
    }


/*
Carousel*/

.map {
    padding: 50px;
    position: relative;
    background-image: url('../../assets/images/map.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.carousel_card {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    width: 90%;
}

    .carousel_card .carouser_description {
        padding: 10px;
    }

    .carousel_card h3 {
        color: #f4521d;
    }

    .carousel_card p {
        color: #999999;
        text-align: justify;
    }

    .carousel_card .carousel_footer p {
        color: #f4521d;
        font-size: 20px;
    }

        .carousel_card .carousel_footer p span {
            color: #999999
        }

    .carousel_card .carousel_footer a {
        background-color: #f4521d;
        color: #fff;
        padding: 10px;
        float: right;
        margin-top: 5px;
    }

@media screen and (max-width: 991px) {
    .carousel_card .carousel_footer a {
        margin-top: -60px
    }

    .owl-theme .owl-nav {
        display: none;
    }

    .owl-theme .owl-dots {
        padding-top: 20px;
    }
}

/*textbox animation*/
.input-field {
    position: relative;
    width: 100%;
    line-height: 44px;
}

    .input-field label {
        position: absolute;
        top: 0;
        width: 100%;
        color: #d3d3d3;
        transition: 0.2s all;
        text-align: left;
        left: 0px;
        font-weight: 400;
    }

    .input-field input {
        width: 100%;
        border: 0 !important;
        outline: 0;
        padding: 15px 0px !important;
        border-bottom: 2px solid #d3d3d3 !important;
        position: relative;
        z-index: 9;
        background: no-repeat !important;
        box-shadow: none !important;
        margin-bottom: 21px !important;
    }

        .input-field input:focus,
        .input-field input:valid {
        }

            .input-field input:focus ~ label,
            .input-field input:valid ~ label {
                top: -28px;
                color: #9a9a9a;
                font-size: 12px;
            }

.btn_sec_login {
    width: 100%;
    float: left;
    position: relative;
}

.btn_load {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.68);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 9;
    padding: 16px 0px 7px 0px;
}

input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0px 9999px #FFF !important;
}
/*text animation close*/
footer {
    position: relative;
    padding: 50px 0px;
}

    footer .content .discover {
        padding: 0;
        margin: 0px;
    }

        footer .content .discover li {
            text-decoration: none;
            list-style: none;
            padding: 5px;
            margin: 0px;
        }

            footer .content .discover li a {
                color: #2d3e52;
                text-decoration: none;
                padding-bottom: 10px;
            }

                footer .content .discover li a:hover {
                    color: #f4521d;
                }

    footer .post .col-md-9 {
        padding-left: 5px;
        padding-bottom: 5px;
    }

    footer .post p {
        text-align: justify;
        color: #9a9a9a;
    }

    footer .post .col-md-3 {
        padding-left: 0px;
        padding-bottom: 0px;
    }

    footer .post h4 {
        color: #f4521d;
    }

    footer .mail_list p {
        color: #9a9a9a;
    }

    footer .form-control {
        padding: 20px;
        border-radius: 0px;
        border: 1px solid #e7e6ea;
        font-size: 15px;
        margin-bottom: 10px;
    }

        footer .form-control:focus {
            border: 1px solid #f55e2c;
        }

    footer .about p {
        color: #9a9a9a;
    }

.loginform {
    width: 100%;
}

.login_form02 {
    display: none;
}

footer .social {
    margin: 0px;
    padding: 0px;
}

    footer .social li {
        list-style: none;
        display: inline;
        float: left;
        padding-left: 10px;
        margin: 0px;
    }

        footer .social li a {
            color: #9a9a9a;
        }

            footer .social li a:hover {
                color: #f4521d;
            }

i {
    padding: 5px;
}

.footer_dark {
    padding: 20px 0px;
    background-color: #f5f5f5;
}

    .footer_dark p {
        float: right;
    }

    .footer_dark i {
        font-size: 25px;
        color: #f4521d;
    }




.night {
    width: 50%;
    float: left;
}

.ameneties {
    width: 50%;
    float: right;
}



.clearfix {
}

.amenetiesDetails li {
    list-style: none;
    display: inline-block;
}

    .amenetiesDetails li a {
        color: #f4521d;
    }

        .amenetiesDetails li a:hover {
            color: #ba360a;
        }

.nightsAndAmeneties p {
    font-size: 20px;
}

.amenetiesDetails li {
}

.amenetiesDetails {
}
