

@media(max-width:1200px) {
	.main_banner {
		padding: 60px 0 60px 0;
	}
	.main_banner .banner_text h1 {
		font-size: 51px;
		line-height: 53px;
	}
}


/*=============End-1200Px=================*/

@media (max-width: 991px) {
    .login-form{width: 100%;}
	.contact-info div span {
		font-size: 15px;
	}
	.contact-info div a {
		font-size: 15px;
	}
	.navbar-default::before {
		width: 80%;
	}
	.main_banner .banner_text h1 {
		font-size: 41px;
		line-height: 43px;
	}
	.packages-main h2 {
		font-size: 40px;
		line-height: 45px;
		margin-bottom: 10px;
	}
	.owl-theme .owl-controls .owl-buttons div {
		position: relative;
		top: 0;
		margin-top: 20px;
	}
	.packages-main .owl-buttons .owl-prev {
		float: none;
		margin: 0;
		left: auto;
	}
	.packages-main .owl-buttons .owl-next {
		float: none;
		margin: 0;
		right: auto;
	}
	footer .social li {
		padding: 0 10px 0 0;
	}
    .inner-banner{padding: 50px 0 80px 0;}
    .about-in::before, .about-in::after{ display: none;}
    .about-text{margin-top: 30px;}
    .about-in .col-md-5{
        padding-left: 15px;
        padding-right: 15px;
    }
    .about-img::after{display: none;}
    .contact-form{margin-bottom: 30px;}
    .contact-form .form-control{
        padding: 22px 10px;
    }
    .contact-in{margin-bottom: 30px;}
}


/*=============End-991Px=================*/

@media (max-width: 767px) {
	/*=====  Top CSS BOF  ======*/
	.contact-info {
		float: right;
	}
	.navbar-default::before {
		display: none;
	}
	.navbar-toggle {
		background-color: #146194;
		border: none;
		border-radius: 0;
		margin-right: 0;
		margin-top: 30px;
		padding: 12px 14px;
		border-radius: 3px;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
		width: 27px;
		height: 3px;
	}
	.navbar-default .navbar-toggle:focus,
	.navbar-default .navbar-toggle:hover {
		background-color: #000000;
	}
	.navbar-default .navbar-collapse,
	.navbar-default .navbar-form {
		border-color: transparent;
		margin-top: 10px;
	}
	.nav>li {
		padding: 0;
		color: #fff;
	}
	.navbar-default .navbar-nav>li>a {
		color: #fff;
		padding: 15px 10px;
		background: #146194;
		border-bottom: 1px solid #fff;
        font-size: 16px;
	}
	.nav>li>a {
		padding: 0;
	}
	.navbar-default .navbar-nav>.active>a,
	.navbar-default .navbar-nav>li>a:hover,
	.navbar-default .navbar-nav>li>a:focus {
		border-bottom: 1px solid #fff!important;
		background: #1c1c1c;
		color: #fff;
	}
	.navbar-nav {
		margin: 0;
	}
	.navbar-default .navbar-brand,
	.navbar-default .navbar-brand:hover,
	.navbar-default .navbar-brand:focus {
		position: relative;
		margin: 0!important;
		padding: 10px 0;
	}
	/*=====  Banner CSS BOF  ======*/
	.main_banner .banner_text h1 {
		font-size: 36px;
		line-height: 43px;
	}
	.main_banner {
		padding: 60px 0 60px 0;
	}
	/*=====  Footer CSS BOF  ======*/
	footer .ftr-btm {
		text-align: center;
	}
	footer .ftr-btm .right_side {
		float: none;
	}
	footer .powered-by {
		text-align: center;
		float: none;
	}
	.top::before {
		width: 100%;
		-moz-clip-path: polygon(0% 1%, 100% 1%, 100% 100%, 0% 100%) !important;
		clip-path: polygon(0% 1%, 100% 1%, 100% 100%, 0% 100%);
	}
	.login-form h1 {
		font-size: 26px;
		line-height: 30px;
	}
	.login-form {
	}
	.packages-main h2 {
		font-size: 30px;
		line-height: 34px;
		margin-bottom: 0;
		padding-bottom: 10px;
	}
	.packages-main hr {
		width: 20%;
		margin-bottom: 30px;
	}
	.packages-main {
		padding: 30px 0;
	}
	.package-deatil {
		padding: 30px 20px;
	}
	.footer-border {
		min-height: 0;
		border-right: none;
		border-bottom: 1px solid #4381a9;
		margin: 0;
		padding-bottom: 30px;
	}
	.contact-footer,
	.quick-link {
		padding: 0;
		margin-top: 30px;
	}
	footer .ftr-btm {
		margin-top: 0;
	}
    .packages-main .item h3, .packages-main .item h3 a{
        font-size: 30px;
        line-height: 34px;
    }
    .about-in{padding: 50px 0 20px 0;}
    .inner-banner{padding: 50px 0 80px 0;}
    .inner-banner h2{font-size: 45px;}
    .flex-box{display: block;}
    .about-info{margin-bottom: 30px;}
    .our-mission-in{padding: 40px 0 10px 0;}
    .our-mission-in{margin-bottom: 91px;}
    .about-info{padding: 30px;}
    .contact-form h3{
        font-size: 30px;
        line-height: 30px;
    }
    .map{margin-bottom: 90px;}
    .map iframe{height: 350px;}
    .contact-in{margin-bottom: 20px;}
    .get-touch h3{
        font-size: 26px;
        line-height: 26px;
    }
    .contact-in{padding: 30px;}
    
}


/*=============End-767Px=================*/

@media (max-width: 500px) {
	.contact-info div {
		padding: 0 12px !important;
	}
	.contact-info div a {
		font-size: 12px !important;
	}
	.contact-info div i {
		font-size: 15px !important;
	}
	.main_banner .banner_text h1 {
		font-size: 28px;
		line-height: 35px;
	}
	.main_banner .banner_text hr {
		margin: 10px 0;
	}
	.packages-main hr {
		width: 30%;
		margin-bottom: 30px;
	}
	.contact-footer h3,
	.quick-link h3 {
		font-size: 25px;
		margin-bottom: 20px;
	}
	.input-form button {
		position: relative;
		margin-top: 15px;
	}
    .inner-banner{padding: 50px 0 80px 0;}
    .inner-banner h2{font-size: 40px;}
    .about-text h3{
        font-size: 22px;
        line-height: 28px;
    }
    .bread-position ul li{
        font-size: 15px;
        padding: 0 10px;
    }
}


/*=============End-500Px=================*/

@media(max-width:380px) {
	.contact-info {
		padding: 5px 0;
		float: none;
		text-align: center;
	}
	.contact-info div {
		border: none;
		text-align: center;
	}
	.contact-info div a {
		font-size: 15px !important;
	}
	.contact-info div i {
		font-size: 15px !important;
	}
	.navbar-brand {
		width: 60%;
	}
}


/*=============End-380Px=================*/

