/* Import All CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	/* background: url(../) */
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

ol,
ul,
li {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

html {
	-webkit-text-size-adjust: none;
}

* {
	outline: none;
}

input[type='submit'] {
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
}

 ::-moz-selection {
	background: #142a9a;
	color: #fff;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
select,
textarea {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	width: 100%;
	padding: 8px 10px;
	margin: 10px 0;
	font-size: 16px;
	border: 1px solid #d4d4d4;
}

.btn {
	padding: 0;
	margin: 0;
	margin-top: 15px;
}

.btn.active,
.btn:active {
	box-shadow: none;
}

.btn a,
input[type="submit"] {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	display: inline-block;
	font-size: 14px;
	background-color: transparent;
	color: #fff !important;
	padding: 10px 30px;
	border-radius: 50px;
	vertical-align: middle;
	text-transform: uppercase;
	border: 1px solid #fff;
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}

.btn a:hover,
input[type="submit"]:hover {
	background-color: #fff;
	color: #333333 !important;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.section {
	padding: 50px 0;
	overflow: hidden;
}

p {
	font-size: 15px;
	line-height: 24px;
	letter-spacing: 0.5px;
	color: #333333;
	padding: 8px 0;
	font-weight: 300;
}

h1,
h2,
h3,
h4 {
	margin-top: 0;
	color: #1961b1;
	font-family: 'Poppins', sans-serif;
}

h1 {
	font-size: 60px;
	line-height: 80px;
	font-weight: 300;
	text-transform: uppercase;
}

h2 {
	text-align: left;
	font-size: 50px;
	font-weight: 700;
	text-transform: capitalize;
	color: #fc4f00;
	line-height: 44px;
	font-family: 'Poppins', sans-serif;
}

h3 {
	font-size: 22px;
	font-weight: 700;
	color: #fff;
	padding: 10px;
	line-height: 28px;
}

h4 {
	font-size: 20px;
	line-height: 26px;
	padding: 15px 0;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
}

h5 {
	font-size: 20px;
	line-height: 24px;
	padding: 10px 0;
	margin: 0;
}

a {
	-webkit-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
	-moz-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
	-ms-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
	-o-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
	transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
}

.navigation_mobile_click,
.navigation_mobile_click:before,
.go-up {
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

a {
	text-decoration: none;
	color: #5e6d77;
}

a:focus,
a:hover {
	text-decoration: none;
	outline: none;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

img {
	max-width: 100%;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: middle;
	height: auto;
}

body {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	background-color: #FFF;
	overflow-x: hidden;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}


/*====================================
=            Helper Class            =
====================================*/

.m-t-10 {
	margin-top: 10px;
}

.m-t-20 {
	margin-top: 20px;
}

.m-t-15 {
	margin-top: 15px;
}

.m-t-25 {
	margin-top: 25px;
}

.m-t-30 {
	margin-top: 30px;
}

.m-t-50 {
	margin-top: 50px;
}

.m-t-70 {
	margin-top: 70px;
}

.m-b-10 {
	margin-bottom: 10px;
}

.m-b-15 {
	margin-bottom: 15px;
}

.m-b-20 {
	margin-bottom: 20px;
}

.m-b-25 {
	margin-bottom: 25px;
}

.m-b-30 {
	margin-bottom: 30px;
}

.m-b-50 {
	margin-bottom: 50px;
}

.p-r-0 {
	padding-right: 0;
}

.p-0 {
	padding: 0;
}

.p-t-10 {
	padding-top: 10px;
}

.p-t-15 {
	padding-top: 15px;
}

.p-t-20 {
	padding-top: 20px;
}

.p-t-25 {
	padding-top: 25px;
}

.p-t-30 {
	padding-top: 30px;
}

.p-b-10 {
	padding-bottom: 10px;
}

.p-b-15 {
	padding-bottom: 15px;
}

.p-b-20 {
	padding-bottom: 20px;
}

.p-b-25 {
	padding-bottom: 25px;
}

.p-b-30 {
	padding-bottom: 30px;
}


/*back-to-top-css*/

.scrollToTop {
	height: 50px;
	width: 50px;
	padding-top: 2px;
	font-size: 24px;
	line-height: 45px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	position: fixed;
	bottom: 40px;
	right: 15px;
	z-index: 999999;
	display: none;
	border-radius: 50%;
	background-color: #1961b1;
	border: 2px solid #fff;
}

.scrollToTop:hover,
.scrollToTop:focus {
	background: #142a9a;
	color: #fff;
}


/*back-to-top-css*/


/*=====  Header CSS BOF  ======*/

header {
	background: #fff;
	z-index: 1000;
	position: relative;
}


/*=====  Top CSS BOF  ======*/

.top {
	width: 100%;
	height: auto;
	position: relative;
}

.contact-info {
	padding: 13px 0;
	overflow: hidden;
	text-align: right;
}

.top::before {
	content: "'";
	background: #1961b1;
	position: absolute;
	bottom: 0;
	right: 0;
    top: 0;
	width: 62%;
	-moz-clip-path: polygon(1% 1%, 100% 1%, 100% 100%, 5% 100%);
	-webkit-clip-path: polygon(1% 1%, 100% 1%, 100% 100%, 5% 100%);
	-o-clip-path: polygon(1% 1%, 100% 1%, 100% 100%, 5% 100%);
	clip-path: polygon(1% 1%, 100% 1%, 100% 100%, 5% 100%);
}

.contact-info div {
	padding: 0 24px;
	display: inline-block;
	border-right: 1px solid #fff;
}

.contact-info div:last-child {
	border-right: none;
	padding-right: 0;
}

.contact-info div i {
	color: #fff;
	font-size: 18px;
	margin-right: 10px;
	float: left;
	line-height: 27px;
}

.contact-info div a {
	color: #fff;
	font-size: 18px;
	font-weight: 400;
}

.contact-info div a:hover {
	color: #8bd1ff;
	text-decoration: none;
}


/*=====  Navbar CSS BOF  ======*/

.navbar-default {
	border: none;
	z-index: 9;
	background: #fff;
	position: relative;
	margin: 0;
}

.navbar-brand img {
	width: 100% !important;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	padding: 0;
}

.nav>li {
	position: relative;
	display: block;
	color: #000;
	font-size: 20px;
}

.nav>li>a {
	display: block;
	margin: 0;
	padding: 28px 28px;
	position: relative;
	font-weight: 500;
	border-bottom: 2px solid transparent;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	height: auto;
	padding: 0;
	position: absolute;
	z-index: 1000;
	margin: -40px 0 0 !important;
}

.top-nav-collapse {
	padding: 0;
	top: 0;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
	color: #1961b1;
	background-color: transparent;
	border-bottom: 2px solid #1961b1;
}

.navbar-default .navbar-nav>li>a {
	color: #1c1c1c;
	font-size: 20px;
	font-weight: 500;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
	color: #1961b1;
	border-bottom: 2px solid #1961b1;
}

.nav>li>a:focus,
.nav>li>a:hover {
	text-decoration: none;
	color: #fff;
	background: transparent;
}


/*=====  Banner CSS BOF  ======*/

.main_banner {
	position: relative;
	background-size: cover !important;
	background-position: top center !important;
	padding: 60px 0 105px 0;
}

.main_banner .banner_text {
	position: relative;
	text-align: left;
}

.main_banner .banner_text h1 {
	font-family: 'Poppins', sans-serif;
	font-size: 50px;
	font-weight: 500;
	color: #fff;
	text-transform: capitalize;
	line-height: normal;
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.9);
	position: relative;
	line-height: 60px;
}

.main_banner .banner_text hr {
	width: 18%;
	text-align: left;
	border: 1px solid #fff;
	float: left;
}


/*=====  Packages Section CSS BOF  ======*/

.package-form {
	background: url(../images/pattern.png) no-repeat;
	background-size: cover;
}

.login-form {
	background-color: rgba(255,255,255,0.8);
	-webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.4);
	padding: 0;
	border-radius: 10px;
	position: relative;
	z-index: 111;
    width: 100%;
    clear: both;
	margin-top: 100px;
	float: left;
}

.login-form h1 {
	background: #1961b1;
	color: #fff;
	font-size: 36px;
	font-weight: 600;
	text-align: center;
	line-height: 40px;
	padding: 15px 0;
    border-radius: 9px 9px 0 0;
}

.login-form form {
	padding: 30px;
	float: left;
    width: 100%;
}

.login-form form label {
	color: #1c1c1c;
	font-size: 16px;
	font-weight: 500;
}

.login-form form .form-control {
	background-color: #fff;
	color: #5b5b5b;
	border: 2px solid #bebebe;
	margin: 10px 0;
	height: 50px;
}

.login-form .forgot {
	text-align: center;
	margin: 0 auto;
	display: block;
	color: #424242;
	font-size: 16px;
	font-weight: 500;
	margin: 10px 0;
}

.login-form .forgot:hover {
	color: #1961b1;
}

.log-btn {
	text-align: center;
}

.login-form .btn {
	background: #1961b1;
	color: #fff;
	font-size: 26px;
	text-transform: uppercase;
	font-weight: 600;
	padding: 5px 30px;
	text-align: center;
	border: 2px solid #1961b1;
}

.login-form .btn:hover {
	background: #fff;
	color: #1961b1;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}


/*==============Holiday-Packages===========*/

.packages-main {
	background: #fff;
	position: relative;
	padding: 60px 0;
}

.packages-main h2 {
	text-align: center;
	margin-bottom: 25px;
	font-size: 50px;
	line-height: 40px;
	font-weight: 600;
	color: #1961b1;
	margin-bottom: 20px;
	padding-bottom: 15px;
}

.packages-main hr {
	height: 4px;
	background: #1961b1;
	width: 20%;
	margin-bottom: 40px;
	margin-top: 10px;
}

.packages-main .item h3,
.packages-main .item h3 a {
	text-align: center;
	margin-bottom: 25px;
	font-size: 34px;
	line-height: 40px;
	font-weight: 600;
	color: #1c1c1c;
	padding: 0;
	margin-bottom: 0;
	padding-bottom: 15px;
}

.package-img img {
	width: 100%;
}

.packages-main .item {
	background: #fff;
	margin: 0 15px;
	position: relative;
	border: 2px solid #e0e0e0;
}

.day-night {
	border-bottom: 1px solid #d8d8d8;
	border-top: 1px solid #d8d8d8;
	padding: 10px 0;
}

.day-night h4 {
	font-size: 16px;
	text-transform: capitalize;
	letter-spacing: 0;
	font-weight: 400;
	color: #1c1c1c;
	padding: 5px 0;
}

.day-night p {
	color: #1c1c1c;
	display: inline-block;
	font-size: 16px;
	padding: 5px 0;
}

.day-night p::after {
	content: "|";
	color: #1c1c1c;
	padding: 0 5px;
}

.day-night p:last-child::after {
	content: "";
}

.package-deatil {
	text-align: center;
	padding: 30px 44px;
}

.price {
	font-size: 16px;
	color: #1c1c1c;
	font-weight: 500;
	padding: 0;
	padding-top: 15px;
}

.price span {
	color: #1c1c1c;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 600;
}

.packages-main .item:hover.item h3 a {
	color: #1961b1;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.packages-main .item:hover {
	-webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.17);
	-moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.17);
	box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.17);
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.packages-main .owl-pagination {
	display: none;
}

.packages-main .owl-buttons {}

.packages-main .owl-buttons .owl-prev {
	float: left;
	margin-left: -40px !important;
	left: 0;
}

.packages-main .owl-buttons .owl-next {
	float: right;
	margin-right: -40px !important;
	right: 0;
}

.owl-theme .owl-controls .owl-buttons div {
	background-color: transparent;
	color: #1c1c1c;
	opacity: 1;
	font-size: 35px;
	padding: 0;
	height: 45px;
	width: 45px;
	border-radius: 50%;
	border: 2px solid #1c1c1c;
	line-height: 40px;
	position: absolute;
	top: 50%;
	text-align: center;
}

.owl-theme .owl-controls .owl-buttons div:hover {
	color: #FFF;
	background: #1961b1;
	border-color: #1961b1;
}


/* Footer CSS BOF
=================================================== */

footer {
	background: #1961b1 url(../images/footer-pattern.png) no-repeat;
	display: block;
	width: 100%;
	margin-top: 60px;
	background-size: cover;
}

.newsletter {
	background: #fff;
	-webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.4);
	overflow: hidden;
	border-radius: 10px;
	padding: 20px 15px;
	margin-top: -54px;
	margin-bottom: 30px;
}

.newsletter h3 {
	color: #1c1c1c;
	font-size: 28px;
	font-weight: 600;
	padding: 0;
}

.newsletter p {
	color: #1c1c1c;
	letter-spacing: 0;
	font-size: 16px;
}

.input-form {
	position: relative;
	margin-top: 9px;
}

.input-form input[type="email"] {
	margin: 0;
	border: 1px solid #cdcdcd;
	height: 50px;
	padding: 0 20px;
}

.input-form button {
	background: #1961b1;
	color: #fff;
	font-size: 26px;
	border: none;
	padding: 0 30px;
	position: absolute;
	top: 0;
	right: 0;
	height: 50px;
}

.input-form button:hover {
	background: #1c1c1c;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.footer-border {
	border-right: 1px solid #4381a9;
	min-height: 362px;
	margin-bottom: 30px;
}

.footer-border:last-child {
	border: none;
}

footer .ftr-logo {
	text-align: left;
}

footer .about-footer p {
	font-size: 15px;
	color: #95c3e1;
	line-height: 25px;
	padding: 25px 0;
}


/* Footer Social CSS BOF
=================================================== */

footer .social {
	display: inline-block;
	list-style: outside none none;
	width: auto;
}

footer .social li {
	text-align: center;
	padding: 0 15px 0 0;
	float: left;
}

footer .social li a {
	color: #1961b1;
	display: block;
	height: 41px;
	line-height: 38px;
	text-decoration: none;
	transition: all 0.8s ease-in-out 0s;
	width: 41px;
	background: #ffffff;
	font-size: 20px;
	border: 2px solid #fff;
	border-radius: 50%;
}

footer .social li a:hover {
	background: #1961b1;
	color: #fff;
}

.contact-footer,
.quick-link {
	padding: 30px 0;
}

.contact-footer h3,
.quick-link h3 {
	font-size: 28px;
	color: #fff;
	font-weight: 600;
	padding: 0;
	margin-bottom: 30px;
}

.contact-footer ul li {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 20px;
}

.contact-footer ul li:last-child {
	margin-bottom: 0;
}

.contact-footer ul li .fa-map-marker {
	font-size: 30px;
}

.contact-footer ul li i {
	position: absolute;
	left: 0;
	top: 0;
	font-size: 22px;
	color: #fff;
}

.contact-footer ul li h4 {
	font-size: 20px;
	font-weight: 600;
	color: #fff;
	text-transform: capitalize;
	letter-spacing: 0;
	padding: 0;
}

.contact-footer ul li p,
.contact-footer ul li a {
	font-size: 16px;
	line-height: 24px;
	color: #95c3e1;
	padding: 5px 0;
	display: block;
}

.contact-footer ul li a:hover {
	color: #fff;
}

.quick-link ul li {
	font-size: 16px;
	margin-bottom: 12px;
}

.quick-link ul li i {
	color: #fff;
}

.quick-link ul li a {
	font-size: 16px;
	color: #95c3e1;
	font-weight: 400;
	padding-left: 15px;
}

.quick-link ul li a:hover {
	color: #fff;
}

footer .ftr-btm {
	background: transparent;
	padding: 10px 0;
	margin-top: 15px;
	border-top: 1px solid #4381a9;
}

footer .copyright {
	color: #95c3e1;
	font-size: 16px;
	font-weight: normal;
	padding: 10px 0;
	font-weight: 400;
}

footer .powered-by {
	color: #95c3e1;
	font-size: 15px;
	font-weight: 400;
	float: right;
	margin-top: 8px;
}



/*================================About-banner=======================*/

.inner-banner{
    padding: 80px 0 110px 0;
    overflow: hidden;
    background-size: cover !important;
    width: 100%;
    position: relative;
    background-position: center center!important;
}
.inner-banner h2{
    color: #fff;
    font-size: 55px;
    text-align: center;
    font-weight: 600;
    line-height: 65x;
}
.breadcrumbs{
    position: absolute;
    bottom: -6px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
   
}
.breadcrumbs ul{
    margin: 0 auto;
}
.bread-position{
   background: #fff; 
    text-align: center;
    display: inline-block;
    border-radius: 40px;
    padding: 15px;
}
.bread-position ul li{
    display: inline-block;
    padding: 0px 25px;
    font-size: 18px;
    text-transform: capitalize;
    color: #1c1c1c;
    font-weight: 500;
}
.bread-position ul li a{
    display: block;
    color: #1c1c1c;
}
.bread-position ul li a:hover{
    color: #1961b1;
}
.about-in{
    padding: 80px 0 60px 0;
    position: relative;
    z-index: 9999999!important;
}

.about-in::before{
    content: url(../images/pattern-left.png);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.about-in::after{
    content: url(../images/pattern-right.png);
    position: absolute;
    right: 0;
    bottom: -7px;
    z-index: -1;
}
.about-in .col-md-5{padding: 0;}
.about-img img {
    width: 100%;
    position: relative;
    z-index: 1;
    border-radius: 10px;
}
.about-img::after {
    content: " ";
    position: absolute;
    top: 20px;
    right: -20px;
    width: 100%;
    background: #fff;
    height: 100%;
    z-index: 0;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 7px 1px rgba(0,0,0,0.24);
    -moz-box-shadow: 4px 4px 7px 1px rgba(0,0,0,0.24);
    box-shadow: 4px 4px 7px 1px rgba(0,0,0,0.24);
}
.about-text h3{
    font-size: 29px;
    line-height: 36px;
    color: #1961b1;
    padding: 0;
    font-weight: 500;
}
.about-text p{
    font-size: 15px;
    line-height: 26px;
    padding: 15px 0;
}
.our-mission-in {
    padding:60px 0;
    background: #f7f7f7;
    margin-bottom: 115px;
}
.about-info {
    text-align: center;
    padding: 40px;
    height: 100%;
    position: relative;
    border-radius: 5px;
    background-color: transparent;
 -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.33);
-moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.33);
box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.33);
}
.about-info svg{
    fill:#fff;
   margin-top: 13px;
    width: 50px;
    text-align: center;
}

.about-info h4 {
    font-size: 28px;
    color: #1c1c1c;
    padding-bottom: 0;
    font-weight: 600;
    letter-spacing: 0;
    padding: 20px 0;
    text-transform: capitalize;
}

.about-info p {
    font-size: 16px;
    color: #333333;
    font-weight: 400;
    line-height: 26px;
}
.vi-mi-icon{
    background: #1961b1;
    border-radius: 50%;
    height: 76px;
    width: 76px;
    text-align: center;
    margin: 0 auto;
}
.flex-box{display: flex;}



/*=================================Contact==============================================*/

.contact-form h3{
    font-size: 50px;
    color: #1c1c1c;
    font-weight: 600;
    border-left: 5px solid #1961b1;
}

.contact-form p{
    font-size:16px;
    color: #1c1c1c;
    font-weight: 400;
    padding: 20px 0;
}

.contact-form .form-control{
    border: none;
    border-bottom: 1px solid #d3d3d3;
    box-shadow: none;
    border-radius: 0;
    font-size: 15px;
    margin: 20px 0;
}

.contact-form .form-control:hover, .contact-form .form-control:focus{
    border-color: #1961b1;
}

.contact-form button{
    background: #1961b1;
    border: none;
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
    padding: 10px 35px;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 15px;
}
.contact-form button:hover{
    background: #1c1c1c;
}

.contact-in{
    background: #1961b1;
    padding: 40px;
}
.get-touch{
    margin-bottom: 20px;
}
.get-touch h3{
    font-size: 36px;
    line-height: 36px;
    font-weight: 600;
    border-left: 5px solid #a1c0d4;
    margin-bottom: 10px;
}

.get-touch p{
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #f1f1f1;
}
.get-touch a{
    color: #f1f1f1;
}
.get-touch a:hover{
    color: #a1c0d4;
}

.contact-in ul li{
    display: inline-block;
}
.contact-in ul li a{
    color: #a1c0d4;
    font-size: 24px;
    padding-right: 26px;
    display: block;
}
.contact-in ul li a:hover{color: #fff;}


.map{
    margin-bottom: 120px;
    overflow: hidden;
}
.login-form1{
	width: 100%;
	float: left;
}
/*reset password*/
.reset_mid {
    width: 400px;
    margin: auto;
    padding: 50px 0px;
}

.main_reset_sec {
    width: 100%;
    float: left;
    padding: 20px;
}

    .main_reset_sec h2 {
        text-align: center;
        margin-bottom: 18px;
    }

.txt_sec {
    width: 100%;
    height: 36px;
    float: left;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    padding: 0px 10px;
    border: 1px solid #cecece;
}

.txt_sec {
    width: 100%;
    height: 36px;
    float: left;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    padding: 0px 10px;
    border: 1px solid #cecece;
}

.reset_btn {
    width: 100%;
    height: 36px;
    border: none;
    background: #1961b1 !important;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #FFF;
    cursor: pointer;
	transition: all linear 0.15s;
	border-radius: 0px !important;
}

    .reset_btn:hover {
		background: #1961b1 !important;
		color: #FFF !important;
    }

.loadrst {
    width: 100%;
    float: left;
    position: relative;
    display: none;
}

.load_reset {
    width: 100%;
    height: 36px;
    border: none;
    background: #1961b1 !important;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #FFF;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 9;
    text-align: center;
    line-height: 37px;
}
.forgot{
	cursor: pointer;
}
.forgot i{
	margin-right: 6px;
}
.forgot_form{
	width: 100%;
	float: left;
	display: none;
}
.btn_load{
	width: 149px;
    height: 51px;
    position: relative;
    left: 0px;
    top: -51px;
    border-radius: 8px;
    background: rgba(20, 97, 148, 0.38);
    color: #FFF;
    text-align: center;
    line-height: 51px;
    font-size: 19px;
    right: 0;
    margin: auto;
}
/*==========================================20/03/2020 New Css==========================*/

.privacy-content{
    padding: 60px 0;
}

.privacy-content h4{
    color: #1961b1;
    letter-spacing: 0;
    text-transform: capitalize;
    font-size: 22px;
    padding: 10px 0;
    line-height: 28px;
}
.privacy-content p{
    font-size: 15px;
    color: #1c1c1c;
    line-height: 25px;
}

.package-detail-inner{
    padding: 60px 0 60px 0;
    overflow: hidden;
	}
	.package-detail-inner .input-group{
		width: 100%;
	}
	.package-detail-inner textarea{
		resize: none;
	}
.package-name{
    border-bottom: 1px solid #dedede;   
    }
.package-name h2{
    text-align: left;
    font-size: 35px;
    text-transform: uppercase;
    color: #1961b1;
    }
.package-name p{
    font-size: 16px;
    color: #1c1c1c;
    font-weight: 600;
    }
.package-name p span{
    color: #1961b1;
    font-size: 20px;
    font-weight: 600;
    }
.package-days{
    border-bottom: 1px solid #dedede; 
    padding: 10px 0;
    overflow: hidden;
    margin-bottom: 30px;
    }
.package-days .day-night p{
    font-weight: 400;
    padding: 0;
    }
.package-days .day-night{
    font-size: 16px;
    color: #181818;
    font-weight: 600;
    vertical-align: middle;
    float: left;
    padding: 0;
    border: none;
    }
.package-days .day-night i{
    color: #181818;
    font-size: 16px;
    padding-right: 10px;
    vertical-align: middle;
    }
.package-media{
    float: right;
    }
.package-media ul li{
    display: inline-block;
    padding-left: 6px;
    }
.package-media ul li a{
    height: 27px;
    width: 27px;
    font-size: 14px;
    color: #fff;
    background: #1961b1;
    display: block;
    border-radius: 50%;
    text-align: center;
    line-height: 26px;
    border: 1px solid #1961b1;
    }
.package-media ul li a:hover{
    border: 1px solid #1961b1;
    background-color: transparent;
    color: #1961b1;
    }
.detail-form{
    background: #1961b1;
    padding:15px 20px 35px 20px;
    overflow: hidden;
    }
.detail-form h3{
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid #fff;
    padding: 20px 0;
    margin: 0px 20px 20px 20px ;
    }
.detail-form input[type="text"], .detail-form input[type="email"], .detail-form input[type="tel"], .detail-form input[type="number"], .detail-form select, .detail-form textarea{margin-top: 0;}
.detail-form .search-section .form-control{
    background: #fff;
    border: 1px solid #fff;
    color: #1c1c1c !important;
    }
.detail-form .search-section .form-control:focus, .detail-form .search-section textarea:focus{
    background: rgba(255,255,255,1);
    }
.detail-form placeholder{color: #fff;}
.detail-form .select2-container--default .select2-selection--single .select2-selection__rendered{
    background: #f4f4f1;
    color: #222931 !important;
    border: 1px solid #f4f4f1;
    padding-top: 8px;
    }
.detail-form .input-group-addon{
    position: absolute;
    z-index: 999;
    right: 31px;
    top: 21px;
    color: #1c1c1c;
    font-size: 16px;
    border: none;
    padding: 0;
    background-color: transparent;
    }
.detail-form .select2-container--default .select2-selection--single .select2-selection__rendered:focus{background: rgba(255,255,255,0.4);}
.detail-form .select2-container--default .select2-selection--single .select2-selection__arrow{
    color: #fff;
    top: 14px;
    right: 6px;
    }
.detail-form .select2-container--default .select2-selection--single{
    border-color: #f4f4f1;
    background: #f4f4f1;
    height: 50px!important;
    }
.detail-form .search-section .form-control{
    height: 50px;
    }
.detail-form ::placeholder {
  color: #222931 !important;
    }
.detail-form textarea{
    background: #fff;
    border-color: #fff;
    border-radius: 0px;
    }
.detail-form .search-section .search-col-padding{
    padding:5px;
    }
.detail-form .search-button{
    background: #fff;
    color: #1c1c1c;
    width: auto;
    text-align: center;
    margin: 0 auto;
    display: block;
    font-size: 20px;
    font-weight: 600;
    border: 2px solid #fff;
    box-shadow: none;
    padding:5px 70px;
    height: 50px;
    border-radius: 30px;
    }
.detail-form .search-button:hover{
    background-color: #1c1c1c;
    color: #fff;
    border-color: #fff;
    }
.desc-detail{
    padding-top: 60px;
    overflow: hidden;
    }
.desc-detail .tab-pane h4{
    font-size: 18px;
    text-transform: capitalize;
    letter-spacing: 0;
    font-weight: 600;
    }
.desc-detail .tab-pane p{
    font-size: 16px;
    color: #898680;
    font-weight: 300;
    line-height: 28px;
    }

.desc-detail .table {
	border-top: 1px solid #ddd;
	margin-top: 15px;
	float: left;
	margin-bottom: 0;
}
.desc-detail table {
	width: 100%;
}
.desc-detail .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
	padding: 15px 0;
	line-height: 1.42857143;
	vertical-align: middle;
	border-bottom: 1px solid #ddd;
	border-top: none;
    font-weight: 600;
}
.desc-detail .table{margin-bottom: 30px;}
.desc-detail .table span {
	color: #212121;
	font-weight: 300;
	float: left;
	text-align: left;
	font-size: 14px;
}
.desc-detail .table span i {
	font-size: 14px;
	padding-right: 5px;
    font-weight: 300;
}
.desc-detail .fist-td {
	width: 30%;
}
.desc-detail .second-td {
	width: 50%;
}
.desc-detail .nav-tabs{
    text-align:left;
    position: absolute;
    top: -25px;
    border-bottom: none;
    }
.desc-detail .nav > li > a{
    padding: 10px 20px;
    background: #1c1c1c;
    color: #ffff;
    font-size: 16px;
    font-weight: 500;
    border-radius: 30px;
    }
.desc-detail .nav-tabs > li.active > a, .desc-detail .nav-tabs > li.active > a:focus, .desc-detail .nav-tabs > li.active > a:hover{
    background: #1961b1;
    color: #fff;
    }
.desc-detail .search-section .tab-content{
    display: inline-block;
    width: 100%;
    border: 1px solid #ebebeb;
    padding:45px 25px;
    }

.comment-div .user{
    float: left;
    padding-left: 0;
    text-align: left;
    width: 10%;
    }
.comment-div .user img{border-radius: 50%;}
.comment-div .comment-block{
    float: left;
    width: 88%;
    }
.comment-div .comment-block .heading{
    color: #333333;
    float: left;
    font-size: 15px;
    font-weight: 700;
    text-transform: inherit;
    width: 100%;
}
.comment-div .comment-block .heading span{
    color: #808080;
    font-weight: 500;
    }
.desc-detail .rating {
    display: inline-block;
    padding: 10px 0 0;
}
.desc-detail .rating li{display: inline-block;}
.desc-detail .rating li i{color: #1961b1;}
.comment-block p{
    color: #333;
    float: left;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    padding-top: 10px;
    width: 100%;
}
.review-form h4{
    color: #333333;
float: left;
font-family: "Roboto", sans-serif;
font-size: 24px;
font-weight: 400;
line-height: 28px;
margin-bottom: 20px;
text-align: left;
text-transform: uppercase;
width: 100%;
    }
.review-form p {
    color: #444444;
    font-size: 15px;
    line-height: 22px;
    text-align: left;
    display: inline-block;
    padding-bottom: 15px;
}
.review-form .add-rws {
    width: 100%;
    font-size: 20px;
    color: #333;
    font-weight: 500;
    padding-bottom: 20px;
    }

.review-form-field input[type="text"], .review-form-field input[type="email"]{
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius:0px;
    }
.review-form-field input[type="text"]:focus, .review-form-field input[type="email"]:focus{
    border-color: #b8b8b8;
    }
.review-form-field input[type="submit"]{
    padding: 13px 50px;
    background: #1961b1;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    }
.review-form-field input[type="submit"]:hover{
    background: #333333;
    color: #fff!important;
    }

.calendar {
	background: #ffffff;
	overflow: hidden;
	margin: 0 !important;
	padding: 8px 0 8px 8px !important;
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #1c1c1c!important;
	height: 50px;
	border: none !important;
	border-right: 1px solid #1961b1 !important;
}

.calendar ::placeholder {
	color: #1c1c1c!important;
}

.ui-datepicker {
	background: #fff;
	box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.1);
    z-index: 999!important;
}

.ui-datepicker-header {
	height: 50px;
	line-height: 50px;
	color: #fff;
	background: #1961b1;
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 20px;
	letter-spacing: 0.04em;
}

.ui-datepicker-prev,
.ui-datepicker-next {
	width: 20px;
	height: 20px;
	text-indent: 9999px;
	border: 2px solid #fff;
	border-radius: 100%;
	cursor: pointer;
	overflow: hidden;
	margin-top: 12px;
}

.ui-datepicker-prev {
	float: left;
	margin-left: 12px;
}

.ui-datepicker-prev:after {
	transform: rotate(45deg);
	margin: -43px 0px 0px 8px;
}

.ui-datepicker-next {
	float: right;
	margin-right: 12px;
}

.ui-datepicker-next:after {
	transform: rotate(-135deg);
	margin: -43px 0px 0px 6px;
}

.ui-datepicker-prev:after,
.ui-datepicker-next:after {
	content: '';
	position: absolute;
	display: block;
	width: 4px;
	height: 4px;
	border-left: 2px solid #fff;
	border-bottom: 2px solid #fff;
}

.ui-datepicker-prev:hover,
.ui-datepicker-next:hover,
.ui-datepicker-prev:hover:after,
.ui-datepicker-next:hover:after {
	border-color: #000;
}

.ui-datepicker-title {
	text-align: center;
}

.ui-datepicker-calendar {
	width: 100%;
	text-align: center;
}

.ui-datepicker-calendar thead tr th span {
	display: block;
	width: 40px;
	color: #1961b1;
	margin-bottom: 5px;
	font-size: 13px;
	text-align: center;
    font-weight: 600;
}

.ui-state-default {
	display: block;
	text-decoration: none;
	color: #1961b1;
	line-height: 40px;
	font-size: 15px;
	font-weight: 500;
}

.ui-state-default:hover {
	background: #1961b1;
	color: #fff;
}

.ui-state-highlight {
	color: #fff;
	background: #1961b1;
}

.ui-state-active {
	background: #1C1C1C none repeat scroll 0 0;
	border-radius: 0;
	color: #fff;
}

.ui-datepicker-unselectable .ui-state-default {
	color: #afc2d8;
	border: 2px solid transparent;
}

.ui-datepicker-trigger {
	background-color: transparent;
	border: medium none;
	color: #1c1c1c;
	font-size: 22px;
	padding: 0;
	position: absolute;
	left: 10px;
	bottom: 20px;
}
.search-col-padding .myselect{height: 50px;}
.select2-container--default .select2-selection--single{
    border-radius: 0!important;
    background: #fff!important;
}
.detail-form .select2-container--default .select2-selection--single .select2-selection__rendered{
    background:#fff;
    border: none;
}
.select2-selection__arrow i{color: #1c1c1c;}
.package-img{width: 100%;}



.h-package-in .item{
    margin: 0 0 30px 0;
}
.inner-pagination {
    text-align: center;
    clear: both;
}
.inner-pagination .pagination {
    margin: 0;
}
.pagination > li {
    display: inline-block;
}
.inner-pagination .pagination > li > a, .inner-pagination .pagination > li > span {
    margin: 0 5px;
    background: #fff;
    color: #222931;
    font-weight: 700;
    height: 40px;
    width: 40px;
    line-height: 27px;
    font-size: 18px;
    border: 1px solid #222931;
}
.inner-pagination .pagination .next-pre a {
    background: #1961b1;
    color: #fff;
    border-radius: 0;
    font-size: 18px;
    font-weight: 700;
    border-color: #1961b1;
}
.inner-pagination .pagination > li > a:hover, .inner-pagination .pagination .active a {
    background: #1c1c1c;
    color: #fff;
    border-color: #1c1c1c;
}
.alertify .ajs-header, .ajs-ok, .ajs-ok:hover, .alertify .ajs-header{
	background: #1961b1 !important;
	color: #FFF !important;
}
@media(max-width:991px){
    .package-place-info{margin-bottom: 30px;}
    .search-col-padding .input-group{display: block;}
    .detail-form .search-section .search-col-padding{overflow: hidden;}
}
@media(max-width:767px){
    .privacy-content{padding: 30px 0;}
    .privacy-content h4{
        font-size: 20px;
        line-height: 30px;
        padding-bottom: 5px;
    }
    .package-detail-inner{padding: 30px 0;}
    .package-name h2{
        font-size: 22px;
        line-height: 30px;
    }
    .desc-detail .table span{font-size: 13px;}
    
    .review-form .col-md-12, .review-form .col-md-6{padding: 0;}
    .review-form{clear: both;}
    .comment-div .user{
        float: none;
        width: 100%;
    }
    .comment-div .comment-block{
        width: 100%;
        float: none;
    }
    .tab-pane .pa-0{padding: 0;}
}
@media(max-width:500px){
    .nav-tabs > li{
        font: none;
        width: 100%;
        border-radius: 0;
        margin-bottom: 5px;
    }
    .desc-detail .nav > li > a{
        border-radius: 0;
        border-bottom: none;
    }
    .desc-detail .nav-tabs{
        position: relative;
        top: 0;
    }
    .desc-detail{padding-top: 30px;}
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
        border-bottom: none;
    }
    .desc-detail .search-section .tab-content{
        padding: 20px;
    }
    .inner-pagination .pagination > li > a, .inner-pagination .pagination > li > span{margin: 0;}
}

@media(max-width:450px){
    .package-media{
        float: none;
        display: block;
        width: 100%;
        margin-top: 10px;
    }
    .package-media ul li:first-child{padding-left: 0;}
    .package-days .day-night{
        width: 100%;
        float: none;
    }
}
.include-points{
	width: 50%;
	float: left;
}
.ui-datepicker-month, .ui-datepicker-year{
	width: auto;
    background: #1961b1;
    border: none;
    margin: 0;
    font-weight: 700;
    font-size: 21px;
}
/* calander trigger */
.ui-datepicker-trigger{
	display: none;
}




