<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Contact Us</title>
  <link rel="shortcut icon" href="website-informations/favicon/favi.png" type="image/png">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
  <link href="/assets/plugins/alertifyJs/alertify.min.css?v=1034" rel="stylesheet" />
  <link href="/assets/plugins/alertifyJs/default.min.css?v=1034" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link href="css/media.css" rel="stylesheet" type="text/css">
  <link href="/assets/plugins/font-awesome/font-awesome.min.css?v=201905200000" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
  <link href="/assets/css/vue-loading.css" rel="stylesheet">
  <link href="css/custom-splash.css" rel="stylesheet" type="text/css">
  <style>
    [v-cloak] {
      display: none;
    }

    .alertify .ajs-header {
      background-color: #f46c00 !important;
    }

    .alertify .ajs-button {
      background-color: #f46c00 !important;
    }
  </style>
</head>

<body>
  <div id="headarea">
    <headeritem></headeritem>
  </div>
  <div id="contactpage" v-cloak>
    <section class="pattern p-b-0">
      <!-- Banner -->
      <div class="inner_banner" :style="'background:url('+bannerSection.Banner_Image+');'">
        <div class="banner_text">
          <h1>{{bannerSection.Banner_Title}}</h1>
        </div>
      </div>
    </section>
    <div class="breadcrumbs1_wrapper">
      <div class="container">
        <div class="breadcrumbs1"><a href="index.html">{{bannerSection.Home_Label}}</a><span><i
              class="fa fa-angle-double-right" aria-hidden="true"></i></span>{{bannerSection.Contact_Us_Label}}</div>
      </div>
    </div>

    <section id="about-us" class="contact-us">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="title">
              <h1>{{contactArea.Title}}</h1>
              <img src="images/title-pattern2.png" alt="pattern">
            </div>
          </div>
        </div>
        <div class="row flex m-t-30">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="inner">
              <div class="shape"> <svg style="enable-background:new 0 0 20 20;" viewBox="0 0 20 20" x="0px" y="0px">
                  <path
                    d="M13.9,11.4C13.6,11.1,13.3,11,13,11c-0.3,0-0.7,0.1-0.9,0.4l-0.9,0.9c-0.1,0-0.1-0.1-0.2-0.1c-0.1,0-0.2-0.1-0.3-0.1  c-0.8-0.5-1.5-1.2-2.2-2C8.1,9.6,7.9,9.2,7.7,8.8C8,8.6,8.2,8.4,8.4,8.2C8.5,8.1,8.5,8.1,8.6,8c0.6-0.6,0.6-1.3,0-1.9L7.9,5.4  C7.8,5.3,7.7,5.2,7.6,5.1C7.5,5,7.3,4.8,7.1,4.6C6.8,4.4,6.5,4.2,6.2,4.2c-0.3,0-0.6,0.1-0.9,0.4l0,0L4.4,5.6C4,5.9,3.8,6.3,3.8,6.8  c-0.1,0.8,0.2,1.5,0.3,2c0.4,1.2,1.1,2.3,2.1,3.4c1.2,1.4,2.6,2.5,4.2,3.3c0.6,0.3,1.5,0.6,2.4,0.7c0.1,0,0.1,0,0.2,0  c0.6,0,1.1-0.2,1.6-0.7c0,0,0,0,0,0c0.1-0.2,0.3-0.3,0.5-0.5c0.1-0.1,0.2-0.2,0.4-0.3c0.3-0.3,0.4-0.6,0.4-0.9  c0-0.3-0.1-0.7-0.4-0.9L13.9,11.4z M14.8,14.3C14.8,14.3,14.8,14.3,14.8,14.3c-0.1,0.1-0.2,0.2-0.3,0.3c-0.2,0.2-0.4,0.3-0.5,0.5  c-0.3,0.3-0.6,0.4-1,0.4c0,0-0.1,0-0.1,0c-0.8-0.1-1.5-0.4-2.1-0.6c-1.5-0.7-2.9-1.8-4-3.1c-0.9-1.1-1.5-2.1-1.9-3.2  C4.6,7.9,4.5,7.4,4.5,6.9c0-0.3,0.1-0.6,0.4-0.8l0.9-0.9C5.9,5,6.1,5,6.2,5c0.2,0,0.3,0.1,0.4,0.2l0,0c0.2,0.2,0.3,0.3,0.5,0.5  c0.1,0.1,0.2,0.2,0.3,0.3l0.7,0.7c0.3,0.3,0.3,0.6,0,0.8C8,7.5,7.9,7.6,7.9,7.7C7.6,7.9,7.4,8.1,7.2,8.4c0,0,0,0,0,0  C6.9,8.6,7,8.8,7,9l0,0c0.2,0.5,0.5,0.9,0.9,1.4l0,0c0.7,0.9,1.5,1.6,2.4,2.2c0.1,0.1,0.2,0.1,0.3,0.2c0.1,0,0.2,0.1,0.3,0.1  c0,0,0,0,0,0c0.1,0,0.2,0.1,0.3,0.1c0.2,0,0.4-0.1,0.4-0.2l0.9-0.9c0.1-0.1,0.2-0.2,0.4-0.2c0.2,0,0.3,0.1,0.4,0.2l1.5,1.5  C15.1,13.7,15.1,14,14.8,14.3L14.8,14.3z M14.8,14.3">
                  </path>
                </svg> </div>
              <h4>{{contactArea.Phone_Label}}</h4>
              <p><a :href="'tel:'+ contactArea.Phone_Number"> {{contactArea.Phone_Number}} </a></p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="inner">
              <div class="shape"> <svg style="enable-background:new 0 0 20 20;" viewBox="0 0 20 20" x="0px" y="0px">
                  <g>
                    <path
                      d="M15.2,5.1H5.4c-0.9,0-1.6,0.7-1.6,1.6v6.7c0,0.9,0.7,1.6,1.6,1.6h9.8c0.9,0,1.6-0.7,1.6-1.6V6.7   C16.8,5.8,16.1,5.1,15.2,5.1L15.2,5.1z M16.1,13.4c0,0.5-0.4,0.9-0.9,0.9H5.4c-0.5,0-0.9-0.4-0.9-0.9V6.7c0-0.5,0.4-0.9,0.9-0.9   h9.8c0.5,0,0.9,0.4,0.9,0.9L16.1,13.4L16.1,13.4z M16.1,13.4">
                    </path>
                    <path
                      d="M12,9.9l3.2-2.9c0.1-0.1,0.2-0.4,0-0.5c-0.1-0.1-0.4-0.2-0.5,0l-4.4,3.9L9.5,9.7c0,0,0,0,0,0c0,0,0,0-0.1-0.1L5.9,6.5   c-0.2-0.1-0.4-0.1-0.5,0c-0.1,0.2-0.1,0.4,0,0.5l3.2,2.9l-3.2,3c-0.1,0.1-0.2,0.4,0,0.5c0.1,0.1,0.2,0.1,0.3,0.1   c0.1,0,0.2,0,0.2-0.1l3.3-3l0.9,0.8c0.1,0.1,0.2,0.1,0.2,0.1c0.1,0,0.2,0,0.2-0.1l0.9-0.8l3.2,3.1c0.1,0.1,0.2,0.1,0.3,0.1   c0.1,0,0.2,0,0.3-0.1c0.1-0.1,0.1-0.4,0-0.5L12,9.9z M12,9.9">
                    </path>
                  </g>
                </svg> </div>
              <h4>{{contactArea.Email_Label}}</h4>
              <p><a :href="'mailto:'+ contactArea.Email"> {{contactArea.Email}}</a></p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="inner brdr-rgtnn">
              <div class="shape"> <svg style="enable-background:new 0 0 20 20;" viewBox="0 0 20 20" x="0px" y="0px">
                  <g>
                    <path
                      d="M10,2.2c-3.3,0-6,2.7-6,6c0,0.4,0,0.8,0.1,1.1c0,0,0,0.1,0,0.2c0.1,0.4,0.2,0.8,0.4,1.2c0.6,1.5,2.1,3.9,5.2,6.4   c0.1,0.1,0.2,0.1,0.3,0.1c0.1,0,0.2,0,0.3-0.1c3.1-2.5,4.5-4.9,5.2-6.4c0.2-0.4,0.3-0.8,0.4-1.2c0-0.1,0-0.2,0-0.2   C16,9,16,8.6,16,8.2C16,4.9,13.3,2.2,10,2.2L10,2.2z M15.1,9.2C15.1,9.2,15.1,9.2,15.1,9.2c0,0,0,0.1,0,0.2v0   c-0.1,0.4-0.2,0.7-0.3,1c0,0,0,0,0,0c-0.6,1.4-1.9,3.5-4.7,5.8c-2.8-2.3-4.1-4.4-4.7-5.8c0,0,0,0,0,0C5.2,10,5.1,9.7,5,9.3v0   c0-0.1,0-0.1,0-0.1c0,0,0,0,0,0c-0.1-0.3-0.1-0.7-0.1-1C4.9,5.4,7.2,3,10,3c2.8,0,5.2,2.3,5.2,5.2C15.2,8.5,15.2,8.9,15.1,9.2   L15.1,9.2z M15.1,9.2">
                    </path>
                    <path
                      d="M10,4.5c-2.1,0-3.8,1.7-3.8,3.8c0,2.1,1.7,3.8,3.8,3.8c2.1,0,3.8-1.7,3.8-3.8C13.8,6.2,12.1,4.5,10,4.5L10,4.5z M10,11.2   c-1.6,0-3-1.3-3-3c0-1.6,1.3-3,3-3c1.6,0,3,1.3,3,3C13,9.9,11.7,11.2,10,11.2L10,11.2z M10,11.2">
                    </path>
                  </g>
                </svg> </div>
              <h4>{{contactArea.Address_Label}}</h4>
              <!-- <p v-html="contactArea.Address"></p> -->
              <div v-html="contactArea.Address"></div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="contact-form">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 p-0">
            <div class="contact-form">
              <form>
                <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-12 search-col-padding">
                    <label>{{mainSection.Name_Label}}</label>
                    <div class="input-group">
                      <input name="name" class="form-control" v-model="cntname"
                        :placeholder="mainSection.Name_Placeholder" type="text">
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12 search-col-padding">
                    <label>{{mainSection.Email_Label}}</label>
                    <div class="input-group">
                      <input name="email" class="form-control" v-model="cntemail"
                        :placeholder="mainSection.Email_Placeholder" type="text">
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="col-md-6 col-sm-6 col-xs-12 search-col-padding">
                    <label>{{mainSection.Phone_Label}}</label>
                    <div class="input-group">
                      <input name="phone" class="form-control" v-model="cntcontact"
                        :placeholder="mainSection.Phone_Placeholder" type="text">
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12 search-col-padding">
                    <label>{{mainSection.Subject_Label}}</label>
                    <div class="input-group">
                      <input name="subject" class="form-control" v-model="cntsubject"
                        :placeholder="mainSection.Subject_Placeholder" type="text">
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="col-md-12 col-sm-12 col-xs-12 search-col-padding">
                    <label>{{mainSection.Message_Label}}</label>
                    <div class="input-group">
                      <textarea class="form-control" v-model="cntmessage" id="exampleTextarea" rows="5"
                        :placeholder="mainSection.Message_Placeholder"></textarea>
                    </div>
                  </div>
                  <div class="col-md-12 col-sm-12  col-xs-12 search-col-padding text-center">
                    <button class="btn-orng" @click.prevent="sendcontactus()"><span>{{mainSection.Button_Label}}</span></button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-lg-6 p-0">
            <div class="map-responsive">
              <iframe :src="mainSection.Map_Link" style="border:0" allowfullscreen="" width="600" height="450"
                frameborder="0"></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div id="footerArea">
    <footeritem></footeritem>
  </div>
  <a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/assets/js/vue.min.js?v=202002060000"></script>
  <script src="/assets/js/vue-i18n.js?v=201912240000"></script>
  <script src="/assets/js/axios.min.js?v=201912240000"></script>
  <script src="/assets/plugins/moment/moment.min.js"></script>
  <script src="/assets/plugins/alertifyJs/alertify.min.js"></script>
  <script src="/assets/js/vue-loading-overlay@3.min.js"></script>
  <script>
    Vue.use(VueLoading);
    Vue.component('loading', VueLoading)
  </script>
  <script src="js/jquery.min.js"></script>
  <!-- <script src="/Login/Lisamin/js/jquery.cookie.js"></script> -->
  <!-- <script src="js/owl.carousel.min.js"></script> -->
  <script src="js/bootstrap.min.js"></script>
  <script src="js/custom.js"></script>

  <script src="/Resources/HubUrls/HubServiceUrls.js?v=202008060000"></script>
  <script src="/CommonFuntions/CommonFunctions.js?v=202008240000"></script>
  <script src="master/master.js"></script>
  <script src="servicejs/contact.js"></script>
</body>

</html>