<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lisamin Travel</title>
    <link rel="shortcut icon" href="website-informations/favicon/favi.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/alertifyJs/alertify.min.css?v=1034" rel="stylesheet" />
    <link href="/assets/plugins/alertifyJs/default.min.css?v=1034" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="css/media.css" rel="stylesheet" type="text/css">
    <link href="/assets/plugins/font-awesome/font-awesome.min.css?v=201905200000" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="/assets/css/vue-loading.css" rel="stylesheet">
    <link href="css/custom-splash.css" rel="stylesheet" type="text/css">

    <style>
        [v-cloak] {
            display: none;
        }

        .alertify .ajs-header {
            background-color: #f46c00 !important;
        }

        .alertify .ajs-button {
            background-color: #f46c00 !important;
        }
    </style>
</head>

<body>
    <!-- PRELOADER -->
    <div id="preloader">
        <div id="preloader-status">
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
            <div class="lds-circle">
                <div></div>
            </div>
            <div id="preloader-title">Loading</div>
        </div>
    </div>
    <!-- /PRELOADER -->
    <div id="headarea">
        <headeritem></headeritem>
    </div>
    <div id="homepage" v-cloak>
        <div class="vld-parent">
            <loading :active.sync="isLoading" :can-cancel="true" :is-full-page="true"></loading>
        </div>
        <section class="pattern">
            <!-- Banner -->
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-sm-10">
                        <div class="banner_main">
                            <div id="owl-demo-1" class="owl-carousel banner_text owl-theme">

                                <div v-for="bannerItem in bannerSection.Banner_Carousel_List" class="item">
                                    <div class="banner-img">
                                        <img :src="bannerItem.Banner_Image_943x665px" alt="banner">
                                    </div>
                                    <div class="banner-text">
                                        <h1>{{bannerItem.Banner_Title}}</h1>
                                        <p>{{bannerItem.Banner_Description}}</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Log-In Form -->
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-6 col-sm-8 col-sm-offset-4">
                        <div class="login-form">
                            <h1>{{loginSection.Title_Label}}</h1>
                            <form action="javascript:sendLogin()">
                                <div class="row">
                                    <div class="col-md-12">
                                        <input name="agnecy-code" class="form-control" id="txtAgencyCode" type="text"
                                            :placeholder="loginSection.Agency_Code_Placeholder">
                                    </div>

                                    <div class="col-md-12">
                                        <input name="username" id="txtUname" class="form-control" type="text"
                                            :placeholder="loginSection.Username_Placeholder">
                                    </div>

                                    <div class="col-md-12">
                                        <input name="password" id="txtPwd" class="form-control" type="password"
                                            :placeholder="loginSection.Password_Placeholder">
                                    </div>

                                    <div class="col-md-12">
                                        <div class="check_box">
                                            <input type="checkbox" name="Checkbox" value="lsRememberMe" id="rememberMe">
                                            <label for="rememberMe"></label>{{loginSection.Rember_Me_Label}}
                                        </div>
                                        <a class="forgot">{{loginSection.Forget_Password_Label}}</a>
                                    </div>
                                    <div class="col-md-12 log-btn">
                                        <button class="btn">{{loginSection.Login_Button_Label}}</button>
                                        <div id="loginLoader" class="btn_load" style="display:none;"><i
                                                class="fa fa-spinner fa-spin"></i></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="forgot_form">
                            <h1>{{loginSection.Title_Label}}</h1>
                            <form action="javascript:forgotPassword()">
                                <div class="row">
                                    <div class="col-md-12">
                                        <input name="agnecy-code" class="form-control" id="txtAgency" type="text"
                                            :placeholder="loginSection.Agency_Code_Placeholder">
                                    </div>
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" id="txtEmail" placeholder="Email ID">
                                    </div>
                                    <div class="col-md-12 log-btn">
                                        <button class="btn" id="btnForgot">SEND</button>
                                        <div id="loderForgot" class="btn_load" style="display:none;"><i
                                                class="fa fa-spinner fa-spin"></i></div>
                                        <!-- <div class="btn">Log In</div> -->
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <a class="forgot_back"><i class="fa fa-arrow-left" aria-hidden="true"></i> &nbsp; Back
                                        To Login</a>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about -->
        <section class="about">
            <div class="container">
                <div class="title">
                    <!-- <h1>About <span>Lisamin</span></h1> -->
                    <h1>{{aboutSection.About_Header_Label}}</h1>
                    <img src="images/title-pattern.png" alt="pattern">
                </div>

                <p>
                <div v-html="aboutSection.About_Description1"></div>
                </p>
                <!-- <p>
                <div v-html="aboutSection.About_Header_Label"></div>
                </p> -->
                <a href="about.html" class="btn">{{aboutSection.Read_More_Label}}</a>

            </div>
        </section>
    </div>
    <div id="footerArea">
        <whychoose></whychoose>
        <footeritem></footeritem>
    </div>
    <a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="/assets/js/vue.min.js?v=202002060000"></script>
    <script src="/assets/js/vue-i18n.js?v=201912240000"></script>
    <script src="/assets/js/axios.min.js?v=201912240000"></script>
    <script src="/assets/plugins/moment/moment.min.js"></script>
    <script src="/assets/plugins/alertifyJs/alertify.min.js"></script>
    <script src="/assets/js/vue-loading-overlay@3.min.js"></script>
    <script>
        Vue.use(VueLoading);
        Vue.component('loading', VueLoading)
    </script>
    <script src="js/jquery.min.js"></script>
    <script src="/Login/Lisamin/js/jquery.cookie.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="/assets/js/modernizr-2.7.2.js?v=202009070000"></script>

    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202008060000"></script>
    <script src="/CommonFuntions/CommonFunctions.js?v=202008240000"></script>
    <script src="/CommonFuntions/ExtentionMethods.js?v=201905200000"></script>
    <script src="/Login/LoginComponents/js/login.js?v=202007160000"></script>
    <script src="master/master.js"></script>
    <script src="master/index.js"></script>
    <script>
        jQuery(window).load(function () {
            //   $('#preloader').delay(4000).fadeOut(100);
        })
    </script>

    <!-- <script>
        $(document).ready(function () {

            $("#owl-demo-1").owlCarousel({
                autoplay: true,
                autoPlay: 8000,
                autoplayHoverPause: true,
                stopOnHover: false,
                items: 1,
                margin: 10,
                lazyLoad: true,
                navigation: true,
                itemsDesktop: [1199, 1],
                itemsDesktopSmall: [979, 1],
                itemsTablet: [768, 1],
            });

            $(".owl-prev").html('<i class="fa   fa-angle-left"></i>');
            $(".owl-next").html('<i class="fa  fa-angle-right"></i>');
        });
    </script> -->
</body>

</html>