@media screen and (max-width: 550px) {
.call-action {
    width: auto;
}
.login-form {
    padding: 10px 10px 30px;
}
.d-n {display:none;}
.newsletter button {
    width: 200px;
    right: 0;
    top: 70px;
    left: 0;
    margin: 0 auto;
}
.newsletter {
    padding: 50px 0 100px;
}
.newsletter .input {
	width: 100%;
}
}
@media screen and (max-width: 767px) {
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    width: 100px;
}
.navbar-brand > img {
    width: 100%;
}
.login-form .link ul li {
	padding: 0 5px;
}
.newsletter button {
    right: 15px;
}
footer .copyright {
    text-align: center;
}
footer .powered-by {
    text-align: center;
    float: none;
}
footer .bdr-rgt {
    border-right: none;
	border-bottom: 1px solid #3c3839;
}
.m-t-30 {
    margin-top: 0;
}

}

@media (min-width: 768px) and (max-width: 990px) {
.main_banner h1 {
	font-size: 38px;
	margin-top: 135px;
}
.main_banner h1 span {
    font-size: 28px;
}
.login-form .link {
    padding: 0;
}
footer .inner .social li {
    padding: 0 2px;
}
.newsletter button {
    right: 15px;
	width: 150px;
}
}
@media (min-width: 991px) and (max-width: 1024px) {
.main_banner h1 {
	font-size: 38px;
}
.main_banner h1 span {
    font-size: 28px;
}
.login-form .link {
    padding: 0;
}
}
@media (min-width: 1025px) and (max-width: 1400px) {
}
