* {
	margin: 0;
	padding: 0;
}
img {
	outline: none;
}
body {
	/*font-family: 'Roboto', sans-serif;*/
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: bold;
	line-height: 1.1;
	margin: 0;
	padding: 0;
}
a {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	outline: none;
}
p {
	line-height: 26px;
	margin: 0;
	padding: 0;
	color: #555;
	font-size: 15px;
	font-weight: 400;
}

body{
	margin: 0;
	padding: 0;
	background: #DCE0E6;
	
}
#homepage{
	position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}
.main_banner{
	width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.login_div{
	background: #FFF;
    border-radius: 4px;
    padding: 30px;
    width: 523px;
}
.login_div h2{
	text-align: center;
    margin: 0;
    font-size: 23px;
	margin-bottom: 24px;
	color: #4e4e4e;
}
.forgot_form{
	display: none;
}
.sec{
	width: 100%;
	float: left;
	margin-bottom: 9px;
	position: relative;
}
.sec:last-child{
	margin-bottom: 0px;
}
.sec input{
	width: 100%;
	height: 57px;
	border-radius: 3px;
	background: #efefef;
	border:1px solid #e8e8e8;
}
.sec button{
	width: 100%;
	height: 57px;
	border-radius: 3px;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d70ee5+0,4c09d6+100 */
background: #d70ee5; /* Old browsers */
background: -moz-linear-gradient(left,  #d70ee5 0%, #4c09d6 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #d70ee5 0%,#4c09d6 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #d70ee5 0%,#4c09d6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d70ee5', endColorstr='#4c09d6',GradientType=1 ); /* IE6-9 */
font-size: 21px;
	border: none;
	color: #FFF;
}
.link{
	width: 100%;
	float: left;
}
.link ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.link ul li{
	text-align: center;
}
.link ul li a{
	color:#505050;
}
.link ul li a i{
	margin-right: 5px;
}
.btn_load{
	width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    line-height: 63px;
    color: #FFF;
    font-size: 24px;
    background: rgba(0, 0, 0, 0.35);
}

/*reset password*/
.reset_mid {
    width: 400px;
    margin: auto;
    padding: 50px 0px;
}

.main_reset_sec {
    width: 100%;
    float: left;
    padding: 20px;
}

    .main_reset_sec h2 {
        text-align: center;
        margin-bottom: 18px;
    }

.txt_sec {
    width: 100%;
    height: 36px;
    float: left;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    padding: 0px 10px;
    border: 1px solid #cecece;
}

.txt_sec {
    width: 100%;
    height: 36px;
    float: left;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    padding: 0px 10px;
    border: 1px solid #cecece;
}

.reset_btn {
    width: 100%;
    height: 36px;
    border: none;
    background: #ed1c24;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #FFF;
    cursor: pointer;
    transition: all linear 0.15s;
}

    .reset_btn:hover {
        background: #231f20;
    }

.loadrst {
    width: 100%;
    float: left;
    position: relative;
    display: none;
}

.load_reset {
    width: 100%;
    height: 36px;
    border: none;
    background: rgba(237, 28, 36, 0.67);
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #FFF;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 9;
    text-align: center;
    line-height: 37px;
}