﻿<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Us</title>
    <link rel="shortcut icon" href="website-informations/favicon/favi.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link href="assets/css/media.css" rel="stylesheet" type="text/css">
    <link href="assets/css/owl.carousel.css?v=201910240000" rel="stylesheet" type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,700,800" rel="stylesheet">
    <link href="/assets/css/vue-loading.css" rel="stylesheet">
    <style>
        [v-cloak] {
          display: none;
        }
      </style>
</head>

<body>
    <header>
        <headeritem></headeritem>
      </header>
    <div id="about" v-cloak>
        <div class="vld-parent">
            <loading :active.sync="isLoading" :can-cancel="false" :is-full-page="fullPage"></loading>
        </div> 
    <section class="inner_banner" :style="'background:url('+BannerSection.Banner_Image_1920_x_234px+')'">
        <div class="banner_text">
            <h1 class="text-center">{{BannerSection.Title}}</h1>
        </div>
    </section>
    <div class="breadcrumbs1_wrapper">
        <div class="container">
            <div class="breadcrumbs1"><a href="index.html">{{BannerSection.Breadcrumb_1}}</a><span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>{{BannerSection.Breadcrumb_1}}</div>
        </div>
    </div>
    <section id="about_us" class="title bdr-btm">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>{{AboutUsSection.About_Us_Title}}</h2>
                    <p v-html="AboutUsSection.About_Us_Content"></p>
                    <div class="corevalue">
                        <h2>{{AboutUsSection.Core_Values_Title}}</h2>
                        <p v-html="AboutUsSection.Core_Values_Content"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="about_us">
        <div class="container">
            <div class="row flx_row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="mission_vision">
                        <i class="fa fa-flag"></i>
                        <h4>{{AboutUsSection.Mission_Title}}</h4>
                        <p v-html="AboutUsSection.Mission_Content"> </p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="mission_vision">
                        <i class="fa fa-eye"></i>
                        <h4>{{AboutUsSection.Vision_Title}}</h4>
                        <p v-html="AboutUsSection.Vision_Content"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<footers>
    <footeritem></footeritem>
</footers>
<script src="/assets/js/vue.min.js?v=202002060000"></script>
<script src="/assets/js/vue-i18n.js?v=201912240000"></script>
<script src="/assets/js/axios.min.js?v=201912240000"></script>
<script src="/assets/js/vue-loading-overlay@3.min.js"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/custom.js?v=201905200000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202008060000"></script>
    <script src="master/master.js"></script>
<script src="servicejs/about-us.js"></script>
</body>
</html>