﻿<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact Us</title>
    <link rel="shortcut icon" href="website-informations/favicon/favi.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link href="assets/css/media.css" rel="stylesheet" type="text/css">
    <link href="assets/css/owl.carousel.css?v=201910240000" rel="stylesheet" type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,700,800" rel="stylesheet">
    <link href="assets/pluggins/alertifyJs/default.min.css" rel="stylesheet" />
    <link href="assets/pluggins/alertifyJs/alertify.min.css" rel="stylesheet" />
    <link href="/assets/css/vue-loading.css" rel="stylesheet">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <header>
        <headeritem></headeritem>
    </header>
    <div id="contact" v-cloak>
        <div class="vld-parent">
            <loading :active.sync="isLoading" :can-cancel="false" :is-full-page="fullPage"></loading>
        </div>  
        <section class="inner_banner" :style="'background:url('+BannerSection.Logo_1920_x_234px+')'">
            <div class="banner_text">
                <h1 class="text-center">{{BannerSection.Title}}</h1>
            </div>
        </section>
        <div class="breadcrumbs1_wrapper">
            <div class="container">
                <div class="breadcrumbs1"><a href="index.html">{{BannerSection.Breadcrumb_1}}</a><span><i class="fa fa-angle-double-right"
                            aria-hidden="true"></i></span>{{BannerSection.Breadcrumb_2}}</div>
            </div>
        </div>
        <section id="contact_sec" class="title">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2>{{ContactSection.Title}}</h2>
                    </div>
                </div>
                <div class="row flx_row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="inner">
                            <i class="fa fa-map-marker"></i>
                            <h4>{{ContactSection.Address_Label}}</h4>
                            <p>{{ContactSection.Address_Detail}}</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="inner">
                            <i class="fa fa-mobile-phone size38"></i>
                            <h4>{{ContactSection.Phone_Label}}</h4>
                            <p v-for="item in ContactSection.Phone_Number_List"><a
                                    :href="'tel:'+item.Phone_Number">{{item.Phone_Number}}</a></p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="inner">
                            <i class="fa fa-envelope size26"></i>
                            <h4>{{ContactSection.Email_Label}}</h4>
                            <p><a :href="'mailto:'+ContactSection.Email_Address"> {{ContactSection.Email_Address}}</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div id="contact-form">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 p-0">
                        <div class="contact-form">
                            <form>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 search-col-padding">
                                        <label>{{ContactSection.Name_Label}}</label>
                                        <div class="input-group">
                                            <input name="name" class="form-control"
                                                :placeholder="ContactSection.Name_Placeholder" type="text"
                                                v-model="cntusername">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 search-col-padding">
                                        <label>{{ContactSection.Email_Label}}</label>
                                        <div class="input-group">
                                            <input name="email" class="form-control"
                                                :placeholder="ContactSection.Email_Placeholder" type="text"
                                                v-model="cntemail">
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-6 col-sm-6 search-col-padding">
                                        <label>{{ContactSection.Phone_Label}}</label>
                                        <div class="input-group">
                                            <input name="phone" class="form-control"
                                                :placeholder="ContactSection.Phone_Number_Placeholder" type="text"
                                                v-model="cntcontact">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 search-col-padding">
                                        <label>{{ContactSection.Subject_Label}}</label>
                                        <div class="input-group">
                                            <input name="subject" class="form-control"
                                                :placeholder="ContactSection.Subject_Placeholder" type="text"
                                                v-model="cntsubject">
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-12 col-sm-12 search-col-padding">
                                        <label>{{ContactSection.Message_Label}}</label>
                                        <div class="input-group">
                                            <textarea class="form-control" id="exampleTextarea" rows="5"
                                                :placeholder="ContactSection.Message_Placeholder"
                                                v-model="cntmessage"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 search-col-padding text-center">
                                        <button class="btn-grey"
                                            v-on:click.prevent="sendcontact"><span>{{ContactSection.Send_Message_Button_Label}}</span></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-6 p-0">
                        <div class="map-responsive">
                            <iframe :src="MapSection.Map_Path" style="border:0" allowfullscreen="" width="600"
                                height="450" frameborder="0"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footers>
        <footeritem></footeritem>
    </footers>
    <script src="/assets/js/vue.min.js?v=202002060000"></script>
    <script src="/assets/js/axios.min.js?v=201912240000"></script>
    <script src="/assets/js/vue-i18n.js?v=201912240000"></script>
    <script src="/assets/js/vue-loading-overlay@3.min.js"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/custom.js?v=201905200000"></script>
    <script src="/assets/plugins/moment/moment.min.js?v=201907220000"></script>
    <script src="/assets/plugins/alertifyJs/alertify.min.js?v=201905200000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202008060000"></script>
    <script src="/CommonFuntions/CommonFunctions.js?v=202008240000"></script>
    <script src="master/master.js"></script>
    <script src="servicejs/contact.js"></script>
</body>

</html>