﻿<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OK TRAVEL</title>
    <link rel="shortcut icon" href="website-informations/favicon/favi.png">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link href="assets/css/media.css" rel="stylesheet" type="text/css">
    <link href="assets/css/owl.carousel.css?v=201910240000" rel="stylesheet" type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:500,700" rel="stylesheet">
    <link href="assets/pluggins/alertifyJs/default.min.css" rel="stylesheet" />
    <link href="assets/pluggins/alertifyJs/alertify.min.css" rel="stylesheet" />
    <link href="assets/css/custom-splash.css" rel="stylesheet" type="text/css">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <!-- PRELOADER -->
<div id="preloader">
    <div id="preloader-status">
        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
        <div class="lds-circle"><div></div></div>
        <div id="preloader-title">Loading</div>
    </div>
  </div>
  <!-- /PRELOADER -->
    <header>
        <headeritem></headeritem>
    </header>
    <div id="homepage" v-cloak>
        <section class="main_banner" :style="'background:url('+bannerSection.Image_1920_x_564px+') no-repeat;'">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <h1><span>{{bannerSection.Title_1}}</span><br> {{bannerSection.Title_2}}</h1>
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-5 col-xs-12 pull-right">
                        <div class="login_div">
                            <h2>{{mainContent.Agency_Login_Label}}</h2>
                            <form action="javascript:sendLogin()">
                                <div class="login-form">
                                    <div class="sec">
                                        <label>{{mainContent.Agency_Code_Label}}</label>
                                        <input name="agnecy-code" id="txtAgencyCode" class="form-control" type="text">
                                    </div>
                                    <div class="sec">
                                        <label>{{mainContent.User_Name_Label}}</label>
                                        <input name="username" id="txtUname" class="form-control" type="text">
                                    </div>
                                    <div class="sec">
                                        <label>{{mainContent.Password_Label}}</label>
                                        <input name="password" id="txtPwd" class="form-control" type="password">
                                    </div>
                                    <div class="sec">
                                        <button class="login_btn loginbtn01">{{mainContent.Button_Label}}</button>
                                        <div id="loginLoader" class="btn_load" style="display:none;"><i
                                                class="fa fa-spinner fa-spin"></i></div>
                                        <a href="#"
                                            class="forgot forgot_click">{{mainContent.Forgot_Password_Label}}</a>
                                    </div>

                                </div>
                            </form>
                            <div class="forgot_form">
                                <form action="javascript:forgotPassword()">
                                    <div class="sec">
                                        <input type="text" class="form-control" id="txtAgency"
                                            :placeholder="mainContent.Agency_Code_Placeholder">
                                    </div>
                                    <div class="sec">
                                        <input type="text" class="form-control" id="txtEmail"
                                            :placeholder="mainContent.Email_Placeholder">
                                    </div>
                                    <div class="sec">
                                        <button class="login_btn" id="btnForgot">{{mainContent.Button_Label}}</button>
                                        <div id="loderForgot" class="btn_load" style="display:none"><i
                                                class="fa fa-spinner fa-spin"></i></div>
                                    </div>
                                </form>
                                <a class="back"><i class="fa fa-arrow-left"
                                        aria-hidden="true"></i>{{mainContent.Back_To_Login_Label}}</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="airlines-sec" class="title">
            <div class="container-fluid">
                <div class="inner">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h2>{{dealsContent.Title}}</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div id="owl-demo-2" class="owl-carousel owl-theme">
                            <div class="item" v-for="item in dealsContent.Deals_List">
                                <div class="value_trip">
                                    <img :src="item.Image_430_x_550px" alt="image">
                                    <div class="cont">
                                        <h4><a href="#" v-html="item.Description"></a></h4>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="item">
                            <div class="value_trip">
                                <img src="assets/images/jetblue.jpg" alt="image">
                                <div class="cont">
                                    <h4><a href="#"></a></h4>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="value_trip">
                                <img src="assets/images/air-arabia.jpg" alt="image">
                                <div class="cont">
                                    <h4><a href="#"></a></h4>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="value_trip">
                                <img src="assets/images/jet-airways.jpg" alt="image">
                                <div class="cont">
                                    <h4><a href="#"><span>Save up to 50%</span> on flights <br>to select destinations
                                            <br>with Jet Airways!</a></h4>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="value_trip">
                                <img src="assets/images/cebu-pacific.jpg" alt="image">
                                <div class="cont">
                                    <h4><a href="#">Cebu pacific airline <br>starting <span>from 699 AED</span></a></h4>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="value_trip">
                                <img src="assets/images/jetblue.jpg" alt="image">
                                <div class="cont">
                                    <h4><a href="#">JetBlue Round-Trip <br>Flights <span>from 750 AED</span></a>></h4>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="value_trip">
                                <img src="assets/images/air-arabia.jpg" alt="image">
                                <div class="cont">
                                    <h4><a href="#">Special fares <br>starting <span>from 310 AED</span> <br>for Mumbai
                                            &amp; Colombo <br>with Air Arabia!</a></h4>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="value_trip">
                                <img src="assets/images/jet-airways.jpg" alt="image">
                                <div class="cont">
                                    <h4><a href="#"><span>Save up to 50%</span> on flights <br>to select destinations
                                            <br>with Jet Airways!</a></h4>
                                </div>
                            </div>
                        </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footers>
        <footeritem></footeritem>
    </footers>
    <script src="/assets/js/vue.min.js?v=202002060000"></script>
    <script src="/assets/js/vue-i18n.js?v=201912240000"></script>
    <script src="/assets/js/axios.min.js?v=201912240000"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js?v=1034"></script>
    <script src="assets/pluggins/moment/moment.min.js?v=1034"></script>
    <script src="assets/js/jquery.cookie.js?v=1034"></script>
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.1/build/alertify.min.js?v=1034"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/custom.js?v=201905200000"></script>
    <script src="website-informations/agencyInformations/AgencyInformation.js?v=1034"></script>

    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202008060000"></script>
    <script src="/assets/js/axios.min.js?v=201912240000"></script>
    <script src="/CommonFuntions/ExtentionMethods.js?v=201905200000"></script>
    <script src="/Login/LoginComponents/js/login.js?v=202007160000"></script>
    <script src="master/master.js"></script>
    <script src="master/index.js"></script>


</body>

</html>