﻿<div>
    <div style="width:100%;margin:auto;">
        <div style="width:98%;float:left;border:1px solid #e5e5e5;" id="divInsurancePlan1">
            <div id="divInsurancePlan">
                <div style="width:98%;float:left;padding:1%;border:1px solid #e5e5e5;margin-bottom:6px;">
                    <div style="float:left;">
                        <div style="font-family: Verdana, Geneva, sans-serif;font-size:13px;color:#545454;width:100%;float:left;">Insurance Plan:</div>
                        <div style="font-family: Verdana, Geneva, sans-serif;font-size:17px;color:#000;width:100%;float:left;">#INSURANCEPLAN#</div>
                    </div>
                    <div style="float:right;">
                        <div style="font-family: Verdana, Geneva, sans-serif;font-size:13px;color:#545454;width:100%;float:left;text-align:right;">#CURRENCY#</div>
                        <div style="font-family: Verdana, Geneva, sans-serif;font-size:20px;color:#000;width:100%;float:left;text-align:right;font-weight:bold;">#PREMIUM#</div>
                    </div>
                </div>
                <div style="width:98%;float:left;padding:1%;">
                    <div style="font-family: Verdana, Geneva, sans-serif;font-size:14px;color:#000;width:100%;float:left;font-weight:bold;border-bottom: 1px dashed #e5e5e5; padding-bottom: 6px;margin-bottom:6px;">Trip Details</div>
                    <table width="100%" cellpadding="6" cellspacing="0" border="1" style="border-collapse:collapse;font-family: Verdana, Geneva, sans-serif;font-size:12px;color:#000;float:left;float:left;margin-bottom:24px;" bordercolor="#e5e5e5">
                        <tr>
                            <td width="20%">Trip Type</td>
                            <td colspan="7">#TRIPTYPE#</td>
                        </tr>
                        <tr>
                            <td>Start Date</td>
                            <td width="20%">#STARTDATE#</td>
                            <td width="15%">End Date</td>
                            <td colspan="5">#ENDDATE#</td>
                        </tr>
                        <tr>
                            <td>Family Group</td>
                            <td colspan="7">#FAMILYGROUP#</td>
                        </tr>
                        <tr>
                            <td>Destinations</td>
                            <td colspan="7">#DESITNATIONS#</td>
                        </tr>
                        <tr>
                            <td>Adults</td>
                            <td>#ADULTS#</td>
                            <td>Children</td>
                            <td width="5%">#CHILDREN#</td>
                            <td width="13%">Seniors</td>
                            <td width="5%">#SENIORS#</td>
                            <td width="13%">Super Seniors</td>
                            <td width="9%">#SUPERSENIORS#</td>
                        </tr>
                    </table>
                    <div style="font-family: Verdana, Geneva, sans-serif;font-size:14px;color:#000;width:100%;float:left;font-weight:bold;border-bottom: 1px dashed #e5e5e5; padding-bottom: 6px;margin-bottom:6px;">Insurance Cover</div>
                    <table width="100%" cellpadding="6" cellspacing="0" border="1" style="border-collapse:collapse;font-family: Verdana, Geneva, sans-serif;font-size:12px;color:#000;float:left;float:left;margin-bottom:24px;" bordercolor="#e5e5e5">
                        <tr>
                            <td>Cacellation</td>
                            <td>#CANCELLATION#</td>
                        </tr>
                        <tr>
                            <td>Medical Expenses</td>
                            <td>#MEDICALEXPENSES#</td>
                        </tr>
                        <tr>
                            <td>Personal Liability</td>
                            <td>#PERSONALLIABILITY#</td>
                        </tr>
                        <tr>
                            <td>Transportation</td>
                            <td>#TRANSPORTATION#</td>
                        </tr>
                        <tr>
                            <td>Loss of Passport</td>
                            <td>#LOSSOFPASSPORT#</td>
                        </tr>
                        <tr>
                            <td>Emergency Family Travel</td>
                            <td>#EMERGENCYFAMILYTRAVEL#</td>
                        </tr>
                    </table>
                    <div style="font-family: Verdana, Geneva, sans-serif;font-size:14px;color:#000;width:100%;float:left;font-weight:bold;border-bottom: 1px dashed #e5e5e5; padding-bottom: 6px;margin-bottom:6px;">Full Benefits</div>
                    #INSURANCEBENEFITS#
                    <div style="font-family: Verdana, Geneva, sans-serif;font-size:14px;color:#000;width:100%;float:left;font-weight:bold;border-bottom: 1px dashed #e5e5e5; padding-bottom: 6px;margin-bottom:6px;">Additional Cover</div>
                    #INSURANCEOPTIONS#</table>
                </div>
                <div style="font-family: Verdana, Geneva, sans-serif;font-size:14px;color:#000;width:100%;float:left;font-weight:bold;border-bottom: 1px dashed #e5e5e5; padding-bottom: 6px;margin-bottom:6px;">&nbsp;</div>
            </div>
        </div>
    </div>
</div>