﻿<div>
    <div style="width:100%;margin:auto;">
        <div style="width:98%;float:left;border:1px solid #e5e5e5;" id="divInsurancePlan1">
            <div id="divInsurancePlan">
                <!--<div style="width:98%;float:left;padding:1%;border-bottom:1px solid #e5e5e5;">
                    <div style="width:auto;float:left;"><img src="#DOMAIN#" style="width:122px;" /></div>
                    <div style="float: right; font-family: Verdana, Geneva, sans-serif; font-size: 13px; color: #383838; font-weight: bold; padding-top: 20px;">Insurance Quotation</div>
                </div>-->               
                <div style="width:98%;float:left;padding:1%;border:1px solid #e5e5e5;margin-bottom:6px;">
                    <div style="float:left;">
                        <div style="font-family: Verdana, Geneva, sans-serif;font-size:13px;color:#545454;width:100%;float:left;">Insurance Plan:</div>
                        <div style="font-family: Verdana, Geneva, sans-serif;font-size:17px;color:#000;width:100%;float:left;">#INSURANCEPLAN#</div>
                    </div>
                    <div style="float:right;">
                        <div style="font-family: Verdana, Geneva, sans-serif;font-size:13px;color:#545454;width:100%;float:left;text-align:right;">#CURRENCY#</div>
                        <div style="font-family: Verdana, Geneva, sans-serif;font-size:20px;color:#000;width:100%;float:left;text-align:right;font-weight:bold;">#PREMIUM#</div>
                    </div>
                </div>
                <div style="width:98%;float:left;padding:1%;">
                    <div style="font-family: Verdana, Geneva, sans-serif;font-size:14px;color:#000;width:100%;float:left;font-weight:bold;border-bottom: 1px dashed #e5e5e5; padding-bottom: 6px;margin-bottom:6px;">Trip Details</div>
                    <table id="tblStr" width="100%" cellpadding="6" cellspacing="0" border="1" style="border-collapse:collapse;font-family: Verdana, Geneva, sans-serif;font-size:12px;color:#000;float:left;float:left;margin-bottom:24px;" bordercolor="#e5e5e5">

                        <tr id="trStrDt">
                            <td>Start Date</td>
                            <td width="20%">#STARTDATE#</td>
                            <td width="15%">#retDet#</td>
                            <td colspan="5">#RETURNDATE#</td>
                        </tr>
                        <tr>
                            <td>Destination</td>
                            <td colspan="7">#DESITNATION#</td>
                        </tr>
                        <tr>
                            <td>Adults</td>
                            <td>#ADULTS#</td>
                            <td>Children</td>
                            <td>#CHILDREN#</td>
                            <td>Infants</td>
                            <td>#INFANTS#</td>
                        </tr>
                    </table>
                    <div style="font-family: Verdana, Geneva, sans-serif;font-size:14px;color:#000;width:100%;float:left;font-weight:bold;border-bottom: 1px dashed #e5e5e5; padding-bottom: 6px;margin-bottom:6px;">Insurance Cover</div>

                    <div style="font-family: Verdana, Geneva, sans-serif;font-size:14px;color:#000;width:100%;float:left;font-weight:bold;border-bottom: 1px dashed #e5e5e5; padding-bottom: 6px;margin-bottom:6px;">Full Benefits</div>
                    #INSURANCEBENEFITS#
                </div>
                <div style="font-family: Verdana, Geneva, sans-serif;font-size:14px;color:#000;width:100%;float:left;font-weight:bold;border-bottom: 1px dashed #e5e5e5; padding-bottom: 6px;margin-bottom:6px;">&nbsp;</div>
            </div>
        </div>
        <div style="width:100%;float:left;padding:20px 10px;background:#626665;">
            <div style="font-family: Verdana, Geneva, sans-serif; font-size: 11px; color: #c5c5c5;text-align:center;">© 2018. Treasures Travel & Tourism - All Rights Reserved</div>
        </div>
    </div>
</div>