@media screen and (max-width: 320px) {
.g-recaptcha {
	width:280px;
}
}
@media screen and (max-width: 490px) {
ul.social {
    display: none;
}
ul.lang li {
    margin: 3px 0 0 0;
}
.register-sec .detail div {
    padding: 14% 2%;
    min-height: 285px;
    width: 285px;
}
.register-sec .detail div h3 {
    font-size: 18px;
}
.register-sec .detail p {
	line-height: 22px;
	font-size: 14px;
}
.register-sec .detail div .line-btn {
    font-size: 14px;
}
.register_form .yellow-btn, .register_form .blue-btn {
    margin: 20px 8px 0;
}
.register_form h3 {
    font-size: 20px;
	line-height: 20px;
}
.contact_form label, .register_form label {
    font-size: 14px;
}
.register_form h4 {
    font-size: 16px;
}
.register_form .input-group4 {
    width: 74%;
}
.register_form .input-group3 {
    width: 24%;
}
}
@media screen and (max-width: 767px) {
/*=====  Top CSS BOF  ======*/
.cd-primary-nav-trigger {
    height: 78%;
}
.cd-primary-nav-trigger .cd-menu-icon {
    width: 28px;
}
.cd-primary-nav .menu .travel p, .cd-primary-nav .menu .hotel p {
    font-size: 13px;
    line-height: 20px;
}
.affix .cd-primary-nav-trigger {
    height: 94%;
}
.logo {
    width: 135px;
    margin: 0 0 10px 65px;
}
.logo img {
    width: 100%;
}
.affix .logo {
    margin: 10px 0 10px 65px;
}
.hdr-right {
    position: absolute;
    top: 0;
    right: 15px;
}
.affix  .hdr-right {
    top: 15px;
    right: 15px;
}
.cd-primary-nav {
    padding: 100px 0 50px;
}
.cd-primary-nav .menu {
	width:100%;
    padding:30px 50px;
	border-right: none;
	margin: 0;
	border-bottom: 1px solid #47545d;
	min-height:auto;
}
.cd-primary-nav .menu2 {
    width: 100% !important;
}
.cd-primary-nav .menu .travel, .cd-primary-nav .menu .hotel {
    width: 100%;
}
.cd-primary-nav .menu .cd-label, .cd-primary-nav .menu li {
    font-size: 18px;
}
/*=====  Navbar CSS BOF  ======*/
section {
	padding: 40px 0;
}

.carousel-animate .hero {
    width: 60%;
}
.login_div{
    width:100%;
	margin: 0 auto;
}
.carousel-animate .hero {
   display:none;
}
.carousel-caption {
    width: 100%;
}
.carousel-animate .hero h1 {
    font-size: 42px;
    line-height: 45px;
}
.carousel-animate .hero h1 span {
    font-size: 30px;
}
.carousel-animate .hero .yellow-btn, .carousel-animate .hero .blue-btn {
    margin: 20px 25px 0 0;
    width: 80%;
}
.carousel-bg .carousel-inner .item {
    min-height: 650px;
}
.offer-sec .inner, .news-sec .inner, .benefits-sec .inner, .services-sec .inner, footer .inner, .copyright, .news-detail .inner {
    width: 100%;
}
.title h2 span {
    font-size: 25px;
}
.title h2 {
    font-size: 40px;
	height: 70px;
}
.article h3 {
    font-size: 18px;
}
.article p {
    font-size: 16px;
}
.benefits-sec .inner .box {
    margin-top: 30px;
}
.services-sec .inner .inr h3 {
    font-size: 18px;
}
.benefits-sec .inner .box p {
	line-height: 24px;
	font-size: 15px;
}
.register-sec .detail {
    padding: 2% 0;
	 width: 100%;
}

/*=====  Inner Pages CSS BOF  ======*/
.inner_banner {
    min-height: 400px;
}
.inner_banner .banner_text h1 {
    font-size: 30px;
}
.title h3 {
    font-size: 24px;
}
}
@media (min-width: 768px) and (max-width: 990px) {
section {
	padding: 60px 0;
}
.carousel-animate .hero {
    width: 60%;
}
.login_div, .carousel-animate .hero {
    width: 50%;
}
.carousel-caption {
    width: 100%;
}
.carousel-animate .hero h1 {
    font-size: 42px;
    line-height: 45px;
}
.carousel-animate .hero h1 span {
    font-size: 30px;
}
.carousel-animate .hero .yellow-btn, .carousel-animate .hero .blue-btn {
    margin: 20px 25px 0 0;
    width: 80%;
}
.carousel-bg .carousel-inner .item {
    min-height: 750px;
}
.offer-sec .inner, .news-sec .inner, .benefits-sec .inner, .services-sec .inner, footer .inner, .copyright, .news-detail .inner {
    width: 100%;
}
.hdr-right {
    right: 15px;
}
.cd-primary-nav .menu {
	width: 50%;
    padding: 0 50px;
}
.cd-primary-nav .menu2 {
    width: 100% !important;
}
.cd-primary-nav .menu .travel, .cd-primary-nav .menu .hotel {
    width: 49%;
}
.title h2 span {
    font-size: 25px;
}
.title h2 {
    font-size: 40px;
	height: 70px;
}
.offer-sec .inner .article {
    min-height: 433px;
}
.article h3 {
    font-size: 18px;
	line-height: 22px;
}
.article p {
    font-size: 16px;
}
.services-sec .inner .inr {
    min-height: 261px;
}
.services-sec .inner .inr h3 {
    font-size: 18px;
}
.benefits-sec .inner .box {
    min-height: 175px;
}
.benefits-sec .inner .box p {
	line-height: 24px;
	font-size: 15px;
}
.register-sec .detail {
    padding: 2% 0;
}
.register-sec .detail div {
    padding: 11% 5%;
    min-height: 348px;
    width: 350px;
}

}
@media (min-width: 991px) and (max-width: 1024px) {
section {
	padding: 60px 0;
}
.carousel-animate .hero {
    width: 60%;
}
.login_div {
    width: 40%;
}
.carousel-caption {
    width: 90%;
}
.carousel-bg .carousel-inner .item {
    min-height: 750px;
}
.offer-sec .inner, .news-sec .inner, .benefits-sec .inner, .services-sec .inner, footer .inner, .copyright, .news-detail .inner {
    width: 100%;
}
.cd-primary-nav .menu {
	width: 50%;
    padding: 0 50px;
}
.cd-primary-nav .menu2 {
    width: 100% !important;
}
.cd-primary-nav .menu .travel, .cd-primary-nav .menu .hotel {
    width: 49%;
}
.article h3 {
    font-size: 18px;
}
.benefits-sec .inner .box {
    min-height: 175px;
}
.register-sec .detail {
    padding: 2% 0;
}
.register-sec .detail div {
    padding: 11% 5%;
    min-height: 348px;
    width: 350px;
}
.register_form .input-group4 {
    width: 75%;
}
.register_form .input-group3 {
    width: 23%;
}
}
@media (min-width: 1025px) and (max-width: 1440px) {
.carousel-caption {
    width: 90%;
}
.offer-sec .inner, .news-sec .inner, .benefits-sec .inner, .services-sec .inner, footer .inner, .copyright, .news-detail .inner {
    width: 100%;
}
.cd-primary-nav .menu {
    padding: 0 50px;
}
.register_form .input-group4 {
    width: 76%;
}
.register_form .input-group3 {
    width: 22%;
}
}
