@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root {
 --blue-color:#19bcff;
 --yellow-color:#fdc72a;
 --darkblue-color:#12a3df;
 --darkyellow-color:#e9b10d;
 --paragraph-color:#333333;
 --darkgrey-color:#181818;
 --lightgrey-color:#edf5f8;
 --white-color:#fff;
 --black-color:#000
}
* {
	margin: 0;
	padding: 0;
}
body {
	background-color: var(--white-color);
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	line-height: normal;
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
a {
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out
}
a:focus {
	outline: 0;
	text-decoration: none
}
a:hover {
	text-decoration: none
}
img {
	outline: none;
}
p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-align: left;
	line-height: 28px;
	margin: 0;
	color: var(--paragraph-color);
	font-size: 16px;
}
section {
	padding: 80px 0;
}
.blue-btn {
	background: var(--blue-color);
	color: var(--white-color);
	padding: 10px 0;
	font-weight: 500;
	text-transform: uppercase;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	letter-spacing: 1px;
	border-radius: 100px;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}
.blue-btn::before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: var(--yellow-color);
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 50%;
	transform-origin: 50%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	border-radius: 100px;
}
.blue-btn:hover::before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}
.blue-btn:hover {
	color: var(--white-color);
	text-decoration: none;
}
.yellow-btn {
	background: var(--yellow-color);
	color: var(--white-color);
	padding: 10px 0;
	font-weight: 500;
	text-transform: uppercase;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	letter-spacing: 1px;
	border-radius: 100px;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}
.yellow-btn::before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: var(--blue-color);
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 50%;
	transform-origin: 50%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	border-radius: 100px;
}
.yellow-btn:hover::before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}
.yellow-btn:hover {
	color: var(--white-color);
	text-decoration: none;
}
.line-btn {
	background: transparent;
	color: var(--white-color);
	padding: 10px 0;
	font-weight: 500;
	text-transform: uppercase;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	border-radius: 100px;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.line-btn::before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: var(--white-color);
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 50%;
	transform-origin: 50%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	border-radius: 100px;
}
.line-btn:hover::before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}
.line-btn:hover {
	color: var(--black-color);
	text-decoration: none;
}
/*====================================
=            Helper Class            =
====================================*/
.m-t-10 {
	margin-top: 10px;
}
.m-t-20 {
	margin-top: 20px;
}
.m-t-15 {
	margin-top: 15px;
}
.m-t-25 {
	margin-top: 25px;
}
.m-t-30 {
	margin-top: 30px;
}
.m-t-50 {
	margin-top: 50px;
}
.m-t-70 {
	margin-top: 70px;
}
.m-b-10 {
	margin-bottom: 10px;
}
.m-b-15 {
	margin-bottom: 15px;
}
.m-b-20 {
	margin-bottom: 20px;
}
.m-b-25 {
	margin-bottom: 25px;
}
.m-b-30 {
	margin-bottom: 30px;
}
.m-b-50 {
	margin-bottom: 50px;
}
.p-r-0 {
	padding-right: 0;
}
.p-0 {
	padding: 0;
}
.p-t-10 {
	padding-top: 10px;
}
.p-t-15 {
	padding-top: 15px;
}
.p-t-20 {
	padding-top: 20px;
}
.p-t-25 {
	padding-top: 25px;
}
.p-t-30 {
	padding-top: 30px;
}
.p-b-10 {
	padding-bottom: 10px;
}
.p-b-15 {
	padding-bottom: 15px;
}
.p-b-20 {
	padding-bottom: 20px;
}
.p-b-25 {
	padding-bottom: 25px;
}
.p-b-30 {
	padding-bottom: 30px;
}
/*=====  Header CSS BOF  ======*/

header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
/*=====  Top CSS BOF  ======*/
.tp {
	background: transparent;
	width: 100%;
	height: 15px;
	z-index: 3;
	position: relative;
}
.top {
	width: 100%;
	height: auto;
	position: relative;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	display: block;
	z-index: 9998;
}
.logo {
	width: auto;
	display: inline-block;
	margin: 0 0 10px 100px;
}
.hdr-left {
	top: 0;
	left: 30px;
}
.hdr-right {
	position: absolute;
	top: 11px;
	right: 30px;
}
ul.social {
	width: auto;
	display: block;
	list-style: none;
	margin: 0;
	float: right;
}
ul.social li {
	display: inline-block;
	font-size: 18px;
	list-style: none;
	padding: 0 0 0 8px;
}
ul.social li a {
	background: transparent;
	color: var(--white-color);
	border: 1px solid var(--white-color);
	line-height: 42px;
	width: 42px;
	height: 42px;
	display: block;
	text-align: center;
	border-radius: 100%;
}
ul.social li a:hover {
	background: var(--white-color);
	color: var(--black-color);
	border: 1px solid var(--white-color);
	text-decoration: none;
}
ul.lang {
	width: auto;
	display: block;
	list-style: none;
	margin: 0;
	float: left;
}
ul.lang li {
	display: inline-block;
	font-size: 16px;
	font-weight: 500;
	list-style: none;
	padding: 0;
	margin: 6px 10px 0 0;
}
ul.lang li a {
	background: var(--white-color);
	color: var(--black-color);
	line-height: 33px;
	width: 33px;
	height: 33px;
	display: block;
	text-align: center;
	border-radius: 100%;
}
ul.lang li a:hover {
	background: var(--darkblue-color);
	color: var(--white-color);
	text-decoration: none;
}
/*=====  Navbar CSS BOF  ======*/

.cd-primary-nav-trigger {
	position: absolute;
	left: 17px;
	top: 0;
	height: 86%;
	width: 32px;
}
.cd-primary-nav-trigger .cd-menu-text {
	display: none;
}
.cd-primary-nav-trigger .cd-menu-icon {
	/* this span is the central line of the menu icon */
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 50%;
	bottom: auto;
	right: auto;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	width: 32px;
	height: 4px;
	background-color: white;
	-webkit-transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
	transition: background-color 0.3s;/* these are the upper and lower lines in the menu icon */
}
.cd-primary-nav-trigger .cd-menu-icon::before, .cd-primary-nav-trigger .cd-menu-icon:after {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: white;
	right: 0;
	-webkit-transition: -webkit-transform .3s, top .3s, background-color 0s;
	-moz-transition: -moz-transform .3s, top .3s, background-color 0s;
	transition: transform .3s, top .3s, background-color 0s;
}
.cd-primary-nav-trigger .cd-menu-icon::before {
	top: -10px;
}
.cd-primary-nav-trigger .cd-menu-icon::after {
	top: 10px;
}
.cd-primary-nav-trigger .cd-menu-icon.is-clicked {
	background-color: rgba(255, 255, 255, 0);
}
.cd-primary-nav-trigger .cd-menu-icon.is-clicked::before, .cd-primary-nav-trigger .cd-menu-icon.is-clicked::after {
	background-color: white;
}
.cd-primary-nav-trigger .cd-menu-icon.is-clicked::before {
	top: 0;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}
.cd-primary-nav-trigger .cd-menu-icon.is-clicked::after {
	top: 0;
	-webkit-transform: rotate(225deg);
	-moz-transform: rotate(225deg);
	-ms-transform: rotate(225deg);
	-o-transform: rotate(225deg);
	transform: rotate(225deg);
}
.cd-primary-nav {
	/* by default it's hidden - on top of the viewport */
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: rgba(2, 23, 37, 0.96);
	z-index: 2;
	padding: 200px 0 50px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	overflow: auto;
	/* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
	-webkit-overflow-scrolling: touch;
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	transition-property: transform;
	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	transition-duration: 0.4s;
}
.cd-primary-nav .menu {
	width: 30%;
	display: block;
	float: left;
	padding: 0 150px;
	border-right: 1px solid #47545d;
	min-height: 430px;
	margin: 0;
}
.cd-primary-nav .menu2 {
	width: 40% !important;
	border-right: none !important;
}
.cd-primary-nav .menu li {
	font-size: 22px;
	font-weight: 600;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding: 10px 0;
	text-transform: uppercase;
	text-align: left;
}
.cd-primary-nav .menu li a {
	color: var(--blue-color);
	display: inline-block;
	padding: 0;
}
.cd-primary-nav .menu li a:hover {
	color: var(--yellow-color);
	margin-left: 15px;
}
.cd-primary-nav .menu li a.active {
	color: var(--yellow-color);
	margin-left: 15px;
}
.cd-primary-nav .menu .cd-label {
	color: var(--white-color);
	text-transform: uppercase;
	font-weight: 500;
	font-size: 22px;
}
.cd-primary-nav .menu .travel, .cd-primary-nav .menu .hotel {
	background: var(--blue-color);
	width: 100%;
	display: inline-block;
	padding: 15px;
	text-align: left;
	margin: 10px 0;
}
.cd-primary-nav .menu .hotel {
	background: var(--darkyellow-color);
}
.cd-primary-nav .menu .travel h3, .cd-primary-nav .menu .hotel h3 {
	width: 100%;
	font-size: 20px;
	color: var(--white-color);
	font-weight: 500;
}
.cd-primary-nav .menu .travel p, .cd-primary-nav .menu .hotel p {
	width: 100%;
	color: var(--white-color);
	font-size: 14px;
	line-height: 24px;
	margin: 10px 0 0;
}
.cd-primary-nav .menu .travel .line-btn, .cd-primary-nav .menu .hotel .line-btn {
	width: auto;
	font-size: 15px;
	padding: 5px 15px;
	border: 2px solid var(--white-color);
	margin: 15px 0 0;
	display: inline-block;
}
.cd-primary-nav.is-visible {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}
.affix {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	background: rgba(2, 23, 37, 0.96);
	z-index: 9998;
	animation: smoothScroll 1s forwards;
}
.affix .logo {
	margin: 15px 0 10px 100px;
}
.affix .cd-primary-nav-trigger {
	height: 100%;
}
.affix .hdr-right {
	top: 24px;
}
@keyframes smoothScroll {
 0% {
 transform: translateY(-40px);
}
 100% {
 transform: translateY(0px);
}
}
/*=====  Banner CSS BOF  ======*/
/*=====  Login CSS BOF  ======*/
.login_div .form-control::placeholder {
 color: #2c2c2c;
 opacity: 1;
}
.login_div {
	background: rgba(0,0,0,0.4);
	display: block;
	margin: 50px 0 0;
	width: 30%;
	float: right;
	border-radius: 15px;
	overflow: hidden;
}
.login_div h4 {
	font-size: 20px;
	color: var(--white-color);
	width: 100%;
	padding: 0;
	text-align: center;
	font-weight: 600;
	text-transform: uppercase;
	margin: 0 auto;
	background: var(--darkblue-color);
	height: 60px;
	line-height: 60px;
}
.login-form,.forgot_form {
	margin: 0;
	padding: 0 30px 40px;
	text-align: left
}
.login-form .sec,.forgot_form .sec {
	padding-top: 20px;
}
.login-form label,.forgot_form label {
	font-size: 16px;
	font-weight: 500;
	color: var(--white-color);
	margin: 0 0 10px 0;
}
.login-form  .form-control,.forgot_form .form-control {
	background-color: var(--white-color);
	border: none;
	color: #2c2c2c;
	display: block;
	font-size: 14px;
	height: 44px;
	padding: 6px 25px;
	width: 100%;
	margin-top: 0;
	font-weight: 500;
	border-radius: 100px;
}
.login_div .yellow-btn {
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	padding: 0;
	border: none;
	margin: 15px 0 0;
	font-size: 20px;
	font-weight: 500;
}
.forgot_click{
	color: #fff;
	cursor: pointer;
	float: right;
	margin: 5px;
}
.forgot_click:hover{
	color: #f4c727
}
.forgot_form {
	width: 100%;
	float: left;
	/* padding: 50px 30px 0px 30px; */
	display: none;
}

.forgot_form a {
	/* font-family: 'Raleway', sans-serif; */
	font-size: 15px;
	margin: 5px;
	color: #fff;
	font-weight: 500;
	float: right;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	cursor: pointer;
}

.forgot_form a:hover {
	color: #f4c727;
}

.forgot_form a i {
	margin-right: 5px;
}

.carousel {
/*margin-top: 100px;*/
}
.carousel-caption {
	top: 20%;
	right: 0;
	left: 0;
	padding: 0 15px;
	width: 80%;
	margin: 0 auto;
	z-index: 1;
}
.carousel-animate .hero {
	text-align: left;
	width: 70%;
	margin-top: 10%;
	float: left;
}
.carousel-caption {
	text-shadow: none;
}
.carousel-animate .hero h1 {
	font-weight: 700;
	font-size: 71px;
	line-height: 65px;
	color: var(--white-color);
	clear: both;
}
.carousel-animate .hero h1 span {
	font-weight: 300;
	font-size: 40px;
	float: left;
	width: 100%;
}
.carousel-animate .hero .yellow-btn, .carousel-animate .hero .blue-btn {
	font-size: 20px;
	font-weight: 500;
	margin: 40px 25px 0 0;
	padding: 16px 0;
	width: 220px;
	line-height: 18px;
}
.carousel-animate .hero .yellow-btn span, .carousel-animate .hero .blue-btn span {
	font-size: 11px;
}
.carousel-fade .carousel-inner .item {
	transition-property: opacity;
}
.carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right, .carousel-fade .carousel-inner .item {
	opacity: 0;
}
.carousel-fade .carousel-inner .active, .carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right {
	opacity: 1;
}
.carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right, .carousel-fade .carousel-inner .next, .carousel-fade .carousel-inner .prev {
	left: 0;
	transform: translate3d(0, 0, 0);
}
.carousel-bg .carousel-inner .item {
	background-size: cover;
	background-position: center;
	min-height: 921px;
}
.carousel-bg .carousel-inner .item::before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.5);
}
.carousel-indicators {
	display: none;
}
.carousel-control {
	display: none;
}
/*=====  Special Offer Section CSS BOF  ======*/
.offer-sec, .news-sec, .benefits-sec, .services-sec {
	width: 100%;
	display: block;
}
.title h2 {
	font-size: 50px;
	font-weight: 700;
	color: var(--darkblue-color);
	position: relative;
	line-height: normal;
	height: 85px;
}
.title h2 span {
	font-size: 32px;
	font-weight: 400;
	text-transform: none;
	color: var(--darkgrey-color);
	display: block;
	line-height: 14px;
}
.title h2::before {
	content: '';
	position: absolute;
	width: 30px;
	height: 3px;
	background: var(--yellow-color);
	left: 0;
	bottom: -1px;
	z-index: 1;
	right: 0;
	margin: 0 auto;
}
.title h2::after {
	content: '';
	position: absolute;
	width: 173px;
	height: 1px;
	background: #cecece;
	left: 0;
	bottom: 0px;
	right: 0;
	margin: 0 auto;
}
.offer-sec .inner, .news-sec .inner, .benefits-sec .inner, .services-sec .inner, footer .inner, .news-detail .inner {
	width: 80%;
	margin: 0 auto;
}
.offer-sec .inner .article, .news-sec .inner .article {
	background: var(--white-color);
	border: 1px solid #e6e6e6;
	position: relative;
	margin-top: 30px;
	padding-bottom: 20px;
	vertical-align: middle;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	overflow: hidden;
}
.offer-sec .inner .article:hover, .news-sec .inner .article:hover {
	box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
	border: 1px solid var(--darkyellow-color);
}
.article .img .a-category-m {
	background: var(--darkyellow-color);
	position: absolute;
	bottom: -14px;
	left: 35px;
	padding: 6px 25px;
	font-weight: 600;
	font-size: 16px;
	color: var(--white-color);
	letter-spacing: .07em;
	text-align: center;
	text-transform: uppercase;
}
.article .img {
	height: 0;
	position: relative;
	padding-top: 75%;
	display: block;
	width: 100%;
}
.article .img img {
	max-width: none;
	width: auto;
	height: 100%;
	min-width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.article h3 {
	width: auto;
	font-size: 24px;
	font-weight: 700;
	border-bottom: 1px solid #e6e6e6;
	padding: 38px 0 10px;
	margin: 0 7% 8px;
}
.article h3 a {
	color: var(--darkgrey-color);
	text-decoration: none;
}
.article h3 a:hover {
	color: var(--darkblue-color);
	text-decoration: none;
}
.article p {
	font-size: 18px;
	padding: 0 7%;
	margin: 5px 0;
}
.news-sec .inner .article p {
	margin: 15px 0 5px;
	font-size: 16px;
}
.article p.price {
	font-weight: 400;
}
.article p.price span {
	color: var(--darkblue-color);
	font-weight: 600;
}
.article p.so-desc {
	margin-top: 10px;
}
.news-sec .inner .article .blue-btn {
	padding: 7px 22px;
	font-size: 14px;
	font-weight: 400;
	margin: 15px 7%;
}
.news-sec .inner .article .img .a-category-m {
	padding: 6px 15px;
	font-weight: 500;
	font-size: 13px;
}
/*=====  Benefits Section CSS BOF  ======*/
.benefits-sec {
	background: var(--lightgrey-color);
}
.benefits-sec .inner .box {
	margin-top: 40px;
	border: 1px solid var(--darkblue-color);
	padding: 30px;
	display: inline-block;
	width: 100%;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out
}
.benefits-sec .inner .box:hover {
	background: var(--white-color);
	box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
	border: 1px solid var(--darkyellow-color);
}
.benefits-sec .inner .box h4 .number {
	background: var(--darkyellow-color);
	border-radius: 100px;
	float: left;
	width: 45px;
	height: 45px;
	color: var(--white-color);
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	line-height: 45px;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out
}
.benefits-sec .inner .box:hover h4 .number {
	background: var(--darkblue-color);
}
.benefits-sec .inner .box h4 span {
	color: var(--darkgrey-color);
	font-size: 20px;
	font-weight: 700;
	float: left;
	padding: 8px 0 0 15px;
}
.benefits-sec .inner .box p {
	float: left;
	padding: 12px 0 0;
	clear: both;
}
.benefits-sec .blue-btn {
	padding: 14px 40px;
	font-size: 17px;
	font-weight: 400;
	margin: 40px auto 0;
}
/*=====  Services Section CSS BOF  ======*/
.services-sec {
	background: #0e92c9 url(../images/service-bg.jpg) no-repeat top center;
}
.services-sec .title h2 {
	color: var(--yellow-color);
}
.services-sec .title h2 span {
	color: var(--white-color);
}
.services-sec .inner .inr {
	width: 100%;
	min-height: 100%;
	text-align: center;
	margin: 60px 0 0;
}
.services-sec .inner .inr .shape {
	background: transparent;
	display: inline-block;
	line-height: 138px;
	text-align: center;
	width: 138px;
	height: 138px;
	position: relative;
	border: 6px solid var(--yellow-color);
	-webkit-transition: all 0.3s linear 0s;
	-moz-transition: all 0.3s linear 0s;
	-o-transition: all 0.3s linear 0s;
	-ms-transition: all 0.3s linear 0s;
	transition: all 0.3s linear 0s;
	border-radius: 100px;
}
.services-sec .inner .inr:hover .shape {
	background: var(--yellow-color);
	border: 6px solid var(--yellow-color);
	transform: rotateY(-180deg);
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
}
.services-sec .inner .inr .shape svg {
	display: inline-block;
	fill: var(--white-color);
	text-align: center;
	width: 126px;
	height: 126px;
	-webkit-transition: all 0.3s linear 0s;
	-moz-transition: all 0.3s linear 0s;
	-o-transition: all 0.3s linear 0s;
	-ms-transition: all 0.3s linear 0s;
	transition: all 0.3s linear 0s;
}
.services-sec .inner .inr:hover .shape svg {
	fill: var(--white-color);
}
.services-sec .inner .inr h3 {
	color: var(--white-color);
	font-size: 24px;
	padding-top: 15px;
	font-weight: 700;
	line-height: normal;
}
.services-sec .inner .inr p {
	color: var(--white-color);
	margin-top: 10px;
	font-size: 15px;
	line-height: 22px;
	text-align: center;
}
/*=====  Register Section CSS BOF  ======*/
.register-sec {
	width: 100%;
	display: block;
	padding-top: 0;
	padding-bottom: 0;
}
.register-sec .detail:first-of-type {
	background: url(../images/travel-company.jpg) center center no-repeat;
	background-size: cover;
	margin: 0;
}
.register-sec .detail {
	width: 50%;
	margin: 0;
	padding: 5%;
	position: relative;
	float: left;
}
.register-sec .detail div {
	background: rgba(233,177,13,.9);
	color: var(--white-color);
	padding: 16% 5%;
	text-align: center;
	min-height: 460px;
	width: 460px;
	border-radius: 100%;
	margin: 0 auto;
	box-shadow: 8px 12px 0px 0px rgba(25,188,255,.9);
}
.register-sec .detail div h3 {
	font-size: 25px;
	font-weight: 700;
}
.register-sec .detail p {
	padding: 0 7%;
	margin: 5px 0;
	text-align: center;
	color: var(--white-color);
}
.register-sec .detail div .line-btn {
	display: inline-block;
	font-size: 17px;
	border: 2px solid var(--white-color);
	padding: 10px 30px;
	margin: 25px 0 0;
}
.register-sec .detail:last-of-type {
	background: url(../images/hotel-partner.jpg) center center no-repeat;
	background-size: cover;
	margin: 0;
}
.register-sec .detail:last-of-type div {
	background: rgba(25,188,255,.9);
	box-shadow: -8px 12px 0px 0px rgba(233,177,13,.9);
}
/*=====  Footer CSS BOF  ======*/

footer {
	background: url(../images/ftr-bg.jpg) no-repeat top center;
	background-size: cover;
	display: block;
	width: 100%;
	padding: 60px 0 0;
	overflow: hidden;
	position: relative;
}
footer .link {
	width: 100%;
	display: inline-block;
	padding: 0 0 10px;
}
footer .link ul {
	width: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
	float: left;
}
footer .link ul li {
	font-size: 16px;
	font-weight: 300;
	padding: 8px 0;
	width: 100%;
}
footer .link ul li h5 {
	font-size: 16px;
	font-weight: 500;
	width: 100%;
	color: var(--yellow-color);
}
footer .link ul li a {
	color: var(--white-color);
	text-decoration: none;
	padding: 0;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	-moz-transition: all .3s ease;
}
footer .link ul li a i {
	padding: 0 12px 0 0;
}
footer .link ul li a:hover {
	color: var(--yellow-color);
	text-decoration: none;
	margin-left: 15px;
}
footer .map-responsive {
	overflow: hidden;
	padding-bottom: 316px;
	position: relative;
	height: 0;
	margin-top: 8px;
}
footer .map-responsive iframe {
	left: 0;
	top: 0;
	height: 316px;
	width: 100%;
	position: absolute;
}
.ftr-btm {
	padding: 20px 0;
	background: #032533;
	overflow: hidden;
	margin: 40px 0 0;
}
.copyright {
	width: 80%;
	margin: 0 auto;
}
.copyright p {
	text-align: left;
	color: var(--white-color);
	font-size: 13px;
	font-weight: 300;
	letter-spacing: 0;
	text-align: left;
	padding: 6px 0 0;
}
/*back-to-top-css*/
.scrolltotop {
	height: 50px;
	width: 50px;
	padding-top: 2px;
	font-size: 24px;
	line-height: 45px;
	text-align: center;
	color: var(--white-color);
	font-weight: bold;
	text-decoration: none;
	position: fixed;
	bottom: 12px;
	right: 15px;
	z-index: 999999;
	display: none;
	border-radius: 50%;
	background-color: var(--blue-color);
}
.scrolltotop:hover, .scrolltotop:focus {
	background: var(--yellow-color);
	color: var(--white-color);
}
/*=====  Flights Page CSS BOF  ======*/
.inner_banner {
	min-height: 550px;
	position: relative;
	background-size: cover !important;
	background-position: center center !important;
}
.inner_banner::before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.5);
}
.inner_banner .banner_text {
	text-align: center;
	padding: 0;
	position: absolute;
	width: 100%;
	top: 48%;
	left: 0;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.inner_banner .banner_text h1, .inner_banner .banner_text p {
	font-size: 50px;
	font-weight: 700;
	line-height: normal;
	color: var(--white-color);
	text-align: center;
}
.inner_banner .banner_text p {
	font-size: 20px;
	font-weight: 500;
}
.intro p {
	width: 80%;
	text-align: center;
	padding: 30px 0 0;
	margin: 0 auto;
}
.intro p a {
	color: var(--darkblue-color);
}
.intro p a:hover {
	color: var(--darkblue-color);
	text-decoration: underline;
}
.white-bg {
	background: var(--white-color) !important;
}
/*=====  News Detail Page CSS BOF  ======*/
.news-detail {
	display: block;
}
.news-detail .detail-content {
	width: 100%;
	margin: 0px auto 0;
}
.news-detail .detail-content img {
	display: block;
	position: relative;
	padding: 20px 0 0;
}
.news-detail .detail-content .date {
	background: var(--darkyellow-color);
	position: absolute;
	top: 35px;
	left: 35px;
	padding: 6px 25px;
	font-weight: 600;
	font-size: 16px;
	color: var(--white-color);
	letter-spacing: .07em;
	text-align: center;
	text-transform: uppercase;
}
.news-detail .detail-content h2 {
	color: var(--darkgrey-color);
	font-size: 30px;
	font-weight: 700;
	margin: 0;
	padding: 0 0 20px;
	float: left;
	line-height: 38px;
}
.news-detail .detail-content h3 {
	color: var(--darkgrey-color);
	font-size: 24px;
	font-weight: 700;
	margin: 0;
	padding: 20px 0 0;
	float: left;
}
.news-detail .detail-content h4 {
	color: var(--darkgrey-color);
	font-size: 20px;
	font-weight: 600;
	margin: 0;
	padding: 20px 0 0;
	float: left;
}
.detail-content p {
	text-align: left;
	padding-top: 20px;
	float: left;
}
.detail-content p strong {
	color: var(--darkgrey-color);
	font-weight: 600;
}
.detail-content p a {
	color: var(--darkblue-color);
	text-decoration: none;
	font-weight: 600;
}
.detail-content .list ul {
	list-style: none;
	padding: 20px 0 0;
	float: left;
}
.detail-content .list ul li {
	font-size: 16px;
	font-weight: 400;
	width: 100%;
	float: left;
	padding: 6px 0;
}
.detail-content .list li i {
	font-size: 8px;
	color: var(--darkyellow-color);
	float: left;
	padding: 7px 10px 0 0;
}
.detail-content .list ol {
	padding: 20px 0 0 15px;
	display: block;
	float: left;
	clear: both;
	width: 100%;
}
.detail-content .list ol li {
	font-size: 16px;
	font-weight: 400;
	width: 100%;
	float: left;
	padding: 6px 0 6px 10px;
	list-style: inherit;
}
/*=====  Contact Us Page CSS BOF  ======*/
.contact {
	display: block;
	margin: 30px 0 0;
}
.title h3 {
	font-size: 32px;
	font-weight: 400;
	text-transform: none;
	color: var(--darkgrey-color);
	display: block;
	line-height: normal;
}
.contact h4 {
	font-size: 20px;
	font-weight: 600;
	width: 100%;
	color: var(--darkblue-color);
}
.contact p {
	padding-top: 15px;
	font-size: 18px;
	font-weight: 500;
}
.contact p a {
	color: var(--paragraph-color);
	text-decoration: none;
}
.contact p a:hover {
	color: var(--darkyellow-color);
	text-decoration: none;
}
.contact_form .register_form {
 position: relative;
}
.contact_form .padding, .register_form .padding {
	padding-top: 15px;
}
.contact_form label, .register_form label {
	font-size: 16px;
	font-weight: 500;
	color: var(--darkgrey-color);
	margin: 0 0 10px 0;
	width: 100%;
}
.contact_form label span, .register_form span {
	color: #F00;
	padding-left: 2px;
}
.contact_form .input-group, .register_form .input-group {
	background-color: var(--white-color);
	border: 1px solid #d6d6d6;
	display: inline-block;
	width: 100%;
	margin-top: 0;
	border-radius: 100px;
}
.contact_form .input-group2, .register_form .input-group2 {
	border-radius: 30px !important;
}
.contact_form .form-control, .register_form .form-control {
	background-color: transparent;
	border: none;
	color: #9ca3a9;
	display: block;
	font-size: 14px;
	font-weight: 400;
	height: 60px;
	line-height: 1.42857;
	padding: 6px 25px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	width: 100%;
	z-index: 1;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}
.contact_form textarea.form-control, .register_form textarea.form-control {
	height: 291px;
	resize: none;
	padding: 20px 25px;
}
.contact_form .blue-btn, .register_form .blue-btn {
	width: 200px;
	padding: 14px 40px;
	font-size: 17px;
	font-weight: 400;
	margin: 40px auto 0;
	border: none;
}
.map-responsive {
	overflow: hidden;
	padding-bottom: 421px;
	position: relative;
	height: 0;
}
.map-responsive iframe {
	left: 0;
	top: 0;
	height: 500px;
	width: 100%;
	position: absolute;
}
/*=====  Registration Page CSS BOF  ======*/
.b-b {
	border-bottom: 1px solid var(--darkyellow-color);
	padding: 0 0 30px;
	display: inline-block;
	margin: 15px 0 0;
}
.register_form textarea.form-control {
	height: 100px;
}
.register_form .yellow-btn {
	width: 200px;
	padding: 14px 40px;
	font-size: 17px;
	font-weight: 400;
	margin: 40px auto 0;
	border: none;
}
.register_form .yellow-btn, .register_form .blue-btn {
	margin: 40px 8px 0;
}
.g-recaptcha {
	width: 320px;
	margin: 10px auto 0;
}
.g-recaptcha img {
	width: 100%;
}
.register_form h3 {
	font-size: 24px;
	font-weight: 600;
	color: var(--darkblue-color);
	display: block;
	line-height: normal;
	padding: 0 0 15px;
}
.register_form h4 {
	font-size: 18px;
	font-weight: 500;
	color: var(--darkyellow-color);
	display: block;
	line-height: normal;
	padding: 15px 0 0;
}
.register_form .select {
	position: relative;
	display: block;
	width: auto;
	height: auto;
	line-height: normal;
	overflow: hidden;
	border-radius: 0;
	margin: 0;
	background: transparent;
	padding: 0;
}
/* Remove IE arrow */
.register_form select::-ms-expand {
 display: none;
}
/* Custom Select */
.register_form select {
	background: transparent;
	flex: 1;
	padding: 6px 25px;
	color: #999;
	cursor: pointer;
	border: none;
	width: 94%;
	outline: none;
	height: 61px;
	font-size: 14px;
	font-weight: 400;
}
/* Arrow */
.register_form .select::after {
	font-family: 'FontAwesome';
	content: '\f078';
	position: absolute;
	top: -1px;
	right: 0;
	padding: 0;
	background: var(--white-color);
	cursor: pointer;
	pointer-events: none;
	-webkit-transition: .25s all ease;
	-o-transition: .25s all ease;
	transition: .25s all ease;
	color: #9ca3a9;
	width: 62px;
	height: 62px;
	line-height: 62px;
	text-align: center;
	border-radius: 100px;
}
/* Transition */
.register_form .select:hover::after {
	color: var(--darkblue-color);
}
/* toggle in label designing */
.register_form  .toggle {
	position : relative;
	display : inline-block;
	width : 100%;
	height : 62px;
	background-color: var(--white-color);
	border-radius: 100px;
	border: 1px solid #d6d6d6;
	margin: 0 !important;
	cursor: pointer;
}
/* After slide changes */
.register_form .toggle::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 62px;
    border-radius: 30px;
    background-color: transparent;
    top: 0px;
    left: 0px;
    transition: all 0.5s;
    border: 2px solid var(--darkyellow-color);
}
/* Toggle text */
.register_form .toggle .left {
    float: left;
    font-size: 14px;
    font-weight: 500;
    color: var(--darkblue-color);
    padding: 20px 0 0;
    text-align: center;
    width: 50%;
}
.register_form  .toggle .right {float:right; font-size:14px; font-weight:500; color: #666; padding: 20px 0 0; text-align: center;
    width: 50%;}
/* Checkbox cheked effect */
.register_form  .checkbox:checked + .toggle::after {
	left: 50%;
	background-color:  transparent;
	border: 2px solid #d6d6d6;
}
.register_form  .checkbox:checked + .toggle .left {
	color: #666;
}
/* Checkbox cheked toggle label bg color */
.register_form  .checkbox:checked + .toggle {
	background-color: var(--white-color);
}
/* Checkbox vanished */
.register_form  .checkbox {
	display : none;
}
.register_form .input-group .form-control2 {
    width: 70%;
    float: left;
    height: 60px;
    border: none;
    border-radius: 100px;
}
.register_form .input-group-btn {
	width: 30%;
	float: left;
	margin: 0;
}
.register_form .btn-primary {
    width: 100%;
    height: 60px;
    font-size: 15px;
    background: var(--blue-color);
    border: none;
    font-weight: 600;
    line-height: 60px;
    border-radius: 100px !important;
    color: #fff;
    padding: 0;
}
.register_form .btn-primary:hover {
	background: var(--darkblue-color);
	color: #fff;
}
.register_form .input-group3 {
    width: 20%;
}
.register_form .input-group4 {
	width: 78%;
}
.register_form .input-group3 .form-control3 {
	padding: 6px 15px;
}

/* need this so the check doesn't fly away */
.register_form input[id="check_2"] + label {
	position: relative;
	font-size: 14px;
	text-transform: capitalize;
	color: var(--darkgrey-color)!important;
	font-weight: 600;
	display: inline-block;
	width: auto;
	margin:10px 0 0;
}
.register_form input[id="check_2"] + label::before {
	width: 25px;
	height: 25px;
	background: #fff;
	border-radius: 50px;
	content: "";
	border: 1px solid #d6d6d6;
	display: inline-block;
	position: relative;
	margin-right: 10px;
	vertical-align: middle;
}
.register_form input[id="check_2"]:checked + label::before {
	background: var(--darkblue-color);
	border: 1px solidvar(--darkblue-color);
}
/* style checkmark symbol */
.register_form input[id="check_2"]:checked + label::after {
	width: 13px;
	height: 6px;
	content: "";
	border-left: 3px solid #fff;
	border-bottom: 3px solid #fff;
	top: 8px;
	left: 6px;
	position: absolute;
	transform: rotate(-45deg);
}
.register_form input[id="check_2"]:focus + label::before {
}
/* hide default checkbox */
.register_form input[id="check_2"] {
	width: 1px;
	height: 1px;
	overflow: hidden;
	position: absolute;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
}
