<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>About Us</title>
<link rel="shortcut icon" href="images/favicon.png" type="image/png">
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link href="css/media.css" rel="stylesheet" type="text/css">
<link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
<link href="/assets/plugins/font-awesome/font-awesome.min.css?v=201905200000" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap" rel="stylesheet"> 
<link href="assets/pluggins/alertifyJs/default.min.css" rel="stylesheet" />
<link href="assets/pluggins/alertifyJs/alertify.min.css" rel="stylesheet" />
<link href="css/vue-loading.css" rel="stylesheet">
<style>
  [v-cloak] {
    display: none;
  }
</style>
</head>
<body>
  <header>
    <headeritem></headeritem>
  </header>
<div id="about" v-cloak>
  <div class="vld-parent">
    <loading :active.sync="isLoading" :can-cancel="true" :is-full-page="fullPage"></loading>
</div> 
    <!--inner-banner-->
<section class="inner-banner" :style="'background:url('+BannerSection.Banner_Image_1890x207px+') no-repeat;'">
    <div class="container">
        <div class="row">
            <h2>{{BannerSection.About_Us_Label}}</h2>
            <div class="breadcrumbs">
                
                <div class="bread-position">
                <ul>
                    <li><a href="index.html">{{BannerSection.Home_Label}}</a></li> |
                    <li>{{BannerSection.About_Us_Label}}</li>
                </ul>
                </div>
                
            </div>
        </div>
    </div>
</section>    
    
  <!--About-text-->  
<section class="about-in">
    <div class="container">
            
                <div class="about-text">
                    <h3>{{AboutUsSection.Tittle}} </h3>
                  <p v-html="AboutUsSection.Description"></p>
                </div>
            </div>
            
      
</section>    
   
<!--Our-mission-->
<section class="our-mission-in">
    <div class="container">
        <div class="row flex-box">
               <div class="col-md-6 col-sm-6">
                    <div class="about-info">
                        
                        <div class="vi-mi-icon">
                            <svg  viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
<path d="M61.486,15.198c0-1.211-0.98-2.192-2.192-2.192H36.052c-1.211,0-2.193,0.981-2.193,2.192v13.95
	c0,1.211,0.981,2.192,2.193,2.192H57.1v6.198L36.052,58.591l-5.42-5.422c-0.46-0.46-1.103-0.691-1.747-0.636
	c-0.647,0.058-1.235,0.4-1.606,0.933L6.363,83.548c-0.466,0.669-0.521,1.545-0.143,2.268c0.378,0.725,1.127,1.179,1.943,1.179
	h83.665c0.004,0,0.006,0,0.008,0c1.212,0,2.192-0.983,2.192-2.194c0-0.522-0.182-1.001-0.486-1.378L61.486,37.752V15.198z
	 M38.246,26.954v-9.561H57.1v9.561H38.246z M12.361,82.604l17.022-24.479l5.117,5.12c0.412,0.411,0.97,0.642,1.551,0.642
	c0.583,0,1.14-0.23,1.552-0.642l21.394-21.402l28.611,40.761H12.361L12.361,82.604z"/>
</svg>
                        </div>

                        <h4>{{AboutUsSection.Our_Mission_Title}} </h4>
                        <p v-html="AboutUsSection.Our_Mission_Description"> </p>
                    </div>
                   </div>
               
               
               <div class="col-md-6 col-sm-6">
                    <div class="about-info">
                        
                        <div class="vi-mi-icon">
                        <svg  viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
<g>
	<g>
		<path d="M93.745,48.355c-0.197-0.232-4.968-5.709-12.694-11.237C70.713,29.722,59.977,25.813,50,25.813
			c-9.974,0-20.712,3.909-31.049,11.306C11.223,42.646,6.455,48.123,6.255,48.355c-0.816,0.944-0.816,2.347,0,3.291
			c0.2,0.23,4.968,5.707,12.696,11.236C29.287,70.277,40.023,74.188,50,74.188c9.977,0,20.713-3.91,31.051-11.305
			c7.727-5.529,12.497-11.006,12.694-11.236C94.562,50.702,94.562,49.3,93.745,48.355z M78.035,58.863
			C71.447,63.561,61.233,69.16,50,69.16c-11.233,0-21.445-5.6-28.033-10.297c-4.807-3.428-8.448-6.893-10.376-8.862
			c1.93-1.972,5.569-5.437,10.376-8.862C28.554,36.441,38.766,30.84,50,30.84c11.234,0,21.448,5.602,28.036,10.299
			c4.807,3.426,8.446,6.891,10.374,8.862C86.481,51.973,82.842,55.438,78.035,58.863z M63.045,47.486
			c-1.383,0-2.509,1.125-2.509,2.515c0,5.821-4.725,10.558-10.537,10.558c-5.809,0-10.536-4.736-10.536-10.558
			c0-5.822,4.728-10.558,10.536-10.558c2.556,0,5.02,0.928,6.941,2.612c1.042,0.915,2.627,0.809,3.539-0.235
			c0.914-1.044,0.809-2.631-0.233-3.545c-2.835-2.488-6.473-3.858-10.247-3.858c-8.576,0-15.553,6.991-15.553,15.584
			S41.424,65.584,50,65.584c8.579,0,15.554-6.99,15.554-15.583C65.554,48.611,64.431,47.486,63.045,47.486z M44.982,50.001
			c0,2.771,2.252,5.026,5.017,5.026c2.768,0,5.018-2.256,5.018-5.026c0-2.772-2.25-5.029-5.018-5.029
			C47.235,44.972,44.982,47.229,44.982,50.001z"/>
	</g>
</g>
</svg>
                        </div>    
                            
                        <h4>{{AboutUsSection.Our_Vision_Title}}</h4>
                        <p v-html="AboutUsSection.Our_Vision_Description"></p>
                    </div>
                   </div>
                </div>
       </div>
</section>    
</div>
   <!--Footer--> 
   
<footer class="footer-in">
  <footeritem></footeritem>
</footer>

<a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a>
<script src="/assets/js/vue.min.js?v=202002060000"></script>
<script src="/assets/js/vue-i18n.js?v=201912240000"></script>
<script src="/assets/js/axios.min.js?v=201912240000"></script>
<script src="js/vue-loading-overlay@3.min.js"></script>
<script>
    Vue.use(VueLoading);
    Vue.component('loading', VueLoading)
</script>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script> 
<!-- <script src="js/custom.js"></script> -->
<script src="/assets/plugins/moment/moment.min.js?v=201907220000"></script>
<script src="/assets/plugins/alertifyJs/alertify.min.js?v=201905200000"></script>
<script src="/Resources/HubUrls/HubServiceUrls.js?v=202008060000"></script>
<script src="/CommonFuntions/CommonFunctions.js?v=202008240000"></script>
<script src="master/master.js"></script>
<script src="servicejs/about-us.js"></script>


</body>
</html>