<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Contact Us</title>
<link rel="shortcut icon" href="images/favicon.png" type="image/png">
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link href="css/media.css" rel="stylesheet" type="text/css">
<link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
<link href="/assets/plugins/font-awesome/font-awesome.min.css?v=201905200000" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap" rel="stylesheet"> 
<link href="assets/pluggins/alertifyJs/default.min.css" rel="stylesheet" />
<link href="assets/pluggins/alertifyJs/alertify.min.css" rel="stylesheet" />
<link href="css/vue-loading.css" rel="stylesheet">
<style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>
<body>
    
    
<header>
  <headeritem></headeritem>
</header>
<div id="contact" v-cloak> 
    <div class="vld-parent">
        <loading :active.sync="isLoading" :can-cancel="true" :is-full-page="fullPage"></loading>
    </div>  
    <!--inner-banner-->
<section class="inner-banner" :style="'background-image: url('+BannerSection.Banner_Image1890x207px+');'">
    <div class="container">
        <div class="row">
            <h2>{{BannerSection.Contact_Us_Label}}</h2>
            <div class="breadcrumbs">
                
                <div class="bread-position">
                <ul>
                    <li><a href="index.html">{{BannerSection.Home_Label}}</a></li> |
                    <li>{{BannerSection.Contact_Us_Label}}</li>
                </ul>
                </div>
                
            </div>
        </div>
    </div>
</section>
 
<section class="about-in contact-inner">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="contact-form">
                    <h3>{{ContactSection.Title}}</h3>
                    <p v-html="ContactSection.Description"></p>
                    <div class="row">
                        <form>
                            
                            <div class="col-md-6">
                                <input type="text" id="name" class="form-control" v-model="cntusername" :placeholder="ContactSection.Name_Placeholder">
                            </div>
                        
                            <div class="col-md-6">
                                <input type="email" id="email" class="form-control" v-model="cntemail" :placeholder="ContactSection.Email_Placeholder">
                            </div>
                            
                            <div class="col-md-6">
                                <input type="text" id="phone" class="form-control" v-model="cntcontact" :placeholder="ContactSection.Phone_Number_Placeholder">
                            </div>
                            
                            
                            <div class="col-md-6">
                                <input type="text" id="sub" class="form-control" v-model="cntsubject" :placeholder="ContactSection.Subject_Placeholder">
                            </div>
                            
                            
                            
                            <div class="col-md-12">
                                <textarea rows="5" cols="5" class="form-control"  v-model="cntmessage" :placeholder="ContactSection.Message_Placeholder"></textarea>
                            </div>
                            
                            
                            <div class="col-md-12">
                                <button  @click.prevent="sendcontact">{{ContactSection.Send_Message_Button_Label}}</button>
                            </div>
                            
                        </form>    
                            
                    </div>
                    
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="contact-in">
                    
                    <div class="get-touch">
                        <h3>{{ContactSection.Address_Label}}</h3>
                        <p v-html="ContactSection.Address_Detail"></p>
                    </div>
                    
                    <div class="get-touch">
                        <h3>{{ContactSection.Phone_Label}}</h3>
                        <a :href="'tel:'+ContactSection.Phone_Number">{{ContactSection.Phone_Number}}</a>
                        <p>{{ContactSection.Helpline_Label}}:<a href="#"> {{ContactSection.Helpline_Number}}</a></p>
                    </div>
                    
                    
                    <div class="get-touch">
                        <h3>{{ContactSection.Email_Label}}</h3>
                        <a :href="'mailto:'+ContactSection.Email_Address">{{ContactSection.Email_Address}}</a>
                    </div>
                    
                    
                    <ul>
                        <!-- <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li> -->
                        <li v-for="item in ContactSection.Social_Media_List"><a :href="item.Url" target="_blank"><i class="fa" v-bind:class="item.Name"></i></a></li>
                    </ul>
                    
                    
                </div>
            </div>
            
        </div>
    </div>
</section>
  
<section class="map">
    <iframe :src="MapSection.Map_Path" width="100%" height="514px" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</section> 
</div> 
   <!--Footer-->   
<footer class="footer-in">
  <footeritem></footeritem>
</footer>

<a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a> 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
<script src="/assets/js/vue.min.js?v=202002060000"></script>
<script src="/assets/js/vue-i18n.js?v=201912240000"></script>
<script src="/assets/js/axios.min.js?v=201912240000"></script>
<script src="js/vue-loading-overlay@3.min.js"></script>
<script>
    Vue.use(VueLoading);
    Vue.component('loading', VueLoading)
</script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script> 
<script src="/assets/plugins/moment/moment.min.js?v=201907220000"></script>
<script src="/assets/plugins/alertifyJs/alertify.min.js?v=201905200000"></script>
<script src="/Resources/HubUrls/HubServiceUrls.js?v=202008060000"></script>
<script src="/CommonFuntions/CommonFunctions.js?v=202008240000"></script>
<script src="master/master.js"></script>
<script src="servicejs/contact.js"></script>

</body>
</html>