<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bab E Masawat Travel and Tours</title>
  <link rel="shortcut icon" href="images/favicon.png" type="image/png">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link href="css/media.css" rel="stylesheet" type="text/css">
  <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
  <link href="/assets/plugins/font-awesome/font-awesome.min.css?v=201905200000" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap"
    rel="stylesheet">
  <link href="assets/pluggins/alertifyJs/default.min.css" rel="stylesheet" />
  <link href="assets/pluggins/alertifyJs/alertify.min.css" rel="stylesheet" />
  <link href="css/vue-loading.css" rel="stylesheet">
  <link href="css/custom-splash.css?v=202008121230" rel="stylesheet" type="text/css">
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>

<!-- PRELOADER -->
<div id="preloader">
  <div id="preloader-status">
      <div class="spinner">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
      </div>
      <div class="lds-circle"><div></div></div>
      <div id="preloader-title">Loading</div>
  </div>
</div>
<!-- /PRELOADER -->
  <header>
    <headeritem></headeritem>
  </header>

  <div id="homepage" v-cloak>
    <div class="vld-parent">
      <loading :active.sync="isLoading" :can-cancel="true" :is-full-page="fullPage"></loading>
  </div>
    <!-- Banner -->
    <section class="p-0">
      <div class="container-fluid">
        <div class="row">
          <!-- Carousel -->
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <div class="banner_text">
              <h3>{{bannerSection.Title_1}} </h3>
              <h1 class="text-center">{{bannerSection.Title_2}}<span> {{bannerSection.Title_3}}</span></h1>
            </div>
            <!-- Indicators -->
            <ol class="carousel-indicators hidden-xs">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item image-align" v-for="(banner,index) in bannerSection.Carousel_Images" :class="{ 'active': parseInt(index) == 0 }"
              :style="{ background: 'url(' + banner.Image1890x745px+ ')'}"></div>
              <!-- <div class="item" style="background:url(images/slide-2.jpg) no-repeat top center; background-size:cover;">
              </div>
              <div class="item" style="background:url(images/slide-3.jpg) no-repeat top center; background-size:cover;">
              </div> -->
            </div>
            <!-- Controls -->
            <a class="left carousel-control hidden-xs" href="#carousel-example-generic" data-slide="prev"><i
                class="fa fa-angle-left" aria-hidden="true"></i></a> <a class="right carousel-control hidden-xs"
              href="#carousel-example-generic" data-slide="next"> <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
          </div>
          <!-- /carousel -->
        </div>
      </div>
    </section>

    <!-- Login Form -->
    <div class="container">
      <div class="login-form">
        <h2>{{mainContent.Agency_Login_Label}}</h2>
        <form action="javascript:sendLogin()" v-show=!flagForgot>
          <label>{{mainContent.Agency_Code_Label}}</label>
          <input type="text" class="form-control" id="txtAgencyCode" name="text" :placeholder="mainContent.Agency_Code_Placeholder">

          <label>{{mainContent.User_Name_Label}}</label>
          <input type="text" class="form-control" id="txtUname" name="text" :placeholder="mainContent.User_Name_Placeholder">

          <label>{{mainContent.Password_Label}}</label>
          <input type="password" class="form-control" id="txtPwd" name="password" :placeholder="mainContent.Password_Placeholder">

          <a class="forgot-pass" href="#" @click.prevent="flagForgot=!flagForgot">{{mainContent.Forgot_Password_Label}}</a>


          <button class="btn">
            <a>{{mainContent.Button_Label}}</a>
            <!-- <button> Log In</button> -->
            <div id="loginLoader" class="btn_load" style="display:none;"><i class="fa fa-spinner fa-spin"></i>
            </div>
          </button>

        </form>
      </div>
    </div>
    <div class="container">
      <div class="login-form" v-show=flagForgot>
        <h2>{{mainContent.Agency_Login_Label}}</h2>
        <form action="javascript:forgotPassword()">
          <label>{{mainContent.Agency_Code_Label}}</label>
          <input name="agnecy-code" class="form-control" type="text" id="txtAgency" :placeholder="mainContent.Agency_Code_Placeholder">
          <label>{{mainContent.Email_Label}}</label>
          <input name="agnecy-Email" class="form-control" id="txtEmail" type="text" :placeholder="mainContent.Email_Placeholder">
          <button class="btn" id="btnForgot">
            <a>{{mainContent.Send_Button_Label}}</a>
            <div id="loderForgot" class="btn_load" style="display:none"><i class="fa fa-spinner fa-spin"></i>
            </div>
          </button>
          <a class="forgot-pass" @click.prevent="flagForgot=!flagForgot"><i class="fa fa-arrow-left"
              aria-hidden="true"></i>{{mainContent.Back_To_Login_Label}}</a>
        </form>

      </div>
    </div>
  </div>

  <footer class="footer-in">
    <footeritem></footeritem>
  </footer>

  <a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/assets/js/vue.min.js?v=202002060000"></script>
  <script src="/assets/js/vue-i18n.js?v=201912240000"></script>
  <script src="/assets/js/axios.min.js?v=201912240000"></script>
  <script src="js/jquery.min.js"></script>
  <script src="js/vue-loading-overlay@3.min.js"></script>
  <script>
      Vue.use(VueLoading);
      Vue.component('loading', VueLoading)
  </script>
  <script src="/assets/plugins/moment/moment.min.js?v=201907220000"></script>
  <script src="/assets/plugins/alertifyJs/alertify.min.js?v=201905200000"></script>
  <script src="/assets/js/bootstrap.min.js?v=201912240000"></script>
  <script src="/assets/js/owl.carousel.min.js?v=201910240000"></script>
  <script src="/Resources/HubUrls/HubServiceUrls.js?v=202008060000"></script>
  <script src="/CommonFuntions/CommonFunctions.js?v=202008240000"></script>
  <script src="/CommonFuntions/ExtentionMethods.js?v=201905200000"></script>
  <script src="/Login/LoginComponents/js/login.js?v=202007160000"></script>
  <script src="master/master.js"></script>
  <script src="master/index.js"></script>
  <script>
    jQuery(window).load(function () {
      $('#preloader').delay(9000).fadeOut(100);
    })
  </script>
</body>

</html>