<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Terms and Conditions</title>
  <link rel="shortcut icon" href="images/favicon.png" type="image/png">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link href="css/media.css" rel="stylesheet" type="text/css">
  <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
  <link href="/assets/plugins/font-awesome/font-awesome.min.css?v=201905200000" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap"
    rel="stylesheet">
  <link href="assets/pluggins/alertifyJs/default.min.css" rel="stylesheet" />
  <link href="assets/pluggins/alertifyJs/alertify.min.css" rel="stylesheet" />
  <link href="css/vue-loading.css" rel="stylesheet">
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>
  <header>
    <headeritem></headeritem>
  </header>
  <div id="termsconditions" v-cloak>
    <div class="vld-parent">
      <loading :active.sync="isLoading" :can-cancel="true" :is-full-page="fullPage"></loading>
  </div> 
    <!--inner-banner-->
    <section class="inner-banner" :style="'background:url('+BannerSection.Banner_Image_1890x207px+') no-repeat;'">
      <div class="container">
        <div class="row">
          <h2>{{BannerSection.Terms_Label}}</h2>
          <div class="breadcrumbs">

            <div class="bread-position">
              <ul>
                <li><a href="index.html">{{BannerSection.Home_Label}}</a></li> |
                <li>{{BannerSection.Terms_Label}}</li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </section>

    <!--About-text-->
    <section class="about-in">
      <div class="container">
        <div class="about-text">
          <!-- <h3>{{termsConditionsSection.Tittle}} </h3> -->
          <p v-html="termsConditionsSection.Terms_Description"></p>
        </div>
      </div>
    </section>
  </div>
  <!--Footer-->

  <footer class="footer-in">
    <footeritem></footeritem>
  </footer>
  
  <a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a>

  <script src="/assets/js/vue.min.js?v=202002060000"></script>
  <script src="/assets/js/vue-i18n.js?v=201912240000"></script>
  <script src="/assets/js/axios.min.js?v=201912240000"></script>
  <script src="js/vue-loading-overlay@3.min.js"></script>
<script>
    Vue.use(VueLoading);
    Vue.component('loading', VueLoading)
</script>
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="/assets/plugins/moment/moment.min.js?v=201907220000"></script>
<script src="/assets/plugins/alertifyJs/alertify.min.js?v=201905200000"></script>
  <script src="/Resources/HubUrls/HubServiceUrls.js?v=202008060000"></script>
  <script src="/CommonFuntions/CommonFunctions.js?v=202008240000"></script>
  <script src="master/master.js"></script>
  <script src="servicejs/terms-conditions.js"></script>

</body>

</html>