<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Speed Booking Agency - Contact Us </title>
<link rel="shortcut icon" href="website-informations/favicon/favi.png">
<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css?v=202003190000">
<link href="assets/css/owl.carousel.css?v=202003190000" rel="stylesheet" type="text/css" />
<link href="/assets/plugins/font-awesome/font-awesome.min.css?v=201905200000" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap" rel="stylesheet">
<link href="/assets/plugins/alertifyJs/default.min.css?v=201905200000" rel="stylesheet" />
<link href="/assets/plugins/alertifyJs/alertify.min.css?v=201909230000" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="assets/css/style.css?v=202003240000">
<link href="assets/css/media.css?v=202003190000" rel="stylesheet" type="text/css">
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>
  <header>
    <headeritem></headeritem>
</header>

    <!--inner-banner-->
    <div id="contactuspage" v-cloak>
<section class="inner-banner" style="background:url(assets/images/contact-banner.jpg) no-repeat;">
    <div class="container">
        <div class="row">
            <h2>Contact Us</h2>
            <div class="breadcrumbs">
                
                <div class="bread-position">
                <ul>
                    <li><a href="index.html">Home</a></li> <i class="fa fa-angle-double-right"></i>
                    <li>Contact Us</li>
                </ul>
                </div>
                
            </div>
        </div>
    </div>
</section>    
    
 
<section class="about-in">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="contact-form">
                    <h3>Send a Message</h3>
                    <p>{{contact.Title_Description}}</p>
                    
                    <div class="row">
                        <div>
                            
                            <div class="col-md-6">
                                <input type="text" id="text" class="form-control" placeholder="Your Name*" v-model="cntname">
                            </div>
                        
                            <div class="col-md-6">
                                <input type="email" id="email" class="form-control" placeholder="Email*" v-model="cntemail">
                            </div>
                            
                            <div class="col-md-6">
                                <input type="text" id="text" class="form-control" placeholder="Phone Number*" v-model="cntcontact">
                            </div>
                            
                            
                            <div class="col-md-6">
                                <input type="text" id="text" class="form-control" placeholder="Subject*" v-model="cntsubject">
                            </div>
                            
                            
                            
                            <div class="col-md-12">
                                <textarea rows="5" cols="5" class="form-control" placeholder="Message*" v-model="cntmessage"></textarea>
                            </div>
                            
                            
                            <div class="col-md-12">
                                <button type="" v-on:click="sendcontactus">Send Message</button>
                            </div>
                            
                          </div>    
                            
                    </div>
                    
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="contact-in">
                    
                    <div class="get-touch">
                        <h3>Address</h3>
                        <p>{{contact.Address}}</p>
                    </div>
                    
                    <div class="get-touch">
                        <h3>Phone</h3>
                        <p>Hotline:<a :href="'tel:'+contact.Helpline_Number"> {{contact.Helpline_Number}}</a></p>
                        <p>Telephone:<a :href="'tel:'+contact.Phone_Number_1">{{contact.Phone_Number_1}}</a></p>
                    </div>
                    
                    
                    <div class="get-touch">
                        <h3>Email</h3>
                        <a :href="'mailto:'+contact.Email">{{contact.Email}}</a>
                    </div>
                    
                    
                    <ul>
                        <li><a :href="Follow.Facebook_Link" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a :href="Follow.Twitter_Link"  target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a :href="Follow.Linkedin_Link" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        <li><a :href="Follow.Instagram_Link" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                    
                    
                </div>
            </div>
            
        </div>
    </div>
</section>
    
    
    
<section class="map">
    <iframe :src="contact.Location_Link" width="100%" height="514" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</section>    
</div>
   <!--Footer--> 
    
<footer>
 <footeritem></footeritem>
</footer>
    
<a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a> 
    
<script src="/assets/js/vue.min.js?v=202002060000"></script>
<script src="/assets/js/vue-i18n.js?v=201912240000"></script>
<script src="/assets/js/axios.min.js?v=201912240000"></script>  
<script src="assets/js/jquery.min.js?v=202003190000"></script> 
<script src="assets/js/bootstrap.min.js?v=202003190000"></script> 
<script src="assets/js/custom.js?v=201905200000"></script>
<script src="/assets/plugins/moment/moment.min.js?v=201907220000"></script>
<script src="assets/js/jquery.cookie.js?v=202003190000"></script>
<script src="assets/pluggins/alertifyJs/alertify.min.js?v=202003190000"></script>
<script src="/Resources/HubUrls/HubServiceUrls.js?v=202008060000"></script>
<script src="/CommonFuntions/CommonFunctions.js?v=202008240000"></script>
<script src="/CommonFuntions/ExtentionMethods.js?v=201905200000"></script>
<script src="servicejs/contactus.js?v=202009030000"></script>
<script src="master/master.js?v=202011091540"></script>
</body>
</html>