<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Aalia Holiday - Contact Us</title>
<link rel="shortcut icon" href="website-informations/favicon/favi.png" type="image/png">
<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="assets/css/style.css">
<link href="assets/css/media.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700,900" rel="stylesheet">
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
<link href="assets/pluggins/alertifyJs/alertify.min.css?v=1034" rel="stylesheet" />
    <link href="assets/pluggins/alertifyJs/default.min.css?v=1034" rel="stylesheet" />
    <style>
        [v-cloak] {
          display: none;
        }
      </style>
</head>

<body>
  <header>
    <headeritem></headeritem>
</header>
<section class="inner_banner" style="background:url(assets/images/contact-bnr.jpg);">
  <div class="banner_text">
    <h1 class="text-center">Get In Touch</h1>
  </div>
</section>
<div class="breadcrumbs1_wrapper">
  <div class="container">
    <div class="breadcrumbs1"><a href="index.html">Home</a><span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>Contact Us</div>
  </div>
</div>
<div id="contactuspage" v-cloak>
<section id="contact_sec">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 title">
        <h2 class="m-b-20">Contact Us</h2>
      </div>
    </div>
    <div class="row">
    	<div class="col-lg-12 text-center">
            <div class="get-in-touch">
            	<div class="address bdr-rght"> <i class="fa fa-map-marker"></i> {{contact.Address}} </div>
              <div class="phone-number bdr-rght"> <i class="fa fa-phone"></i> <a :href="`tel:${ contact.PhoneNumber}`">{{contact.Phone_Number}}</a> </div>
              <div class="email"> <i class="fa fa-envelope"></i> <a :href="`mailto:${ contact.Email}`"> {{contact.Email}}</a> </div>
            </div>
          </div>
    </div>
    <div class="contact_form m-t-50">
        <div class="row">
          <div class="col-md-6 col-sm-6 padding">
            <label>Name</label>
            <div class="input-group">
              <input class="form-control" placeholder="Enter name" type="text" v-model="cntname">
            </div>
          </div>
          <div class="col-md-6 col-sm-6 padding">
            <label>Email</label>
            <div class="input-group">
              <input class="form-control" placeholder="Enter email" type="text" v-model="cntemail">
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="col-md-6 col-sm-6 padding">
            <label>Phone</label>
            <div class="input-group">
              <input class="form-control" placeholder="Enter phone no." type="text" v-model="cntcontact">
            </div>
          </div>
          <div class="col-md-6 col-sm-6 padding">
            <label>Subject</label>
            <div class="input-group">
              <input class="form-control" placeholder="Enter subject" type="text" v-model="cntsubject">
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="col-md-12 col-sm-12 padding">
            <label>Message</label>
            <div class="input-group">
              <textarea class="form-control" id="exampleTextarea" rows="5" placeholder="Enter message" v-model="cntmessage"></textarea>
            </div>
          </div>
          <div class="col-md-12 col-sm-12 padding text-center">
            <button class="send" v-on:click="sendcontactus">Send</button>
          </div>
        </div>
    </div>
  </div>
</section>
<section class="map-responsive">
          <iframe :src="contact.Location_Link" style="border:0" allowfullscreen="" width="600" height="450" frameborder="0"></iframe>
</section>
</div>
<footer class="m-t-120" :key="key">
  <footeritem :key="key"></footeritem>
</footer>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!-- <script src="/assets/js/vue.min.js?v=202002060000"></script> -->
<script src="/assets/js/vue-i18n.js?v=201912240000"></script>
<script src="/assets/js/axios.min.js?v=201912240000"></script>
<script src="assets/js/jquery.min.js"></script>
<script src="/assets/plugins/moment/moment.min.js?v=201907220000"></script>
<script src="assets/js/jquery.cookie.js?v=1034"></script>
<script src="assets/pluggins/alertifyJs/alertify.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/custom.js?v=201905200000"></script>
<script src="/Resources/HubUrls/HubServiceUrls.js?v=202008060000"></script>
<script src="/CommonFuntions/CommonFunctions.js?v=202008240000"></script>
<script src="/CommonFuntions/ExtentionMethods.js?v=201905200000"></script>
<script src="servicejs/contactus.js"></script>
<script src="master/master.js"></script>

</html>