    <div style="width:100%;float:left;border:1px solid #ddd">
        <div style="width:100%;float:left;background:#efefef;padding:2%">
            <div style="float:left"><img src="#LOGO#"></div>
            <div style="float:right">
                <div style="font-family:'Gill Sans','Gill Sans MT',Calibri,'Trebuchet MS',sans-serif;font-size:16px;color:#555;margin-bottom:8px;text-align:right;float:right">
                    <img src="https://ci5.googleusercontent.com/proxy/-T-NryQOGdF7GCZQyIyzNpdFs_-OmTwD7xxtxCL2GmJV15CfWv9DNr4X6n6JY5L5XpbXVEbE8ZrFULTRpH4=s0-d-e1-ft#http://oneviewitsolutions.com/img/phone.png" style="margin-right:6px;float:left">
                    #PHONE#
                </div>
                <br>
            </div>
        </div>

        <div style="width:100%;float:left;padding:2%">
            <div style="text-align: center;padding: 10px 0;float:left;width:20%"><img src="#STATUSICON#"></div>
            <div style="width:80%;float:left;padding-top:23px">
                <div style="font-family:'Gill Sans','Gill Sans MT',Calibri,'Trebuchet MS',sans-serif;font-size:16px;color:#555;margin-bottom:2px;text-align:left;float:left;width:100%">
                    #LEADPAXNAME#
                </div>
                <div style="font-family:'Gill Sans','Gill Sans MT',Calibri,'Trebuchet MS',sans-serif;font-size:18px;color:#555;margin-bottom:2px;text-align:left;float:left;width:100%;font-weight:600">
                    #BOOKINGSTATUSMESSAGE#
                </div>
                <div style="font-family:'Gill Sans','Gill Sans MT',Calibri,'Trebuchet MS',sans-serif;font-size:17px;color:#555;margin-bottom:2px;text-align:left;float:left;width:100%">
                    Booking Reference Number - #BOOKINGREFNUMBER#
                </div>
            </div>

            <!-- HotelDetails -->
            <div style="width:100%;float:left;border:1px solid #ddd;margin-bottom:10px;border-bottom:none;font-family:Gill Sans,Gill Sans MT,Calibri,Trebuchet MS,sans-serif;">
                <div style="width:100%;float:left;background:#efefef;border-bottom:1px solid #ddd;display:flex">
                    <div style="width:50%;float:left;padding:1%;font-family:Gill Sans,Gill Sans MT,Calibri,Trebuchet MS,sans-serif;font-size:14px;color:#333;text-align:left;font-weight:600;">Hotel Details</div>
                    <div style="width:50%;float:left;padding:1%;font-family:Gill Sans,Gill Sans MT,Calibri,Trebuchet MS,sans-serif;font-size:14px;color:#333;text-align:right;font-weight:600;">Hotel Confirmation Number: #SUPPLIERREFNUMBER#</div>
                </div>
                <div style="width:100%;float:left;border-bottom:1px solid #ddd;display:flex">
                    <div style="width:50%;display: table;padding: 15px 10px;">
                        <h4 style="color: #555555;width: 100%;margin:5px 0;">#HOTELNAME#</h4>
                            <p style="font-size: 13px;color: #555555;margin:0;">#HOTELADDRESS#</p>
                    </div>
                    <div style="width:50%;display: table;padding: 15px 10px;">

                        <div style="width:50%;text-align: center;display: inline-flex;">
                            <div style="width: 100%;display: inline-block;min-height: 40px;text-align: center;">
                                <div>Check-in</div>
                                <span class="text">#CHECKINDAY#</span>
                                <div>#CHECKINDATE#</div>
                            </div>
                        </div>
                        <div style="width:50%;text-align: center;display: inline-flex;">
                            <div style="width: 100%;display: inline-block;min-height: 40px;text-align: center;">
                                <div>Check-out</div>
                                <span class="text">#CHECKOUTDAY#</span>
                                <div>#CHECKOUTDATE#</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <table style="border-spacing: 0;width:100%;float:left;border-bottom:1px solid #ddd;text-align: center;">
                        <thead style="width:100%;background:#efefef;border-bottom:1px solid #ddd;">
                            <tr>
                                <th style="padding: 8px;line-height: 1.42857143;color: #555555" scope="col">Room No.</th>
                                <th style="padding: 8px;line-height: 1.42857143;color: #555555" scope="col">Room Type</th>
                                <th style="padding: 8px;line-height: 1.42857143;color: #555555" scope="col">Guests</th>
                                <th style="padding: 8px;line-height: 1.42857143;color: #555555" scope="col">Guest Name</th>
                            </tr>
                        </thead>
                        <tbody style="width:100%;border-bottom:1px solid #ddd;">
                            #TABLECONTENTS#
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- GuestDetails -->
            <div style="width:100%;float:left;border:1px solid #ddd;margin-bottom:10px;border-bottom:none">
                <div style="width:100%;float:left;background:#efefef;border-bottom:1px solid #ddd;display:flex">
                    <div style="width:100%;float:left;padding:1%;font-family:Gill Sans,Gill Sans MT,Calibri,Trebuchet MS,sans-serif;font-size:14px;color:#333;text-align:left;font-weight:600;">Guest Details</div>
                </div>
                <div style="width:100%;float:left;border-bottom:1px solid #ddd;display:flex">
                    <div style="width:100%;float:left;padding:1%;font-family:Gill Sans,Gill Sans MT,Calibri,Trebuchet MS,sans-serif;font-size:14px;color:#333;text-align:left;font-weight:300;">#LEADPAXNAME#</div>
                </div>
            </div>

            <!-- Payment Details -->
            <div style="width:100%;float:left;border:1px solid #ddd;margin-bottom:10px">
                <div style="width:100%;float:left;background:#efefef;border-bottom:1px solid #ddd;display:flex">
                    <div style="width:98%;float:left;padding:1%;font-family:'Gill Sans','Gill Sans MT',Calibri,'Trebuchet MS',sans-serif;font-size:14px;color:#333;text-align:left;font-weight:600">Payment Details</div>
                </div>
                <div style="width:100%;float:left;border-bottom:1px dashed #ddd;display:flex">
                    <div style="width:48%;float:left;padding:1%;font-family:'Gill Sans','Gill Sans MT',Calibri,'Trebuchet MS',sans-serif;font-size:14px;color:#333;text-align:left;font-weight:300">Total Room Charges</div>
                    <div style="width:48%;float:left;padding:1%;font-family:'Gill Sans','Gill Sans MT',Calibri,'Trebuchet MS',sans-serif;font-size:14px;color:#3a7fc1;text-align:right;font-weight:600">#ROOMCHARGES#</div>
                </div>
                <div style="width:100%;float:left;border-bottom:1px dashed #ddd;display:flex">
                    <div style="width:48%;float:left;padding:1%;font-family:'Gill Sans','Gill Sans MT',Calibri,'Trebuchet MS',sans-serif;font-size:14px;color:#333;text-align:left;font-weight:300">TAX</div>
                    <div style="width:48%;float:left;padding:1%;font-family:'Gill Sans','Gill Sans MT',Calibri,'Trebuchet MS',sans-serif;font-size:14px;color:#3a7fc1;text-align:right;font-weight:600">#TAX#</div>
                </div>

                <div style="width:100%;float:left;display:flex">
                    <div style="width:48%;float:left;padding:1%;font-family:'Gill Sans','Gill Sans MT',Calibri,'Trebuchet MS',sans-serif;font-size:14px;color:#333;text-align:left;font-weight:600">Total incl. TAX</div>
                    <div style="width:48%;float:left;padding:1%;font-family:'Gill Sans','Gill Sans MT',Calibri,'Trebuchet MS',sans-serif;font-size:14px;color:#3a7fc1;text-align:right;font-weight:600"><strong>#TOTAL#</strong></div>
                </div>
            </div>

            <!-- Cancellation Details -->
            <div style="width:100%;float:left;border:1px solid #ddd;margin-bottom:10px;border-bottom:none">
                <div style="width:100%;float:left;background:#efefef;border-bottom:1px solid #ddd;display:flex">
                    <div style="width:100%;float:left;padding:1%;font-family:Gill Sans,Gill Sans MT,Calibri,Trebuchet MS,sans-serif;font-size:14px;color:#333;text-align:left;font-weight:600;">Cancellation Policy</div>
                </div>
                <div style="width:100%;float:left;border-bottom:1px solid #ddd;display:flex">
                    <div style="width:100%;float:left;padding:1%;font-family:Gill Sans,Gill Sans MT,Calibri,Trebuchet MS,sans-serif;font-size:14px;color:#333;text-align:left;font-weight:300;">#CANCELLATIONPOLICY#</div>
                </div>
            </div>

            <!-- Booking notes Details -->
            #BOOKINGNOTES#

            <!-- Additional Information -->
            #ADDITIONALINFORMATION#

            <!-- Customer Support -->
            <div style="width:100%;float:left;border:1px solid #ddd;margin-bottom:10px;border-bottom:none">
                <div style="width:100%;float:left;background:#efefef;border-bottom:1px solid #ddd;display:flex">
                    <div style="width:98%;float:left;padding:1%;font-family:'Gill Sans','Gill Sans MT',Calibri,'Trebuchet MS',sans-serif;font-size:14px;color:#333;text-align:left;font-weight:600">Customer Support</div>
                </div>
                <div style="width:100%;float:left;background:#efefef;border-bottom:1px solid #ddd;display:flex;margin-top:3px;">
                    <div style="width:57%;float:left;padding:1%;font-family:'Gill Sans','Gill Sans MT',Calibri,'Trebuchet MS',sans-serif;font-size:14px;color:#333;text-align:left;font-weight:600;border-right:1px solid #ddd">Address</div>
                    <div style="width:18%;float:left;padding:1%;font-family:'Gill Sans','Gill Sans MT',Calibri,'Trebuchet MS',sans-serif;font-size:14px;color:#333;text-align:left;font-weight:600;border-right:1px solid #ddd">Phone</div>
                    <div style="width:18%;float:left;padding:1%;font-family:'Gill Sans','Gill Sans MT',Calibri,'Trebuchet MS',sans-serif;font-size:14px;color:#333;text-align:left;font-weight:600">Email</div>
                </div>
                <div style="width:100%;float:left;border-bottom:1px solid #ddd;display:flex;margin-top:3px;">
                    <div style="width:57%;float:left;padding:1%;font-family:'Gill Sans','Gill Sans MT',Calibri,'Trebuchet MS',sans-serif;font-size:14px;color:#333;text-align:left;font-weight:600;border-right:1px solid #ddd">#ADDRESS#</div>
                    <div style="width:18%;float:left;padding:1%;font-family:'Gill Sans','Gill Sans MT',Calibri,'Trebuchet MS',sans-serif;font-size:14px;color:#333;text-align:left;font-weight:600;border-right:1px solid #ddd">#SUPORTPHONE#</div>
                    <div style="width:18%;float:left;padding:1%;font-family:'Gill Sans','Gill Sans MT',Calibri,'Trebuchet MS',sans-serif;font-size:14px;color:#333;text-align:left;font-weight:600">#EMAIL#</div>
                </div>
            </div>
        </div>
    </div>