<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>About Us</title>
<link rel="shortcut icon" href="images/favicon.png" type="image/png">
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link href="css/media.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap" rel="stylesheet"> 
<link href="/assets/plugins/font-awesome/font-awesome.min.css?v=201905200000" rel="stylesheet">
<link href="/assets/plugins/alertifyJs/default.min.css?v=201905200000" rel="stylesheet" />
  <link href="/assets/plugins/alertifyJs/alertify.min.css?v=201909230000" rel="stylesheet" />
  <link href="css/vue-loading.css" rel="stylesheet">
  <style>
    [v-cloak] {
      display: none;
    }

    .alertify .ajs-header {
      background-color: #3c8044 !important;
    }

    .alertify .ajs-button {
      background-color: #3c8044 !important;
    }
  </style>
</head>

<body>
  <header>
    <headeritem></headeritem>
  </header>
  <div id="about" v-cloak>
    <div class="vld-parent">
      <loading :active.sync="isLoading" :can-cancel="true" :is-full-page="fullPage"></loading>
  </div>
<section class="inner_banner" :style="{background:'url('+Banner.Image_1920_x_408px +')'}">
  <div class="container">
  	<div class="row">
    	<div class="col-lg-12">
        	<div class="banner_text">
    <h1>{{Banner.Title}}</h1>
  </div>
        </div>
    </div>
  </div>
</section>
<div class="breadcrumbs1_wrapper">
  <div class="container">
    <div class="breadcrumbs1"><a href="index.html">{{Banner.Breadcrumb_1}}</a><span>/</span>{{Banner.Breadcrumb_2}}</div>
  </div>
</div>
<section id="about-us">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 col-sm-12">
        <h2><span>{{AboutUs.Title_1}}</span> {{AboutUs.Title_2}}</h2>
        <p v-html="AboutUs.Description"></p>
      </div>
      <div class="col-lg-6 col-md-4 col-sm-12">
      	<img :src="AboutUs.Image_554_x_383px" alt="">
      </div>
    </div>
  </div>
</section>
<section id="abut-inr">
  <div class="container">
    <div class="row flex">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="inner">
          <div class="round-shape"> <svg x="0px" y="0px" width="60px" height="60px" viewBox="0 0 60 60" enable-background="new 0 0 60 60" xml:space="preserve">
<g>
	<path d="M43.541,55.522h-37.5c-0.367,0-0.708-0.193-0.896-0.511c-0.188-0.316-0.194-0.708-0.019-1.031l18.75-34.375   c0.364-0.669,1.464-0.669,1.829,0l18.75,34.375c0.175,0.323,0.168,0.715-0.02,1.031C44.25,55.329,43.908,55.522,43.541,55.522   L43.541,55.522z M7.795,53.439h33.989L24.791,22.281L7.795,53.439z"/>
	<path d="M53.957,55.522H43.541c-0.575,0-1.042-0.467-1.042-1.042c0-0.574,0.467-1.041,1.042-1.041h8.654   L42.56,35.918l-3.972,8.218c-0.25,0.517-0.868,0.735-1.392,0.483c-0.519-0.25-0.735-0.873-0.483-1.392l4.851-10.034   c0.171-0.351,0.521-0.577,0.91-0.588c0.393,0.019,0.753,0.198,0.94,0.54l11.458,20.833c0.177,0.323,0.173,0.715-0.017,1.031   C54.666,55.329,54.326,55.522,53.957,55.522L53.957,55.522z"/>
	<path d="M24.791,21.147c-0.575,0-1.042-0.467-1.042-1.042V6.564c0-0.575,0.467-1.042,1.042-1.042H37.29   c0.421,0,0.803,0.254,0.963,0.644c0.162,0.39,0.073,0.837-0.225,1.136l-3.432,3.429l3.429,3.43   c0.299,0.298,0.388,0.746,0.226,1.135c-0.158,0.39-0.54,0.644-0.961,0.644H25.833v4.167C25.833,20.681,25.366,21.147,24.791,21.147   L24.791,21.147z M25.833,13.856h8.944l-2.388-2.388c-0.406-0.406-0.406-1.066,0-1.473l2.388-2.39h-8.944V13.856z"/>
	<path d="M27.916,36.772c-0.025,0-0.048,0-0.075-0.002c-0.302-0.021-0.577-0.173-0.758-0.415l-2.292-3.054   l-2.292,3.054c-0.182,0.242-0.458,0.392-0.758,0.415c-0.315,0.024-0.598-0.088-0.811-0.303l-3.5-3.5   c-0.406-0.406-0.406-1.066,0-1.473s1.067-0.406,1.473,0l2.65,2.65l2.404-3.206c0.392-0.525,1.273-0.525,1.667,0l2.404,3.206   l2.65-2.65c0.406-0.406,1.066-0.406,1.473,0s0.406,1.066,0,1.473l-3.5,3.5C28.456,36.664,28.191,36.772,27.916,36.772   L27.916,36.772z"/>
</g>
</svg> </div>
          <h3>{{AboutUs.Mission_Label}}</h3>
          <p v-html="AboutUs.Mission_Content"></p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="inner">
          <div class="round-shape"> <svg x="0px" y="0px" width="60px" height="60px" viewBox="0 0 60 60" enable-background="new 0 0 60 60" xml:space="preserve">
<g>
	<g>
		<g>
			<path d="M59.027,27.384c-3.367-4.318-7.729-7.889-12.614-10.328c-4.985-2.489-10.351-3.781-15.949-3.849     c-0.154-0.004-0.773-0.004-0.928,0c-5.6,0.068-10.964,1.359-15.95,3.849c-4.885,2.438-9.246,6.01-12.614,10.328     c-1.297,1.663-1.297,3.987,0,5.649c3.368,4.318,7.729,7.89,12.614,10.328c4.986,2.489,10.35,3.781,15.95,3.849     c0.154,0.005,0.773,0.005,0.928,0c5.599-0.067,10.964-1.359,15.949-3.849c4.885-2.438,9.247-6.01,12.614-10.328     C60.324,31.37,60.324,29.047,59.027,27.384z M14.677,41.178c-4.561-2.277-8.634-5.612-11.779-9.645     c-0.608-0.779-0.608-1.869,0-2.648c3.145-4.032,7.218-7.367,11.779-9.645c1.295-0.646,2.618-1.206,3.965-1.679     c-3.466,3.116-5.65,7.631-5.65,12.648s2.184,9.533,5.65,12.648C17.295,42.384,15.972,41.824,14.677,41.178z M30,44.775     c-8.032,0-14.567-6.534-14.567-14.566S21.968,15.642,30,15.642s14.566,6.535,14.566,14.567S38.032,44.775,30,44.775z      M57.103,31.533c-3.146,4.031-7.218,7.367-11.779,9.645c-1.294,0.646-2.616,1.202-3.962,1.676     c3.464-3.116,5.646-7.63,5.646-12.645c0-5.018-2.185-9.534-5.651-12.649c1.348,0.474,2.671,1.034,3.967,1.681     c4.562,2.277,8.634,5.612,11.779,9.645C57.711,29.664,57.711,30.753,57.103,31.533z"/>
		</g>
	</g>
	<g>
		<g>
			<path d="M30,23.975c-3.438,0-6.234,2.796-6.234,6.234s2.796,6.233,6.234,6.233s6.234-2.796,6.234-6.233     S33.438,23.975,30,23.975z M30,34.002c-2.091,0-3.793-1.701-3.793-3.793s1.701-3.793,3.793-3.793s3.793,1.701,3.793,3.793     S32.092,34.002,30,34.002z"/>
		</g>
	</g>
</g>
</svg> </div>
          <h3>{{AboutUs.Vision_Label}}</h3>
          <p v-html="AboutUs.Vision_Content"></p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="inner">
          <div class="round-shape"> <svg  x="0px" y="0px" width="60px" height="60px" viewBox="0 0 60 60" enable-background="new 0 0 60 60" xml:space="preserve">
<path d="M56.748,33.317h-0.873l-5.952-9.544c1.042-0.179,2.027-0.599,2.879-1.224l2.836-2.093  c0.334-0.247,0.404-0.718,0.158-1.052l-2.043-2.765c-0.247-0.334-0.718-0.405-1.052-0.158l-2.834,2.093  c-0.315,0.234-0.698,0.36-1.091,0.359h-0.135c-0.591,0-1.145-0.285-1.49-0.763c-1.275-1.767-3.321-2.815-5.5-2.817h-8.033  c-0.243-0.5-0.647-0.904-1.147-1.147V10.45l1.127-1.489c1.238-1.638,0.914-3.97-0.724-5.208C32.229,3.264,31.441,3,30.632,3h-1.264  c-2.054,0-3.719,1.665-3.718,3.719c0,0.81,0.265,1.598,0.753,2.244l1.126,1.489v3.755c-0.5,0.243-0.904,0.647-1.147,1.147h-8.892  c-2.179,0.002-4.225,1.05-5.5,2.817c-0.345,0.479-0.899,0.763-1.49,0.763h-0.138c-0.393,0.001-0.775-0.125-1.091-0.359l-2.836-2.093  c-0.333-0.247-0.804-0.176-1.051,0.157c0,0,0,0.001-0.001,0.001l-2.039,2.765C3.1,19.738,3.17,20.209,3.504,20.456l2.836,2.093  c1.074,0.788,2.354,1.244,3.684,1.313l-5.899,9.456H3.252c-0.415,0-0.752,0.337-0.752,0.752v1.88c0.002,1.602,1.299,2.898,2.9,2.9  h11.951c1.601-0.002,2.899-1.299,2.9-2.9v-1.88c0-0.415-0.336-0.752-0.752-0.752h-0.873l-6.086-9.759  c1.393-0.44,2.606-1.316,3.461-2.5c0.345-0.479,0.899-0.762,1.49-0.763h8.891c0.243,0.5,0.647,0.904,1.147,1.147v28.179h-1.286  c-2.022,0.003-3.753,1.448-4.118,3.438h-0.988c-2.313,0.003-4.187,1.877-4.189,4.189c0,0.415,0.337,0.752,0.752,0.752h24.6  c0.415,0,0.751-0.337,0.752-0.752c-0.003-2.313-1.877-4.187-4.189-4.189h-0.988c-0.365-1.989-2.097-3.435-4.118-3.438h-1.285V21.442  c0.5-0.243,0.904-0.647,1.147-1.147h8.031c0.59,0.001,1.145,0.285,1.49,0.763c1.009,1.397,2.512,2.358,4.202,2.689l-5.969,9.57  h-0.872c-0.416,0-0.752,0.337-0.752,0.752v1.88c0.001,1.602,1.299,2.898,2.9,2.9H54.6c1.601-0.002,2.898-1.299,2.9-2.9v-1.88  C57.5,33.654,57.163,33.317,56.748,33.317z M31.578,20.169c-0.06,0.012-0.121,0.018-0.182,0.019h-2.793  c-0.061-0.001-0.122-0.007-0.181-0.02c-0.005,0-0.011,0-0.016,0c-0.376-0.079-0.67-0.373-0.749-0.749c0-0.005,0-0.011,0-0.016  c-0.012-0.06-0.019-0.121-0.019-0.181v-2.793c0-0.061,0.007-0.122,0.019-0.182c0-0.005,0-0.011,0-0.016  c0.079-0.376,0.373-0.67,0.749-0.749h0.016c0.06-0.013,0.12-0.021,0.181-0.022h2.793c0.061,0.001,0.122,0.007,0.182,0.02h0.017  c0.376,0.079,0.669,0.373,0.748,0.749v0.016c0.012,0.06,0.019,0.121,0.02,0.181v2.793c-0.001,0.061-0.008,0.122-0.02,0.182v0.015  c-0.079,0.376-0.373,0.67-0.749,0.749C31.59,20.168,31.583,20.167,31.578,20.169L31.578,20.169z M29.033,10.949h1.934v3.008h-1.934  V10.949z M29.368,4.504h1.264c1.224,0,2.215,0.992,2.215,2.214c0,0.482-0.157,0.952-0.448,1.336l-1.054,1.391h-2.689l-1.053-1.392  c-0.737-0.976-0.544-2.365,0.432-3.102C28.418,4.661,28.886,4.504,29.368,4.504z M18.748,35.949  c-0.001,0.771-0.625,1.396-1.396,1.396H5.4c-0.771-0.001-1.396-0.626-1.396-1.396v-1.128h14.744V35.949z M5.897,33.317l5.479-8.784  l5.479,8.784H5.897z M14.78,20.179c-0.992,1.375-2.584,2.19-4.28,2.191h-0.137c-1.127-0.002-2.225-0.363-3.133-1.031l-2.228-1.646  l1.15-1.556l2.229,1.647c0.574,0.426,1.27,0.655,1.984,0.653h0.135c1.074-0.001,2.083-0.518,2.711-1.388  c0.993-1.375,2.584-2.19,4.28-2.191h8.641v1.934h-8.642C16.417,18.793,15.409,19.309,14.78,20.179z M41.44,56.496H18.559  c0.336-1.145,1.385-1.932,2.578-1.934h17.725C40.055,54.563,41.105,55.351,41.44,56.496z M36.334,53.059H23.666  c0.335-1.146,1.385-1.932,2.578-1.934h7.512C34.949,51.127,35.999,51.913,36.334,53.059z M29.033,49.621v-27.93h1.934v27.93H29.033z   M44.359,20.179c-0.628-0.871-1.637-1.387-2.71-1.388h-7.782v-1.934h7.782c1.695,0.002,3.287,0.817,4.279,2.191  c0.629,0.871,1.637,1.387,2.711,1.388h0.135c0.715,0.002,1.411-0.227,1.985-0.653l2.229-1.646l1.149,1.556l-2.229,1.646  c-0.908,0.668-2.006,1.029-3.134,1.031h-0.062c-0.029-0.005-0.059-0.009-0.089-0.011c-0.019,0-0.036,0.006-0.055,0.007  C46.899,22.344,45.338,21.533,44.359,20.179L44.359,20.179z M48.624,24.533l5.479,8.784H43.146L48.624,24.533z M55.996,35.949  c-0.001,0.771-0.626,1.396-1.396,1.396h-11.95c-0.771-0.001-1.396-0.626-1.396-1.396v-1.128h14.743V35.949z"/>
</svg> </div>
          <h3>{{AboutUs.Principles_Label}}</h3>
          <p v-html="AboutUs.Principles_Content"></p>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
</div>
<footer>
  <footeritem></footeritem>
</footer>

<script src="/assets/js/vue.min.js?v=202002060000"></script>
  <script src="/assets/js/vue-i18n.js?v=201912240000"></script>
  <script src="/assets/js/axios.min.js?v=201912240000"></script>
  <script src="js/vue-loading-overlay@3.min.js"></script>
  <script>
      Vue.use(VueLoading);
      Vue.component('loading', VueLoading)
  </script>
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="/assets/plugins/moment/moment.min.js?v=201907220000"></script>
  <script src="/assets/plugins/alertifyJs/alertify.min.js?v=201905200000"></script>
  <script src="/Resources/HubUrls/HubServiceUrls.js?v=202008060000"></script>
  <script src="/CommonFuntions/CommonFunctions.js?v=202008240000"></script>
  <script src="servicejs/about.js"></script>
  <script src="master/master.js"></script>
</body>
</html>