<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Contact Us</title>
<link rel="shortcut icon" href="images/favicon.png" type="image/png">
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link href="css/media.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap" rel="stylesheet"> 
<link href="/assets/plugins/font-awesome/font-awesome.min.css?v=201905200000" rel="stylesheet">
<link href="/assets/plugins/alertifyJs/default.min.css?v=201905200000" rel="stylesheet" />
  <link href="/assets/plugins/alertifyJs/alertify.min.css?v=201909230000" rel="stylesheet" />
  <link href="css/vue-loading.css" rel="stylesheet">
  <style>
    [v-cloak] {
      display: none;
    }

    .alertify .ajs-header {
      background-color: #3c8044 !important;
    }

    .alertify .ajs-button {
      background-color: #3c8044 !important;
    }
  </style>
</head>

<body>
  <header>
    <headeritem></headeritem>
  </header>
  <div id="contactus" v-cloak>
    <div class="vld-parent">
      <loading :active.sync="isLoading" :can-cancel="true" :is-full-page="fullPage"></loading>
  </div>
<section class="inner_banner" :style="{background:'url('+Banner.Image_1920_x_408px +')'}">
<div class="container">
  	<div class="row">
    	<div class="col-lg-12">
        	<div class="banner_text">
            <h1>{{Banner.Title}}</h1>
          </div>
        </div>
    </div>
  </div>
</section>
<div class="breadcrumbs1_wrapper">
  <div class="container">
    <div class="breadcrumbs1"><a href="index.html">{{Banner.Breadcrumb_1}}</a><span>/</span>{{Banner.Breadcrumb_2}}</div>
  </div>
</div>
<section id="contact-us">
  <div class="container">
    <div class="row flex">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="inner">
          <div class="round-shape"> <svg x="0px" y="0px" width="70px" height="70px" viewBox="0 0 70 70" enable-background="new 0 0 70 70" xml:space="preserve">
<g>
	<defs>
		<rect id="SVGID_1_" x="21.5" y="18.169" width="27" height="33.662"/>
	</defs>
	<clipPath id="SVGID_2_">
		<use xlink:href="#SVGID_1_"  overflow="visible"/>
	</clipPath>
	<path clip-path="url(#SVGID_2_)" d="M34.992,18.168c-7.438,0-13.492,6.057-13.492,13.492c0,0.849,0.076,1.702,0.241,2.534
		c0.006,0.05,0.033,0.198,0.092,0.452c0.204,0.911,0.505,1.806,0.902,2.66c1.454,3.424,4.65,8.682,11.667,14.313
		c0.176,0.141,0.387,0.209,0.599,0.209c0.213,0,0.422-0.068,0.6-0.209c7.008-5.632,10.211-10.89,11.666-14.313
		c0.395-0.854,0.698-1.742,0.902-2.66c0.058-0.254,0.086-0.402,0.093-0.452c0.155-0.832,0.239-1.686,0.239-2.534
		C48.486,24.225,42.432,18.168,34.992,18.168 M46.369,33.862c0,0.015-0.007,0.03-0.007,0.043c-0.007,0.037-0.028,0.143-0.063,0.305
		v0.014c-0.176,0.789-0.438,1.559-0.785,2.302c-0.006,0.006-0.006,0.02-0.013,0.025c-1.321,3.129-4.212,7.899-10.509,13.101
		c-6.295-5.201-9.189-9.972-10.507-13.101c-0.006-0.006-0.006-0.02-0.013-0.025c-0.339-0.735-0.601-1.513-0.785-2.302V34.21
		c-0.041-0.162-0.054-0.268-0.063-0.305c0-0.013-0.006-0.028-0.006-0.049c-0.142-0.727-0.212-1.46-0.212-2.201
		c0-6.387,5.2-11.589,11.587-11.589c6.387,0,11.588,5.202,11.588,11.589C46.58,32.403,46.51,33.144,46.369,33.862"/>
	<path clip-path="url(#SVGID_2_)" d="M34.993,23.243c-4.723,0-8.568,3.846-8.568,8.568c0,4.72,3.845,8.567,8.568,8.567
		c4.72,0,8.567-3.848,8.567-8.567C43.561,27.089,39.713,23.243,34.993,23.243 M34.993,38.472c-3.676,0-6.662-2.992-6.662-6.66
		c0-3.67,2.993-6.663,6.662-6.663c3.67,0,6.662,2.993,6.662,6.663C41.655,35.479,38.67,38.472,34.993,38.472"/>
</g>
</svg> </div>
          <h3>{{Contact.Address_Label}}</h3>
          <p>{{Contact.Address}}</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="inner">
          <div class="round-shape"> <svg x="0px" y="0px" width="70px" height="70px" viewBox="0 0 70 70" enable-background="new 0 0 70 70" xml:space="preserve">
<g>
	<defs>
		<rect id="SVGID_1_" x="20.5" y="20.461" width="29" height="29.131"/>
	</defs>
	<clipPath id="SVGID_2_">
		<use xlink:href="#SVGID_1_"  overflow="visible"/>
	</clipPath>
	<path clip-path="url(#SVGID_2_)" d="M44.914,37.825c-0.635-0.656-1.396-1.011-2.206-1.011c-0.803,0-1.574,0.348-2.232,1.006
		l-2.063,2.058c-0.167-0.092-0.337-0.177-0.502-0.264c-0.234-0.116-0.456-0.227-0.645-0.348c-1.933-1.225-3.688-2.824-5.373-4.89
		c-0.814-1.032-1.363-1.902-1.762-2.781c0.537-0.491,1.032-0.998,1.515-1.489c0.184-0.182,0.365-0.369,0.549-0.556
		c1.37-1.368,1.37-3.141,0-4.515l-1.781-1.781c-0.203-0.203-0.413-0.411-0.606-0.621c-0.392-0.404-0.805-0.823-1.229-1.214
		c-0.632-0.625-1.389-0.957-2.187-0.957c-0.795,0-1.566,0.332-2.218,0.957l-0.012,0.016l-2.219,2.237
		c-0.835,0.836-1.313,1.851-1.416,3.035c-0.157,1.905,0.403,3.679,0.836,4.842c1.056,2.851,2.634,5.491,4.99,8.328
		c2.859,3.41,6.298,6.105,10.225,8.003c1.501,0.713,3.505,1.553,5.741,1.699c0.138,0.005,0.283,0.012,0.413,0.012
		c1.506,0,2.773-0.54,3.765-1.619c0.007-0.012,0.021-0.016,0.028-0.03c0.338-0.41,0.729-0.783,1.14-1.18
		c0.281-0.271,0.569-0.553,0.85-0.843c0.646-0.673,0.984-1.459,0.984-2.261c0-0.81-0.345-1.586-1.006-2.235L44.914,37.825z
		 M47.248,44.697C47.244,44.697,47.244,44.704,47.248,44.697c-0.252,0.273-0.514,0.524-0.795,0.796
		c-0.425,0.405-0.854,0.83-1.26,1.305c-0.659,0.706-1.436,1.041-2.455,1.041c-0.097,0-0.2,0-0.3-0.008
		c-1.938-0.125-3.738-0.88-5.088-1.529c-3.696-1.784-6.936-4.325-9.634-7.542c-2.223-2.682-3.712-5.162-4.697-7.822
		c-0.607-1.626-0.83-2.893-0.73-4.086c0.066-0.764,0.357-1.396,0.899-1.94l2.226-2.223c0.322-0.3,0.661-0.465,0.991-0.465
		c0.413,0,0.747,0.249,0.955,0.46l0.019,0.017c0.399,0.374,0.776,0.759,1.175,1.169c0.203,0.21,0.411,0.417,0.621,0.633l1.781,1.781
		c0.691,0.691,0.691,1.331,0,2.022c-0.19,0.189-0.372,0.38-0.563,0.561c-0.546,0.564-1.068,1.083-1.636,1.593
		c-0.015,0.012-0.027,0.019-0.034,0.032c-0.561,0.563-0.454,1.112-0.338,1.481l0.02,0.06c0.464,1.125,1.116,2.181,2.107,3.44
		l0.007,0.007c1.8,2.218,3.699,3.946,5.794,5.27c0.267,0.172,0.543,0.307,0.802,0.439c0.236,0.117,0.458,0.229,0.647,0.344
		c0.025,0.012,0.052,0.033,0.077,0.045c0.222,0.113,0.433,0.163,0.646,0.163c0.541,0,0.881-0.335,0.991-0.446l2.233-2.234
		c0.219-0.222,0.573-0.486,0.983-0.486c0.406,0,0.736,0.25,0.939,0.472l3.611,3.608C47.914,43.321,47.914,44.008,47.248,44.697"/>
</g>
</svg> </div>
          <h3>{{Contact.Phone_Label}}</h3>
          <p><a href="tel:1234567890">{{Contact.Phone_Number}}</a></p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="inner">
          <div class="round-shape"> <svg x="0px" y="0px" width="70px" height="70px" viewBox="0 0 70 70" enable-background="new 0 0 70 70" xml:space="preserve">
<g>
	<defs>
		<rect id="SVGID_1_" x="20.5" y="23.966" width="29" height="22.068"/>
	</defs>
	<clipPath id="SVGID_2_">
		<use xlink:href="#SVGID_1_"  overflow="visible"/>
	</clipPath>
	<path clip-path="url(#SVGID_2_)" d="M45.96,23.966H24.044c-1.954,0-3.544,1.59-3.544,3.547v14.975c0,1.956,1.59,3.547,3.544,3.547
		h21.909c1.957,0,3.547-1.591,3.547-3.547V27.518C49.507,25.564,47.916,23.966,45.96,23.966 M47.886,42.487
		c0,1.063-0.865,1.931-1.926,1.931H24.044c-1.061,0-1.925-0.867-1.925-1.931V27.518c0-1.062,0.864-1.926,1.925-1.926h21.909
		c1.062,0,1.929,0.864,1.929,1.926v14.969H47.886z"/>
	<path clip-path="url(#SVGID_2_)" d="M38.791,34.815l7.091-6.36c0.331-0.302,0.361-0.81,0.061-1.147
		c-0.303-0.33-0.811-0.358-1.147-0.06l-9.78,8.778l-1.909-1.705c-0.004-0.004-0.011-0.011-0.011-0.017
		c-0.042-0.042-0.085-0.079-0.132-0.115l-7.765-6.948c-0.336-0.299-0.845-0.27-1.145,0.066c-0.301,0.337-0.272,0.845,0.065,1.147
		l7.176,6.414l-7.146,6.691c-0.326,0.305-0.343,0.814-0.037,1.146c0.163,0.17,0.379,0.257,0.595,0.257
		c0.197,0,0.396-0.069,0.551-0.213l7.254-6.788l1.967,1.76c0.157,0.136,0.349,0.2,0.542,0.2c0.189,0,0.388-0.069,0.54-0.209
		l2.022-1.811l7.211,6.852c0.156,0.148,0.361,0.223,0.558,0.223c0.218,0,0.427-0.083,0.59-0.253
		c0.305-0.322,0.294-0.841-0.032-1.146L38.791,34.815z"/>
</g>
</svg> </div>
          <h3>{{Contact.Email_Label}}</h3>
          <p><a href="mailto:lorem@isum.com"> {{Contact.Email}}</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="contact_inner">
  <div class="container">
    <div class="row">
    	<div class="cntc">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-0 pull-right"><div>
              <form>
                <div class="row">
                	<div class="col-lg-12">
                    	<h5>{{ContactForm.Title}}</h5>
                    	<h2><span>{{ContactForm.Get_In_Label}}</span> {{ContactForm.Touch_Label}}</h2>
                    </div>
                    <div class="clearfix"></div>
                  <div class="col-md-6 col-sm-6 padding">
                    <div class="input-group">
                      <input name="name" class="form-control" v-model="cntusername" :placeholder="ContactForm.Name_Placeholder" type="text">
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6 padding">
                    <div class="input-group">
                      <input name="email" class="form-control" v-model="cntemail" :placeholder="ContactForm.Email_Placeholder" type="text">
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="col-md-6 col-sm-6 padding">
                    <div class="input-group">
                      <input name="phone" class="form-control" v-model="cntcontact" :placeholder="ContactForm.Phone_Placeholder" type="text">
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6 padding">
                    <div class="input-group">
                      <input name="subject" class="form-control" v-model="cntsubject" :placeholder="ContactForm.Subject_Placeholder" type="text">
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="col-md-12 col-sm-12 padding">
                    <div class="input-group">
                      <textarea class="form-control" id="exampleTextarea" rows="5" :placeholder="ContactForm.Message_Placeholder" v-model="cntmessage"></textarea>
                    </div>
                  </div>
                  <div class="col-md-12 col-sm-12 padding text-center">
                    <button class="send" @click.prevent="sendcontactus">{{ContactForm.Button_Label}}</button>
                  </div>
                </div>
              </form>
            </div></div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-0"><section class="map-responsive">
          <iframe :src="Contact.Map_Link" style="border:0" allowfullscreen="" width="600" height="450" frameborder="0"></iframe>
</section></div>
        </div>
    </div>
  </div>
</section>
</div>
<footer>
  <footeritem></footeritem>
</footer>
<script src="/assets/js/vue.min.js?v=202002060000"></script>
  <script src="/assets/js/vue-i18n.js?v=201912240000"></script>
  <script src="/assets/js/axios.min.js?v=201912240000"></script>
  <script src="js/vue-loading-overlay@3.min.js"></script>
    <script>
        Vue.use(VueLoading);
        Vue.component('loading', VueLoading)
    </script>
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="/assets/plugins/moment/moment.min.js?v=201907220000"></script>
  <script src="/assets/plugins/alertifyJs/alertify.min.js?v=201905200000"></script>
  <script src="/Resources/HubUrls/HubServiceUrls.js?v=202008060000"></script>
  <script src="/CommonFuntions/CommonFunctions.js?v=202008240000"></script>
  <script src="servicejs/contact.js"></script>
  <script src="master/master.js"></script>
  </body>
</html>