<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Al-Diwanya Travel & Tourism</title>
  <link rel="shortcut icon" href="images/favicon.png" type="image/png">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link href="css/media.css" rel="stylesheet" type="text/css">
  <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap"
    rel="stylesheet">
  <link href="/assets/plugins/font-awesome/font-awesome.min.css?v=201905200000" rel="stylesheet">
  <link href="/assets/plugins/alertifyJs/default.min.css?v=201905200000" rel="stylesheet" />
  <link href="/assets/plugins/alertifyJs/alertify.min.css?v=201909230000" rel="stylesheet" />
  <link href="css/vue-loading.css" rel="stylesheet">
  <style>
    [v-cloak] {
      display: none;
    }

    .alertify .ajs-header {
      background-color: #3c8044 !important;
    }

    .alertify .ajs-button {
      background-color: #3c8044 !important;
    }
  </style>
</head>

<body>
  <header>
    <headeritem></headeritem>
  </header>
  <div id="homepage" v-cloak>
    <div class="vld-parent">
      <loading :active.sync="isLoading" :can-cancel="true" :is-full-page="fullPage"></loading>
  </div>
    <section class="main_banner p-0"
      :style="{ background: 'url(' +homePageContent.Background_Image_1920_px_x_797px+ ')'}">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 col-md-7 col-sm-6 hidden-xs">
            <h1><span>{{homePageContent.Title_1}}</span><br> {{homePageContent.Title_2}}<br>
              <span>{{homePageContent.Title_3}}</span></h1>
          </div>


          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="login_div">
              <h2>{{homePageContent.Agency_Login_Label}}</h2>
              <form action="javascript:sendLogin()" v-show=!flagForgot>
                <div class="login-form">
                  <div class="sec">
                    <label>{{homePageContent.Agency_Code_Label}}</label>
                    <input name="agnecy-code" class="form-control" type="text"
                      :placeholder="homePageContent.Agency_Code_Placeholder" id="txtAgencyCode">
                  </div>
                  <div class="sec">
                    <label>{{homePageContent.User_Name_Label}}</label>
                    <input name="username" class="form-control" type="text"
                      :placeholder="homePageContent.User_Name_Placeholder" id="txtUname">
                  </div>
                  <div class="sec">
                    <label>{{homePageContent.Password_Label}}</label>
                    <input name="password" class="form-control" type="password"
                      :placeholder="homePageContent.Password_Placeholder" id="txtPwd">
                  </div>
                  <div class="sec text-center">
                    <a class="forgot"
                      @click.prevent="flagForgot=!flagForgot">{{homePageContent.Forgot_Password_Label}}</a>
                    <button class="login_btn">{{homePageContent.Button_Label}}</button>
                    <div id="loginLoader" class="btn_load" style="display:none;"><i class="fa fa-spinner fa-spin"></i>
                    </div>
                  </div>
                </div>
              </form>
              <div class="login-form">
                <form action="javascript:forgotPassword()" v-show=flagForgot>
                  <div class="sec">
                    <label>{{homePageContent.Agency_Code_Label}}</label>
                    <input name="agnecy-code" class="form-control" type="text" id="txtAgency"
                      :placeholder="homePageContent.Agency_Code_Placeholder">
                  </div>
                  <div class="sec">
                    <label>{{homePageContent.Email_Label}}</label>
                    <input name="agnecy-Email" class="form-control" id="txtEmail" type="text"
                      :placeholder="homePageContent.Email_Placeholder">
                  </div>
                  <div class="sec text-center">
                    <button class="login_btn" id="btnForgot">{{homePageContent.Send_Button_Label}}</button>
                    <div id="loderForgot" class="btn_load" style="display:none;"><i class="fa fa-spinner fa-spin"></i>
                    </div>
                  </div>
                  <div class="sec text-center">
                    <a class="forgot back" @click.prevent="flagForgot=!flagForgot"><i class="fa fa-arrow-left"
                        aria-hidden="true"></i>{{homePageContent.Back_To_Login_Label}}</a>
                    <div id="loderForgot" class="btn_load" style="display:none"><i class="fa fa-spinner fa-spin"></i>
                    </div>
                  </div>
                </form>

              </div>


            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="offer_section">
      <div class="container">
        <div class="row title">
          <div class="col-lg-12 text-center">
            <h2><span>{{OfferSection.Title_1}}</span> {{OfferSection.Title_2}}</h2>
          </div>
        </div>
        <div class="row">
          <div id="owl-demo-1" class="owl-carousel owl-theme">
            <div class="item" v-for="offers in offer">
              <div class="ofr"><a href="#" class="ofr_image"> <img :src="offers.Image_352_px_x_156px" alt="image"> </a>
                <div class="ofr_detail"> <a href="#">
                    <h4 v-html="offers.Description"></h4>
                  </a>
                  <div class="text">
                    <div class="date"> {{OfferSection.Valid_Till_Label}} : {{offers.Valid_Date}}</div>
                    <a href="#">{{OfferSection.View_Detail_Label}}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <footer>
    <footeritem></footeritem>
  </footer>

  <script src="/assets/js/vue.min.js?v=202002060000"></script>
  <script src="/assets/js/vue-i18n.js?v=201912240000"></script>
  <script src="/assets/js/axios.min.js?v=201912240000"></script>
  <script src="js/vue-loading-overlay@3.min.js"></script>
  <script>
      Vue.use(VueLoading);
      Vue.component('loading', VueLoading)
  </script>
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="/assets/plugins/moment/moment.min.js?v=201907220000"></script>
  <script src="/assets/plugins/alertifyJs/alertify.min.js?v=201905200000"></script>
  <script src="/Resources/HubUrls/HubServiceUrls.js?v=202008060000"></script>
  <script src="/CommonFuntions/CommonFunctions.js?v=202008240000"></script>
  <script src="/CommonFuntions/ExtentionMethods.js?v=201905200000"></script>
  <script src="/Login/LoginComponents/js/login.js?v=202007160000"></script>
  <script src="servicejs/index.js"></script>
  <script src="master/master.js"></script>
</body>

</html>