<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Al-Diwanya Travel & Tourism</title>
  <link rel="shortcut icon" href="images/favicon.png" type="image/png">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link href="css/media.css" rel="stylesheet" type="text/css">
  <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap"
    rel="stylesheet">
  <link href="/assets/plugins/font-awesome/font-awesome.min.css?v=201905200000" rel="stylesheet">
  <link href="/assets/plugins/alertifyJs/default.min.css?v=201905200000" rel="stylesheet" />
  <link href="/assets/plugins/alertifyJs/alertify.min.css?v=201909230000" rel="stylesheet" />
  <link href="css/vue-loading.css" rel="stylesheet">
  <style>
    [v-cloak] {
      display: none;
    }

    .alertify .ajs-header {
      background-color: #3c8044 !important;
    }

    .alertify .ajs-button {
      background-color: #3c8044 !important;
    }
  </style>
  
</head>

<body>
  <header>
    <headeritem></headeritem>
  </header>
  <div id="privacy" v-cloak>
    <div class="vld-parent">
      <loading :active.sync="isLoading" :can-cancel="true" :is-full-page="fullPage"></loading>
  </div>
    <section class="inner_banner" :style="{ background: 'url(' +Privacy.Banner_Image+ ')'}">
      <div class="container">
          <div class="row">
            <div class="col-lg-12">
                <div class="banner_text">
                  <h1>{{Privacy.Banner_Title}}</h1>
                </div>
              </div>
          </div>
        </div>
      </section>
      <div class="breadcrumbs1_wrapper">
        <div class="container">
          <div class="breadcrumbs1"><a href="index.html">{{Privacy.Breadcrumb_1}}</a><span>/</span>{{Privacy.Breadcrumb_2}}</div>
        </div>
      </div>
</section>    
<section class="privacy-content" id="offer_section">
    <div class="container">
        <p v-html="Privacy.Privacy_Policy"></p>
    </div>
</section>
</div>   
  <footer>
    <footeritem></footeritem>
  </footer>

  <script src="/assets/js/vue.min.js?v=202002060000"></script>
  <script src="/assets/js/vue-i18n.js?v=201912240000"></script>
  <script src="/assets/js/axios.min.js?v=201912240000"></script>
  <script src="js/vue-loading-overlay@3.min.js"></script>
  <script>
      Vue.use(VueLoading);
      Vue.component('loading', VueLoading)
  </script>
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="/assets/plugins/moment/moment.min.js?v=201907220000"></script>
  <script src="/assets/plugins/alertifyJs/alertify.min.js?v=201905200000"></script>
  <script src="/Resources/HubUrls/HubServiceUrls.js?v=202008060000"></script>
  <script src="/CommonFuntions/CommonFunctions.js?v=202008240000"></script>
  <script src="/CommonFuntions/ExtentionMethods.js?v=201905200000"></script>
  <script src="/Login/LoginComponents/js/login.js?v=202007160000"></script>
  <script src="servicejs/privacy.js"></script>
  <script src="master/master.js"></script>
</body>

</html>