

@media(max-width:1200px) {
	.login-text {
		padding: 111px 20px 110px 50px;
	}
	.navbar-nav {
		margin: 0px -15px;
	}
}


/*=========END-1200px==========*/


/*=========Start-991px==========*/

@media(max-width:991px) {
	header .logo {
		position: relative;
		top: 0;
		box-shadow: none;
		padding: 0;
		border-radius: 0;
	}
	header .logo img {
		width: auto;
	}
	h1 {
		font-size: 40px;
		line-height: 45px;
	}
	h2 {
		font-size: 30px;
		line-height: 40px;
		margin-bottom: 10px;
	}
	.logo {
		text-align: center;
	}
	.login-text {
		padding: 120px 20px 120px 50px;
	}
	.header-contact a {
		font-size: 17px;
	}
	.top-nav .nav>li {
		padding: 0 8px;
	}
	.top-nav {
		margin-top: 20px;
	}
	.top-nav .navbar-default .navbar-brand,
	.top-nav .navbar-default .navbar-brand:hover,
	.top-nav .navbar-default .navbar-brand:focus {
		margin: -20px 0 0 !important
	}
	.inner-banner {
		padding: 70px 0 60px 0;
	}
	.about-in .flex-box {
		display: block;
	}
    .service-in .flex-box {
		display: flex;
	}
}


/*=========END-991px==========*/

@media(max-width:767px) {
	.flex-box {
		display: block;
	}
    .service-in .flex-box {
		display: block;
	}
	h1 {
		font-size: 30px;
		line-height: 35px;
	}
	h2 {
		font-size: 26px;
		line-height: 35px;
		margin-bottom: 20px;
	}
	h3 {
		font-size: 24px;
		line-height: 40px;
		padding: 10px 0;
	}
	.header-contact {
		display: none;
	}
	.navbar-nav>li>a {
		font-size: 16px;
	}
	.collapse in {
		display: none!important;
	}
	.top-nav .navbar-default .navbar-brand,
	.top-nav .navbar-default .navbar-brand:hover,
	.top-nav .navbar-default .navbar-brand:focus {
		margin: -20px 0 0 0!important;
	}
	.navbar-header {
		float: none;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
		padding-right: 0px!important;
	}
	.navbar-collapse.collapse {
		display: none!important;
	}
	.navbar-nav>li {
		float: none;
	}
	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.collapse.in {
		display: block !important;
	}
	/*==========Old============*/
	.navbar-default::before {
		display: none;
	}
	.navbar-toggle {
		background-color: #11609c;
		border: none;
		border-radius: 0;
		margin-right: 0;
		padding: 12px 14px;
		border-radius: 3px;
		float: right;
		margin: 16px 0 0 0;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
		width: 27px;
		height: 3px;
	}
	.navbar-default .navbar-toggle:focus,
	.navbar-default .navbar-toggle:hover {
		background-color: #94c11f;
	}
	.navbar-default .navbar-collapse,
	.navbar-default .navbar-form {
		border-color: transparent;
		margin-top: 0;
		border: none;
		float: none !important;
		box-shadow: none;
	}
	.nav>li {
		padding: 0;
		color: #fff;
	}
	.top-nav .nav>li {
		padding: 0;
	}
	.navbar-default .navbar-nav>li>a {
		color: #fff!important;
		padding: 11px 10px!important;
		background: #94c11f;
		border-bottom: 1px solid #fff!important;
		font-size: 16px;
	}
	.nav>li>a {
		padding: 0;
	}
	.navbar-default .navbar-nav>.active>a,
	.navbar-default .navbar-nav>li>a:hover,
	.navbar-default .navbar-nav>li>a:focus {
		border-bottom: 1px solid #fff;
		background: #11609c!important;
		color: #fff !important;
	}
	.navbar-nav {
		margin: 12px 0 0;
		float: none!important;
	}
	.top-nav .navbar-default .navbar-nav>li::after {
		display: none;
	}
	.top-nav .navbar-default .navbar-nav>.active>a,
	.top-nav .navbar-default .navbar-nav>.active>a:focus,
	.top-nav .navbar-default .navbar-nav>.active>a:hover {
		background: #105f9b!important;
		color: #fff;
	}
	.navbar-default .navbar-brand,
	.navbar-default .navbar-brand:hover,
	.navbar-default .navbar-brand:focus {
		position: relative;
		margin: 0!important;
		padding: 10px 0;
	}
	.header-top {
		padding: 10px 0;
	}
	.top-nav .navbar-default .navbar-brand,
	.top-nav .navbar-default .navbar-brand:hover,
	.top-nav .navbar-default .navbar-brand:focus {
		margin: 0!important;
	}
	.top-nav {
		top: 0;
		position: relative;
		z-index: 999999;
		float: none;
		margin-top: 0;
	}
	.banner {
		padding: 50px 0;
	}
	.login-form {
		float: none;
		width: 100%;
	}
	.login-text {
		display: none;
	}
	.ftr-btm {
		text-align: center;
	}
	.powered-by {
		float: none;
	}
	.navbar-default .navbar-nav>.active>a:hover {
		background: #1c1c1c;
		color: #fff;
	}
	.inner-banner {
		padding: 50px 0 40px 0;
	}
	.inner-banner h1 {
		font-size: 40px;
		line-height: 45px;
	}
	.contact-in .row {
		display: block;
	}
	.contact-dtl {
		margin-bottom: 30px;
	}
	.contact-in {
		padding: 30px 0 0 0;
	}
	.contact-info h3 {
		font-size: 32px;
		line-height: 35px;
	}
	.contact-info form {
		margin-top: 30px;
	}
	
	.four-zero {
		margin: 10px 0 30px 0;
	}
	.four-zero h3 {
		font-size: 200px;
		line-height: 160px;
	}
	.four-zero p {
		width: 100%;
	}
	.about-in {
		margin: 30px 0;
	}
	.about-text h2 {
		margin-bottom: 0;
		font-size: 30px;
		line-height: 32px;
	}
	.about-info {
		margin-top: 15px;
	}
	.contact-info {
		margin-top: 30px;
	}
	.contact-info p {
		width: 100%;
		padding-bottom: 0;
	}
	.contact-info h2 {
		font-size: 30px;
		line-height: 30px;
		margin-bottom: 0;
	}
    .choosebg h5, .choosebg p, footer .about-footer p{
        overflow: inherit;
        display: block;
        -webkit-line-clamp: inherit;
    }
    .about-us{padding: 30px 0;}
    .why-choose{padding: 30px 0;}
    .why-choose h2, .about-us h2{font-size: 26px;}
    .pa-5{padding: 0 15px;}
    .partners{
        margin:30px 0;
    }   
    
    footer .footer-in{padding-top: 30px;}
    .quick-link h3{margin-bottom: 10px;}
    .quick-link{margin-top: 15px;}
    .ft-newsletter h3{padding: 0 0 15px 0;}
    .partner-in{margin-top: 0;}
    .service-in{margin-bottom: 0;}
    .services h3{
        font-size: 23px;
        padding: 10px 0 0 0;
    }
    .four-zero{margin: 10px 0 30px 0;}
    .four-zero h3{
        font-size: 200px;
        line-height: 160px;
    }
    .four-zero p{width: 100%;}
    .about-us p{
   
    overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 6;
-webkit-box-orient: vertical;
}

}


/*=============================End-767px===========================*/

@media(max-width:600px) {
	.contact-info h3 {
		font-size: 26px;
		line-height: 28px;
	}
}


/*=========END-600px==========*/

@media(max-width:650px) {
	header .logo img {
		width: auto;
	}
	.navbar-nav {
		margin: 20px 0 0;
	}
	.navbar-default .navbar-nav>li>a {
		font-size: 18px;
	}
}


/*=========Start-550px==========*/

@media(max-width:550px) {
	header .logo {
		text-align: left;
	}
    .ft-newsletter input[type="email"]{width: 65%;}
    .ft-newsletter button{width: 35%;}
}


/*=========Start-500px==========*/

@media(max-width:500px) {
	header .logo img {
		width: 45%;
	}
	.nav-tabs>li.active>a,
	.nav-tabs>li.active>a:focus,
	.nav-tabs>li.active>a:hover {
		border-bottom: none;
	}
	.four-zero h3 {
		font-size: 150px;
		line-height: 110px;
	}
	.four-zero h4 {
		font-size: 24px;
		line-height: 30px;
		padding: 15px 0;
	}
}

@media(max-width:450px) {
	header .logo img {
		width: 60%;
	}
	.inner-banner h1 {
		font-size: 30px;
	}
}



@media(max-width:300px) {
	.contact-info form input[type="submit"] {
		padding: 12px 0;
		width: 100%;
	}
}


