
/* Google Font Link */
/* Import All CSS */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	background: url(../)
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

ol,
ul,
li {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

html {
	-webkit-text-size-adjust: none;
}

* {
	outline: none;
}

input[type='submit'] {
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
}

 ::-moz-selection {
	background: #11609c;
	color: #fff;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
select,
textarea {
    font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	width: 100%;
	padding: 8px 10px;
	margin: 15px 0;
	font-size: 16px;
	border: 1px solid #d4d4d4;
}

.btn {
	padding: 0;
	margin: 0;
	margin-top: 15px;
}

.btn.active,
.btn:active {
	box-shadow: none;
}

.btn a,
input[type="submit"] {
	      font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	display: inline-block;
	font-size: 18px;
	background-color: transparent;
	color: #fff !important;
	padding: 12px 45px;
	border-radius: 5px;
	vertical-align: middle;
	text-transform: capitalize;
	border: 1px solid #fff;
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}

.btn a:hover,
input[type="submit"]:hover {
	background-color: #fff;
	color: #333333 !important;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.section {
	padding: 50px 0;
	overflow: hidden;
}

p {
	font-size: 16px;
	line-height: 24px;
	letter-spacing:0px;
	color: #333333;
	padding: 8px 0;
	font-weight: 400;
}

h1,
h2,
h3,
h4 {
	margin-top: 0;
	color: #404041;
}

h1 {
	font-size: 70px;
	line-height: 80px;
	font-weight: 300;
	text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}

h2 {
	text-align: left;
	font-size: 50px;
	font-weight: 700;
	text-transform: capitalize;
	color: #11609c;
	line-height: 44px;
    font-family: 'Poppins', sans-serif;
}

h3 {
	font-size: 22px;
	font-weight: 700;
	color: #fff;
	padding: 10px;
	line-height: 28px;
    font-family: 'Open Sans', sans-serif;

}

h4 {
	font-size: 20px;
	line-height: 26px;
	padding: 15px 0;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0px;
    font-family: 'Open Sans', sans-serif;

}

h5 {
	font-size: 20px;
	line-height: 24px;
	padding: 10px 0;
	margin: 0;
    font-family: 'Open Sans', sans-serif;

}

a {
	-webkit-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
	-moz-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
	-ms-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
	-o-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
	transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
}

.navigation_mobile_click,
.navigation_mobile_click:before,
.go-up {
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

a {
	text-decoration: none;
	color: #5e6d77;
}

a:focus,
a:hover {
	text-decoration: none;
	outline: none;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

img {
	max-width: 100%;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: middle;
	height: auto;
}

body {
	      font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	background-color: #FFF;
	overflow-x: hidden;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

#preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: '';
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 4px solid #94c11f;
  border-top-color: #fff;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*=======Start-homepage-css=========*/

/*back-to-top-css*/

.scrollToTop {
	height: 50px;
	width: 50px;
	padding-top: 2px;
	font-size: 24px;
	line-height: 45px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	position: fixed;
	bottom: 40px;
	right: 15px;
	z-index: 999;
	display: none;
	border-radius: 50%;
	background-color: #94c11f;
	border: 2px solid #fff;
}

.scrollToTop:hover,
.scrollToTop:focus {
	background: #11609c;
	color: #fff;
}

.header-top{
    background: #fff;
    position: relative;
    padding-top: 10px;
}
.relative{position: relative;}
header .logo{
   
}
header .logo a{display: block;}
header .logo img{
}

/*==============================Navigation================================*/
.top-nav{
    text-align: center;
    margin-top: 28px;
}
.top-nav .navbar-default {
	border: none;
	z-index: 9;
	background-color: transparent;
	position: relative;
	margin: 0;
    min-height: inherit;
}

.top-nav .navbar-brand img {
	width: 100% !important;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	padding: 0;
    float: right;
}

.top-nav .nav>li {
	position: relative;
	display: block;
	color: #27272b;
	font-size: 17px;
    padding: 0px 20px;

}

.top-nav .nav>li>a {
	display: block;
	margin: 0;
	padding: 0;
	position: relative;
	font-weight: 600;
}

.top-nav .navbar-default .navbar-brand,
.top-nav .navbar-default .navbar-brand:hover,
.top-nav .navbar-default .navbar-brand:focus {
	height: auto;
	padding: 0;
	position: relative;
	z-index: 1000;
	margin: -30px 0 0 !important;
}

.top-nav .top-nav-collapse {
	padding: 0;
	top: 0;
}

.top-nav .navbar-default .navbar-nav>.active>a,
.top-nav .navbar-default .navbar-nav>.active>a:focus,
.top-nav .navbar-default .navbar-nav>.active>a:hover {
	color: #11609c;
    background-color: transparent;
    border-color: #94c11f;
    font-weight: 700;
}

.top-nav .navbar-default .navbar-nav>li>a {
	color: #000000;
	font-size: 15px;
	font-weight:500;
    text-transform: uppercase;
    border-bottom: 4px solid transparent;
    padding-bottom: 35px;
}

.top-nav .navbar-default .navbar-nav>li:last-child::after{
    content: "";
}

.top-nav .navbar-default .navbar-nav>li>a:hover,
.top-nav .navbar-default .navbar-nav>li>a:focus {
	color: #11609c;
    background-color: transparent;
    border-color: #94c11f;
    font-weight: 700;
}

.top-nav .nav>li>a:focus,
.top-nav .nav>li>a:hover {
	text-decoration: none;
	color: #fff;
	background: transparent;
}

.header-contact{
    text-align: right;
    float: right;
    margin-top: 15px;
}
.header-contact span {
    font-size: 14px;
    text-align: left;
    display: block;
    color: #0c0101;
    font-weight: 500;
}
.header-contact span i{
    color: #94c11f;
    margin-right: 10px;
}
.header-contact a {
    margin: 0px !important;
    font-weight: 600;
    font-size: 22px;
    color: #0c0101;
    display: block; 
    text-align: left;
}

.header-contact a:hover{
    color: #11609c;
}


/*==================================Banner===========================*/
.banner{
    background: url(../images/banner-bg.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center center;
    padding: 70px 0;
    position: relative;
}

.banner::before{
    content: "";
    height: 100%;
    width: 100%;
    background: rgba(17,96,156,0.5);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

.agency-login{
    background: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    overflow: hidden;
}
.login-form{
    width: 50%;
    float: left;
    text-align: center;
    padding: 30px 20px 30px 30px;
}
.login-form h3{
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 800;
    color: #11609c;
    padding: 0;
    margin-bottom: 10px;
    line-height: 22px;
}
.login-form h3 span{
    font-weight: 400;
}
.login-form .form-control{
    height: 44px;
    background: #5c6278;
    color: #fff;
    border-radius: 0;
    font-size: 15px;
    border: none;
    margin: 15px 0;
    clear: both;
}
.login-form .form-control::placeholder{
    color: #d6d6d6;
}

.login-form button{
    background: #11609c!important;
    text-transform: uppercase;
    font-weight: 600;
}
.login-form button:hover{
    background: #94c11f!important;
}
.login-form .forgot-pass{
    color: #000;
    font-weight: 600;
}
.login-form .forgot-pass:hover{
    color: #11609c;
}
#Div2 {
  display: none;
}

.login-text{
    float:left;
    width: 50%;
     -moz-clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
    -o-clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
    
background: rgba(173,220,53,1);
background: -moz-linear-gradient(45deg, rgba(173,220,53,1) 0%, rgba(173,220,53,1) 46%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(173,220,53,1)), color-stop(46%, rgba(173,220,53,1)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(45deg, rgba(173,220,53,1) 0%, rgba(173,220,53,1) 46%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(45deg, rgba(173,220,53,1) 0%, rgba(173,220,53,1) 46%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(45deg, rgba(173,220,53,1) 0%, rgba(173,220,53,1) 46%, rgba(255,255,255,1) 100%);
background: linear-gradient(45deg, rgba(173,220,53,1) 0%, rgba(173,220,53,1) 46%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#addc35', endColorstr='#ffffff', GradientType=1 );
padding: 119px 30px 120px 50px;
}
.login-text h4{
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #384c04;
    line-height: 20px;
    padding: 0 0 10px 0;
}
.login-text h4 span{
    font-size: 14px;
    font-weight: 400;
}
.login-text p{
    color: #32391f;
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
}

/*=====================================About-Us=======================*/
.about-us{
    padding: 60px 0;
    text-align: center;
}
.about-us h2{
    text-transform: uppercase;
    color: #08416c;
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}
.about-us p{
    color: #4f4f4f;
    overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 4;
-webkit-box-orient: vertical;
    padding-bottom: 0;
}

.about-us .btn{
    text-align: center;
}

.about-us .btn a{
    background: #11609c;
    color: #fff;
    border-radius: 0;
    font-size: 14px;
    text-transform: uppercase;
}
.about-us .btn a:hover{
    background: #94c11f;
    color: #fff!important;
}

/*==============================why-choose-us==========================*/

.why-choose{
    padding: 60px 0;
    background: url(../images/why-choose-bg.jpg) no-repeat;
    background-size: cover;
    position: relative;
}

.why-choose::before{
    content: "";
    height: 100%;
    width: 100%;
    background: rgba(17,96,156,0.7);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}
.flex-box{display: flex;}
.why-choose h2{
    color: #fff;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
}
.pa-5{padding: 0 5px;}
.why-choose .why-info{
    margin-top: 20px;
    text-align: center;
}
.choose-icon {
    width: 81px;
    height: 81px;
    margin: auto;
    margin-bottom: auto;
    background: #FFF;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    padding: 6px;
    margin-bottom: 13px;
    z-index: 9;
}

.choose-icon .icon-sec {
    width: 69px;
    height: 69px;
    background: #FFF;
    float: left;
    position: relative;
    z-index: 9;
    border-radius: 50%;
    text-align: center;
    line-height: 65px;
    -webkit-box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.15);
    box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.15);
}
.choose-icon .icon-sec svg{
    width: 40px;
    margin-top: 15px;
    fill:#11609c;
}

.choose-icon::after {
    width: 100%;
    height: 40px;
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    background: #93c01f;
}

.choosebg {
    width: 100%;
    background: #FFF;
    padding: 47px 7px 14px 7px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    border: 2px solid #FFF;
    position: relative;
    overflow: hidden;
    margin-top: -53px;
}

.choosebg h5 {
    font-size: 14px;
    color: #000000;
    font-weight: 800;
    text-transform: capitalize;
    margin-bottom: 5px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    position: relative;
    z-index: 99;
    padding: 0;
    overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
    padding-bottom: 0;
}

.choosebg p {
    font-size: 13px;
    color: #4f4e4e;
    line-height: 20px;
    font-weight: 400;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
    padding-bottom: 0;
}


.choosebg:hover{
    background: #11609c
}

.choosebg:hover.choosebg h5, .choosebg:hover.choosebg p{
    color: #fff;
}


/*===========================partners==========================*/
.partners{
    margin:40px 0;
}
.partners .owl-carousel .item{
    border: 1px solid #dddddd;
    text-align: center;
    margin: 0 15px;
}

.partners .owl-theme .owl-controls{
    display: none!important;
}



/* Footer CSS BOF
=================================================== */

footer {
	background: #fff;
	display: block;
	width: 100%;
	padding:0;
	background-size: cover;
   position: relative;
    z-index: 99;
        overflow: hidden;

}





footer .footer-in{
    padding-top: 50px;
    overflow: hidden;
    background: #002a4a;
}

.about-footer{padding:0;}
footer .ftr-logo {
	text-align: left;
}
.about-footer h4{
    color: #ffffff;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 700;
    padding-bottom: 0;
    margin-top: 15px;
}
footer .about-footer p {
	font-size: 16px;
    line-height: 24px;
	color: #8aadc7;
	line-height: 25px;
	padding: 10px 0 10px 0;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding-bottom: 0;
}


/* Footer Social CSS BOF
=================================================== */

.ft-newsletter,
.quick-link {
	padding:  0;
}

.quick-link h3 {
	font-size: 20px;
	color: #fff;
	font-weight: 600;
	padding: 0;
	margin-bottom: 20px;
    clear: both;
    font-family: 'Barlow', sans-serif;
}

.ft-link{
    overflow: hidden;
    margin-bottom: 10px;
}
.quick-link .ft-link li {
	font-size: 16px;
	margin-bottom: 12px;
            
}

.quick-link .ft-link li i {
	color: #727272;
}

.quick-link .ft-link li a {
	font-size: 15px;
	color: #8aadc7;
	font-weight: 400;
}

.quick-link .ft-link li a:hover {
	color: #a2ff00;
}
.ftr-contact{
    margin-bottom:10px;
}
.ftr-contact li{padding-bottom: 10px;}
.ftr-contact li i{
     color: #8aadc7;
    font-size: 15px;
    padding-right: 10px;
}
.ftr-contact li a{
    color: #8aadc7;
    font-size: 15px;
    font-weight: 400;
}

.ftr-contact li a:hover{
    color: #a2ff00;
}



footer .social {
	display: inline-block;
	list-style: outside none none;
	width: auto;
}

footer .social li {
	text-align: center;
	padding: 0 15px 0 0;
	float: left;
}

footer .social li a {
	color: #fff;
	display: block;
	height: 33px;
	line-height: 31px;
	text-decoration: none;
	transition: all 0.8s ease-in-out 0s;
	width: 33px;
	background-color: transparent;
	font-size: 14px;
	border-radius: 0px;
    border: 1px solid #496a85;
}

footer .social li a:hover {
	background: #75a128;
	color: #fff;
    border-color: #75a128;
}


.ft-newsletter{
    border-top: 1px solid #264a65;
    border-bottom: 1px solid #264a65;
    margin: 30px 0;
    padding: 20px 0;
}

.ft-newsletter h3{
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    line-height: 20px;
    font-weight: 800;
    padding: 5px 0;
}
.ft-newsletter h3 span{
    color: #8aadc7;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
}

.ft-newsletter input[type="email"]{
    height: 51px;
    margin-top: 0;
    color: #727272;
    float: left;
    width: 75%;
    margin-bottom: 0;
}
.ft-newsletter input[type="email"]::placeholder{
    font-weight: 500;
    color: #737373;
}
.ft-newsletter button{
    background: #75a128;
    color: #fff;
    border: none;
    height: 51px;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    float: left;
    width: 25%;
    border: none;
}
.ft-newsletter button:hover{
    background: #011f35 ;
}

.ftr-btm {
	background: #002a4a;
	padding: 0 0 20px 0;
    overflow: hidden;
}

.copyright {
	color: #8aadc7;
	font-size: 13px;
	font-weight: normal;
	padding: 0 0 10px 0;
	font-weight: 400;
}

.powered-by {
	color: #8aadc7;
	font-size: 13px;
	font-weight: 400;
	float: right;
}
.partner-in{margin-top: 0;}


/*========================About-Us===========================*/

.inner-banner{
	background-size: cover;
    padding: 100px 0 90px 0;
    position: relative;
     background: url(../images/about-banner.jpg) no-repeat;
    background-size: cover;
    width: 100%;
}
.inner-banner::before{
    content: "";
    height: 100%;
    width: 100%;
    background: rgba(17,96,156,0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
}
.inner-banner h1 {
	text-align: center;
	color: #ffff;
	font-size: 45px;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

.bradcomes {
	text-align: center;
}

.bradcomes ul {
	color: #fff;
}

.bradcomes ul li {
	display: inline-block;
	padding: 10px;
	color: #fff;
	font-size: 16px;
}

.bradcomes ul li a {
	color: #fff;
}

.bradcomes ul li a:hover {
	color: #b8ff00;
}

.about-banner{
   
}

.about-in {
	margin: 50px 0;
}



.about-text {
	text-align: center;
}

.about-text h2{
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 45px;
}

.about-text p {
	font-weight: 400;
	color: #4f4f4f;
    text-align: center;
    line-height:26px; 
    padding: 0;
    margin: 10px 0;
}
.about-in-text p{
    overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 11;
-webkit-box-orient: vertical;
    padding: 0;
    margin: 0 0 10px 0;
    }
.about-in .flex-box{display: flex;}
.about-info{
    background: #11609c;
    margin-top: 30px;
    width: 100%;
}
.about-info h3{
    color: #fff;
    font-size: 22px;
    text-transform: capitalize;
    background: #0b5287;
    font-weight: 500;
    padding-left: 20px;
    font-family: 'Poppins', sans-serif;
}
.about-info ul{
    padding: 20px;
}
.about-info ul li{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    position: relative;
    padding-left: 25px;
    margin-bottom: 15px;
    font-weight: 400;
}
.about-info ul li:last-child{
    margin-bottom: 0;
}
.about-info ul li i{
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 15px;
}
/*===================Contact-Us=================*/

.contact-in {
	padding: 60px 0;
}

.contact-in .row {
	display: flex;
}

.contact-dtl {
	text-align: center;
	padding: 30px;
	height: 100%;
	border: 1px solid #e3e3e3;
}


.contact-dtl h4 {
	font-size: 22px;
	font-weight: 700;
	color: #11609c;
	text-transform: uppercase;
	padding: 0 0 15px 0;
}

.contact-dtl p,
.contact-dtl a {
	font-size: 17px;
	color: #4f4f4f;
	font-weight: 400;
	line-height: 22px;
	padding: 0;
	display: block;
}

.contact-dtl:hover {
	background: #11609c;
	box-shadow: none;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.contact-dtl:hover i {
	background: #fff;
	border-color: #fff;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.contact-dtl:hover h4,
.contact-dtl:hover p,
.contact-dtl:hover a {
	color: #fff;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}



.contact-info {
	margin-top: 50px;
    text-align: center;
   
    
}

.contact-info h2{
    text-align: center;
     text-transform: uppercase;
    font-size: 40px;
}
.contact-info p{
    font-size: 16px;
    color: #6c6c6c;
    font-weight: 400;
    width: 85%;
    text-align: center;
    margin: 0 auto;
    padding: 15px 0;
}

.contact-info form .form-control {
	background: #f6f6f6;
	height: 50px;
	border: none;
	border-radius: 5px;
	margin-bottom: 0px;
	color: #757575;
	font-size: 17px;
	padding: 0 20px;
}

.contact-info form textarea {
	height: auto !important;
	color: #757575!important;
	padding: 20px!important;
}

.contact-info form .form-control::placeholder {
	color: #6c6c6c!important;
}

.contact-info form input[type="submit"] {
	text-align: center;
	display: block;
	margin: 0 auto;
	background: #11609c;
	border: none;
	font-size: 26px;
	font-weight: 500;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 5px;
    padding: 10px 50px;
    margin-top: 15px;
}

.contact-info form input[type="submit"]:hover {
	background: #94c11f;
	color: #fff!important;
}


/*================================Our-Services=================*/

.service-in{
    margin-bottom: 20px;
    }
.services{
    background: #f2f2f2;
    padding: 20px;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.services h3{
    font-size: 26px;
    text-transform: uppercase!important;
    color: #11609c!important;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding: 20px 0 10px 0;
}

.services p{
    line-height: 28px;
    color: #606060;
}




.four-zero{
    margin: 60px 0;
    text-align: center;
}
.four-zero h3{
    color: #11609c;
    font-size: 250px;
    font-weight: 700;
    line-height: 175px;
}
.four-zero h3 span{color: #94c11f;}
.four-zero h4{
    color: #1c1c1c;
    font-size: 30px;
    font-weight: 700;
    padding: 30px 0 15px 0;
}
.four-zero p{
    color: #1c1c1c;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0;
    padding: 0;
    width: 50%;
    text-align: center;
    margin: 0 auto;
}
.four-zero .btn{
    background: #94c11f;
    color: #fff;
    padding: 10px 40px;
    font-size: 20px;
    font-weight: 600;
}
.four-zero .btn:hover{
    background: #11609c;
    color: #fff;
}





























