* {
    margin: 0;
    padding: 0;
}

img {
    outline: none;
}

body {
    background-color: #fff;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
}

button {
    outline: none;
    border: none;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 700;
    line-height: 1.1;
    margin: 0;
    padding: 0;
}

a {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

p {
    font-weight: 400;
    line-height: 26px;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

header {
    width: 100%;
    height: auto;
}
/*=====  Navbar CSS BOF  ======*/
.navbar-default {
    background: rgba(0,0,0,0.7);
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
    border: 0px;
    z-index: 2;
    height: auto;
    display: inline-block;
    width: 100%;
}

.navbar {
    margin-bottom: 0px;
    z-index: 999;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navbar-nav {
    margin: 0;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    padding: 27px 0;
    float: right;
}

.nav > li {
    display: block;
    padding: 0 24px;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    width: auto;
    height: auto;
    padding: 0;
    position: absolute;
    z-index: 1000;
    margin: 0 0 !important;
}

.top-nav-collapse {
    padding: 0;
    top: 0;
}

.navbar-default .navbar-nav > li > a {
    color: #aaaaaa;
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 0 5px;
    position: relative;
}

    .navbar-default .navbar-nav > li > a::before {
        top: -10px;
        transform: translateY(-10px);
    }

    .navbar-default .navbar-nav > li > a::before, .navbar-default .navbar-nav > li > a::after {
        position: absolute;
        left: 0px;
        width: 100%;
        height: 2px;
        background: #02686b;
        content: "";
        opacity: 0;
        transition: all 0.3s;
    }

    .navbar-default .navbar-nav > li > a::after {
        bottom: -10px;
        transform: translateY(10px);
    }

    .navbar-default .navbar-nav > li > a:hover::before, .navbar-default .navbar-nav > li > a:hover::after {
        opacity: 1;
        transform: translateY(0px);
    }

    .navbar-default .navbar-nav > li > a.active::before, .navbar-default .navbar-nav > li > a.active::after {
        opacity: 1;
        transform: translateX(0px);
    }

    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        color: #fff;
        text-decoration: none;
    }

    .navbar-default .navbar-nav > li > a.active {
        color: #fff;
        text-decoration: none;
    }
/*=====  Banner CSS BOF  ======*/
.main_banner {
    min-height: 871px;
    background-size: cover !important;
    background-position: top center !important;
    margin: -78px 0 0;
}

    .main_banner h1 {
        color: #fff;
        font-size: 48px;
        text-align: left;
        font-weight: 700;
        margin-top: 48%;
        text-shadow: 1px 0px 3px rgba(0,0,0,0.4);
    }

        .main_banner h1 span {
            color: #fff;
            font-size: 36px;
        }

    .main_banner p {
        color: #fff;
        font-size: 17px;
        text-align: left;
        font-weight: 400;
        padding-top: 5px;
    }
/*=====  Login CSS BOF  ======*/
.login_div {
    background: #02686b;
    display: block;
    margin-top: 130px;
}

    .login_div h2 {
        font-size: 26px;
        color: #fff;
        width: 100%;
        padding: 35px 0 10px;
        text-align: center;
        font-weight: 700;
        text-transform: uppercase;
    }

.login-form {
    margin: 0;
    padding: 10px 38px 30px;
}

    .login-form .sec, .forgot_form .sec {
        padding-top: 15px;
    }

    .login-form label {
        font-size: 15px;
        font-weight: 400;
        color: #fff;
        margin: 0;
    }

    .login-form .form-control, .forgot_form .form-control {
        background-color: #fff;
        border: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        border-radius: 0;
        color: #373737;
        display: block;
        font-size: 14px;
        height: 46px;
        padding: 6px 15px;
        width: 100%;
        z-index: 1;
        box-shadow: none;
        margin-top: 0;
        font-weight: 300;
    }

    .login-form .login_btn, .login-form .register_btn, .forgot_form .login_btn {
        background: #a98a4e;
        font-size: 16px;
        color: #fff;
        padding: 12px 0;
        text-align: center;
        width: 100%;
        border: none;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        margin: 10px auto 0;
        display: block;
        font-weight: 600;
    }

        .login-form .login_btn:hover {
            background: #dcb365;
            color: #000;
            text-decoration: none;
        }

    .login-form .forgot {
        font-size: 15px;
        color: #fff;
        margin: 20px 0 0;
        text-align: center;
        width: auto;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        font-weight: 400;
        display: block;
    }

    .login-form .forgot:hover {
            color: #fff;
            text-decoration: underline;
        }

    .login-form .register_btn {
        background: #fff;
        color: #000;
    }

        .login-form .register_btn:hover {
            background: #a98a4e;
            color: #fff;
            text-decoration: none;
        }

    .login-form .bdr-btm {
        padding: 15px 0;
    }

/*=====  Airline Deals Section CSS BOF  ======*/

#airline-deals {
    display: block;
    width: 100%;
    position: relative;
    padding: 0 0 80px;
    margin: -42px 0 0;
}

    #airline-deals::before {
        position: absolute;
        content: '';
        left: 0px;
        top: -70px;
        right: 0px;
        bottom: 0px;
        -ms-transform: skewY(2deg);
        -webkit-transform: skewY(2deg);
        transform: skewY(2deg);
        background-color: #fff;
    }

.title h2 {
    font-size: 44px;
    color: #000;
    font-weight: 700;
    text-align: center;
    position: relative;
    width: auto;
    margin: 0 auto 50px;
    display: inline-block;
}

    .title h2 span {
        font-weight: 300;
    }

    .title h2::after {
        position: absolute;
        opacity: 1;
        bottom: -15px;
        transition: all 0.3s;
        width: 62px;
        height: 3px;
        content: "";
        background: #a98a4e;
        left: 4px;
    }

#airline-deals .item .value_trip {
    background: #fff;
    overflow: hidden;
}

    #airline-deals .item .value_trip img {
        width: 100%;
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        -ms-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
    }

    #airline-deals .item .value_trip:hover img {
        opacity: .80;
    }

#airline-deals .item .cont {
    text-align: center;
    background: #fff;
    width: 100%;
    height: 85px;
    display: block;
}

    #airline-deals .item .cont .air-logo {
        width: 100%;
        display: inline-block;
        margin: 25px 0 0;
        height: 46px;
        line-height: 46px;
    }

        #airline-deals .item .cont .air-logo img {
            width: auto !important;
        }

#airline-deals .item h4 {
    font-family: 'Poppins', sans-serif;
    padding: 20px 0 0;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    color: #333333;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    line-height: 28px;
    vertical-align: middle;
    display: inline-block;
}

    #airline-deals .item h4 a {
        text-decoration: none;
        color: #333;
    }

    #airline-deals .item h4 span {
        color: #02686b;
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        -ms-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
    }

#airline-deals .item .value_trip:hover h4 span {
    color: #a98a4e;
}

#airline-deals .owl-carousel {
    padding-top: 22px;
}

#airline-deals .item {
    position: relative;
    display: block;
    overflow: hidden;
    height: auto;
    padding: 8px;
    background: #fff;
    border: 1px solid #dbdbdb;
    margin: 0 15px;
}

.owl-theme .owl-controls {
    display: none !important;
}

.owl-pagination {
    display: block;
}

/* Footer CSS BOF
=================================================== */

footer {
    /* background: #101111; */
    display: block;
    width: 100%;
    position: relative;
    padding: 50px 0 0;
    color: #6b6b6b;
}

    footer .inner {
        display: block;
        width: 100%;
    }

    footer .about {
        width: 100%;
        display: block;
        text-align: center;
    }

        footer .about .ftr-logo {
            text-align: center;
            position: relative;
            margin: 20px 0 0;
        }

        footer .about p {
            font-weight: 400;
            text-align: center;
            margin-top: 20px;
            font-size: 15px;
            color: #6b6b6b;
        }

    footer .link, footer .contact {
        width: 100%;
        display: inline-block;
        padding: 0 0 10px;
        min-height: 250px;
    }

        footer .link h3, footer .contact h3 {
            /* color: #fff; */
            display: inline-block;
            font-weight: 600;
            line-height: normal;
            margin: 10px 0 20px;
            position: relative;
            text-align: left;
            float: left;
            width: 100%;
            font-size: 22px;
            border-bottom: 1px solid #282929;
            padding-bottom: 15px;
        }

.bdr-left {
    border-left: 1px solid #282929;
}

footer .link ul {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
}

    footer .link ul li {
        font-size: 16px;
        font-weight: 400;
        padding: 8px 0;
        width: 100%;
    }

        footer .link ul li a {
            color: #6b6b6b;
            text-decoration: none;
            padding: 0;
        }

            footer .link ul li a i {
                padding: 0 10px 0 0;
            }

            footer .link ul li a:hover {
                color: #02686b;
                text-decoration: none;
            }

footer .contact ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

    footer .contact ul li {
        clear: both;
        float: left;
        padding: 7px 0;
        font-size: 15px;
        font-weight: 400;
        color: #6b6b6b;
    }

        footer .contact ul li i {
            color: #6b6b6b;
            float: left;
            margin-right: 10px;
            width: 27px;
            border: 1px solid #6b6b6b;
            text-align: center;
            height: 27px;
            line-height: 27px;
            font-size: 14px;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
        }

.fnt-sz-17 {
    font-size: 18px !important;
}

.fnt-sz-22 {
    font-size: 22px !important;
}

footer .contact ul li a {
    font-size: 15px;
    font-weight: 400;
    color: #6b6b6b;
    text-decoration: none;
}

    footer .contact ul li a:hover {
        color: #02686b;
        text-decoration: none;
    }

footer .contact ul li:hover i {
    color: #fff;
    background: #02686b;
    border: 1px solid #02686b;
}

footer .ftr-btm {
    background: #02686b;
    padding: 15px 0;
    margin-top: 30px;
}

footer .copyright {
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 13px;
    padding: 10px 0;
    font-weight: 300;
}

.back-top {
    bottom: 18px;
    position: absolute;
    right: 5px;
}

    .back-top #toTop {
        color: #000;
        height: 35px;
        line-height: 35px;
        padding: 17px 15px;
        transition: all 0.8s ease-in-out 0s;
        width: 35px;
        z-index: 50;
        background: #fff;
    }

    .back-top i {
        font-size: 24px;
        position: relative;
        top: 3px;
    }

    .back-top #toTop:hover {
        background: #a98a4e;
        color: #fff;
    }

.btn_load {
    background: #dcb365;
    font-size: 21px;
    color: #fff;
    padding: 12px 0;
    text-align: center;
    width: 100%;
    border: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin: -46px auto 0;
    display: block;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    z-index: 9;
}

.forgot_form {
    margin: 0;
    padding: 10px 38px 30px;
    display: none;
}

.back {
    color: #FFF;
    cursor: pointer;
    font-size: 13px;
}

    .back:hover {
        color: #6acaff;
    }

    .back i {
        margin-right: 8px;
    }

.forgot_form form {
    margin-bottom: 9px;
}


.ajs-ok {
    background: #a98a4e !important;
    color: #FFF !important;
}

.main_reset_sec {
    width: 100%;
    float: left;
    padding: 20px;
}

    .main_reset_sec h2 {
        text-align: center;
        margin-bottom: 18px;
    }

.txt_sec {
    width: 100%;
    height: 36px;
    float: left;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    padding: 0px 10px;
    border: 1px solid #cecece;
}

.txt_sec {
    width: 100%;
    height: 36px;
    float: left;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    padding: 0px 10px;
    border: 1px solid #cecece;
}

.reset_btn {
    width: 100%;
    height: 36px;
    border: none;
    background: #02686b;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #FFF;
    cursor: pointer;
    transition: all linear 0.15s;
}

.loadrst {
    width: 100%;
    float: left;
    position: relative;
    display: none;
}

.load_reset {
    width: 100%;
    height: 36px;
    border: none;
    background: #9db84b;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #FFF;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 9;
    text-align: center;
    line-height: 37px;
}

.reset_mid {
    width: 400px;
    margin: auto;
    padding: 50px 0px;
}
