<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Khartoum TkT</title>
  <link rel="shortcut icon" href="website-informations/favicon/favi.png" type="image/png">
  <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/media-ltr.css" id="mediaid">
<link rel="stylesheet" type="text/css" href="assets/css/style-ltr.css"id="styleid" >
<link href="assets/css/custom.css" rel="stylesheet" type="text/css">  
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap"
    rel="stylesheet">
  <link href="/assets/plugins/font-awesome/font-awesome.min.css?v=201905200000" rel="stylesheet">
  <link href="assets/pluggins/alertifyJs/alertify.min.css?v=1034" rel="stylesheet" />
  <link href="assets/pluggins/alertifyJs/default.min.css?v=1034" rel="stylesheet" />
  <link href="/assets/css/vue-loading.css" rel="stylesheet">
<style>
  [v-cloak] {
      display: none !important;
  }
</style>
  </head>
<body>
  <header>
    <headeritem></headeritem>
</header>
<div id="homeVue" v-cloak>
   <section class="main_banner p-0" :style="'background:url('+mainData.Background_Image_1920x803px + ') no-repeat;'">
    <div class="vld-parent">
      <loading :active.sync="isLoading" :can-cancel="false" :is-full-page="fullPage"></loading>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 hidden-xs">
          <h1><span>{{mainData.Heading1}}</span><br> {{mainData.Heading2}}</h1>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="login_div">
            <h2>{{mainData.Agency_Login_Label}}</h2>

            <div class="login-form">
              <form>
                <div class="sec">
                  <label>{{mainData.Agency_code_Label}}</label>
                  <input name="agnecy-code" id="txtAgencyCode" class="form-control" type="text"
                    :placeholder="mainData.Agency_code__Placeholder">
                </div>
                <div class="sec">
                  <label>{{mainData.Username_Label}}</label>
                  <input name="username" id="txtUname" class="form-control" type="text" :placeholder="mainData.Username_Placeholder">
                </div>
                <div class="sec">
                  <label>{{mainData.Password_Label}}</label>
                  <input name="password" id="txtPwd" class="form-control" type="password" :placeholder="mainData.Password_Placeholder">
                </div>
                <div class="sec text-center">
                  <a class="forgot">{{mainData.Forgot_Password_Label}}</a>
                </div>
                <div class="sec text-center">
                  <button class="login_btn"@click.prevent="login()" >{{mainData.Login_Button_Label}}</button>
                  <div id="loginLoader" class="btn_load" style="display:none;"><i class="fa fa-spinner fa-spin"></i>
                  </div>
                </div>
              
            </div>
          </form>
            <div class="forgot_form">
              <form>
                <div class="sec">
                  <label>{{mainData.Agency_code_Label}}</label>
                  <input type="text" class="form-control" id="txtAgency" :placeholder="mainData.Agency_code__Placeholder">
                </div>
                <div class="sec">
                  <label>{{mainData.Email_Id_Label}}</label>
                  <input type="text" class="form-control" id="txtEmail" :placeholder="mainData.Email_Id_Placeholder">
                </div>
                <div class="sec log-btn  text-center">
                  <button class="btn login_btn" id="btnForgot"@click.prevent="forgot()">{{mainData.Send_Button_Label}}</button>
                  <div id="loderForgot" class="btn_load" style="display:none"><i class="fa fa-spinner fa-spin"></i>
                  </div>
                </div>
                <div class="sec  text-center mp-padding">
                  <a class="forgot back"><i class="fa fa-arrow-left" aria-hidden="true"></i>{{mainData.Back_To_Login_Label}}</a>
                </div>
              </form>

            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</div>
  <footer>
    <footeritem></footeritem>
   </footer>
   <script src="/assets/js/vue.min.js?v=202002060000"></script>
  <script src="/assets/js/vue-i18n.js?v=201912240000"></script>
 
  <script src="/assets/js/vue-loading-overlay@3.min.js"></script>
  <script>
    Vue.use(VueLoading);
    Vue.component('loading', VueLoading)
</script>
  <script src="/assets/js/axios.min.js?v=201912240000"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/assets/js/modernizr-2.7.2.js?v=202009070000"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js?v=1034"></script>
  <script src="assets/pluggins/moment/moment.min.js"></script>
  <script src="assets/js/jquery.cookie.js?v=1034"></script>
  <script src="/assets/js/vue-loading-overlay@3.min.js"></script>
<script>
  Vue.use(VueLoading);
  Vue.component('loading', VueLoading)
</script>
  <script src="https://cdn.jsdelivr.net/npm/alertifyjs@1.11.1/build/alertify.min.js?v=1034"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="website-informations/agencyInformations/AgencyInformation.js?v=1034"></script>
  <script src="/Resources/HubUrls/HubServiceUrls.js?v=202008060000"></script>
  <script src="/CommonFuntions/CommonFunctions.js?v=202008240000"></script>
  <script src="/CommonFuntions/ExtentionMethods.js?v=201905200000"></script>
  <script src="/Login/LoginComponents/js/login.js?v=202007160000"></script>
  <script src="master/index.js"></script>
  <script src="master/master.js"></script>
  <script src="assets/js/custom.js?v=201905200000"></script>
</body>

</html>