<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Khartoum TkT - Terms of Use</title>
<link rel="shortcut icon" href="website-informations/favicon/favi.png" type="image/png">
<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap" rel="stylesheet"> 
<link href="/assets/plugins/font-awesome/font-awesome.min.css?v=201905200000" rel="stylesheet">
<link href="assets/pluggins/alertifyJs/alertify.min.css?v=1034" rel="stylesheet" />
<link href="assets/pluggins/alertifyJs/default.min.css?v=1034" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="assets/css/media-ltr.css" id="mediaid">
<link rel="stylesheet" type="text/css" href="assets/css/style-ltr.css"id="styleid" >
<link rel="stylesheet" type="text/css" href="assets/css/custom.css" >
<link href="/assets/css/vue-loading.css"  rel="stylesheet" type="text/css">
<style>
  [v-cloak] {
    display: none;
  }
</style> 
</head>

<body>
  <header>
    <headeritem></headeritem>
  </header>
<div id="Terms" v-cloak>
  <div class="vld-parent">
    <loading :active.sync="isLoading" :can-cancel="false" :is-full-page="fullPage"></loading>
  </div>
<section class="inner_banner" :style="'background:url('+bannerArea.Background_Image_1920x325px_+') no-repeat;'">
  </section>
  <div class="breadcrumbs1_wrapper">
    <div class="container">
      <div class="breadcrumbs1"><a href="index.html">{{bannerArea.Home_Label}}</a><span>/</span>{{bannerArea.Terms_And_Condition_Title}}</div>
    </div>
  </div>
    <div class="container">
      <div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 title text-center">
    <br>
    <h2>{{bannerArea.Heading1}} <span>{{bannerArea.Heading2}}</span></h2></div></div></div>
<section class="privacy-content">
  <div class="container" v-for="Term in Terms.Terms_And_Conditions_List">
      <h4>{{Term.Heading}}</h4>
      <p v-html="Term.Description"></p>
  </div>
</section>
</div>
<footer>
  <footeritem></footeritem>
</footer>
<script src="/assets/js/vue.min.js?v=202002060000"></script>
<script src="/assets/js/vue-i18n.js?v=201912240000"></script>
<script src="/assets/js/axios.min.js?v=201912240000"></script>
<script src="assets/js/jquery.min.js"></script> 
<script src="/assets/js/vue-loading-overlay@3.min.js"></script>
<script>
  Vue.use(VueLoading);
  Vue.component('loading', VueLoading)
</script>
<script src="assets/js/bootstrap.min.js"></script> 
<script src="assets/js/custom.js?v=201905200000"></script>
<script src="/assets/plugins/moment/moment.min.js?v=201907220000"></script>
<script src="assets/js/jquery.cookie.js?v=1034"></script>
<script src="assets/pluggins/alertifyJs/alertify.min.js"></script>
<script src="/Resources/HubUrls/HubServiceUrls.js?v=202008060000"></script>
<script src="/CommonFuntions/CommonFunctions.js?v=202008240000"></script>
<script src="/CommonFuntions/ExtentionMethods.js?v=201905200000"></script>
<script src="servicejs/terms.js"></script>
<script src="master/master.js"></script>

 </body>
</html>