<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="apple-touch-icon" href="#" />
    <link rel="shortcut icon" href="#" />
    <!-- Place favicon.ico in the root directory -->
    <meta name="theme-color" content="#fafafa" />

    <link rel="stylesheet" type="text/css" href="/assets/plugins/bootstrap/bootstrap.min.css?v=201905200000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/font-awesome/font-awesome.min.css?v=201905200000" />
    <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css?v=202009021530" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/calendar/jquery-ui.css?v=201905260000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/alertifyJs/alertify.min.css?v=201909230000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/alertifyJs/default.min.css?v=201905200000" />
    <link rel="stylesheet" type="text/css" href="/Hotels/HotelComponents/assets/css/hotel.css?v=202005040000" />
    <link rel="stylesheet" type="text/css" href="/assets/css/Style.css?v=2019100400000" />
    <link rel="stylesheet" href="/assets/plugins/IntlInput/intlTelInput.css?v=201905200000">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/css/flag-icon.min.css">
    <link href="/assets/css/breaking-news-ticker.min.css?v=201910040000" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/assets/plugins/primevue/css/theme.css?v=202005050000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/primevue/css/primevue.min.css?v=202005050000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/primevue/css/primeicons.css?v=202005050000" />
    <link rel="stylesheet" type="text/css" href="/assets/css/summernote.css?v=202005050000" />

    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <!--[if IE]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->
    <section id="master_vue_element" class="wrapper">
        <!---------Main Header area------------>
        <header>
            <master-header></master-header>
        </header>
        <div class="main_cont_area">
            <master-sidebar></master-sidebar>
            <hotel-pax-component inline-template>
                <div>
                    <div class="traveller_banner-hotel" style="margin-bottom: 20px;" v-cloak>
                        <div class="container">
                            <div class="row">
                                <div class="banner_txt">
                                    <h1><span>{{"Booking"}} </span>{{"Confirmation"}} </h1>
                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-cloak class="container paddingtopbottom20">
                        <!-------fare details area----------->
                        <div class="fare_details_area">
                            <div class="summary_duru">
                                <div class="main-head">
                                    <h4>{{$t('Hotel_Pax.HotelDetailsHeader_Label')}}</h4>
                                </div>
                                <div class="box-content">
                                    <div class="hotel_details_area">
                                        <h3 id="divhotelname">{{hotelData.name}}</h3>
                                        <div class="hotel_star">
                                            <i class="fa" :class="parseInt(hotelData.starRating)>itemStar?'fa-star':'fa-star-o'" aria-hidden="true" v-for="(itemStar, index) in 5" :key="index"></i>
                                        </div>
                                        <p id="hotAddress"><b>{{$t('Hotel_Pax.Address_Label')}}:&nbsp;</b>{{decodeURI(hotelData.location.address)}}</p>
                                        <div class="hotel_pic"><img :src="hotelData.imageUrl" alt="hotelData.name" @error="imgUrlAlt"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="summary_duru">
                                <div class="main-head">
                                    <h4>{{$t('Hotel_Pax.RoomChargesHeader_Label')}}</h4>
                                </div>
                                <div class="brdr_srv">
                                    <div class="box-rooms_dates">
                                        <h4>{{$t('Hotel_Pax.StayFor_Label')}} {{hotelData.searchCriteria.numberOfNights}} {{hotelData.searchCriteria.numberOfNights>1?$t('Hotel_Pax.Nights2_Label'):$t('Hotel_Pax.Nights1_Label')}}</h4>
                                        <div class="row_sec">
                                            <div class="col-xs-6 no_padding">
                                                <div class="hotel_calender">{{searchDates.cin}}</div>
                                            </div>
                                            <div class="col-xs-6 no_padding">
                                                <div class="hotel_calender">{{searchDates.cout}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Room details bind-->
                                    <div class="hotel_result" v-for="(rooms, index) in hotelData.selectedRooms.data" :key="index">
                                        <i class="fa fa-bed" aria-hidden="true"></i> {{$t('Hotel_Pax.RoomHeader_Label')}} {{index+1}}: {{rooms.room.guests.adult}} {{rooms.room.guests.adult>1?$t('Hotel_Pax.Adult2_Label'):$t('Hotel_Pax.Adult1_Label')}} {{rooms.room.guests.children?
                                        ', ' + rooms.room.guests.children.length + ' '+ (rooms.room.guests.children.length>1?$t('Hotel_Pax.Child2_Label'):$t('Hotel_Pax.Child1_Label')):''}}
                                    </div>
                                </div>
                                <div class="service_fee">
                                    <!--<div class="service_fee5">
                                </div>-->
                                    <div class="trip_total" style="display:none">
                                        <div class="col-md-12 col-sm-12 col-xs-12 coupon">
                                            <input type="text" id="couponCode" placeholder="Coupon code">
                                            <button onclick="applyCouponCode()">APPLY</button>
                                        </div>
                                    </div>
                                    <div class="trip_total" style="display:none">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-left" style="font-weight: 400; font-size: 15px;">Amount</div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right" style="font-weight: 400; font-size: 15px;"><span>AED 406.00</span></div>
                                        <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left"><i class="fa fa-exclamation-circle price" aria-hidden="true"></i>Prices do not include city tax </div>-->
                                    </div>
                                    <div class="trip_total" style="display:none">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-left" style="font-weight: 400; font-size: 15px;">Coupon Discount</div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right" style="font-weight: 400; font-size: 15px;"><span>AED 0.00</span></div>
                                    </div>
                                    <div class="trip_total">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-left">{{$t('Hotel_Pax.TotalAmount_Label')}}</div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right"><span>{{$n(currentTotalCost/commonStore.currencyMultiplier, 'currency', commonStore.selectedCurrency)}}</span></div>

                                    </div>
                                </div>
                            </div>
                            <!--<div class="common-box">
                    <div class="main-head blue-bg box-head">
                        <h4 class="white-color-text semibold size14 inline-block"><i class="fa fa-credit-card vaucher_code" aria-hidden="true"></i>Enter vaucher code</h4>
                    </div>
                    <div class="box-content">
                        <input type="text" class="vaucher_enter_area">
                    </div>
                </div>-->
                            <div class="summary_duru" style="display: none;">
                                <div class="main-head">
                                    <h4><i class="fa fa-question-circle" aria-hidden="true" style="margin-right: 7px;"></i>Need help ?</h4>
                                </div>
                                <div class="need_help_head_sec">
                                    <p>Got any questions or need some help?</p>
                                    <p>Our team is avalble 24/7.</p>
                                    <div class="help_number" id="help_number">
                                        <i class="fa fa-phone-square" aria-hidden="true"></i> 79879879879879
                                    </div>
                                    <div class="help_email">
                                        <i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:itsolutionsoneview@gmail.com" id="help_email">itsolutionsoneview@gmail.com</a>
                                    </div>
                                </div>
                            </div>
                            <div class="summary_duru" style="margin-bottom: 0px;display: none;">
                                <div class="main-head">
                                    <h4>Available Credit Limit <span class="refresh_crdit"><i title="Refresh" onclick="bindCreditLimit()" class="fa fa-refresh"></i></span></h4>
                                </div>
                                <div class="summary_details_sec"></div>
                                <div class="box-content" style="position:relative;">
                                    <div class="cre-amount">
                                        <div class="filter-Progress resultprogress_load animated-background"></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-------fare details area close----------->
                        <!-----------Travellers details-------------->
                        <div class="traveller_details">
                            <div>
                                <div class="summary_duru FormTravellerInfoBox" v-if="!hotelData.selectedRooms.isOptional">
                                    <div class="main-head ">
                                        <h4>{{$t('Hotel_Pax.HotelInformationHeader_Label')}}</h4>
                                    </div>
                                    <div class="box-content">
                                        <div class="hotel_paymet_guest">
                                            <div class="fee_description">
                                                <div>
                                                    <h1 class="bundle_header">{{$t('Hotel_Pax.CancellationPolicy_Label')}}</h1>
                                                    <div v-for="(cancellation, index) in parseCancellationPolicy(hotelData.selectedRooms.data[0].room.rates[0].cancellationPolicies)" :key="index" v-html="cancellation"></div>
                                                    <div style="padding:0 0 10px 10px;font-size:12px;font-style:italic;">*{{$t('Hotel_Pax.CancellationNotes_Label')}}</div>
                                                </div>
                                                <div v-if="hotelData.hotelPolicies">
                                                    <!-- <h1 class="bundle_header">Important hotel information</h1> -->
                                                    <div style="padding:0 0 10px 10px;font-size: 13px;" v-html="hotelData.hotelPolicies"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="summary_duru FormTravellerInfoBox" v-if="hotelData.selectedRooms.isOptional&&hotelData.hotelPolicies!=''">
                                    <div class="main-head ">
                                        <h4>{{$t('Hotel_Pax.HotelInformationHeader_Label')}}</h4>
                                    </div>
                                    <div class="box-content">
                                        <div class="hotel_paymet_guest">
                                            <div class="fee_description">
                                                <div v-if="hotelData.hotelPolicies">
                                                    <!-- <h1 class="bundle_header">Important hotel information</h1> -->
                                                    <div style="padding:0 0 10px 0;font-size: 13px;" v-html="hotelData.hotelPolicies"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="summary_duru FormTravellerInfoBox" v-if="hotelData.hotelNorms.length>0||(hotelData.selectedRooms.data[0].room.rates[0].roomRateSpecific&&hotelData.selectedRooms.data[0].room.rates[0].roomRateSpecific.roomRateReferences&&hotelData.selectedRooms.data[0].room.rates[0].roomRateSpecific.roomRateReferences.hotelNorms)">
                                    <div class="main-head ">
                                        <h4>{{$t('Hotel_Pax.HotelNormsHeader_Label')}}</h4>
                                    </div>
                                    <div class="box-content">
                                        <div class="hotel_paymet_guest">
                                            <div class="fee_description">
                                                <div>
                                                    <!-- <h1 class="bundle_header">Important hotel information</h1> -->
                                                    <h4 v-if="hotelData.hotelNorms.length>0"  v-for="(hotelNorms, index) in hotelData.hotelNorms" :key="index" v-html="hotelNorms.replace('<![CDATA[', '').replace(']]>', '')"></h4>
                                                    <h4 v-if="hotelNormsCompare==true" v-html="hotelData.selectedRooms.data[0].room.rates[0].roomRateSpecific.roomRateReferences.hotelNorms.replace('<![CDATA[', '').replace(']]>', '')"></h4>
                                                    <div v-if="hotelNormsCompare==false" v-for="(hotelNorms, index) in hotelData.selectedRooms.data" :key="index">
                                                        <h4 v-html="(hotelData.selectedRooms.data.length>1?'Room '+(index+1)+':<br>':'')+hotelNorms.room.rates[0].roomRateSpecific.roomRateReferences.hotelNorms.replace('<![CDATA[', '').replace(']]>', '')"></h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="summary_duru FormTravellerInfoBox" v-for="(item, index) in paxDetails.pax" :key="index">
                                    <div class="main-head ">
                                        <h4>{{$t('Hotel_Pax.RoomHeader_Label')}} {{index+1}}</h4>
                                    </div>
                                    <div class="box-content">
                                        <div class="hotel_paymet_guest">
                                            <div class="itinerary_head">
                                                <h2 v-html="hotelData.selectedRooms.data[index].room.roomName + ' ' + '(' + hotelData.selectedRooms.data[index].room.rates[0].boards[0].value.charAt(0).toUpperCase() + _.unescape(hotelData.selectedRooms.data[index].room.rates[0].boards[0].value.slice(1).toLowerCase()) + ')'"></h2>
                                            </div>
                                            <div class="fee_description">
                                                <ul v-if="hotelData.selectedRooms.isOptional">
                                                    <h1 style="padding:10px 0 0 10px;color:#29a0ff">{{$t('Hotel_Pax.CancellationPolicy_Label')}}</h1>
                                                    <div v-for="(cancellation, index) in parseCancellationPolicy(hotelData.selectedRooms.data[index].room.rates[0].cancellationPolicies,  hotelData.updatedRate)" :key="index" v-html="cancellation"></div>
                                                    <div style="padding:0 0 10px 10px;font-size:12px;font-style:italic;">*{{$t('Hotel_Pax.CancellationNotes_Label')}}</div>
                                                </ul>
                                            </div>
                                            <div class="hotel_guest_room">{{$t('Hotel_Pax.GuestNotes_Label')}}</div>
                                            <div class="row_sec FormTraveller" v-for="(pax, gIndex) in item.paxPerRoom" :key="gIndex">
                                                <div class="col-lg-2 col-md-2 col-sm-2 padding_8"><label style="text-transform: capitalize">{{$t('Hotel_Pax.'+pax.label)+' '+(pax.age?' '+gIndex+(' (&lrm;'+$t('Hotel_Pax.Age_Label')+' '+pax.age+')'):(gIndex>0?gIndex+1:''))}}&lrm;:</label></div>
                                                <div class="col-lg-2 col-md-2 col-sm-2 padding_8" v-if="pax.type=='Adult'">
                                                    <select class="cont_txt valPassData" name="title" v-model.lazy="pax.title">
                            <option value="Mr">{{$t('Hotel_Pax.AdultsTitle_Label[0]')}}</option>
                            <option value="Mrs">{{$t('Hotel_Pax.AdultsTitle_Label[1]')}}</option>
                            <option value="Ms">{{$t('Hotel_Pax.AdultsTitle_Label[2]')}}</option>
                            </select>
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-sm-2 padding_8" v-else-if="pax.type=='Child'">
                                                    <select class="cont_txt valPassData" name="title" v-model.lazy="pax.title">
                            <option value="Master">{{$t('Hotel_Pax.ChildTitle_Label[0]')}}</option>
                            <option value="Miss">{{$t('Hotel_Pax.ChildTitle_Label[1]')}}</option>
                            </select>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 padding_8">
                                                    <input v-if="hotelData.supplierCode=='29'" type="text" :id="'firstName'+index+gIndex" :name="'firstName'+index+gIndex" :placeholder="$t('Hotel_Pax.FirstName_Placeholder')" v-model="pax.name" :data-vv-as="$t('Hotel_Pax.FirstName_Placeholder')" class="cont_txt01 ValTravellerName valPassData Alphabetsonly"
                                                        :class="{'error': errors.has('firstName'+index+gIndex) }" v-validate="'required|alpha|min:2|max:25'">
                                                    <input v-else type="text" :id="'firstName'+index+gIndex" :name="'firstName'+index+gIndex" :placeholder="$t('Hotel_Pax.FirstName_Placeholder')" v-model="pax.name" :data-vv-as="$t('Hotel_Pax.FirstName_Placeholder')" class="cont_txt01 ValTravellerName valPassData Alphabetsonly"
                                                        :class="{'error': errors.has('firstName'+index+gIndex) }" v-validate="'required|alpha_spaces'">
                                                    <span class="text-danger error-text">{{ errors.first('firstName'+index+gIndex) }}</span>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 padding_8">
                                                    <input v-if="hotelData.supplierCode=='29'" type="text" :id="'lastName'+index+gIndex" :name="'lastName'+index+gIndex" :placeholder="$t('Hotel_Pax.LastName_Placeholder')" v-model="pax.surName" :data-vv-as="$t('Hotel_Pax.LastName_Placeholder')" class="cont_txt01 ValTravellerName valPassData Alphabetsonly"
                                                        :class="{'error': errors.has('lastName'+index+gIndex) }" v-validate="'required|alpha|min:2|max:25'">
                                                    <input v-else type="text" :id="'lastName'+index+gIndex" :name="'lastName'+index+gIndex" :placeholder="$t('Hotel_Pax.LastName_Placeholder')" v-model="pax.surName" :data-vv-as="$t('Hotel_Pax.LastName_Placeholder')" class="cont_txt01 ValTravellerName valPassData Alphabetsonly"
                                                        :class="{'error': errors.has('lastName'+index+gIndex) }" v-validate="'required|alpha_spaces'">
                                                    <span class="text-danger error-text">{{ errors.first('lastName'+index+gIndex) }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="summary_duru">
                                    <div class="main-head">
                                        <h4>{{$t('Hotel_Pax.ContactDetailsHeader_Label')}}</h4>
                                        <div class="required_field_dis">*{{$t('Hotel_Pax.RequiredField_Label')}}</div>
                                    </div>
                                    <div class="box-content">
                                        <div class="contact_details">
                                            <div class="contact_form_sec">
                                                <div class="row_sec">
                                                    <div class="col-lg-2 col-md-2 col-sm-2 padding_8"><label>{{$t('Hotel_Pax.FullName_Label')}}*</label></div>
                                                    <div class="col-lg-2 col-md-2 col-sm-2 padding_8">
                                                        <select class="cont_txt valPassData" v-model.lazy="paxDetails.contactDetails.title">
                                <option value="Mr">{{$t('Hotel_Pax.AdultsTitle_Label[0]')}}</option>
                                <option value="Mrs">{{$t('Hotel_Pax.AdultsTitle_Label[1]')}}</option>
                                <option value="Ms">{{$t('Hotel_Pax.AdultsTitle_Label[2]')}}</option>
                            </select>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4 padding_8">
                                                        <input type="text" id="firstNameMain" name="firstNameMain" :placeholder="$t('Hotel_Pax.FirstName_Placeholder')" v-model="paxDetails.contactDetails.firstName" :data-vv-as="$t('Hotel_Pax.FirstName_Placeholder')" class="cont_txt01 valPassData  Alphabetsonly"
                                                            :class="{'error': errors.has('firstNameMain') }" v-validate="'required|alpha_spaces'">
                                                        <span class="text-danger error-text">{{ errors.first('firstNameMain') }}</span>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4 padding_8">
                                                        <input type="text" id="lastNameMain" name="lastNameMain" :placeholder="$t('Hotel_Pax.LastName_Placeholder')" v-model="paxDetails.contactDetails.lastName" :data-vv-as="$t('Hotel_Pax.LastName_Placeholder')" class="cont_txt01 valPassData  Alphabetsonly"
                                                            :class="{'error': errors.has('lastNameMain') }" v-validate="'required|alpha_spaces'">
                                                        <span class="text-danger error-text">{{ errors.first('lastNameMain') }}</span>
                                                    </div>
                                                </div>
                                                <div class="row_sec">
                                                    <div class="col-lg-2 col-md-2 col-sm-2 padding_8"><label>{{$t('Hotel_Pax.Email_Label')}}*</label></div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4 padding_8">
                                                        <input type="text" id="emaiMain" name="Email" :data-vv-as="$t('Hotel_Pax.Email_Placeholder')" :placeholder="$t('Hotel_Pax.Email_Placeholder')" v-model="paxDetails.contactDetails.emailID" class="cont_txt01" :class="{'error': errors.has('email') }" v-validate="'required|email'">
                                                        <span v-show="errors.has('Email')" class="text-danger error-text">{{ errors.first('Email') }}</span>
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-sm-2 padding_8"><label>{{$t('Hotel_Pax.ContactNumber_Label')}}*</label></div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4 padding_8">
                                                        <div>
                                                            <input id="phone" name="phone" pattern="[0-9]" type="tel" :data-vv-as="$t('Hotel_Pax.ContactNumber_Placeholder')" :placeholder="$t('Hotel_Pax.ContactNumber_Placeholder')" v-model="paxDetails.contactDetails.phoneNumber" class="cont_txt01 txtPhoneNumber"
                                                                :class="{'error': errors.has('phone') }" v-validate="'required|numeric|max:15'">
                                                            <span v-show="errors.has('phone')" class="text-danger error-text">{{ errors.first('phone') }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="summary_duru">
                                <div class="main-head">
                                    <h4>{{$t('Hotel_Pax.PaymentMethodHeader_Label')}}</h4>
                                </div>
                                <div class="box-content">
                                    <div class="contact_details">
                                        <div class="contact_form_sec">
                                            <div class="row_sec">
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 padding_8">
                                                    <div class="classsec_area">
                                                        <input type="radio" id="credit" value="7" v-model="paymentMethod">
                                                        <label for="credit">{{$t('Hotel_Pax.Credit_Label')}}</label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 padding_8" v-if="showPaymentGatewayButton">
                                                    <div class="classsec_area">
                                                        <input type="radio" id="patmentGateway" value="6" v-model="paymentMethod" :disabled="commonStore.commonRoles.hasHotelPaymentGateway!=true||hasHotelPaymentGatewayCredential!=true">
                                                        <label for="patmentGateway" :style="commonStore.commonRoles.hasHotelPaymentGateway&&hasHotelPaymentGatewayCredential?'':'cursor:not-allowed;text-decoration:line-through;'">{{$t('Hotel_Pax.PaymentGateway_Label')}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="btm_cont_sec">
                                <div class="privacy_check">
                                    <input v-model="ppAndTcAccepted" name="terms" v-validate="'ppandtc'" :class="{'error': errors.has('terms') }" type="checkbox" class="shastops">
                                    <label for="web" class="formsfont">{{$t('Hotel_Pax.TermsAndPolicy1_Label')}}
                    <a data-toggle="modal" data-target="#Privacy_Policy">{{$t('Hotel_Pax.TermsAndPolicy2_Label')}}</a> {{$t('Hotel_Pax.TermsAndPolicy3_Label')}}
                    <a data-toggle="modal" data-target="#Terms_conditions">{{$t('Hotel_Pax.TermsAndPolicy4_Label')}}</a>
                    {{$t('Hotel_Pax.TermsAndPolicy5_Label')}}</label>
                                    <label  v-if="commonStore.hotels.expediaAdditionaInfo&&commonStore.hotels.expediaAdditionaInfo.length>0&&commonStore.hotels.expediaAdditionaInfo[0].termsAndConditions.show" for="web" class="formsfont"> {{$t('Hotel_Pax.TermsAndPolicy1_Label')}} 
                                        <a :href="commonStore.hotels.expediaAdditionaInfo&&commonStore.hotels.expediaAdditionaInfo[0].termsAndConditions.data" target="_blank">supplier terms & conditions.</a>
                                    </label>
                                    
                                    <!-- <span v-show="errors.has('terms')" class="text-danger error-text">{{ errors.first('terms') }}</span> -->

                                </div>
                                <div class="btm_sec">
                                    <div @click="bookNow" class="pay_now">{{paymentMethod == 7 ? $t('Hotel_Pax.ConfirmBookingBtn_Label'):$t('Hotel_Pax.ProceedToPaymentBtn_Label') }}
                                        <i v-if="bookNowIsClicked" class="fa fa-spinner fa-spin"></i>
                                    </div>
                                </div>
                            </div>
                            <!-----------Travellers details close-------------->

                            <!------Privacypolicy Popup open------->
                            <div class="modal fade" role="dialog" id="Privacy_Policy">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">×</button>
                                            <h4 class="modal-title" style="text-transform: capitalize">{{$t('Hotel_Pax.TermsAndPolicy2_Label')}}</h4>
                                        </div>
                                        <div class="modal-body" v-html="privacyPolicy"></div>
                                    </div>
                                </div>
                            </div>
                            <!------Privacypolicy Popup close------->
                            <!------Terms and conditions Popup open------->
                            <div class="modal fade" role="dialog" id="Terms_conditions">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">×</button>
                                            <h4 class="modal-title" style="text-transform: capitalize">{{$t('Hotel_Pax.TermsAndPolicy4_Label')}}</h4>
                                        </div>
                                        <div class="modal-body" v-html="termsAndConditions"></div>
                                    </div>
                                </div>
                            </div>
                            <!------Terms and conditions Popup close------->
                            <!------info Popup open------->
                            <div class="modal fade" id="bookInfoModal" role="dialog">
                                <div class="modal-dialog pax-confirm">
                                    <!-- Modal content-->
                                    <div class="modal-content" style="border-radius: 0 !important;">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">×</button>
                                            <h4 class="modal-title">{{$t('Hotel_Pax.PleaseNote_Label')}}</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="instruction_sec">
                                                <div>
                                                    <h3 style="text-align:center;">{{priceHasChanged?$t('Hotel_Pax.PriceChange_Label'):$t('Hotel_Pax.FinalBookingPrice_Label')}}: {{$n(hotelData.updatedRate/commonStore.currencyMultiplier, 'currency', commonStore.selectedCurrency)}}</h3>
                                                </div>
                                                <div v-if="priceHasChanged">
                                                    <div>
                                                        <h1>{{$t('Hotel_Pax.CancellationPolicy_Label')}}</h1>
                                                        <div v-for="(item, index) in updatedCancellationPolicy" :key="index">
                                                            <p v-if="updatedCancellationPolicy.length!=1">
                                                                <b>{{$t('Hotel_Pax.RoomHeader_Label')}} {{index+ 1}}</b>
                                                            </p>
                                                            <div v-for="(cancellation, index1) in item" :key="index1" v-html="cancellation"></div>
                                                        </div>
                                                        <div style="padding:0 0 15px 0;font-size:12px;font-style:italic;">*{{$t('Hotel_Pax.CancellationNotes_Label')}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="text-center">
                                                <button type="button" class="btn btn-danger" @click="backToSearchPage">{{$t('Hotel_Pax.BackToSearchBtn_Label')}}</button>
                                                <button type="button" class="btn btn-success" @click="proceedBooking">{{$t('Hotel_Pax.ContinueBtn_Label')}}
                            <i v-if="proceedBookingIsClicked" class="fa fa-spinner fa-spin"></i>
                        </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!------info Popup close------->
                        </div>
                    </div>
                </div>
            </hotel-pax-component>
        </div>
        <div id="payformbind"></div>
        <!---------Main Footer area------------>
        <footer>
            <master-footer></master-footer>
        </footer>
    </section>

    </script>
    <!--js start-->
    <script src="/assets/js/modernizr.custom.js?v=201905200000"></script>
    <script src="/assets/js/jquery-3.3.1.min.js?v=201905200000"></script>
    <script src="/assets/js/jquery-news.min.js?v=201910290000"></script>
    <script src="/assets/js/jquery-migrate.min.js?v=201912240000"></script>
    <script src="/assets/plugins/calendar/jquery-ui.js?v=201905220000"></script>
    <script src="/assets/plugins/calendar/datepicker-i18n.js?v=201907220000"></script>
    <script src="/assets/js/bootstrap.min.js?v=201912240000"></script>
    <script src="/assets/plugins/moment/moment.min.js?v=201907220000"></script>
    <script src="/assets/js/axios.min.js?v=201912240000"></script>
    <script src="/assets/js/vue.min.js?v=202002060000"></script>
    <script src="/assets/js/vue-i18n.js?v=201912240000"></script>
    <script src="/assets/js/lodash.min.js?v=201912240000"></script>
    <script>var __ = _.noConflict(); </script>
    <script src="/assets/js/underscore-min.js?v=201912240000"></script>
    <script src="/assets/plugins/alertifyJs/alertify.min.js?v=201905200000"></script>
    <script src="/assets/plugins/IntlInput/intlTelInput.js?v=201905200000"></script>
    <script src="https://cdn.jsdelivr.net/npm/vee-validate@2.2.15/dist/vee-validate.js"></script>

    <script src="/assets/plugins/primevue/js/dialog.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/button.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/toolbar.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/inputtext.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/accordion.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/accordiontab.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/checkbox.umd.min.js?v=202005050000"></script>
    <script src="/assets/js/summernote.min.js?v=201912240000"></script>
    <script src="/Flights/assets/js/cabinclass.js"></script>
    <script src="/assets/js/jspdf.min.js?v=201912240000"></script>
    <script src="/Flights/FlightComponents/js/svgs.js?v=201907240000"></script>
    <script src="/assets/js/html2canvas.min.js?v=201909010000"></script>
    <script src="/Flights/assets/js/Airplanes.js"></script>
    <script src="/Flights/assets/js/Airlines.js"></script>
    <script src="/Flights/assets/js/UTCTime.js"></script>
    <script src="/Flights/FlightComponents/js/AirCommonServices.js?v=201907250000"></script>

    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202108070000"></script>
    <script src="/Resources/Config/config.js?v=202002170000"></script>
    <script src="/Login/LoginComponents/js/login.js?v=202007160000"></script>
    <script src="/CommonFuntions/ExtentionMethods.js?v=201905200000"></script>
    <script src="/CommonFuntions/CommonFunctions.js?v=202009021530"></script>
    <script>
        Vue.use(VeeValidate, {
            classes: true,
            validity: true
        }); // good to go.
    </script>
    <script src="/CommonFuntions/pgWay.js?v=20210430000"></script>
    <script src="/Hotels/HotelComponents/assets/js/hotelpax.js?v=202108120000"></script>
    <script src="/CommonFuntions/MainComponents.js?v=202012180000"></script>
    <script src="/assets/js/highlight.pack.js?v=201910290000"></script>
    <!--js end-->



</body>

</html>