<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="apple-touch-icon" href="#" />
    <link rel="shortcut icon" href="#" />
    <!-- Place favicon.ico in the root directory -->
    <meta name="theme-color" content="#fafafa" />

    <link rel="stylesheet" type="text/css" href="/assets/plugins/bootstrap/bootstrap.min.css?v=201905200000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/font-awesome/font-awesome.min.css?v=201905200000" />
    <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css?v=202108100000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/calendar/jquery-ui.css?v=201905260000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/alertifyJs/alertify.min.css?v=201909230000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/alertifyJs/default.min.css?v=201905200000" />
    <link rel="stylesheet" type="text/css" href="/Hotels/HotelComponents/assets/css/hotel.css?v=202005040000" />
    <link rel="stylesheet" type="text/css" href="/assets/css/Style.css?v=2019100400000" />
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/css/flag-icon.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.css" />
    <link href="/assets/css/breaking-news-ticker.min.css?v=201910040000" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/assets/plugins/primevue/css/theme.css?v=202005050000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/primevue/css/primevue.min.css?v=202005050000" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/primevue/css/primeicons.css?v=202005050000" />
    <link rel="stylesheet" type="text/css" href="/assets/css/summernote.css?v=202005050000" />

    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <!--[if IE]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->
    <section id="master_vue_element" class="wrapper">
        <!---------Main Header area------------>
        <header>
            <master-header></master-header>
        </header>
        <div class="main_cont_area">
            <master-sidebar></master-sidebar>
            <hotel-confirmation-component inline-template>
                <div v-cloak class="container paddingtopbottom20">
                    <div class="search_area mainbooking_info">
                        <div class="col-lg-12 col-md-12">
                            <div class="trip_sec">
                                <h3>{{$t('Hotel_Confirmation.BookingInformation_Label')}}</h3>
                                <h4 v-if="isBookingCompleted">{{$t('Hotel_Confirmation.BookedOn_Label')}}
                                    {{header.bookingDate}}</h4>
                                <div class="trip_user_action">
                                    <h2>{{header.bookingStatus}}</h2>
                                    <div v-if="header.bookingStatusNote" class="warning_msg">
                                        <p >{{header.bookingStatusNote}}</p>
                                    </div>
                                    <div class="check_links" v-if="isBookingCompleted">
                                        {{header.bookingCancellationMessage}}</div>
                                        <div class="user_edit" v-if="isBookingCompleted">
                                        <a :style="button.showSpinnerHtml?'cursor:not-allowed;pointer-events:none':''" href="#" v-for="(button, index) in header.callToActionButtons.filter(function (btn) { return btn.show==true })" :id="button.id" :key="index" type="button" class="btn btn-default"
                                            :data-toggle="button.isModal?'modal':''" :data-target="button.dataTarget" @click.prevent="function(){button.action(button);}">{{button.showSpinnerHtml?'':$t('Hotel_Confirmation.'+button.label.split(' ').join('')+'Btn_Label')}}
                                            <div v-if="button.showSpinnerHtml" class="loader" v-html="spinnerHtml"></div>
                                        </a></div>

                                    <div id="fountainG" v-else>
                                        <div :id="'fountainG_'+(index+1)" class="fountainG" v-for="(item, index) in 7"
                                            :key="index"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="trip_sec">
                                <h3>{{$t('Hotel_Confirmation.BookingInformation_Label')}}</h3>
                                <div class="box-content">
                                    <div class="booking_info confirm-text">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-xs-6 sp53">
                                                        {{$t('Hotel_Confirmation.OurRefNo_Label')}}:</div>
                                                    <div class="col-xs-6 sp53 text-right">
                                                        <div v-if="!bookingInformation.referenceNumber" class="loader"
                                                            v-html="spinnerHtml"></div>
                                                        {{bookingInformation.referenceNumber}}
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="col-xs-6 sp53">
                                                        {{$t('Hotel_Confirmation.BookingDate_Label')}}:</div>
                                                    <div class="col-xs-6 sp53 text-right">
                                                        <div v-if="!bookingInformation.bookingDate" class="loader"
                                                            v-html="spinnerHtml"></div>
                                                        {{bookingInformation.bookingDate}}
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="col-xs-6 sp53">
                                                        {{$t('Hotel_Confirmation.Checkin_Label')}}:</div>
                                                    <div class="col-xs-6 sp53 text-right">
                                                        <div v-if="!bookingInformation.checkIn" class="loader"
                                                            v-html="spinnerHtml"></div>
                                                        {{bookingInformation.checkIn}}
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="col-xs-6 sp53">
                                                        {{$t('Hotel_Confirmation.CancellationDeadline_Label')}}:</div>
                                                    <div class="col-xs-6 sp53 text-right">
                                                        <div v-if="!bookingInformation.cancellationDeadline"
                                                            class="loader" v-html="spinnerHtml"></div>
                                                        {{bookingInformation.cancellationDeadline}}
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="col-xs-6 sp53">
                                                        {{$t('Hotel_Confirmation.Status_Label')}}:</div>
                                                    <div class="col-xs-6 sp53 text-right">
                                                        <div v-if="!bookingInformation.bookingStatus" class="loader"
                                                            v-html="spinnerHtml"></div>
                                                        {{bookingInformation.bookingStatus}}
                                                        <a
                                                            v-if="bookingInformation.bookingStatus&&commonStore.commonRoles.hasHotelStatusHistory">
                                                            <i data-open="0"
                                                                @click="getBookingHistory(bookingInformation.bookingStatusList)"
                                                                class="fa fa-plus-square" data-toggle="modal"
                                                                data-target="#statusHistory"
                                                                style="color :#ff5929;margin-left:10px;cursor:pointer"
                                                                aria-hidden="true"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="col-xs-6 sp53">
                                                        {{$t('Hotel_Confirmation.Nights_Label')}}:</div>
                                                    <div class="col-xs-6 sp53 text-right">
                                                        <div v-if="!bookingInformation.numberOfNights" class="loader"
                                                            v-html="spinnerHtml"></div>
                                                        {{bookingInformation.numberOfNights}}
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="col-xs-6 sp53">
                                                        {{$t('Hotel_Confirmation.Checkout_Label')}}:</div>
                                                    <div class="col-xs-6 sp53 text-right">
                                                        <div v-if="!bookingInformation.checkOut" class="loader"
                                                            v-html="spinnerHtml"></div>
                                                        {{bookingInformation.checkOut}}
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="col-xs-6 sp53">
                                                        {{$t('Hotel_Confirmation.TotalAmount_Label')}}:</div>
                                                    <div class="col-xs-6 sp53 text-right">
                                                        <div v-if="!bookingInformation.totalAmount" class="loader"
                                                            v-html="spinnerHtml"></div>
                                                        {{ bookingInformation.totalAmount?
                                                        $n(bookingInformation.totalAmount/commonStore.currencyMultiplier,
                                                        'currency', commonStore.selectedCurrency):''}}
                                                        <a
                                                            v-if="bookingInformation.totalAmount&&commonStore.commonRoles.hasHotelMarkupDetails">
                                                            <i data-open="0" @click="getPriceBreakUp"
                                                                class="fa fa-plus-square" data-toggle="modal"
                                                                data-target="#priceBreakup"
                                                                style="color :#ff5929;margin-left:10px;cursor:pointer"
                                                                aria-hidden="true"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 coupon-info"
                                                    v-if="bookingInformation.couponDiscount">
                                                    <div class="col-xs-6 sp53">
                                                        {{$t('Hotel_Confirmation.CouponDiscount_Label')}}:</div>
                                                    <div class="col-xs-6 sp53 text-right">
                                                        <div v-if="!bookingInformation.couponDiscount" class="loader"
                                                            v-html="spinnerHtml"></div>
                                                        {{ bookingInformation.couponDiscount?
                                                        $n(bookingInformation.couponDiscount/commonStore.currencyMultiplier,
                                                        'currency', commonStore.selectedCurrency):''}}
                                                    </div>
                                                </div>
                                                <div class="col-md-12 coupon-info"
                                                    v-if="bookingInformation.couponDiscount">
                                                    <div class="col-xs-6 sp53">
                                                        {{$t('Hotel_Confirmation.AmountPaid_Label')}}:</div>
                                                    <div class="col-xs-6 sp53 text-right">
                                                        <div v-if="!bookingInformation.amountPaid" class="loader"
                                                            v-html="spinnerHtml"></div>
                                                        {{ bookingInformation.amountPaid?
                                                        $n(bookingInformation.amountPaid/commonStore.currencyMultiplier,
                                                        'currency', commonStore.selectedCurrency):''}}
                                                    </div>
                                                </div>
                                                <div class="col-md-12" v-if="bookingInformation.paymentMethod">
                                                    <div class="col-xs-6 sp53" id="pg-stat-mobile">
                                                        {{$t('Hotel_Confirmation.PaymentMode_Label')}}:</div>
                                                    <div class="col-xs-6 sp53 text-right">
                                                        <div v-if="!bookingInformation.paymentMethod" class="loader"
                                                            v-html="spinnerHtml"></div>
                                                        {{bookingInformation.paymentMethod}}
                                                    </div>
                                                </div>
                                                <div class="col-md-12" v-if="bookingInformation.paymentStatus">
                                                    <div class="col-xs-6 sp53">
                                                        {{$t('Hotel_Confirmation.PaymentStatus_Label')}}:</div>
                                                    <div class="col-xs-6 sp53 text-right">
                                                        <div v-if="!bookingInformation.paymentStatus" class="loader"
                                                            v-html="spinnerHtml"></div>
                                                        {{bookingInformation.paymentStatus}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="trip_sec">
                                <h3>{{$t('Hotel_Confirmation.AccomodationDetails_Label')}}</h3>
                                <div class="box-content">
                                    <div class="booking_info confirm-text">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-sm-3 info_txt01">
                                                        {{$t('Hotel_Confirmation.Accomodation_Label')}}:</div>
                                                    <div class="col-sm-9 info_txt02">
                                                        <div v-if="!supplierInformation.hotelName" class="loader"
                                                            v-html="spinnerHtml"></div>
                                                        {{supplierInformation.hotelName}}
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="col-sm-3 info_txt01">
                                                        {{$t('Hotel_Confirmation.Address_Label')}}:</div>
                                                    <div class="col-sm-9 info_txt02">
                                                        <div v-if="!supplierInformation.hotelAddress" class="loader"
                                                            v-html="spinnerHtml"></div>
                                                        {{supplierInformation.hotelAddress}}
                                                    </div>
                                                </div>
                                                <div class="col-md-12" v-if="commonStore.commonRoles.hasHotelSupplier">
                                                    <div class="col-sm-3 info_txt01">
                                                        {{$t('Hotel_Confirmation.SupplierName_Label')}}:</div>
                                                    <div class="col-sm-9 info_txt02">
                                                        <div v-if="!supplierInformation.supplierName" class="loader"
                                                            v-html="spinnerHtml"></div>
                                                        {{supplierInformation.supplierName}}
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="col-sm-3 info_txt01">
                                                        {{$t('Hotel_Confirmation.BookingID_Label')}}:</div>
                                                    <div class="col-sm-9 info_txt02">
                                                        <div v-if="!supplierInformation.supplierReferenceNumber"
                                                            class="loader" v-html="spinnerHtml"></div>
                                                        {{supplierInformation.supplierReferenceNumber}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12">
                            <div class="trip_sec">
                                <h3>{{$t('Hotel_Confirmation.Services_Label')}}</h3>
                                <div class="box-content" v-if="isBookingCompleted">
                                    <div class="booking_info">
                                        <div class="col-md-12">
                                        </div>
                                        <div class="hotel_table table-responsive">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th class="sp_table">
                                                            {{$t('Hotel_Confirmation.RoomsHeader_Label')}}</th>
                                                        <th class="sp_table">
                                                            {{$t('Hotel_Confirmation.AdultsHeader_Label')}}</th>
                                                        <th class="sp_table">
                                                            {{$t('Hotel_Confirmation.ChildrenHeader_Label')}}</th>
                                                        <th class="sp_table">
                                                            {{$t('Hotel_Confirmation.PaxNameHeader_Label')}}</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="(item, index) in roomDetails.room" :key="index">
                                                        <td style="max-width: 200px;" v-html="item.room"></td>
                                                        <td>{{item.adultCount}}</td>
                                                        <td>{{item.childCount}}</td>
                                                        <td>{{item.paxName}}<span></span>
                                                            <a>
                                                                <i @click="getPaxList(item.arrayIndex)"
                                                                    class="fa fa-plus-square" data-toggle="modal"
                                                                    data-target="#paxBreakup"
                                                                    style="color :#ff5929 !important;margin-left:10px;cursor:pointer"
                                                                    aria-hidden="true"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div v-if="roomDetails.showCotsNotes" class="hotel_guest_room">
                                            {{$t('Hotel_Confirmation.CotsNotes_Label')}}</div>
                                        <div class="table_links">
                                            <a href="#" @click.prevent="getCancellationPolicyModal" data-toggle="modal"
                                                data-open="0"
                                                data-target="#cancellationPolicy">{{$t('Hotel_Confirmation.CancellationPolicy_Label')}}</a>
                                            <a href="#" @click.prevent="getFareBreakUpPerRoom" data-toggle="modal"
                                                data-target="#fareBreakup">{{$t('Hotel_Confirmation.PriceBreakup_Label')}}</a>
                                        </div>
                                        <!------Cancel Popup------->
                                        <div class="modal fade" id="cancellationPolicy" role="dialog"
                                            style="background: rgba(0, 0, 0, 0.57)">
                                            <div class="modal-dialog">
                                                <!-- Cancellation popup-->
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close"
                                                            data-dismiss="modal">×</button>
                                                        <h4 class="modal-title">
                                                            {{$t('Hotel_Confirmation.CancellationPolicy_Label')}}</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div id="divcancellationpolicy" class="cancel_sec"
                                                            v-for="(item, index) in roomDetails.cancellationDetails"
                                                            :key="index">
                                                            <button class="accordion" v-html="item.roomName"></button>
                                                            <div class="panel">
                                                                <div class="accodion_cont">
                                                                    <div v-for="(cancellation, index) in item.cancellation"
                                                                        :key="index" v-html="cancellation"></div>
                                                                </div>
                                                                <div style="font-size:12px;font-style:italic;">
                                                                    *{{$t('Hotel_Confirmation.CancellationNotes_Label')}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!------Cancellation popup close------->
                                        <!------Fare breakup Popup------->
                                        <div class="modal fade" id="priceBreakup" role="dialog">
                                            <div class="modal-dialog">
                                                <!-- Modal content-->
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close"
                                                            data-dismiss="modal">×</button>
                                                        <h4 class="modal-title">
                                                            {{$t('Hotel_Confirmation.PriceBreakup_Label')}}</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="fare_break01">
                                                            <table width="100%" cellspacing="0" cellpadding="5"
                                                                border="0" style="border-collapse: collapse;"
                                                                v-html="hotelPriceBreakUpHtml"></table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!------Fare breakup Popup close------->
                                        <!------Status Popup------->
                                        <div class="modal fade" id="statusHistory" role="dialog">
                                            <div class="modal-dialog">
                                                <!-- Modal content-->
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close"
                                                            data-dismiss="modal">×</button>
                                                        <h4 class="modal-title">
                                                            {{$t('Hotel_Confirmation.BookingHistory_Label')}}</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="fare_break01">
                                                            <ul class="list-group"
                                                                style="float: none; padding-left: 0px;"
                                                                v-html="statusHistoryHtml"></ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!------Status Popup close------->
                                        <!------PAX breakup Popup------->
                                        <div class="modal fade" id="paxBreakup" role="dialog">
                                            <div class="modal-dialog">
                                                <!-- Modal content-->
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close"
                                                            data-dismiss="modal">×</button>
                                                        <h4 class="modal-title">
                                                            {{$t('Hotel_Confirmation.Acquaintance_Label')}}</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="fare_break01">
                                                            <table width="100%" cellspacing="0" cellpadding="5"
                                                                border="0" style="border-collapse: collapse;"
                                                                v-html="paxListPerRoomHtml"></table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!------PAX breakup Popup close------->
                                        <!------Fare breakup Popup------->
                                        <div class="modal fade" id="fareBreakup" role="dialog">
                                            <div class="modal-dialog">
                                                <!-- Modal content-->
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close"
                                                            data-dismiss="modal">×</button>
                                                        <h4 class="modal-title">
                                                            {{$t('Hotel_Confirmation.PriceBreakup_Label')}}</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="fare_break01">
                                                            <table class="table table-hover"
                                                                style="border-collapse: collapse; width: 100%; border: 0px; margin-bottom: 7px;"
                                                                v-html="roomPriceBreakUpHtml.table"> </table>
                                                            <div class="info_txt"
                                                                style="padding: 4px 0px 4px 0px; text-align: center; width: 100%;"
                                                                v-html="roomPriceBreakUpHtml.totalCost"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!------Fare breakup Popup close------->
                                        <!------EMail ticket------->
                                        <div class="modal fade" id="modalEmailVoucher" role="dialog">
                                            <div class="modal-dialog">
                                                <!-- Modal content-->
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close"
                                                            data-dismiss="modal">×</button>
                                                        <h4 class="modal-title">
                                                            {{$t('Hotel_Confirmation.EmailVoucherBtn_Label')}}</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="cancel_sec">
                                                            <label>{{$t('Hotel_Confirmation.EmailTo_Label')}}</label>
                                                            <input v-model="emailToVoucher" value="" type="text"
                                                                class="subject_area">
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default"
                                                            data-dismiss="modal"
                                                            @click="emailVoucher('emailVoucherBtn')">{{$t('Hotel_Confirmation.SendBtn_Label')}}</button>
                                                        <button type="button" class="btn btn-default"
                                                            data-dismiss="modal">{{$t('Hotel_Confirmation.CloseBtn_Label')}}</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!------EMail ticket------->
                                        <!------Edit voucher------->
                                        <div class="modal fade" id="modalEditVoucher" role="dialog">
                                            <div class="modal-dialog">
                                                <!-- Modal content-->
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close"
                                                            data-dismiss="modal">×</button>
                                                        <h4 class="modal-title">
                                                            {{$t('Hotel_Confirmation.EditVoucherBtn_Label')}}</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="cancel_sec">
                                                            <label>{{$t('Hotel_Confirmation.EmailTo_Label')}}</label>
                                                            <input id="txtEmailTo2" type="text" class="subject_area">
                                                            <!-- <ckeditor :editor="editor" @ready="onReady" v-model="editorData" :config="editorConfig"></ckeditor> -->
                                                            <div id="voucherHtmlEdit"></div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default"
                                                            data-dismiss="modal">{{$t('Hotel_Confirmation.CloseBtn_Label')}}</button>
                                                        <button type="button" class="btn btn-default"
                                                            data-dismiss="modal"
                                                            @click="sendEditedVoucher('editVoucherBtn')">{{$t('Hotel_Confirmation.SendBtn_Label')}}</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!------Edit voucher------->
                                        <!------Essential_info  Popup------->
                                        <div v-if="false" class="modal fade" id="Essential_info" role="dialog">
                                            <div class="modal-dialog">
                                                <!-- Modal content-->
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close"
                                                            data-dismiss="modal">×</button>
                                                        <h4 class="modal-title">Essential Information</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="fare_break01">
                                                            <table id="tableEssentialinfo" width="100%" cellspacing="0"
                                                                cellpadding="5" border="0"
                                                                style="border-collapse: collapse;"></table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!------Essential_info Popup close------->
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-12 col-md-12" v-if="additionalSupplierInformation.length>0">
                            <div class="trip_sec">
                                <h3>Additional Hotel Information</h3>
                                <div class="box-content">
                                    <div class="booking_info">
                                        <div class="col-xs-12">
                                            <div class="row" v-for="(info, index) in additionalSupplierInformation"
                                                :key="index">
                                                <div class="col-sm-3 info_txt01 table_links">
                                                    <h4>{{info.name.replace(/_/g, ' ')}}</h4>
                                                </div>
                                                <div class="col-sm-9 info_txt02 table_links"
                                                    v-for="(data, index) in info.data" :key="index" v-html="data"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12" v-if="false">
                            <div class="trip_sec">
                                <h3>Remarks / Internal Comments</h3>
                                <div class="box-content">
                                    <div class="booking_info">
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <div class="col-sm-3 info_txt01">Emergency No:</div>
                                                <div class="col-sm-9 info_txt02">971-4-4576211(International),
                                                    971-4-4576211(Local),09:00 - 1800 (Office Hours), 971-4-457-6211
                                                    (Out Of Office)</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12" v-if="false">
                            <div class="trip_sec">
                                <h3>Other Details</h3>
                                <div class="box-content">
                                    <div class="booking_info">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-xs-6 info_txt">Agency Name:</div>
                                                <div class="col-xs-6 info_txt">Head Office (Direct Client)</div>
                                                <div class="col-xs-6 info_txt">Address:</div>
                                                <div class="col-xs-6 info_txt">Karnak Building, Ghala Heights, Po Box-
                                                    167 PC 112 Ruwi, Egypt</div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-xs-6 info_txt">Agency Ref No:</div>
                                                <div class="col-xs-6 info_txt">N/A</div>
                                                <div class="col-xs-6 info_txt">Agency Contact:</div>
                                                <div class="col-xs-6 info_txt">N/A</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </hotel-confirmation-component>
        </div>
        <!---------Main Footer area------------>
        <footer>
            <master-footer></master-footer>
        </footer>
    </section>

    </script>
    <!--js start-->
    <script src="/assets/js/modernizr.custom.js?v=201905200000"></script>
    <script src="/assets/js/jquery-3.3.1.min.js?v=201905200000"></script>
    <script src="/assets/js/jquery-news.min.js?v=201910290000"></script>
    <script src="/assets/js/jquery-migrate.min.js?v=201912240000"></script>
    <script src="/assets/plugins/calendar/jquery-ui.js?v=201905220000"></script>
    <script src="/assets/js/bootstrap.min.js?v=201912240000"></script>
    <script src="/assets/plugins/moment/moment.min.js?v=201907220000"></script>
    <script src="/assets/js/axios.min.js?v=201912240000"></script>
    <script src="/assets/js/vue.min.js?v=202002060000"></script>
    <script src="/assets/js/elasticsearch.min.js?v=201908130000"></script>
    <script src="/assets/js/vue-i18n.js?v=202108090000"></script>
    <script src="/assets/js/lodash.min.js?v=201912240000"></script>
    <script>var __ = _.noConflict();</script>
    <script src="/assets/js/underscore-min.js?v=201912240000"></script>

    <script src="/assets/plugins/alertifyJs/alertify.min.js?v=201905200000"></script>
    <script type="text/javascript" src="/assets/js/summernote.min.js?v=201912240000"></script>

    <script src="/assets/plugins/ckeditor/ckeditor5-vue/ckeditor5-vue.js"></script>
    <script src="/assets/js/jspdf.min.js?v=201912240000"></script>
    <script src="/assets/js/html2canvas.min.js?v=201909010000"></script>
    <script src="/Flights/FlightComponents/js/svgs.js?v=201907240000"></script>

    <script src="/assets/plugins/primevue/js/dialog.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/button.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/toolbar.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/inputtext.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/accordion.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/accordiontab.umd.min.js?v=202005050000"></script>
    <script src="/assets/plugins/primevue/js/checkbox.umd.min.js?v=202005050000"></script>
    <script src="/assets/js/summernote.min.js?v=201912240000"></script>
    <script src="/Flights/assets/js/cabinclass.js"></script>
    <script src="/Flights/assets/js/Airplanes.js"></script>
    <script src="/Flights/assets/js/Airlines.js"></script>
    <script src="/Flights/assets/js/UTCTime.js"></script>
    <script src="/Flights/FlightComponents/js/AirCommonServices.js?v=201907250000"></script>

    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202108070000"></script>
    <script src="/Resources/Config/config.js?v=202107280000"></script>
    <script src="/Login/LoginComponents/js/login.js?v=202007160000"></script>
    <script src="/CommonFuntions/ExtentionMethods.js?v=201905200000"></script>
    <script src="/CommonFuntions/CommonFunctions.js?v=202108090000"></script>
    <script src="/Hotels/HotelComponents/assets/js/hotelconfirmation.js?v=202108100000"></script>
    <script src="/CommonFuntions/MainComponents.js?v=202012180000"></script>
    <script src="/assets/js/highlight.pack.js?v=201910290000"></script>
    <!--js end-->



</body>

</html>