@media screen and (max-width: 500px) {

}
@media screen and (max-width: 767px) {
    .navbar-brand img {
        width: 96px !important;
    }
    .navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
        top: 1px !important;
    }
    .navbar{
        min-height: 89px !important;
    }
    .navbar-default{
        margin: 0px 0 0;
    }
    .login_div h2 {
        width: 230px;
        font-size: 22px;
    }
	.navbar-toggle {
    background-color: #012e81;
    border: none;
	border-radius: 5px;
	margin: 23px 0 10px;
	padding: 15px 12px;
}
.navbar-default .navbar-nav > li::after {
	display: none;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #92dcff;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
	margin-top:10px;
	float: none;
	margin-left: 0;
	background-color: #92dcff;
}
.navbar-nav {
    margin: 0;
    padding: 0;
}
.nav > li {
    padding: 10px 15px;
    color: #fff;
}
.navbar-default .navbar-nav > li > a {
    color: #181818;
}
.nav > li {
    padding: 15px 0;
	border-bottom:1px solid #56aad2;
}
.nav > li:last-child {
	border-bottom:none;
}
.nav > li > a {
    padding: 0;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #012e81;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #012e81;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    top: -6px;
    width: 132px;
}
.register {
    font-size: 16px;
	padding: 13px 20px;
}
.login_div {
	margin: 0 auto;
	top: 80px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px ;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	border-radius: 50px;
    left: 0;
	width:96%;
}
.login-form {
    margin: -20px 0 0;
    padding: 0 30px 40px;
}
footer {
    margin: 100px 0 0;
}
.newsletter i {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
}
.newsletter h2 {
    font-size: 22px;
    padding: 0 0 0 9px;
}
.newsletter button {
	font-size: 20px;
	padding: 11px 30px 11px;
}
.newsletter {
    padding: 15px 15px;
    text-align: center;
}
footer .link ul li a {
    font-size: 15px;
}
footer .link ul li {
    padding: 0 25px;
    font-size: 15px;
}
footer .get-in-touch div {
    float: none;
    padding: 25px 15px;
    text-align: center;
}
footer .bdr-rght {
    border-right: none;
	border-bottom: 1px solid #fff;
}
footer .powered-by {
    float: none;
	text-align: center;
}
footer .copyright {
    text-align: center;
}
footer .get-in-touch div i {
    float: none;
}
/* About Us Page CSS BOF
=================================================== */
section {
    padding: 50px 0;
}
.inner_banner .banner_text h1 {
    font-size: 44px;
}
.title h2 {
    font-size: 30px;
}
.flex {
    display: -webkit-block;
    display: block;
}
.draw2 {
    margin: 15px 0;
}
.newsletter .input {
	font-size: 13px;
}

/* Contact Us Page CSS BOF
=================================================== */
.contact_form {
    padding: 15px 20px 35px;
}
#contact_sec .get-in-touch {
    float: none;
    padding: 25px 15px;
    text-align: center;
}
#contact_sec .bdr-rght {
    border-right: none;
	border-bottom: 1px solid #d9d9d9;
}
#contact_sec .get-in-touch div {
    float: none;
	line-height: normal;
}
}
@media (min-width: 768px) and (max-width: 990px) {
.register {
    font-size: 16px;
	padding: 13px 20px;
}
.navbar-nav {
    padding: 28px 0 0;
}
.main_banner h1 {
    width: 100%;
	font-size: 100px;
	margin-top: 50px;
    line-height: 70px;
}
.main_banner h1 span {
    font-size: 40px;
}
.login_div {
	margin: 0 auto;
	top: 70px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px ;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	border-radius: 50px;
    left: 0;
}
footer .get-in-touch div {
    padding: 25px 12px;
}
footer .get-in-touch div i {
    font-size: 18px;
}
footer .get-in-touch div {
	font-size: 15px;
}
footer .get-in-touch div a {
    font-size: 15px;
}
.newsletter h2 {
    font-size: 22px;
}
.newsletter button {
	font-size: 20px;
	padding: 11px 30px 11px;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    top: -48px;
    width: 132px;
}
.contact-info {
    padding: 11px 0 15px 137px;
}
.contact-info div {
    margin-left: 10px;
}
.main_banner {
    margin: 16px 0 0;
}
/* About Us Page CSS BOF
=================================================== */
.inner_banner {
    margin: 16px 0 0;
}
/* Contact Us Page CSS BOF
=================================================== */
#contact_sec .get-in-touch div {
    font-size: 15px;
	padding: 25px 8px;
}
#contact_sec .get-in-touch div i {
    font-size: 15px;
	margin-right: 5px;
	width: 25px;
	height: 25px;
	line-height: 25px;
}
#contact_sec .get-in-touch div a {
    font-size: 15px;
}
}
@media (min-width: 991px) and (max-width: 1024px) {
.register {
    font-size: 20px;
}
.main_banner h1 {
    width: 100%;
	font-size: 100px;
	margin-top: 50px;
    line-height: 70px;
}
.main_banner h1 span {
    font-size: 40px;
}
.login_div {
	margin: 0 auto;
	top: 70px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px ;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	border-radius: 50px;
    left: 0;
}
.newsletter h2 {
    font-size: 30px;
}
footer .get-in-touch div {
    padding: 25px 26px;
}
/* Contact Us Page CSS BOF
=================================================== */
#contact_sec .get-in-touch div {
	padding: 25px 11px;
}
}
@media (min-width: 1025px) and (max-width: 1400px) {
.register {
    font-size: 20px;
}

.main_banner .col-lg-8 {
    width: 50%;
}
.main_banner .col-lg-4 {
    width: 50%;
}
.main_banner h1 {
	font-size: 100px;
    line-height: 90px;
}
.main_banner h1 span {
    font-size: 40px;
}
}
