@font-face {
	font-family: 'Brush Script MT';
	src: url('../fonts/BrushScriptMT.eot');
	src: url('../fonts/BrushScriptMT.eot?#iefix') format('embedded-opentype'),  url('../fonts/BrushScriptMT.woff2') format('woff2'),  url('../fonts/BrushScriptMT.woff') format('woff'),  url('../fonts/BrushScriptMT.ttf') format('truetype'),  url('../fonts/BrushScriptMT.svg#BrushScriptMT') format('svg');
	font-weight: normal;
	font-style: italic;
}
/* 01 : Website Global CSS BOF
========================================================== */
body {
	background: #ffffff;
	font-family: 'Roboto', sans-serif;
}
* {
	margin: 0px;
	padding: 0px;
}
:focus{
	outline: none;
}
a {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
	line-height: normal;
	outline: none;
} /*Same class available in Boostrap (.img-responsive)*/
iframe {
	border: medium none;
	outline: none;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #393939;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #393939;
}
:-ms-input-placeholder { /* IE 10+ */
 color: #393939;
}
:-moz-placeholder { /* Firefox 18- */
  color: #393939;
}
/* 02 : Heading Style CSS BOF
=================================================== */
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	line-height: 0;
	font-weight: normal;
}
/* 03 : Paragraph Style CSS BOF
=================================================== */
p {
	padding: 0px;
	margin: 0;
	font-size: 15px;
	color: #555555;
	font-weight: 400;
	line-height: 26px;
}
section {
	padding: 80px 0;
}
/*====================================
=            Helper Class            =
====================================*/
.m-t-10 {
	margin-top: 10px;
}
.m-t-20 {
	margin-top: 20px;
}
.m-t-15 {
	margin-top: 15px;
}
.m-t-25 {
	margin-top: 25px;
}
.m-t-30 {
	margin-top: 30px;
}
.m-t-50 {
	margin-top: 50px;
}
.m-t-60 {
	margin-top: 60px;
}
.m-t-70 {
	margin-top: 70px;
}
.m-t-120 {
	margin-top: 0px !important;
}
.m-b-10 {
	margin-bottom: 10px;
}
.m-b-15 {
	margin-bottom: 15px;
}
.m-b-20 {
	margin-bottom: 20px;
}
.m-b-25 {
	margin-bottom: 25px;
}
.m-b-30 {
	margin-bottom: 30px;
}
.p-0 {
	padding: 0;
}
.p-t-0 {
	padding-top: 0;
}
.p-t-10 {
	padding-top: 10px;
}
.p-t-15 {
	padding-top: 15px;
}
.p-t-20 {
	padding-top: 20px;
}
.p-t-25 {
	padding-top: 25px;
}
.p-t-30 {
	padding-top: 30px;
}
.p-b-0 {
	padding-bottom: 0;
}
.p-b-10 {
	padding-bottom: 10px;
}
.p-b-15 {
	padding-bottom: 15px;
}
.p-b-20 {
	padding-bottom: 20px;
}
.p-b-25 {
	padding-bottom: 25px;
}
.p-b-30 {
	padding-bottom: 30px;
}
/* Top CSS BOF
=================================================== */
header {
	background: #042c83;
}
.top {
	width: 100%;
	height: auto;
}
.contact-info {
	padding: 19px 0 15px 216px;
	float: left;
}
.contact-info div {
	margin-left: 40px;
	float: left;
	color: #147eb4;
}
.contact-info div i {
	color: #fff;
	font-size: 20px;
	margin-right: 8px;
}
.contact-info div a {
	color: #fff;
	font-size: 16px;
	font-weight: 400;
}
.contact-info div a:hover {
	color: #92dcff;
	text-decoration: none;
}
.register {
	width: auto;
	font-size: 26px;
	font-weight: 500;
	color: #000;
	background: #92dcff;
	padding: 15px 32px;
	text-align: center;
	-webkit-border-radius: 0 0 15px 15px;
	-moz-border-radius: 0 0 15px 15px;
	-ms-border-radius: 0 0 15px 15px;
	border-radius: 0 0 15px 15px;
	float: right;
	text-transform: uppercase;
	position: relative;
	z-index: 2;
	-webkit-box-shadow: 0 0px 4px 3px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 0px 4px 3px rgba(0,0,0,0.4);
	-ms-box-shadow: 0 0px 4px 3px rgba(0,0,0,0.4);
	box-shadow: 0 0px 4px 3px rgba(0,0,0,0.4);
}
.register:hover {
	color: #fff;
	background: #042c83;
	text-decoration: none;
}
/* Navigation CSS BOF
=================================================== */
.navbar {
	border-radius: 0px;
	position: relative;
	top: 0;
	margin-bottom: 0px;
	border: 0px;
}
.nav-bg {
	display: block;
	position: absolute;
	z-index: 1000;
	width: 100%;
}
.navbar-default {
	background: #fff;
	transition: all 0.1s;
	-moz-transition: all 0.1s;
	-webkit-transition: all 0.1s;
	-ms-transition: all 0.1s;
	-o-transition: all 0.1s;
	border: 0px;
	margin:1px 0 0;
}
.navbar-nav {
	margin: 0;
	padding: 33px 0;
}
.navbar-brand img {
	width: 100% !important;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	float: left;
	margin-left: 175px;
}
.nav > li {
	position: relative;
	display: block;
	padding: 0 40px;
}
.nav > li > a {
	display: block;
	margin: 0;
	padding: 0;
	position: relative;
}
.navbar-default .navbar-nav > li::after {
	position: absolute;
	top: 0;
	transition: all 0.3s;
	content: "";
	background: #181818;
	right: 0;
	height: 17px;
	width: 2px;
}
.navbar-default .navbar-nav > li:last-child::after {
	display: none;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	height: auto;
	padding: 0;
	position: absolute;
	z-index: 1000;
	top: -67px;
	margin: 0 !important;
	left: 15px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
	color: #012e81;
	background-color: transparent;
}
.navbar-default .navbar-nav > li > a {
	color: #181818;
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	-webkit-transition: all .35s;
	transition: all .35s;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #012e81;
	background-color: transparent;
}
/*=====  Banner CSS BOF  ======*/
.main_banner {
	min-height: 754px;
	background-size: cover !important;
	background-position: top center !important;
	margin: 0 0 0;
	position: relative;
}
.main_banner h1 {
	color: #fff;
	font-size: 85px;
	margin-top: 20px;
	text-shadow: 0 6px 4px  rgba(0,0,0,0.6);
	font-family: 'Brush Script MT';
	font-weight: normal;
	font-style: italic;
	line-height: 65px;
	text-align: center;
	width: 100%;
	margin-bottom: 72px;
}
.main_banner h1 span {
	font-family: 'Roboto', sans-serif;
	color: #fff;
	font-size: 30px;
	text-align: center;
	font-style: normal;
}
/*=====  Login CSS BOF  ======*/
.login_div {
	background: rgba(255,255,255,0.7);
	display: block;
	margin-top: 0;
	width: 634px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
	-webkit-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.29);
	-moz-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.29);
	-ms-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.29);
	box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.29);
	margin: auto;
}
.login_div h2 {
	font-size: 32px;
	color: #042c83;
	width: 330px;
	padding: 34px 0;
	text-align: center;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0 auto;
	background: #fff;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
	-webkit-box-shadow: 0 5px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 5px 5px 0px rgba(0,0,0,0.5);
	-ms-box-shadow: 0 5px 5px 0px rgba(0,0,0,0.5);
	box-shadow: 0 5px 5px 0px rgba(0,0,0,0.5);
	position: relative;
	top: -34px;
}
.login-form, .forgot_form {
	margin: -20px 0 0;
	padding: 0 62px 40px;
	margin-bottom: 69px;
}
.login-form .sec, .forgot_form .sec {
	padding-top: 7px;
}
.login-form label, .forgot_form label{
	font-size: 22px;
	font-weight: 500;
	color: #012e81;
	margin: 0 0 8px 15px;
}
.login-form .form-control, .forgot_form .form-control{
	background-color: #fff;
	border: none;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	-ms-border-radius: 9px;
	-o-border-radius: 9px;
	border-radius: 9px;
	-webkit-box-shadow: 0 0px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0px 5px 0px rgba(0,0,0,0.5);
	-ms-box-shadow: 0 0px 5px 0px rgba(0,0,0,0.5);
	box-shadow: 0 0px 5px 0px rgba(0,0,0,0.5);
	color: #1f1f1f;
	display: block;
	font-size: 18px;
	height: 60px;
	padding: 6px 35px;
	width: 100%;
	margin-top: 0;
	font-weight: 400;
}
.login-form .login_btn,  .forgot_form .login_btn{
	background: #012e81;
	font-size: 32px;
	color: #fff;
	padding: 7px 0;
	text-align: center;
	width: 100%;
	border: none;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	display: block;
	font-weight: 700;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
	-webkit-box-shadow: 0 2px 5px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 2px 5px 0px rgba(0,0,0,0.4);
	-ms-box-shadow: 0 2px 5px 0px rgba(0,0,0,0.4);
	box-shadow: 0 2px 5px 0px rgba(0,0,0,0.4);
}
.login-form .login_btn:hover, .forgot_form .login_btn:hover {
	background: #92dcff;
	color: #000;
	text-decoration: none;
}
.login-form .forgot, .forgot_form .forgot{
	font-size: 22px;
	color: #012e81;
	margin: 20px auto 0;
	text-align: center;
	width: auto;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	font-weight: 500;
	display: inline-block;
}
.login-form .forgot:hover, .forgot_form .forgot:hover  {
	color: #000;
	text-decoration: underline;
}
/* Footer CSS BOF
=================================================== */

footer {
	background: url(../images/footer-bg.jpg) no-repeat top center;
	display: block;
	width: 100%;
	position: relative;
	background-size: cover;
	margin: 0px 0 0;
}
footer .inner {
	display: block;
	width: 100%;
}
/* Newsletter CSS BOF
=================================================== */
.newsletter {
	background: #fff;
	display: inline-block;
	width: 100%;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
	-webkit-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.29);
	-moz-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.29);
	-ms-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.29);
	box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.29);
	padding: 10px 0;
	margin-top: -45px;
}
.newsletter i {
	width: 73px;
	height: 73px;
	line-height: 73px;
	font-size: 34px;
	color: #fff;
	background: #012e81;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
	text-align: center;
}
.newsletter h2 {
	font-size: 34px;
	color: #012e81;
	padding: 0 0 0 15px;
	text-align: center;
	font-weight: 500;
	display: inline-block;
}
.newsletter .w3-container {
	margin: 13px 0 0;
	display: inline-block;
	width: 100%;
}
.newsletter .input {
	position: relative;
	background-color: #fff;
	border: none;
	width: 100%;
	padding: 15px 155px 15px 24px;
	color: #393939;
	font-size: 16px;
	font-weight: 400;
	float: left;
	border: 2px solid#012e81;
	height: 50px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
}
.newsletter button {
	background: #012e81;
	font-size: 26px;
	color: #fff;
	padding: 6px 30px 7px;
	text-align: center;
	border: none;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	display: block;
	font-weight: 500;
	position: absolute;
	right: 15px;
	top: 13px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
}
.newsletter button:hover {
	background: #92dcff;
	color: #012e81;
	text-decoration: none;
}
/* Footer Social CSS BOF
=================================================== */
footer .social {
	display: inline-block;
	list-style: outside none none;
	margin: 30px 0;
	width: auto;
}
footer .social li {
	text-align: center;
	padding: 0 15px 0 0;
	float: left;
}
footer .social li a {
	color: #012e81;
	display: block;
	height: 48px;
	line-height: 48px;
	text-decoration: none;
	transition: all 0.8s ease-in-out 0s;
	width: 48px;
	background: #fff;
	font-size: 26px;
	border-radius: 5px;
	border: 1px solid#fff;
}
footer .social li a:hover {
	background: transparent;
	color: #fff;
	border: 1px solid#fff;
}
footer .link {
	width: 100%;
	display: inline-block;
	text-align: center;
	padding: 40px 0;
	border-bottom: 1px solid #fff;
}
footer .link ul {
	width: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
}
footer .link ul li {
	display: inline-block;
	padding: 0 40px;
	color: #FFF;
	font-size: 22px;
	font-weight: 400;
	position: relative;
}
footer .link ul li::after {
	position: absolute;
	top: 8px;
	transition: all 0.3s;
	content: "";
	background: #fff;
	right: 0;
	height: 17px;
	width: 2px;
}
footer .link ul li:last-child::after {
	display: none;
}
footer .link ul li a {
	color: #fff;
	font-size: 20px;
}
footer .link ul li a:hover {
	color: #92dcff;
	text-decoration: none;
}
footer .get-in-touch {
	width: 100%;
	padding: 15px 0;
	border-bottom: 1px solid #fff;
	display: inline-block;
}
footer .get-in-touch div {
	float: left;
	color: #fff;
	font-size: 18px;
	padding: 25px 60px;
}
footer .bdr-rght {
	border-right: 1px solid #fff;
}
footer .get-in-touch div i {
	color: #fff;
	font-size: 26px;
	margin-right: 13px;
	float: left;
}
footer .get-in-touch div a {
	color: #fff;
	font-size: 18px;
	font-weight: 400;
}
footer .get-in-touch div a:hover {
	color: #92dcff;
	text-decoration: none;
}
footer .ftr-btm {
	background: transparent;
	padding: 10px 0;
	border-top: 1px solid #fff;
}
footer .copyright {
	color: #fff;
	font-size: 16px;
	font-weight: normal;
	padding: 10px 0;
	font-weight: 400;
}
footer .powered-by {
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	float: right;
	margin-top: 8px;
}
.forgot_form{
	display: none;
}
.btnarea{
	width: 226px;
	margin: 20px auto 0;
	position: relative;
}
.btn_load{
	position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 100px;
    background: rgba(1, 46, 129, 0.75);
    color: #FFF;
    font-size: 19px;
    line-height: 60px;
}
/*reset password*/
.reset_mid {
    width: 400px;
    margin: auto;
    padding: 50px 0px;
}

.main_reset_sec {
    width: 100%;
    float: left;
    padding: 20px;
}

    .main_reset_sec h2 {
        text-align: center;
        margin-bottom: 18px;
    }

.txt_sec {
    width: 100%;
    height: 36px;
    float: left;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    padding: 0px 10px;
    border: 1px solid #cecece;
}

.txt_sec {
    width: 100%;
    height: 36px;
    float: left;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    padding: 0px 10px;
    border: 1px solid #cecece;
}

.reset_btn {
    width: 100%;
    height: 36px;
    border: none;
    background: #012e81;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 15px !important;
    color: #FFF;
    cursor: pointer;
	transition: all linear 0.15s;
	padding: 0px !important;
}

    .reset_btn:hover {
        background: #92dcff;
    }

.loadrst {
    width: 100%;
    float: left;
    position: relative;
    display: none;
}

.load_reset {
    width: 100%;
    height: 36px;
    border: none;
    background: rgba(0, 0, 0, 0.71);
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #FFF;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 9;
    text-align: center;
    line-height: 37px;
}
/* About Us Page CSS BOF
=================================================== */
#about_section, #mission_vision, #contact_sec {
	width: 100%;
	display: block;
}
#about_section p {
	text-align: center;
	padding: 30px 0 0;
}
.title h2 {
	font-size: 40px;
	font-weight: 700;
	color: #000000;
	position: relative;
	text-align: center;
	line-height: 24px;
	padding-bottom: 15px;
}
.title h2 span {
	padding: 0 0 3px;
	font-size: 25px;
	font-weight: 400;
	text-transform: none;
	color: #ed1c24;
	float: left;
	line-height: normal;
	width: 100%;
}
.title h2::before {
	content: "";
	background: url(../images/devider.png) no-repeat;
	width: 173px;
	height: 3px;
	position: absolute;
	left: 0px;
	bottom: -5px;
	right: 0;
	margin: 0 auto;
}
.inner_banner {
	min-height: 239px;
	position: relative;
	background-size: cover !important;
	background-position: center center !important;
}
.inner_banner::before {
	background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.inner_banner .banner_text {
	text-align: center;
	padding: 0;
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.inner_banner .banner_text h1 {
	font-size: 56px;
	font-weight: 400;
	line-height: normal;
	color: #fff;
	text-shadow: 0 6px 4px rgba(0,0,0,0.6);
}
.breadcrumbs1_wrapper {
	background: #92dcff;
	display: block;
	position: relative;
}
.breadcrumbs1 {
	padding: 14px 0;
	margin-top: 0px;
	line-height: 20px;
	color: #000;
	font-size: 15px;
	font-weight: 400;
	text-align: center;
}
.breadcrumbs1 a {
	color: #012e81;
	text-decoration: none;
}
.breadcrumbs1 a:hover {
	color: #000;
	text-decoration: none;
}
.breadcrumbs1 i {
	display: inline-block;
	margin: 0 15px;
	vertical-align: middle;
	color: #000;
}
#mission_vision {
	background: #dff2fb;
}
.flex {
	display: -webkit-flex;
	display: flex;
}
.draw2 {
	background: #fff;
	width: 100%;
	box-sizing: border-box;
	font-size: inherit;
	position: relative;
	vertical-align: middle;
	padding: 40px 25px;
	text-align: center;
	position: relative;
	min-height: 100%;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	border-radius: 50px;
	-webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.15);
	-ms-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.15);
	box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.15);
}
.icon-md2 i {
	text-align: center;
	margin: 0 auto 5px;
	display: inline-block;
	width: 73px;
	height: 73px;
	line-height: 73px;
	background: #012e81;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	border-radius: 50px;
	color: #fff;
	font-size: 34px;
}
.draw2 h3 {
	margin-top: 20px;
	color: #012e81;
	font-size: 25px;
	line-height: 22px;
	font-weight: 500;
}
.draw2 p {
	margin-top: 30px;
	color: #333;
}
/* Contact Us Page CSS BOF
=================================================== */
#contact_sec .get-in-touch {
	width: 100%;
	padding: 50px 0 15px;
	border-bottom: 1px solid #d9d9d9;
	display: inline-block;
}
#contact_sec .get-in-touch div {
	float: left;
	color: #333;
	font-size: 18px;
	padding: 25px 44px;
}
#contact_sec .bdr-rght {
	border-right: 1px solid #d9d9d9;
}
#contact_sec .get-in-touch div i {
	color: #fff;
	font-size: 26px;
	margin-right: 10px;
	background: #042c83;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	border-radius: 50px;
}
#contact_sec .get-in-touch div a {
	color: #333;
	font-size: 18px;
	font-weight: 400;
}
#contact_sec .get-in-touch div a:hover {
	color: #042c83;
	text-decoration: none;
}
.contact_form {
	padding: 15px 35px 35px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	border-radius: 50px;
	-webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.15);
	-ms-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.15);
	box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.15);
}
.contact_form .padding {
	padding-top: 25px;
}
.contact_form label {
	font-size: 18px;
	font-weight: 500;
	color: #012e81;
	margin: 0 0 8px 15px;
}
.contact_form .input-group {
	background-color: #fff;
	border: none;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
	-webkit-box-shadow: 0 0px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0px 5px 0px rgba(0,0,0,0.5);
	-ms-box-shadow: 0 0px 5px 0px rgba(0,0,0,0.5);
	box-shadow: 0 0px 5px 0px rgba(0,0,0,0.5);
	display: inline-block;
	width: 100%;
	margin-top: 0;
	font-weight: 400;
}
.contact_form .form-control {
	background-color: transparent;
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
	color: #1f1f1f;
	display: block;
	font-size: 16px;
	height: 60px;
	line-height: 1.42857;
	padding: 6px 35px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	width: 100%;
	z-index: 1;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}
.contact_form textarea.form-control {
	height: 110px;
	resize: none;
	padding: 20px 35px;
}
.send {
	background: #012e81;
	font-size: 32px;
	color: #fff;
	padding: 7px 0;
	text-align: center;
	width: 226px;
	border: none;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	margin: 20px auto 0;
	display: block;
	font-weight: 700;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
	-webkit-box-shadow: 0 2px 5px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 2px 5px 0px rgba(0,0,0,0.4);
	-ms-box-shadow: 0 2px 5px 0px rgba(0,0,0,0.4);
	box-shadow: 0 2px 5px 0px rgba(0,0,0,0.4);
}
.send:hover {
	background: #92dcff;
	color: #000;
	text-decoration: none;
}
.map-responsive {
	overflow: hidden;
	padding-bottom: 390px;
	position: relative;
	height: auto;
	margin-bottom: 0;
}
.map-responsive iframe {
	left: 0;
	top: 0;
	height: 470px;
	width: 100%;
	position: absolute;
}